<div class="right-section">
    <div class="available-switch">
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch" [(ngModel)]="isAvailable">
            <label class="custom-control-label" for="customSwitch" (click)="switchAvailable()">Available</label>
        </div>
    </div>
    <div class="card item-card practitioner-list cursor-pointer" *ngFor="let list of customerList;let i = index"
        (click)="goToChat(list, i)">
        <div class="card-body">
            <div class="avatar">
                <img [src]="list.profile_image && list.is_profile_pic_approved ? generalService.getCustomerImageBaseUrl(list.profile_image) : 'assets/images/profile_pic.png'" alt="" style="width: 40px !important;height: 40px !important;">
            </div>
            <div class="details">
                <h2 tooltip="{{list.nick_name}}">{{list.nick_name | limitTo:15}}</h2>
                <h3 tooltip="{{list.interest}}">in {{list.interest.join() | limitTo:18}}</h3>
            </div>
            <div class="col-md-2 col-lg-2 pt-30 pl-30 popover-section">
                <img (click)="openPractitionerPopup($event, list)" class="p-dot"
                    src="../../../../assets/images/more.svg" />
            </div>
        </div>
    </div>
</div>

<ng-template #practitionerPopTemplate>
    <div class="practitioner-popover">
        <div class="row p-20">
            <div class="col-md-2 col-lg-2">
                <ng-container *ngIf="!generalService.isCustomer()">
                    <img class="profile-pic" 
                    [src]="selectedList.profile_image && selectedList.is_profile_pic_approved ? generalService.getCustomerImageBaseUrl(selectedList.profile_image) : '../../../../assets/images/profile_pic.png'" />
                </ng-container>
                <ng-container *ngIf="generalService.isCustomer()">
                    <img class="profile-pic" 
                    [src]="selectedList.profile_image && selectedList.is_photo_verified ? generalService.getPractiotionerImageBaseUrl(selectedList.profile_image) : '../../../../assets/images/profile_pic.png'" />
                </ng-container>
            </div>
            <div class="col-md-8 col-lg-8">
                <ng-container *ngIf="generalService.isCustomer()">
                    <p class="title">{{selectedList?.name}}</p>
                    <p class="content">{{selectedList?.expertise?.join()}}</p>
                </ng-container>
                <ng-container *ngIf="!generalService.isCustomer()">
                    <p class="title">{{selectedList?.nick_name}}</p>
                    <p class="content">{{selectedList?.interest?.join()}}</p>
                </ng-container>
            </div>
            <!-- <div class="col-md-2 col-lg-2" *ngIf="!generalService.isCustomer()">
                <p class="content"><a class="notes" (click)="openNotes()">Notes</a></p>
            </div> -->
        </div>
        <hr>
        <div class="row p-20">
            <div class="col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-md-3">
                        <img (click)="bookSession()" *ngIf="generalService.isCustomer()"
                            style="width: 40px;height: 40px;cursor: pointer;"
                            src="../../../../assets/images/customer/session-book.png" />
                        <img (click)="openFollowUpForm()" *ngIf="!generalService.isCustomer()"
                            style="width: 40px;height: 40px;cursor: pointer;"
                            src="../../../../assets/images/practitioner/follow-up-form.png" />
                    </div>
                    <div class="col-md-9 col-lg-9">
                        <ng-container *ngIf="generalService.isCustomer()">
                            <a (click)="bookSession()"><span class="sub-title">Book</span><br>
                                <span class="sub-title"> a session</span></a>
                        </ng-container>
                        <ng-container *ngIf="!generalService.isCustomer()">
                            <a (click)="openFollowUpForm()">
                                <span class="sub-title" style="font-size: 13px !important;">Follow-Up</span><br>
                                <span class="sub-title"> Form</span>
                            </a>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-md-3">
                        <img (click)="!isChannelNameAvailable(selectedList?.channelname) && switchPractitioner()"
                            [class.disabled]="isChannelNameAvailable(selectedList?.channelname)"
                            *ngIf="generalService.isCustomer()" style="width: 40px;height: 40px;cursor: pointer;"
                            src="../../../../assets/images/customer/switch practitioner.png" />
                        <img (click)="blockCustomer()" *ngIf="!generalService.isCustomer()"
                            style="width: 40px;height: 40px;cursor: pointer;"
                            src="../../../../assets/images/practitioner/block-user.png" />
                    </div>
                    <div class="col-md-9 col-lg-9">
                        <ng-container *ngIf="generalService.isCustomer()">
                            <a (click)="!isChannelNameAvailable(selectedList?.channelname) && switchPractitioner()"
                                [class.disabled]="isChannelNameAvailable(selectedList?.channelname)">
                                <span class="sub-title">Switch</span><br>
                                <span class="sub-title">practitioner</span>
                            </a>
                        </ng-container>
                        <ng-container *ngIf="!generalService.isCustomer()">
                            <a *ngIf="!selectedList?.is_blocked" (click)="blockCustomer()">
                                <span class="sub-title">Block</span><br>
                                <span class="sub-title">Customer</span>
                            </a>
                            <a *ngIf="selectedList?.is_blocked" (click)="unBlockCustomer()">
                                <span class="sub-title">Unblock</span><br>
                                <span class="sub-title">Customer</span>
                            </a>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="p-20">
            <ng-container *ngIf="generalService.isCustomer()">
                <p class="sub-content">
                    <a class="pr-10 sub-content" [class.disabled]="isChannelNameAvailable(selectedList?.channelname)"
                        (click)="!isChannelNameAvailable(selectedList?.channelname) && archiveChat()">Archive Chat</a>|
                    <a class="pl-10 sub-content" [class.disabled]="isChannelNameAvailable(selectedList?.channelname)"
                        (click)="!isChannelNameAvailable(selectedList?.channelname) && deleteChat()">Delete Chat </a>
                </p>
                <p class="sub-content">
                    <a class="pr-10 sub-content" [class.disabled]="isChannelNameAvailable(selectedList?.channelname)"
                        (click)="!isChannelNameAvailable(selectedList?.channelname) && reportPtactitioner()">Report
                        Practitioner </a>|
                    <a class="pl-10 sub-content" [class.disabled]="isChannelNameAvailable(selectedList?.channelname)"
                        (click)="!isChannelNameAvailable(selectedList?.channelname) && reviewPractitioner()">Review
                        Practitioner</a>
                </p>
            </ng-container>
            <ng-container *ngIf="!generalService.isCustomer()">
                <p class="sub-content">
                    <a class="pr-10 sub-content" (click)="archiveChat()">Archive Chat</a>|
                    <a class="pl-10 sub-content" (click)="viewSessions()">View Sessions </a>
                </p>
                <p class="sub-content">
                    <a class="pr-10 sub-content" (click)="initActiveFollowupForms()">Active follow-up forms </a>
                </p>
            </ng-container>
        </div>
    </div>
</ng-template>
