<div class="add-interest-modal" *ngIf="currentStep === 'add'">
    <p class="title">Add interest</p>
    <div>
        <div class="file-upload-div">
            <input type="file" accept=".png, .jpg, .jpeg" class="file-upload" (change)="onFileSelected($event)" #file />
           <a (click)="file.click()"><img width="40px" [src]="selectedImage ? selectedImage : 'assets/images/practitioner/profile-photo-upload.png'" />
            <span style="padding-left: 10px;">Upload interest cover photo</span></a> 
        </div>
    </div>
    <div style="padding: 20px 30px;">
        <p class="content">Type  interest title here *</p>
        <input type="text" [(ngModel)]="title" (input)="onTitle($event.target.value)"  />
    </div>
    <div style="padding: 20px 30px;">
        <p class="content">Type  as much as three tags here - separated by commas *</p>
        <textarea [(ngModel)]="tags" (input)="onTags($event.target.value)"></textarea>
    </div>
    <div style="text-align: center;margin-top: 20px;">
        <button (click)="addInterest()" class="add-details-btn" [disabled]="!(tags && title)"
            [class.btnactive]="tags && title">Add interest →</button><br>
        <button (click)="closeModal()" class="btn cancel-btn">Cancel</button>
    </div>
</div>
<div class="add-interest-modal" *ngIf="currentStep === 'add_success'">
    <p class="title-success">You have succesfully added <br />
        this interest!</p>
    <div class="success-img-div">
        <div class="row">
            <div class="col-md-4">
                <img width="145px" height="108px" [src]="interestDetails?.cover_photo" [alt]="interestDetails.interest" />
            </div>
           <div style="text-align: right;" class="col-md-8">
            <p class="interest-tit" >{{interestDetails?.interest}}</p>
            <p class="interest-desc">{{interestDetails?.description}}</p>
           </div>
        </div>
    </div>
    <div style="text-align: center;margin-top: 50px;">
        <button (click)="backToPlatform()" class="btn back-to-btn">Back to Dashboard→</button><br>
        <button (click)="closeModal()" class="btn cancel-btn">Cancel</button>
    </div>
</div>
<div class="add-interest-modal" *ngIf="currentStep === 'edit_confirmation'">
    <p class="title-edit-confirm">Are you sure you want to <br />
        edit this interest?</p>
    <div class="success-img-div">
        <div class="row">
            <div class="col-md-4">
                <img width="145px" height="108px" [src]="interestDetails?.cover_photo" [alt]="interestDetails.interest" />
            </div>
           <div style="text-align: right;" class="col-md-8">
            <p class="interest-tit" >{{interestDetails?.interest}}</p>
            <p class="interest-desc">{{interestDetails?.description}}</p>
           </div>
        </div>
    </div>
    <div style="text-align: center;margin-top: 20px;">
        <button (click)="editInterest()" class="add-details-btn btnactive"
            >Edit →</button><br>
        <button (click)="closeModal()" class="btn cancel-btn">Cancel</button>
    </div>
</div>
<div class="add-interest-modal" *ngIf="currentStep === 'edit'">
    <p class="title">Add interest</p>
    <div>
        <div class="file-upload-div" style="padding: 0px !important;">
           <div class="row">
               <div class="col-md-4">
                <input type="file" accept=".png, .jpg, .jpeg" class="file-upload" (change)="onFileSelected($event)" #file />
                <a (click)="file.click()"><img style="width: 110.96px;
                    height: 76px; border-radius: 40px;" [src]="interestDetails.cover_photo" [alt]="interestDetails.interest" />
                </a> 
               </div>
               <div class="col-md-8">
                <p style="padding-top: 30px;">Change interest cover photo</p>
               </div>
           </div>
        </div>
    </div>
    <div style="padding: 20px 30px;">
        <p class="content">Edit interest Title</p>
        <input type="text" [(ngModel)]="title" (input)="onTitle($event.target.value)"  />
    </div>
    <div style="padding: 20px 30px;">
        <p class="content">Edit interest tags</p>
        <textarea [(ngModel)]="tags" (input)="onTags($event.target.value)"></textarea>
    </div>
    <div style="text-align: center;margin-top: 20px;">
        <button (click)="saveInterest()" class="btn add-details-btn" [disabled]="!(tags && title)"
            [class.btnactive]="tags && title">Save Interest →</button><br>
        <button (click)="closeModal()" class="btn cancel-btn">Cancel</button>
    </div>
</div>
<div class="add-interest-modal" *ngIf="currentStep === 'edit_success'">
    <p class="title-success">You have succesfully edited <br />
        this interest!</p>
    <div class="success-img-div">
        <div class="row">
            <div class="col-md-4">
                <img width="145px" height="108px" [src]="interestDetails?.cover_photo" [alt]="interestDetails.interest" />
            </div>
           <div style="text-align: right;" class="col-md-8">
            <p class="interest-tit" >{{interestDetails?.interest}}</p>
            <p class="interest-desc">{{interestDetails?.description}}</p>
           </div>
        </div>
    </div>
    <div style="text-align: center;margin-top: 50px;">
        <button (click)="backToPlatform()" class="btn back-to-btn">Back to Dashboard→</button><br>
        <button (click)="closeModal()" class="btn cancel-btn">Cancel</button>
    </div>
</div>