<div class=" container1" >
    <div class="d-flex justify-content-between practitioner-popover" style="position: absolute;">
        <div class="fev-box__pro">
            <span class="fev-box__pro--text"> PRO </span>
        </div>
        <div *ngIf="showRemove" class="fev-box__menu middle" [popover]="removeTemplate" [outsideClick]="true"
            placement="right">
            <i class="fas fa-ellipsis-h fev-box__menu__list"></i>
        </div>
    </div>

    <div class="fev-box__imgdiv">
        <img class="fev-box__img img-fluid image" [src]="image ? image : 'assets/images/Rectangle 83.png'"
            [alt]="firstname">
    </div>

</div>

<div class="my-2 d-flex align-items-center fg-color__blue cp" (click)="validateCustomer()">
    <i class="fa fa-star star-color mr-1 fg-color"></i>
    <span class="fev-box__rating">{{rating}}
        ({{ratecount}})</span>
</div>

<div class="cp" (click)="validateCustomer()">
    <p class="fev-box__user-name mb-0 ">{{firstname}}
        {{lastname}}</p>
    <p class="fev-box__info mb-2">{{expertise}}</p>
</div>

<button *ngIf="startingprice==0" class="btn fev-box__start-btn">Starting
    from: Free</button>
<button *ngIf="startingprice>0" class="btn fev-box__default-btn">Starting
    from: ${{startingprice}} </button>

<ng-template #removeTemplate class="test">
    <div class="action-popover">
        <span class="restore-archive" (click)="removeFromFavorite(fav_id)">Remove <i class="fas fa-times"></i></span>
    </div>
</ng-template>
