p{
    font-size: 16px;
    font-family: 'FFMarkWebProBook';
    color: #074D63;
}
li{
    font-size: 16px;
    font-family: 'FFMarkWebProBook';
    color: #074D63;  
}
h6{
    font-size: 22px;
    font-family: 'FFMarkWebProBook';
    color: #074D63;
    font-weight: bold;
}
h4{
    font-size: 18px;
    font-family: 'FFMarkWebProBook';
    color: #074D63;
    font-weight: bold;
}
.pt-50{
    padding-top: 50px;
}
.white{
    color: #ffffff !important;
}

.ml-100{
    margin-left: 100px !important;
}