<div  class="modal-body">
    <div>
        <button type="button" class="btn-close close pull-right">
            <span aria-hidden="true" class="visually-hidden" (click)="modalService.dismissAll()">&times;</span>
        </button>
    </div>
    <div  class="modal-padding">
        <div class="col-lg-12">
            <!-- <div class="col-lg-12 class-group text-center" *ngIf="!showConfirmButton">
                <i class="fas fa-check-circle color-theme  icon-font"></i>
            </div> -->
            <div class="col-lg-12 class-group">
                <h5 class="join-free__title">{{heading}}</h5>
            </div>
            <div class="col-lg-12 class-group">
                <p class="join-free__sm-des">{{message}}</p>
            </div>

            <div class="col-lg-12 d-flex-center justify-content-around class-group">
                <button class="btn-design yes-btn" (click)="yes()">{{yesButtontext}}
                     <div [hidden]="!yesButtonSelected" class="btn-icon fas fa-check-circle modal-check-icon"></div> 
                    </button>

                <button class="btn-design no-btn" (click)="no()">{{noButtontext}} 
                    <i [hidden]="!noButtonSelected"class="btn-icon fas fa-check-circle modal-check-icon"></i></button>
            </div>

            <div class="col-lg-12 d-flex-center class-group">
                <button class="heal-btn__default" (click)="confirm()">Confirm <i
                    class="ml-2 fa fa-arrow-right"></i></button>
                
                
            </div>
        </div>
    </div>
</div>