
<drag-scroll  class="carousel-height-video">
    <div drag-scroll-item style="margin-right: 14px;" *ngFor="let lesson of course_details.lessons;let i=index">
        <app-video-player id="{{lesson.id}}" [lesson_index]="i" [course_details]="course_details" [lesson]="lesson" [course_id]="course_id"></app-video-player>
    </div>
    <button (click)="moveLeft()" class="carousel-control-prev-icon carousel-control-prev carousel-control-prev2">
        <img class="img-fluid" src="../../../../assets/images/arrowleft.png">
    </button>
    <button (click)="moveRight()"  class="carousel-control-next-icon carousel-control-next carousel-control-next2">
        <img class="img-fluid" src="../../../../assets/images/arrowright.png">
    </button>
</drag-scroll>
<!-- <button (click)="moveLeft()">Left</button>
<button (click)="moveRight()">Right</button> -->

<!-- <button (click)="moveLeft()" class="carousel-control-prev-icon carousel-control-prev carousel-control-prev2">
    <img class="img-fluid" src="../../../../assets/images/arrowleft.png">
</button>
<button (click)="moveRight()"  class="carousel-control-next-icon carousel-control-next carousel-control-next2">
    <img class="img-fluid" src="../../../../assets/images/arrowright.png">
</button> -->
