<!-- <div class="row mx-0">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 articles px-2 mb-5" *ngFor="let article of data"> -->

<!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 articles px-2 mb-5"> -->
    <div class=" container1" >
        <div class="d-flex justify-content-between articles-popover" style="position: absolute;width: 100%;">
            <p class="live-class__top">&nbsp;</p>
            <div class="fev-box__menu middle menu-position" *ngIf="showRemove" [popover]="removeTemplate"
                [outsideClick]="true" placement="left">
                <i class="fa fa-ellipsis-h fev-box__menu__list"></i>
            </div>
        </div>

        <div class="articles__imgdiv">
            <img class=" img-fluid"
                [src]="image ? generalService.getPractiotionerImageBaseUrl(image)  : 'assets/images/unsplash_mlVbMbxfWI4.png'">
        </div>
    </div>
  
    <div class="col-12 p-0  cp" (click)="validateCustomer()">
        <p class="articles__title">{{firstname}}
            {{lastname}} | {{category}}
        </p>
        <p class="articles__details pb-2" tooltip="{{title}}">
            {{title | limitTo:40}}
        </p>
        <p class="articles__description block-ellipsis" tooltip="{{description}}">
            {{description | limitTo:60}}
            
        </p>
     
    </div>


    <ng-template #removeTemplate>
        <div class="action-popover">
            <span class="restore-archive" (click)="removeFromFavorite(id)">Remove <i class="fas fa-times"></i></span>
        </div>
    </ng-template>
<!-- </div> -->

<!-- </div>
</div> -->

<!-- <div class="row mx-0">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 articles px-2 mb-5"
        *ngFor="let article of data">
        <div class="articles__imgdiv"><img class=" img-fluid"
                src="{{article?.article__image ? generalService.getPractiotionerImageBaseUrl(article.article__image)  : 'assets/images/unsplash_mlVbMbxfWI4.png'}}">
        </div>
        <div class="col-12 p-0">
            <p class="articles__title">{{article.article__author__first_name}}
                {{article.article__author__last_name}} | {{article.article__category[0]}}
            </p>
            <p class="articles__details pb-2" tooltip="{{article.article__title}}">
                {{article.article__title | limitTo:40}}
            </p>
            <p class="articles__description" tooltip="{{article.article__description}}">
                {{article.article__description | limitTo:60}}
            </p>
        </div>
    </div>
</div> -->