.connect-account-wrapper {
    width: 100%;
    background: #FFFFFF;
    padding-left: 128px;
    .connect-account-container {
        padding: 30px 91.5px;
        margin: 0 auto;
        // width: 50%;
        .title {
            font-family: 'BelyDisplay-Regular';
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 30px;
            text-align: center;
            color: #074D63;
            margin-bottom: 67px;
        }
        form {
            // margin-bottom: 67px;
            label {
                width: 100%;
                margin-bottom: 13px;
                font-family: 'FFMarkWebProBook';
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 18px;
                color: #6D6D6D;
            }
            .form-control {
                height: 70px;
                width: 100%;
                background: rgb(109, 109, 109, 0.05);
                border-radius: 20px;
                margin-bottom: 32px;
                font-family: 'FFMarkWebProBook';
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                // border: 1px solid red;
                border: none !important;
            }
            input, select{
              color: #074D63 !important;
            }
            // .input:focus {
            //   color: #074D63 !important;
            //   background-color: #fff !important;
            //   border: 0;
            //   font-weight: bold;
            //   box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
            // }
            input {
              width: 220px;
              height: 80px;
              border: 0;
              border-radius: 20px;
              padding: 20px;
              text-align: center;

              &:focus {
                color: #074D63 !important;
                background-color: #fff !important;
                border: 0;
                font-weight: bold;
                box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
              }
            }
            .ng-invalid.ng-touched {
                border: 1px solid red;
            }
            input, select{
                color: #074D63 !important;
            }
            .textHide { 
                color: #979797 !important
            }
        }
        .btn.add-new {
            width: 181px;
            height: 60px;
            border-radius: 20px;
            background: #FBD036;
            border: none;
        }
        ngx-select-dropdown, ngx-intl-tel-input {
            display: flex;
            align-items: center;
            & ::ng-deep .ngx-dropdown-container .ngx-dropdown-button {
                background: inherit !important;
            }
            & ::ng-deep .form-control {
                background: inherit !important;
                border: none !important;
                font-family: 'FFMarkWebProBook'!important;
                font-style: normal !important;
                font-weight: bold !important;
                font-size: 16px !important;
                line-height: 20px !important;
                color: #074D63 !important;
            }
        }
       
    }
}

::ng-deep .ngx-dropdown-container{
    margin-top: 7px;
    }
    
    ::ng-deep .ngx-dropdown-container .ngx-dropdown-button{
      font-family: "FFMarkWebProBook" !important;
      font-style: normal;
      font-weight: bold !important;
      font-size: 16px !important;
      line-height: 20px;
      border: none !important;
      color: #074D63 !important;
      background:none !important;
      text-align: center !important;
    }
    
    ::ng-deep .ngx-dropdown-container button .nsdicon-angle-down{
    
      margin-top: 8px !important;
    }
    