<app-auth-navbar></app-auth-navbar>
<div class="auth-sidebar">
    <app-auth-sidebar></app-auth-sidebar>
</div>
<div class="connect-account-wrapper">
    <div class="connect-account-container">
        <div class="title">Connect account details</div>

        <form class="form-group" [formGroup]="connectAccountForm">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="idNumber">SSN/ITIN/EIN*</label>
                        <input type="text" class="form-control" id="idNumber" name="id_number" formControlName="id_number" placeholder="Enter 9 digits SSN/ITIN/EIN number" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="firstName">First Name*</label>
                        <input type="text" class="form-control" id="firstName" name="first_name" formControlName="first_name" required [readonly]="isEdit" [disabled]="isEdit" 
                        [ngClass]="{'textHide': isEdit}">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="lastName">Last Name*</label>
                        <input type="text" class="form-control" id="lastName" name="last_name" formControlName="last_name" required [readonly]="isEdit" [disabled]="isEdit"
                        [ngClass]="{'textHide': isEdit}">
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="dob">Date Of Birth*</label>
                        <div class="input-group">
                            <!-- disabled="{{isEdit}}" -->
                            <input class="form-control" placeholder="mm-dd-yyyy" 
                            [minDate]="{year: 1800, month: 1, day: 1}" 
                            [maxDate]="isMaxDate" name="dob" (click)="d.toggle()" 
                            formControlName="dob" 
                            ngbDatepicker #d="ngbDatepicker">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="country">Country*</label>
                        <ngx-select-dropdown class="form-control select-custom-design" tabindex="0" [multiple]="false" [config]="countryConfig" [options]="countryData"
                            formControlName="country" name="country" required (change)="countryChanged($event.value)">
                        </ngx-select-dropdown>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="state">State*</label>
                        <ngx-select-dropdown class="form-control" tabindex="0" [multiple]="false" [config]="stateConfig" [options]="stateData"
                            formControlName="state" name="state" required (change)="stateChanged($event.value)">
                        </ngx-select-dropdown>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="line1">City*</label>
                        <ngx-select-dropdown class="form-control select-custom-design" tabindex="0" [multiple]="false" [config]="cityConfig" [options]="cityData"
                            formControlName="city" name="city" required (change)="cityChanged($event.value)" style="width:100%;">
                        </ngx-select-dropdown>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="line1">Line 1*</label>
                        <input type="text" class="form-control" id="line1" name="line1" formControlName="line1" required>
                    </div>
        
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="postalCode">Postal Code*</label>
                        <input type="text" class="form-control" id="postalCode" name="postal_code" formControlName="postal_code" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="accountNumber">Email*</label>
                        <input type="email" disabled="{{isEdit}}" class="form-control" id="email" name="email" formControlName="email" required [readonly]="isEdit" [disabled]="isEdit"
                        [ngClass]="{'textHide': isEdit}">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="accountName">Phone*</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="phone" name="phone" formControlName="phone" required [readonly]="isEdit" [disabled]="isEdit"
                            [ngClass]="{'textHide': isEdit}">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                </div>
            </div>
        </form>

        <div class="add-new-container d-flex flex-column align-items-center">
            <ng-container *ngIf="isEdit else callAdd">
                <button type="button" class="btn add-new" (click)="saveBankDetails()"
                    [disabled]="!connectAccountForm.valid && isCompleteProcess">
                    Update this account
                    <i class="fa fa-arrow-right"></i>
                    <!-- [disabled]="!connectAccountForm.valid" -->
                </button>
            </ng-container>
            <ng-template #callAdd>
                <button type="button" class="btn add-new" (click)="saveBankDetails()"
                    [disabled]="!connectAccountForm.valid">
                    Link this account
                    <i class="fa fa-arrow-right"></i>
                    <!-- [disabled]="!connectAccountForm.valid" -->
                </button>
            </ng-template>
        </div>
    </div>
</div>