<app-auth-navbar></app-auth-navbar>
<div class="auth-sidebar">
    <app-auth-sidebar></app-auth-sidebar>
</div>
<div class="customer-dashboard-container">
    <section class="font-family">
        <div class="top-container">
            <div class="upcoming-session font-family">
                <h1 class="head">Next Upcoming Session</h1>
                <div class="appoinment font-family">
                    <ng-container *ngIf="customer?.upcoming_session?.data.length; else callNoAppts">
                        <h3 class="your-next-appoinment">Your next appointment</h3>
                        <div class="img-content">
                            <img class="rounded-circle dp"
                                [src]="upcomingSession().practitioner__profile_image ? generalService.getPractiotionerImageBaseUrl(upcomingSession().practitioner__profile_image) : 'assets/images/users/avator-2.jpg'" alt="Practitioner">
                            <h3 class="name">{{upcomingSession().practitioner__name}}</h3>
                            <p class="designation" tooltip="{{upcomingSession()?.practitioner__expertise?.join()}}">
                                {{upcomingSession()?.practitioner__expertise?.join() | limitTo:20}}
                            </p>
                        </div>
                        <div class="about">
                            <h1 class="talk">{{upcomingSession().title}}</h1>
                            <div class="sub-main-head">
                                <h5 class="sub-head">{{getPrice(upcomingSession())}}</h5>
                                <p class="time">{{getPrice(upcomingSession()) === 'Included'? '30 min' : getDuration(upcomingSession())}}</p>
                            </div>
                            <div class="sub-main-head1">
                                <h5 class="sub-head">{{getAppointmentDate(upcomingSession().appointment_date)}}</h5>
                                <p class="time">{{getAppointmentTime(upcomingSession().start_time)}}</p>
                            </div>
                        </div>
                        <div class="submission">
                            <button type="button" (click)="navigateToChatPage(upcomingSession())"
                                class="btn-block btn btn-warning btn-rounded">
                                Message
                            </button>
                            <div class="contact">
                                <!-- <i class="fa fa-phone-alt" aria-hidden="true"></i> -->
                                <a (click)="navigateToSessionPage(upcomingSession())"> <i class="fa fa-video" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <ng-template #callNoAppts>
                    <p class="card-title">Currently you have no appointments.</p>
                    <div class="card-appointment-details row">
                        <div class="col">
                            <!-- <p class="small-desc">Other message here?</p> -->
                        </div>
                    </div>
                    <div class="card-appointment-footer">
                        <button routerLink="/customer-profile" class="rounded-button" style="width: unset !important;">
                            Go to Profile
                        </button>
                    </div>
                </ng-template>
            </div>
            <div class="chats-container right-container font-family">
                <div class="d-flex justify-content-between header">
                    <h1 class="chat">Upcoming Sessions</h1>
                </div>
                <div class="chat-list" *ngFor="let upcoming_session of customer?.upcoming_session?.data">
                    <div class="sub-chat">
                        <h5 class="chat-head">{{getAppointmentDate(upcoming_session.appointment_date)}}</h5>
                        <div class="chat-time">{{getAppointmentTime(upcoming_session.start_time)}}</div>
                    </div>
                    <div class="img-content d-flex">
                        <img class="rounded-circle dp" [src]="upcoming_session.practitioner__profile_image ? generalService.getPractiotionerImageBaseUrl(upcoming_session.practitioner__profile_image) : 'assets/images/users/avator-2.jpg'" [alt]="upcoming_session.practitioner__name">
                        <div>
                            <h3 class="name">{{ upcoming_session.practitioner__name }}</h3>
                            <div class="designation" tooltip="{{upcoming_session?.practitioner__expertise?.join()}}">{{upcoming_session?.practitioner__expertise?.join() | limitTo:20}}</div>
                        </div>
                    </div>
                    <div>
                        <span class="designation">Time</span>
                        <h3 class="name">{{getPrice(upcoming_session) === 'Included'? '30 min' : getDuration(upcoming_session)}}</h3>
                    </div>
                    <div>
                        <span class="designation">Price</span>
                        <h3 class="name">{{getPrice(upcoming_session)}}</h3>
                    </div>
                    <button type="button" (click)="navigateToChatPage(upcoming_session)" class="btn-block btn btn-warning btn-rounded">
                        Message
                    </button>
                </div>
                <div *ngIf="!customer?.upcoming_session?.data || customer?.upcoming_session?.data.length === 0" class="no-data-available">
                    <p class="title">You currently have no scheduled sessions</p>
                    <p class="sub-title">Do you want to start your healing today?</p>
                    <p class="sub-title">Discover our network of experienced practitioners and choose the perfect match for you!</p>
                    <!-- <p class="sub-title"></p> -->
                </div>
            </div>
        </div>
    </section>
    <section class="font-family">
        <div class="font-family banner">
            <div>
                <div class="d-flex justify-content-between header">
                    <h1 class="interest">My Completed Sessions</h1>
                </div>
                <div class="chat-list" *ngFor="let completed_session of customer?.completed_session?.data">
                    <div class="sub-chat">
                        <h5 class="chat-head">{{getAppointmentDate(completed_session.appointment_date)}}</h5>
                        <div class="chat-time">{{getAppointmentTime(completed_session.start_time)}}</div>
                    </div>
                    <div class="img-content d-flex">
                        <img class="rounded-circle dp" [src]="completed_session.practitioner__profile_image ? generalService.getPractiotionerImageBaseUrl(completed_session.practitioner__profile_image) : 'assets/images/users/avator-2.jpg'" [alt]="completed_session.practitioner__name">
                        <div>
                            <h3 class="name">{{ completed_session.practitioner__name }}</h3>
                            <div class="designation" tooltip="{{completed_session?.expertise?.join()}}">{{completed_session?.expertise?.join() | limitTo:20}}</div>
                        </div>
                    </div>
                    <div>
                        <h3 class="name">{{completed_session.title}}</h3>
                        <span class="designation">Session title</span>
                    </div>
                    <div>
                        <div class="camera-grey-icon-div">
                            <img class="camera-grey-icon" src="../../../../assets/images/customer/camera-gray.png" />
                        </div>
                    </div>
                    <button type="button"
                        class="completed-btn btn-block btn btn-warning btn-rounded">
                        <img src="../../../../assets/images/grey_dot.png" />
                        <span class="pl-10">Completed</span>
                    </button>
                </div>
                <div *ngIf="!customer?.completed_session?.data  || customer?.completed_session?.data.length === 0" class="no-data-available">
                    <p class="title">You currently have no scheduled sessions</p>
                    <p class="sub-title">Do you want to start your healing today?</p>
                    <p class="sub-title">Discover our network of experienced practitioners and choose the perfect match for you!</p>
                </div>
                <!-- <div class="load-more-div">
                    <button type="button"
                        class="load-more-btn btn-block btn btn-warning btn-rounded">
                        Load More →
                    </button>
                </div> -->
            </div>
        </div>
    </section>
</div>