.customer-dashboard-container {
    padding: 38px 60px 70px 146px;
    background: #ffffff;
    .pl-10{
      padding-left: 10px;
    }
    .camera-grey-icon{
        width: 20px;
        padding-top: 12px;
    }
    .camera-grey-icon-div{
        width: 40px;
        height: 40px;
        border-radius: 20px;
        text-align: center;
        background: #FAFAFA;
    }
    .completed-btn{
        background: #FAFAFA !important;
        color: #6D6D6D !important;
    }
    .load-more-btn{
        color: #074D63 !important;
        background: #FAFAFA !important;
        max-width: 200px !important;
        padding: 20px 40px !important;
    }
    .load-more-div{
        display: flex;
        justify-content: center;
    }
    .upcoming-session {
      width: 30%;
      margin-right: 62px;
  
      .img-content {
        margin-bottom: 24px;
      }
    }
  
    i.fa,
    i.fas {
      width: 40px;
      height: 40px;
      border-radius: 50px;
      background: #ffffff;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 15px;
  
      &.fa-phone-alt {
        color: #fcd7d7;
      }
  
      &.fa-video {
        color: #fbd036;
      }
    }
  
    .top-container {
      display: flex;
      margin-bottom: 62px;
    }
  
    .head {
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      color: #074d63;
      margin-bottom: 24px;
    }
  
    .appoinment {
      padding: 40px;
      background: rgba(255, 244, 227, 0.5);
      border-radius: 40px;
    }
  
    .your-next-appoinment {
      width: 157px;
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #6d6d6d;
      margin-bottom: 20px;
    }
  
    .dp {
      position: static;
      width: 40px;
      height: 40px;
      left: 0px;
      top: 0px;
      float: left;
  
      flex: none;
      order: 0;
      flex-grow: 0;
    }
  
    .img-content {
      img {
        margin-right: 20px;
      }
    }
  
    .name {
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;  
      color: #074d63;
    }
  
    .designation {
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;  
      color: #6d6d6d;
    }

    .title{
      font-family: 'healspace font';
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 16px;  
      color: #074D63;
    }

    .sub-title{
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;  
      color: #074D63;
    }
  
    .talk {
      font-family: 'BelyDisplay-Regular';
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      color: #074d63;
      flex: none;
      order: 0;
      margin-bottom: 20px;
    }
  
    .about {
      margin-bottom: 20px;
    }
  
    .sub-main-head {
      display: inline-block;
      margin-right: 64px;
    }
  
    .sub-main-head1 {
      display: inline-block;
    }
  
    .sub-head {
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
  
      color: #00bad5;
      margin: 2px 0px;
    }
  
    .time {
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
  
      color: #074d63;
  
      flex: none;
      order: 1;
      flex-grow: 0;
      margin: 2px 0px;
    }
  
    .btn-block {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 11px 30px;
      background: #00bad5;
      border-radius: 20px;
      max-width: 120px;
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      color: #ffffff;
      border: none;
    }
  
    .contact {
      display: flex;
    }
  
    .header {
      margin-bottom: 24px;
    }
  
    .right-container {
      flex-grow: 1;
    }
  
    .chat {
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
  
      color: #074d63;
    }
  
    .see {
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
  
      color: #074d63;
    }
  
    .chat-list {
      background: #ffffff;
      box-shadow: 0px 15px 30px rgb(0 0 0 / 5%);
      border-radius: 20px;
      padding: 20px 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 45px;
  
      .round {
        color: #00bad5;
        font-size: 16px;
  
        i.fas {
          background: #fafafa;
        }
      }
    }
  
    .chat-head {
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
  
      color: #6d6d6d;
  
      margin: 2px 0px;
    }
  
    .chat-time {
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
  
      color: #6d6d6d;
    }
  
    .msg {
      background: #00bad5;
      width: 5%;
    }
  
    .submission {
      display: flex;
      // justify-content: space-between;
    }
  
    .btn-box {
      width: 40px;
      height: 40px;
  
      background: #00bad5;
      border-radius: 10px;
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 16px;
      border: none;
      color: #ffffff;
  
      i {
        background: none;
        box-shadow: none;
        display: inline-block;
        margin-left: 0;
        width: auto;
        height: auto;
      }
    }
  
    .interest {
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
  
      color: #074d63;
    }
  
    .yoga-container {
      width: 30%;
      margin-right: 62px;
  
      .btn-block {
        width: 100%;
        max-width: 100%;
        height: 60px;
      }
  
      .yoga-content {
        display: flex;
        margin-bottom: 24px;
      }
  
      .yoga {
        border-radius: 20px 0px 0px 20px;
        width: 42.5%;
        height: 108px;
      }
  
      .card-yoga {
        padding: 0 20px 30px 20px;
        background: rgba(252, 215, 215, 0.2);
        border-radius: 0 20px 20px 0;
        height: 108px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex: 1;
  
        .dot {
          font-size: 30px;
          cursor: pointer;
        }
      }
  
      .head-yoga {
        font-family: 'BelyDisplay-Regular';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 30px;
        white-space: nowrap;
        text-align: right;
  
        color: #074d63;
      }
  
      .para {
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 15px;
  
        text-align: right;
  
        color: #074d63;
      }
    }
  
    .graph-head {
      width: 180px;
      height: 18px;
      left: 600px;
      top: 596px;
  
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
  
      color: #074d63;
    }
  
  
  
    .this-month {
      background: #fff4e3;
      border-radius: 40px;
      padding: 30px 71px;
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  
      i.fas {
        color: #ffffff;
        margin-left: 0;
        margin-right: 6px;
  
        &.fa-chevron-up {
          background: #00bad5;
        }
  
        &.fa-chevron-down {
          background: #074d63;
  
          &~.no {
            color: #074d63;
          }
        }
      }
  
      .session {
        width: 33%;
      }
  
      .session-head {
        color: #074d63;
        width: 100%;
      }
  
      .sess {
        font-family: 'BelyDisplay-Regular';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
  
        color: #074d63;
      }
  
      .sess-list {
        color: #6d6d6d;
      }
  
      .info {
        display: flex;
        align-items: center;
      }
  
      .no {
        color: #00bad5;
      }
    }
  
    .graph-mood-container {
      display: flex;
      margin-bottom: 32px;
  
      .graph {
        flex: 1;
        margin-right: 45px;
      }
  
      .header {
        margin-bottom: 14px;
      }
  
      .mood-container {
        width: 30%;
  
        .mood {
          width: 100%;
          height: 18px;
          font-family: 'FFMarkWebProBook';
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 18px;
  
          color: #074d63;
        }
  
        .emoji-container {
          display: flex;
          justify-content: space-between;
        }
  
        .emoji {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 91px;
          height: 107px;
          background: rgb(0, 186, 213, 0.05);
          border-radius: 20px;
        }
  
        .emoji-img {
          width: 44px;
          height: 44px;
          font-size: 44px;
          background: #FFCE07;
          color: #562A15;
          margin-bottom: 10px;
          border-radius: 20px;
        }
  
        .sub-head {
          font-family: 'FFMarkWebProBook';
          font-style: normal;
          font-weight: bold;
          font-size: 10px;
          line-height: 15px;
          /* identical to box height, or 150% */
  
          color: #074d63;
        }
      }
    }
  
    .share {
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
  
      color: #00bad5;
  
      i {
        background: none;
        box-shadow: none;
        display: inline-block;
        margin-left: 8px;
        width: auto;
        height: auto;
      }
    }
  
    .call-icon {
      top: 83%;
      bottom: 0%;
      background: #fcd7d7;
      height: 40px;
    }
}
$white: #fff;
$primary-blue: #00BAD5;
$secondary-blue: #074D63;
$card-bg: rgba(255, 244, 227, 0.5);
$text-title: #6D6D6D;
$slight-grey: #FAFAFA;
$main-font: healspace font;

.card-appointment-footer {
  margin-top: 32px;
}
.rounded-button {
  border: 0;
  border-radius: 20px;
  color: $white;
  background-color: $primary-blue;
  width: 120px;
  height: 40px;
  padding: 11px 30px;
}