.header-top-section-bg {
    padding-bottom     : 100px;
    background-image   : url(../../../../assets/images/bg/blog-page.svg);
    background-position: center;
    background-size    : cover;
    background-repeat  : no-repeat;
}

.main-blog {
    &__title {
        font-family: "healspace font";
        font-style : normal;
        font-weight: normal;
        font-size  : 48px;
        line-height: 76px;
        text-align : center;
        color      : #074D63;
        flex       : none;
        order      : 0;
        flex-grow  : 0;
        margin     : 20px ​0 20px 0px;
        padding    : 0 !important;
    }

    &__sm-heading {
        font-family: "healspace font";

        font-style : normal;
        font-weight: normal;
        font-size  : 24px;
        line-height: 32px;
        /* or 133% */


        /* Secondary */

        color: #074D63;


        /* Inside Auto Layout */

        flex      : none;
        order     : 0;
        align-self: stretch;
        flex-grow : 0;
        margin    : 0 0 40px 0px
    }

    &__sm-des {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 16px;
        line-height: 20px;
        /* identical to box height, or 125% */


        /* Secondary */

        color: #074D63;


        /* Inside Auto Layout */

        flex      : none;
        order     : 0;
        align-self: stretch;
        flex-grow : 0;
        margin    : 20px 0px 15px;
    }

    &__xs-des {
        font-family: 'FFMarkWebProBook';

        font-style : normal;
        font-weight: normal;
        font-size  : 14px;
        line-height: 18px;
        /* identical to box height, or 129% */


        /* Secondary */

        color: #074D63;


        /* Inside Auto Layout */

        flex     : none;
        order    : 1;
        flex-grow: 0;
        margin   : 0 0 30px 0px;
    }

    &__img-des {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 24px;
        line-height: 35px;
        /* identical to box height, or 146% */


        /* Secondary */

        color: #074D63;


        /* Inside Auto Layout */

        flex     : none;
        order    : 0;
        flex-grow: 0;
        margin   : 12px 0px;
    }

    &__img-heading {
        font-family: "healspace font";
        font-style : normal;
        font-weight: normal;
        font-size  : 40px;
        line-height: 45px;
        /* identical to box height, or 112% */


        /* Secondary */

        color: #074D63;


        /* Inside Auto Layout */

        flex     : none;
        order    : 1;
        flex-grow: 0;
        margin   : 12px 0px;
    }
    &__bottom-gap{
        margin-bottom: 80px;
    }
}