<div class="header-top-section-bg s-practitioner">
    <div class="container">
        <app-header></app-header>

        <div class="d-flex justify-content-center ">
            <div class="col-lg-12 p-0">
                <p class="main-blog__title pb-5">Articles / Relevant Title</p>

            </div>
        </div>

        <div class="row main-blog__bottom-gap" *ngIf="currentPage==1">
            <div class="col-lg-8">
                <img src="../../../../assets/images/Rectangle 472.png" class="img-fluid">
                <div class="col-lg-12 p-0">
                    <p class="main-blog__img-des">{{blogData?.blog_details?.author__first_name}} {{blogData?.blog_details?.author__last_name}}  | {{blogData?.blog_details?.category}} </p>
                    <p class="main-blog__img-heading">{{blogData?.blog_details?.title | limitTo:32}}</p>
                </div>
            </div>

            <div class="col-lg-4">
                <p class="main-blog__sm-heading"> Recommened Articles Or Practitioners </p>
                <div class="col-lg-12 p-0" *ngFor="let article of blogData?.recommended_article">
                    <p class="main-blog__sm-des" tooltip={{article.title}}>
                        {{article.title | limitTo:34}}
                    </p>
                    <p class="main-blog__xs-des">
                        {{article.author__first_name}} {{article.author__last_name}} | {{article.category[0]}}
                    </p>
                </div>

                <!-- <div class="col-lg-12 p-0 ">
                    <p class="main-blog__sm-des">
                        6 Methods to reduce anxiety and other
                    </p>
                    <p class="main-blog__xs-des">
                        Esther Howard | Wellbeing
                    </p>
                </div>

                <div class="col-lg-12 p-0">
                    <p class="main-blog__sm-des">
                        6 Methods to reduce anxiety and other
                    </p>
                    <p class="main-blog__xs-des">
                        Esther Howard | Wellbeing
                    </p>
                </div>

                <div class="col-lg-12 p-0">
                    <p class="main-blog__sm-des">
                        6 Methods to reduce anxiety and other
                    </p>
                    <p class="main-blog__xs-des">
                        Esther Howard | Wellbeing
                    </p>
                </div>

                <div class="col-lg-12 p-0">
                    <p class="main-blog__sm-des">
                        6 Methods to reduce anxiety and other
                    </p>
                    <p class="main-blog__xs-des">
                        Esther Howard | Wellbeing
                    </p>
                </div> -->
            </div>
        </div>


        
        <div class="container p-0">
            <div class="row mx-0">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 articles px-2 mb-5"
                    *ngFor="let article of blogData?.all_articles?.data">
                    <app-articles [id]="article.id" [image]="article.image" [category]="article.category[0]"
                        [firstname]="article.author__first_name" [lastname]="article.author__last_name"
                        [title]="article.title " [description]="article.description"></app-articles>
                </div>
            </div>
        </div>
        <div class="container" *ngIf="blogData?.all_articles_count>6">
            <div class="dt-pagination d-flex">
                <pagination [boundaryLinks]="false" [itemsPerPage]=itemsPerPage [rotate]="false" [maxSize]=maxSize
                    (pageChanged)="getBlogData($event.page,9)" [totalItems]="blogData?.all_articles_count"
                    previousText="&lsaquo;" nextText="&rsaquo;">
                </pagination>
                <span class="pegination-result">{{blogData?.all_articles_count}} results</span>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>