.practitioner-list {
  padding-left: 100px;
    // margin: 0px 140px;
    .more-icon{
      .dropdown-item:hover{
        font-style: normal !important;
        font-weight: bold !important;
        color: #074D63 !important;
        background: none !important;
      }
    }
    .p-active{
        width: 22px;
        height: 22px;
        background: #074D63;
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;
        border-radius: 50%;
        text-align: center;
      }
      .p-deactive{
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #074D63;
        text-align: center;
        width: 22px;
        height: 22px;
      }
      .page-size{
        padding: 20px 0px;
        .dropdown-menu.show {
          top: -60px !important;
        }
        #button-dropup{
          background: #074D63;
          border-radius: 4px;
          width: 40px;
          height: 20px;
          color: #FFFFFF;
          padding: 0px !important;
        }
      }
    .archive-btn {
        background: #00BAD5;
        border-radius: 20px;
        width: 120px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        padding: 10px;
    }
    .title {
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #074D63;
    }
    .p-dot{
        height: 20px;
        margin-top: 8px;
    }
    .selected {
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #074D63;
        margin-right: 15px;
    }
    .unselected {
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        margin-right: 15px;
        color: #BFBFBF;
    }
    .activate {
        background: #00BAD5;
        border-radius: 20px;
        width: 100px;
        text-align: center;
        color: #fff;
        font-size: 10px;
        padding: 10px;
        margin: 0 auto;
        // margin-bottom: 10px;
    }
    .deactivate {
        background: #6D6D6D;
        border-radius: 20px;
        width: 120px;
        text-align: center;
        color: #fff;
        font-size: 10px;
        padding: 10px;
        margin: 0 auto;
    }
    .status {
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #074D63;
    }
    .blocked {
        background: rgba(109, 109, 109, 0.2);
        border-radius: 20px;
        width: 120px;
        text-align: center;
        color: #6D6D6D;
        font-size: 10px;
        padding: 10px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .pending {
        background: #FCD7D7;
        border-radius: 20px;
        width: 120px;
        text-align: center;
        color: #6D6D6D;
        font-size: 10px;
        padding: 10px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .toolbar {
        // margin: 25px 0;
        padding: 10px 25px;
        .left {
            padding: 15px 0;
        }
    }
    .download-btn {
        cursor: pointer;
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #074D63;
        border: 1px solid #074D63;
        width: 260px;
        padding: 15px 0;
        text-align: center;
        border-radius: 20px;
    }
    .add-pract {
        margin-left: 15px;
        padding: 15px 0;
        text-align: center;
        background: #FBD036;
        border-radius: 20px;
        width: 234px;
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #074D63;
    }
    .sub {
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #6D6D6D;
    }
    .interest-label {
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #6D6D6D;
    }
    .interest-val {
        font-family: BelyDisplayW00-Regular;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
        color: #00BAD5;
    }
    .profile-pic {
        margin: 0px 15px;
    }
    .icon {
        margin: 5px 15px;
    }
    .archive-text {
        background: #FFF4E3;
        border-radius: 20px;
        width: 114px;
        text-align: center;
        padding: 10px;
        img {
            margin-right: 10px;
        }
    }
    .list {
        background: #FFFFFF;
        box-shadow: 0px 15px 30px rgb(0 0 0 / 5%);
        border-radius: 20px;
        padding: 30px;
        margin-bottom: 20px;
    }

    .prac-session{
      padding: 30px 20px;
      margin-right: 10px;
      background: #00BAD5;
      border-radius: 20px;
    }

    .prac-expertise{
      padding: 30px 20px;
      background: rgba(0, 186, 213, 0.1);
      border-radius: 20px;
    }
}
::ng-deep{
    .edit-modal{
        height: 100%;
        padding: 50px;
        overflow: auto;
        margin-bottom: 30px;
        .right-arrow{
          width: 100px;
          height: 80px;
          border-radius: 50%;
          position: fixed;
          left: -31px;
          top: 40%;
          background: #fff;
         img{
          width: 16px;
          padding-top: 30px;
          margin-left: 14px;
          cursor: pointer;
         }
        }
        .add-details-btn{
            font-family: 'FFMarkWebProBook';
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            color: #074D63;
            border: 1px solid #074D63;
            padding: 15px 25px;
        }
        .name{
          font-family: 'healspace font';
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 30px;
          color: #074D63;
          word-break: break-all;
        }
        .email-id{
            font-family: 'FFMarkWebProBook';
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: #6D6D6D;
        }
        p{
            margin: 0px !important;
        }
        .ps-title{
            font-family: 'FFMarkWebProBook';
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
        }
        .ps-content{
            font-family: 'FFMarkWebProBook';
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: #FFFFFF;
        }
        .amount{
            font-family: 'BelyDisplayW-Regular';
            font-style: normal;
            font-weight: normal;
            font-size: 40px;
            line-height: 45px;
            color: #FBD036;
            padding-left: 20px;
        }
        .pse-title{
            font-family: 'FFMarkWebProBook';
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            color: #074D63;
        }
        .pe-title{
            font-family: 'FFMarkWebProBook';
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            color: #6D6D6D;
        }
        .pe-content{
            font-family: 'FFMarkWebProBook';
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: #6D6D6D;
        }
        .card-palign {
        border-radius: 20px;
        height: 70px;
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #6D6D6D;
        }
        input {
            width: 220px;
            height: 80px;
            border: 0;
            border-radius: 20px;
            padding: 20px;
            text-align: center;
            background-color: #F8F8F8;
            &:focus {
              color: #074D63 !important;
              background-color: #fff !important;
              border: 0;
              font-weight: bold;
              box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
            }
          }
          .ratings-cont{
            position: relative;
        .star {
            font-size: 17px;
            color: #b0c4de;
          }
          .filled {
            color: #fbd036;
          }
          .ratings-info {
              position: absolute;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              top: 26%;
              left: 26%;
              font-family: 'BelyDisplay-Regular';
              font-style: normal;
              font-weight: normal;
              font-size: 40px;
              line-height: 45px;
              color: #00BAD5;
              ngb-rating {
                margin-top: -24px;
              }
              .reviews {
                font-family: 'FFMarkWebProBook';
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 18px;
               
                color: #074D63;
                
              }
          }
        }
        .carousel {
            background: #fafafa;
            border-radius: 20px;
            padding: 44px 81px;
            outline: none;
            &::ng-deep .carousel-control-prev-icon,
            &::ng-deep .carousel-control-next-icon {
              background: none;
              width: 24px;
              height: 24px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #000000;
              background: #ffffff;
              font-size: 18px;
              &:before {
                content: "\2190";
              }
            }
            &::ng-deep .carousel-control-next-icon {
              &:before {
                content: "\2192";
              }
            }
            .carousel-container {
              display: flex;
              flex-direction: column;
              justify-content: center;
              .head {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 11px;
              }
            }
            .star {
              font-size: 17px;
              color: #b0c4de;
            }
            .filled {
              color: #fbd036;
            }
            .rating {
              font-family: 'FFMarkWebProBook';
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 18px;
              color: #074d63;
            }
            .rating-info {
              display: flex;
              flex-direction: column;
            }
            .practitioner-info {
              display: flex;
              .profile-photo {
                width: 40px;
                height: 40px;
              //   background: url("../../../../../assets/images/users/avator-2.jpg");
                background-size: 100%;
                border-radius: 50%;
                margin-right: 12px;
              }
              .name {
                font-family: 'BelyDisplay-Regular';
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                color: #074d63;
              }
              .place {
                font-family: 'FFMarkWebProBook';
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 16px;
                color: #6d6d6d;
              }
              .bs-tooltip-bottom {
                  z-index: 9999 !important;
              }
            }
          }
          .expertise-section {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .expertise-card {
                margin-top: 40px;
                box-shadow: none;
                background: rgba(255, 244, 227, 0.5);
                width: 360px;
                height: 108px;
                box-shadow: none;
                position: relative;
                cursor: pointer;

                &.active {
                    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, .03);
                    background: #fff;

                    .check {
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 4px;
                        width: 32px;
                        height: 32px;
                    }
                }

                .check {
                    display: none;
                }

                .card-body {
                    padding: 0;
                    display: flex;

                    .img-section {
                        width: 145px;
                        object-position: left;
                        overflow: hidden;

                        img {
                            height: 100%;
                            width: auto;
                            border-radius: 20px 0 0 20px;
                        }
                    }

                    .text-section {
                        flex: 1 1 auto;
                        padding: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        h3 {
                            font-size: 16px;
                            line-height: 30px;
                            margin-bottom: 0;
                            text-align: right;
                            font-family: healspace font;
                            color:  #074D63;
                        }

                        span {
                            font-size: 10px;
                            line-height: 15px;
                            margin-bottom: 0;
                            text-align: right;
                            color:  #074D63;
                        }
                    }
                }
            }
        }

        .submission-section {
            margin-top: 55px;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;

            button {
                width: 360px;
                height: 60px;
                padding: 20px;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
            }
        }
        .rounded-button {
          border: 0;
          border-radius: 20px;
          color: #fff;
          background-color: #00BAD5;
          width: 120px;
          height: 40px;
          padding: 11px 30px;
      }

      .earnings{
        background: #00BAD5;
        box-shadow: 0px 15px 30px rgb(0 0 0 / 5%);
        border-radius: 20px;
        padding: 15px 25px;
      }
    }

    .modal{
        top: 97px;
        right: 0px;
        left: 100px;
        background: #074D63 !important;
    opacity: 0.95;
    }
    .modal-backdrop{
        top: 97px;
        left: 100px;
        right: 0px;
    }
    .modal-backdrop.show {
      // opacity: 0.98 !important;
    }
    
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
        width: 70%;
        max-width: 1100px !important;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}
	.modal.right .modal-content {
		height: 100%;
        overflow-y: auto;
        border-radius: unset;
	}
	
	.modal.right .modal-body {
		padding: 15px 15px 80px;
	}
        
/*Right*/
	.modal.right.fade .modal-dialog {
        right: 0px;
        top: 97px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
	.modal.right.fade.in .modal-dialog {
		right: 0;
	}

  .edit-practitioner{
    position: absolute!important;
    left: auto !important;
    right: 0 !important;
    top: 75px !important;
    width: 92.2% !important;
    .modal-dialog{
      right: 0 !important;
      left: auto !important;
      top: 0 !important;
      transform: none !important;
      .modal-content{
        overflow: visible;
        .right-arrow{
          width: 80px;
          height: 80px;
          border-radius: 50%;
          position: absolute;
          left: -30px;
          top: 40%;
          background: #ffffff;
        }
      }
    }
  }
}

::ng-deep .ngx-dropdown-container{
margin-top: 7px;
}

::ng-deep .ngx-dropdown-container .ngx-dropdown-button{
  font-family: "FFMarkWebProBook" !important;
  font-style: normal;
  /*font-weight: bold !important;
  font-size: 16px !important;
  line-height: 20px;*/
  border: none !important;
  color: #495057 !important;
  background:none !important;
  text-align: center !important;
}

::ng-deep .ngx-dropdown-container button .nsdicon-angle-down{

  margin-top: 8px !important;
}