<app-auth-navbar></app-auth-navbar>
<div class="auth-sidebar">
    <app-auth-sidebar></app-auth-sidebar>
</div>
<div class="practitioner-list col-lg-12 col-md-12 btn-flex-center flex-column">
    <div class="col-lg-12 col-md-12 btn-flex-center toolbar">
        <div class="col-lg-5 col-md-5 left">
            <span [ngClass]="currentStatus === 'Active' ? 'selected':'unselected'"><a
                    (click)="getPractitionerList('Active', currentPageNumber)">Confirmed Accounts</a></span>
            <span [ngClass]="currentStatus === 'Pending' ? 'selected':'unselected'"><a
                    (click)="getPractitionerList('Blocked', currentPageNumber)">Waiting Approval</a></span>
            <span [ngClass]="currentStatus === 'Deactivated' ? 'selected':'unselected'"><a
                    (click)="getPractitionerList('deactive', currentPageNumber)">Deactivated</a></span>
        </div>
        <div class="col-lg-7 col-md-7">
            <div class="btn-flex-center">
                <div class="col-lg-6 col-md-6">
                    <div class="download-btn" (click)="downloadCSV()">Download practitioners list as .csv</div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="add-pract" (click)="addPractitioner()"><a>Add New Practitioner →</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 btn-flex-center">
        <div class="col-lg-12 col-md-12">
            <div *ngIf="practitionerList">
                <div class="col-lg-12 col-md-12 d-flex justify-content-between align-items-center list"
                    *ngFor="let list of practitionerList">
                    <div class="col-lg-3 col-md-3 d-flex align-items-center">
                        <div class="d-flex align-items-center">
                            <div class="profile-pic" (click)="openModal(list)">
                                <img style="width: 40px;height: 40px;border-radius: 20px;"
                                    [src]="list?.profile_image && list?.is_profile_pic_approved ? list.profile_image: 'assets/images/users/avator-2.jpg'" />
                            </div>
                            <div>
                                <div (click)="openModal(list)" class="title"
                                    tooltip="{{(list?.user_id?.first_name + ' ' + list?.user_id?.last_name)}}">
                                    {{(list?.user_id?.first_name + ' ' + list?.user_id?.last_name) | limitTo:20}}</div>
                                <div class="sub" tooltip="{{list?.expertise?.join()}}">in {{list?.expertise?.join() |
                                    limitTo:20}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="title" *ngIf="list?.address" tooltip="{{getAddress(list?.address)}}">{{getAddress(list?.address) |limitTo:15}}
                        </div>
                        <div class="title" *ngIf="!list.address">New York, USA</div>
                        <!-- <div class="title">{{list?.addrekss ? getAddress(list?.address) : 'New York, USA' | limitTo:15}}
                        </div> -->
                        <div class="sub">Location</div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="title">Percentage Billing</div>
                        <div class="sub"></div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="title">Certificate Name</div>
                        <div class="sub"><a *ngIf="list?.certitifcations[0]?.certitifcation"
                                href="{{list?.certitifcations[0]?.certitifcation}}" target="_blank">certitifcation</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 d-flex" dropdown #dropdown="bs-dropdown" [autoClose]="false">
                        <div class="btn dropdown-toggle archive-btn btn-flex-center"
                            [ngClass]="{'activate':currentStatus === 'Active','pending': currentStatus === 'Pending', 'deactivate': currentStatus === 'Deactivated'}"
                            (click)="dropdown.isOpen = !dropdown.isOpen;">
                            {{currentStatus}}</div>
                        <ul *dropdownMenu class="dropdown-menu" role="menu">
                            <li role="menuitem"><a (click)="dropdown.isOpen = !dropdown.isOpen;"
                                    class="dropdown-item status">Account Status</a></li>
                            <li role="menuitem"><a (click)="dropdown.isOpen = !dropdown.isOpen;"
                                    class="dropdown-item activate"
                                    (click)="changeUserStatus(list, 'active')">Activate</a></li>
                            <li role="menuitem"><a (click)="dropdown.isOpen = !dropdown.isOpen;"
                                    class="dropdown-item blocked"
                                    *ngIf="currentStatus !== 'Deactivated' && currentStatus !== 'Pending'"
                                    (click)="changeUserStatus(list, 'block')">Blocked</a></li>
                            <li role="menuitem"><a (click)="dropdown.isOpen = !dropdown.isOpen;"
                                    class="dropdown-item deactivate" *ngIf="currentStatus !== 'Deactivated'"
                                    (click)="changeUserStatus(list, 'deactivate')">Deactivate</a></li>
                            <li role="menuitem"><a class="dropdown-item deactivate"
                                    *ngIf="currentStatus === 'Deactivated'"
                                    (click)="changeUserStatus(list, 'delete')">Delete</a></li>
                        </ul>

                        <span class="more-icon" dropdown>
                            <a href id="basic-link" dropdownToggle (click)="false"
                                aria-controls="basic-link-dropdown"><img src="../../../../assets/images/more.svg"
                                    class="p-dot" /></a>
                            <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu" role="menu"
                                aria-labelledby="basic-link">
                                <li role="menuitem"><a class="dropdown-item">Billing Options</a></li>
                                <li role="menuitem"><a (click)="sendMessage(list)" class="dropdown-item">Send
                                        Message</a></li>
                                <li role="menuitem"><a class="dropdown-item">View Chats History</a></li>
                                <li role="menuitem"><a class="dropdown-item">View Session History</a></li>
                                <li role="menuitem"><a (click)="resendActivationLink(list)" class="dropdown-item">Resend
                                        Activation Link</a>
                                </li>
                            </ul>
                        </span>
                    </div>
                </div>
                <div class="row page-size" *ngIf="practitionerList.length>0">
                    <div class="col-md-6 col-lg-6 col-6">
                        <div class="btn-group" dropdown [dropup]="isDropup">
                            <span style="padding-right: 10px;">Number of Practitioner per page: </span>
                            <button id="button-dropup" dropdownToggle type="button" class="btn  dropdown-toggle"
                                aria-controls="dropdown-dropup">
                                {{pageSize}} <span class="caret"></span>
                            </button>
                            <ul id="dropdown-dropup" *dropdownMenu class="dropdown-menu" role="menu"
                                aria-labelledby="button-dropup">
                                <li role="menuitem"><a class="dropdown-item" (click)="pageSizeChange(5)">5</a></li>
                                <li role="menuitem"><a class="dropdown-item" (click)="pageSizeChange(10)">10</a></li>
                                <li role="menuitem"><a class="dropdown-item" (click)="pageSizeChange(15)">15</a></li>
                                <li role="menuitem"><a class="dropdown-item" (click)="pageSizeChange(20)">20</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-6">
                        <div style="float: right;">
                            <ul class="pagination">
                                <ng-container *ngFor="let page of totalPage">
                                    <li
                                        [ngClass]="{'p-active': currentPageNumber == page,'p-deactive': currentPageNumber != page}">
                                        <a (click)="pageChange(page)">{{page}}</a></li>
                                </ng-container>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!practitionerList || practitionerList.length === 0" class="no-data-available">
                <p>Data Not Available</p>
            </div>
        </div>

    </div>
</div>
<ng-template #editModal>
    <div class="btn-flex-center right-arrow"><img class="mr-4" (click)="closeModal()" src="../../../../assets/images/right_arrow.png" /></div>
    <div class="edit-modal">
        
        <div class="row">
            <div class="col-md-8 col-lg-8 btn-flex-center">
                <div class="row">
                    <div class="col-md-3">
                        <div class="profile-img">
                            <img style="width: 80px;border-radius: 40px;
                height: 80px;" [src]="selectedPractitoner?.profile_image && selectedPractitoner?.is_profile_pic_approved ? selectedPractitoner.profile_image: 'assets/images/users/avator-2.jpg'" />
                            <img style="width: 32px;margin-left: -30px;
                margin-top: 40px;height: 32px;" src="../../../../assets/images/code pen.png" />
                        </div>
                    </div>
                    <div class="col-md-9">
                        <p class="name">{{(selectedPractitoner?.user_id?.first_name + ' ' + selectedPractitoner?.user_id?.last_name)}}</p>
                        <p class="email-id">{{selectedPractitoner?.user_id?.email}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 btn-flex-center" *ngIf="currentPage === 'profile'">
                <button class="btn add-details-btn" type="button" (click)="practSubmit()">Save Profile →</button>
            </div>
        </div>
        <br />
        <div *ngIf="currentPage === 'profile'">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <a (click)="showListPage('session-list')">
                        <div class="row" style="padding: 30px 20px; margin-right: 10px;
                                                background: #00BAD5;
                                                border-radius: 20px;">
                            <div class="col-md-2" style="text-align: center;">
                                <div style="width: 40px;background: #FFFFFF;height: 40px;border-radius: 20px;">
                                    <img style="width: 20px;height: 12.5px;margin-top: 13px;"
                                        src="../../../../assets/images/practitioner/camera-blue.png" />
                                </div>
                            </div>
                            <div class="col-md-8">
                                <p class="ps-title">Practitioner’s Sessions</p>
                                <p class="ps-content">He has {{selectedPractitionerProfile?.my_sessions_type_count}} session types</p>
                            </div>
                            <div class="col-md-2" style="text-align: end;">
                                <img style="margin-top: 13px;" src="../../../../assets/images/right_caret.png" />
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-6">
                    <a (click)="showListPage('interest-list')">
                        <div class="row" style="padding: 30px 20px;
                                                background: rgba(0, 186, 213, 0.1);
                                                border-radius: 20px;">
                                                    <div class=" col-md-2" style="text-align: center;">
                            <div style="width: 40px;background: #FFFFFF;height: 40px;border-radius: 20px;">
                                <img style="width: 15px;height: 15px;margin-top: 12px;"
                                    src="../../../../assets/images/practitioner/expertises.png" />
                            </div>
                        </div>
                        <div class="col-md-8">
                            <p class="pe-title">Practitioner’s Expertise</p>
                            <p class="pe-content">He has {{selectedPractitionerProfile?.my_expertise}} expertises </p>
                        </div>
                        <div class="col-md-2" style="text-align: end;">
                            <img style="margin-top: 13px;" src="../../../../assets/images/right_caret_color.png" />
                        </div>
                        </div>
                    </a>
                </div>
            </div>
            <br />
            <form class="form-group" ata-bitwarden-watching="1" #profileForm="ngForm">
                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        <label class="pl-2">First Name</label>
                        <div class="card-palign">
                            <input type="text" class="form-control" [(ngModel)]="userProfile.firstname"
                            #firstname="ngModel"
                            name="firstname" required>
                            <div *ngIf="firstname.hasError('required')">
                                <p class="error-box margin-top-0 text-danger err-sf" style="font-size: 13px;font-weight: normal;">
                                    First Name is Required
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <label class="pl-2">Last Name</label>
                        <div class="card-palign">
                            <input type="text" class="form-control" [(ngModel)]="userProfile.lastname"
                            #lastname="ngModel"
                            name="lastname" required>
                            <div *ngIf="lastname.hasError('required')">
                                <p class="error-box margin-top-0 text-danger err-sf" style="font-size: 13px;font-weight: normal;">
                                    Last Name is Required
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <label class="pl-2">Business Name</label>
                        <div class="card-palign">
                            <input type="text" class="form-control" [(ngModel)]="userProfile.businessname"
                            #businessname="ngModel"
                            name="businessname" required>
                            <div *ngIf="businessname.hasError('required')">
                                <p class="error-box margin-top-0 text-danger err-sf" style="font-size: 13px;font-weight: normal;">
                                    Business Name is Required
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <br /><br />
                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        <label class="pl-2">Email</label>
                        <div class="card-palign">
                            <input type="text" class="form-control" [(ngModel)]="userProfile.email"
                            #email="ngModel"
                            name="email" required readonly>
                            <div *ngIf="email.hasError('required')">
                                <p class="error-box margin-top-0 text-danger err-sf" style="font-size: 13px;font-weight: normal;">
                                    Email is Required
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <label class="pl-2">Phone</label>
                        <div class="card-palign">
                            <input type="text" class="form-control" [(ngModel)]="userProfile.phonenumber"
                            #phonenumber="ngModel"
                            name="phonenumber" required>
                            <div *ngIf="phonenumber.hasError('required')">
                                <p class="error-box margin-top-0 text-danger err-sf" style="font-size: 13px;font-weight: normal;">
                                    Phone is Required
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <label class="pl-2">Country</label>
                        <div class="card-palign">
                            <ngx-select-dropdown class="form-control select-custom-design"
                                tabindex="0"
                                [multiple]="false" 
                                [config]="countryConfig" 
                                [options]="countryData"
                                [(ngModel)]="userProfile.country"
                                #country="ngModel"
                                name="country" required
                                (change)="countryChanged($event.value)" style="width: 220px;height: 100%;
                                background: #f6f6f6;border: none;">
                            </ngx-select-dropdown>
                            <div *ngIf="country.hasError('required')">
                                <p class="error-box margin-top-0 text-danger err-sf" style="font-size: 13px;font-weight: normal;">
                                    Country is Required
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <br /><br />
                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        <label class="pl-2">State</label>
                        <div class="card-palign">
                            <ngx-select-dropdown class="form-control select-custom-design"
                                tabindex="0"
                                [multiple]="false" 
                                [config]="stateConfig" 
                                [options]="stateData"
                                [(ngModel)]="userProfile.state"
                                #state="ngModel"
                                name="state" required
                                (change)="stateChanged($event.value)" style="width: 220px;height: 100%;
                                background: #f6f6f6;border: none;">
                            </ngx-select-dropdown>
                            <div *ngIf="state.hasError('required')">
                                <p class="error-box margin-top-0 text-danger err-sf" style="font-size: 13px;font-weight: normal;">
                                    State is Required
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <label class="pl-2">City</label>
                        <div class="card-palign">
                            <ngx-select-dropdown class="form-control select-custom-design"
                                tabindex="0"
                                [multiple]="false" 
                                [config]="cityConfig" 
                                [options]="cityData"
                                [(ngModel)]="userProfile.city"
                                #city="ngModel"
                                name="city" required
                                (change)="cityChanged($event.value)" style="width: 220px;height: 100%;
                                background: #f6f6f6;border: none;">
                            </ngx-select-dropdown>
                            <div *ngIf="city.hasError('required')">
                                <p class="error-box margin-top-0 text-danger err-sf" style="font-size: 13px;font-weight: normal;">
                                    City is Required
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <label class="pl-2">Postal Code</label>
                        <div class="card-palign">
                            <input type="text" class="form-control" [(ngModel)]="userProfile.postalcode"
                            #postalcode="ngModel"
                            name="postalcode" required>
                            <div *ngIf="postalcode.hasError('required')">
                                <p class="error-box margin-top-0 text-danger err-sf" style="font-size: 13px;font-weight: normal;">
                                    Postal Code is Required
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <br />
            <div class="row" style="margin-bottom: 50px;">
                <div class="col-md-4 col-lg-4">
                    <p class="pse-title mb-2">Earnings</p>
                    
                    <div class="earnings">
                        <p class="ps-content">Practitioner’s total <br />
                            earnings since he joined!</p>
                        <p class="amount">${{selectedPractitionerProfile?.Earnings}} </p>
                        <p class="ps-title" style="padding-left: 20px;">in {{selectedPractitionerProfile?.appointment_count}} sessions</p>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3">
                    <p class="pse-title">Session Reviews</p>
                    <div class="ratings-cont">
                        <app-doughnut-chart [averageRatings]="selectedPractitionerProfile.overall_rating * 20"></app-doughnut-chart>
                        <div class="ratings-info">
                            <div>{{selectedPractitionerProfile?.overall_rating}}</div>
                            <div class="reviews">({{selectedPractitionerProfile.review_count}} reviews)</div>
                            <ngb-rating [(rate)]="selectedPractitionerProfile.overall_rating">
                                <ng-template let-fill="fill" let-index="index">
                                    <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                </ng-template>
                            </ngb-rating>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-5">
                    <ngb-carousel>
                        <ng-template ngbSlide *ngFor="let review of selectedPractitionerProfile.review">
                            <div class="carousel-container">
                                <div class="head">
                                    <div class="practitioner-info">
                                        <img class="profile-photo"
                                            [src]="review.profile_image && review.is_profile_pic_approved ? generalService.getCustomerImageBaseUrl(review.profile_image) : 'assets/images/users/avatar-1.jpg'">
                                        <div>
                                            <div class="name">{{review.nick_name}}</div>
                                            <div class="place" placement="right" tooltip="{{review.interest.join()}}">
                                                {{review.interest.join() | limitTo: 10}}</div>
                                        </div>
                                    </div>
                                    <div class="rating-info">
                                        <div class="rating">{{review.overall_rating}} Ratings</div>
                                        <ngb-rating [(rate)]="review.overall_rating">
                                            <ng-template let-fill="fill" let-index="index">
                                                <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                            </ng-template>
                                        </ngb-rating>
                                    </div>
                                </div>
                                <div>{{review.review}}</div>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
        </div>
        <div *ngIf="currentPage === 'session-list'">
            <app-practioner-session [sessions]="practitionerSessions"></app-practioner-session>
            <div style="margin-bottom: 50px;text-align: center;">
                <div class="submission-section">
                    <button class="rounded-button">
                        Add New Session →
                    </button>
                </div>
                <div>
                    <a (click)="goBack()">
                        Go Back
                    </a>
                </div>
            </div>
        </div>
        <div *ngIf="currentPage === 'interest-list'">
            <div class="expertise-section">
                <ng-container *ngFor="let expertise of expertises">
                    <div class="card expertise-card" [ngClass]="filterIfThere(expertise) ? 'active' : ''" id="{{expertise.id}}">
                        <div class="card-body" (click)="chooseMe(expertise)">
                            <div class="img-section">
                                <img src="{{expertise.cover_photo}}" alt="">
                            </div>
                            <div class="text-section">
                                <h3>{{expertise.interest}}</h3>
                                <span>{{expertise.description}}</span>
                            </div>
                        </div>
                        <img src="assets/images/image2.png" alt="" class="check">
                    </div>
                </ng-container>
                <div *ngIf="!expertises || expertises.length === 0" class="no-data-available">
                    <p>Data Not Available</p>
                </div>
            </div>
            <div class="submission-section">
                <button class="rounded-button" (click)="expertiseSubmit()">
                    Add New Expertise →
                </button>
            </div>
            <div class="please-section">
                <p class="text-center">Please Choose at Least One</p>
            </div>
            <div style="text-align: center;margin-bottom: 30px;">
                <a (click)="goBack()"> Go Back </a>
            </div>
        </div>
    </div>

</ng-template>