<!-- <div class="login__planet"></div>
<div class="login__eclipse"></div> -->
<div class="login__blue-dot"></div>
<div class="header-top-section-bg">
    <div class="container">
        <app-header></app-header>
        <div class="modal-body col-lg-12 d-flex align-items-center flex-column" *ngIf="!resetMode">
            <p class="login__heading">Forgot Password</p>
            <p class="login__md col-lg-7 m-auto pb-5">
                Please enter your email address used to register on heaplace.co and we will send you a link where you can reset your password! 
            </p>
            <div class="col-lg-7 m-auto pb-5">
                <form name="ForgotPasswordForm" spellcheck="false" autocomplete="off" (ngSubmit)="forgotPassword(ForgotPasswordForm.valid)"
                    #ForgotPasswordForm="ngForm">
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <input type="email" class="sign-up-input"
                                pattern="^[a-zA-Z]+[a-zA-Z0-9._-]+@[a-zA-Z]+\.[a-zA-Z.]{2,5}$" placeholder="Email"
                                id="useremail" #useremail="ngModel" name="useremail"
                                [ngClass]="{' show-error ' :ForgotPasswordForm.submitted && useremail.invalid}" [(ngModel)]="user_email"
                                required>
                            <div *ngIf="ForgotPasswordForm.submitted && useremail.invalid">
                                <span class="ng-error">
                                    Invalid format for email address. Please enter an email in format: user@email.com
                                </span>
                            </div>
                        </div>
        
                        <!-- <div class="col-lg-12 form-group">
                            <input class="sign-up-input" type="password" placeholder="Password" #password="ngModel"
                                name="password" [(ngModel)]="user.password"
                                [ngClass]="{' show-error ' :ForgotPasswordForm.submitted && password.invalid}" required>
                            <div *ngIf="ForgotPasswordForm.submitted && password.invalid">
                                <span class="ng-error">
                                    Please enter your password
                                </span>
                            </div>
                        </div> -->
        
                        <div class="col-lg-12 form-group">
                            <button type="submit" class="button button__login btn-block">Reset Password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="modal-body col-lg-12 d-flex align-items-center flex-column"*ngIf="resetMode">
            <p class="login__heading">Create New Password</p>
            <p class="login__md col-lg-7 m-auto pb-5">
                Please enter your new password.
            </p>
            <div class="col-lg-7 m-auto pb-5">
                <form name="ResetPasswordForm" spellcheck="false" autocomplete="off" (ngSubmit)="resetPassword(ResetPasswordForm.valid)"
                    #ResetPasswordForm="ngForm">
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <input class="sign-up-input" type="password" name="password1" #password1="ngModel" [(ngModel)]="user.password1"
                                placeholder="Password" min="8" minlength="8"
                                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                                [ngClass]="{' show-error ' :ResetPasswordForm.submitted && password1.invalid}" required>
                            
                            <span class="ng-error p-0" *ngIf="ResetPasswordForm.submitted && password1.invalid">
                                Minimum 8 characters at least 1 uppercase 1 lowercase 1 number and 1 special character
                            </span>
                        </div>
                        <div class="col-lg-12 form-group">
                        
                            <input class="sign-up-input" type="password" name="password2" #password2="ngModel" [(ngModel)]="user.password2"
                                placeholder="Confirm Password"
                                [ngClass]="{' show-error ' :(ResetPasswordForm.submitted && password2.invalid) ||  (ResetPasswordForm.submitted && user.password1 !=user.password2)}"
                                required>
                        
                        </div>

                        <div class="col-lg-12 form-group">
                            <button type="submit" class="button button__login btn-block">Reset Password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>