<app-auth-navbar></app-auth-navbar>
<div class="auth-sidebar">
    <app-auth-sidebar></app-auth-sidebar>
</div>
<div class="calendar-container d-flex">
    <div class="d-flex-center flex-column">
        <div class="title mb-5">Preview Your Schedule</div>
        <div class="mb-3">
            <bs-datepicker-inline style="text-align: center; width: auto;" [minDate]="minDate"
                [(bsValue)]="calenderDate" [bsConfig]="{containerClass:'theme-blue', showWeekNumbers:false}"
                (bsValueChange)="onValueChange($event)">
            </bs-datepicker-inline>
        </div>
        <!-- <div id="calendar">
                <div id="cale-container">
                    <div id="cale-nav-container">
                        <div class="btn-flex-center">
                            <div class="btn-flex-center" id="cale-prev-week-container">
                                <div id="cale-prev-week" (click)="previousWeek()">
                                    &lt; </div>
                            </div>
                            <div class="btn-flex-center" id="cale-current-month-year-container"><span>{{week}}</span>
                                <app-week-selection (weekRange)="changeWeek($event)"></app-week-selection>
                            </div>
                            <div class="btn-flex-center" id="cale-prev-week-container">
                                <div id="cale-next-week" (click)="nextWeek()">&gt;</div>
                            </div>
                        </div>
                    </div>
                    <div id="cale-week-container">
                        <div id="cale-dates-container">
                            <div id="cale-dates-container">
                                <div class="cale-date-header" id="cale-date-header-0" *ngFor="let day of days">
                                    <div class="cale-date-number">{{day.day}}</div>
                                    <div class="cale-date-display">{{day.date + '/' + day.month}}</div>
                                </div>
                            </div>
                        </div>
                        <div id="cale-available-time-container">
                            <div class="cale-day-time-container" id="cale-day-time-container-0" *ngFor="let day of days">
        
                                <a href="javascript:;" class="cale-available-time" [class.selected]="day.available.includes(time.time)" [class.disabled]="day.disable.includes(time.time)"
                                    *ngFor="let time of settings.availability">
                                    {{time.displayTime}}
                                </a>
        
                                <div style="clear:both;"></div>
                            </div>
        
                        </div>
                    </div>
                </div>
            </div> -->
        <button type="submit" class="btn add-new">
            Back To Edit
        </button>
    </div>
    <div class="d-flex">
        <app-available-patient></app-available-patient>
    </div>
</div>