.calendar-container{
    padding-left: 125px;
    padding-top: 50px;
    /* flex: 1; */
    display: flex;
    justify-content: space-evenly;
    .btn.add-new {
    width: 181px;
    height: 60px;
    border-radius: 20px;
    background: #00BAD5;
    margin-bottom: 12px;
    font-family: 'FFMarkWebProBook';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    }

    .title {
        font-family: 'healspace font';
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
        color: #074D63;
        margin-bottom: 17px;
        text-align: center;
    }
}