
$white: #fff;
$primary-blue: #00BAD5;
.fourth-page {
  // padding-top: 36px;
  // padding-right: 103px;
  // padding-left: 180px;
   margin-bottom: 1px;
}
.switch {
  border: unset !important;
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  cursor: pointer;
  box-shadow: rgb(223, 223, 223) 0 0 0 0 inset;
  transition: 0.3s ease-out all;
  -webkit-transition: 0.3s ease-out all;
  white-space: nowrap;
}
.head{
  font-family: 'healspace font';
  font-style: normal;
  font-size: 30px;
  line-height: 45px;
  color: #00BAD5;
  font-weight: 900;
}
.sub-head{
  font-family: 'FFMarkWebProBook';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #303030;
}

.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
  border: #adb5bd solid 1px;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #46bbd5;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

body {
  background-color: #f1f2f3;
}
.nextstep{
  margin-top: 40px;
  margin-right: 103px;
  margin-bottom: 40px;
  margin-left: 0px;
  width: 164px;
  height: 60px;
  background: #FBD036;
  border-radius: 20px;
  font-family: 'FFMarkWebProBook';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  border: 1px;
  color: #074D63;
}

.available-switch {
  // padding-left: 15px;
  // padding-top: 32px;
  padding: 15px 0;
  .custom-control-label {
      color: #074D63;

      &::after {
          background-color: $primary-blue;
      }
  }
  .custom-control-input:checked ~ .custom-control-label::after {
      background-color: $white;
  }
}