.text-custom {
  border-radius: 20px;
    width: 190px;
    background-color: #e2e8ea;
    height: 40px;
    border: 0;
}
.h1-align {
  font-family: BelyDisplayW00-Regular;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 45px;
color: #074D63;
margin-left: -10px;
margin-bottom: 20px;
}
.dv-signup {
  padding-top: 80px;
  padding-left: 150px;
  padding-bottom: 20px;

}
.dv-plan {
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-evenly;
    position: relative;
}
.sub-align {
  position: absolute;
    top: 570px;
    text-align: right;
}


.normal-font {
    font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
color: #074D63;
}

.btn-signup {
  margin-left:150px;
    background: #00BAD5;
    border-radius: 20px;
    align-items: center;
    color: #FFF;
    height: 45px;
    width: 150px;
}

.dvpackage {
  background: #FFFFFF;
  box-shadow: 0px 10px 60px rgb(0 0 0 / 6%);
  border-radius: 40px;
  margin-right: 30px;
  padding: 20px;
}

.lblpackage {
  font-family: 'FFMARKWEBPROBOOK';
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 26px;
  color: #00BAD5;
  // padding: 15px 0px 0px 25px;
}

.dollar-money-font {
font-family: 'healspace font';
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 45px;
color: #074D63;
}

.choose-btn {
    border: 1px #074D63 solid;  
    padding: 15px;
    font-weight: 600;
}
.choose-btn.btn:hover {
  color: #074D63;
  text-decoration: none;
  background-color: #FBD036;
  border: none;
}
// .btncustom {
//     background-color: #FBD036 !important;
//   }
  
  .smallfont {
    font-family: 'FFMarkWebProBook';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    width: 180px;
    color: #6D6D6D;
    list-style-type: disc;
    list-style-position: inside;
    display: list-item;
    padding: 10px 0px 0px 0px
  }

  .dv-custom-1 {
    margin-left: -30px;
    z-index: 1000;
    margin-top: 70px;
    height: auto;
  }
  .dv-custom-2 {
    margin-left: -20px;
    height: auto;
  }

  .ul-align {
    margin: 0px;
    padding: 0px;
    // margin-left: 40px;
    // margin-bottom: 20px;
  }

  .mr-60-custom {
    margin: 0px 60px 8px -28px;
  }

  .mr-m-50{
    margin: -50px 0 0 0;
  }

  .mt-30{
    margin-top: 30px;
  }
  .package-period {
    font-family: 'FFMarkWebProBook';
font-style: normal;
font-size: 16px;
line-height: 20px;
color: #00BAD5;
  }

  .mr-90{
    margin-right: 90px;
  }

  .interest-video {
    position: absolute;
    padding-top: 40px;
    right: 160px;
  }

  h6 {
    font-family: BelyDisplayW00-Regular;
    font-style: normal;
    font-weight: normal;
    color: #074D63;
  }

  #pakages-a a {
    cursor: pointer;
    color: #6D6D6D;
  }
  .dvoffer {
    background-color: #074D63;
    width: 50px;
    color: #FFF;
    border-radius: 10px;
    padding: 5px 0px 0px 8px;
    height: 32px;
    margin-top: -10px;
    margin-left: 20px;
  }

  .a-active {
    font-family: 'FFMarkWebProBook';
    color: #00BAD5 !important;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgb(0 0 0 / 6%);
    border-radius: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
  }
  .a-deactive{
    font-family: 'FFMarkWebProBook';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #6D6D6D !important;

  }
  .title{
    font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
color: #074D63;
padding-top: 25px;
text-align: center;
  }
  .sub-title{
    font-family: 'BelyDisplayW-Regular';
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 45px;
color: #074D63;
  }
  .sub-content{
    font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
color: #6D6D6D;
text-align: left;
    // padding: 0px 108px;
  }

.p-confirmation{
  padding-left: 98px;
  position: absolute;
  padding-top: 98px;
  bottom: 0px;
  height: -webkit-fill-available;
}  

.confirmaion{
  background: #ffffff; 
  .p1-confirmaion-wrapper{
    position: absolute;
    background: #ffffff;
    text-align: center;
  }
  .p2-confirmaion-wrapper{
    position: inherit !important;
  }
  .payment-card{
    background: #FFFFFF;
    box-shadow: 0px 15px 30px rgb(0 0 0 / 5%);
    border-radius: 20px;
    height: 120px;
    text-align: center;
    cursor: pointer;
}
.heading{
  font-family: 'healspace font';
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
color: #074D63;
}
.plan-h{
  font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
color: #00BAD5;
}
.plan-t{
  font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 24px;
color: #074D63;
}
.plan-c{
  font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
color: #074D63;
font-family: 'FFMarkWebProBook';
}
.p-title{
  font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
color: #074D63;
padding-top: 20px;
}
.card-t{
  font-family: 'FFMarkWebProBook';
  font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
text-align: center;
color: #074D63;
position: absolute;
top: 50px;
padding-left: 10px;
}
.choose-btn {
  border: 1px #074D63 solid;  
  padding: 15px;
}
.plus-symbol{
  font-family: 'FFMarkWebProBook';
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
  color: #074D63;
  padding-top: 40px;
vertical-align: middle;
display: inline-block;
}
 }
 .btnactive{
  background: #FBD036 !important;
  color: #074D63 !important;
  border: none !important;
}

.card-2{
  z-index: 1;
  margin-top: 30% !important;
  position: absolute !important;
}

modal-container.modal.show{
background: none !important;
}

.bg-confirm{
    background: #FAFAFA;
    padding: 20px;
    border-radius: 20px;
}