<div *ngIf="!phase2Request"><app-auth-navbar ></app-auth-navbar></div>
<div class="auth-sidebar" *ngIf="!phase2Request">
    <app-auth-sidebar></app-auth-sidebar>
</div>
<div class="container-fluid" style="background: #fafafa;padding-left: 100px;" *ngIf="!showOrderConfirmationPage">
    <div class="d-flex col-lg-12 col-md-12">
        <div class="col-md-4 col-lg-4" style="background: #ffffff;" *ngIf="!phase2Request">
            <p class="title">My current plan: <span *ngIf="isPlanActive">{{planDetails?.plan_name}} </span></p>
            <div class="dvpackage p-3 mb-3 col-lg-7 col-md-7" style="margin: 0px auto !important;" *ngIf="isPlanActive">
                <label class="lblpackage">{{planDetails?.plan_type__plan_type}}</label>
                <h1 class="dollar-money-font pl-4">${{planDetails?.sale_price}}</h1>
                <h6 class=" pl-4" style="text-decoration: line-through;">${{planDetails?.regular_price}} </h6>
                <ul class="ul-align mb-5">
                    <ng-container *ngFor="let desc of planDetails?.plan_description">
                        <ol class="smallfont">
                            {{desc | limitTo:35}}
                        </ol>
                    </ng-container>
                </ul>

            </div>
            <div *ngIf="!isPlanActive" class="btn-flex-center">
                <p> {{msg}}</p>
            </div>

            <div style="text-align: center;">
                <p class="sub-title">Interested in <br />
                    video sessions?</p>
                <p class="sub-content">Are you looking only for 1 on 1 video sessions with some of the best
                    practitioners in the world?
                    Choose this plan and start browsing our list of practitioners</p>
                <button type="button" class="btn choose-btn ml-4 btncustom" id="btn-customer"
                    (click)="openModal(template)">
                    Choose <span class="pl-2 pr-2"><i class=" fa fa-arrow-right"></i></span>
                </button>
            </div>
        </div>
        <div class="col-md-8 col-lg-8"[ngClass]="{'col-md-12 col-lg-12':phase2Request}">
            <div class="row" style="padding: 25px;margin-right: 0px !important;">
                <div class="col-md-3 col-lg-3"><a (click)="ShowPackage('Monthly Pricing','Monthly Pricing')"
                        [ngClass]="{'a-active': showPackageItems == 'Monthly Pricing','a-deactive': showPackageItems != 'Monthly Pricing'}">Monthly
                        Pricing</a></div>
                <div class="col-md-3 col-lg-3"><a (click)="ShowPackage('3', '3 Months')"
                        [ngClass]="{'a-active': showPackageItems == '3','a-deactive': showPackageItems != '3'}">3
                        months</a></div>
                <div class="col-md-3 col-lg-3"><a (click)="ShowPackage('6', '6 Months')"
                        [ngClass]="{'a-active': showPackageItems == '6','a-deactive': showPackageItems != '6'}">6
                        months</a></div>
                <div class="col-md-3 col-lg-3"><a (click)="ShowPackage('Annually', 'Annually')"
                        [ngClass]="{'a-active': showPackageItems == 'Annually','a-deactive': showPackageItems != 'Annually'}">Annually</a>
                </div>
            </div>
            <div class="dv-plan d-flex flex-wrap" *ngIf="subscriptionPlans.length>0">

                <div class="dvpackage col-lg-4 col-md-4 d-flex justify-content-center flex-column"
                    [ngClass]="{' mt-30 ': i == 0 , ' mr-m-50 ': i==2}"
                    *ngFor="let subscriptionPlan of subscriptionPlans;let i=index">
                    <label class="lblpackage">{{subscriptionPlan?.plan_name}}</label>
                    <h1 class="dollar-money-font">${{subscriptionPlan?.regular_price}}</h1>
                    <button type="button" class="btn choose-btn" id="btn-customer"
                        (click)="ChooseClick(i,subscriptionPlan)">
                        Choose <span class="pl-2 pr-2"><i class=" fa fa-arrow-right"></i></span>
                    </button>
                    <ul class="ul-align">
                        <ol class="smallfont" tooltip="{{item}}"
                            *ngFor="let item of subscriptionPlan?.plan_description">
                            {{item | limitTo:20}}
                        </ol>

                    </ul>

                </div>

            </div>
            <div class="row col-md-12 dv-plan" style="text-align: center;" *ngIf="subscriptionPlans.length === 0">
                <p>No Plans Available</p>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid confirmaion d-flex justify-content-center" [ngClass]="{' p-confirmation ':!phase2Request}" *ngIf="showOrderConfirmationPage">
    <div class="p1-confirmaion-wrapper" [ngClass]="{' p2-confirmaion-wrapper ': phase2Request}" *ngIf="!showAddNewPayment">
        <p class="heading">Thanks For Your Order, {{customerName?.user?.username}}.! You’ve selected:</p>
        <div class="col-lg-12 col-md-12 d-flex justify-content-center bg-confirm" >
            <div class="col-md-4 col-lg-4">
                <p class="plan-h">Plan</p>
                <p class="plan-t">{{selectedPlan?.plan_name}} </p>
                <span class="plan-c">Included services:
                    {{selectedPlan?.plan_description?.join()}}</span>
            </div>
            <div class="col-md-4 col-lg-4" style="background: #FAFAFA;padding: 20px;">
                <p class="plan-h">Billing</p>
                <p class="plan-t">{{selectedPlan?.plan_type__plan_type}}</p>
            </div>
            <div class="col-md-4 col-lg-4" style="">
                <p class="plan-h">Price</p>
                <h1 class="plan-t">${{selectedPlan?.sale_price}}</h1>
                <h6 style="text-decoration: line-through;">${{selectedPlan?.regular_price}}</h6>
            </div>
        </div>
        <p class="p-title">Choose payment method</p>
        <div *ngIf="!showWaitMessage">
            <div class="col-lg-12 col-md-12 btn-flex-center" style="justify-content: center;margin-right: 0px !important;">
                <div class="col-md-5 col-lg-5 payment-card d-flex justify-content-center" *ngIf="paymentCardDetails?.cc_expiry"
                    (click)="choosePaymentType('card')">
                    <div class="col-lg-12 col-md-12 btn-flex-center">
                        <div class="col-lg-3 col-md-3 btn-flex-center">
                            <img class="rounded-circle dp-booking w-60" src="assets/images/visa.png">
                        </div>
                        <div class="col-lg-7 col-md-7 d-flex flex-column">
                            <p class="designation2-booking m-0">Visa ending
                                in {{paymentCardDetails?.cc_number.slice(11)}}</p>
                            <p class="designation2-booking  m-0">Expires in
                                {{paymentCardDetails?.cc_expiry}}</p>
                        </div>
                        <div class="col-lg-2 col-md-2 btn-flex-center">
                            <svg *ngIf="selectedPaymentType === 'card'"
                                style="float: right;margin-top: 10px;margin-right: 10px;" xmlns="http://www.w3.org/2000/svg"
                                width="18" height="18" fill="#00BAD5" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                <path
                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                            </svg>
                        </div>
                        <!-- <table class="" width="250px" style="cursor: pointer;">
                                <tr>
                                    <td> <img class="rounded-circle dp-booking" style="width: 60px; height: 60px;"
                                            src="assets/images/visa.png"> </td>
                                    <td style="margin-top:5px">
                                        <p class="designation2-booking" style="margin-top: 35px;margin-bottom: 0px;">Visa ending
                                            in {{paymentCardDetails?.cc_number.slice(11)}}</p>
                                        <p class="designation2-booking" style="margin-top: 5px;">Expires in
                                            {{paymentCardDetails?.cc_expiry}}</p>
                                    </td>
                                </tr>
                            </table> -->
                    </div>
        
                </div>
                <!-- <div class="col-md-3 col-lg-3">
                        <div class="payment-card" (click)="choosePaymentType('paypal')">
                            <svg *ngIf="selectedPaymentType === 'paypal'" style="float: right;margin-top: 10px;margin-right: 10px;" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#00BAD5"
                            class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                        </svg>
                            <img style="padding-top: 49px;
                            width: 30px;" src="../../../../assets/images/customer/paypal.png" />
                            <span class="card-t">PayPal</span>
                        </div>
                    </div> -->
                <div class="col-md-3 col-lg-3 d-flex">
                    <div class="payment-card col-md-12 col-lg-12 payment-card btn-flex-center flex-column"
                        (click)="choosePaymentType('new')">
                        <svg *ngIf="selectedPaymentType === 'new'" style="float: right;margin-top: 10px;margin-right: 10px;"
                            xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#00BAD5"
                            class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                        </svg>
                        <span class="plus-symbol">+</span>
                        <span class="card-t">Add Other?</span>
                    </div>
                </div>
            </div>
            <div style="padding-top: 30px;">
                <button type="button"
                    [class.btnactive]="selectedPaymentType === 'new' || selectedPaymentType === 'card' || selectedPaymentType === 'paypal'"
                    [disabled]="!selectedPaymentType" class="btn choose-btn ml-4 btncustom" id="btn-customer"
                    (click)="addSubscription(true)">
                    Go to Payment <span class="pl-2 pr-2"><i class=" fa fa-arrow-right"></i></span>
                </button>
            </div>
        </div>
        <div *ngIf="showWaitMessage">
            Please wait while your payment is processing...
        </div>
    </div>
    <div style="padding: 40px;background: #ffffff;" *ngIf="showAddNewPayment">
        <app-add-new-customer-payment (saveCardDetails)="saveCardDetails($event)"
            (goBack)="goBackToConfirmScreen($event)" [isShowBackButton]="isShowBackButton" [buttonText]="buttonText">
        </app-add-new-customer-payment>
    </div>
</div>

<ng-template class="cancel-subscription" #template>
    <div class="modal-body text-center">
        <p>Do you want to confirm?</p>
        <button type="button" class="btn btn-default" (click)="confirm()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="decline()">No</button>
    </div>
</ng-template>