<app-auth-navbar></app-auth-navbar>
<div class="auth-sidebar">
    <app-auth-sidebar></app-auth-sidebar>
</div>

<div class="row exp" style="margin-right: 0px !important;">
    <div class="left-section">
        <div class="expertise-section">
            <div [ngClass]="['card', 'expertise-card', (isSelected(expertise.id) ? 'active' : '')]"
                *ngFor="let expertise of expertises">
                <div class="card-body">
                    <div class="img-section">
                        <img [src]="expertise.cover_photo" [alt]="expertise.interest">
                    </div>
                    <div class="text-section">
                        <p style="text-align: right;
                        margin-bottom: 0px;
                        margin-right: 10px;"><a [popover]="popTemplate" placement="left" [outsideClick]="true" (click)="showOptions(expertise)"><img style="transform: rotate(90deg);width:10px" src="../../../../assets/images/more.svg" /></a></p>
                        <h3>{{expertise.interest}}</h3>
                        <span>{{expertise.description}}</span>
                    </div>
                </div>
                <img src="assets/images/image2.png" alt="" class="check">
            </div>
            <div *ngIf="!expertises" class="no-data-available">
                <p>Data Not Available</p>
            </div>
        </div>
        <div class="submission-section">
            <button (click)="addInterest()" class="rounded-button">
                Add Interest
            </button>
        </div>
    </div>
</div>

<ng-template #popTemplate>
    <div class="action-popover">
        <p class="text">
            <span (click)="edit()">Edit</span>
            |
            <span (click)="delete()">Remove</span>
        </p>
    </div>
</ng-template>