$white: #fff;
$primary-blue: #00BAD5;
$secondary-blue: #074D63;
$card-bg: rgba(255, 244, 227, 0.5);
$text-title: #6D6D6D;
$slight-grey: #FAFAFA;
$main-font: healspace font;
$box-hadow: 0 0.75rem 1.5rem rgba(18, 38, 63, .03);

.exp {
    background-color: $white;
    .dot1
    {
        position: absolute;
        width: 5.53px;
        height: 5.35px;
        left: 88%;
        top: -7%;
        /* background: #074D63; */
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    .section-title {
        font-size: 14px;
        color: $secondary-blue;
    }

    .left-section {
        flex: 1 1 auto;
        padding-left: 128px;
        .title-section {
            width: 100%;
            margin-top: 36px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;

            h1 {
                font-family: $main-font;
                font-size: 24px;
                line-height: 30px;
                color: $secondary-blue;
            }

            .secondary-title {
                max-width: 420px;

                h2 {
                    font-size: 16px;
                    line-height: 20px;
                    color: $secondary-blue;
                }
            }
        }

        .expertise-section {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .expertise-card {
                margin-top: 40px;
                box-shadow: none;
                background: $card-bg;
                width: 360px;
                height: 108px;
                box-shadow: none;
                position: relative;
                cursor: pointer;

                &.active {
                    box-shadow: $box-hadow;
                    background: $white;

                    .check {
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 4px;
                        width: 32px;
                        height: 32px;
                    }
                }

                .check {
                    display: none;
                }

                .card-body {
                    padding: 0;
                    display: flex;

                    .img-section {
                        width: 145px;
                        object-position: left;
                        overflow: hidden;

                        img {
                            height: 100%;
                            width: auto;
                            border-radius: 20px 0 0 20px;
                        }
                    }

                    .text-section {
                        flex: 1 1 auto;
                        padding: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        h3 {
                            font-size: 16px;
                            line-height: 30px;
                            margin-bottom: 0;
                            text-align: right;
                            font-family: $main-font;
                            color: $secondary-blue;
                        }

                        span {
                            font-size: 10px;
                            line-height: 15px;
                            margin-bottom: 0;
                            text-align: right;
                            color: $secondary-blue;
                        }
                    }
                }
            }
        }

        .submission-section {
            margin-top: 55px;
            margin-bottom: 73px;
            display: flex;
            justify-content: center;

            button {
                width: 360px;
                height: 60px;
                padding: 20px;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
            }
        }
    }

    .rounded-button {
        border: 0;
        border-radius: 20px;
        color: $white;
        background-color: $primary-blue;
        width: 120px;
        height: 40px;
        padding: 11px 30px;
    }
}

.action-popover{
    .text{
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #074D63;
        margin-bottom: 0px;
        padding: 10px;
        font-family: 'FFMarkWebProBook';
    }
}