


@import "../../../../assets/scss/practitioner.scss";

.course-widget{
    padding: 0px 65px 15px 145px;
    background-color: #E5E5E5;
    @include screen('xs'){
        padding: 15px 15px 15px 15px;
    }
    .course-bx{
        padding:80px 0;
        @include screen('xs'){
            padding: 15px 0;
            padding-top:0px;
        }
        .mb-30{
            margin-bottom: 30px;
            @include screen('xs'){
                margin-bottom: 15px;
            }
        }
        button{
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            color: #074D63;
            border-radius: 20px;
            border:1px solid #074D63;
            background-color: transparent;
            padding: 20px 40px;
        }
        .sub-h{
            font-family: "Healspace font";
            font-size: 24px;
            line-height: 30px;
            color: #074D63;
            font-weight:500;
            @include screen('xs'){
                font-size: 18px;
            }
        }
        .sub-btn-h{
            background: #00BAD5;
            border-radius: 20px;
            padding: 20px 32px;
            border:0;
            color:#fff;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
        }
        .mt-32{
            margin-top:32px;
            @include screen('xs'){
                margin-top:15px;
            }
        }
        .mt-124{
            margin-top:124px;
            @include screen('xs'){
                margin-top:15px;
            }
        }
        .sub-h-xs{
            color: #074D63;
            font-size: 14px;
            line-height: 18px;
        }
        .mt-40{
            margin-top:40px;
            @include screen('xs'){
                margin-top:15px;
            }
        }
        .crs-list{
            border-radius: 20px;
            .crs-left{
                width:100%;
                height:100%;
                position: relative;
                @include screen('xs'){
                    width:169px;
                    height:189px;
                }
                .crs-im{
                    width:100%;
                    height:100%;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius:20px ;
                }
                .crs-heart{
                    width:48px;
                    height:24px;
                    border-radius: 20px;
                    padding:4px 8px;
                    background-color: #fff;
                    position: absolute;
                    top:15px;
                    left:15px;
                    display: block;
                    img{
                        width:14px;
                    }
                    .hrt-txt{
                        font-size: 12px;
                        font-weight:600;
                        color:#074D63;
                    }
                }
            }
            .crs-right{
                background-color: #fff;
                padding:16px;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                width: 100%;
                height:100%;
                @include screen('xs'){
                    width: 100%;
                }
                @include screen('md'){
                    width: 100%;
                }
                h5{
                    font-size: 16px;
                    line-height: 20px;
                    color: #074D63;
                    font-weight:500;
                    @include screen('xs'){
                        font-size: 15px;
                    }
                }
                span{
                    font-size: 14px;
                    line-height: 18px;
                    strong{
                        color:#00BAD5;
                    }
                    
                }
                .r-img-list{
                    ul{
                        list-style-type: none;
                        margin:0;
                        padding:0;
                        padding-left:20px;
                        display:flex;
                        li{
                            margin-left:-20px;
                            .r-img-widgt{
                                display: block;
                                width:40px;
                                height:40px;
                                border-radius: 100%;
                                img{
                                    width:100%;
                                    border-radius: 100%;;
                                }
                            }
                        }
                        li:first:child{
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}