<app-auth-navbar></app-auth-navbar>
<div class="auth-sidebar">
    <app-auth-sidebar></app-auth-sidebar>
</div>
<section class="course-widget">
    <div class="course-bx">
        <h3 class="text-center sub-h">Do you have something new to share?</h3>
        <div class="mt-32 text-center">
            <button class="sub-btn-h" type="button" (click)="openMe()">Upload New Course</button>
        </div>
        <div class="mt-124">
            <h6 class="sub-h-xs">My Courses (22)</h6>
        </div>
        <div class="mt-40">
            <div class="row">
                <div class="col-12  col-md-12 col-sm-6 col-lg-6 col-xl-4 mb-30">
                    <div class="crs-list row align-items-stretch">
                        <div class="col-5 col-lg-5 pr-0">
                            <div class="crs-left d-flex align-items-center">
                                <img class="crs-im" src="../../../../assets/images/Rectangle-371.png" alt="image" />
                                <div class="crs-heart d-flex">
                                    <div class="mr-1">
                                        <i><img src="../../../../assets/images/Heart-Empty.png"></i>
                                    </div>
                                    <div class="hrt-txt">32</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-7 col-lg-7 pl-0">
                            <div class="crs-right">
                                <h5 class="mb-2">
                                    Train you mind and body in 5 steps
                                </h5>
                                <span class="d-block mb-2">Price : <strong>Free</strong></span>
                                <span class="d-block mb-2">5 lesson | 35 min</span>
                                <div class="d-flex align-items-center">
                                    <div class="mr-3">
                                        <div class="r-img-list">
                                            <ul>
                                                <li>
                                                    <div class="r-img-widgt">
                                                        <img src="../../../../assets/images/ronald.png" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="r-img-widgt">
                                                        <img src="../../../../assets/images/mark image.png" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="r-img-widgt">
                                                        <img src="../../../../assets/images/ronald.png" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="r-img-widgt">
                                                        <img src="../../../../assets/images/ronald.png" />
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        75 Plays
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-12  col-md-12 col-sm-6 col-lg-6 col-xl-4 mb-30">
                    <div class="crs-list row align-items-stretch">
                        <div class="col-5 col-lg-5 pr-0">
                            <div class="crs-left d-flex align-items-center">
                                <img class="crs-im" src="../../../../assets/images/Rectangle-371.png" alt="image" />
                                <div class="crs-heart d-flex">
                                    <div class="mr-1">
                                        <i><img src="../../../../assets/images/Heart-Empty.png"></i>
                                    </div>
                                    <div class="hrt-txt">32</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-7 col-lg-7 pl-0">
                            <div class="crs-right">
                                <h5 class="mb-2">
                                    Train you mind and body in 5 steps
                                </h5>
                                <span class="d-block mb-2">Price : <strong>Free</strong></span>
                                <span class="d-block mb-2">5 lesson | 35 min</span>
                                <div class="d-flex align-items-center">
                                    <div class="mr-3">
                                        <div class="r-img-list">
                                            <ul>
                                                <li>
                                                    <div class="r-img-widgt">
                                                        <img src="../../../../assets/images/ronald.png" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="r-img-widgt">
                                                        <img src="../../../../assets/images/mark image.png" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="r-img-widgt">
                                                        <img src="../../../../assets/images/ronald.png" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="r-img-widgt">
                                                        <img src="../../../../assets/images/ronald.png" />
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        75 Plays
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-12  col-md-12 col-sm-6 col-lg-6 col-xl-4 mb-30">
                    <div class="crs-list row align-items-stretch">
                        <div class="col-5 col-lg-5 pr-0">
                            <div class="crs-left d-flex align-items-center">
                                <img class="crs-im" src="../../../../assets/images/Rectangle-371.png" alt="image" />
                                <div class="crs-heart d-flex">
                                    <div class="mr-1">
                                        <i><img src="../../../../assets/images/Heart-Empty.png"></i>
                                    </div>
                                    <div class="hrt-txt">32</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-7 col-lg-7 pl-0">
                            <div class="crs-right">
                                <h5 class="mb-2">
                                    Train you mind and body in 5 steps
                                </h5>
                                <span class="d-block mb-2">Price : <strong>Free</strong></span>
                                <span class="d-block mb-2">5 lesson | 35 min</span>
                                <div class="d-flex align-items-center">
                                    <div class="mr-3">
                                        <div class="r-img-list">
                                            <ul>
                                                <li>
                                                    <div class="r-img-widgt">
                                                        <img src="../../../../assets/images/ronald.png" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="r-img-widgt">
                                                        <img src="../../../../assets/images/mark image.png" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="r-img-widgt">
                                                        <img src="../../../../assets/images/ronald.png" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="r-img-widgt">
                                                        <img src="../../../../assets/images/ronald.png" />
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        75 Plays
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-12  col-md-12 col-sm-6 col-lg-6 col-xl-4 mb-30">
                    <div class="crs-list row align-items-stretch">
                        <div class="col-5 col-lg-5 pr-0">
                            <div class="crs-left d-flex align-items-center">
                                <img class="crs-im" src="../../../../assets/images/Rectangle-371.png" alt="image" />
                                <div class="crs-heart d-flex">
                                    <div class="mr-1">
                                        <i><img src="../../../../assets/images/Heart-Empty.png"></i>
                                    </div>
                                    <div class="hrt-txt">32</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-7 col-lg-7 pl-0">
                            <div class="crs-right">
                                <h5 class="mb-2">
                                    Train you mind and body in 5 steps
                                </h5>
                                <span class="d-block mb-2">Price : <strong>Free</strong></span>
                                <span class="d-block mb-2">5 lesson | 35 min</span>
                                <div class="d-flex align-items-center">
                                    <div class="mr-3">
                                        <div class="r-img-list">
                                            <ul>
                                                <li>
                                                    <div class="r-img-widgt">
                                                        <img src="../../../../assets/images/ronald.png" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="r-img-widgt">
                                                        <img src="../../../../assets/images/mark image.png" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="r-img-widgt">
                                                        <img src="../../../../assets/images/ronald.png" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="r-img-widgt">
                                                        <img src="../../../../assets/images/ronald.png" />
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        75 Plays
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-12  col-md-12 col-sm-6 col-lg-6 col-xl-4 mb-30">
                    <div class="crs-list row align-items-stretch">
                        <div class="col-5 col-lg-5 pr-0">
                            <div class="crs-left d-flex align-items-center">
                                <img class="crs-im" src="../../../../assets/images/Rectangle-371.png" alt="image" />
                                <div class="crs-heart d-flex">
                                    <div class="mr-1">
                                        <i><img src="../../../../assets/images/Heart-Empty.png"></i>
                                    </div>
                                    <div class="hrt-txt">32</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-7 col-lg-7 pl-0">
                            <div class="crs-right">
                                <h5 class="mb-2">
                                    Train you mind and body in 5 steps
                                </h5>
                                <span class="d-block mb-2">Price : <strong>Free</strong></span>
                                <span class="d-block mb-2">5 lesson | 35 min</span>
                                <div class="d-flex align-items-center">
                                    <div class="mr-3">
                                        <div class="r-img-list">
                                            <ul>
                                                <li>
                                                    <div class="r-img-widgt">
                                                        <img src="../../../../assets/images/ronald.png" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="r-img-widgt">
                                                        <img src="../../../../assets/images/mark image.png" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="r-img-widgt">
                                                        <img src="../../../../assets/images/ronald.png" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="r-img-widgt">
                                                        <img src="../../../../assets/images/ronald.png" />
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        75 Plays
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-12  col-md-12 col-sm-6 col-lg-6 col-xl-4 mb-30">
                    <div class="crs-list row align-items-stretch">
                        <div class="col-5 col-lg-5 pr-0">
                            <div class="crs-left d-flex align-items-center">
                                <img class="crs-im" src="../../../../assets/images/Rectangle-371.png" alt="image" />
                                <div class="crs-heart d-flex">
                                    <div class="mr-1">
                                        <i><img src="../../../../assets/images/Heart-Empty.png"></i>
                                    </div>
                                    <div class="hrt-txt">32</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-7 col-lg-7 pl-0">
                            <div class="crs-right">
                                <h5 class="mb-2">
                                    Train you mind and body in 5 steps
                                </h5>
                                <span class="d-block mb-2">Price : <strong>Free</strong></span>
                                <span class="d-block mb-2">5 lesson | 35 min</span>
                                <div class="d-flex align-items-center">
                                    <div class="mr-3">
                                        <div class="r-img-list">
                                            <ul>
                                                <li>
                                                    <div class="r-img-widgt">
                                                        <img src="../../../../assets/images/ronald.png" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="r-img-widgt">
                                                        <img src="../../../../assets/images/mark image.png" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="r-img-widgt">
                                                        <img src="../../../../assets/images/ronald.png" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="r-img-widgt">
                                                        <img src="../../../../assets/images/ronald.png" />
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        75 Plays
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-40">
            <button>Load More →</button>
        </div>
    </div>
    
</section>
