.header-top-section-bg {
    padding-bottom     : 100px;
    background-image   : url(../../../assets/images/bg/search-page-bg.svg);
    background-position: center;
    background-size    : cover;
    background-repeat  : no-repeat;
}
.top-space-tb {
    padding-top   : 50px;
    padding-bottom: 50px;
}


.search {
    &__heading {
        font-family  : 'healspace font';
        margin-bottom: 0px;
        font-style   : normal;
        font-weight  : normal;
        font-size    : 48px;
        line-height  : 76px;
        color        : #074D63;
        text-align   : center;
        @media screen and (max-width:767px) and (min-width: 320px) {
            font-size  : 48px;
            line-height: 64px;
        }

    }

    &__des {
        margin-bottom: 20px;
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 20px;
        line-height: 32px;
        text-align: center;
        color: #074D63;
        @media screen and (max-width:767px) and (min-width: 320px) {
            font-size  : 16px;
            line-height: 32px;
        }

    }

    &__title {

        font-family: 'healspace font';
        font-style : normal;
        font-weight: normal;
        font-size  : 40px;
        line-height: 45px;
        color      : #074D63;
        padding    : 0 0 30px;
        @media screen and (max-width: 767px) and (min-width: 320px) {
            font-size  : 20px!important;
            padding-bottom: 0!important;
        }
    }


    &__are-text {
        font-family: 'healspace font';
        font-style : normal;
        font-weight: normal;
        font-size  : 64px;
        line-height: 76px;
        /* or 119% */


        /* Secondary */

        color: #074D63;
    }

    &__s-des {
        font-style : normal;
        font-weight: normal;
        font-size  : 16px;
        line-height: 32px;
        /* or 200% */


        color: #000000;
    }

    &__m-heading {
        font-family: 'healspace font';
        font-style : normal;
        font-weight: normal;
        font-size  : 40px;
        line-height: 45px;
        /* or 112% */


        /* Secondary */

        color: #074D63;
    }

    &__bottom-blue {
        font-family: 'healspace font';
        font-style : normal;
        text-align : center;
        font-weight: normal;
        font-size  : 40px;
        line-height: 45px;
        /* identical to box height, or 112% */

        text-align: center;

        /* Primary */

        color: #00BAD5;


        /* Inside Auto Layout */

        flex     : none;
        order    : 0;
        flex-grow: 0;
        margin   : 20px 0px;
    }
}

.see-all {
    font-family: 'FFMarkWebProBook';
    font-style : normal;
    font-weight: bold;
    font-size  : 24px;
    line-height: 35px;
    color      : #000000;
    cursor: pointer;
}

// tabs 

.nav-tabs {
    border-bottom: 1px solid transparent;
}

.nav {
    display      : flex;
    flex-wrap    : wrap;
    padding-left : 0;
    margin-bottom: 0;
    list-style   : none;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color              : #fff;
    // background-color: #fff;
    border-color       : #00BAD5;

    background   : #00BAD5;
    border-radius: 8px;

}

.nav-tabs .nav-link {
    margin-bottom          : -1px;
    border                 : 1px solid transparent;
    border-top-left-radius : 1.25rem;
    border-top-right-radius: 1.25rem;
}

.nav-tabs>li>a,
.nav-pills>li>a {
    font-weight  : 500;
    background   : #FAFAFA;
    border-radius: 8px;
    margin-right : 12px;

    font-family: 'FFMarkWebProBook';
    font-style : normal;
    font-weight: normal;
    font-size  : 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    text-align: center;

    /* Secondary */

    color: #074D63;


}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}