<div class="header-top-section-bg" *ngIf="!isLoading" >

    <app-header></app-header>
    <div class="container top-space-tb">
        <div class="d-flex justify-content-center ">
            <div class="col-lg-12 p-0">
                <p class="search__heading ">We found {{totalCount}} results for “{{searchText}}”</p>
                <p class="search__des">See below practitioners, courses and live events from this category!</p>
            </div>
        </div>
    </div>

    <div class="container top-space-tb">
        <div class="row mx-0 justify-content-between">
            <p class="search__title">Practitioners for “{{searchText}}” </p>
            <span class="see-all " *ngIf="homeDetail?.practitioner_list?.length>0" [routerLink]="['/practitioner/search',searchText]">see all</span>
            
        </div>
        <div class="row mx-0">
            <div class="col-lg-12 p-0 search" *ngIf="homeDetail?.practitioner_list?.length>0">
                <app-practitioner-carousel [related_practitioner]="homeDetail.practitioner_list">
                </app-practitioner-carousel>
            </div>
            <div class="col-lg-12 p-0 search d-flex-center no-data" *ngIf="homeDetail?.practitioner_list?.length==0">
                No Record Found
            </div>
        </div>
    </div>

    <div class="container top-space-tb">
        <div class="row mx-0 justify-content-between">
            <p class="search__title">Courses for “{{searchText}}”</p>
            <span class="see-all " *ngIf="homeDetail?.courses_list?.length>0" [routerLink]="['/all-course',searchText]">see all</span>
        </div>
        <div class="row mx-0">
            <div class="col-lg-12 p-0 search" *ngIf="homeDetail?.courses_list?.length>0">
                <app-course-carousel [related_courses]="homeDetail.courses_list"> </app-course-carousel>
            </div>
            <div class="col-lg-12 p-0 search d-flex-center no-data" *ngIf="homeDetail?.courses_list?.length==0">
                No Record Found
            </div>
        </div>
    </div>

    <div class="container top-space-tb">
        <div class="row mx-0 justify-content-between">
            <p class="search__title">Live Classes for “{{searchText}}”</p>
            <span class="see-all " *ngIf="homeDetail?.live_class_list?.length>0" [routerLink]="['/live-classes',searchText]">see all</span>
        </div>
        <div class="row mx-0">
            <div class="col-lg-12 p-0 search" *ngIf="homeDetail?.live_class_list?.length>0">
                <app-class-carousel [live_classes]="homeDetail.live_class_list">
                </app-class-carousel>
            </div>
            <div class="col-lg-12 p-0 search d-flex-center no-data" *ngIf="homeDetail?.live_class_list?.length==0">
                No Record Found
            </div>
        </div>
    </div>

    <div class="container top-space-tb">
        <div class="row mx-0 justify-content-between">
            <p class="search__title">Articles for “{{searchText}}”</p>
            <span class="see-all " *ngIf="homeDetail?.article_list?.length>0" [routerLink]="['/all-article',searchText]">see all</span>
        </div>
        <div class="row mx-0">
            <div class="col-lg-12 p-0 search article-drag" *ngIf="homeDetail?.article_list?.length>0">
                <app-article-carousel [articles]="homeDetail.article_list">
                </app-article-carousel>
            </div>
            <div class="col-lg-12 p-0 search d-flex-center no-data" *ngIf="homeDetail?.article_list?.length==0">
                No Record Found
            </div>
        </div>
    </div>

</div>
<app-footer *ngIf="!isLoading"></app-footer>