



$breakpoints:(
    'xs': 767px,
    'sm': 991px,
    'md' : 1024px,
    'lg' : 1980px
)!default;

@mixin screen ($breakpoint){
    @if map-has-key($breakpoints, $breakpoint){
        @media (max-width: map-get($breakpoints, $breakpoint)){
            @content;
        }
    }
}