
.checkbox
{
    position: absolute;
    left: -9999px;
    
    & + label
    {
        position: relative;
        display: inline-block;
        padding: 6px 30px;
        cursor: pointer;

        &:before,
        &:after
        {
            position: absolute;
            top: 0;
            content: '';
            border-radius: 1px;
        }
        
        &:before
        {
            top: 4px;
            left: 0;
            width: 18px;
            height: 18px;
            border: 1px solid #CCC;
            background-color: #fff;
        }
        
        &:after
        {
            /* hidden */
            width: 0;
            height: 0; 
        }
        
    }
    
    &:checked
    {
        & + label
        {
            &:before{
              border-color: #0096D9;;
              background-color: #0096D9;;
            }
          
            &:after{
              width: 6px;
              height: 13px;
              top: 3px;
              left: 5px;
              
              color: #fff;
              border-top: 2px solid transparent;
              border-left: 2px solid transparent;
              border-right: 2px solid #fff;
              border-bottom: 2px solid #fff;

              -webkit-transform: rotate(37deg);
                  -ms-transform: rotate(37deg);
                   -o-transform: rotate(37deg);
                      transform: rotate(37deg);
            }
        }
    }
    
    &:disabled
    {
        
        & + label
        {
            color: #CCC;
          
            &:before{
              border-color: #CCC;
              background-color: #F2F2F2;
              box-shadow: none;
            }
          
            &:after{
              /* hidden */
              width: 0;
              height: 0; 
            }
        }                
    }
}

.login-1 input[type=checkbox], input[type=radio] {
    position: absolute!important;
    left:  9000px!important;
}


.up-session .nav-pills .nav-item .nav-link {
    font-family: "FFMarkWebProBook";
    font-style : normal;
    font-weight: bold;
    font-size  : 14px;
    line-height: 18px;

    color     : rgba(109, 109, 109, 0.5);
    background: transparent !important;
    box-shadow: none !important;
    // padding-left: 0;
    padding-top: 20px;
    padding-bottom: 20px;

    &:hover,
    &.active {
        color: #074D63;
    }
}

.session-type-tab{
    .nav-link.active{
        color: #fff;
        background-color: #00BAD5;
        padding: 20px 32px;
        font-weight: 700;
        border-radius: 20px;
    }
    .nav-link{
        color: #fff;
        background-color: #6D6D6D40;
        padding: 20px 32px;
        font-weight: 700;
        border-radius: 20px;
        margin: 0 12px;
    } 
}