// @font-face {
//     font-family: 'FFMarkWebProBook';
//     src: url('../../assets/fonts/FFMarkWebProBook/font.woff2') format('woff2'), url('../../assets/fonts/FFMarkWebProBook/font.woff') format('woff');
// }

* {
    padding: 0;
    margin : 0;
}

// .header-top-section-bg {
//     padding-bottom     : 100px;
//     background-image   : url(../../assets/images/background.svg);
//     background-position: center;
//     background-size    : cover;
//     background-repeat  : no-repeat;
// }

.d-flex-center {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.d-flex-evenly {
    justify-content: space-evenly !important;
}

.social-icon {
    background   : #00BAD5;
    width        : 40px;
    height       : 40px;
    border-radius: 50%;
    color        : #fff;
    margin-right : 12px;
}

.social-icon a {
    color: #FFF;
}

.social-icon a:hover {
    color: #FFF;
}

.social-icon-margin {
    margin-bottom: 24px;
}

.font-12-20 {
    font-size  : 12px;
    line-height: 20px;
}

.font-16-20 {
    font-size  : 16px;
    line-height: 20px;
}

.font-20-20 {
    font-size  : 20px;
    line-height: 20px;
}

.font-16-18 {
    font-size  : 16px;
    line-height: 18px;
}

.font-14-18 {
    font-size  : 14px;
    line-height: 18px;
}

.theme-text {
    color      : #00BAD5;
    font-weight: 700;
}

.color-theme {
    color: #00BAD5 !important;
}

.color-blue {
    color: #074D63 !important;
}

.color-grey {
    color: #6D6D6D !important;
}

.cp {
    cursor: pointer !important;
}


.favorite-modal {
    .modal-dialog {
        transition: transform 0.3s ease-out;
        transform : translate(200px, -200px) !important;
    }
}

.favorite-modal.modal.show {
    background: none !important;
    opacity   : none !important;
}

.confirm-modal.modal.show {
    background: #074D6380 !important;
    opacity   : 1 !important;
}

.donate-class-modal.modal.show {
    background: #074D6380 !important;
    opacity   : 1 !important;
}

.share-modal.modal.show {
    background: #074D6380 !important;
    opacity   : 1 !important;
}

.p-signup-modal.modal.show {
    background: #074D6380 !important;
    opacity   : 1 !important;
}

.share-modal.modal.show {
    background: #074D6380 !important;
    opacity   : 1 !important;
}

.purchase-course-modal.modal.show {
    background: #074D6380 !important;
    opacity   : 1 !important;
}

.login-view-class-modal.modal.show {
    background: #074D6380 !important;
    opacity   : 1 !important;
}

.join-class-modal.modal.show {
    background: #074D6380 !important;
    opacity   : 1 !important;
}

.join-class-modal {
    .modal-dialog {
        position : relative !important;
        max-width: 800px;
    }

    .component-host-scrollable {
        // overflow-y: scroll;
    }
}


.signup-class-modal.modal.show {
    background: #074D6380 !important;
    opacity   : 1 !important;
}

.signup-class-modal {
    .modal-dialog {
        position : relative !important;
        max-width: 800px;
    }

    .component-host-scrollable {
        // overflow-y: scroll;
    }
}



.userinfo.dropdown-menu-left {
    left: -30px !important;
}

.user-truncatte {
    width        : 130px;
    white-space  : nowrap;
    overflow     : hidden;
    text-overflow: ellipsis;
}

.userinfo {
    padding: 30px;

    .profile-image {
        width          : 64px;
        height         : 64px;
        border-radius  : 50%;
        overflow       : hidden;
        display        : flex;
        justify-content: center;
        align-items    : center;
        margin-right   : 16px;

        img {
            width: 100%;
        }
    }

    .dropdown-item {
        color  : #6D6D6D !important;
        padding: 0.35rem;
    }

    .color-theme {
        color: #00BAD5 !important;
    }

    .font-bold {
        font-weight: 700 !important;
    }

    // .dropdown-item:last-child{
    //     font-weight: 700;
    // }
    .dropdown-item:hover {
        color      : #074D63 !important;
        font-weight: bold !important;
        background : none !important;
    }

}

.login-signup {
    margin-left: -36px;
    padding    : 12px 36px;

    .font-bold {
        font-weight: 700;
    }

    .dropdown-item:hover {
        background: none !important;
    }
}


// form css
form.example {
    display: flex;
    width  : 100%;

    i {

        position: absolute;
        left    : 40px;
        top     : 20px;
        color   : #074D63;

        opacity: 0.3;
    }

    input[type=text] {
        padding  : 10px;
        font-size: 17px;
        border   : 1px solid #FFFFFF;
        float    : left;
        width    : 100%;


        background   : #FFFFFF;
        box-shadow   : 0px 40px 50px rgba(0, 0, 0, 0.04);
        border-radius: 20px 0 0px 20px;
        border       : none;
        padding      : 15px 50px;
    }

    .s-btn {
        float      : left;
        left       : 0px;
        position   : relative;
        width      : 145px;
        border     : 1px solid #074D63;
        border-left: none;
        cursor     : pointer;

        font-style   : normal;
        font-weight  : bold;
        font-size    : 16px;
        line-height  : 20px;
        padding      : 12px;
        color        : #FFFFFF;
        background   : #074D63;
        border-radius: 20px;

        &:hover {
            background: #074D63;
        }
    }




    &::after {
        content: "";
        clear  : both;
        display: table;
    }
}

input::placeholder {
    font-style : normal;
    font-weight: normal;
    font-size  : 16px;
    line-height: 20px;
    color      : #074D63;
    opacity    : 0.3;
}

input:focus,
select:focus {
    outline: none;
}

.v2-form-input {
    background   : #FFFFFF;
    width        : 240px;
    box-shadow   : 0px 40px 50px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    font-style   : normal;
    font-size    : 20px;
    line-height  : 20px;
    padding      : 12px 24px;
    border       : 1px solid #fff;
    color        : #074D63;
    height       : 54px;

    @media screen and (max-width: 767px) and (min-width: 320px) {
        width        : 150px;
        height       : 44px;
        margin-bottom: 10px !important;
    }

}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .p-res-15 {
        padding: 0 8px !important;
    }
}

#dropdown-container1 {
    display      : flex !important;
    flex-wrap    : wrap;
    align-items  : flex-start !important;
    padding      : 20px !important;
    position     : relative !important;
    max-width    : 450px !important;
    height       : auto !important;
    background   : #FFFFFF !important;
    box-shadow   : 0px 30px 70px rgb(0 0 0 / 12%) !important;
    border-radius: 20px;

    li {
        display: flex;
        width  : 50%;
    }

}

#dropdown-container2 {
    display      : flex !important;
    flex-wrap    : wrap;
    align-items  : flex-start !important;
    padding      : 20px !important;
    position     : relative !important;
    max-width    : 280px !important;
    height       : auto !important;
    background   : #FFFFFF !important;
    box-shadow   : 0px 30px 70px rgb(0 0 0 / 12%) !important;
    border-radius: 20px;

    li {
        display: flex;
        width  : 50%;
    }

}


.container1 {
    position: relative;
    width   : 100%;
}

.image {
    opacity            : 1;
    display            : block;
    width              : 100%;
    height             : auto;
    transition         : .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition   : .5s ease;
    opacity      : 0;
    position     : absolute;
    top          : 50%;
    left         : 50%;
    transform    : translate(50%, 40%);
    -ms-transform: translate(50%, 40%);
    text-align   : center;
}

.container1:hover .image {
    // opacity: 0.3;
}

.container1:hover .middle {
    opacity: 1;
}

.text {
    background-color: #04AA6D;
    color           : white;
    font-size       : 16px;
    padding         : 16px 32px;
}



select.select-initialized {
    display: none !important;
}


select:-moz-focusring {
    color      : transparent;
    text-shadow: 0 0 0 #000;
}

.selectParent select {
    background: #fff url("../../assets/images/down.png") no-repeat 90% center;


    width        : 240px;
    box-shadow   : 0px 40px 50px rgba(0, 0, 0, 0.04);
    border-radius: 20px;

    font-style    : normal;
    // font-weight: bold;
    font-size     : 20px;
    line-height   : 20px;
    padding       : 12px 24px;
    border        : 1px solid #fff;

    color: #074D63;

    display           : inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
    -webkit-appearance: none;
    -moz-appearance   : none;

}

// form css end

// .bs-popover-left, .bs-popover-auto[x-placement^=left] {
//     margin-right: 0.5rem;
//     transform: translate3d(107px, 8px, 0px)!important;
// }

.practitioner-popover popover-container.bs-popover-right,
.bs-popover-auto[x-placement^=right] {
    margin-right: 0.5rem;
    transform   : translate3d(100px, 7px, 0px) !important;
}

.classes-popover popover-container.bs-popover-left,
.bs-popover-auto[x-placement^=left] {
    margin-right: 0.5rem;
    transform   : translate3d(160px, 7px, 0px) !important;

    @media screen and (max-width: 1199px) and (min-width: 992px) {
        transform: translate3d(118px, 7px, 0px) !important;
    }

    @media screen and (max-width: 991px) and (min-width: 768px) {
        transform: translate3d(224px, 7px, 0px) !important;
    }
}

.courses-popover popover-container.bs-popover-left,
.bs-popover-auto[x-placement^=left] {
    margin-right: 0.5rem;
    transform   : translate3d(160px, 7px, 0px) !important;

    @media screen and (max-width: 1199px) and (min-width: 992px) {
        transform: translate3d(110px, 7px, 0px) !important;
    }

    @media screen and (max-width: 991px) and (min-width: 768px) {
        transform: translate3d(115px, 7px, 0px) !important;
    }

}

.articles-popover popover-container.bs-popover-left,
.bs-popover-auto[x-placement^=left] {
    margin-right: 0.5rem;
    transform   : translate3d(253px, 7px, 0px) !important;

    @media screen and (max-width: 1199px) and (min-width: 992px) {
        transform: translate3d(186px, 7px, 0px) !important
    }

    @media screen and (max-width: 991px) and (min-width: 768px) {
        transform: translate3d(230px, 7px, 0px) !important
    }

    @media screen and (max-width: 767px) and (min-width: 576px) {
        transform: translate3d(140px, 7px, 0px) !important
    }

    @media screen and (max-width: 575px) and (min-width: 320px) {
        transform: translate3d(137px, 7px, 0px) !important
    }
}

.popover-body {
    padding    : 0.5rem 0.75rem;
    font-family: 'FFMarkWebProBook';
    font-style : normal;
    font-weight: bold;
    font-size  : 14px;
    line-height: 18px;
    color      : #074D63;
}

.drag-scroll-content {
    overflow: hidden !important;

    @media screen and (max-width: 1199px) and (min-width: 992px) {
        overflow: auto !important;
    }

    @media screen and (max-width: 991px) and (min-width: 768px) {
        overflow: auto !important;
    }

    @media screen and (max-width: 767px) and (min-width: 576px) {
        overflow: auto !important;
    }

    @media screen and (max-width: 575px) and (min-width: 320px) {
        overflow: auto !important;
    }

    @media screen and (max-width: 767) and (min-width: 320px) {}
}

.rating-des {
    font-family: 'FFMarkWebProBook';
    font-style : normal;
    font-weight: normal;
    font-size  : 14px;
    line-height: 18px;
    /* or 129% */


    /* Background - dark */

    color: #6D6D6D;

    width        : 100%;
    white-space  : nowrap;
    overflow     : hidden;
    text-overflow: ellipsis;
}

.fev-box {

    max-width    : 210px;
    margin-right : 13px;
    margin-bottom: 30px;
    margin-top   : 20px;

    @media screen and (max-width: 767px) and (min-width: 320px) {
        margin: 20px auto !important;
    }

    &:last-child {
        margin-right: 0;
    }

    &__imgdiv {
        height: 268px;

        img {
            height: 100%;
        }

        //swidth: 210px;
    }

    &__img {
        border-radius: 20px;
        margin-bottom: 10px;
        width        : 216px;
        height       : 276px;
    }

    &__pro {
        // position     : absolute;
        width        : 80px;
        height       : 52px;
        background   : #FBD036;
        border-radius: 20px 0px;

        &--text {
            position   : absolute;
            width      : 44px;
            height     : 35px;
            left       : 24px;
            top        : 10px;
            font-style : normal;
            font-weight: bold;
            font-size  : 20px;
            line-height: 35px;
            color      : #074D63;
            font-family: 'FFMarkWebProBook';
        }
    }




    &__left-coin-free {
        width          : 59px;
        height         : 44px;
        background     : #FBD036;
        border-radius  : 20px 0px;
        position       : absolute;
        left           : 0;
        display        : flex;
        justify-content: center;
        align-items    : center;

        &--text {
            // position   : absolute;
            // width      : 44px;
            // height     : 35px;
            // left       : 24px;
            // top        : 10px;
            // font-style : normal;
            // font-weight: bold;
            // font-size  : 20px;
            // line-height: 35px;

            font-style : normal;
            font-weight: bold;
            font-size  : 16px;
            line-height: 20px;
            color      : #074D63;
            font-family: 'FFMarkWebProBook';
        }
    }

    &__right-coin-free {
        width          : 59px;
        height         : 44px;
        background     : #FBD036;
        border-radius  : 0 20px 0px;
        position       : absolute;
        right          : 0;
        display        : flex;
        justify-content: center;
        align-items    : center;

        &--text {
            // position   : absolute;
            // width      : 44px;
            // height     : 35px;
            // left       : 24px;
            // top        : 10px;
            // font-style : normal;
            // font-weight: bold;
            // font-size  : 20px;
            // line-height: 35px;

            font-style : normal;
            font-weight: bold;
            font-size  : 16px;
            line-height: 20px;
            color      : #074D63;
            font-family: 'FFMarkWebProBook';
        }
    }

    &__right-coin {
        width          : 109px;
        height         : 44px;
        background     : #00BAD5;
        border-radius  : 0 20px 0px;
        position       : absolute;
        right          : 0;
        display        : flex;
        justify-content: center;
        align-items    : center;

        &--text {
            // position   : absolute;
            // width      : 44px;
            // height     : 35px;
            // left       : 24px;
            // top        : 10px;
            // font-style : normal;
            // font-weight: bold;
            // font-size  : 20px;
            // line-height: 35px;

            font-style : normal;
            font-weight: bold;
            font-size  : 16px;
            line-height: 20px;
            color      : #074D63;
            font-family: 'FFMarkWebProBook';
        }
    }

    &__left-bottom-coin {
        width          : 109px;
        height         : 44px;
        background     : #00BAD5;
        border-radius  : 0 20px 0px;
        position: absolute;
        left: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 33px;
        display        : flex;
        justify-content: center;
        align-items    : center;

        &--text {
            // position   : absolute;
            // width      : 44px;
            // height     : 35px;
            // left       : 24px;
            // top        : 10px;
            // font-style : normal;
            // font-weight: bold;
            // font-size  : 20px;
            // line-height: 35px;

            font-style : normal;
            font-weight: bold;
            font-size  : 16px;
            line-height: 20px;
            color      : #fff;
            font-family: 'FFMarkWebProBook';
        }
    }


    &__menu {

        width      : 44px;
        height     : 28px;
        // right   : -85px;
        position   : relative;
        // top     : 9px;
        cursor     : pointer;

        &__list {
            flex-direction : row;
            align-items    : flex-start;
            padding        : 9px;
            // position: absolute;
            // width: 44px;
            // height: 28px;
            // left: 275px;
            // top: 671px;
            background     : #FFFFFF;
            border-radius  : 12px;
            text-align     : center;
            margin         : 0 auto;
            display        : flex;
            justify-content: center;
        }

    }

    .star-color {
        color    : #074D63;
        font-size: 16px;
    }

    &__rating {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 20px;
        line-height: 20px;
        color      : #074D63;
    }

    &__user-name {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 24px;

        width        : 200px;
        white-space  : nowrap;
        overflow     : hidden;
        text-overflow: ellipsis;

        @media screen and (max-width: 991px) and (min-width: 320px) {
            font-size: 18px;
        }

        line-height  : 32px;
        color        : #074D63;
        text-overflow: ellipsis;
        overflow     : hidden;
        white-space  : nowrap;
    }

    &__info {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 14px;
        line-height: 18px;
        color      : #074D63;
    }

    &__start-btn {
        display       : flex;
        flex-direction: row;
        align-items   : flex-start;
        padding       : 8px 16px;

        width : 164px;
        height: 34px;

        background   : #00BAD5;
        border-radius: 8px;

        font-style : normal;
        font-weight: normal;
        font-size  : 14px;
        line-height: 18px;
        color      : #FFFFFF;
    }

    &__default-btn {
        display       : flex;
        flex-direction: row;
        align-items   : flex-start;
        padding       : 8px 16px;



        /* Background - light */
        font-family  : 'FFMarkWebProBook';
        background   : #FAFAFA;
        border-radius: 8px;

        font-style : normal;
        font-weight: normal;
        font-size  : 14px;
        line-height: 18px;
        /* identical to box height, or 129% */


        /* Secondary */

        color: #074D63;
    }
}




// pegination


.dt-pagination-ul {
    display      : flex;
    align-items  : center;
    margin-bottom: 90px;
    padding-left : 0;
    // border-top: 1px solid #dee2e6;
    padding      : 0 15px 15px 0px;
}

.dt-pagination .dt-item {
    display: inline-block;
}


.dt-pagination .dt-item.active .dt-link {
    background  : #074D63;
    border-color: #074D63;
    color       : #fff;
}

.dt-pagination .dt-item .dt-link {
    padding      : 6px 8px;
    min-width    : 32px;
    min-height   : 32px;
    border-radius: 50%;
    margin-left  : 0;
    margin-right : 8px;
    display      : inline-block;
    text-align   : center;
    cursor       : pointer;

    /* H2 - Regular */

    font-style : normal;
    font-size  : 16px;
    line-height: 20px;
    /* identical to box height, or 125% */


    /* White */

    color: #074D63;


}

.dt-pagination .dt-item .dt-link i {
    border       : 2px solid #074D63;
    padding      : 12px 15px;
    border-radius: 50%;
}

.pegination-result {
    font-style    : normal;
    // font-weight: bold;
    font-size     : 16px;
    line-height   : 20px;
    font-weight   : 700;
    margin-left   : 42px;

    @media screen and (max-width: 767px) and (min-width: 320px) {
        margin-left: 15px;
    }

    /* identical to box height, or 125% */


    /* Secondary */

    color: #074D63;

}



// *******************

.cursor-pointer {
    cursor: pointer !important;
}

.course {
    background-color: #fff;
    border-radius   : 20px;
    box-shadow      : 0px 30px 50px rgb(0 0 0 / 6%);
    height          : 430px;

    .progress {
        height          : 5px !important;
        background-color: #FFFFFF4D;

        .progress-bar {
            background: #FFFFFF !important;
            min-width : none;
        }
    }

    @media screen and (max-width: 991px) and (min-width: 768px) {
        width : 274px;
        margin: 0 auto;
    }

    &__bg {
        background-color   : #fff;
        border-radius      : 20px;
        // box-shadow      : 0px 30px 50px rgba(0, 0, 0, 0.06);
        padding            : 0 24px 24px 24px;
    }

    &__large-img {
        // border-radius: 20px 20px 0px 0px;
        // margin-bottom: 20px;

        border-radius: 20px 20px 0px 0px;
        margin       : 0 auto 20px;
        width        : 264px;
        height       : 264px;

        @media screen and (max-width: 991px) and (min-width: 320px) {
            width : 274px;
            margin: 0 0 20px;

        }

        display        : flex;
        justify-content: center;
        align-items    : center;
        background     : #fff;
        border-bottom  : 1px solid #f9f9f9;

        @media screen and (max-width: 1199px) and (min-width: 992px) {
            width : 215px;
            height: 215px;
        }

        @media screen and (max-width: 767px) and (min-width: 576px) {

            width : 242px;
            height: 242px;
        }

        @media screen and (max-width: 575px) and (min-width: 320px) {
            width: 100%;
        }
    }

    &__video-tag {
        position          : absolute;
        left              : 42%;
        right             : 0;
        top               : 37%;
        // bottom         : 75.05%;
        background        : #16BBD5;
        box-shadow        : 0px 10px 15px rgb(0 186 213 / 30%);
        width             : 40px;
        height            : 40px;
        border-radius     : 50%;
        display           : flex;
        justify-content   : center;
        align-items       : center;
    }

    i {
        color: #fff;

    }

    &__description {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 20px;


        width        : 220px;
        white-space  : nowrap;
        overflow     : hidden;
        text-overflow: ellipsis;

        @media screen and (max-width: 1199px) and (min-width: 320px) {
            font-size: 16px;
            width    : 175px;
        }

        line-height: 20px;
        /* or 100% */


        /* Secondary */

        color: #074D63;


        /* Inside Auto Layout */

        flex     : none;
        order    : 0;
        flex-grow: 0;
        margin   : 0px 0px;
        height   : 24px;
    }

    &__info {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 14px;
        line-height: 18px;
        color      : #074D63;
        flex       : none;
        order      : 1;
        align-self : stretch;
        flex-grow  : 0;
        margin     : 8px 0px;
    }

    &__count {
        font-style : normal;
        font-weight: bold;
        font-size  : 14px;
        line-height: 18px;

        /* identical to box height, or 129% */
        @media screen and (max-width: 1199px) and (min-width: 320px) {
            font-size: 12px;

        }

        /* Secondary */

        color: #074D63;


        /* Inside Auto Layout */

        flex     : none;
        order    : 1;
        flex-grow: 0;
        margin   : 12px 0px;
    }

    &__rate-btn {
        position: absolute;
        width   : 100px;
        height  : 28px;
        left    : 30px;
        top     : 246px;

        /* Secondary */

        background   : #074D63;
        border-radius: 20px;
        border       : 1px solid #074D63;
        color        : #fff;

        @media screen and (max-width: 1199px) and (min-width: 992px) {
            top : 204px;
            left: 30px;
        }

        @media screen and (max-width: 991px) and (min-width: 768px) {
            top : 246px;
            left: 30px;
        }

        @media screen and (max-width: 767px) and (min-width: 576px) {
            top : 228px;
            left: 25px;
        }

        @media screen and (max-width: 575px) and (min-width: 320px) {
            top     : 247px;
            position: absolute;
            left    : 20px;
        }
    }

    &__small-img {
        width              : 32px;
        height             : 32px;
        // left      : 54px;
        // top       : 0px;
        // border          : 1px solid #FFFFFF;
        box-sizing         : border-box;
        // position     : relative;
        // left: 50px;
        display            : flex;

        // span {
        //     font-style : normal;
        //     font-weight: normal;
        //     font-size  : 14px;
        //     line-height: 18px;
        //     position   : relative;
        //     left       : 95px;
        //     color: #074D63;
        //     flex     : none;
        //     order    : 1;
        //     flex-grow: 0;
        //     margin   : 0px 8px;
        // }

        img:nth-child(1) {
            left         : 0px;
            position     : absolute;
            height       : 32px;
            width        : 32px;
            border-radius: 50%;
        }

        img:nth-child(2) {
            left         : 20px;
            position     : absolute;
            height       : 32px;
            width        : 32px;
            border-radius: 50%;
        }

        img:nth-child(3) {
            left         : 40px;
            position     : absolute;
            height       : 32px;
            width        : 32px;
            border-radius: 50%;
        }

        img:nth-child(4) {
            left         : 60px;
            position     : absolute;
            height       : 32px;
            width        : 32px;
            border-radius: 50%;
        }
    }
}

.live-class {
    margin-bottom: 30px;
    margin-top   : 20px;
    font-family  : 'FFMarkWebProBook';


    &__top {
        position   : absolute;
        width      : 160px;
        height     : 18px;
        left       : 25px;
        top        : 15px;
        font-style : normal;
        font-weight: normal;
        font-size  : 14px;
        line-height: 18px;
        color      : #FFFFFF;
    }

    &__imgdiv {
        width        : 263px;
        height       : 192px;
        border-radius: 20px;
        overflow     : hidden;

        @media screen and (max-width:1199px) and (min-width: 992px) {
            width    : 100% !important;
            // height: auto!important;
        }

        @media screen and (max-width: 991px) and (min-width: 768px) {
            width    : 100% !important;
            // height: auto!important;
        }

        @media screen and (max-width: 767px) and (min-width: 576px) {
            width    : 100% !important;
            // height: auto!important;
        }

        @media screen and (max-width: 575px) and (min-width: 320px) {
            width : 100% !important;
            height: auto !important;
        }

        img {
            // width : 100%;
            height: 100%;
        }
    }

    &__img {
        width        : 100%;
        border-radius: 8px;
    }

    &__description {
        font-style : normal;
        font-weight: bold;
        font-size  : 20px;
        font-family: 'FFMarkWebProBook';

        @media screen and (max-width: 991px) and (min-width: 320px) {
            font-size: 18px;
        }

        line-height       : 24px;
        padding           : 15px 0 0;
        color             : #074D63;
        display           : -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow          : hidden;
        margin-bottom     : 8px;
    }

    &__info {
        font-style : normal;
        font-weight: normal;
        font-size  : 14px;
        line-height: 18px;
        color      : #074D63;
    }

    &__white-btn {
        // width        : 162px;
        // height       : 24px;
        position     : absolute;
        border-radius: 8px;
        padding      : 4px 12px 4px 12px;
        left         : 20px;
        bottom       : 20px;
        background   : #FFFFFF;
        border-radius: 8px;
        /* H3 - Bold */
        border       : 1px solid #fff;
        font-style   : normal;
        font-weight  : bold;
        font-size    : 12px;
        line-height  : 16px;
        text-align   : right;
        color        : #074D63;
        flex         : none;
        order        : 0;
        flex-grow    : 0;
    }
}

.fg-color {
    &__blue {
        color: #074D63;
    }

    &__yellow {
        color: #FBD036;
    }
}

.heal-btn {
    &__primary {
        background     : #16BBD5;
        border-radius  : 20px;
        flex           : none;
        order          : 0;
        flex-grow      : 0;
        margin         : 0px 32px;
        display        : flex;
        flex-direction : row;
        justify-content: center;
        align-items    : center;
        padding        : 20px 40px;

        @media screen and (max-width: 991px) and (min-width: 320px) {
            padding  : 20px 14px;
            font-size: 16px;
        }

        font-style  : normal;
        font-weight : bold;
        font-size   : 16px;
        line-height : 20px;
        color       : #FFFFFF;
        flex        : none;
        order       : 0;
        flex-grow   : 0;
        margin      : 0px 0px;
        border      : none;
    }

    &__default {
        background     : #fff;
        border-radius  : 20px;
        flex           : none;
        order          : 0;
        flex-grow      : 0;
        margin         : 0px 32px;
        display        : flex;
        flex-direction : row;
        justify-content: center;
        align-items    : center;
        padding        : 20px 40px;

        @media screen and (max-width: 991px) and (min-width: 320px) {
            padding  : 20px 14px;
            font-size: 16px;
        }

        font-style  : normal;
        font-weight : bold;
        font-size   : 16px;
        line-height : 20px;
        color       : #074D63;
        flex        : none;
        order       : 0;
        flex-grow   : 0;
        margin      : 0px 0px;
        border      : 1px solid #074D63;
    }

    &__highlight {
        background     : #FBD036;
        border-radius  : 20px;
        flex           : none;
        order          : 0;
        flex-grow      : 0;
        margin         : 0px 32px;
        display        : flex;
        flex-direction : row;
        justify-content: center;
        align-items    : center;
        padding        : 20px 40px;

        @media screen and (max-width: 991px) and (min-width: 320px) {
            padding  : 20px 14px;
            font-size: 16px;
        }

        font-style  : normal;
        font-weight : bold;
        font-size   : 16px;
        line-height : 20px;
        color       : #074D63;
        flex        : none;
        order       : 0;
        flex-grow   : 0;
        margin      : 0px 0px;
        border      : none;
    }

    &__disable {
        background     : #6D6D6D;
        opacity        : 0.25;
        border-radius  : 20px;
        flex           : none;
        order          : 0;
        flex-grow      : 0;
        margin         : 0px 24px;
        display        : flex;
        flex-direction : row;
        justify-content: center;
        align-items    : center;
        padding        : 20px 32px;

        @media screen and (max-width: 991px) and (min-width: 320px) {
            padding  : 20px 14px;
            font-size: 16px;
        }

        font-style  : normal;
        font-weight : bold;
        font-size   : 16px;
        line-height : 20px;
        color       : #FFFFFF;
        flex        : none;
        order       : 0;
        flex-grow   : 0;
        margin      : 0px 10px;
        border      : none;
    }
}

.no-data {
    font-family: 'FFMarkWebProBook';
    font-style : normal;
    font-weight: normal;
    font-size  : 20px;
    line-height: 150%;
    height     : 200px;


    color: #000000;

}

.video-image {
    width        : 264px;
    height       : 264px;
    border-radius: 20px 20px 0 0;

    @media screen and (max-width: 1199px) and (min-width: 992px) {
        width : 215px;
        height: 215px;
    }

    @media screen and (max-width: 767px) and (min-width: 320px) {
        width: 100%;
    }
}

.testimonial-carousel-height {
    width               : 100%;
    // height: 200px;
    // .imgContainer{
    //     border-radius: 50%;
    //     width: 200px;
    // }
}

.video-carousel {
    .drag-scroll-content div[drag-scroll-item] {
        width: 75% !important;

        @media screen and (max-width: 767px) and (min-width: 320px) {
            width: 100% !important;
        }
    }
}

.video-carousel-height {
    width : 100%;
    height: 540px;

    .drag-scroll-content div {
        // display: inline-block;
        // width: 80%;
        // height: 100%;
        margin-right : 20px;
        border-radius: 20px;
        overflow     : hidden;
    }
}

.carousel-height {
    width : 100%;
    height: 450px;
}

.carousel-height-video {
    width : 100%;
    height: 585px;

    @media screen and (max-width: 991px) and (min-width: 320px) {
        height: auto;
    }
}

.carousel-height-rate {
    width : 100%;
    height: 250px;
}

.carousel-height-classess {
    width : 100%;
    height: 290px;
}

.carousel-height-article {
    width : 100%;
    height: 450px;

    @media screen and (max-width: 767px) and (min-width: 320px) {
        height: 340px;
    }
}

.carousel-control-prev-icon {
    background-image: url(../../assets/images/arrowleft.png);
}

.carousel-control-next-icon {
    background-image: url(../../assets/images/arrowright.png);
}

.carousel-control-prev {
    left   : -18px;
    top    : 120px;
    opacity: 9;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display      : inline-block;
    width        : 34px;
    height       : 34px;
    border       : 1px solid transparent;
    border-radius: 50%;
}

.carousel-control-next {
    right  : -11px;
    top    : 120px;
    opacity: 9;
}


.carousel-control-prev1 {
    left   : -18px;
    top    : 195px !important;
    opacity: 9;
}

.carousel-control-next1 {
    right  : -11px;
    top    : 195px !important;
    opacity: 9;
}

.carousel-control-prev2 {
    left   : 100px !important;
    top    : 315px !important;
    opacity: 9;
    z-index: 333;

    @media screen and (max-width: 767px) and (min-width: 320px) {
        left   : 0px !important;
        top    : 115px !important;
        display: none !important;
    }
}

.carousel-control-next2 {
    right  : 100px;
    top    : 315px !important;
    opacity: 9;

    @media screen and (max-width: 767px) and (min-width: 320px) {
        right  : 0px !important;
        top    : 115px !important;
        display: none !important;
    }
}


.articles {
    &__imgdiv {
        width        : 359px;
        height       : 240px;
        border-radius: 20px;

        @media screen and (max-width:1199px) and (min-width: 992px) {
            width : 288px !important;
            height: auto !important;
        }

        @media screen and (max-width: 991px) and (min-width: 768px) {
            width : 318px !important;
            height: auto !important;
        }

        @media screen and (max-width: 767px) and (min-width: 320px) {
            width : 280px !important;
            height: auto !important;
        }

        img {
            // height: 100%;
            border-radius: 20px;
            max-width    : 100%;
            height       : auto;

        }
    }

    img {
        max-width    : 100%;
        height       : auto;
        border-radius: 20px;

    }

    &__title {
        font-style : normal;
        font-weight: bold;
        font-size  : 16px;
        line-height: 20px;
        color      : #074D63;
        flex       : none;
        order      : 0;
        flex-grow  : 0;
        margin     : 16px 0px;
    }

    &__details {
        font-style : normal;
        font-weight: bold;
        font-size  : 28px;
        line-height: 35px;

        color                : #074D63;
        flex                 : none;
        order                : 1;
        flex-grow            : 0;
        margin               : 16px 0px;
        // width             : 340px;
        // white-space       : nowrap;
        // overflow          : hidden;
        // text-overflow     : ellipsis;

        width        : 300px;
        white-space  : nowrap;
        overflow     : hidden;
        text-overflow: ellipsis;

        @media screen and (max-width: 767px) and (min-width: 320px) {
            font-size  : 22px;
            line-height: 26px;
            margin     : 16px 0px 0;
            padding    : 0;
            width      : 282px;
        }

        @media screen and (max-width: 1199px) and (min-width: 991px) {
            width: 270px;
        }
    }

    &__description {
        font-style : normal;
        font-weight: normal;
        font-size  : 20px;
        line-height: 150%;

        // width        : 340px;
        // white-space  : nowrap;
        // overflow     : hidden;
        // text-overflow: ellipsis;
        @media screen and (max-width: 1199px) and (min-width: 991px) {
            width: 310px;
        }

        @media screen and (max-width: 767px) and (min-width: 320px) {
            font-size  : 16px;
            line-height: 26px;
            margin     : 0px 0px 0;
            padding    : 0;
            width      : 282px;
        }

        color: #000000;


        /* Inside Auto Layout */

        // flex     : none;
        // order    : 2;
        // flex-grow: 0;
        margin : 16px 0px;
    }

}

.dt-pagination {
    align-items  : center;
    margin-bottom: 0;
    padding      : 20px 0;
}

.dt-pagination pagination ul {
    // display      : flex;
    // align-items  : center;
    // margin-bottom: 90px;
    // padding-left : 0;
    // padding      : 0 15px 15px 0px;
    display      : flex;
    align-items  : center;
    margin-bottom: 0;
}

// .dt-pagination pagination .pagination-prev{
//     content: "\f053" !important;
//     font-family: fontawesome !important;
//     border-radius: 50%;
//     font-size: 30px;
//     border: 2px solid #074D63;
//     padding: 10px 15px;
//     font-weight: 900;
// }
.page-item {
    .page-link {
        padding         : 6px 12px;
        // min-width    : 32px;
        // min-height   : 32px;
        border-radius   : 50%;
        margin-left     : 0;
        margin-right    : 8px;
        display         : inline-block;
        text-align      : center;
        cursor          : pointer;
        font-style      : normal;
        font-size       : 16px;
        line-height     : 20px;
        color           : #074D63;
        ;
        border: none;

        @media screen and (max-width: 767px) and (min-width: 320px) {
            font-size: 12px;
            padding  : 2px 10px;
        }
    }

    &.active .page-link {
        background     : #074D63;
        // border-color: #074D63;
        color          : #fff;
    }

    &:first-child {
        .page-link {
            // content: "\f053" !important;
            // font-family: fontawesome !important;
            // border-radius: 50%;
            // font-size: 30px;
            // border: 2px solid #074D63;
            // padding: 10px 15px;
            // font-weight: 900;

            display        : inline-block;
            align-items    : center;
            width          : 45px;
            height         : 45px;
            padding-top    : 6px;
            justify-content: center;


            content         : "\f054" !important;
            font-family     : fontawesome !important;
            border-radius   : 50%;
            font-size       : 30px;
            border          : 2px solid #074D63;
            // padding      : 10px 15px;
            font-weight     : 900;

            @media screen and (max-width: 767px) and (min-width: 320px) {
                width    : 32px;
                height   : 32px;
                padding  : 1px;
                font-size: 28px;
            }

        }

    }

    &:last-child {
        .page-link {
            content         : "\f054" !important;
            font-family     : fontawesome !important;
            border-radius   : 50%;
            font-size       : 30px;
            border          : 2px solid #074D63;
            // padding      : 10px 15px;
            font-weight     : 900;
            display         : inline-block;
            align-items     : center;
            width           : 45px;
            height          : 45px;
            padding-top     : 6px;

            @media screen and (max-width: 767px) and (min-width: 320px) {
                width    : 32px;
                height   : 32px;
                padding  : 1px;
                font-size: 28px;
            }

            justify-content : center;
        }



    }


}

.text-yellow {
    color: #FBD036;
}

.text-grey {
    color: rgba(109, 109, 109, 0.1);
    ;
}

.margin-top {
    margin-top: 70px;
}

.margin-nottom-70 {
    margin-bottom: 70px;
}

@media screen and (max-width: 1199px) and (min-width: 320px) {
    .m-b-20 {
        margin-bottom: 20px;
    }
}


// checkbox design



// @import url("https://use.fontawesome.com/releases/v5.0.11/css/all.css");

// body{
// 	padding: 50px;
// }

.label-text {
    position   : relative;
    cursor     : pointer;
    font-family: 'FFMarkWebProBook';
    font-style : normal;
    font-weight: normal;
    font-size  : 14px;
    line-height: 18px;
    color      : #6D6D6D;
}

input[type="checkbox"],
input[type="radio"] {
    position: absolute;
    right   : 9000px;
}

.form-check {
    position    : relative;
    display     : block;
    padding-left: 0 !important;
}

/*Check box*/
input[type="checkbox"]+.label-text:before {
    content               : "\f0c8";
    font-family           : "Font Awesome 5 Free";
    speak                 : none;
    font-style            : normal;
    font-variant          : normal;
    text-transform        : none;
    line-height           : 1;
    -webkit-font-smoothing: antialiased;
    width                 : 1em;
    display               : inline-block;
    margin-right          : 5px;
    color                 : #6D6D6D1A;
}

input[type="checkbox"]:checked+.label-text:before {
    content    : "\f14a";
    color      : #00BAD5;
    animation  : effect 250ms ease-in;
    font-weight: 900;
}

input[type="checkbox"]:disabled+.label-text {
    color: #aaa;
}

input[type="checkbox"]:disabled+.label-text:before {
    content: "\f0c8";
    color  : #ccc;
}

/*Radio box*/

input[type="radio"]+.label-text:before {
    content               : "\f111";
    font-family           : "Font Awesome 5 Free";
    speak                 : none;
    font-style            : normal;
    font-variant          : normal;
    text-transform        : none;
    line-height           : 1;
    -webkit-font-smoothing: antialiased;
    width                 : 1em;
    display               : inline-block;
    margin-right          : 5px;
}

input[type="radio"]:checked+.label-text:before {
    content  : "\f192";
    color    : #00BAD5;
    animation: effect 250ms ease-in;
}

input[type="radio"]:disabled+.label-text {
    color: #aaa;
}

input[type="radio"]:disabled+.label-text:before {
    content: "\f111";
    color  : #ccc;
}

/*Radio Toggle*/

.toggle input[type="radio"]+.label-text:before {
    content               : "\f204";
    font-family           : "Font Awesome 5 Free";
    speak                 : none;
    font-style            : normal;
    font-weight           : 900;
    font-variant          : normal;
    text-transform        : none;
    line-height           : 1;
    -webkit-font-smoothing: antialiased;
    width                 : 1em;
    display               : inline-block;
    margin-right          : 10px;
}

.toggle input[type="radio"]:checked+.label-text:before {
    content  : "\f205";
    color    : #16a085;
    animation: effect 250ms ease-in;
}

.toggle input[type="radio"]:disabled+.label-text {
    color: #aaa;
}

.toggle input[type="radio"]:disabled+.label-text:before {
    content: "\f204";
    color  : #ccc;
}


@keyframes effect {
    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(1.3);
    }

    75% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}

.carousel-left {
    position: absolute;
    width   : 41px;
    height  : 41px;
    left    : 156px;
    top     : 1200px;

    background: #FFFFFF;
    transform : matrix(-1, 0, 0, 1, 0, 0);
}

.carousel-control-right {
    position: absolute;
    width   : 41px;
    height  : 41px;
    left    : 1284px;
    top     : 1241px;

    background: #FFFFFF;
    transform : matrix(1, 0, 0, -1, 0, 0);
}


.article-drag .drag-scroll-content {
    // white-space: break-spaces!important;
    display    : flex !important;
    white-space: pre-line !important;
    width      : 100%;
    height     : calc(100% + 15px);
}

.courses-drag .drag-scroll-content {
    // white-space: break-spaces!important;
    display    : flex !important;
    white-space: pre-line !important;
    width      : 100%;
    height     : calc(100% + 15px);
}


.block-ellipsis {
    display           : block;
    display           : -webkit-box;
    max-width         : 325px;
    height            : 55px;
    // margin: 0 auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow          : hidden;
    text-overflow     : ellipsis;
}


.share-modal {
    li {
        list-style: none !important;
        display   : flex;

        i {
            width          : 36.92px !important;
            height         : 35.65px !important;
            background     : #00BAD5 !important;
            border-radius  : 50% !important;
            color          : #FFFFFF !important;
            display        : flex !important;
            justify-content: center !important;
            align-items    : center !important;
        }
    }
}

.ng-error {
    color  : #FF0F0F !important;
    padding: 0 10px;
}

.show-error {
    border: 1px solid #ff0f0f !important;
}

.modal-dialog-scrollable .modal-body {
    max-height: 600px;
}

.bs-datepicker-head button.next:after {
    background: #FFFFFF !important;
}

//   .bs-datepicker-head button.previous:after {
//     content: ' \2190';
//     color: #074D63 !important;
//     font-family: 'FFMarkWebProBook' !important;
//     font-style: normal;
//     font-weight: bold !important;
//     font-size: 16px !important;
//     line-height: 20px;
//   }
//   .bs-datepicker-head button.previous{
//     color: #074D63 !important;
//     span{
//       display: none !important;
//     }
//   }
.bs-datepicker-head button[disabled],
.bs-datepicker-head button[disabled]:hover,
.bs-datepicker-head button[disabled]:active {
    background: #FAFAFA !important;
}

.theme-blue .bs-datepicker-head {
    background: #FAFAFA !important;
}

.bs-datepicker {
    background: #FAFAFA !important;
}

.bs-datepicker-head button {
    background: #FAFAFA !important;
}

.bs-datepicker-body {
    background: #FAFAFA !important;
}



.course-sm-img {
    // width        : 32px;
    // height       : 32px;
    // border       : 1px solid #FFFFFF;
    // box-sizing   : border-box;
    // border-radius: 50%;
    display    : flex;
    width      : 100%;
    align-items: center;

    img:nth-child(1) {
        left         : 0px;
        position     : relative;
        height       : 32px;
        width        : 32px;
        border-radius: 50%;
    }

    img:nth-child(2) {
        left         : -15px;
        position     : relative;
        height       : 32px;
        width        : 32px;
        border-radius: 50%;
    }

    img:nth-child(3) {
        left         : -28px;
        position     : relative;
        height       : 32px;
        width        : 32px;
        border-radius: 50%;
    }

    img:nth-child(4) {
        left         : -42px;
        position     : relative;
        height       : 32px;
        width        : 32px;
        border-radius: 50%;
    }

    &__player {
        position   : relative;
        // left: -30px;
        top        : 0px;
        margin-left: 10px;
    }
}

// .plyr--full-ui.plyr--video .plyr__control--overlaid {
//     display: none !important;
// }

.courses-video {
    position: absolute;
    z-index : 333;

    left: 50%;
    top : 33%;

}

.video-position {
    background     : #ffff;
    height         : 45px;
    width          : 45px;
    border-radius  : 50%;
    color          : #074D63;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.donate-position {
    position: absolute;
    z-index : 333;


    left: 8%;
    top : 50%;

}

.donate-position-bottom {
    position: absolute;
    z-index : 333;
    left    : 8%;
    top     : 65%;
}

.donate-position-center {
    position  : absolute;
    z-index   : 333;
    left      : 20%;
    top       : 14%;
    text-align: center;

    &__next {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 32px;
        line-height: 35px;
        text-align : center;

        color: #FFFFFF;
    }

    &__user {
        font-family: 'healspace font';
        font-style : normal;
        font-weight: normal;
        font-size  : 40px;
        line-height: 45px;
        text-align : center;

        color: #FFFFFF;
    }

    &__small {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 20px;
        line-height: 20px;
        text-align : center;

        color: #FFFFFF;
    }

    &__h1-small {
        font-family: 'healspace font';
        font-style : normal;
        font-weight: normal;
        font-size  : 24px;
        line-height: 30px;
        text-align : center;

        color: #FFFFFF;
    }

    &__xs {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 16px;
        line-height: 20px;
        text-align : center;

        color: #FFFFFF;
    }
}

.donate-btn {
    width        : 256px;
    height       : 60px;
    left         : 0px;
    top          : 0px;
    background   : #00BAD5;
    border-radius: 20px;
    font-family  : 'FFMarkWebProBook';
    font-style   : normal;
    font-weight  : bold;
    font-size    : 16px;
    line-height  : 20px;
    color        : #FFFFFF;
    border       : 1px solid #00BAD5;

}

.donate-btn-small {
    width        : 256px;
    height       : 60px;
    left         : 0px;
    top          : 0px;
    background   : #00BAD5;
    border-radius: 20px;
    font-family  : 'FFMarkWebProBook';
    font-style   : normal;
    font-weight  : bold;
    font-size    : 16px;
    line-height  : 20px;
    color        : #FFFFFF;
    border       : 1px solid #00BAD5;

}

.donate-img {
    width        : 80px;
    height       : 80px;
    border       : 2px solid #FFFFFF;
    box-sizing   : border-box;
    border-radius: 50%;
    margin-top   : 15px;

    &__user {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 20px;
        line-height: 18px;
        /* identical to box height, or 90% */


        /* White */

        color: #FFFFFF;
    }

    &__small {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 14px;
        line-height: 18px;
        /* identical to box height, or 129% */


        /* White */

        color: #FFFFFF;
    }
}


.dropdown-menu .dropdown-menu {
    overflow-y   : auto;
    width        : 292px !important;
    height       : 288px;
    left         : 0px;
    top          : 62px;
    background   : #FFFFFF;
    box-shadow   : 0px 12px 40px rgb(0 0 0 / 12%);
    border-radius: 20px;
}

:-ms-input-placeholder {
    color: #6D6D6D;

    opacity: 0.5;
}

.signup .dropdown {
    z-index: 1000;
    width  : 304px;
    height : 288px !important;
    top    : 63px !important;
}

.signup .dropdown-item {
    display         : block;
    width           : 100%;
    padding         : 12px 24px;
    clear           : both;
    text-align      : inherit;
    white-space     : nowrap;
    background-color: transparent;
    border          : 0;

    font-family: 'FFMarkWebProBook';
    font-style : normal;
    font-weight: normal;
    font-size  : 16px;
    line-height: 20px;
    /* identical to box height, or 125% */


    color: #B7B7B7;
}

.signup .dropdown-item.active,
.signup .dropdown-item:active,
.signup .dropdown-item:hover {
    color              : #074D63;
    text-decoration    : none;
    /* background-color: #f8f9fa; */
    background         : rgba(109, 109, 109, 0.05);
    font-family        : 'FFMarkWebProBook';
    font-style         : normal;
    font-weight        : bold;
    font-size          : 16px;
    line-height        : 20px;
}

.ngx-dropdown-container .ngx-dropdown-button {
    background-color: transparent !important;
}

.ngx-dropdown-container .ngx-dropdown-list-container ul li {
    text-align: left !important;
}