.login-bg {
    background-image   : url(../../../../assets/images/Group.png);
    background-position: right center;
    background-size    : contain;
    background-repeat  : no-repeat;
    height             : 78vh;
    margin-top         : 70px;

    &__step {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 16px;
        line-height: 20px;
        color      : #074D63;
    }

    &__user-hello {
        font-family: 'healspace font';
        font-style : normal;
        font-weight: normal;
        font-size  : 40px;
        line-height: 45px;
        /* identical to box height, or 112% */


        /* Primary */

        color: #00BAD5;

    }

    &__user-detail {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 16px;
        line-height: 20px;
        color      : #303030;
        padding    : 0px 0;
    }

    &__skip {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 16px;
        line-height: 20px;
        /* identical to box height, or 125% */


        /* Secondary */

        color: #074D63;
    }

    &__header-btn {
        background   : #fff;
        width        : 345px;
        height       : 50px;
        font-family  : 'FFMarkWebProBook';
        font-style   : normal;
        border       : 2px solid #074D63;
        box-sizing   : border-box;
        border-radius: 20px;
        font-weight  : bold;
        font-size    : 16px;
        line-height  : 20px;
        text-align   : center;
        color        : #074D63;
    }
}

.logi-button {
    &__yellow {
        color        : #074D63;
        background   : #FBD036;
        border       : 1px solid #FBD036;
        width        : 164px;
        height       : 60px;
        border-radius: 12px;
        font-family  : 'FFMarkWebProBook';
        text-align   : center;
        font-style   : normal;
        font-weight  : bold;
        font-size    : 14px;
        line-height  : 18px;
        color        : #074D63;
    }

    &__default {
        color        : #074D63;
        background   : #fff;
        width        : 320px;
        height       : 80px;
        border-radius: 12px;
        font-family  : 'FFMarkWebProBook';
        font-style   : normal;
        font-weight  : bold;
        border       : 2px solid #074D63;
        box-sizing   : border-box;
        border-radius: 20px;
        font-weight  : bold;
        font-size    : 16px;
        line-height  : 20px;
        text-align   : center;
        color        : #074D63;
    }
}






input[type=checkbox] {
    height    : 0;
    width     : 0;
    visibility: hidden;
}

.label1 {
    cursor        : pointer;
    width         : 60px;
    height        : 30px;
    display       : block;
    border-radius : 100px;
    position      : relative;
    background    : #00BAD5;
    transform     : matrix(-1, 0, 0, 1, 0, 0);
}

.label1:after {
    content      : '';
    position     : absolute;
    top          : 5px;
    left         : 5px;
    width        : 20px;
    height       : 20px;
    background   : #fff;
    border-radius: 90px;
    transition   : 0.3s;
}

input:checked+.label1 {
    background: #C3CBCD;
}

input:checked+.label1:after {
    left     : calc(100% - 5px);
    transform: translateX(-100%);
}

.label1:active:after {
    width: 130px;
}

// centering
body {
    display        : flex;
    justify-content: center;
    align-items    : center;
    height         : 100vh;
}

// .price-box {

//     &__left-heading {
//         font-family: 'healspace font';
//         font-style : normal;
//         font-weight: normal;
//         font-size  : 32px;
//         line-height: 45px;
//         color: #6D6D6D;
//     }

//     &__des {
//         font-family: 'FFMarkWebProBook';
//         font-style : normal;
//         font-weight: normal;
//         font-size  : 16px;
//         line-height: 20px;
//         color: #074D63;
//     }

//     &__main-heading {
//         font-family: 'healspace font';
//         font-style : normal;
//         font-weight: normal;
//         font-size  : 40px;
//         line-height: 45px;
//         text-align: center;
//         color: #074D63;
//     }

//     &__basic {
//         width          : 260px;
//         height         : 291px;
//         background     : #FFFFFF;
//         box-shadow     : 0px 10px 60px rgb(0 0 0 / 10%);
//         border-radius  : 40px;
//         display        : flex;
//         justify-content: center;
//         align-items    : center;
//         margin         : 0 auto;
//         padding        : 25px;
//     }

//     &__sub-heading {
//         font-family: 'FFMarkWebProBook';
//         font-style : normal;
//         font-weight: bold;
//         font-size  : 32px;
//         line-height: 35px;
//         color: #00BAD5;
//     }

//     &__amount {
//         font-family: 'healspace font';
//         font-style : normal;
//         font-weight: normal;
//         font-size  : 40px;
//         line-height: 45px;
//         color: #074D63;
//     }

//     &__menu {
//         font-family: 'FFMarkWebProBook';
//         font-style : normal;
//         font-weight: bold;
//         font-size  : 14px;
//         line-height: 18px;
//         color: #6D6D6D;

//     }

//     &__card-btn {
//         background   : #fff;
//         width        : 190px;
//         height       : 55px;
//         font-family  : 'FFMarkWebProBook';
//         font-style   : normal;
//         border       : 2px solid #074D63;
//         box-sizing   : border-box;
//         border-radius: 20px;
//         font-weight  : bold;
//         font-size    : 16px;
//         line-height  : 20px;
//         text-align   : center;
//         color        : #074D63;

//         &:hover {
//             background: #FBD036;
//             color     : #074D63;
//             border    : 2px solid #FBD036;
//         }
//     }

//     &__card-pre {
//         position       : absolute;
//         height         : 30px;
//         top            : -15px;
//         left           : 2px;
//         background     : #074D63;
//         border-radius  : 10px;
//         color          : #fff;
//         width          : 80px;
//         display        : flex;
//         justify-content: center;
//         align-items    : center;
//         font-family    : 'FFMarkWebProBook';
//         font-style     : normal;
//         font-weight    : bold;
//         font-size      : 24px;
//         line-height    : 35px;
//         color: #FFFFFF;
//     }

//     &__footer-menu {
//         font-family    : 'FFMarkWebProBook';
//         color          : #6D6D6D;
//         background     : #FFFFFF;
//         box-shadow     : 0px 10px 60px rgb(0 0 0 / 10%);
//         border-radius  : 20px;
//         display        : flex;
//         justify-content: center;
//         align-items    : center;
//         margin         : 0 auto;
//         padding        : 12px 25px;
//         font-style : normal;
//         font-weight: bold;
//         font-size  : 16px;
//         line-height: 20px;
//         cursor     : pointer;
//         &:hover {
//             color: #00BAD5;
//         }
//     }
// }


// .payment {
//     &__sub-heading {
//         font-family: 'FFMarkWebProBook';
//         font-style : normal;
//         font-weight: bold;
//         font-size  : 32px;
//         line-height: 35px;
//         color: #074D63;
//     }

//     &__gray-box {
//         width           : 100%;
//         background      : #FAFAFA;
//         border-radius   : 40px;
//         padding         : 25px;
//     }

//     &__plan-status {
//         font-family: 'FFMarkWebProBook';
//         font-style : normal;
//         font-weight: normal;
//         font-size  : 16px;
//         line-height: 20px;
//         color: #00BAD5;
//     }

//     &__plan-value {
//         font-family: 'FFMarkWebProBook';
//         font-style : normal;
//         font-weight: bold;
//         font-size  : 32px;
//         line-height: 35px;
//         color: #074D63;



//     }

//     &__plan-des {
//         font-family: 'FFMarkWebProBook';
//         font-style : normal;
//         font-weight: normal;
//         font-size  : 16px;
//         line-height: 20px;
//         color: #074D63;
//     }

//     &__input {
//         position: static;
//         width   : 276px;
//         height  : 42px;
//         left    : 40px;
//         top     : 86px;
//         background   : #FFFFFF;
//         border-radius: 20px;
//     }

//     &__promo-code {
//         font-family: 'healspace font';
//         font-style : normal;
//         font-weight: normal;
//         font-size  : 24px;
//         line-height: 30px;
//         text-align: center;
//         color: #074D63;
//     }

//     &__input-btn {
//         background    : #fff !important;
//         border        : 1px solid #fff !important;
//         font-family   : 'FFMarkWebProBook';
//         font-style    : normal;
//         font-weight   : normal;
//         font-size     : 12px;
//         line-height   : 18px;
//         text-transform: uppercase;
//         color         : #00BAD5;
//         border-radius : 0 20px 20px 0;
//         padding       : 0 16px;
//     }

//     &__card-info {
//         font-family: 'FFMarkWebProBook';
//         font-style : normal;
//         font-weight: bold;
//         font-size  : 16px;
//         line-height: 20px;
//         text-align: center;
//         color: #074D63;
//     }

// }

.icon-color {
    color: #074D63;
}


.pay-small-box {
    width        : 277.67px;
    height       : 112px;
    background   : #FAFAFA;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.check-icon-position{
    position: absolute;
    left: 25px;
    top: 10px;
    font-size: 22px;
    color: #00BAD5;
}
