<div class="login-bg">
    <div class="container">


        <div>
            <p class="login-bg__step">
                Step {{step}} of 5
            </p>

            <div style="display: flex;height:520px;align-items: center;" *ngIf="step==1">
                <form name="step1Form" spellcheck="false" autocomplete="off" (ngSubmit)="submitStep1(2,step1Form.valid)"
            #step1Form="ngForm">
                    <div style="height: 300px;display: flex;align-items: center;">
                        <div>
                            <p class="login-bg__user-hello">
                                Hello there!
                            </p>

                            <p class="login-bg__user-detail">
                                Nice to meet you. What’s your name?
                            </p>


                            <div class="col-lg-12 py-4">
                                <input type="text" placeholder="e.g. Mark Jonhson" name="nick_name" #nick_name="ngModel" [(ngModel)]="customer.name"
                                   [ngClass]="{' show-error ' :step1Form.submitted && nick_name.invalid}" (blur)="nameChange()" class="logi-button logi-button__default" required />
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 py-4">
                        <button type="submit" class="logi-button logi-button__yellow"
                            >
                            next step →
                        </button>
                    </div>

                    <div class="col-lg-12 py-4">
                        <p class="login-bg__skip">
                            Skip
                        </p>
                    </div>
                </form>
            </div>

            <div style="display: flex;height:520px;align-items: center;" *ngIf="step==2">
                <div class="col-lg-12 p-0">
                    <div style="height: 300px;display: flex;align-items: center;">
                        <div class="col-8 p-0">
                            <p class="login-bg__user-hello">
                                Choose at Least One Interest
                            </p>
                            <drag-scroll class="carousel-height" style="height: 247px;">

                                <div drag-scroll-item class="col-lg-12 p-0" *ngFor="let idata of interestData">
                                    <div class="row">
                                        <div class="col-lg-6 mb-3" *ngFor="let expertise of idata">
                                            <app-expertise-view name="{{expertise.id}}"
                                                [interest_title]="expertise.interest" [interest]="expertise"
                                                [cover_photo]="expertise.cover_photo" 
                                                [description]="expertise.description" [checked]="expertise.checked"
                                                (click)="selectExpertise(expertise)"></app-expertise-view>
                                        </div>

                                    </div>
                                </div>
                                <button (click)="moveLeft()" class="carousel-control-prev-icon carousel-control-prev">
                                    <img class="img-fluid" src="../../../../assets/images/arrowleft.png">
                                </button>
                                <button (click)="moveRight()" class="carousel-control-next-icon carousel-control-next">
                                    <img class="img-fluid" src="../../../../assets/images/arrowright.png">
                                </button>
                            </drag-scroll>

                        </div>
                    </div>

                    <div class="col-lg-12 py-4 px-0">
                        <button  class="logi-button logi-button__yellow" (click)="submitStep2()">
                            next step →
                        </button>
                    </div>

                    <div class="col-lg-12 py-4 px-0">
                        <p class="login-bg__skip">
                            Skip
                        </p>
                    </div>
                </div>
            </div>

            <div style="display: flex;height:520px;align-items: center;" *ngIf="step==3">
                <div class="col-lg-12">

                    <div style="height: 300px;display: flex;align-items: center;">
                        <div class="col-8">
                            <p class="login-bg__user-hello">
                                Select Setting From Below
                            </p>
                            <div class="col-lg-12 p-0 mb-3">
                                <div class="form-check">
                                    <label>
                                        <input type="checkbox" [(ngModel)]="customer.is_news_subscribe" name="is_news_subscribe" > <span class="label-text card-text">News Subscribe</span>
                                    </label>
                                </div>
                            </div>

                            <div class="col-lg-12 p-0 mb-3">
                                <div class="form-check">
                                    <label>
                                        <input type="checkbox" [(ngModel)]="customer.is_sms_subscribe" name="is_sms_subscribe"> <span class="label-text card-text">SMS Subscribe</span>
                                    </label>
                                </div>
                            </div>

                            <div class="col-lg-12 p-0 mb-3">
                                <div class="form-check">
                                    <label>
                                        <input type="checkbox" [(ngModel)]="customer.is_email_subscribe" name="is_email_subscribe"> <span class="label-text card-text"> Email Subscribe</span>
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-12 py-4">
                        <button class="logi-button logi-button__yellow" (click)="step=4">
                            next step →
                        </button>
                    </div>

                    <div class="col-lg-12 py-4">
                        <p class="login-bg__skip">
                            Skip
                        </p>
                    </div>
                </div>
            </div>

            <div style="display: flex;height:520px;align-items: center;" *ngIf="step==4">
                <div class="col-lg-12">

                    <div style="height: 300px;display: flex;align-items: center;">
                        <div class="col-8">
                            <p class="login-bg__user-hello">
                                Notification Settings
                            </p>

                            <p class="login-bg__user-detail">
                                I’d like to receive notifications about:
                            </p>

                            <div class="col-lg-12 p-0 mb-3">
                                <div class="form-check d-flex">
                                    <input type="checkbox"id="nswitch"
                                    [(ngModel)]="customer.notification_type"  /><label class="label1" for="nswitch"></label>
                                    &nbsp; Healplace News and Updates
                                </div>
                            </div>

                            <div class="col-lg-12 p-0 mb-3">
                                <div class="form-check d-flex">
                                    <input type="checkbox" id="rswitch" [(ngModel)]="customer.reminder_type"  /><label class="label1" for="rswitch"></label>
                                    &nbsp; Session Notifications and Reminders
                                </div>
                            </div>

                            <!-- <div class="col-lg-12 p-0 mb-3">
                                <div class="form-check d-flex">
                                    <input type="checkbox" id="switch" /><label class="label1" for="switch"></label> &nbsp; Turn Off All Notifications
                                </div>
                            </div> -->


                        </div>
                    </div>

                    <div class="col-lg-12 py-4">
                        <button class="logi-button logi-button__yellow" (click)="step=5">
                            next step →
                        </button>
                    </div>

                    <div class="col-lg-12 py-4">
                        <p class="login-bg__skip">
                            Skip
                        </p>
                    </div>
                </div>
            </div>


            <div style="display: flex;height:520px;align-items: center;" *ngIf="step==5">
                <div class="col-lg-12">

                    <div style="height: 300px;display: flex;align-items: center;">
                        <div class="col-8">
                            <p class="login-bg__user-hello">
                                How Good do You  <br>Feel Today?
                            </p>
                            <div class="col-lg-12 p-0 mb-3">
                                <ngx-slider [(value)]="value" [options]="options"></ngx-slider>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 py-4">
                        <button class="logi-button logi-button__yellow" (click)="save()">
                            Save Profile
                        </button>
                    </div>

                    <div class="col-lg-12 py-4">
                        <p class="login-bg__skip">
                            Skip
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- 22222222222222222222 -->

<!-- <div>
            <p class="login-bg__step">
                Step 2 of 5
            </p>

            <div style="display: flex;height:520px;align-items: center;">
                <div class="col-lg-12 p-0">
                    <div style="height: 300px;display: flex;align-items: center;">
                        <div class="col-8 p-0">
                            <p class="login-bg__user-hello">
                                Choose At Least One Interest
                            </p>
                            <drag-scroll class="carousel-height" style="height: 247px;">

                                <div drag-scroll-item class="col-lg-12 p-0" *ngFor="let idata of interestData">
                                    <div class="row">
                                        <div class="col-lg-6 mb-3" *ngFor="let expertise of idata">
                                            <app-expertise-view name="[{expertise.id}}"
                                                [interest_title]="expertise.interest"
                                                [description]="expertise.description"></app-expertise-view>
                                        </div>

                                    </div>
                                </div>
                                <button (click)="moveLeft()" class="carousel-control-prev-icon carousel-control-prev">
                                    <img class="img-fluid" src="../../../../assets/images/arrowleft.png">
                                </button>
                                <button (click)="moveRight()" class="carousel-control-next-icon carousel-control-next">
                                    <img class="img-fluid" src="../../../../assets/images/arrowright.png">
                                </button>
                            </drag-scroll>

                        </div>
                    </div>

                    <div class="col-lg-12 py-4 px-0">
                        <button class="logi-button logi-button__yellow">
                            Next step →
                        </button>
                    </div>

                    <div class="col-lg-12 py-4 px-0">
                        <p class="login-bg__skip">
                            Skip
                        </p>
                    </div>
                </div>
            </div>
        </div>  -->

<!-- 333333 -->

<!-- <div>
            <p class="login-bg__step">
                Step 3 of 5
            </p>

            <div style="display: flex;height:520px;align-items: center;">
                <div  class="col-lg-12">

                    <div style="height: 300px;display: flex;align-items: center;">
                        <div class="col-8">
                            <p class="login-bg__user-hello">
                                Select setting from below
                            </p>
                            <div class="col-lg-12 p-0 mb-3">
                                <div class="form-check">
                                    <label>
                                        <input type="checkbox"  > <span class="label-text card-text">Checked</span>
                                    </label>
                                </div>
                            </div>

                            <div class="col-lg-12 p-0 mb-3">
                                <div class="form-check">
                                    <label>
                                        <input type="checkbox"  > <span class="label-text card-text">Checked</span>
                                    </label>
                                </div>
                            </div>

                            <div class="col-lg-12 p-0 mb-3">
                                <div class="form-check">
                                    <label>
                                        <input type="checkbox"  > <span class="label-text card-text">Checked</span>
                                    </label>
                                </div>
                            </div>

                            <div class="col-lg-12 p-0 mb-3">
                                <div class="form-check">
                                    <label>
                                        <input type="checkbox"  > <span class="label-text card-text">Checked</span>
                                    </label>
                                </div>
                            </div> 
                        </div>
                    </div>

                    <div class="col-lg-12 py-4">
                        <button class="logi-button logi-button__yellow">
                            Next step →
                        </button>
                    </div>

                    <div class="col-lg-12 py-4">
                        <p class="login-bg__skip">
                            Skip
                        </p>
                    </div>
                </div>
            </div>
        </div>  -->

<!-- 4444 -->

<!-- <div>
            <p class="login-bg__step">
                Step 3 of 5
            </p>

            <div style="display: flex;height:520px;align-items: center;">
                <div  class="col-lg-12">

                    <div style="height: 300px;display: flex;align-items: center;">
                        <div class="col-8">
                            <p class="login-bg__user-hello">
                                Notification settings
                            </p>

                            <p class="login-bg__user-detail">
                                Nice to meet you. What’s your name?
                            </p>

                            <div class="col-lg-12 p-0 mb-3">
                                <div class="form-check d-flex">
                                    <input type="checkbox" id="switch" /><label class="label1" for="switch"></label> &nbsp; Healplace News and Updates
                                </div>
                            </div>

                            <div class="col-lg-12 p-0 mb-3">
                                <div class="form-check d-flex">
                                    <input type="checkbox" id="switch" /><label class="label1" for="switch"></label> &nbsp; Session Notifications and Reminders
                                </div>
                            </div>

                            <div class="col-lg-12 p-0 mb-3">
                                <div class="form-check d-flex">
                                    <input type="checkbox" id="switch" /><label class="label1" for="switch"></label> &nbsp; Turn Off All Notifications
                                </div>
                            </div>

                            
                        </div>
                    </div>

                    <div class="col-lg-12 py-4">
                        <button class="logi-button logi-button__yellow">
                            Next step →
                        </button>
                    </div>

                    <div class="col-lg-12 py-4">
                        <p class="login-bg__skip">
                            Skip
                        </p>
                    </div>
                </div>
            </div>
        </div>  -->



<!-- <div>
            <p class="login-bg__step">
                Step 3 of 5
            </p>

            <div style="display: flex;height:520px;align-items: center;">
                <div class="col-lg-12">

                    <div style="height: 300px;display: flex;align-items: center;">
                        <div class="col-8">
                            <p class="login-bg__user-hello">
                                How Happy are <br>
                                You Today?
                            </p>



                            <div class="col-lg-12 p-0 mb-3">
                                range
                            </div>


                        </div>
                    </div>

                    <div class="col-lg-12 py-4">
                        <button class="logi-button logi-button__yellow">
                            Save Profile →
                        </button>
                    </div>

                    <div class="col-lg-12 py-4">
                        <p class="login-bg__skip">
                            Skip
                        </p>
                    </div>
                </div>
            </div>
        </div> -->

























<!-- <div class="">
    <div class="col-lg-12 col-md-12 mt-5 btn-flex-center">
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-md-6 col-lg-6 d-flex flex-column basic-info" [ngClass]="{'col-md-8 col-lg-8': page == 2}">
            <div class="step-p">
                <p class="step-process" [ngClass]="{'call-5': page == 5}">Step {{page}} of 5</p>
            </div>
            <ng-container [ngSwitch]="page">
                <ng-template [ngSwitchCase]="1">
                    <div class="first-page">
                        <p class="hello">Hello There!</p>
                        <p class="name">Nice to meet you. What’s your name?</p>
                        <input type="text" class="mark" placeholder="e.g. Mark Johnson" [(ngModel)]="name"
                            (input)="nameChange()" />
                    </div>
                </ng-template>
                <ng-template [ngSwitchCase]="2">
                    <div class="second-page">
                        <p class="hello">Choose At Least One Interest</p>
                        {{isPage+1}} page of {{slideShowData.length}}
                        <div class="row" style="cursor: pointer;">
                            <div class="col-md-1" *ngIf="isPage != 0">
                                <img src="assets/images/arrowleft.png" class="arrow-left" (click)="slideBackward()" />
                            </div>
                            <div class="col-md-10">
                                <div class="row" style="margin-right: -49px !important;margin-left: unset !important;">
                                    <ng-container *ngFor="let list of interestData; let i=index">
                                        <div class="col-md-6" (click)="chooseMe(list.interest)">
                                            <div class="row" style="height: 120px;padding: 10px;">
                                                <div class="col-md-4"
                                                    style="padding-right: unset !important;height: 100%;">
                                                    <img src="{{list.cover_photo ? 'https://healplace-s3-admin.s3.amazonaws.com/'+list.cover_photo : 'assets/images/shutterstocked.jfif'}}"
                                                        class="div-space">
                                                </div>
                                                <div class="col-md-8 color-fix"
                                                    [ngClass]="filterIfThere(list) ? 'col-md-8 color-fix fix-shadow active' : ''"
                                                    id="{{list.interest}}">
                                                    <img src="assets/images/image2.png" alt="" class="check">
                                                    <p class="f-p" style="margin-top: 32px;
                                                    text-align: right;">{{list.interest}}</p>
                                                    <p class="s-p" style="margin-top: 32px;
                                                    text-align: right;">{{list.description}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="col-md-1" *ngIf="checkIfLetMove()">
                                <img src="assets/images/arrowright.png" class="arrow-right" (click)="slideForward()" />
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template [ngSwitchCase]="3">
                    <div class="third-page">
                        <p class="hello">Select setting from below</p>
                        <div class="form-check">
                            <input class="checkbox" type="checkbox" [(ngModel)]="is_news_subscribe"
                                (change)="newsChange()">
                            <label class="form-check-label" for="flexCheckDefault" style="margin-left: 10px; font-weight: 1000;font-size: 14px;vertical-align: top;">
                                News Subscribe
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="checkbox" type="checkbox" [(ngModel)]="is_sms_subscribe"
                                (change)="smsChange()">
                            <label class="form-check-label" for="flexCheckDefault" style="margin-left: 10px;font-weight: 1000;font-size: 14px;vertical-align: top;">
                                SMS Subscribe
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="checkbox" type="checkbox" [(ngModel)]="is_email_subscribe"
                                (change)="emailChange()">
                            <label class="form-check-label" for="flexCheckDefault" style="margin-left: 10px;font-weight: 1000;font-size: 14px;vertical-align: top;">
                                Email Subscribe
                            </label>
                        </div>
                    </div>
                </ng-template>
                <ng-template [ngSwitchCase]="4">
                    <div class="fourth-page py-4">
                        <h1 class="head">Notification settings</h1>
                        <h4 class="sub-head">I’d like to receive notifications about:</h4>
                        <div class="sildes">
                            <div class="container">
                                <div class="row">
                                    <div class="col-6"> 
                                        <div class="available-switch">
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input"
                                                    [(ngModel)]="notification_type" id="customSwitch1">
                                                <label class="custom-control-label" for="customSwitch1"
                                                    (click)="reminderChange()">Notification Type</label>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="available-switch">
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input"
                                                    [(ngModel)]="reminder_type" id="customSwitch2">
                                                <label class="custom-control-label" for="customSwitch2"
                                                    (click)="reminderChange()">Reminder Type</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template [ngSwitchCase]="5">
                    <div class="fifth-page">
                        <h1 class="head">How Are You Feeling Today?</h1>
                        <div class="col-lg-12 col-md-12 d-flex">
                            <div class="col-md-3 col-lg-3">
                                <div class="sd-container" id="myid1" style="background: #FFF4E3;"
                                    (click)="chooseMe(1,'Excited')">
                                    <div class="row  p-2">
                                        <img class="emoji-container" src="assets/images/happy.jpg">
                                    </div>
                                    <div class="row">
                                        <p class="emoji-text">Excited</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3  col-lg-3">
                                <div class="sd-container" id="myid2" style="background: #FFE4E4;"
                                    (click)="chooseMe(2,'Grateful')">
                                    <div class="row  p-2">
                                        <img class="emoji-container" src="assets/images/love.png">
                                    </div>
                                    <div class="row">
                                        <p class="emoji-text">Grateful</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3  col-lg-3">
                                <div class="sd-container" id="myid3" style="background: #E1FFEA;"
                                    (click)="chooseMe(3,'Calm')">
                                    <div class="row  p-2">
                                        <img class="emoji-container" src="assets/images/calm2.png">
                                    </div>
                                    <div class="row">
                                        <p class="emoji-text">Calm</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 d-flex">
                            <div class="col-md-3  col-lg-3">
                                <div class="sd-container" id="myid4" style="background: #FFE4E4;"
                                    (click)="chooseMe(4,'Sleepy')">
                                    <div class="row p-2">
                                        <img class="emoji-container" src="assets/images/sleepy.png">
                                    </div>
                                    <div class="row">
                                        <p class="emoji-text">Sleepy</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3  col-lg-3">
                                <div class="sd-container" id="myid5" style="background: #E1FFEA;"
                                    (click)="chooseMe(5,'Happy')">
                                    <div class="row  p-2">
                                        <img class="emoji-container" src="assets/images/happy1.png">
                                    </div>
                                    <div class="row ">
                                        <p class="emoji-text">Happy</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3  col-lg-3">
                                <div class="sd-container" id="myid6" style="background: #FFF4E3;"
                                    (click)="chooseMe(6,'Suprised')">
                                    <div class="row p-2">
                                        <img class="emoji-container" src="assets/images/Surprised1.png">
                                    </div>
                                    <div class="row">
                                        <p class="emoji-text">Suprised</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="nextstep" (click)="profileSubmit()">Save Profile <i
                                class="fa fa-arrow-right"></i></button>
                    </div>
                </ng-template>
            </ng-container>
            <div>

                <button type="button" class="nextstep" (click)="slideUponMe(page+1)" *ngIf="page != 5">
                    Next Step <i class="fa fa-arrow-right"></i>
                </button>
            </div>

            <div class="slide-btn">
                <img [src]="page == 1 ? 'assets/images/Ellipse 131.png' : 'assets/images/Ellipse 132.png'"
                    class="img-dot" (click)="slideUponMe(1)" />
                <img [src]="page == 2 ? 'assets/images/Ellipse 131.png' : 'assets/images/Ellipse 132.png'"
                    class="img-dot" (click)="slideUponMe(2)" />
                <img [src]="page == 3 ? 'assets/images/Ellipse 131.png' : 'assets/images/Ellipse 132.png'"
                    class="img-dot" (click)="slideUponMe(3)" />
                <img [src]="page == 4 ? 'assets/images/Ellipse 131.png' : 'assets/images/Ellipse 132.png'"
                    class="img-dot" (click)="slideUponMe(4)" />
                <img [src]="page == 5 ? 'assets/images/Ellipse 131.png' : 'assets/images/Ellipse 132.png'"
                    class="img-dot" (click)="slideUponMe(5)" />
            </div>
            <div class="skip-p" (click)="slideUponMe(page+1)">
                <a class="skip">Skip</a>
            </div>
        </div>
        <div class="col-md-3 col-lg-3 d-flex" *ngIf="page != 2">
            <img src="assets/images/Group.png" class="group" />
        </div>
    </div>
</div> -->