<div *ngIf="currentStep === 'one'" class="block-customer-modal  btn-flex-center flex-column">
   
    <div class="w-60 btn-flex-center mt-4">
        <img class="wp-100" src="../../../../../assets/images/customer/report.png" />
    </div> 

    <p class="title">
        Block customer
    </p>

    <div class="btn-flex-center flex-column col-lg-12 col-md-12 my-3">
        <div class="d-flex w-60">
            <img class="wp-100 rounded-circle" [src]="selectedList.profile_image && selectedList.is_profile_pic_approved ? generalService.getCustomerImageBaseUrl(selectedList.profile_image): 'assets/images/users/avator-2.jpg'" /> 
        </div>
       
        <p class="name">{{selectedList?.nick_name}}</p>
        <p class="role" tooltip="{{selectedList?.interest?.join()}}">{{selectedList?.interest?.join() | limitTo: 20}}</p>
        <p class="content mt-4">Choose a reason for blocking this customer</p>
    </div>
    <div class="col-lg-12 col-md-12 my-2 btn-flex-center">
        <div class="col-md-4 col-lg-4 btn-flex-center ">
            <div class="sub-div btn-flex-center flex-column" [class.subdivactive]="option === 'first'">
                <a (click)="optionSelected('first')">
                    <i *ngIf="option === 'first'"  class="fa fa-check-circle  d-flex justify-content-end"></i>
                    <p class="sub-content base-font">He was <br /> disrespectful</p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 d-flex btn-flex-center">
            <div class="sub-div btn-flex-center flex-column" [class.subdivactive]="option === 'second'">
                <a (click)="optionSelected('second')">
                    <i *ngIf="option === 'second'" class="fa fa-check-circle d-flex justify-content-end"></i>
                    <p class="sub-content base-font">Something <br />
                        else here</p>
                </a>
            </div>
        </div>
    </div>
    <div class="btn-flex-center flex-column">
        <button (click)="addDetails()" class="br-10 mt-3 add-details-btn" [disabled]="!option"
            [class.btnactive]="option === 'first' || option === 'second'">Add Details →</button>
        <button (click)="closeModal()" class="my-3 unstyled-button">Cancel</button>
    </div>
</div>
<div *ngIf="currentStep === 'two'" class="block-customer-modal  btn-flex-center flex-column">
   
    <div class="w-60 btn-flex-center mt-4">
        <img class="wp-100" src="../../../../../assets/images/customer/report.png" />
    </div> 
    <p class="title">
        Blocking Details
    </p>
    <p class="content my-2">
        If you encounter a situation where a customer did <br /> something wrong
    </p>

    <div class="d-flex col-lg-12 col-md-12 mt-4">
        <div class="col-md-6 col-lg-6 d-flex justify-content-center align-items-center">
            <p class="base-color">Type your message</p>
        </div>
        <div class="col-md-6 col-lg-6 d-flex justify-content-center align-items-center">
           <div class="w-12 base-color" (click)="file.click()"> <img class="wp-100" src="../../../../../assets/images/customer/screenshots.png" />
            </div>
            <span>Add Screenshot</span>
            <p *ngIf="fileData?.name">{{fileData?.name}}</p>
            <input type="file" accept=".png, .jpg, .jpeg" class="file-upload" (change)="onFileSelected($event)" #file />
        </div>
    </div>
    <div class="p-3">
        <textarea rows="4" cols="50" [(ngModel)]="shortDescription"
            (input)="onShortDescription($event.target.value)"></textarea>
    </div>
    <div class="d-flex justify-content-center align-items-center flex-column">
        <button (click)="blockCustomer()" class="br-10 add-details-btn" [disabled]="!isEnableReportBtn"
            [class.btnactive]="isEnableReportBtn === true">Block Customer →</button><br>
        <button (click)="closeModal()" class="mb-3 unstyled-button">Cancel</button>
    </div>
    <!-- <div class="col-lg-12 col-md-12 my-2 btn-flex-center">
        <div class="col-md-6 col-lg-6 d-flex">
            <p class="sub-content">Type your message</p>
        </div>
        <div class="col-md-6 col-lg-6 d-flex">
            <a (click)="file.click()"><img class="wp-100"    src="../../../../../assets/images/customer/screenshots.png" />Add
                Screenshot</a>
            <p *ngIf="fileData?.name">{{fileData?.name}}</p>
            <input type="file" accept=".png, .jpg, .jpeg" class="file-upload" (change)="onFileSelected($event)" #file />
        </div>
    </div> -->
    <!-- <div style="padding-top: 15px;">
        <textarea rows="4" cols="50" [(ngModel)]="shortDescription"
            (input)="onShortDescription($event.target.value)"></textarea>
    </div>
    <div style="text-align: center;margin-top: 20px;">
        <button (click)="blockCustomer()" class="btn add-details-btn" [disabled]="!isEnableReportBtn"
            [class.btnactive]="isEnableReportBtn === true">Block Customer →</button><br>
        <button (click)="closeModal()" class="btn cancel-btn">Cancel</button>
    </div> -->
</div>


<div *ngIf="currentStep === 'three'"  class="block-customer-modal  btn-flex-center flex-column">
    <div class="w-60 btn-flex-center mt-4">
        <img class="wp-100" src="../../../../../assets/images/customer/report.png" />
    </div> 
    <p class="title">
        You have blocked <br />
        this customer
    </p>

    <div class="btn-flex-center flex-column col-lg-12 col-md-12 my-3">
        <div class="d-flex w-60">
            <img class="wp-100 rounded-circle" [src]="selectedList.profile_image && selectedList.is_profile_pic_approved ? generalService.getCustomerImageBaseUrl(selectedList.profile_image): 'assets/images/users/avator-2.jpg'" /> 
        </div>
       
        <p class="name">{{selectedList?.nick_name}}</p>
        <p class="role" tooltip="{{selectedList?.interest?.join()}}">{{selectedList?.interest?.join() | limitTo: 20}}</p>
        <p class="review">You blocked this user for ..... and we will review this situation</p>
    </div>

    <div class="btn-flex-center my-3">
        <button (click)="backToPlatform()" class="br-10 theme-btn">Back to Dashboard→</button><br>
    </div>
</div>
