<app-auth-navbar></app-auth-navbar>
<div class="auth-sidebar">
    <app-auth-sidebar></app-auth-sidebar>
</div>

<div class="subscription-plan" *ngIf="!showPlanCreatePage">
    <div style="text-align: center;">
        <h1 class="heading pt-4"> Choose a method for adding a new plan <br />
            or creating a promotion</h1>
        <p class="sub-head">
            Select one option from below based on the <br />
            type of discount you want to create.
        </p>
    </div>
    <div class="row" *ngIf="!showPlanList">
        <div class="col-md-6 col-lg-6">
            <div class="left">
               <div style="padding: 20px 50px;">
                <p class="title">Edit a subscription plan <br />
                    or add a discount!</p>
                <p class="content">Apply a discount to an existing<br />
                    subscription plan by creating <br />
                    Cupon Code and selecting the <br />discount percentage </p>
                    <button class="btn add-details-btn" type="button" (click)="editPlan()" >Edit plans →</button>

               </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="right">
               <div style="padding: 20px 50px;">
                <p class="title">Create new<br />
                    subscription plan!</p>
                <p class="content">Create a new cheaper subscription<br />
                    based on a Cupon Code for a limited <br /> period of time</p>
                    <button class="btn add-details-btn" type="button" (click)="createPlan()" >Create →</button>
               </div>
            </div>
        </div>
    </div>
    <div *ngIf="!showPlanList" style="text-align: center;padding-top: 50px;">
        <button class="btn back-to-dashboard-btn" type="button" (click)="backToDashboard()" >Back to Dashboard →</button>
    </div>
    <div class="plan-list" *ngIf="showPlanList">
        <div class="row col-md-12 dv-plan" style="margin-right: 0px !important;" *ngIf="showPackageItems == 'Monthly Pricing' && MonthlyData.length != 0">
            <div class="dvpackage" *ngFor="let plan of MonthlyData;let i = index;">
                <label class="lblpackage">{{plan.plan_name}}</label>
                <h1 class="dollar-money-font pl-4">${{plan.regular_price}}</h1>
                <button type="button" class="btn choose-btn ml-4" id="btn-customer"
                    (click)="ChooseClick(i,plan)" [ngClass]="{'btncustom': selectedItem == i}">
                    Edit <span class="pl-2 pr-2"><i class=" fa fa-arrow-right"></i></span>
                </button>
                <ul class="ul-align mb-5">
                    <ol class="smallfont" *ngFor="let item of plan.plan_description">
                        {{item}}
                    </ol>
                </ul>

            </div>
        </div>
        <div class="row col-md-12 dv-plan" *ngIf="showPackageItems == '3' && ThreeMonthData.length != 0">
            <div class="dvpackage" *ngFor="let plan of ThreeMonthData;let i = index;">
                <label class="lblpackage">{{plan.plan_name}}</label>
                <h1 class="dollar-money-font pl-4">${{plan.sale_price}}</h1>
                <h6 class=" pl-4" style="text-decoration: line-through;">${{plan.regular_price}} </h6>
                <button type="button" class="btn choose-btn ml-4" id="btn-customer" plan_id="asdsadkjsadkjsa"
                    (click)="ChooseClick(i,plan)" [ngClass]="{'btncustom': selectedItem == i}">
                    Edit <span class="pl-2 pr-2"><i class=" fa fa-arrow-right"></i></span>
                </button>
                <ul class="ul-align">
                    <ol class="smallfont" *ngFor="let item of plan.plan_description">
                        {{item}}
                    </ol>
                </ul>
            </div>
        </div>
        <div class="row col-md-12 dv-plan" *ngIf="showPackageItems == '6' && SixMonthData.length != 0">
            <div class="dvpackage" *ngFor="let plan of SixMonthData;let i = index">
                <label class="lblpackage">{{plan.plan_name}}</label>
                <h1 class="dollar-money-font pl-4">${{plan.sale_price}}</h1>
                <h6 class=" pl-4" style="text-decoration: line-through;">${{plan.regular_price}} </h6>
                <button type="button" class="btn choose-btn ml-4" id="btn-customer"
                    (click)="ChooseClick(i,plan)" [ngClass]="{'btncustom': selectedItem == i}">
                    Edit <span class="pl-2 pr-2"><i class=" fa fa-arrow-right"></i></span>
                </button>
                <ul class="ul-align">
                    <ol class="smallfont" *ngFor="let item of plan.plan_description">
                        {{item}}
                    </ol>
                </ul>

            </div>
        </div>
        <div class="row col-md-12 dv-plan" *ngIf="showPackageItems == 'Annually' && AnnualData.length != 0">
            <div class="dvpackage" *ngFor="let plan of AnnualData;let i = index">
                <label class="lblpackage">{{plan.plan_name}}</label>
                <h1 class="dollar-money-font pl-4">${{plan.sale_price}}</h1>
                <h6 class=" pl-4" style="text-decoration: line-through;">${{plan.regular_price}} </h6>
                <button type="button" class="btn choose-btn ml-4" id="btn-customer"
                    (click)="ChooseClick(i,plan)" [ngClass]="{'btncustom': selectedItem == i}">
                    Edit <span class="pl-2 pr-2"><i class=" fa fa-arrow-right"></i></span>
                </button>
                <ul class="ul-align">
                    <ol class="smallfont" *ngFor="let item of plan.plan_description">
                        {{item}}
                    </ol>
                </ul>

            </div>
        </div>
        <div class="row" style="padding: 25px;margin-right: 0px !important;">
            <div class="col-md-3 col-lg-3"><a (click)="ShowPackage('Monthly Pricing','Monthly Pricing')"
                    [ngClass]="{'a-active': showPackageItems == 'Monthly Pricing','a-deactive': showPackageItems != 'Monthly Pricing'}">Monthly
                    Pricing</a></div>
            <div class="col-md-3 col-lg-3"><a (click)="ShowPackage('3', '3 Months')"
                    [ngClass]="{'a-active': showPackageItems == '3','a-deactive': showPackageItems != '3'}">3
                    months</a></div>
            <div class="col-md-3 col-lg-3"><a (click)="ShowPackage('6', '6 Months')"
                    [ngClass]="{'a-active': showPackageItems == '6','a-deactive': showPackageItems != '6'}">6
                    months</a></div>
            <div class="col-md-3 col-lg-3"><a (click)="ShowPackage('Annually', 'Annually')"
                    [ngClass]="{'a-active': showPackageItems == 'Annually','a-deactive': showPackageItems != 'Annually'}">Annually</a>
            </div>
        </div>
    </div>
</div>
<div class="subscription-plan" *ngIf="showPlanCreatePage">
    <div class="p-25">
        <p class="heading">Add new subscription plan!</p>
        <p class="sub-head">Select one option from below based on the type of discount you want to create.</p>
    </div>
    <div class="plan-edit p-25">
        <div class="row">
            <div class="col-md-8 col-lg-8 left-edit">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <p class="label">Edit subscrition plan title</p>
                        <input class="p-title" [(ngModel)]="plan.plan_name" type="text" />
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <p class="label">Choose billing period</p>
                        <div class="btn-group period" dropdown>
                            <button id="button-alignment-year" dropdownToggle type="button" class="drop-content btn dropdown-toggle"
                                aria-controls="dropdown-dropup">
                                {{selectedBillingPeriod}}
                                <img src="../../../../../assets/images/customer/down_caret.png" />
                            </button>
                            <ul id="dropdown-dropup" *dropdownMenu class="dropdown-menu" role="menu"
                                aria-labelledby="button-alignment-year">
                                <ng-container *ngFor="let y of defaultBillingPeriods">
                                    <li role="menuitem" style="text-align: center;"><a class="dropdown-item drop-content"
                                            (click)="selectedBillingPeriod=y.plan_type;plan.plan_type = y.id">{{y.plan_type}}</a></li>
                                </ng-container>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="pt-20">
                    <p class="label">Included Services</p>
                    <ng-container *ngFor="let service of plan.plan_description;let i=index;">
                        <input class="content service" id="{{i}}" (input)="descriptionChange($event.target.value, i)" [value]="service" type="text" />
                    </ng-container>
                    <div class="plus-btn">
                        <button class="btn plus" (click)="addNewDescriptio()" type="button">+</button>
                    </div>
                </div>
                <div class="row pt-20">
                    <div class="col-md-4 col-lg-4">
                        <p class="label">Edit Sale Price</p>
                        <input class="content price" [(ngModel)]="plan.sale_price" type="number" />
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <p class="label">Edit Regular Price</p>
                        <input class="content price" [(ngModel)]="plan.regular_price" type="number" />
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <p class="label">Display Regular Price</p>
                        <div class="content check" (click)="plan.display_regular_price = !plan.display_regular_price;">
                            <img *ngIf="plan.display_regular_price" src="../../../../../assets/images/checkbox.png" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4"></div>
        </div>
        <div style="text-align: center;padding-top: 50px;">
            <button class="btn save-btn" type="button" (click)="saveSubscription()" >Save Subscription Plan →</button>
        </div>
    </div>
</div>