.subscription-plan{
    input{
        border: none !important;
        overflow: auto;
        outline: none !important;
        padding: 10px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        font-size: 12px;
    }
    .btn:focus{
        box-shadow: none !important;
    }
    background: #fff;
    padding-left: 125px;
    .heading {
        font-family: 'BelyDisplayW-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    }
    
    .sub-head {
        font-family: 'FFMarkWebProBook';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #6D6D6D;
    
    }
    .left{
        width: 360px;
        height: 282.86px;
        background: #FFF4E3;
        opacity: 0.5;
        border-radius: 20px;
        float: right;
        margin-right: 50px;
    .title{
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #074D63;
    }
    .content{
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #6D6D6D;
    }
    }
    .right{
        background: rgba(252, 215, 215, 0.2);
        width: 360px;
        height: 282.86px;
        border-radius: 20px;
        margin-left: 50px;
        .title{
            font-family: 'FFMarkWebProBook';
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            color: #074D63;
        }
        .content{
            font-family: 'FFMarkWebProBook';
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: #6D6D6D;
        }
    }
    .add-details-btn{
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #074D63;
        border: 1px solid #074D63;
        padding: 20px 20px;
    }
    .back-to-dashboard-btn{
        background: #00BAD5;
        border: none !important;
        width: 228px;
        height: 60px;
        color: #fff;
        border-radius: 20px;
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
    }
    .plan-list{
        .choose-btn {
            border: 1px #074D63 solid;  
            padding: 15px;
        }
        .choose-btn.btn:hover {
          color: #495057;
          text-decoration: none;
          background-color: #FBD036;
        }
        .btncustom {
            background-color: #FBD036 !important;
        }
        .dvpackage {
            background: #FFFFFF;
        box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.06);
        border-radius: 40px;
        min-height: 280px;
        margin-right: 50px;
        width: 220px;
        }
        
        .lblpackage {
            font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 35px;
        color: #00BAD5;
        padding: 15px 0px 0px 25px;
        }
        
        .dollar-money-font {
        font-family: 'BelyDisplayW-Regular';
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 45px;
        color: #074D63;
        }
        .smallfont {
            font-family: 'FFMarkWebProBook';
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            width: 180px;
            color: #6D6D6D;
            list-style-type: circle;
            list-style-position: outside;
            display: list-item;
            padding: 10px 0px 0px 0px
          }
        
          .dv-custom-1 {
            margin-left: -30px;
            z-index: 1000;
            margin-top: 70px;
            height: auto;
          }
          .dv-custom-2 {
            margin-left: -20px;
            height: auto;
          }
        
          .ul-align {
            margin: 0px;
            padding: 0px;
            margin-left: 40px;
            margin-bottom: 20px;
          }
        
          .mr-60-custom {
            margin: 0px 60px 8px -28px;
          }
          .package-period {
            font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-size: 16px;
        line-height: 20px;
        color: #00BAD5;
          }
        
          .mr-90{
            margin-right: 90px;
          }
        
          .interest-video {
            position: absolute;
            padding-top: 40px;
            right: 160px;
          }
        
          h6 {
            font-family: BelyDisplayW00-Regular;
            font-style: normal;
            font-weight: normal;
            color: #074D63;
          }
        
          #pakages-a a {
            cursor: pointer;
            color: #6D6D6D;
          }
          .dvoffer {
            background-color: #074D63;
            width: 50px;
            color: #FFF;
            border-radius: 10px;
            padding: 5px 0px 0px 8px;
            height: 32px;
            margin-top: -10px;
            margin-left: 20px;
          }
        
          .a-active {
            font-family: 'FFMarkWebProBook';
            color: #00BAD5 !important;
            background: #FFFFFF;
            box-shadow: 0px 10px 20px rgb(0 0 0 / 6%);
            border-radius: 20px;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            padding: 10px;
          }
          .a-deactive{
            font-family: 'FFMarkWebProBook';
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: #6D6D6D !important;
        
          }
          .dv-plan {
            padding-top: 20px;
            padding-bottom: 20px;
            justify-content: center;
        }
    }
    .pt-20{
        padding-top: 20px;
    }
    .p-25{
        padding: 25px;
    }
    .plan-edit{
        .save-btn{
            background: #FBD036;
            border: none !important;
            width: 228px;
            height: 60px;
            color: #074D63;
            border-radius: 20px;
            font-family: 'FFMarkWebProBook';
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
        }
        .left-edit{
            background: #FAFAFA;
            border-radius: 40px;
            padding: 25px;
        }
        .label{
            font-family: 'FFMarkWebProBook';
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: #6D6D6D;
        }
        .p-title{
            font-family: 'BelyDisplayW-Regular';
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 30px;
            color: #074D63;
            height: 60px;
    background: #FFFFFF;
    border-radius: 20px;
        }
        .period{
            height: 60px;
    background: #FFFFFF;
    border-radius: 20px;
    width: 232px;
        }
        .drop-content{
            color: #074D63;
            font-family: 'FFMarkWebProBook';
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
        }
        .content{
            font-family: 'FFMarkWebProBook';
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: #074D63;
        }
        .service{
            background: #FFFFFF;
            border-radius: 20px;
            width: 81%;
            height: 60px;
            margin-bottom: 10px;
        }
        .plus-btn{
            width: 73px;
            height: 60px;
            background: #074D63;
            border-radius: 20px;
            text-align: center;
            margin-top: 20px;
        .plus{
            color: #fff;
            text-align: center;
            font-size: 30px;
        }
    }
    .price{
        height: 60px;
    background: #FFFFFF;
    border-radius: 20px;
    }
    .check{
        height: 60px;
    background: #FFFFFF;
    border-radius: 20px;
    width: 64px;
    text-align: center;
    img{
        width: 18px;
    padding-top: 20px;
    }
    }
}
}