<app-auth-navbar></app-auth-navbar>
<div class="auth-sidebar">
    <app-auth-sidebar></app-auth-sidebar>
</div>
<div class="container">
    <div class="row sub-container">
        <div class="col-md-12">
            <h1 class="h1title">Your Payment Methods and Billing History</h1>
        </div>
        <div class="col-md-12">
            <h2 class="h2title">Details about your Payment <br> Methods and Billing History</h2>
        </div>
    </div>

    <div class="btn-flex-center flex-column col-lg-12 col-md-12">
        <div class="row btn-flex-center w-100 p-4">
            <div class="d-flex flex-column card-box-container">
                <div class="title text-left" *ngIf="cardDeatils?.cc_number.length > 0">You are paying with a credit card or a debit card</div>
                <div class="d-flex w-100 justify-content-between">
                    <div class="btn-flex-center" *ngIf="cardDeatils?.cc_number.length > 0">
                        <div class="card-images">
                            <img src="assets/images/visa.png" alt="visaimg" style="height: 100px;">
                        </div>
                        <div class="card-text flex-column d-flex font-mark-web">
                            <span>Visa ending in {{cardDeatils?.last_four_cc}}</span>
                            <span>Expires in {{cardDeatils?.cc_expiry}}</span>
                        </div>
                    </div>

                    <div *ngIf="cardDeatils ==undefined">
                        <div class="title text-left">You don’t have any payment
                        option saved yet. <br>Add your card details for saving time for <br>future payments.</div>
                    </div>
                    <div class="btn-flex-center">
                        <button type="button" class="btn-update br-20" [ngClass]="!!cardDeatils ? '' : 'btn-fds'"
                            routerLink="{{cardDeatils?.cc_number.length > 0 ? '/payment-update': '/payment-create'}}">
                            {{cardDeatils?.cc_number.length> 0 ? 'Update': 'Add Card'}}
                            <i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="btn-flex-center flex-column col-lg-12 col-md-12">
        <div class="row btn-flex-center w-100 p-4">
            <div class="d-flex flex-column card-box-container">
                <div class="title text-left">Billing History</div>
                <div class="d-flex w-100 justify-content-between">
                        <div class="card-text btn-flex-center font-mark-web">
                            <span>View Details of your healplace membership
                                <br> and payments</span>
                        </div>
                   
                    <div class="btn-flex-center">
                        <button type="button" class="btn-update br-20" routerLink="/billing-history">
                            View Billing History
                            <i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- 
    <div id="payment-info">
        <div class="row">
            <div class="col-md-12">
                <div class="info-container">
                    <div>
                        <ng-container *ngIf="cardDeatils?.cc_number.length > 0 else callFalse">
                            <div class="title mt-4">You are paying with a credit card or a debit card</div>
                            <div class="row">
                                <div class="card-images">
                                    <img src="assets/images/visa.png" alt="visaimg" style="height: 100px;">
                                </div>
                                <div class="card-text">
                                    <p>Visa ending in {{cardDeatils?.last_four_cc}}</p>
                                    <p>Expires in {{cardDeatils?.cc_expiry}}</p>
                                </div>
                            </div>
                        </ng-container>
                        <ng-template #callFalse>
                            <div class="title" style="margin-right: 100px; margin-top: 40px;">You don’t have any payment
                                option saved yet. <br>Add your card details for saving time for future payments.</div>
                        </ng-template>
                    </div>
                    <button type="button" class="btn" [ngClass]="cardDeatils?.cc_number.length > 0 ? 'btn-fds' : ''"
                        routerLink="{{cardDeatils?.cc_number.length > 0 ? '/payment-update': '/payment-create'}}" style="height: 60px;
                margin-top: 40px;">
                        {{cardDeatils?.cc_number.length > 0 ? 'Update': 'Add Card'}}
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </div>
            </div>

            <div class="col-md-12">

                <div class="info-container mt-4">
                    <div>
                        <div class="title">Billing History</div>
                        <div class="account-description">View Details of your healplace membership
                            and payments
                        </div>
                    </div>
                    <button type="button" class="btn" routerLink="/billing-history">
                        View Billing History
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </div>

            </div>
        </div>




    </div> -->

</div>