<drag-scroll class="carousel-height-article">
    <div drag-scroll-item  style="margin-right: 14px;" *ngFor="let article of articles">
        <app-articles [id]="article.id" [image]="article.image" [category]="article.category[0]"
            [firstname]="article.author__first_name" [lastname]="article.author__last_name" [title]="article.title "
            [description]="article.description"></app-articles>
    </div>
</drag-scroll>
<button (click)="moveLeft()" class="carousel-control-prev-icon carousel-control-prev">
    <img class="img-fluid" src="../../../../assets/images/arrowleft.png">
</button>
<button (click)="moveRight()"  class="carousel-control-next-icon carousel-control-next">
    <img class="img-fluid" src="../../../../assets/images/arrowright.png">
</button>