<div class="modal-body col-lg-12">
    <p class="login__heading">Sign in member</p>
    <p class="login__md">
        Don’t have an account? <a (click)="openSignupModal()"> Sign up now! </a>
    </p>
    <div class="col-lg-7 m-auto pb-5" [ngClass]="{'col-lg-10': !loginFromScreen}">
        <form name="LoginForm" spellcheck="false" autocomplete="off" (ngSubmit)="login(LoginForm.valid)"
            #LoginForm="ngForm">
            <div class="row">
                <div class="col-lg-12 form-group">
                    <input type="email" class="sign-up-input"
                        pattern="^[a-zA-Z]+[a-zA-Z0-9._-]+@[a-zA-Z]+\.[a-zA-Z.]{2,5}$" placeholder="Email"
                        id="useremail" #useremail="ngModel" name="useremail"
                        [ngClass]="{' show-error ' :LoginForm.submitted && useremail.invalid}" [(ngModel)]="user.email"
                        required>
                    <div *ngIf="LoginForm.submitted && useremail.invalid">
                        <span class="ng-error">
                            Invalid format for email address. Please enter an email in format: user@email.com
                        </span>
                    </div>
                </div>

                <div class="col-lg-12 form-group">
                    <input class="sign-up-input" type="password" placeholder="Password" #password="ngModel"
                        name="password" [(ngModel)]="user.password"
                        [ngClass]="{' show-error ' :LoginForm.submitted && password.invalid}" required>
                    <div *ngIf="LoginForm.submitted && password.invalid">
                        <span class="ng-error">
                            Please enter your password
                        </span>
                    </div>
                </div>

                <div class="form-group  col-lg-12">
                    <div class="form-check">
                        <label>
                            <input type="radio" name="remember" checked={{user.remember}} [(ngModel)]="user.remember"
                                [value]="true" #remember="ngModel"> <span class="label-text">Keep me logged in</span>
                        </label>
                    </div>
                </div>

                <!-- <div class="form-group  col-lg-12">
                    <div class="form-check">
                        <label>
                            <input type="radio" name="consent" checked={{user.consent}} [(ngModel)]="user.consent" [value]="true" #consent="ngModel"> <span class="label-text" >I’m over 16 and I
                                agree to healpalce’s Privacy Policy.</span> {{user.consent}}
                        </label>
                    </div>
                </div>

                <div class="form-group  col-lg-12">
                    <div class="form-check">
                        <label>
                            <input type="radio" name="notification" checked={{user.consent}} [(ngModel)]="user.notification" [value]="true" #notification="ngModel"> <span class="label-text">I want to receive news
                                and offers from healplace.com</span>
                        </label>
                    </div>
                </div> -->






                <div class="col-lg-12 form-group">
                    <button type="submit" class="button button__login btn-block">Sign In</button>
                </div>
                <div class="col-lg-12 text-center py-2">
                    <a class="login__forgot" [routerLink]="['/forgot-password']">Forgot Password?</a>
                </div>

                <div class="col-lg-12 text-center py-2">
                        <app-social-media-signup></app-social-media-signup>
                        <!-- <span class="login__other">Or sign up with</span>
                        <div class="login__social" (click)="signInWithFB()"> <img
                                src="../../../assets/images/Vector (1).png"> </div>
                        <div class="login__social" (click)="signInWithGoogle()"><img
                                src="../../../assets/images/Group (1).png"></div> -->
                        <!-- <div class="login__social"><img src="../../../assets/images/Apple_logo_black 1.png">
                        </div> -->
                </div>
            </div>

        </form>
    </div>
</div>