<app-auth-navbar></app-auth-navbar>
<div class="auth-sidebar">
    <app-auth-sidebar></app-auth-sidebar>
</div>
<div class="customer-profile-container">
	<section class="font-family">
		<div class="font-family banner">
			<div class="top-container col-lg-12 col-md-12 d-flex">
				<div class="form-container col-lg-8 col-md-8 p-1">
					<div id="calendar-container">
						<div class="h1title ml-2">Practitioner’s Availability</div>

						<div id="calendar">
							<div id="cale-container">
								<div id="cale-nav-container">
									<div id="cale-nav-container">
										<div id="cale-prev-week-container">
											<div id="cale-prev-week" (click)="previousWeek()">
												&lt; </div>
										</div>

										<div id="cale-current-month-year-container">
											<span>{{week}}</span>
											<app-week-selection (weekRange)="changeWeek($event)"></app-week-selection>
										</div>


										<div id="cale-prev-week-container">
											<div id="cale-next-week" (click)="nextWeek()">&gt;</div>
										</div>
										<div style="clear:both;"></div>
									</div>
								</div>
								<div id="cale-week-container">
									<div id="cale-dates-container">
										<div id="cale-dates-container">
											<div class="cale-date-header" id="cale-date-header-0"
												*ngFor="let day of days">
												<div class="cale-date-number">{{day.day}}</div>
												<div class="cale-date-display">{{day.date + '/' + day.month}}</div>
											</div>
										</div>
									</div>
									<div id="cale-available-time-container">
										<div class="cale-day-time-container" id="cale-day-time-container-0"
											*ngFor="let day of days">

											<a href="javascript:;" class="cale-available-time"
												[class.selected]="day.available.includes(time.time)"
												[class.disabled]="day.disable.includes(time.time)"
												*ngFor="let time of settings.availability">
												{{time.displayTime}}
											</a>

											<div style="clear:both;"></div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<button type="button" class="nextstep" (click)="bookSession()">Book a session <i
									class="fa fa-arrow-right"></i></button>
						</div>
						<div class="col-md-2">
							<label
								style="width: 29px;height: 29px;border-radius: 50%; background: #00BAD5;margin-top: -5px;margin-left: 15px;"></label>
							<label style="float: right;color: #074D63;">Booked</label>
						</div>

						<div class="col-md-2">
							<label
								style="width: 29px;height: 29px;border-radius: 50%; background: #F2F6F7;margin-top: -5px;margin-left: 5px;"></label>
							<label style="float: right;color: #074D63;">Available</label>
						</div>

						<div class="col-md-2">
							<label style="float: right;color: rgba(109, 109, 109, 0.4);">Unavailable</label>
						</div>
					</div>
				</div>

				<div class="yoga-container-copy col-lg-4 col-md-4 p-1">

					<div class="yoga-inside">
						<h1 class="h1title">Practitioner’s Sessions</h1>

						<div *ngIf="practitionerDetail?.practitioner_sessions?.length==0">
							<div class="row withdraw-history-header mt-2">
								<div class="col-md-12 col-lg-12 col-lg-6 btn-flex-center p-5">
									{{msg}}
								</div>
							</div>
						</div>

						<div *ngFor="let session of practitionerDetail.practitioner_sessions">
							<div class="row withdraw-history-header mt-2">
								<div class="col-md-6">
									<div class="withdraw-history-title">Title</div>
								</div>
								<div class="col-md-3">
									<div class="withdraw-history-title">Time</div>
								</div>
								<div class="col-md-3">
									<div class="withdraw-history-title">Price</div>
								</div>
							</div>
						
							<div class="row withdraw-history-item">
								<div class="col-md-6">
									<div class="withdraw-history-value" tooltip="{{session.title}}">{{session.title |limitTo:20}}</div>
								</div>
						
								<div class="col-md-3">
									<div class="withdraw-history-value">{{session.duration_min}} min</div>
								</div>
								<div class="col-md-3">
									<div class="withdraw-history-value">${{session.price}}</div>
								</div>
							</div>
						</div>

						<!-- <h1 class="h1title" style="margin-top:20px">Practitioner’s Bio</h1>
						<div class="row withdraw-history-item">
							<div class="col-md-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
								eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								<br>
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>

						</div> -->

						<h1 class="h1title" style="margin-top:20px">Practitioner’s Expertise</h1>
						
						<div class="expertise-section">
							<div *ngIf="practitionerDetail?.practitioner_expertise?.length==0">
								<div class="row withdraw-history-header mt-2">
									<div class="col-md-12 col-lg-12 col-lg-6 btn-flex-center p-5">
										{{msg}}
									</div>
								</div>
							</div>
							<ng-container *ngFor="let list of practitionerDetail.practitioner_expertise">
								<div class="card expertise-card" id="{{list.id}}">
									<div class="card-body">
										<div class="img-section">
											<img src="{{generalService.getAdminImageBaseUrl(list.cover_photo)}}" alt="">
										</div>
										<div class="text-section">
											<h3 tooltip="{{list.interest}}">{{list.interest | limitTo:17}}</h3>
											<span tooltip="{{list.description}}">{{list.description | limitTo:40}}</span>
										</div>
									</div>
									<!-- <img src="assets/images/image2.png" alt="" class="check"> -->
								</div>
							</ng-container>
						</div>
					</div>




				</div>

			</div>
		</div>
	</section>
</div>