.navbar-light .navbar-brand{
    img{
        @media screen and (max-width: 767px) and (min-width: 320px) {
        width:170px
        }
    }
}

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
    @media screen and (max-width: 767px) and (min-width: 320px) {
    width: 50%;
    }
}




.navbar-light .navbar-nav .nav-link {
    color: #074D63!important;
}
@media (min-width: 992px){}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    /* font-family: FF Mark Pro; */
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #074D63!important;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 32px;
}



@media screen and (max-width: 767px) and (min-width: 320px) {
    

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}


}
// @media screen and (max-width: 991px) and (min-width: 320px) {
// .nav-fixed-top {
//     position: fixed;
//     top: 0;
//     right: 0;
//     left: 0;
//     z-index: 1030;
//     background-color: #fff;
// }
// }
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 124px;
    // margin-bottom: 20px;
    font-family: 'FFMarkWebProBook';
    .logo-container{
        width: 250px;
    }

    .header-link{
        margin-right: 20px;
        font-size: 20px;
    }

    .btn-signup{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px 40px;
        background: #00BAD5;
        border-radius: 20px;
        color: #fff;
        font-size: 20px;
        line-height: 20px;
        border: none;
    }

    .dropdown-item{
        color: #074D63 !important;
        padding: 0.35rem;
    }

    .dropdown-item:hover {
        color: #00BAD5 !important;
        font-weight: bold !important;
    }

    .profile-image_div{
        height: 48px;
        width: 48px;
        border-radius: 50%;
        margin: 0px 16px;
        overflow: hidden;
        img{
            width: 100% !important;
            height: 100% !important;
        }
    }
    .profile-logo{        
        background-color: #074D63;
    }

    

    .logged-user{
        .username{
            font-weight: bold;
            font-size: 20px;
            line-height: 18px;
            margin: 0px 16px;
            color: #074D63;
            font-family: 'FFMarkWebProBook';
        }
        .profile-icon{
            font-size: 16px;
            color: #FFF;
        }
         
        .arrow{
            font-size: 12px;
            color: #074D63;
        }

        .profile-image{
            width: 64px;
            height: 64px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 16px;
            img{
                width: 100%;
            }
        }
        
         
    }

    .header-menu{
        color: #6d6d6d !important;
        font-size: 16px;
        line-height: 20px;
    }
}





.profile-image_div{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin: 0px;
    overflow: hidden;
    background: #074D63;
    border-radius: 100px;
    color: #fff;
    img{
        width: 100% !important;
        height: 100% !important;
    }
}
.bg-ligh{
    background-color: #fff!important;
}

.navbar-expand-lg  .navbar-nav .nav-link{
    margin: 0 8px!important;
}

.use-rname{
    font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 20px;
/* identical to box height, or 100% */

display: flex;
align-items: center;

/* Secondary */

color: #074D63;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 5px;
}

.search-header{
    background        : #FAFAFA url(../../../assets/images/Vector-4.png) no-repeat 6% center;
    width             : 100%;
    padding           : 20px 24px 20px 45px;
    border-radius: 12px;
    display           : inline-block;
    box-sizing        : border-box;
    -webkit-appearance: none;
    -moz-appearance   : none;
    font-family       : 'FFMarkWebProBook';
    font-style        : normal;
    font-weight       : normal;
    font-size         : 16px;
    line-height       : 20px;
    // opacity           : 0.3;
    color             : #074D63;
    border            : none;
    // &:hover, &:focus{
    //     border            : 1px solid #E5E5E5;
    //     background-color: #E5E5E5;
    // }
}
 