<nav class="navbar navbar-expand-lg navbar-light nav-fixed-top  ">
    <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">
        <img src="../../assets/images/h-logo.svg">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav m-auto">
        <li class="nav-item active" *ngIf="!showSearch">
            <a class="nav-link" [routerLink]="['/practitioner/search']" >Practitioners</a>
        </li>
        <li class="nav-item" *ngIf="!showSearch">
          <a class="nav-link" [routerLink]="['/live-classes']">Classes</a>
        </li>
        <li class="nav-item" (click)="showField()" *ngIf="!showSearch">
          <a class="nav-link disabled" href="#">Search</a>
        </li>
        <li *ngIf="showSearch" >
          <input type="text" class="search-header" autofocus (keyup.enter)="onFocusOutEvent($event)" name="serachtext" (click)="searchFromAll($event)" [(ngModel)]="searchText" placeholder="search"/>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class="d-flex-center" *ngIf="!showProfileSection">
            <div class="" dropdown container="body" placement="bottom left">
              <a id="login-container" dropdownToggle class="button button__white dropdown-toggle"
                aria-controls="dropdown-container">Sign In</a>
              <ul id="dropdown-container" *dropdownMenu class="login-signup dropdown-menu dropdown-menu-left" role="menu"
                aria-labelledby="login-container">
                <li role="menuitem"><a class="dropdown-item color-blue font-20-40" [routerLink]="['/login','client']">Client</a></li>
                <li role="menuitem"><a class="dropdown-item color-theme font-bold" [routerLink]="['/login','practitioner']">Practitioner</a></li>
              </ul>
            </div>
            <div dropdown container="body" placement="bottom left">
                <button id="signup-container" dropdownToggle type="button" class="button button__primary dropdown-toggle"
                        aria-controls="dropdown-container">
                        Sign Up
                </button>
                <ul id="dropdown-container" *dropdownMenu class="login-signup dropdown-menu dropdown-menu-left"
                    role="menu" aria-labelledby="signup-container">
                  <li role="menuitem"><a class="dropdown-item color-blue font-20-40" [routerLink]="['/signup','client']">Client</a></li>
                  <li role="menuitem"><a class="dropdown-item color-theme font-bold" (click)="openSignupModal()">Practitioner</a></li>
                </ul>
              </div>
        </div>
    
        <div class="d-flex-center logged-user dropdown-toggle" placement="top left" dropdown container="body" dropdownToggle
            id="logged-user-container" *ngIf="showProfileSection">
            <div class="d-flex-center profile-image_div" *ngIf="(logedinData?.is_profile_pic_approved && logedinData?.profile_image || logedinData?.is_photo_verified && logedinData?.profile_image)">
                <img  src="{{logedinData?.is_profile_pic_approved && logedinData?.profile_image || logedinData?.is_photo_verified && logedinData?.profile_image ? logedinData?.profile_image : 'assets/images/bg/Frame 407.png'}}" alt="Header Avatar">
            </div>
            <div class="d-flex-center profile-image_div profile-logo" *ngIf="!(logedinData?.is_profile_pic_approved && logedinData?.profile_image || logedinData?.is_photo_verified && logedinData?.profile_image)">
                <!-- <i class="fa fa-user profile-icon"></i> -->
                <img src="../../../assets/images/bg/Frame 407.png">
            </div>
    
            <label class="use-rname">{{userData?.user?.first_name + " " +userData?.user?.last_name | limitTo:18 }}</label>
            <div>
                <!-- <i class="fas fa-chevron-down arrow"></i> -->
                <img src="../../../assets/images/bg/Vector (2).png">
            </div>
            <ul id="dropdown-container" *dropdownMenu class="userinfo dropdown-menu dropdown-menu-left" role="menu"
                aria-labelledby="logged-user-container">
                <li role="menuitem" class="disabled"><a class="dropdown-item disabled" href="#">
                    <div class="d-flex-center">
                        <div class="profile-image" > 
                            <img src="{{logedinData?.is_profile_pic_approved && logedinData?.profile_image || logedinData?.is_photo_verified && logedinData?.profile_image ? logedinData?.profile_image : 'assets/images/bg/Frame 407.png'}}" alt="Header Avatar">
                        </div>
                        <div class="d-flex flex-column">
                            <div class="color-blue font-bold font-16-18 user-truncatte" tooltip="{{userData?.user?.first_name + ' ' +userData?.user?.last_name }}">{{userData?.user?.first_name + " " +userData?.user?.last_name | limitTo:18 }}</div>
                            <div class="color-grey font-14-18 user-truncatte" tooltip="{{userData?.user?.email}}">{{userData?.user?.email | limitTo:19}}</div>
                        </div>
                    </div>
                </a></li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem"><a class="dropdown-item header-menu" [routerLink]="['/my-favorites']">My Favorites ({{my_fav_count}})</a></li>
                <li role="menuitem"><a class="dropdown-item header-menu"[routerLink]="['/my-course']" >My Courses ({{my_course_count}})</a></li>
                <li role="menuitem"><a class="dropdown-item header-menu color-theme cp" *ngIf="logedinData.is_subscribed" [routerLink]="['/welcome-customer']">View Dashbaord</a>
                  <a class="dropdown-item header-menu color-theme cp" *ngIf="!logedinData.is_subscribed" [routerLink]="['/manage-subscription']">Upgrade to Pro</a></li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem"><a class="dropdown-item header-menu font-bold" (click)="logout()">Logout</a></li>
            </ul>
        </div>
      </form>
    </div>
    </div>
  </nav>


<!-- <div class="header">
    <div class="logo-container cursor-pointer" [routerLink]="['/home']">
        <img src="../../assets/images/h-logo.svg">
    </div>

    <div>
        <a class="header-link color-blue" [routerLink]="['/v2/practitioner/search']" >Practitioners</a>
        <span class="header-link color-blue" >Classes</span>
        <span class="header-link color-blue">Search</span>
    </div>

    
    <div class="d-flex-center" *ngIf="!showProfileSection">
        <div class="" dropdown container="body" placement="bottom left">
            <a id="login-container" dropdownToggle  class="header-link color-blue dropdown-toggle"
            aria-controls="dropdown-container">Sign In</a>
            <ul id="dropdown-container" *dropdownMenu class="login-signup dropdown-menu dropdown-menu-left"
                role="menu" aria-labelledby="login-container">
              <li role="menuitem"><a class="dropdown-item color-blue font-20-40" href="#">Client</a></li>
              <li role="menuitem"><a class="dropdown-item color-theme font-bold"  href="#">Practitioner</a></li>
            </ul>
          </div>

        <div dropdown container="body" placement="bottom left">
            <button id="signup-container" dropdownToggle type="button" class="btn-signup dropdown-toggle"
                    aria-controls="dropdown-container">
                    Sign Up
            </button>
            <ul id="dropdown-container" *dropdownMenu class="login-signup dropdown-menu dropdown-menu-left"
                role="menu" aria-labelledby="signup-container">
              <li role="menuitem"><a class="dropdown-item color-blue font-20-40" href="#">Client</a></li>
              <li role="menuitem"><a class="dropdown-item color-theme font-bold"  href="#">Practitioner</a></li>
            </ul>
          </div>
    </div>

    <div class="d-flex-center logged-user dropdown-toggle" placement="top left" dropdown container="body" dropdownToggle
        id="logged-user-container" *ngIf="showProfileSection">
        <div class="d-flex-center profile-image_div" *ngIf="(logedinData?.is_profile_pic_approved && logedinData?.profile_image || logedinData?.is_photo_verified && logedinData?.profile_image)">
            <img  src="{{logedinData?.is_profile_pic_approved && logedinData?.profile_image || logedinData?.is_photo_verified && logedinData?.profile_image ? logedinData?.profile_image : 'assets/images/bg/Frame 407.png'}}" alt="Header Avatar">
        </div>
        <div class="d-flex-center profile-image_div profile-logo" *ngIf="!(logedinData?.is_profile_pic_approved && logedinData?.profile_image || logedinData?.is_photo_verified && logedinData?.profile_image)">
            <i class="fa fa-user profile-icon"></i>
        </div>

        <label class="username">{{transform(userData?.user?.first_name)}}  {{transform(userData?.user?.last_name)}}</label>
        <div>
            <i class="fas fa-chevron-down arrow"></i>
        </div>
        <ul id="dropdown-container" *dropdownMenu class="userinfo dropdown-menu dropdown-menu-left" role="menu"
            aria-labelledby="logged-user-container">
            <li role="menuitem"><a  href="#">
                <div class="d-flex-center">
                    <div class="profile-image" > 
                        <img src="{{logedinData?.is_profile_pic_approved && logedinData?.profile_image || logedinData?.is_photo_verified && logedinData?.profile_image ? logedinData?.profile_image : 'assets/images/bg/Frame 407.png'}}" alt="Header Avatar">
                    </div>
                    <div class="d-flex flex-column">
                        <span class="color-blue font-bold font-16-18">{{transform(userData?.user?.first_name)}}  {{transform(userData?.user?.last_name)}}</span>
                        <span class="color-grey font-14-18">{{userData?.user?.email}}</span>
                    </div>
                </div>
            </a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item header-menu" [routerLink]="['/v2/my-favorites']">My Favorites (36)</a></li>
            <li role="menuitem"><a class="dropdown-item header-menu" href="#">My Courses (12)</a></li>
            <li role="menuitem"><a class="dropdown-item header-menu color-theme" href="#">Upgrade to Pro</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item header-menu font-bold" href="#">Logout</a></li>
        </ul>
    </div>
</div> -->