<app-auth-navbar></app-auth-navbar>
<div class="auth-sidebar">
    <app-auth-sidebar></app-auth-sidebar>
</div>
<div class="container">
  <div class="row" style="margin-top:50px">
    <div class="col-3">
    </div>
    <div class="col-6">
      <form data-bitwarden-watching="1" (ngSubmit)="onSubmit()" #changePassForm="ngForm">
        <div class="form-group mb-3">
          <div class="input-group">
            <input type="password" id="signup-password1" class="form-control text-input-design" 
            placeholder="Password *"
            [(ngModel)]="user.password1"
            #password1="ngModel"
            name="password1"
            required
            minlength="8" data-toggle="passwd1"/>
            <div class="input-group-append">
              <span class="input-group-text" style=" border: 1px solid #fafafa;">
                <i class="fa fa-lg fa-eye-slash field-icon toggle-password view-hide"
                  id="eye-open1" toggle="#passwd1"
                  (click)="password_visit1()">
                </i>
              </span>
            </div>
          </div>
          <div *ngIf="password1.invalid && (password1.dirty)">
            <p
              class="error-box margin-top-0 text-danger err-sf"
              *ngIf="password1.hasError('required')"
            >
              Password is Required
            </p>
            <p class="error-box margin-top-0 text-danger err-sf" *ngIf="password1.hasError('minlength')">
              This password is too short. It must contain at least 8 characters.
            </p>
          </div>
          <ng-container *ngIf="passwordError">
            <p class="error-box margin-top-0 text-danger err-sf" *ngFor="let list of passwordError">
              {{list.error}}
            </p>
          </ng-container>
        </div>
        <div class="form-group mb-3">
          <div class="input-group">
            <input type="password" id="signup-password2" class="form-control text-input-design" 
            placeholder="Confirm Password *" style="height:55px;"
            [(ngModel)]="user.password2"
            #password2="ngModel"
            name="password2"
            required data-toggle="passwd2"/>
            <div class="input-group-append">
              <span class="input-group-text" style=" border: 1px solid #fafafa;">
                <i class="fa fa-lg fa-eye-slash field-icon toggle-password view-hide"
                  id="eye-open2" toggle="#passwd2"
                  (click)="password_visit2()">
                </i>
              </span>
            </div>
          </div>
          <div *ngIf="password2.invalid && (password2.dirty)">
            <p
              class="error-box margin-top-0 text-danger err-sf"
              *ngIf="password2.hasError('required')"
            >
              Password is Required
            </p>
          </div>
        </div>
        <div class="form-group mb-3">
          <button type="submit" class="btn btn-block btn-new btn-rounded" [disabled]="!changePassForm.valid" style="margin-top: 15px;">
            <i class="fa fa-arrow-right"></i> &nbsp; Change Password
          </button>
        </div>
      </form>
    </div>
    <div class="col-3">
    </div>
</div>
</div>