.content-wrapper {
    margin-left: 100px;
    background: #ffffff;
    @media all and (min-width:320px) and (max-width: 641px){
        margin-left: 0;
    }
  }

.pre-session {
    &__title {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 14px;
        line-height: 18px;
        color      : #074D63;
    }
}




.left-section {
    flex        : 1 1 auto;
    padding-left: 40px;
    width       : calc(100% - 420px);
}

.main-general-dashboard {
    margin-left: 11%;
}

.img-avatar {
    height       : 40px;
    width        : 40px;
    border-radius: 50px;
    margin-right : 20px;
}

.completed-round {
    background-color: #6D6D6D;
    width           : 12px;
    height          : 12px;
    display         : inline-block;
    border-radius   : 6px;
}

.head {
    width : 155px;
    height: 18px;

    font-family: 'FFMarkWebProBook';
    font-style : normal;
    font-weight: bold;
    font-size  : 14px;
    line-height: 18px;
    color      : #074D63;
    margin-left: 3%;
}

.up-title {
    font-family: 'FFMarkWebProBook';
    font-style : normal;
    font-weight: bold;
    font-size  : 16px;
    line-height: 20px;
    color      : #6D6D6D;
}

.up-time {
    font-family: 'FFMarkWebProBook';
    font-style : normal;
    font-weight: normal;
    font-size  : 14px;
    line-height: 18px;
    color      : #074D63;
}

.s-title {
    font-family: 'FFMarkWebProBook';
    font-style : normal;
    font-weight: bold;
    font-size  : 16px;
    line-height: 20px;
    color      : #074D63;
}

.s-sub-title {
    font-family: 'FFMarkWebProBook';
    font-style : normal;
    font-weight: normal;
    font-size  : 12px;
    line-height: 16px;
    color      : #6D6D6D;
}

.s-min {
    font-family: 'FFMarkWebProBook';
    font-style : normal;
    font-weight: normal;
    font-size  : 14px;
    line-height: 18px;
    color      : #6D6D6D;
}

.load-more {
    font-family  : 'FFMarkWebProBook';
    font-style   : normal;
    font-weight  : bold;
    font-size    : 14px;
    line-height  : 18px;
    color        : #074D63;
    background   : #FAFAFA;
    border-radius: 20px;
    padding      : 20px 40px;
}

.contain-align {
    background-color: #FFF;
    padding-right   : 110px;
    padding-left    : 130px;
    padding-bottom  : 30px;
}

.appoinment {
    flex-direction: row;
    align-items   : flex-start;
    padding       : 25px 0px 0px 40px;
    width         : 358px;
    height        : 352px;
    background    : rgba(255, 244, 227, 0.5);
    border-radius : 40px;
    margin-top    : 40px;
    margin-left   : 10px;
}


.your-next-appoinment {
    font-family: 'FFMarkWebProBook';
    font-style : normal;
    font-weight: normal;
    font-size  : 14px;
    line-height: 18px;
    color      : #074D63;
}

.btn-custom.btn:hover {
    color: #FFF;
}

.name {
    font-family: 'FFMarkWebProBook';
    font-style : normal;
    font-weight: bold;
    font-size  : 16px;
    line-height: 20px;
    color      : #074D63;
}

.designation {
    font-family: 'FFMarkWebProBook';
    font-style : normal;
    font-weight: normal;
    font-size  : 12px;
    line-height: 16px;
    color      : #303030;
}

.designation-upcoming {
    font-family: 'FFMarkWebProBook';
    font-style : normal;
    font-weight: normal;
    font-size  : 12px;
    line-height: 16px;
    color      : #6D6D6D;
    margin-left: 50px !important;
}

.talk {
    font-family  : 'BelyDisplayW-Regular';
    font-style   : normal;
    font-weight  : normal;
    font-size    : 24px;
    line-height  : 30px;
    color        : #00BAD5;
    text-overflow: ellipsis;
}


.btn-custom {
    background-color: #00BAD5;
    box-shadow      : 5px 15px 20px 0px rgb(0 0 0 / 15%);
    height          : 60px;
    width           : 278px;
    border-radius   : 25px;
    margin-top      : 30px;
    border          : none;
    color           : #fff;
}

.btn-cancel {
    background: #074D63;
}

.btn-cancel:hover {
    color: #FFF;
}

.btn-reschedule {
    color      : #074D63 !important;
    font-family: 'FFMarkWebProBook';
    font-style : normal;
    font-weight: bold;
    font-size  : 14px;
    line-height: 18px;
}

.btn-reschedule:hover {
    color: #171b1d;
}

.btn-message {
    background: #00BAD5;
}

.btn-message:hover {
    color: #FFFFFF;
}

.session-font {
    font-family: 'FFMarkWebProBook';
    font-style : normal;
    font-weight: bold;
    font-size  : 14px;
    line-height: 18px;
    color      : #074D63;
}


.p-align-popup {
    margin: 20px 0px 20px 36px;
}

.btn-custom-message {

    box-shadow   : 5px 15px 20px 0px rgb(0 0 0 / 15%);
    height       : 40px;
    width        : 140px;
    border-radius: 25px;
    border       : none;
    color        : #fff;
    font-family  : 'FFMarkWebProBook';
    font-style   : normal;
    font-weight  : bold;
    font-size    : 14px;
    line-height  : 18px;
}

.top-custom {
    top: 30% !important;
}

.app-second {
    margin-top: 63px;
}

// .change-status-popup {
//     width: 212px;
//     background-color: #FFF;
//     z-index: 1;
//     position: absolute;
//     right: 440px;
//     height: auto;
//     box-shadow: 5px 15px 20px 0px rgb(0 0 0 / 15%);
//     border-radius: 20px;
// }

.btn-close-mark {
    position: absolute;
    right   : 20px;
    top     : 10px;
}

.app-session {
    height          : 100px;
    background-color: yellow;
    padding         : 0px;
    background      : #FFFFFF;
    box-shadow      : 0px 15px 30px rgb(0 0 0 / 5%);
    border-radius   : 20px;
    margin-top      : 40px;
    width           : 760px;
}

.mt90 {
    margin-top: 90px;
}

.lblchangestatus {
    font-family: 'FFMarkWebProBook';
    font-style : normal;
    font-weight: normal;
    font-size  : 12px;
    line-height: 16px;
    margin     : 0px 60px 15px 0px;
    color      : #074D63;

}

.lbl-custom {
    margin-top : 10px;
    margin-left: 20px;
}

.lblchange-custom {
    text-align : left !important;
    margin-left: 50px;
}

.comp-session {
    margin-left: 200px !important;
    margin-top : -7px;
}

.about {
    position: absolute;
    width   : 100%;
    // top: 200px;
    left    : 60px;
    float   : left;
}

.mrgn-custom {
    margin: 0px -10px;
}

.tile {
    width : 100%;
    top   : 250px;
    margin: 23px 0px 0px 70px;
    float : left;
}

.sub-main-head {
    float   : left;
    position: absolute;
    left    : 110px;
}


.head-up {
    width      : auto;
    height     : 18px;
    font-family: 'FFMarkWebProBook';
    font-style : normal;
    font-weight: bold;
    font-size  : 14px;
    line-height: 18px;
    color      : #074D63;
    margin-left: 0px;
}

.time {
    font-family: 'FFMarkWebProBook';
    font-style : normal;
    font-weight: normal;
    font-size  : 14px;
    line-height: 18px;
    color      : #074D63;

}

i.fa,
i.fas {
    width          : 40px;
    height         : 40px;
    border-radius  : 50px;
    background     : #ffffff;
    box-shadow     : 0px 10px 20px rgba(0, 0, 0, 0.08);
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin-left    : 15px;

    &.fa-phone-alt {
        color: #fcd7d7;
    }

    &.fa-video {
        color: #fbd036;
    }
}

.contact {
    display: flex;
}

.submission {
    display        : flex;
    justify-content: start;
}


.dp-tile {
    position: static;
    width   : 40px;
    height  : 40px;
    float   : left;
    margin  : 0px 8px 0px 0px;
}

.sub-head {
    font-family: 'FFMarkWebProBook';
    font-style : normal;
    font-weight: bold;
    font-size  : 16px;
    line-height: 20px;
    color      : #00BAD5;
}

.right-content {
    position: absolute;
    top     : 95px;
    right   : 0;
}

.btn-approve {
    background: #6CB244;
    text-align: center;
}

.bg-fa {
    background: #fafafa;
}