<app-auth-navbar></app-auth-navbar>
<div class="auth-sidebar">
    <app-auth-sidebar></app-auth-sidebar>
</div>

<main class="content-wrapper">
    <div class="container-fluid pr-0">
        <div class="row mr-0">

            <div class="left-section">
                <div class="d-flex py-4">
                    <button [ngClass]="{'heal-btn__primary': sessionMode,'heal-btn__disable':!sessionMode}"
                        (click)="sessionMode=true">My 1-on-1 sessions (3)</button>
                    <button [ngClass]="{'heal-btn__primary': !sessionMode,'heal-btn__disable':sessionMode}"
                        (click)="sessionMode=false">My Live Classes (4)</button>
                </div>

                <ng-container *ngIf="sessionMode">
                    <div class="col-lg-12 p-0">
                        <h1 class="pre-session__title">Next Sessions</h1>
                    </div>
                    <div class="row" style=" margin-right: 0px !important;">
                        <div class="col-md-5 font-family"
                            *ngFor="let session of latestupcomingSessions; let i = index;">
                            <div class="appoinment font-family">
                                <div>
                                    <h3 class="your-next-appoinment">Your next appointment </h3>
                                </div>
                                <div class="row mt-4" style=" margin-right: 0px !important;">
                                    <div class="col-lg-2 pr-lg-0 text-center">
                                        <img [src]="session.customer__profile_image ? generalService.getCustomerImageBaseUrl(session.customer__profile_image) : 'assets/images/users/avator-2.jpg'"
                                            alt="customer" class="img-fluid img-avatar">

                                    </div>
                                    <div class="col-lg-10 mrgn-custom">
                                        <h3 class="name pl-1">{{session.customer__nick_name}}</h3>
                                        <p class="text-center-md-sm designation pl-1"
                                            tooltip="{{session?.customer__interest?.join()}}">
                                            {{session?.customer__interest?.join() | limitTo: 20}}
                                        </p>
                                    </div>
                                </div>

                                <div class="about">
                                    <h1 class="talk"> {{session.practitioner_session.title}} </h1>
                                    <div class="sub-main-head">
                                        <h5 class="sub-head">{{getPrice(session)}}</h5>
                                        <p class="time">{{getPrice(session) === 'Free'? '30 min' :
                                            getDuration(session)}} </p>
                                    </div>
                                    <div class="sub-main-head1">
                                        <h5 class="sub-head">{{getAppointmentDate(session.appointment_date)}}</h5>
                                        <p class="time"> {{getAppointmentTime(session.start_time)}}</p>
                                    </div>
                                    <div class="submission">
                                        <button type="button" (click)="gotoChat(session)"
                                            class="btn btn-warning btn-rounded">
                                            Message
                                        </button>
                                        <div class="contact">
                                            <a (click)="startSession(session)"> <i class="fa fa-video"
                                                    aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div style="padding-top: 20px;">
                        <div>
                            <div>
                                <h1 class="head-up pt-4">
                                    <a class="btn session-font" (click)="ShowUpComing()"
                                        [ngStyle]="showUpComingSession == false && { 'color': 'rgba(109, 109, 109, 0.5)' }">Upcoming
                                        Sessions</a>
                                </h1>
                                <h1 class="head-up comp-session">
                                    <a class="btn session-font" (click)="ShowUpComing()"
                                        [ngStyle]="showUpComingSession == true && { 'color': 'rgba(109, 109, 109, 0.5)' }">Completed
                                        Sessions</a>
                                </h1>
                            </div>
                        </div>
                        <div>
                            <div *ngIf="showUpComingSession" class="mb-4">
                                <div class="app-session font-family"
                                    *ngFor="let upcomingsession of upcomingSessions; let i = index;">
                                    <div class="row tile" style=" margin-right: 0px !important;">
                                        <div class="col-md-2">
                                            <h5 class="sub-head">
                                                {{getAppointmentDate(upcomingsession.appointment_date)}} </h5>
                                            <p class="time">{{getAppointmentTime(upcomingsession.start_time)}}</p>
                                        </div>
                                        <div class="col-md-2">
                                            <h5 class="sub-head">{{getPrice(upcomingsession)}}</h5>
                                            <p class="">
                                                {{getPrice(upcomingsession) === 'Free'? '30 min' :
                                                getDuration(upcomingsession)}}
                                            </p>
                                        </div>
                                        <div class="col-md-4"><img
                                                [src]="upcomingsession.customer__profile_image ? generalService.getCustomerImageBaseUrl(upcomingsession.customer__profile_image) : 'assets/images/users/avator-2.jpg'"
                                                class="rounded-circle dp-tile">
                                            <h3 class="name"> {{upcomingsession.customer__nick_name}} </h3>
                                            <p class="designation-upcoming"
                                                tooltip="{{upcomingsession?.customer__interest?.join()}}">
                                                {{upcomingsession?.customer__interest?.join() | limitTo: 20}} </p>
                                        </div>


                                        <div class="col-md-4 btn-group" dropdown #dropdown="bs-dropdown"
                                            [autoClose]="true">
                                            <button *ngIf="upcomingsession?.status_code__status !== 'Cancelled'"
                                                dropdownToggle type="button" style="background-color: #00BAD5;"
                                                (click)="showPopup(upcomingsession)"
                                                class="dropdown-toggle btn-custom-message ">
                                                Change Status </button>
                                            <ul *dropdownMenu class="dropdown-menu bg-fa px-3 text-center" role="menu">
                                                <li class="text-center lblchangestatus lbl-custom mb-3">Change Status
                                                </li>
                                                <li class="mb-3" role="menuitem"
                                                    *ngIf="selectedSession?.status_code__status === 'Approval Pending'">
                                                    <button
                                                        class="btn btn-success btn-approve btn-custom-message dropdown-item"
                                                        style="display: inline;" [disabled]="validateSessionApproval()"
                                                        (click)="changeSessionStatus('Approve')">
                                                        Approve</button>
                                                </li>
                                                <li class="mb-3" role="menuitem"><button
                                                        class="btn btn btn-warning btn-custom-message btn-reschedule"
                                                        (click)="changeSessionStatus('ReSchedule')">Reschedule</button>
                                                </li>
                                                <li class="mb-3" role="menuitem"><button
                                                        class="btn btn-custom-message btn-cancel"
                                                        (click)="changeSessionStatus('Decline')">Cancel
                                                        session</button></li>
                                                <li class="mb-3" class="text-center lblchangestatus lblchange-custom">
                                                    or </li>
                                                <li class="mb-3" role="menuitem"><button
                                                        class="btn btn-custom-message btn-message"
                                                        (click)="changeSessionStatus('Message')">Message
                                                        user</button>
                                                </li>
                                            </ul>

                                            <label *ngIf="upcomingsession?.status_code__status === 'Cancelled'"
                                                class="ml-2 up-title"
                                                style="padding: 15px;background: #FAFAFA;border-radius: 20px;"><img
                                                    src="../../../assets/images/grey_dot.png" /><span
                                                    style="padding-left: 10px;">Cancelled</span></label>
                                        </div>


                                    </div>
                                </div>
                                <div *ngIf="showUpComingSession && (!upcomingSessions || upcomingSessions.length === 0)"
                                    class="no-data-available">
                                    <p>Data Not Available</p>
                                </div>
                                <!-- <div class="mt-4 mb-5 text-center"
                        *ngIf="showUpComingSession && upcomingSessions && upcomingSessions.length>0">
                        <a href="#" class="btn" style="background: #FAFAFA;border-radius: 20px;">Load More<span
                                class="pl-2 pr-2">
                                <i class=" fa fa-arrow-right"></i></span> </a>
                    </div> -->
                            </div>

                            <div *ngIf="!showUpComingSession" class="mb-4">
                                <div class="app-session font-family"
                                    *ngFor="let completedsession of completedSessions; let i = index;">
                                    <div class="row tile" style=" margin-right: 0px !important;">
                                        <div class="col-md-2">
                                            <h5 class="up-title">
                                                {{getAppointmentDate(completedsession.appointment_date)}} </h5>
                                            <p class="up-time"> {{getAppointmentTime(completedsession.start_time)}} </p>
                                        </div>
                                        <div class="col-md-2">
                                            <h5 class="s-title">{{getPrice(completedsession)}}</h5>
                                            <p class="s-min">
                                                {{getPrice(completedsession) === 'Free'? '30 min' :
                                                getDuration(completedsession)}}
                                            </p>
                                        </div>
                                        <div class="col-md-4"><img
                                                [src]="completedsession.customer__profile_image? generalService.getCustomerImageBaseUrl(completedsession.customer__profile_image) : 'assets/images/users/avator-2.jpg'"
                                                class="rounded-circle dp-tile">
                                            <h3 class="s-title"> {{completedsession.customer__nick_name}} </h3>
                                            <p class="ml-1 s-sub-title"
                                                tooltip="{{completedsession?.customer__interest?.join()}}">
                                                {{completedsession?.customer__interest?.join() | limitTo: 20}} </p>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="ml-2 up-title"
                                                style="padding: 15px;background: #FAFAFA;border-radius: 20px;"><img
                                                    src="../../../assets/images/grey_dot.png" /><span
                                                    style="padding-left: 10px;">Completed</span></label>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="!showUpComingSession && (!completedSessions || completedSessions.length === 0)"
                                    class="no-data-available">
                                    <p>Data Not Available</p>
                                </div>
                                <!-- <div class="mt-4 mb-5 text-center"
                        *ngIf="!showUpComingSession && completedSessions && completedSessions.length>0">
                        <a href="#" class="btn load-more">Load More<span class="pl-2 pr-2">
                                <i class=" fa fa-arrow-right"></i></span> </a>
                    </div> -->
                            </div>
                        </div>
                    </div>
                </ng-container>


                <ng-container *ngIf="!sessionMode">
                    <app-live-class-sesion>

                    </app-live-class-sesion>
                </ng-container>
            </div>


            <app-available-patient></app-available-patient>
        </div>

        <ng-template #statusPopUp>
            <div class="change-status-popup">
                <p class="text-center lblchangestatus lbl-custom">Change Status
                    <button type="button" class="close btn-close-mark" aria-label="Close" (click)="closeMessage()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </p>
                <div>
                    <p *ngIf="selectedSession?.status_code__status === 'Approval Pending'" class="p-align-popup">
                        <button class="btn btn-success btn-custom-message" [disabled]="validateSessionApproval()"
                            (click)="changeSessionStatus('Approve')">
                            Approve</button>
                    </p>

                    <p class="p-align-popup">
                        <button class="btn btn btn-warning btn-custom-message btn-reschedule"
                            (click)="changeSessionStatus('ReSchedule')">Reschedule</button>
                    </p>
                    <p class="p-align-popup"><button class="btn btn-custom-message btn-cancel"
                            (click)="changeSessionStatus('Decline')">Cancel
                            session</button>
                    </p>
                    <p class="text-center lblchangestatus lblchange-custom"> or </p>
                    <p class="p-align-popup">
                        <button class="btn btn-custom-message btn-message"
                            (click)="changeSessionStatus('Message')">Message
                            user</button>
                    </p>
                </div>
            </div>
        </ng-template>

    </div>
</main>