<div class="review-practitioner">
    <!-- <button type="button" class="close cancel-btn pull-right" aria-label="Close" (click)="activeModal.close()">
        <span aria-hidden="true">&times;</span>
    </button> -->
    <div *ngIf="currentStep === 'one'">
        <p class="title">How Was It For You?</p>
        <p class="content">Please rate your practitioner here*</p>
        <div class="p-30">
            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly" (keyup)="confirmSelection($event)"
            [customTemplate]="tt"></rating>
        </div>
        <p class="title">Tell us a little more in <br />
            your own words</p>
        <div class="pt-15" >
            <textarea rows="4" cols="50" [(ngModel)]="shortDescription"
                (input)="onShortDescription($event.target.value)"></textarea>
        </div>
        <div class="btn-div">
            <button (click)="completeSession('two')" [disabled]="!isEnableReportBtn && !rate" class="btn add-details-btn"
                [class.btnactive]="isEnableReportBtn === true">Complete Session →</button><br>
                <button (click)="activeModal.close()" class="btn back-btn">Back</button>
        </div>
    </div>
    <div *ngIf="currentStep === 'two'" class="p-30">
        <br />
        <br />
        <p class="title">Rate Your Session</p>
        <p class="content">Your reviews are valuable</p>
        <br />
        <br />
        <br />
        <div class="row rate-div">
            <div class="col-lg-2 col-md-2">
                <img (click)="ratingSelected(0)"
                    src="../../../../../assets/images/emojis.png" />
            </div>
            <div class="col-lg-2 col-md-2">
                <img (click)="ratingSelected(1)" 
                    src="../../../../../assets/images/in-love.png" />
            </div>
            <div class="col-lg-2 col-md-2">
                <img (click)="ratingSelected(2)" 
                    src="../../../../../assets/images/love.png" />
            </div>
            <div  class="col-lg-2 col-md-2">
                <img (click)="ratingSelected(3)" 
                    src="../../../../../assets/images/sleepy.png" />
            </div>
            <div  class="col-lg-2 col-md-2">
                <img (click)="ratingSelected(4)" 
                    src="../../../../../assets/images/suprised.png" />
            </div>
            <div class="col-lg-2 col-md-2">
                <img (click)="ratingSelected(5)" 
                    src="../../../../../assets/images/happy1.png" />
            </div>
        </div>
        <div class="p-30 mt-40">
            <progressbar [max]="max" [value]="dynamic">
                <div class="progress-bar-end-point"></div>
            </progressbar>
        </div>
        <br />
        <div class="btn-div">
            <button (click)="completeSession('three')" [disabled]="!isEnableReportBtn" class="btn add-details-btn"
                [class.btnactive]="isEnableReportBtn === true">Complete Check-in →</button><br>
                <button (click)="goBack('one')" class="btn back-btn">Back</button>
        </div>
    </div>
    <!-- <div *ngIf="currentStep === 'three'">
        <br />
        <br />
        <p class="title">Practitioner Question Here</p>
        <p class="content">Some small description maybe</p>
        <br />
        <br />
        <br />
        <div class="row q-div">
            <div class="col-lg-2 col-md-2">
                <a class="rating-text" (click)="qRatingSelected(0)">1</a>
            </div>
            <div class="col-lg-2 col-md-2">
                <a class="rating-text" (click)="ratingSelected(1)">2</a>
            </div>
            <div class="col-lg-2 col-md-2">
                <a class="rating-text" (click)="qRatingSelected(2)">3</a>
            </div>
            <div  class="col-lg-2 col-md-2">
                <a class="rating-text" (click)="qRatingSelected(3)">4</a>
            </div>
            <div  class="col-lg-2 col-md-2">
                <a class="rating-text" (click)="qRatingSelected(4)">5</a>
            </div>
            <div  class="col-lg-2 col-md-2">
                <a class="rating-text" (click)="qRatingSelected(5)">6</a>
            </div>
        </div>
        <div class="p-30 mt-40">
            <progressbar [max]="max" [value]="qDynamic">
                <div class="progress-bar-end-point"></div>
            </progressbar>
        </div>
        <br />
        <div>
            <p class="bad-good">Bad/Good/Awesome</p>
        </div>
        <div class="btn-div">
            <button (click)="completeSession('four')" class="btn add-details-btn"
                [class.btnactive]="isEnableReportBtn === true">Complete Session →</button><br>
        </div>
    </div> -->
    <div *ngIf="currentStep === 'three'">
       
        <p class="title">Mood Meter / Check-ins <br />
            qestions here?</p>
        <div class="row mood-div">
            <div class="col-md-4 col-lg-4">
                <div class="slab">
                    <a (click)="moodOptionSlection('Excited')">
                        <i class="fas fa-laugh emoji-img"></i>
                        <p>Excited</p>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="slab">
                    <a (click)="moodOptionSlection('Grateful')">
                        <i class="fas fa-grin-hearts emoji-img"></i>
                        <p>Grateful</p>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="slab">
                    <a (click)="moodOptionSlection('Calm')">
                        <i class="fas fa-grin emoji-img"></i>
                        <p>Calm</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="row mood-div" >
            <div class="col-md-4 col-lg-4">
                <div class="slab">
                    <a (click)="moodOptionSlection('Sleepy')">
                        <i class="fas fa-dizzy emoji-img"></i>
                        <p>Sleepy</p>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="slab">
                    <a (click)="moodOptionSlection('Happy')">
                        <i class="fas fa-smile emoji-img"></i>
                        <p>Happy</p>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="slab">
                    <a (click)="moodOptionSlection('Surprised')">
                        <i class="fas fa-surprise emoji-img"></i>
                        <p>Surprised</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="row mood-div">
            <div class="col-md-4 col-lg-4">
                <div class="slab">
                    <a (click)="moodOptionSlection('Neutral')">
                        <i class="fas fa-meh emoji-img"></i>
                        <p>Neutral</p>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="slab">
                    <a (click)="moodOptionSlection('Sad')">
                        <i class="fas fa-sad-tear emoji-img"></i>
                        <p>Sad</p>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="slab">
                    <a (click)="moodOptionSlection('Angry')">
                        <i class="fas fa-angry emoji-img"></i>
                        <p>Angry</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="btn-div">
            <button (click)="completetCheckIn()" [disabled]="!isEnableReportBtn" class="btn add-details-btn" [class.btnactive]="isEnableReportBtn === true">Complete Check-in →</button><br>
            <button (click)="goBack('two')" class="btn back-btn">Back</button>
        </div>
    </div>
</div>

<ng-template #tt let-i="index" let-v="value">
    <ng-container *ngIf="i < v">
        <img class="pr-10" src="../../../../../assets/images/rating_active.png" />
    </ng-container>
    <ng-container *ngIf="!(i < v)">
        <img class="pr-10" src="../../../../../assets/images/rating_default.png" />
    </ng-container>
</ng-template>