.review-practitioner{
    width: 848px;
    height: 558px;
    background: #FAFAFA;
    border-radius: 40px;
    padding: 20px;
    text-align: center;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    .slab{
        width: 90px;
        height: 98px;
        padding: 18px 0 0 0;
        text-align: center;
        background: rgba(0, 186, 213, 0.05);
        border-radius: 20px;
        p{
            color: #074D63;
    font-weight: bold;
    font-size: 10px;
    line-height: 15px;
    margin-top: 11px;
        }
    }
    .emoji-img{
        background: #562A15;
    color: #FFCE07;
    font-size: 40px;
    border-radius: 20px;
    border: none;
    }
    .p-30{
        padding: 30px;
    }
    .pt-15{
        padding-top: 15px;
    }
    .p-10{
        padding: 10px;
    }
    .pr-10{
        padding-right: 10px;
    }
    .mt-40{
        margin-top: 40px;
    }
    .btn-div{
        text-align: center;
        margin-top: 20px;
    }
    .rate-div{
        padding-left: 35px;
        padding-top: 70px;
        div{
            text-align: left !important;
            padding: 0px !important;
        }
        img{
            width: 40px;
            height: 40px;
        }
    }
    .q-div{
        padding-left: 50px;
        padding-top: 50px;
        div{
            text-align: left !important;
            padding: 0px !important;
        }
    }
    .mood-div{
        padding: 10px 220px 10px 220px;
    }
    .back-btn{
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #6D6D6D;
    }
    .rating-text{
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #074D63;

    }
    .bad-good{
        font-family: 'BelyDisplay-Regular';
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 45px;
        text-align: center;
        color: #00BAD5;
    }
    .progress-bar-end-point{
        margin-right: -3px;
        margin-top: -12px;
        width: 40px;
        height: 40px;
        background:#074D63;
        position: absolute;
        border-radius: 20px;
    }
    .title{
        font-family: 'healspace font';
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 45px;
        text-align: center;
        color: #074D63;
    }
.content{
    font-family: 'FFMarkWebProBook';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #074D63;
}
textarea{
    border: none !important;
    overflow: auto;
    outline: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 630px;
    height: 143px;
    background: #FFFFFF;
    border-radius: 40px;
    resize: none !important;
    font-family: 'FFMarkWebProBook';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #074D63;
    padding: 20px;
}
p{
    margin-bottom: 0px;
}
.cancel-btn{
    font-family: 'FFMarkWebProBook';
    width: 30px;
    height: 30px;
    background: #074D63;
    color: #fff;
    border-radius: 20px;
    opacity: 1;
    margin-top: -25px;
    margin-right: -20px;

}
// .btnactive{
//     background: #EA0606 !important;
//     color: #FFFFFF !important;
//     border: none !important;
// }
.add-details-btn{
    font-family: "FFMarkWebProBook";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #074D63;
    border: 1px solid #074D63;
    padding: 20px;
    border-radius: 20px;
}
.btn:focus{
    outline: none !important;
}
}