.customer-list {
    // margin: 0px 50px;
    padding-left: 100px;

    .more-icon{
      .dropdown-item:hover{
        font-style: normal !important;
        font-weight: bold !important;
        color: #074D63 !important;
        background: none !important;
      }
    }
    .p-active{
      width: 22px;
      height: 22px;
      background: #074D63;
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      color: #FFFFFF;
      border-radius: 50%;
      text-align: center;
    }
    .p-deactive{
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      color: #074D63;
      text-align: center;
      width: 22px;
      height: 22px;
    }
    .page-size{
      padding: 20px 0px;
      .dropdown-menu.show {
        top: -60px !important;
      }
      #button-dropup{
        background: #074D63;
        border-radius: 4px;
        width: 40px;
        height: 20px;
        color: #FFFFFF;
        padding: 0px !important;
      }
    }
    .archive-btn {
        background: #00BAD5;
        border-radius: 20px;
        width: 100px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        padding: 10px;
    }
    .title {
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #074D63;
    }
    .p-dot{
        height: 20px;
        margin-top: 8px;
    }
    .selected {
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #074D63;
        margin-right: 15px;
    }
    .unselected {
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        margin-right: 15px;
        color: #BFBFBF;
    }
    .activate {
        background: #00BAD5;
        border-radius: 20px;
        width: 100px;
        text-align: center;
        color: #fff;
        font-size: 10px;
        padding: 10px;
        margin: 0 auto;
        // margin-bottom: 10px;
    }
    .perpage {
        .text {
            font-family: FF Mark Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 15px;
            color: #074D63;
        }
    }
    .deactivate {
        background: #EA0606;
        border-radius: 20px;
        width: 100px;
        text-align: center;
        color: #fff;
        font-size: 10px;
        padding: 10px;
        margin: 0 auto;
    }
    .status {
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #074D63;
    }
    .blocked {
        background: #6D6D6D;
        border-radius: 20px;
        width: 100px;
        text-align: center;
        color: #fff;
        font-size: 10px;
        padding: 10px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .toolbar {
        margin: 25px 0;
        .left {
            padding: 15px 0;
        }
    }
    .download-btn {
        cursor: pointer;
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #074D63;
        border: 1px solid #074D63;
        // width: 260px;
        padding: 15px 0;
        text-align: center;
        border-radius: 20px;
    }
    .add-pract {
        margin-left: 15px;
        padding: 15px 0;
        text-align: center;
        background: #FBD036;
        border-radius: 20px;
        // width: 234px;
        font-family: "FFMarkWebProBook";
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #074D63;
    }
    .sub {
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #6D6D6D;
    }
    .interest-label {
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #6D6D6D;
    }
    .interest-val {
        font-family: BelyDisplayW00-Regular;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
        color: #00BAD5;
    }
    .profile-pic {
        margin: 0px 15px;
    }
    .icon {
        margin: 5px 15px;
    }
    .archive-text {
        background: #FFF4E3;
        border-radius: 20px;
        width: 114px;
        text-align: center;
        padding: 10px;
        img {
            margin-right: 10px;
        }
    }
    .list {
        background: #FFFFFF;
        box-shadow: 0px 15px 30px rgb(0 0 0 / 5%);
        border-radius: 20px;
        padding: 30px 15px;
        margin-bottom: 20px;
    }
}
.edit-modal{
  height: 100%;
  padding: 35px 35px 35px 102px;
  overflow: auto;
  margin-bottom: 30px;
  .plan-list{
      margin-bottom: 50px;
      .dvpackage {
          background: #FFFFFF;
      box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.06);
      border-radius: 40px;
      height: 280px;
      margin-left: -50px;
      width: 220px;
      }
      
      .lblpackage {
          font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 35px;
      color: #00BAD5;
      padding: 15px 0px 0px 25px;
      }
      
      .dollar-money-font {
      font-family: 'BelyDisplayW-Regular';
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 45px;
      color: #074D63;
      }
      .smallfont {
          font-family: 'FFMarkWebProBook';
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 18px;
          width: 180px;
          color: #6D6D6D;
          list-style-type: circle;
          list-style-position: outside;
          display: list-item;
          padding: 10px 0px 0px 0px
        }
      
        .dv-custom-1 {
          margin-left: -30px;
          z-index: 1000;
          margin-top: 70px;
          height: auto;
        }
        .dv-custom-2 {
          margin-left: -20px;
          height: auto;
        }
      
        .ul-align {
          margin: 0px;
          padding: 0px;
          margin-left: 40px;
          margin-bottom: 20px;
        }
      
        .mr-60-custom {
          margin: 0px 60px 8px -28px;
        }
        .package-period {
          font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-size: 16px;
      line-height: 20px;
      color: #00BAD5;
        }
      
        .mr-90{
          margin-right: 90px;
        }
      
        .interest-video {
          position: absolute;
          padding-top: 40px;
          right: 160px;
        }
      
        h6 {
          font-family: BelyDisplayW00-Regular;
          font-style: normal;
          font-weight: normal;
          color: #074D63;
        }
      
        #pakages-a a {
          cursor: pointer;
          color: #6D6D6D;
        }
        .dvoffer {
          background-color: #074D63;
          width: 50px;
          color: #FFF;
          border-radius: 10px;
          padding: 5px 0px 0px 8px;
          height: 32px;
          margin-top: -10px;
          margin-left: 20px;
        }
      
        .a-active {
          font-family: 'FFMarkWebProBook';
          color: #00BAD5 !important;
          background: #FFFFFF;
          box-shadow: 0px 10px 20px rgb(0 0 0 / 6%);
          border-radius: 20px;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 20px;
          padding: 10px;
        }
        .a-deactive{
          font-family: 'FFMarkWebProBook';
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 20px;
          color: #6D6D6D !important;
      
        }
        .dv-plan {
          padding-top: 20px;
          padding-bottom: 20px;
          justify-content: center;
      }
      .choose-btn {
          border: 1px #074D63 solid;  
          padding: 15px;
      }
      .choose-btn.btn:hover {
        color: #495057;
        text-decoration: none;
        background-color: #FBD036;
      }
      .btncustom {
          background-color: #FBD036 !important;
      }
      
  }
  .right-arrow{
      width: 100px;
      height: 80px;
      border-radius: 50%;
      position: fixed;
      left: -31px;
      top: 40%;
      background: #fff;
     img{
      width: 16px;
      padding-top: 30px;
      margin-left: 14px;
      cursor: pointer;
     }
    }
  .interest-container {
      p {
          font-family: FF Mark Pro;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 20px;
          color: #074D63;
      }
      .box {
          background: rgba(252, 215, 215, 0.2);
          border-radius: 20px;
          margin-right: 5px;
          .content {
              display: flex;
              justify-content: flex-end;
              align-items: center;
          }
          img {
              width: 145px;
              border-bottom-left-radius: 20px;
              border-top-left-radius: 20px;
          }
          h2 {
              font-family: healspace font !important;
              font-style: normal;
              font-weight: bold;
              font-size: 16px;
              line-height: 30px;
              text-align: right;
              color: #074D63;
          }
          p {
              font-family: FF Mark Pro;
              font-style: normal;
              font-weight: normal;
              font-size: 10px;
              line-height: 15px;
              text-align: right;
              color: #074D63;
          }
      }
  }
  .sub-container {
      p {
          font-family: FF Mark Pro;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 20px;
          color: #074D63;
      }
      .box {
          width: 366px;
          background: #FFFFFF;
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
          border-radius: 20px;
          padding: 20px;
          .label {
              font-family: FF Mark Pro;
              font-style: normal;
              font-weight: bold;
              font-size: 14px;
              line-height: 18px;
              color: #00BAD5;
          }
          .val {
              font-family: healspace font !important;
              font-style: normal;
              font-weight: normal;
              font-size: 24px;
              line-height: 30px;
              color: #074D63;
          }
          .btn {
              font-family: FF Mark Pro;
              font-style: normal;
              font-weight: bold;
              font-size: 14px;
              line-height: 18px;
              color: #074D63;
              width: 130px;
              border: 1px solid #074D63;
          }
      }
  }
  .subscription {
      .discount {
          background: #FFFFFF;
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
          border-radius: 20px;
          width: 766px;
          padding: 30px 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          .text {
              font-family: FF Mark Pro;
              font-style: normal;
              font-weight: bold;
              font-size: 16px;
              line-height: 20px;
              text-align: center;
              color: #074D63;
          }
          .btn {
              font-family: FF Mark Pro;
              font-style: normal;
              font-weight: bold;
              font-size: 14px;
              line-height: 18px;
              color: #074D63;
              border: 1px solid #074D63;
              width: 150px;
              padding: 15px 0;
          }
      }
      .plan-change {
          background: #FFFFFF;
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
          border-radius: 20px;
          width: 766px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 30px;
          p {
              font-family: FF Mark Pro;
              font-style: normal;
              font-weight: bold;
              font-size: 16px;
              line-height: 20px;                    
              color: #074D63;
          }
          .desp {
              font-family: FF Mark Pro;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 18px;
              color: #6D6D6D;
          }
          .plan-btn {
              font-family: FF Mark Pro;
              font-style: normal;
              font-weight: bold;
              font-size: 14px;
              line-height: 18px;                    
              color: #074D63;
              width: 200px;
              border: 1px solid #074D63;
              padding: 15px 0;
          }
      }
      .back-btn {
          background: #00BAD5;
          border-radius: 20px;
          width: 135px;
          padding: 20px 40px;
          color: #fff;
          font-size: 14px;
          margin: 0 auto;
      }
  }
  .add-details-btn{
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      color: #074D63;
      border: 1px solid #074D63;
      padding: 10px 20px;
  }
  .name{
      font-family: 'BelyDisplayW-Regular';
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 30px;
      color: #074D63;
  }
  .email-id{
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #6D6D6D;
  }
  p{
      margin: 0px !important;
  }
  .ps-title{
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
  }
  .ps-content{
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #FFFFFF;
  }
  .amount{
      font-family: 'BelyDisplayW-Regular';
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 45px;
      color: #FBD036;
      padding-left: 20px;
  }
  .pse-title{
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      color: #074D63;
  }
  .pe-title{
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      color: #6D6D6D;
  }
  .pe-content{
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #6D6D6D;
  }
  .card-palign {
  border-radius: 20px;
  height: 70px;
  font-family: 'FFMarkWebProBook';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #6D6D6D;
  }
  input {
      width: 80%;
      height: 80px;
      border: 0;
      border-radius: 20px;
      padding: 20px;
      text-align: center;
      background-color: #F8F8F8;
      &:focus {
        color: #074D63 !important;
        background-color: #fff !important;
        border: 0;
        font-weight: bold;
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
      }
    }
    .ratings-cont{
      position: relative;
  .star {
      font-size: 17px;
      color: #b0c4de;
    }
    .filled {
      color: #fbd036;
    }
    .ratings-info {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 26%;
        left: 26%;
        font-family: 'BelyDisplay-Regular';
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 45px;
        color: #00BAD5;
        ngb-rating {
          margin-top: -24px;
        }
        .reviews {
          font-family: 'FFMarkWebProBook';
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 18px;
         
          color: #074D63;
          
        }
    }
  }
  .carousel {
      background: #fafafa;
      border-radius: 20px;
      padding: 44px 81px;
      outline: none;
      &::ng-deep .carousel-control-prev-icon,
      &::ng-deep .carousel-control-next-icon {
        background: none;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000000;
        background: #ffffff;
        font-size: 18px;
        &:before {
          content: "\2190";
        }
      }
      &::ng-deep .carousel-control-next-icon {
        &:before {
          content: "\2192";
        }
      }
      .carousel-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .head {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 11px;
        }
      }
      .star {
        font-size: 17px;
        color: #b0c4de;
      }
      .filled {
        color: #fbd036;
      }
      .rating {
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #074d63;
      }
      .rating-info {
        display: flex;
        flex-direction: column;
      }
      .practitioner-info {
        display: flex;
        .profile-photo {
          width: 40px;
          height: 40px;
        //   background: url("../../../../../assets/images/users/avator-2.jpg");
          background-size: 100%;
          border-radius: 50%;
          margin-right: 12px;
        }
        .name {
          font-family: 'BelyDisplay-Regular';
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 20px;
          color: #074d63;
        }
        .place {
          font-family: 'FFMarkWebProBook';
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
          color: #6d6d6d;
        }
        .bs-tooltip-bottom {
            z-index: 9999 !important;
        }
      }
    }
    .expertise-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .expertise-card {
          margin-top: 40px;
          box-shadow: none;
          background: rgba(255, 244, 227, 0.5);
          width: 360px;
          height: 108px;
          box-shadow: none;
          position: relative;
          cursor: pointer;

          &.active {
              box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, .03);
              background: #fff;

              .check {
                  display: block;
                  position: absolute;
                  top: 0;
                  right: 4px;
                  width: 32px;
                  height: 32px;
              }
          }

          .check {
              display: none;
          }

          .card-body {
              padding: 0;
              display: flex;

              .img-section {
                  width: 145px;
                  object-position: left;
                  overflow: hidden;

                  img {
                      height: 100%;
                      width: auto;
                      border-radius: 20px 0 0 20px;
                  }
              }

              .text-section {
                  flex: 1 1 auto;
                  padding: 20px;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;

                  h3 {
                      font-size: 16px;
                      line-height: 30px;
                      margin-bottom: 0;
                      text-align: right;
                      font-family: healspace font;
                      color:  #074D63;
                  }

                  span {
                      font-size: 10px;
                      line-height: 15px;
                      margin-bottom: 0;
                      text-align: right;
                      color:  #074D63;
                  }
              }
          }
      }
  }

  .submission-section {
      margin-top: 55px;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;

      button {
          width: 360px;
          height: 60px;
          padding: 20px;
          font-weight: bold;
          font-size: 16px;
          line-height: 20px;
      }
  }
  .rounded-button {
    border: 0;
    border-radius: 20px;
    color: #fff;
    background-color: #00BAD5;
    width: 120px;
    height: 40px;
    padding: 11px 30px;
}
}
::ng-deep{
    
  .modal{
      top: 97px;
      right: 0px;
      left: 100px;
      background: #074D63 !important;
  opacity: 0.95;
  }
  .modal-backdrop{
      top: 97px;
      left: 100px;
      right: 0px;
  }
  .modal-backdrop.show {
      opacity: 0.98 !important;
    }
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
      width: 70%;
      max-width: 1100px !important;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
      -ms-transform: translate3d(0%, 0, 0);
       -o-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}
.modal.right .modal-content {
  height: 100%;
      overflow-y: auto;
      border-radius: unset;
}

.modal.right .modal-body {
  padding: 15px 15px 80px;
}
      
/*Right*/
.modal.right.fade .modal-dialog {
      right: 0px;
      top: 97px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
       -o-transition: opacity 0.3s linear, right 0.3s ease-out;
          transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}
}

.customer-profile-container {
    padding-bottom: 20px;
    padding-left: 146px;
    background: #ffffff;
    .upcoming-session {
      width: 30%;
      margin-right: 62px;
      .img-content {
        margin-bottom: 24px;
      }
    }
    .top-container {
      display: flex;
      margin-bottom: 62px;
    }
    .head {
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      color: #074d63;
      margin-bottom: 24px;
    }
  
    .appoinment {
      padding: 40px;
      background: rgba(255, 244, 227, 0.5);
      border-radius: 40px;
    }
  
    .your-next-appoinment {
      width: 157px;
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #6d6d6d;
      margin-bottom: 20px;
    }
  
    .dp {
      position: static;
      width: 40px;
      height: 40px;
      left: 0px;
      top: 0px;
      float: left;
  
      flex: none;
      order: 0;
      flex-grow: 0;
    }
  
    .img-content {
      img {
        margin-right: 20px;
      }
    }
    .name {
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
  
      color: #074d63;
    }
  
    .designation {
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
  
      color: #6d6d6d;
    }
  
    .talk {
      font-family: 'BelyDisplay-Regular';
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      color: #074d63;
      flex: none;
      order: 0;
      margin-bottom: 20px;
    }
  
    .about {
      margin-bottom: 20px;
    }
  
    .sub-main-head {
      display: inline-block;
      margin-right: 64px;
    }
  
    .sub-main-head1 {
      display: inline-block;
    }
  
    .sub-head {
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
  
      color: #00bad5;
      margin: 2px 0px;
    }
  
    .time {
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
  
      color: #074d63;
  
      flex: none;
      order: 1;
      flex-grow: 0;
      margin: 2px 0px;
    }
  
    .btn-block {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 11px 30px;
      background: #00bad5;
      border-radius: 20px;
      max-width: 120px;
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      color: #ffffff;
      border: none;
    }
  
    .contact {
      display: flex;
    }
    .header {
      margin-bottom: 24px;
    }
    .right-container {
      flex-grow: 1;
    }
    .chat {
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
  
      color: #074d63;
    }
  
    .see {
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
  
      color: #074d63;
    }
  
    .chat-list {
      background: #ffffff;
      box-shadow: 0px 15px 30px rgb(0 0 0 / 5%);
      border-radius: 20px;
      padding: 20px 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 45px;
      .round {
        color: #00bad5;
        font-size: 16px;
        i.fas {
          background: #fafafa;
        }
      }
    }
  
    .chat-head {
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
  
      color: #6d6d6d;
  
      margin: 2px 0px;
    }
  
    .chat-time {
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
  
      color: #6d6d6d;
    }
  
    .msg {
      background: #00bad5;
      width: 5%;
    }
    .submission {
      display: flex;
      justify-content: space-between;
    }
    .btn-box {
      width: 40px;
      height: 40px;
  
      background: #00bad5;
      border-radius: 10px;
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 16px;
      border: none;
      color: #ffffff;
      i {
        background: none;
        box-shadow: none;
        display: inline-block;
        margin-left: 0;
        width: auto;
        height: auto;
    }
    }
    .form-container{
        width: 60%;
        margin-right: 62px;
        .ngx-dropdown-container .ngx-dropdown-button {
          width: 100%;
          min-height: 30px;
          padding: 5px 10px;
          background-color: #f8f8f8 !important;
        }
        .profile{
            height: 100px;
            width: 100px;
            margin-top: 60px;
            margin-left: 45%;
            border-radius: 50%;
        }
        .edit-btn{
            height: 30px;
            width: 30px;
            margin-top: 140px;
            margin-left: -64px;
            position: absolute;
        }
        .profile-content{
            margin-top: 30px;
            text-align: center;
        }
        .email-content{
            text-align: center;
        }
        form {
            // margin-bottom: 67px;
            label {
                width: 100%;
                margin-bottom: 13px;
                font-family: 'FFMarkWebProBook';
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 18px;
                color: #6D6D6D;
            }
            .form-control {
                height: 70px;
                width: 100%;
                background: rgb(109, 109, 109, 0.05);
                border-radius: 20px;
                margin-bottom: 32px;
                font-family: 'FFMarkWebProBook';
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                // border: 1px solid red;
                border: none !important;
            }
            input, select{
              color: #074D63 !important;
            }
            // .input:focus {
            //   color: #074D63 !important;
            //   background-color: #fff !important;
            //   border: 0;
            //   font-weight: bold;
            //   box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
            // }
            input {
              width: 220px;
              height: 80px;
              border: 0;
              border-radius: 20px;
              padding: 20px;
              text-align: center;

              &:focus {
                color: #074D63 !important;
                background-color: #fff !important;
                border: 0;
                font-weight: bold;
                box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
              }
            }
        }
        .nextstep{
            margin-right: 103px;
            margin-bottom: 40px;
            margin-left: 0px;
            width: 164px;
            height: 60px;
            background: #FBD036;
            border-radius: 20px;
            font-family: 'FFMarkWebProBook';
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            border: 1px;
            color: #074D63;
        }
    }
    .yoga-container-copy {
      width: 40%;
      .yoga-inside{
        background: #FAFAFA;
        padding: 36px;
        border-radius: 40px 0px 0px 40px;
      }
      .btn-block {
        width: 100%;
        max-width: 100%;
        height: 60px;
      }
      .yoga-content {
        display: flex;
        margin-bottom: 24px;
      }
  
      .yoga {
        border-radius: 20px 0px 0px 20px;
        width: 42.5%;
        height: 108px;
      }
  
      .card-yoga {
        padding: 0 20px 30px 20px;
        background: rgba(252, 215, 215, 0.2);
        border-radius: 0 20px 20px 0;
        height: 108px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex: 1;
        .dot {
          font-size: 10px;
          cursor: pointer;
        }
        .msg-hover {
          background-image: url(../../../../assets/images/more.svg);
          background-repeat: no-repeat;
          height: 20px;
        }
        .pin-msg {
          font-family: 'FFMarkWebProBook';
          font-style: normal;
          font-weight: normal;
          font-size: 10px;
          line-height: 15px;
          color: #6D6D6D;
          cursor: pointer;
        }
        .action-popover {
          width: 125px !important;
        }
        .dot-section:hover{
          background-image: url(../../../../assets/images/more.svg);
          background-repeat: no-repeat;
          height: 20px;
        }
        .send-msg:hover + .dot-section{
          background-image: url(../../../../assets/images/more.svg);
          background-repeat: no-repeat;
          height: 20px;
        }
        .send-message:hover + .dot-section{
          background-image: url(../../../../assets/images/more.svg);
          background-repeat: no-repeat;
          height: 20px;
        }
      }
  
      .head-yoga {
        font-family: 'BelyDisplay-Regular';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 30px;
        white-space: nowrap;
        text-align: right;
  
        color: #074d63;
      }
  
      .para {
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 15px;
  
        text-align: right;
  
        color: #074d63;
      }
    }
  
    .graph-head {
      width: 180px;
      height: 18px;
      left: 600px;
      top: 596px;
  
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
  
      color: #074d63;
    }
  

  
    .this-month {
      background: #fff4e3;
      border-radius: 40px;
      padding: 30px 71px;
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      i.fas {
        color: #ffffff;
        margin-left: 0;
        margin-right: 6px;
        &.fa-chevron-up {
          background: #00bad5;
        }
        &.fa-chevron-down {
          background: #074d63;
          & ~ .no {
            color: #074d63;
          }
        }
      }
      .session {
        width: 33%;
      }
      .session-head {
        color: #074d63;
        width: 100%;
      }
  
      .sess {
        font-family: 'BelyDisplay-Regular';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
  
        color: #074d63;
      }
  
      .sess-list {
        color: #6d6d6d;
      }
      .info {
        display: flex;
        align-items: center;
      }
      .no {
        color: #00bad5;
      }
    }
  
    .graph-mood-container {
      display: flex;
      margin-bottom: 32px; 
      .graph {
        flex: 1;
        margin-right: 45px;
      }
      .header {
          margin-bottom: 14px;
      }
      .mood-container {
        width: 30%;
        .mood {
          width: 100%;
          height: 18px;
          font-family: 'FFMarkWebProBook';
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 18px;
  
          color: #074d63;
        }
        .emoji-container {
          display: flex;
          justify-content: space-between;
        }
        .emoji {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 91px;
          height: 107px;
          background: rgb(0, 186, 213, 0.05);
          border-radius: 20px;
        }
        .emoji-img  {
          width: 44px;
          height: 44px;
          font-size: 44px;
          background: #FFCE07;
          color: #562A15;
          margin-bottom: 10px;
          border-radius: 20px;
        }
        .sub-head {
          font-family: 'FFMarkWebProBook';
          font-style: normal;
          font-weight: bold;
          font-size: 10px;
          line-height: 15px;
          /* identical to box height, or 150% */
  
          color: #074d63;
        }
      }
    }
  
    .share {
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
  
      color: #00bad5;
      i {width: 60%;
          background: none;
          box-shadow: none;
          display: inline-block;
          margin-left: 8px;
          width: auto;
          height: auto;
      }
    }

    .call-icon {
      top: 83%;
      bottom: 0%;
      background: #fcd7d7;
      height: 40px;
    }
}
.select-custom-design {
  height: calc(3.5em + 0.94rem + 2px);
  background: #EBF3FA;
  font-size: 0.9825rem;
  border: 2px solid #D4D3D3;
}

::ng-deep .ngx-dropdown-container .ngx-dropdown-button .display-text {
  font-size: 14px !important;
  color: #797e82 !important;
}

::ng-deep .ngx-dropdown-container{
margin-top: 7px;
}

::ng-deep .ngx-dropdown-container .ngx-dropdown-button{
  font-family: "FFMarkWebProBook" !important;
  font-style: normal;
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 20px;
  border: none !important;
  color: #074D63 !important;
  background:none !important;
  text-align: center !important;
}

::ng-deep .ngx-dropdown-container button .nsdicon-angle-down{

  margin-top: 8px !important;
}