<app-auth-navbar></app-auth-navbar>
<div class="auth-sidebar">
    <app-auth-sidebar></app-auth-sidebar>
</div>

<div class="customer-list col-lg-12 col-md-12 btn-flex-center flex-column">
    <div class="col-lg-12 col-md-12 btn-flex-center toolbar">
        <div class="col-lg-6 col-md-6 left">
            <span [ngClass]="currentStatus === 'Active' ? 'selected':'unselected'"><a
                (click)="getCustomerList('Active', currentPageNumber)">Active Accounts</a></span>
            <span [ngClass]="currentStatus === 'Blocked' ? 'selected':'unselected'"><a
                (click)="getCustomerList('Blocked', currentPageNumber)">Blocked Accounts</a></span>
            <span [ngClass]="currentStatus === 'Deleted' ? 'selected':'unselected'"><a
                (click)="getCustomerList('Deleted', currentPageNumber)">Deleted Accounts</a></span>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="btn-flex-center">
                <div class="col-lg-6 col-md-6">
                    <div class="download-btn" (click)="downloadCSV()">Download users list</div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="add-pract" (click)="addCustomer()" style="cursor: pointer;">Add New User →</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 btn-flex-center">
        <div class="col-lg-12 col-md-12">
            <div *ngIf="customerList">
                <div class="col-lg-12 col-md-12 d-flex justify-content-between align-items-center list" *ngFor="let list of customerList">
                    <div class="col-lg-3 col-md-3 d-flex align-items-center">
                        <div class="d-flex align-items-center">
                            <div class="profile-pic" (click)="openModal(list)">
                                <img style="width: 40px;height: 40px;border-radius: 20px;"
                                    [src]="list?.profile_image && list?.is_profile_pic_approved ? generalService.getCustomerImageBaseUrl(list.profile_image): 'assets/images/users/avator-2.jpg'" />
                            </div>
                            <div>
                                <div (click)="openModal(list)" *ngIf="list.user_id__first_name" class="title" tooltip="{{(list?.user_id__first_name + ' ' + list?.user_id__last_name)}}">
                                    {{(list?.user_id__first_name + ' ' + list?.user_id__last_name) | limitTo:20}}</div>
                                <div (click)="openModal(list)" *ngIf="!list.user_id__first_name" class="title" tooltip="{{list?.nick_name}}">
                                    {{list?.nick_name  | limitTo:20}}</div>
                                <div class="sub">| {{list?.session_count}} sessions</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="title" *ngIf="list.address__city__name" tooltip="{{list?.address__city__name+','+list?.address__city__country__name}}">{{list?.address__city__name+","+list?.address__city__country__name |limitTo:15}}
                            </div>
                        <div class="title" *ngIf="!list.address__city__name">{{'New York, USA'}}</div>
                        <div class="sub">Location</div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="title">{{list?.created | date: 'longDate' }}</div>
                        <div class="sub">Sign Up Date</div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="title" tooltip="{{list?.user_id__email}}">{{list?.user_id__email  | limitTo:20}}</div>
                        <div class="sub">E-mail address</div>
                    </div>
                    <div class="col-lg-3 col-md-3 d-flex" dropdown #dropdown="bs-dropdown" [autoClose]="false">
                        <div class="btn dropdown-toggle archive-btn btn-flex-center"
                            [ngClass]="{'activate':currentStatus === 'Active','blocked': currentStatus === 'Blocked', 'deactivate': currentStatus === 'Deleted'}"
                            (click)="currentStatus !== 'Deleted' && dropdown.isOpen = !dropdown.isOpen;">
                            {{currentStatus}}</div>
                        <ul *dropdownMenu class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item status">Account Status</a></li>
                            <li role="menuitem"><a class="dropdown-item activate"
                                    (click)="changeUserStatus(list, 'active');dropdown.isOpen = !dropdown.isOpen;">Activate</a>
                            </li>
                            <li role="menuitem"><a class="dropdown-item blocked"
                                    (click)="changeUserStatus(list, 'block');dropdown.isOpen = !dropdown.isOpen;"
                                    *ngIf="currentStatus !== 'Blocked' &&  currentStatus !== 'Deleted'">Block</a></li>
                            <li role="menuitem"><a class="dropdown-item deactivate"
                                    (click)="changeUserStatus(list, 'delete');dropdown.isOpen = !dropdown.isOpen;"
                                    *ngIf="currentStatus !== 'Deleted'">Delete</a></li>
                        </ul>

                        <span class="more-icon" dropdown>
                            <a href id="basic-link" dropdownToggle (click)="false"
                                aria-controls="basic-link-dropdown"><img src="../../../../assets/images/more.svg"
                                    class="p-dot" /></a>
                            <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu" role="menu"
                                aria-labelledby="basic-link">
                                <li role="menuitem"><a class="dropdown-item" (click)="sendMessage(list)">Send Message</a></li>
                                <li role="menuitem"><a class="dropdown-item">View Chats History</a></li>
                                <li role="menuitem"><a class="dropdown-item">View Session History</a></li>
                            </ul>
                        </span>
                    </div>
                    
                </div>
                <div class="row page-size" *ngIf="customerList.length>0">
                    <div class="col-md-6 col-lg-6 col-6">
                        <div class="btn-group" dropdown [dropup]="isDropup">
                            <span style="padding-right: 10px;">Number of Customer per page: </span>
                            <button id="button-dropup" dropdownToggle type="button" class="btn  dropdown-toggle"
                                    aria-controls="dropdown-dropup">
                              {{pageSize}} <span class="caret"></span>
                            </button>
                            <ul id="dropdown-dropup" *dropdownMenu class="dropdown-menu"
                                role="menu" aria-labelledby="button-dropup">
                              <li role="menuitem"><a class="dropdown-item" (click)="pageSizeChange(5)">5</a></li>
                              <li role="menuitem"><a class="dropdown-item" (click)="pageSizeChange(10)">10</a></li>
                              <li role="menuitem"><a class="dropdown-item" (click)="pageSizeChange(15)">15</a></li>
                              <li role="menuitem"><a class="dropdown-item" (click)="pageSizeChange(20)">20</a></li>
                            </ul>
                          </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-6">
                        <div style="float: right;">
                            <ul class="pagination">
                                <ng-container *ngFor="let page of totalPage">
                                    <li [ngClass]="{'p-active': currentPageNumber == page,'p-deactive': currentPageNumber != page}"><a (click)="pageChange(page)">{{page}}</a></li>
                                </ng-container>
                              </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!customerList || customerList.length === 0" class="no-data-available">
                <p>Data Not Available</p>
            </div>
        </div>
    </div>
    <!-- <div class="perpage">
        <p class="text">Number of customers per page</p>
    </div> -->
</div>

<ng-template #editModal>
    <div class="edit-modal">
        <div class="right-arrow"><img (click)="closeModal()" src="../../../../assets/images/right_arrow.png" /></div>
        <div class="row">
            <div class="col-md-8 col-lg-8">
                <div class="row">
                    <div class="col-md-3">
                        <div class="profile-img">
                            <img style="width: 80px;border-radius: 40px;height: 80px;"
                                [src]="selectedCustomer?.profile_image && selectedCustomer?.is_profile_pic_approved ? generalService.getCustomerImageBaseUrl(selectedCustomer.profile_image): 'assets/images/users/avator-2.jpg'" />
                            <img style="width: 32px;margin-left: -30px;margin-top: 40px;height: 32px;" src="../../../../assets/images/code pen.png" />
                        </div>
                    </div>
                    <div class="col-md-9">
                        <p class="name" *ngIf="selectedCustomer.user_id__first_name">
                            {{(selectedCustomer?.user_id__first_name + ' ' + selectedCustomer?.user_id__last_name)}}</p>
                        <p class="name" *ngIf="!selectedCustomer.user_id__first_name">{{selectedCustomer?.nick_name}}
                        </p>
                        <p class="email-id">{{selectedCustomer?.user_id__email}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4" *ngIf="currentPage === 'profile'">
                <button class="btn add-details-btn" type="button" (click)="profileSubmit()">Save Profile →</button>
            </div>
        </div>
        <br />
        <div *ngIf="currentPage === 'profile'">
            <form class="form-group" ata-bitwarden-watching="1" #profileForm="ngForm">
                <div class="row" style="margin-top: 50px;margin-right: unset;margin-left: unset;">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="fname">First Name</label>
                            <input type="text" class="form-control" id="fname" 
                            [(ngModel)]="userProfile.first_name"
                            #first_name="ngModel"
                            name="first_name" required>
                            <div *ngIf="first_name.hasError('required')">
                                <p class="error-box margin-top-0 text-danger err-sf" style="font-size: 13px;font-weight: normal;">
                                    First Name is Required
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="lname">Last Name</label>
                            <input type="text" class="form-control" id="lname" [(ngModel)]="userProfile.last_name"
                            #last_name="ngModel"
                            name="last_name" required>
                            <div *ngIf="last_name.hasError('required')">
                                <p class="error-box margin-top-0 text-danger err-sf" style="font-size: 13px;font-weight: normal;">
                                    Last Name is Required
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-right: unset;margin-left: unset;">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" 
                            [(ngModel)]="userProfile.email" required
                            #email="ngModel"
                            name="email" required readonly>
                            <div *ngIf="email.hasError('required')">
                                <p class="error-box margin-top-0 text-danger err-sf" style="font-size: 13px;font-weight: normal;">
                                    Email Name is Required
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="text" class="form-control" id="phone" 
                            name="phone" [(ngModel)]="userProfile.phone_number">
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-right: unset;margin-left: unset;">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="country">Country</label>
                            <ngx-select-dropdown class="form-control select-custom-design"
                                tabindex="0"
                                [multiple]="false" 
                                [config]="countryConfig" 
                                [options]="countryData"
                                [(ngModel)]="userProfile.country_name"
                                #country="ngModel"
                                name="country" required
                                (change)="countryChanged($event.value)" style="width: 80%;
                                background: #f6f6f6;border: none;">
                            </ngx-select-dropdown>
                            <div *ngIf="country.hasError('required')">
                                <p class="error-box margin-top-0 text-danger err-sf" style="font-size: 13px;font-weight: normal;">
                                    Country is Required
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="state">State</label>
                            <ngx-select-dropdown class="form-control select-custom-design"
                                tabindex="0"
                                [multiple]="false" 
                                [config]="stateConfig" 
                                [options]="stateData"
                                [(ngModel)]="userProfile.state_name"
                                #state="ngModel"
                                name="state" required
                                (change)="stateChanged($event.value)" style="width: 80%;
                                background: #f6f6f6;border: none;">
                            </ngx-select-dropdown>
                        </div>
                        <div *ngIf="state.hasError('required')">
                            <p class="error-box margin-top-0 text-danger err-sf" style="font-size: 13px;font-weight: normal;">
                                State is Required
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-right: unset;margin-left: unset;">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="city">City</label>
                            <ngx-select-dropdown class="form-control select-custom-design"
                                tabindex="0"
                                [multiple]="false" 
                                [config]="cityConfig" 
                                [options]="cityData"
                                [(ngModel)]="userProfile.city_name"
                                #city="ngModel"
                                name="city" required
                                (change)="cityChanged($event.value)" style="width: 80%;
                                background: #f6f6f6;border: none;">
                            </ngx-select-dropdown>
                        </div>
                        <div *ngIf="city.hasError('required')">
                            <p class="error-box margin-top-0 text-danger err-sf" style="font-size: 13px;font-weight: normal;">
                                City is Required
                            </p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="postalcode">Postal Code</label>
                            <input type="text" class="form-control" id="postalcode" 
                            name="postalcode" [(ngModel)]="userProfile.zipcode">
                        </div>
                    </div>
                </div>
            </form>
            <div class="row" style="margin-bottom: 50px; margin-top: 15px;">
                <div class="col-md-6 col-lg-6 interest-container">
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <p>Interests</p>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <p><a (click)="showListPage('interest-list')">see all interests →</a></p>
                        </div>
                    </div>
                    <br />
                    <div class="row box">
                        <div class="col-md-4 col-lg-4">
                            <img src="assets/images/users/avator-2.jpg" />
                        </div>
                        <div class="col-md-8 col-lg-8 content">
                            <div *ngIf="interests">
                                <h2>{{interests[0]?.interest}}</h2>
                                <p>{{interests[0]?.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 sub-container" *ngIf="subscriptionDetails">
                    <p>Subscription Plan</p>
                    <br />
                    <div class="row box">
                        <div class="col-md-6 col-lg-6">
                            <div class="label">{{subscriptionDetails?.plan_name}}</div>
                            <div class="val">${{subscriptionDetails?.regular_price}}</div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="btn" (click)="showListPage('subscription')">Change →</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 sub-container" *ngIf="!subscriptionDetails">
                    <p>Subscription Plan</p>
                    <br />
                    <div class="row box">
                        <div class="btn" (click)="showListPage('subscription')">Add Subscription →</div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="currentPage === 'subscription'" class="subscription">
            <div class="row discount">
                <div class="col-lg-3 col-md-3">
                    <p class="text">Apply a discount</p>
                </div>
                <div class="col-lg-6 col-md-3">
                    <input type="text" class="form-control" placeholder="Enter coupon code">

                </div>
                <div class="col-lg-3 col-md-3" style="text-align: right;">
                    <div class="btn">
                        Apply coupon →
                    </div>
                </div>
            </div><br/><br/>
            <div class="row plan-change">
                <div class="col-lg-7 col-md-7">
                    <p>Change subscription plan</p>
                    <div class="desp">
                        By performing this action the user will be notified by email before any changes will become active for this account.
                    </div>
                </div>
                <div class="col-lg-5 col-md-5" style="text-align: right;">
                    <div class="btn plan-btn" (click)="chooseNewPlan()">Choose different plan →</div>
                </div>
            </div><br/><br/>
            <div style="margin-bottom: 50px;text-align: center;">
                <!-- <div class="submission-section">
                    <button class="rounded-button">
                        Add New Session →
                    </button>
                </div> -->
                <div class="back-btn">
                    <a (click)="goBack()">
                        Back →
                    </a>
                </div>
            </div>
        </div>
        <div *ngIf="currentPage === 'interest-list'">
            <div class="expertise-section">
                <ng-container *ngFor="let list of interests">
                    <div class="card expertise-card" [ngClass]="filterIfThere(list) ? 'active' : ''" id="{{list.id}}">
                        <div class="card-body" (click)="chooseMe(list)">
                            <div class="img-section">
                                <img src="{{list.cover_photo}}" alt="">
                            </div>
                            <div class="text-section">
                                <h3>{{list.interest}}</h3>
                                <span>{{list.description}}</span>
                            </div>
                        </div>
                        <img src="assets/images/image2.png" alt="" class="check">
                    </div>
                </ng-container>
                <div *ngIf="!interests || interests.length === 0" class="no-data-available">
                    <p>Data Not Available</p>
                </div>
            </div>
            <div class="submission-section">
                <button class="rounded-button" (click)="interestSubmit()">
                    Add selected Interest(s)
                </button>
            </div>
            <div class="please-section">
                <p class="text-center">Please Choose at Least One</p>
            </div>
            <div style="text-align: center;margin-bottom: 30px;">
                <a (click)="goBack()"> Go Back </a>
            </div>
        </div>
        <div class="plan-list" *ngIf="currentPage === 'plan-list'">
            <div class="row col-md-12 dv-plan" style="margin-right: 0px !important;" *ngIf="showPackageItems == 'Monthly Pricing' && MonthlyData.length != 0">
                <div class="dvpackage">
                    <label class="lblpackage">{{MonthlyData[2].plan_name}}</label>
                    <h1 class="dollar-money-font pl-4">${{MonthlyData[2].regular_price}}</h1>
                    <button type="button" class="btn choose-btn ml-4" id="btn-customer"
                        (click)="ChooseClick('1',MonthlyData[2])" [ngClass]="{'btncustom': selectedItem == '1'}">
                        Choose <span class="pl-2 pr-2"><i class=" fa fa-arrow-right"></i></span>
                    </button>
                    <ul class="ul-align mb-5">
                        <ol class="smallfont" *ngFor="let item of MonthlyData[2].plan_description">
                            {{item}}
                        </ol>
                    </ul>

                </div>
                <div class="dvpackage dv-custom-1">
                    <label class="lblpackage">{{MonthlyData[1].plan_name}}</label>
                    <h1 class="dollar-money-font pl-4">${{MonthlyData[1].regular_price}}</h1>
                    <button type="button" class="btn choose-btn ml-4" id="btn-customer"
                        (click)="ChooseClick('2',MonthlyData[1])" [ngClass]="{'btncustom': selectedItem == '2'}">
                        Choose <span class="pl-2 pr-2"><i class=" fa fa-arrow-right"></i></span>
                    </button>
                    <ul class="ul-align">
                        <ol class="smallfont" *ngFor="let item of MonthlyData[1].plan_description">
                            {{item}}
                        </ol>
                    </ul>
                </div>
                <div class="dvpackage dv-custom-2">
                    <label class="lblpackage">{{MonthlyData[0].plan_name}}</label>
                    <h1 class="dollar-money-font pl-4">${{MonthlyData[0].regular_price}}</h1>
                    <button type="button" class="btn  choose-btn ml-4" id="btn-customer"
                        (click)="ChooseClick('3',MonthlyData[0])" [ngClass]="{'btncustom': selectedItem == '3'}">
                        Choose <span class="pl-2 pr-2"><i class=" fa fa-arrow-right"></i></span>
                    </button>
                    <ul class="ul-align">
                        <ol class="smallfont" *ngFor="let item of MonthlyData[0].plan_description">
                            {{item}}
                        </ol>
                    </ul>
                </div>
            </div>
            <div class="row col-md-12 dv-plan" *ngIf="showPackageItems == '3' && ThreeMonthData.length != 0">
                <div class="dvpackage">
                    <label class="lblpackage">{{ThreeMonthData[0].plan_name}}</label>
                    <h1 class="dollar-money-font pl-4">${{ThreeMonthData[0].sale_price}}</h1>
                    <h6 class=" pl-4" style="text-decoration: line-through;">${{ThreeMonthData[0].regular_price}} </h6>
                    <button type="button" class="btn choose-btn ml-4" id="btn-customer" plan_id="asdsadkjsadkjsa"
                        (click)="ChooseClick('1',ThreeMonthData[0])" [ngClass]="{'btncustom': selectedItem == '1'}">
                        Choose <span class="pl-2 pr-2"><i class=" fa fa-arrow-right"></i></span>
                    </button>
                    <ul class="ul-align">
                        <ol class="smallfont" *ngFor="let item of ThreeMonthData[0].plan_description">
                            {{item}}
                        </ol>
                    </ul>
                </div>

                <div class=" dvpackage dv-custom-1">
                    <div class="dvoffer">-15%</div>
                    <label class="lblpackage">{{ThreeMonthData[1].plan_name}}</label>
                    <h1 class="dollar-money-font pl-4">${{ThreeMonthData[1].sale_price}}</h1>
                    <h6 class="pl-4" style="text-decoration: line-through;">${{ThreeMonthData[1].regular_price}} </h6>
                    <button type="button" class="btn choose-btn ml-4" id="btn-customer" plan_id="asdsadkjsadkjsa"
                        (click)="ChooseClick('2',ThreeMonthData[1])" [ngClass]="{'btncustom': selectedItem == '2'}">
                        Choose <span class="pl-2 pr-2"><i class=" fa fa-arrow-right"></i></span>
                    </button>
                    <ul class="ul-align">
                        <ol class="smallfont" *ngFor="let item of ThreeMonthData[1].plan_description">
                            {{item}}
                        </ol>
                    </ul>
                </div>
                <div class=" dvpackage dv-custom-2">
                    <label class="lblpackage">{{ThreeMonthData[2].plan_name}}</label>
                    <h1 class="dollar-money-font pl-4">${{ThreeMonthData[2].sale_price}}</h1>
                    <h6 class=" pl-4" style="text-decoration: line-through;">${{ThreeMonthData[2].regular_price}} </h6>
                    <button type="button" class="btn  choose-btn ml-4" id="btn-customer" plan_id="asdsadkjsadkjsa"
                        (click)="ChooseClick('3',ThreeMonthData[2])" [ngClass]="{'btncustom': selectedItem == '3'}">
                        Choose <span class="pl-2 pr-2"><i class=" fa fa-arrow-right"></i></span>
                    </button>
                    <ul class="ul-align">
                        <ol class="smallfont" *ngFor="let item of ThreeMonthData[2].plan_description">
                            {{item}}
                        </ol>
                    </ul>
                </div>
            </div>
            <div class="row col-md-12 dv-plan" *ngIf="showPackageItems == '6' && SixMonthData.length != 0">
                <div class="dvpackage">
                    <label class="lblpackage">{{SixMonthData[0].plan_name}}</label>
                    <h1 class="dollar-money-font pl-4">${{SixMonthData[0].sale_price}}</h1>
                    <h6 class=" pl-4" style="text-decoration: line-through;">${{SixMonthData[0].regular_price}} </h6>
                    <button type="button" class="btn choose-btn ml-4" id="btn-customer"
                        (click)="ChooseClick('1',SixMonthData[0])" [ngClass]="{'btncustom': selectedItem == '1'}">
                        Choose <span class="pl-2 pr-2"><i class=" fa fa-arrow-right"></i></span>
                    </button>
                    <ul class="ul-align">
                        <ol class="smallfont" *ngFor="let item of SixMonthData[0].plan_description">
                            {{item}}
                        </ol>
                    </ul>

                </div>
                <div class="dvpackage dv-custom-1">
                    <div class="dvoffer">-20%</div>
                    <label class="lblpackage">{{SixMonthData[1].plan_name}}</label>
                    <h1 class="dollar-money-font pl-4">${{SixMonthData[1].sale_price}}</h1>
                    <h6 class=" pl-4" style="text-decoration: line-through;">${{SixMonthData[1].regular_price}} </h6>
                    <button type="button" class="btn choose-btn ml-4" id="btn-customer"
                        (click)="ChooseClick('2',SixMonthData[1])" [ngClass]="{'btncustom': selectedItem == '2'}">
                        Choose <span class="pl-2 pr-2"><i class=" fa fa-arrow-right"></i></span>
                    </button>
                    <ul class="ul-align">
                        <ol class="smallfont" *ngFor="let item of SixMonthData[1].plan_description">
                            {{item}}
                        </ol>
                    </ul>
                </div>
                <div class="dvpackage dv-custom-2">
                    <label class="lblpackage">{{SixMonthData[2].plan_name}}</label>
                    <h1 class="dollar-money-font pl-4">${{SixMonthData[2].sale_price}}</h1>
                    <h6 class=" pl-4" style="text-decoration: line-through;">${{SixMonthData[2].regular_price}} </h6>
                    <button type="button" class="btn  choose-btn ml-4" id="btn-customer"
                        (click)="ChooseClick('3',SixMonthData[2])" [ngClass]="{'btncustom': selectedItem == '3'}">
                        Choose <span class="pl-2 pr-2"><i class=" fa fa-arrow-right"></i></span>
                    </button>
                    <ul class="ul-align">
                        <ol class="smallfont" *ngFor="let item of SixMonthData[2].plan_description">
                            {{item}}
                        </ol>
                    </ul>
                </div>
            </div>
            <div class="row col-md-12 dv-plan" *ngIf="showPackageItems == 'Annually'">
                <div class="dvpackage">
                    <label class="lblpackage">Basic</label>
                    <h1 class="dollar-money-font pl-4">$940</h1>
                    <h6 class=" pl-4" style="text-decoration: line-through;">$1176 </h6>
                    <button type="button" class="btn choose-btn ml-4" id="btn-customer"
                        (click)="ChooseClick('1',SixMonthData[1])" [ngClass]="{'btncustom': selectedItem == '1'}">
                        Choose <span class="pl-2 pr-2"><i class=" fa fa-arrow-right"></i></span>
                    </button>
                    <ul class="ul-align">
                        <ol class="smallfont">
                            Messaging Therapy
                        </ol>
                    </ul>

                </div>
                <div class="dvpackage dv-custom-1">
                    <div class="dvoffer">-20%</div>
                    <label class="lblpackage">Starter</label>
                    <h1 class="dollar-money-font pl-4">$940</h1>
                    <h6 class=" pl-4" style="text-decoration: line-through;">$1176 </h6>
                    <button type="button" class="btn choose-btn ml-4" id="btn-customer"
                        (click)="ChooseClick('2',SixMonthData[1])" [ngClass]="{'btncustom': selectedItem == '2'}">
                        Choose <span class="pl-2 pr-2"><i class=" fa fa-arrow-right"></i></span>
                    </button>
                    <ul class="ul-align">
                        <ol class="smallfont">
                            Messaging Therapy
                        </ol>
                        <ol class="smallfont">
                            1 Live Session / month (30 min)
                        </ol>
                    </ul>
                </div>
                <div class="dvpackage dv-custom-2">
                    <label class="lblpackage">Complex</label>
                    <h1 class="dollar-money-font pl-4">$1516</h1>
                    <h6 class=" pl-4" style="text-decoration: line-through;">$1895 </h6>
                    <button type="button" class="btn  choose-btn ml-4" id="btn-customer"
                        (click)="ChooseClick('3',SixMonthData[1])" [ngClass]="{'btncustom': selectedItem == '3'}">
                        Choose <span class="pl-2 pr-2"><i class=" fa fa-arrow-right"></i></span>
                    </button>
                    <ul class="ul-align">
                        <ol class="smallfont">
                            Messaging Therapy
                        </ol>
                        <ol class="smallfont">
                            4 Live Session / month (30 min)
                        </ol>
                    </ul>
                </div>
            </div>
            <div class="row" style="padding: 25px;margin-right: 0px !important;">
                <div class="col-md-3 col-lg-3"><a (click)="ShowPackage('Monthly Pricing','Monthly Pricing')"
                        [ngClass]="{'a-active': showPackageItems == 'Monthly Pricing','a-deactive': showPackageItems != 'Monthly Pricing'}">Monthly
                        Pricing</a></div>
                <div class="col-md-3 col-lg-3"><a (click)="ShowPackage('3', '3 Months')"
                        [ngClass]="{'a-active': showPackageItems == '3','a-deactive': showPackageItems != '3'}">3
                        months</a></div>
                <div class="col-md-3 col-lg-3"><a (click)="ShowPackage('6', '6 Months')"
                        [ngClass]="{'a-active': showPackageItems == '6','a-deactive': showPackageItems != '6'}">6
                        months</a></div>
                <div class="col-md-3 col-lg-3"><a (click)="ShowPackage('Annually', 'Annually')"
                        [ngClass]="{'a-active': showPackageItems == 'Annually','a-deactive': showPackageItems != 'Annually'}">Annually</a>
                </div>
            </div>
        </div>
    </div>

</ng-template>