<div class="h-modal-widget modal-body" *ngIf="step==1">
    <span class="d-block md-sub-h mt-3 text-center">
        1 of 4
    </span>
    <h1 class="md-heading text-center">
        Create Live Class
    </h1>
    <span class="d-block md-sub-h mt-3 text-center">
        Please fill out the fields below to add a live class
    </span>
    <div class="md-line"></div>
    <form name="addLiveClassForm" #addLiveClassForm="ngForm" style="position: relative;" novalidate>
        <div class="mb-4">
            <label class="form-label">Choose expertise</label>
            <input type="text" class="form-control sign-up-input " [(ngModel)]="selectedExpertise" name="expertise"
                #expertise="ngModel" required [typeahead]="expertiseList"
                (typeaheadOnSelect)="onSelectExpertise($event)" [typeaheadMinLength]="0" autocomplete="off"
                (typeaheadOnBlur)="typeaheadOnBlurExpertise($event)" placeholder="expertise"
                [ngClass]="{' show-error ' :addLiveClassForm.submitted && expertise.invalid}">
        </div>
        <div class="mb-4">
            <label class="form-label">Class title (required)</label>
            <input type="text" class="form-control" placeholder="Leave emplty for free">

        </div>

        <div class="mb-4">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <label class="form-label">Class price (required)</label>
                    <input type="text" class="form-control" placeholder="Leave emplty for free">
                </div>
                <div class="col-12 col-lg-6">
                    <label class="form-label">Class duration (required)</label>
                    <input type="text" class="form-control sign-up-input " [(ngModel)]="selectedDuration"
                        name="duration" #duration="ngModel" required [typeahead]="durationList" [typeaheadMinLength]="0"
                        autocomplete="off" placeholder="duration"
                        [ngClass]="{' show-error ' :addLiveClassForm.submitted && duration.invalid}">
                </div>


            </div>
        </div>

        <div class="text-center mb-2">
            <button (click)="step=2">next →</button>
        </div>
        <div class="text-center">
            <a href="javascript:;" (click)="modalService.dismissAll()" class="bck">Back</a>
        </div>
    </form>
</div>


<div class="h-modal-widget modal-body" *ngIf="step==2">
    <span class="d-block md-sub-h mt-3 text-center">
        2 of 4
    </span>
    <h1 class="md-heading text-center">
        Add Live Class Details
    </h1>
    <span class="d-block md-sub-h mt-3 text-center">
        Please provide an short accurate description of your class
    </span>
    <div class="md-line"></div>
    <form>
        <div class="mb-4">
            <label class="form-label">Class description (required)</label>
            <textarea rows="4" placeholder="Tell something about this course" class="form-control h-auto"></textarea>
        </div>

        <div class="mb-4">
            <label class="form-label">Upload live class cover image (required)</label>
            <div class="upload-area">
                <div class="text-center">
                    <i><img src="../../../../../assets/images/music-462.png" alt="image"></i>
                    <span class="d-block mt-2">Drop your file here or <strong>Browse</strong></span>
                    <small class="d-block">Format: 1920X1080px // Max file Size: 20MB</small>
                </div>
                <input type="file" class="brwse" />
            </div>
        </div>

        <div class="text-center mb-2">
            <button (click)="step=3">next →</button>
        </div>
        <div class="text-center">
            <a href="javascript:;" (click)="step=1" class="bck">back</a>
        </div>
    </form>
</div>

<div class="h-modal-widget modal-body" *ngIf="step==3">
    <span class="d-block md-sub-h mt-3 text-center">
        3 of 4
    </span>
    <h1 class="md-heading text-center">
        Select Date
    </h1>
    <bs-datepicker-inline style="text-align: center; width: auto;" [minDate]="minDate" [(bsValue)]="calenderDate"
        [bsConfig]="{containerClass:'theme-blue', showWeekNumbers:false}" (bsValueChange)="onValueChange($event)">
    </bs-datepicker-inline>

    <h1 class="md-heading text-center">
        Choose Time
    </h1>

    <div class="md-line"></div>
    <div class="text-center mb-2">
        <button (click)="step=4">verify and publish →</button>
    </div>
    <div class="text-center">
        <a href="javascript:;" (click)="step=2" class="bck">back</a>
    </div>
</div>

<div class="h-modal-widget modal-body" *ngIf="step==4">
    <span class="d-block md-sub-h mt-3 text-center">
        4 of 4
    </span>
    <h1 class="md-heading text-center">
        Publish Your Live Class
    </h1>
    <span class="d-block md-sub-h mt-3 text-center">
        Please review this listing carefully before adding this live class to your profile
    </span>
    <div class="md-line"></div>
    <form>
        <div class="mb-4">
            <app-appointment-view></app-appointment-view>
        </div>
 
        <div class="text-center mb-2">
            <button>Publish</button>
        </div>
        <div class="text-center">
            <a href="javascript:;" (click)="step=3" class="bck">back</a>
        </div>

        <span class="d-block md-sub-h mt-3 text-center">
            *Note: your Live Class will be published after we review it! It may take up to 12 hours for a Live Class to be approved and appear on the website.
        </span>
    </form>
</div>