@import "../../../../../assets/scss/practitioner.scss";

.h-modal-widget{
    min-width:812px;
    width:100%;
    padding:60px;
    border-radius: 40px;
    background-color: #f0f0f0;
    
    @include screen('sm'){
        min-width:500px;
        padding:15px;
        overflow: scroll;
    }
    @include screen('xs'){
        min-width:320px;
        padding:15px;
    }
    .md-heading{
        font-size: 40px;
        line-height: 45px;
        font-family: "Healspace font";
        @include screen('xs'){
            font-size: 20px;
        }
        @include screen('sm'){
            font-size: 20px;
        }
    }
    .md-sub-h{
        font-size: 16px;
        line-height: 20px;
        color: #074D63;
    }
    .md-line{
        background: #6D6D6D;
        opacity: 0.1;
        margin: 48px 0px;
        height:1px;
        @include screen('xs'){
            margin: 15px 0px;
        }
        @include screen('sm'){
            margin: 15px 0px;
        }
    }
    label{
        font-size: 14px;
        line-height: 18px;
        color: #6D6D6D;
        font-weight:400;
    }
    select{
        background: #FFFFFF;
        border-radius: 20px;
        height:60px;
        border:0;
        color: #074D63!important;
        font-size: 16px;
        line-height: 20px;
        font-weight:600;
    }
    .form-control{
        background: #FFFFFF;
        border-radius: 20px;
        height:60px;
        border:0;
        color: #6D6D6D;
        font-size: 16px;
        line-height: 20px;
    }
    .form-check-label{
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;
        color: #074D63;

    }
    button{
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #074D63;
        border-radius: 20px;
        border:1px solid #074D63;
        background-color: transparent;
        padding: 20px 40px;
    }
    .bck{
        font-size: 14px;
        line-height: 18px;
        color: #6D6D6D;
        font-weight:400;
    }
    .upload-area{
        border-radius: 20px;
        background: #FFFFFF; 
        border: 1px dashed rgba(109, 109, 109, 0.3);
        height:193px;
        position: relative;
        display:flex;
        align-items:center;
        justify-content: center;
        span{
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: rgba(109, 109, 109, 0.5);
            strong{
                color:#074D63;
                font-weight:500
            }
            small{
                font-weight: 700;
                font-size: 10px;
                line-height: 20px;
                color: #074D63!important;
                opacity: 0.5;
                font-weight:600;
            }
        }
        .brwse{
            position: absolute;
            top:0;
            right:0;
            left:0;
            bottom:0;
            width:100%;
            height:100%;
            opacity: 0;
        }
    }
    .prev_{
        background: rgba(109, 109, 109, 0.05);
        border-radius: 20px;
        height:193px;
        display: block;
        position: relative;
        ._close{
            position: absolute;
            top:15px;
            right:15px;
        }  
    }
    textarea{
        font-size: 12px!important;
        padding: 20px;
    }
    .crs-list{
        .crs-left{
            position: relative;
            .play-icon{
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%, -50%);
                cursor: pointer;
            }
        }
        .crs-right{
            background-color: #fff;
            padding: 16px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            width: 100%;
            height: 100%;
            h5{
                font-weight: 600;
                font-size: 24px;
                line-height: 30px;
                color: #074D63;
                @include screen('sm'){
                    font-size: 18px;
                    line-height: 22px;
                }
            }
            span{
                color: #074D63;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                @include screen('sm'){
                    font-size: 14px;
                }
                strong{
                    color:#00BAD5;
                }
            }
        }
    }
    .nt-txt{
        color: #074D63;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        display: block;
    }
    .line-2{
        background: #074D63;
        height:1px;
        width: 60px;
        display:block;
    }
    .lb-txt{
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #074D63;
        strong{
            color: #074D63!important;
            font-size: 14px!important;
            font-weight:600
        }
    }
    .pr-0{
        @include screen('sm'){
            padding-right:15px!important
        }
    }
    .modal-listing{
        li{
            margin-bottom: 10px;
            span{
                font-weight: 700;
                font-size: 14px;
                line-height: 18px;
                color: #074D63;

            }
        }
        li:last-child{
            margin-bottom: 0;
        }
    }
    .upload-lessn{
        background: #FFFFFF;
        border: 1px dashed rgba(109, 109, 109, 0.3);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 40px;
        position: relative;
        height:72px;
        span{
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            color: #074D63;

        }
        .upload{
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom: 0;
            width:100%;
            height:100%;
            opacity: 0;
        }
    }
}