<drag-scroll  class="carousel-height">
    <div drag-scroll-item style="margin-right: 14px;" *ngFor="let rc of related_courses">
        <app-courses [id]="rc.course_id" [viewers_detail]="rc.viewers_detail" [rating]="rc.related_course_rating" [video]="" [cover_photo]="rc?.lessons[0]?.cover_photo"
            [ratecount]="rc.related_course_rated_count" [title]="rc.course_title"
            [firstname]="rc.practitioner_firstname" [lastname]="rc.practitioner_lastname"
            [lessoncount]="rc.lesson_count" [duration]="rc.related_course_duration_in_sec">
            
        </app-courses>
    </div>
</drag-scroll>
<!-- <button (click)="moveLeft()">Left</button>
<button (click)="moveRight()">Right</button> -->

<button (click)="moveLeft()" class="carousel-control-prev-icon carousel-control-prev">
    <img class="img-fluid" src="../../../../assets/images/arrowleft.png">
</button>
<button (click)="moveRight()"  class="carousel-control-next-icon carousel-control-next">
    <img class="img-fluid" src="../../../../assets/images/arrowright.png">
</button>
