<div class="course">

    <div class=" container1">
        <div class="d-flex justify-content-between courses-popover" style="position: absolute;width: 100%;">
            <p class="live-class__top">&nbsp;</p>
            <div class="fev-box__menu middle menu-position" *ngIf="showRemove" [popover]="removeTemplate"
                [outsideClick]="true" placement="left">
                <i class="fa fa-ellipsis-h fev-box__menu__list"></i>
            </div>

            <div class="fev-box__left-coin-free">
                <span class="fev-box__left-coin-free--text"> Free </span>
            </div>


            <div class="w-100 p-3" style="color: #FFFFFF;" *ngIf="myCourse">
                <div class="d-flex justify-content-between" >
                    <span>{{getProgressText()}}</span>
                    <div *ngIf="completed_lesson_count===lessoncount">
                    <i class="far fa-check-square"></i></div>
                </div>
                <!-- {{completed_lesson_count===lessoncount ? "Completed" : getProgressText()}} -->
                <progressbar class="mt-2" [value]="completed_lesson_count" [max]="lessoncount"></progressbar>
            </div>
        </div>
        <div class="course__video-tag"><i class="fas fa-play"></i></div>


        <div class="fev-box__left-bottom-coin">
            <span class="fev-box__left-bottom-coin--text"> 2 healcoins </span>
        </div>


        <button class="course__rate-btn"> <i class="fa fa-star"></i>
            {{rating}}
            ({{ratecount}})</button>
        <div class="course__large-img">
            <img class="video-image "
                [src]="cover_photo ? generalService.getPractiotionerImageBaseUrl(cover_photo)  : 'assets/images/Rectangle 92.png'"
                style="max-height:100%">
        </div>
    </div>

    <div class="course__bg cp" [routerLink]="['/course/detail/',id]">

        <div>
            <p class="course__description">
                {{title}}
            </p>
            <p class="course__info">
                {{firstname}} {{lastname}}
            </p>

            <p class="course__count">{{lessoncount}} lessons |
                {{getTime(duration/60)}} </p>

            <div class="d-flex">
                <div class="course-sm-img" *ngIf="viewers_detail.length>0">
                    <div>
                        <img class="mr-1" *ngFor="let viewer of viewers_detail | slice: 0:4"
                            [src]="viewer.profile_image ? generalService.getCustomerImageBaseUrl(viewer.profile_image) : 'assets/images/Ellipse 16.png'">


                    </div>
                    <div class="course-sm-img__player"> {{viewers_detail.length}} plays</div>
                </div>



            </div>

        </div>


    </div>
</div>
<ng-template #removeTemplate>
    <div class="action-popover">
        <span class="restore-archive" (click)="removeFromFavorite(id)">Remove <i
                class="fas fa-times color-blue"></i></span>
    </div>
</ng-template>