.menu-position{
    position: absolute;
    width: 40%;
    i{
        color: #074D63!important;
    }
 }

 .popover {
    margin-right: 0.5rem;
    transform: translate3d(160px, 8px, 0px)!important;
 }

// .bs-popover-left, .bs-popover-auto[x-placement^=left] {
//     margin-right: 0.5rem;
//     right: 0!important;
//     left: auto!important;
//     top: 10px!important;
//  }