.text-font {
    font-family: healspace font !important;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
color: #074D63;
padding-top: 100px;
    padding-bottom: 20px;
}

.small-text {
    font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
color: #00BAD5;
padding-top: 45px;
}

.plan-name {
    font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 35px;
color: #074D63;
}

.back-color {
    background: #FAFAFA;
border-radius: 20px;
}

.dvalign {
    background: #FFFFFF;
    box-shadow: 0px 15px 30px rgb(0 0 0 / 5%);
    border-radius: 20px;
    margin: 0px 40px 0px 0px;
    width: 232px;
    height: 120px;
}

#dvpayment-option .form-check-input {
    margin-left: 140px;
    margin-top: -35px;
}

.btnpayment {
    width: 240px;
    height: 60px;
    background: #FBD036;
    border-radius: 20px;
}