<app-auth-navbar></app-auth-navbar>
<div class="auth-sidebar">
    <app-auth-sidebar></app-auth-sidebar>
</div>
<div class="withdraw-history-wrapper">
    <div class="d-flex align-items-center justify-content-between title-wrapper">
        <div class="title">My withdraw history</div>

        <div class="dropdown" ngbDropdown>
            <div class="btn-flex-center">
                <button type="button" class="btn header-item" id="page-header-user-dropdown" ngbDropdownToggle>
                    Download full history
                    <i class="fas fa-chevron-down"></i>
                </button>
            </div>
            <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                <div class="d-flex align-items-center"><a class="dropdown-item disabled" (click)="downloadBulkCSV()">By month</a><i class="fas fa-check check-show"></i></div>
                <div class="d-flex align-items-center"><a class="dropdown-item disabled" (click)="downloadBulkCSV()">Year to day</a><i class="fas fa-check check-show"></i></div>
                <div class="d-flex align-items-center"><a class="dropdown-item disabled" (click)="downloadBulkCSV()">By year</a><i class="fas fa-check check-show"></i></div>
                <div class="d-flex align-items-center"><a class="dropdown-item" (click)="downloadBulkCSV()">All</a><i class="fas fa-check check-show"></i></div>
            </div>
        </div>
    </div>
    <div class="row withdraw-history-header">
        <div class="col-md-2">
            <div class="withdraw-history-title">Date</div>
        </div>
        <div class="col-md-5">
            <div class="withdraw-history-title">Bank Account / Card Number</div>
        </div>
        <div class="col-md-2">
            <div class="withdraw-history-title">Amount</div>
        </div>
        <div class="col-md-3">
            <div class="withdraw-history-title">Receipt</div>
        </div>
    </div>
    <ng-container *ngIf="withdrawlists.length>0 else callNoData">
        <div class="row withdraw-history-item" *ngFor="let list of withdrawlists">
            <div class="col-md-2">
                <div class="withdraw-history-value">{{list.created |date:'shortDate'}}</div>
            </div>
            <div class="col-md-5">
                <div class="withdraw-history-value">Visa Ending in {{list.last_4_numbers}}</div>
            </div>
            <div class="col-md-2">
                <div class="withdraw-history-value">$ {{list.amount}}</div>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn" (click)="downloadCSV(list)">Download</button>
            </div>
        </div>
    </ng-container>
    <ng-template #callNoData>
        <div class="row withdraw-history-item">
            <div class="col-md-12">
                <div class="withdraw-history-value" style="text-align: center;">{{responseMsg}}</div>
            </div>
        </div>
    </ng-template>
</div>