table tr td {
    border: 1px solid #e2e2e2;
    border-width: 0 1px 1px 0;
}

table tr td:first-child {
    border-left: 1px solid #e2e2e2;
}

table tr td {
    padding: 30px;
    font-size: 16px;
    font-family: 'FFMarkWebProBook';
    color: #074D63;
}

table tr:first-child {
    background: #00BAD5;
}

p{
    font-size: 16px;
    font-family: 'FFMarkWebProBook';
    color: #074D63;
}
li{
    font-size: 16px;
    font-family: 'FFMarkWebProBook';
    color: #074D63;  
}
h6{
    font-size: 22px;
    font-family: 'FFMarkWebProBook';
    color: #074D63;
    font-weight: bold;
}
.pt-200{
    padding-top: 100px;
}
.white{
    color: #ffffff !important;
}