<!-- <app-public-navbar></app-public-navbar> -->
<div  class="container">
    <app-header></app-header>
    <div class="row">
        <div class="col-md-12">
            <h6 class="text-center mb-4"><strong>HEALPLACE PRIVACY POLICY</strong></h6>
        </div>
    </div>
    <div>
        <p>This policy describes how Healplace Inc. (the “Company,” “Healplace ,” “us,” or “we”) collects, uses, and shares
            personal information. Please note that the information we collect from you depends on our relationship to
            you so not every type of information is collected from everyone. </p>



        <h6><strong>Types Of Information We Collect From Consumers</strong></h6>



        <p>The following provides examples of the type of information that we collect from you and how we use that
            information. </p>



        <table>
            <tbody>
                <tr>
                    <td class="white"><br><strong>Context</strong></td>
                    <td class="white"><br><strong>Types of Data</strong></td>
                    <td class="white"><br><strong>Primary Purpose for Collection <br>and Use of Data</strong></td>
                </tr>
                <tr>
                    <td><br>Marketing signups</td>
                    <td><br>We collect your contact information when you ask to sign up for marketing emails.</td>
                    <td><br>We have a legitimate interest in providing you the communications that you have requested.
                        In some contexts our use is also based upon your consent to provide you with marketing
                        communications that you have requested to receive.</td>
                </tr>
                <tr>
                    <td><br>Practitioner information </td>
                    <td><br>We collect the name, and contact information, of Practitioners and their employees with whom
                        we may interact. </td>
                    <td><br>We have a legitimate interest in contacting Practitioners and communicating with them
                        concerning normal business administration such as services and billing.</td>
                </tr>
                <tr>
                    <td><br>Cookies and first party tracking</td>
                    <td><br>We use cookies and clear GIFs. “Cookies” are small pieces of information that a website
                        sends to a computer’s hard drive while a web site is viewed. Clear GIFs are near-invisible
                        graphics that allow us to track when a webpage opens and displays.</td>
                    <td><br>We have a legitimate interest in making our website operate efficiently. </td>
                </tr>
                <tr>
                    <td><br>Cookies and Third Party Tracking</td>
                    <td><br>We participate in behavior-based <br>advertising, this means that a third party uses
                        technology (<em>e.g., </em>a cookie) to collect information about your use of our website so
                        that they can provide advertising about products and services tailored to your interests on our
                        website, or on other websites.&nbsp;<br><br></td>
                    <td>We have a legitimate interest in engaging in behavior-based advertising.</td>
                </tr>
                <tr>
                    <td><br>Email Interconnectivity</td>
                    <td><br>If you receive email from us, we use certain tools to capture data related to when you open
                        our messages, click on any links or banners it contains and make purchases.</td>
                    <td><br>We have a legitimate interest in understanding how you interact with our communications to
                        you.</td>
                </tr>
                <tr>
                    <td><br>Feedback/Support</td>
                    <td><br>If you provide us feedback or contact us for support we will collect your contact
                        information, as well as any other content that you send to us, in order to reply.</td>
                    <td><br>We have a legitimate interest in receiving, and acting upon, your feedback or issues.</td>
                </tr>
                <tr>
                    <td><br>Booking Request/Wellness Session Purchase </td>
                    <td><br>We collect your name, billing address, shipping address, e-mail address, phone number, and
                        credit card number when you book a session with a Practitioner.</td>
                    <td><br>We use your information to perform our contract to process your booking request and/or
                        purchase of a wellness session.</td>
                </tr>
                <tr>
                    <td><br>Website interactions</td>
                    <td><br>We use technology to monitor how you interact with our website. This may include which links
                        you click on, or information that you type into our online forms. </td>
                    <td><br>We have a legitimate interest in understanding how you interact with our website to better
                        improve it, and to understand your preferences and interests in order to select offerings that
                        you might find most useful.</td>
                </tr>
                <tr>
                    <td><br>Web logs</td>
                    <td><br>We collect information, including your browser type, operating system, Internet Protocol
                        (IP) address (a number that is automatically assigned to a computer when the Internet is used),
                        domain name, click-activity, referring website, and/or a date/time stamp for visitors.</td>
                    <td><br>We have a legitimate interest in monitoring our networks and the visitors to our websites.
                    </td>
                </tr>
            </tbody>
        </table>



        <p>In addition to the information that we collect from you directly, we may also receive information about you
            from other sources, including third parties, business clients, our affiliates, or publicly available
            sources. </p>



        <h6><strong>Use And Processing Of Information.</strong></h6>



        <p>In addition to the purposes and uses described above, we use information in the following ways: </p>



        <ul>
            <li>To identify you when you visit our websites. </li>
            <li>To provide products and services.</li>
            <li>To improve our services and product offerings.</li>
            <li>To streamline the checkout process.</li>
            <li>To conduct analysis of customer and business partner data to improve the user experience for both
                groups.</li>
            <li>To respond to inquiries related to support or other requests. </li>
            <li>To send marketing and promotional materials, including information relating to our products, services,
                sales, or promotions.</li>
            <li>For internal administrative purposes, as well as to manage our relationships.</li>
        </ul>



        <p>Although the sections above describe our primary purpose in collecting your information, in many situations
            we have more than one purpose. For example, if you complete an online purchase we may collect your
            information to perform our contract with you, but we also collect your information as we have a legitimate
            interest in maintaining your information after your transaction is complete so that we can quickly and
            easily respond to any questions about your contract with us. As a result, our collection and processing of
            your information is based in different contexts upon your consent, our need to perform a contract, our
            obligations under law, and/or our legitimate interest in conducting our business.</p>



        <h6><strong>Sharing Of Information.</strong></h6>



        <p>In addition to the specific situations discussed elsewhere in this policy, we disclose information in the
            following situations:</p>



        <ol>
            <li><strong>Affiliates and Acquisitions</strong>. We may share information with our corporate affiliates
                (<em>e.g</em>., parent company, sister companies, subsidiaries, joint ventures, or other companies under
                common control). If another company acquires, or plans to acquire, our company, business, or our assets,
                we will also share information with that company, including at the negotiation stage. </li>
            <li><strong>Other Disclosures with Your Consent. </strong>We may ask if you would like us to share your
                information with other unaffiliated third parties who are not described elsewhere in this policy.</li>
            <li><strong>Other Disclosures without Your Consent</strong>. We may disclose information in response to
                subpoenas, warrants, or court orders, or in connection with any legal process, or to comply with
                relevant laws. We may also share your information in order to establish or exercise our rights, to
                defend against a legal claim, to investigate, prevent, or take action regarding possible illegal
                activities, suspected fraud, safety of person or property, or a violation of our policies, or to comply
                with your request for the shipment of products to or the provision of services by a third party
                intermediary.</li>
            <li><strong>Service Providers</strong>. We share your information with service providers. Among other things
                service providers help us to administer our website, provide technical support, process payments, and
                assist in the fulfillment of your booking request.</li>
        </ol>



        <h6><strong>Your Choices</strong></h6>



        <p>You can make the following choices regarding your personal information:</p>



        <ol>
            <li><strong>Marketing Emails</strong>. You may choose to provide us with your email address for the purpose
                of allowing us to send free newsletters, surveys, offers, and other promotional materials to you. You
                can stop receiving promotional emails by following the unsubscribe instructions in e-mails that you
                receive. If you decide not to receive promotional emails, we may still send you service related
                communications. </li>
            <li><strong>Access To Your Personal Information</strong>. You may request access to your personal
                information by contacting us at the address below. If required by law, upon request, we will grant you
                reasonable access to the personal information that we have about you. </li>
            <li><strong>Changes To Your Personal Information</strong>. You can contact us at the address described below
                in order to request that your information be modified.</li>
            <li><strong>Deletion Of Your Personal Information</strong>. Typically we retain your personal information
                for the period necessary to fulfill the purposes outlined in this policy, unless a longer retention
                period is required or permitted by law. You may, however, request information about how long we keep a
                specific type of information, or request that we delete your personal information by contacting us at
                the address below. In addition, we may keep your personal information as needed to comply with our legal
                obligations, resolve disputes, and/or enforce any of our agreements. </li>
            <li><strong>Revocation Of Consent</strong>. If you revoke your consent for the processing of personal
                information then we may no longer be able to provide you services. In some cases, we may limit or deny
                your request to revoke consent if the law permits or requires us to do so, or if we are unable to
                adequately verify your identity. You may revoke consent to processing (where such processing is based
                upon consent) by contacting us at the address below.</li>
            <li><strong>Online Tracking. </strong>We do not currently recognize automated browser signals regarding
                tracking mechanisms, which may include “Do Not Track” instructions. </li>
            <li><strong>California Residents. </strong>California residents may be entitled to ask us for a notice
                describing what categories of personal information (if any) we share with third parties or affiliates
                for direct marketing. If you are a California resident and would like a copy of such notice, please
                submit a written request to us using the information in the “Contact Information” section below.</li>
        </ol>



        <h6><strong>How We Protect Personal Information</strong></h6>



        <p>No method of transmission over the Internet, or method of electronic storage, is fully secure. While we use
            reasonable efforts to protect your personal information from unauthorized access, use, or disclosure, we
            cannot guarantee the security of your personal information. In the event that we are required by law to
            inform you of unauthorized access to your personal information we may notify you electronically, in writing,
            or by telephone, if permitted to do so by law.</p>



        <p>For our business partners, our website and App permit you to create an account. When you do you will be
            prompted to create a password. You are responsible for maintaining the confidentiality of your password, and
            you are responsible for any access to or use of your account by someone else that has obtained your
            password, whether or not such access or use has been authorized by you. You should notify us of any
            unauthorized use of your password or account.</p>



        <h6><strong>Miscellaneous </strong></h6>



        <p>The following additional information relates to our privacy practices:</p>



        <ul>
            <li><strong>Transmission Of Information To Other Countries</strong>. By submitting your personal information
                to us you agree to the transfer, storage and processing of your information in a country other than your
                country of residence including, but not necessarily limited to, the United States and Canada.&nbsp; If
                you would like more information concerning our attempts to apply the privacy principles applicable in
                one jurisdiction to data when it goes to another jurisdiction you can contact us using the contact
                information below.</li>
            <li><strong>Changes To This Privacy Policy. </strong>We may change our privacy policy and practices over
                time. To the extent that our policy changes in a material way, the policy that was in place at the time
                that you submitted personal information to us will generally govern that information unless we receive
                your consent to the new privacy policy.&nbsp; </li>
        </ul>



        <h6><strong>Contact Information</strong></h6>



        <p>If you have any questions, comments, or complaints concerning our privacy practices please contact us at the
            appropriate address below. We will attempt to respond to your requests and to provide you with additional
            privacy-related information. </p>



        <p><a href="mailto:info@healplace.com">info@healplace.com</a></p>
    </div>
</div>
<app-footer></app-footer>
<!-- <app-public-footer></app-public-footer> -->