<app-public-navbar></app-public-navbar>

<div class="container-fluid">
    <section class="landing-footer">
        <div class="col-12 ">
            <div class="text-center">
                <!-- <p class="aboutus">About Us</p> -->
                <h1 class="mission-p"> 
                    Join our <span class="digi-heal">digital health</span> comunity
                </h1>
                <h1 class="mission-p"> 
                    and start online healing
                </h1>
                <p class="about-inner">
                    Healplace is a digital wellness platform that empowers healers, doctors and alternative wellness practitioners to reach the world, directly from their device.
                    <br>
                    Find your place at Healplace.
                </p>
                <div class="row justify-content-center m-auto">
                    <div class="col-md-4">
                        <button type="button" routerLink="/homepage/contact-us" class="btn  customer-btn" id="Btncustomer">
                            Join us now &nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="container" style="background:#FAFAFA;">
    <div class="row" style="padding-top: 100px;">
        <p class="ourexpertise m-auto">Get discoverd by new clients</p>
    </div>
    <p class="ourexpertise-in m-auto pt-20">
        Livestream a class, find a healing practitioner <br>or schedule a 1:1 session from our vetted network of top providers.
    </p>
    <div class="row">
        <div class="col-md-6">
            <div class="row" style="margin-left: 100px;">
                <div class="col-12" style="padding-top: 65px;
                    padding-right: 65px;
                    padding-bottom: 30px;
                    padding-left: 65px;">
                    <div class="our-feat">
                        <h2 class="our-feattitle">Our features</h2>
                        <ol class="our-featbody">
                            <li>First feature about this</li>
                            <li>Second feature about this</li>
                            <li>Third feature about this</li>
                            <li>Fourth feature about this</li>
                        </ol>
                    </div>
                </div>
                <div class="col-12" style="padding: 65px;">
                    <div class="simpli-process">
                        <h2 class="sim-proctitle">Simplified process</h2>
                        <ul class="sim-procbody">
                            <li>First feature about this</li>
                            <li>Second feature about this</li>
                            <li>Third feature about this</li>
                            <li>Fourth feature about this</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row" style="padding-top: 65px;
                padding-right: 65px;
                padding-bottom: 30px;
                padding-left: 120px;
                border-radius: 40px;">
                <div class="wow-image">
                    <div class="wow-content">
                        <div class="custom-tile-1">
                            <img class="custom-img-1" src="assets/images/homepage/icon-3.png">
                            <span class="custom-spn">
                                Healplace is awesome!<br>
                                So simple to use
                            </span>
                        </div>
                        <div class="custom-tile-2">
                            <img class="custom-img-1" src="assets/images/homepage/icon-3.png">
                            <span class="custom-spn">
                                I got approved in less<br>
                                then 2 hours!
                            </span>
                        </div>
                        <div class="custom-tile-3">
                            <img class="custom-img-1" src="assets/images/homepage/icon-3.png">
                            <span class="custom-spn">
                                All in one solution for<br>
                                practitioners.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 25px; margin-bottom: 25px;background: #0a4d63;border-radius: 25px;">
    <br><br><br>
    <p class="join">
        How to join?
    </p>
    <div class="row" style="margin-top: 8px;margin-bottom: 70px;">
        <p class="ourexpertise m-auto" style="color:white;">Three easy steps to join healplace.co</p>
    </div>
    <div class="img hiw-image-content" style="margin-bottom: 50px;">
        <div class="row">
            <div class="col-sm text-center">
                <img src="assets/images/image.png" style="width:55px; height: 55px;" />
                <br><br>
                <p style="color: #FBD036; font-family:'FFMarkWebProBook' ; font-weight: 700;font-style: bold;font-size: 16px;line-height: 20px;">
                    Create Your Account
                </p>
                <p style="color: white; font-family: 'FFMarkWebProBook'; font-weight: 400;font-style: Book; font-size: 14px;line-height: 18px;">
                    Signing up is easy.<br>
                    We'll help guide you to the care you need.<br>
                    do eiusmod.
                </p>
            </div>

            <div class="col-sm text-center">
                <img src="assets/images/image2.png" style="width:55px; height: 55px;" />
                <br><br>
                <p
                    style="color: #FBD036; font-family:'FFMarkWebProBook' ; font-weight: 700;font-style: bold;font-size: 16px;line-height: 20px;">
                    Find A Practitioner.</p>
                <p
                    style="color: white; font-family: 'FFMarkWebProBook'; font-weight: 400;font-style: Book; font-size: 14px;line-height: 18px;">
                    Browse our curated network of doctors, healers,<br>
                    alternative therapists, energy workers and nutritional<br>
                    professionals to choose ehat feels right to you.</p>
            </div>

            <div class="col-sm text-center">
                <img src="assets/images/image3.png" style="width:55px; height: 55px;" />
                <br><br>
                <p
                    style="color: #FBD036; font-family:'FFMarkWebProBook' ; font-weight: 700;font-style: bold;font-size: 16px;line-height: 20px;">
                    Start Your Session.</p>

                <p
                    style="color: white; font-family: 'FFMarkWebProBook'; font-weight: 400;font-style: Book; font-size: 14px;line-height: 18px;">
                    Livestream a 1:1 session or class with your<br>
                    chosen practitioner when you choose.<br>
                    Healing is on your schedule.</p>
            </div>
        </div>
        <div class="row justify-content-center m-auto">
            <div class="col-md-4">
                <br><br><br><br>
                <button type="button" routerLink="/homepage/contact-us" class="btn  customer-btn" id="Btncustomer" style="margin-left: 63px;">
                    Join us now &nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right"></i>
                </button>
                <br><br><br><br><br><br>
            </div>
        </div>
    </div>
</div>
<app-public-footer></app-public-footer>