.modal-input {
    width           : 100%;
    background      : #FAFAFA;
    border-radius   : 20px;
    height          : 60px;
    border          : 1px solid #FAFAFA;
    // box-shadow   : 0px 30px 50px rgb(0 0 0 / 6%);
    font-weight     : bold;
    font-size       : 14px;
    line-height     : 18px;
    color           : #074D63;
    padding         : 6px 24px;
}

.modal-label {
    font-family: 'FFMarkWebProBook';
    font-style : normal;
    font-weight: normal;
    font-size  : 16px;
    line-height: 20px;
    /* identical to box height, or 125% */


    /* Secondary */

    color: #074D63;

}

.class-group {
    margin-bottom: 25px;
}