<form #childForm="ngForm" name="childForm" novalidate> 
<div>
    <div class="col-lg-12 class-group">
        <label class="modal-label">Full Name</label>
        <input type="text" [(ngModel)]="joinClass.card_full_name" #CardFullName="ngModel" name="CardFullName"
            class="modal-input" [ngClass]="{' show-error ':  childForm.submitted && CardFullName.invalid}" minlength="3"
            min="3" placeholder="Name" required>
        <div *ngIf=" childForm.submitted && CardFullName.invalid">
            <small class="ng-error">
                You must enter at least 3 characters
            </small>
        </div>
    </div>
    <div class="col-lg-12 class-group">
        <label class="modal-label">Credit Card Number</label>
        <input type="text" [(ngModel)]="joinClass.cc_number"(keypress)="numberOnly($event)" (keyup)="transform()" #CardNumber="ngModel" name="CardNumber" class="modal-input"
            [ngClass]="{' show-error ':  childForm.submitted && CardNumber.invalid}" maxlength="19" max="19"
            placeholder="XXXX-XXXX-XXXX-XXXX" required>
        <div *ngIf=" childForm.submitted && CardNumber.invalid">
            <small class="ng-error">
                You must enter valid card number
            </small>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 class-group">
            <label class="modal-label">CVC / CVV</label>
            <input type="text" [(ngModel)]="joinClass.cvc" (keypress)="numberOnly($event)" #CVV="ngModel" name="CVV" class="modal-input"
                [ngClass]="{' show-error ':  childForm.submitted && CVV.invalid}" maxlength="3" max="3"
                placeholder="000" required>
            <div *ngIf=" childForm.submitted && CVV.invalid">
                <small class="ng-error">
                    You must enter valid CVV
                </small>
            </div>
        </div>

        <div class="col-lg-6 class-group">
            <label class="modal-label">Exp. Date</label>
            <input type="text" [(ngModel)]="joinClass.expiry" #ExpiryDate="ngModel" name="ExpiryDate"
                class="modal-input" (keyup)="formatCardDate()" (keypress)="numberOnly($event)" [ngClass]="{' show-error ':  childForm.submitted && ExpiryDate.invalid}" min="7" minlength="7" maxlength="7"
                max="7" placeholder="MM / YYYY" required>
            <div *ngIf=" childForm.submitted && ExpiryDate.invalid">
                <span class="ng-error">
                    You must enter valid Expiry
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-12 class-group">
        <label class="modal-label">Zip Code</label>
        <input type="text" [(ngModel)]="joinClass.zip_code" #ZipCode="ngModel" name="ZipCode" class="modal-input"
            [ngClass]="{' show-error ':  childForm.submitted && ZipCode.invalid}" maxlength="6" max="6"
            placeholder="000000" required>
        <div *ngIf=" childForm.submitted && ZipCode.invalid">
            <small class="ng-error">
                You must enter valid Expiry
            </small>
        </div>
    </div>
</div>
</form>