$white: #fff;
$primary-blue: #00BAD5;
.chat-section{
    margin: 0px 0px 0px auto;
    background: #ffffff;
    width: 100%;
    height: 91%;
    position: absolute;
    .no-chats {
        font-family: FF Mark Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #074D63;
        text-align: center;
        padding: 52px 0px;
    }
    .upcoming-seesion {
        margin: 20px 40px;
        // position: absolute;
        z-index: 1;
        // width: 80%;
        .heading {
            font-family: FF Mark Pro;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            color: #074D63;
        }
        .high-light {
            background: #FBD036 !important;
        }
        .container {
            background: #FFFFFF;
            box-shadow: 0px 5px 16px rgb(0 0 0 / 5%);
            border-radius: 20px;
            padding: 20px 60px 20px 35px;
            .profile-pic {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
            .key {
                font-family: FF Mark Pro;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                color: #00BAD5;
            }
            .key1 {
                font-family: FF Mark Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 18px;
                color: #6D6D6D;
            }
            .val1 {
                font-family: FF Mark Pro;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                color: #074D63;
            }
            .val {
                font-family: FF Mark Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 18px;
                color: #074D63;
            }
            .text {
                font-family: FF Mark Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 16px;
                color: #6D6D6D;
            }
            .approved {
                background: #FBD036;
                width: 120px;
                height: 40px;
                border-radius: 20px;
                padding: 10px;
                text-align: center;
                font-family: FF Mark Pro;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 18px;
                color: #074D63;
            }
            .start {
                font-family: FF Mark Pro;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 18px;
                color: #074D63;
                background: #FFFFFF;
                border-radius: 20px;
                width: 160px;
                height: 40px;
                padding: 10px;
                text-align: center;
            }
            .pending {
                width: 120px;
                height: 40px;
                background: #FCD7D7;
                border-radius: 20px;
                padding: 10px;
                text-align: center;
                font-family: FF Mark Pro;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 18px;
                color: #074D63;
            }
        }
    }
    .block-customer-chat{
        background: #6D6D6D;
        border-radius: 20px;
        text-align: center;
        margin: 25px 130px;
        color: #ffffff;
        padding: 25px;
        p{
            margin-bottom: 0px;
            font-family: 'FFMarkWebProBook';
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
        }
    }
    .switch-practitioner-chat{
        background: #00BAD5;
        border-radius: 20px;
        text-align: center;
        margin: 25px 130px;
        color: #ffffff;
        padding: 25px;
        p{
            margin-bottom: 0px;
            font-family: 'FFMarkWebProBook';
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
        }
    }
    .p-20{
        padding: 20px;
    }
    .pt-35{
        padding-top: 35px;
    }
    .pt-30{
        padding-top: 30px;
    }
    .pl-30{
        padding-left: 30px;
    }
    .mb-0{
        margin-bottom: 0px !important;
    }
    .mt-35{
        margin-top: 35px;
    }
    .mt-30{
        margin-top: 30px;
    }
    .left{
        padding-left: 110px;
        .height-68 {
            height: 65%;  
        }
        .height-88 {
            height: 88%;  
        }
        .chat-box-container {
            overflow-y: scroll;
            overflow-x: hidden;
            margin: 0 40px;
            max-height: 440px
        }

        .chat-box-container:first-child{
            padding:20px;
        }
        .dot-section:hover{
            background-image: url(../../../../assets/images/more.svg);
            background-repeat: no-repeat;
            height: 20px;
        }
        .send-msg:hover + .dot-section{
            background-image: url(../../../../assets/images/more.svg);
            background-repeat: no-repeat;
            height: 20px;
        }
        .send-message:hover + .dot-section{
            background-image: url(../../../../assets/images/more.svg);
            background-repeat: no-repeat;
            height: 20px;
        }
        .msg-hover {
            background-image: url(../../../../assets/images/more.svg);
            background-repeat: no-repeat;
            height: 20px;
        }
        .action-popover {
            text-align: center;
            p{
                margin-bottom: 0px;
                padding: 10px;
            }
        }
        .chat-send{
            .dot-section{
            float: right;
                padding-left: 10px;
                padding-top: 15px;
                margin-top: 30px;
                margin-left: 5px;
                cursor: pointer;
            }
        }
        .chat-receive{
            .dot-section{
                padding-left: 10px;
                padding-top: 15px;
                margin-top: 30px;
                margin-left: 5px;
                cursor: pointer;
                float: left;
            }
        }
        .send-msg{
            background: #FAFAFA;
            padding: 10px 15px 10px 15px;
            margin-top: 15px;
            float: right;
            max-width: 600px;
            border-radius: 20px 0px 20px 20px;
            align-items: center;
            justify-content: center;
            display: flex;
            .img-file {
                text-align: right;
            }
            .send-message{
                font-family: 'FFMarkWebProBook';
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            padding: 0;
            color: #6D6D6D;
            p{
                margin-bottom: 0px;
                margin-top: 5px;
                text-align: right;
            }
            }
        }
        .receive-msg{
            background: #FFF4E3;
            padding: 10px 15px 10px 15px;
            margin-top: 15px;
            float: left;
            max-width: 600px;
            border-radius: 0px 20px 20px 20px;
            align-items: center;
            justify-content: center;
            display: flex;
            .img-file {
                text-align: left;
            }
            .msg-text{
                font-family: 'FFMarkWebProBook';
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            padding: 0;
            margin-bottom: 0px;
    padding-top: 0px;
            color: #074D63;
            p{
                margin-bottom: 0px;
                margin-top: 5px;
                text-align: right;
            }
            .updloaded-file {
                text-decoration: underline !important;
            }
            }
        }
        .chat-bottom{
            justify-content: center;
            margin: 20px 0;
            .text-section{
                background: #FAFAFA;
                border-radius: 20px;
                position: relative;
                align-items: center;
                padding: 0 20px 0 0;
                .emoji-section {
                    position: absolute;
                    z-index: 1;
                    bottom: 50px;
                    right: 0px;
                }
            }
            textarea{
                background: #FAFAFA;
                border: none;
                font-family: "FFMarkWebProBook";
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                color: #6D6D6D;
                padding: 20px 10px;
                border-radius: 20px;
            }
            .folder{
                align-items: center;
                text-align: center;
                margin-left: 20px;
                background: #FAFAFA;
                display: flex;
                border-radius: 20px;
                justify-content: center;
              .file-upload {
                  display: none;
              }
              .fa-microphone {
                  font-size: 20px;
              }
              .color-red {
                  color: red;
              }
              .color-blue {
                  color: #00BAD5;
              }
            }
        }
    }
    .right{
        //overflow-y: scroll;
        //height: 85vh;
        background: #FAFAFA;
        border-radius: 40px 0px 0px 40px;
        .practitioner-list-container {
            height: 300px;
            overflow-y: scroll !important;
        }
        .empty-pract {
            font-family: FF Mark Pro;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            color: #074D63;
            margin: 30px 0px 0px 15px;
            min-height: 250px;
        }
        .available-switch {
            padding-left: 15px;
            padding-top: 32px;
    
            .custom-control-label {
                color: $primary-blue;
    
                &::after {
                    background-color: $primary-blue;
                }
            }
            .custom-control-input:checked ~ .custom-control-label::after {
                background-color: $white;
            }
        }
        .selected-list {
            background: #ECECEC !important;
        }
    .practitioner-list:hover {
        background: #F3F3F3;
        .p-dot{
            display: block;
            height: 20px;
            margin-top: 10px;
        }
    }
    .practitioner-list:hover + .p-dot{
        display: block;
        margin-top: 10px;
        height: 20px;
    }
    .p-dot:hover{
        height: 20px;
        margin-top: 10px;
        display: block;
    }
    .practitioner-list{
        border-radius: 20px;
        padding: 15px 10px;
        // width: 319px;
        //height: 100px;
    }

    .p-dot{
        height: 20px;
        margin-top: 10px;
        display: none;
        cursor: pointer;
    }
    .search{
        height: 48px;margin: 0px auto;
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #074D63;
        border-radius: 10px;
        background: #ffffff;
        border:none;
    }

    .search-chat{
        overflow-y: scroll !important;
        /* height: 40%; */
        padding-right: 10px;
        max-height: 240px;
    }
    
    .margin-auto{
        margin: 0px auto;
    }
    .archive-container {
        margin: 10px auto;
        background: #FAFAFA;
        border-radius: 10px;
        border-color: #074D63;
        border: 1px solid #074D63;
        text-align: center;
        padding: 10px 0;
        width: 225px;
        cursor: pointer;
    }
    .archive-text {
        font-family: FF Mark Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #074D63;
    }
    .pinned-msg{
        font-family: 'FFMarkWebProBook';
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            color: #074D63;
            padding: 10px 0px 5px 15px;
            line-height: 18px;
    }

    .no-msg{
        padding: 40px;
        background: #fff;
        border-radius: 20px;
    }
    .pinned-msg-div{
        background: #FFFFFF;
        border-radius: 20px;
        margin: 0px 10px 0 0;
        margin-bottom: 10px;
        padding: 10px 20px;
    }
    .from{
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        margin-bottom:0px;
        color: #074D63;
        line-height: 15px;
    }
    .pin-msg-title{
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        color: #074D63;
        margin-bottom:0px;
        line-height: 20px;
    }
    .pin-msg-content{
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: #6D6D6D;
        margin-bottom:0px;
        line-height: 16px;
    }
    .status-img{
        width: 12px;height: 12px;position: absolute;
    }
    .profile-pic{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    .profile-name{
        font-family: 'FFMarkWebProBook';
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    color: #074D63;
                    margin-bottom: 0px;
                    padding-bottom: 0px;
                    line-height: 20px;
    }
    .profile-content{
        font-family: 'FFMarkWebProBook';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    color: #6D6D6D;
                    line-height: 16px;
    }
    }
}
.pin-msg{
    font-family: 'FFMarkWebProBook';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    color: #6D6D6D;
    cursor: pointer;
    
}
.chat-remove-confirm-modal{
    width: 848px;
    height: 558px;
    background: #FAFAFA;
    border-radius: 40px;
    padding:20px;
    .pt-10{
        padding-top: 10px;
    }
    .pl-20{
        padding-left: 20px;
    }
    .del-btn{
        width: 180px;
        height: 60px;
        background: #FBD036;
        border-radius: 20px;
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #074D63;
    }
    .cancel-btn{
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #6D6D6D;
    }
    .circle-div{
        width: 40px;
    height: 40px;
    background: #fafafa;
    border-radius: 20px;
    text-align: center;
    }
    .details-section{
        padding: 20px;
    margin: 50px;
    background: #FFFFFF;
    box-shadow: 0px 15px 30px rgb(0 0 0 / 5%);
    border-radius: 20px;
    p{
        margin-bottom: 0px;
    }
    }
    .title{
        font-family: 'BelyDisplay-Regular';
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 45px;
        text-align: center;
        color: #074D63;
        padding-top: 70px;
    }
    .content{
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #074D63;
    }
    .chat-in{
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #6D6D6D;
    }
    .name{
        font-family: 'BelyDisplay-Regular';
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
        color: #00BAD5;
    }
    .sub-title{
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #074D63;
    }
    .sub-content{
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #6D6D6D;
    }
}

.action-popover {
    width: 125px !important;
}
.spinner {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}
.updloaded-file {
    text-decoration: underline !important;
}


.pr-50{
    padding-right: 50px !important;
  }

  .flex-center{
    align-items: center;
    justify-content: center;
    display: flex;
      
  }


  .modal-practitioner{
    .modal-dialog{
        top: 10% !important;
        float: right !important;
        right: 5% !important;
        transform: none !important;
        left: 55% !important;
    }
    
    
    .modal-content{
      width: 364px !important;
      height: auto !important;
      margin: 0;
      border-radius: 20px;
    }


    }
    .ul-list{
        list-style: none !important;
        padding: 0 !important;
    }