<app-auth-navbar></app-auth-navbar>
<div class="auth-sidebar">
    <app-auth-sidebar></app-auth-sidebar>
</div>
<div class="row chat-section pr-50">
    <div class="col-md-8 col-lg-9 left">
        <app-select-interest *ngIf="practitionerList.length === 0 && isShowInterest"></app-select-interest>
        <div class="upcoming-seesion"
            *ngIf="upcomingSession && upcomingSession.length !== 0 && userData.groups[0] === 'Practitioner' && !checkSessionTime()">
            <p class="heading">Upcoming Sessions</p>
            <div class="row container">
                <div class="col-lg-2 col-md-2">
                    <div class="key">{{upcomingSession.date | date: 'd MMMM'}}</div>
                    <div class="val">{{upcomingSession.start_time}}</div>
                </div>
                <div class="col-lg-2 col-md-2">
                    <div class="key"
                        *ngIf="selectedUser.is_subscribed && selectedUser.plan && selectedUser.plan.length !== 0 && selectedUser.plan[0].number_of_session !== 0">
                        Free</div>
                    <div class="key"
                        *ngIf="selectedUser.is_subscribed && selectedUser.plan && selectedUser.plan.length !== 0 && selectedUser.plan[0].number_of_session === 0">
                        Included</div>
                    <div class="val">{{upcomingSession.duration}} min</div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="row">
                        <div class="col-lg-2 col-md-2">
                            <img class="profile-pic" *ngIf="userData.groups[0] === 'Practitioner'"
                                [src]="selectedUser.profile_image && selectedUser.is_profile_pic_approved ? generalService.getCustomerImageBaseUrl(selectedUser.profile_image) : '../../../../assets/images/profile_pic.png'" />
                        </div>
                        <div class="col-lg-10 col-md-10">
                            <div class="key">{{selectedUser.user_id__first_name}} {{selectedUser.user_id__last_name}}
                            </div>
                            <div class="text" placement="bottom" tooltip="{{selectedUser.interest.join()}}"
                                *ngIf="userData.groups[0] === 'Practitioner'">
                                {{selectedUser.interest.join() | limitTo: 35}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2">
                    <div [ngClass]="upcomingSession.status !== 'Approved'? 'pending' : 'approved'">
                        <span *ngIf="upcomingSession.status === 'Approved'">Approved</span>
                        <span *ngIf="upcomingSession.status !== 'Approved'">Pending</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="upcoming-seesion"
            *ngIf="upcomingSession && upcomingSession.length !== 0 && userData.groups[0] === 'Customer' && !checkSessionTime()">
            <p class="heading">Upcoming Sessions</p>
            <div class="row container flex-center">
                <div class="col-lg-2 col-md-2">
                    <div class="val1">{{upcomingSession.date | date: 'd MMMM'}}</div>
                    <div class="key1">{{upcomingSession.start_time}}</div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="row flex-center">
                        <div class="col-lg-3 col-md-3">
                            <img class="profile-pic mr-2" *ngIf="userData.groups[0] === 'Customer'"
                                [src]="selectedUser.profile_image && selectedUser.is_photo_verified ? generalService.getPractiotionerImageBaseUrl(selectedUser.profile_image) : '../../../../assets/images/profile_pic.png'" />
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <div class="val1">{{selectedUser.first_name +" "+ selectedUser.last_name |limitTo:20}} {{selectedUser.last_name}}
                            </div>
                            <div class="text" placement="bottom" tooltip="{{selectedUser.expertise.join()}}"
                                *ngIf="userData.groups[0] === 'Customer'">
                                {{selectedUser.expertise.join() | limitTo: 22}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2">
                    <div class="key1">Time</div>
                    <div class="val1">{{upcomingSession.duration}} min</div>
                </div>
                <div class="col-lg-2 col-md-2">
                    <div class="key1">Price</div>
                    <div class="val1">Included</div>
                </div>
                <div class="col-lg-2 col-md-2">
                    <div [ngClass]="upcomingSession.status !== 'Approved'? 'pending' : 'approved'">
                        <span *ngIf="upcomingSession.status === 'Approved'">Scheduled</span>
                        <span *ngIf="upcomingSession.status !== 'Approved'">Pending</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="upcoming-seesion" *ngIf="upcomingSession && upcomingSession.length !== 0 && checkSessionTime()">
            <p class="heading">Upcoming Sessions</p>
            <div class="row container high-light">
                <div class="col-lg-3 col-md-3">
                    <div class="val1">Less than
                        5 minutes</div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <img class="profile-pic" *ngIf="userData.groups[0] === 'Customer'"
                                [src]="selectedUser.profile_image && selectedUser.is_photo_verified ? generalService.getPractiotionerImageBaseUrl(selectedUser.profile_image) : '../../../../assets/images/profile_pic.png'" />
                            <img class="profile-pic" *ngIf="userData.groups[0] === 'Practitioner'"
                                [src]="selectedUser.profile_image && selectedUser.is_profile_pic_approved ? generalService.getCustomerImageBaseUrl(selectedUser.profile_image) : '../../../../assets/images/profile_pic.png'" />
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <div class="val1" *ngIf="userData.groups[0] === 'Customer'">{{selectedUser.first_name}}
                                {{selectedUser.last_name}}
                            </div>
                            <div class="val1" *ngIf="userData.groups[0] === 'Practitioner'">
                                {{selectedUser.user_id__first_name}} {{selectedUser.user_id__last_name}}
                            </div>
                            <div class="text" placement="bottom" tooltip="{{selectedUser.interest.join()}}"
                                *ngIf="userData.groups[0] === 'Practitioner'">
                                {{selectedUser.interest.join() | limitTo: 22}}</div>
                            <div class="text" placement="bottom" tooltip="{{selectedUser.expertise.join()}}"
                                *ngIf="userData.groups[0] === 'Customer'">
                                {{selectedUser.expertise.join() | limitTo: 22}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <a (click)="startSession(upcomingSession)">
                        <div class="start">
                            <ng-container *ngIf="userData?.groups[0] !== 'Customer'">Start Session</ng-container>
                            <ng-container *ngIf="userData?.groups[0] === 'Customer'">Join Session</ng-container>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="no-chats" *ngIf="messageData.length === 0 && !isLoading">
            No chat history available!
        </div>
        <div class="chat-box-container" *ngIf="messageData.length > 0" #chatScrollContainer
            [scrollTop]="chatScrollContainer.scrollHeight"
            [ngClass]="upcomingSession.length === 0 ? 'height-88' : 'height-68'">
            <div *ngFor="let list of messageData;let i = index;">
                <div class="row" *ngIf="userData.user.email === list.author.id">
                    <div class="col-lg-12 col-md-12 chat-send">
                        <div [popover]="popTemplate" [ngClass]="{'msg-hover': hiveredMsgId == list.sid}"
                            text="list.type" placement="right" [outsideClick]="true" class="dot-section"
                            (click)="selectMsg(list.item, list?.text)">
                        </div>
                        <div class="send-msg" (mouseover)="mouseOver($event, list.sid)"
                            (mouseout)="mouseOver($event, null)">
                            <span class="send-message" *ngIf="list.type === 'text'">
                                {{list.text}} <p>{{list.timestamp | amCalendar:{sameDay:'h:mm A'} }}</p>
                            </span>
                            <div *ngIf="list.type === 'media' && list.item.media.filename !== 'blob'" class="img-file">
                                <img [src]="list.imageUrl" *ngIf="list.imageUrl" width="50" height="50" />
                            </div>
                            <span class="send-message" *ngIf="list.type === 'media'" (click)="openFile(list.item)"> <a
                                    class="updloaded-file" *ngIf="list.item.media.filename === 'blob'"><i
                                        class="fa fa-paperclip" aria-hidden="true"></i>
                                    Audio File</a><a class="updloaded-file"
                                    *ngIf="list.item.media.filename !== 'blob'"><i class="fa fa-paperclip"
                                        aria-hidden="true"></i>
                                    {{list.item.media.filename}}</a>
                                <p>{{list.timestamp | amCalendar:{sameDay:'h:mm A'} }}</p>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="userData.user.email !== list.author.id">
                    <div class="col-lg-12 col-md-12 chat-receive">
                        <div class="receive-msg" (mouseover)="mouseOver($event, list.sid)"
                            (mouseout)="mouseOver($event, null)">
                            <span class="msg-text" *ngIf="list.type === 'text'">
                                {{list.text}} <p>{{list.timestamp | amCalendar:{sameDay:'h:mm A'} }}</p>
                            </span>
                            <div *ngIf="list.type === 'media' && list.item.media.filename !== 'blob'" class="img-file">
                                <img [src]="list.imageUrl" *ngIf="list.imageUrl" width="50" height="50" />
                            </div>
                            <span class="msg-text" *ngIf="list.type === 'media'" (click)="openFile(list.item)"> <a
                                    class="updloaded-file" *ngIf="list.item.media.filename === 'blob'"><i
                                        class="fa fa-paperclip" aria-hidden="true"></i>Audio File</a><a
                                    class="updloaded-file" *ngIf="list.item.media.filename !== 'blob'"><i
                                        class="fa fa-paperclip" aria-hidden="true"></i>
                                    {{list.item.media.filename}}</a>
                                <p>{{list.timestamp | amCalendar:{sameDay:'h:mm A'} }}</p>
                            </span>
                        </div>
                        <div *ngIf="generalService.isCustomer() && list.type === 'text'"
                            [popover]="receiveMsgPopTemplate" [ngClass]="{'msg-hover': hiveredMsgId == list.sid}"
                            text="list.type" placement="right" [outsideClick]="true" class="dot-section"
                            (click)="selectMsg(list.item, list.text)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-customer-chat" *ngIf="isCustomerBlocked && generalService.isCustomer()">
                <p>You have been blocked from using the chat</p>
            </div>
            <div class="block-customer-chat" *ngIf="isCustomerBlocked && !generalService.isCustomer()">
                <p>This customer / chat is currently blocked </p>
            </div>
            <div class="switch-practitioner-chat" *ngIf="generalService.isPractitionerSwitched">
                <p>You will be assigned a new practitioner in a few moments.</p>
            </div>
        </div>
        <div class="spinner" *ngIf="messageData.length === 0 && isLoading">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="row chat-bottom">
            <div class="col-md-8 col-lg-8">
                <div *ngIf="isTyping">
                    Typing...
                </div>
                <div class="row text-section">
                    <div class="form-group col-md-11 col-lg-11 mb-0">
                        <textarea placeholder="Type your message" class="form-control" rows="1" [(ngModel)]="message"
                            (keyup.enter)="sendMsg()" (keydown)="onKeyDown($event)"
                            [disabled]="isCustomerBlocked"></textarea>
                    </div>
                    <div class="col-md-1 col-lg-1">
                        <emoji-mart (emojiClick)="addEmoji($event)" class="emoji-section" showPreview="false"
                            *ngIf="showEmojiPopup"></emoji-mart>
                        <img   style="width: 20px;" src="../../../../assets/images/customer/smile-chat.png"
                            (click)="showEmoji()" />
                    </div>
                </div>
            </div>
            <div class="col-md-1 col-lg-1 folder">
                <img   src="../../../../assets/images/folder.png" (click)="file.click()" />
                <input type="file" class="file-upload" (change)="onFileSelected($event)" #file
                    [disabled]="isCustomerBlocked" />
            </div>
            <div class="col-md-1 col-lg-1 folder">
                <i class="fa fa-microphone" aria-hidden="true" (click)="toggleRecord()"
                    [ngClass]="{'color-red': isRecording, 'color-blue': !isRecording}"
                    [disabled]="isCustomerBlocked"></i>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-3 right">
        <div class="available-switch" *ngIf="userData.groups[0] === 'Practitioner'">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch" [(ngModel)]="isAvailable">
                <label class="custom-control-label" for="customSwitch1" (click)="switchAvailable()">Available</label>
            </div>
        </div>
        <div class="empty-pract" *ngIf="practitionerList.length === 0 && isShowInterest">
            <p>Start chatting by selecting<br /> one interest</p>
        </div>
        <div class="form-group mt-30" *ngIf="practitionerList.length > 0">
            <input class="form-control search" type="search" placeholder="Search" />
        </div>
        <div class="search-chat" *ngIf="userData.groups[0] === 'Customer'">
            <div class="row margin-auto practitioner-list cursor-pointer" *ngFor="let list of practitionerList;let i = index"
                (click)="goToChat(list, i)" [ngClass]="{'selected-list': selectedIndex == i}">
                <div class="col-md-3 col-lg-3">
                    <img class="status-img" src="../../../../assets/images/red_circle.png"
                        *ngIf="list.chat_availability === 'R'" />
                    <img class="status-img" src="../../../../assets/images/blue_circle.png"
                        *ngIf="list.chat_availability === 'G'" />
                    <img class="profile-pic"
                        [src]="list.profile_image && list.is_photo_verified ? generalService.getPractiotionerImageBaseUrl(list.profile_image) : '../../../../assets/images/profile_pic.png'" />
                </div>
                <div class="col-md-7 col-lg-7">
                    <p class="profile-name" *ngIf="list.name" tooltip="{{list.name}}">{{list.name | limitTo: 10}}</p>
                    <p class="profile-name" *ngIf="!list.name" tooltip="{{list.first_name + ' ' +list.last_name}}">{{list.first_name + ' ' +list.last_name |limitTo:12}}</p>
                    <span class="profile-content" placement="bottom" tooltip="{{list.expertise.join()}}">in
                        {{list.expertise.join() | limitTo: 12 }}</span>
                </div>
                <div class="col-md-2 col-lg-2 popover-section">
                    <img (click)="openPractitionerPopup($event, list)" class="p-dot"
                        src="../../../../assets/images/more.svg" />
                </div>
            </div>
        </div>
        <div *ngIf="userData.groups[0] === 'Practitioner'">
            <div class="row margin-auto practitioner-list br-40 mt-4 cursor-pointer d-flex" *ngFor="let list of customerList;let i = index;"
                (click)="goToChat(list, i)" [ngClass]="{'selected-list': selectedIndex == i}">
                <div class="col-md-2 col-lg-2 d-flex justify-content-center align-items-center">
                    <!-- <img class="status-img" src="../../../../assets/images/red_circle.png" /> -->
                    <img class="profile-pic"
                        [src]="list.profile_image && list.is_profile_pic_approved ? generalService.getCustomerImageBaseUrl(list.profile_image) : '../../../../assets/images/profile_pic.png'" />
                </div>
                <div class="col-md-8 col-lg-8 d-flex justify-content-center flex-column">
                    <p class="profile-name" tooltip="{{list.nick_name}}">{{list.nick_name | limitTo:10}}</p>
                    <span class="profile-content" placement="bottom" tooltip="{{list.interest.join()}}">in
                        {{list.interest.join() | limitTo: 22 }}</span>
                </div>
                <div class="col-md-2 col-lg-2 d-flex justify-content-center align-items-center popover-section">
                    <img (click)="openPractitionerPopup($event, list)" class="p-dot"
                        src="../../../../assets/images/more.svg" />
                </div>
            </div>
        </div>
        <div class="archive-container" (click)="goToArchive()">
            <span class="archive-text">View archived chats →</span>
        </div>

        <div style="overflow-y: scroll !important;max-height: 240px;" *ngIf="userData.groups[0] === 'Customer'">
            <p class="pinned-msg">
                Saved messages
            </p>
            <div class="mr-2">
                <div  class="no-msg btn-flex-center" *ngIf="savedMsgs && savedMsgs.length === 0">
                    You have no saved messages
                </div>
                <div class="pinned-msg-div" *ngFor="let item of savedMsgs;">
                    <div>
                        <div class="row">
                            <div class="col-lg-9 col-md-9">
                                <p class="from">From</p>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <a class="from" (click)="unPinMessage(item)">Unpin</a>
                            </div>
                        </div>
                        <p class="pin-msg-title">
                            {{item.user_id__first_name}} {{item.user_id__last_name}}
                        </p>
                        <p class="pin-msg-content">{{item.address__address_line3}}, {{item.address__address_line5}}</p>
                        <br/>
                        <p class="pin-msg-content" tooltip="{{item.message}}">
                            {{item.message | limitTo:60}}
                        </p>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #popTemplate>
    <div class="action-popover">
        <p>
            <!-- <span (click)="pinMsg()" class="pin-msg">Pin Message</span>
            | -->
            <span (click)="deleteMsg()" class="pin-msg">Remove</span>
        </p>
    </div>
</ng-template>
<ng-template #receiveMsgPopTemplate>
    <div class="action-popover">
        <p>
            <span (click)="pinMsg()" class="pin-msg">Pin Message</span>
        </p>
    </div>
</ng-template>
<ng-template #practitionerPopTemplate>
    <div class="practitioner-popover">
        <div class="row p-20">
            <div class="col-md-2 col-lg-2">
                <ng-container *ngIf="!generalService.isCustomer()">
                    <img class="profile-pic" 
                    [src]="selectedList.profile_image && selectedList.is_profile_pic_approved ? generalService.getCustomerImageBaseUrl(selectedList.profile_image) : '../../../../assets/images/profile_pic.png'" />
                </ng-container>
                <ng-container *ngIf="generalService.isCustomer()">
                    <img class="profile-pic" 
                    [src]="selectedList.profile_image && selectedList.is_photo_verified ? generalService.getPractiotionerImageBaseUrl(selectedList.profile_image) : '../../../../assets/images/profile_pic.png'" />
                </ng-container>
            </div>
            <div class="col-md-8 col-lg-8">
                <ng-container *ngIf="generalService.isCustomer()">
                    <p class="title pt-0">{{selectedList?.name}}</p>
                    <!-- <p class="content">{{selectedList?.expertise?.join()}}</p> -->
                    <ul class="ul-list" >
                        <li class="content" *ngFor="let interest of selectedList.expertise?.join().split(',')">{{interest}}</li>
                    </ul>
                </ng-container>
                <ng-container *ngIf="!generalService.isCustomer()">
                    <p class="title pt-0">{{selectedList?.nick_name}}</p>
                    <p class="content">{{selectedList?.interest?.join()}}</p>
                    
                </ng-container>
            </div>
            <!-- <div class="col-md-2 col-lg-2" *ngIf="!generalService.isCustomer()">
                <p class="content"><a class="notes" (click)="openNotes()">Notes</a></p>
            </div> -->
        </div>
        <hr>
        <div class="row p-20">
            <div class="col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-md-3">
                        <img (click)="bookSession()" *ngIf="generalService.isCustomer()"
                            style="width: 40px;height: 40px;cursor: pointer;"
                            src="../../../../assets/images/customer/session-book.png" />
                        <img (click)="openFollowUpForm()" *ngIf="!generalService.isCustomer()"
                            style="width: 40px;height: 40px;cursor: pointer;"
                            src="../../../../assets/images/practitioner/follow-up-form.png" />
                    </div>
                    <div class="col-md-9 col-lg-9">
                        <ng-container *ngIf="generalService.isCustomer()">
                            <a [routerLink]="['/session/book-session',selectedList.id]" (click)="modalService.dismissAll()"><span class="sub-title">Book</span><br>
                                <span class="sub-title"> a session</span></a>
                        </ng-container>
                        <ng-container *ngIf="!generalService.isCustomer()">
                            <a (click)="openFollowUpForm()">
                                <span class="sub-title" style="font-size: 13px !important;">Follow-Up</span><br>
                                <span class="sub-title"> Form</span>
                            </a>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-md-3">
                        <img (click)="!isChannelNameAvailable(selectedList?.channelname) && switchPractitioner()"
                            [class.disabled]="isChannelNameAvailable(selectedList?.channelname)"
                            *ngIf="generalService.isCustomer()" style="width: 40px;height: 40px;cursor: pointer;"
                            src="../../../../assets/images/customer/switch practitioner.png" />
                        <img (click)="blockCustomer()" *ngIf="!generalService.isCustomer()"
                            style="width: 40px;height: 40px;cursor: pointer;"
                            src="../../../../assets/images/practitioner/block-user.png" />
                    </div>
                    <div class="col-md-9 col-lg-9">
                        <ng-container *ngIf="generalService.isCustomer()">
                            <a (click)="!isChannelNameAvailable(selectedList?.channelname) && switchPractitioner()"
                                [class.disabled]="isChannelNameAvailable(selectedList?.channelname)">
                                <span class="sub-title">Switch</span><br>
                                <span class="sub-title">practitioner</span>
                            </a>
                        </ng-container>
                        <ng-container *ngIf="!generalService.isCustomer()">
                            <a *ngIf="!selectedList?.is_blocked" (click)="blockCustomer()">
                                <span class="sub-title">Block</span><br>
                                <span class="sub-title">Customer</span>
                            </a>
                            <a *ngIf="selectedList?.is_blocked" (click)="unBlockCustomer()">
                                <span class="sub-title">Unblock</span><br>
                                <span class="sub-title">Customer</span>
                            </a>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="p-20">
            <ng-container *ngIf="generalService.isCustomer()">
                <p class="sub-content">
                    <a class="pr-10 sub-content" [class.disabled]="isChannelNameAvailable(selectedList?.channelname)"
                        (click)="!isChannelNameAvailable(selectedList?.channelname) && archiveChat()">Archive Chat</a>|
                    <a class="pl-10 sub-content" [class.disabled]="isChannelNameAvailable(selectedList?.channelname)"
                        (click)="!isChannelNameAvailable(selectedList?.channelname) && deleteChat()">Delete Chat </a>
                </p>
                <p class="sub-content">
                    <a class="pr-10 sub-content" [class.disabled]="isChannelNameAvailable(selectedList?.channelname)"
                        (click)="!isChannelNameAvailable(selectedList?.channelname) && reportPtactitioner()">Report
                        Practitioner </a>|
                    <a class="pl-10 sub-content" [class.disabled]="isChannelNameAvailable(selectedList?.channelname)"
                        (click)="!isChannelNameAvailable(selectedList?.channelname) && reviewPractitioner()">Review
                        Practitioner</a>
                </p>
            </ng-container>
            <ng-container *ngIf="!generalService.isCustomer()">
                <p class="sub-content">
                    <a class="pr-10 sub-content" (click)="archiveChat()">Archive Chat</a>|
                    <a class="pl-10 sub-content" (click)="viewSessions()">View Sessions </a>
                </p>
                <p class="sub-content">
                    <a class="pr-10 sub-content" (click)="initActiveFollowupForms()">Active follow-up forms </a>
                </p>
            </ng-container>
        </div>
    </div>
</ng-template>

<ng-template #ChartRemoveConfirmModal>
    <div class="chat-remove-confirm-modal">
        <p class="title">
            Are You Sure You Want To<br>
            Delete This Conversation?
        </p>
        <p class="content">This action cannot be undone.</p>
        <div class="row details-section">
            <div class="col-md-4 col-lg-4">
                <p class="chat-in">Chat in</p>
                <p class="name">Nutrition</p>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="row">
                    <div class="col-md-2 col-lg-2">
                        <div class="circle-div">
                            <img class="pt-10" src="../../../../assets/images/user_icon.png" />
                        </div>
                    </div>
                    <div class="col-md-10 col-lg-10">
                        <p class="sub-title pl-20">3 Practitioners</p>
                        <p class="sub-content pl-20">14 chats</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="row">
                    <div class="col-md-2 col-lg-2">
                        <div class="circle-div">
                            <img class="pt-10" src="../../../../assets/images/pinned_msg.png" />
                        </div>
                    </div>
                    <div class="col-md-10 col-lg-10">
                        <p class="sub-title pl-20">4 Pinned Messages</p>
                        <p class="sub-content pl-20">21 files shared</p>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <button class="btn btn-rounded del-btn">Delete Chat →</button><br>
            <button class="btn cancel-btn">Cancel</button>
        </div>
    </div>
</ng-template>  