.home-bg-top {
    padding-bottom     : 100px;
    background-image   : url(../../../../assets/images/bg/home-page-top.svg);
    background-position: center;
    background-size    : cover;
    background-repeat  : no-repeat;
    max-height         : 800px;

    @media screen and (max-width:767px) and (min-width: 320px) {
        max-height: 900px;
    }
}

// .home-bg-blue {
//     padding-bottom     : 100px;
//     background-image   : url(../../../../assets/images/bg/Group-1.png);
//     background-position: right center;
//     background-size    : revert;
//     background-repeat  : no-repeat;
//     max-height         : 900px;


//     @media screen and (max-width:767px) and (min-width: 320px) {
//         max-height: 100%;
//     }
// }

.home-bg-right {
    padding-bottom        : 100px;
    // background-image   : url(../../../assets/images/bg/Planet.png);
    background-position   : right center;
    background-size       : revert;
    background-repeat     : no-repeat;
    max-height            : 900px;

    @media screen and (max-width:991px) and (min-width: 768px) {
        background-size: contain;
    }

    @media screen and (max-width:767px) and (min-width: 320px) {
        max-height: 100%;
    }
}

.home-center-bg {
    padding-bottom     : 100px;
    background-image   : url(../../../../assets/images/bg/are-u-prac.svg);
    background-position: left center;
    background-size    : contain;
    background-repeat  : no-repeat;
    max-height         : 680px;

    @media screen and (max-width:767px) and (min-width: 320px) {
        max-height: 100%;
    }
}

.home-center-orange {
    padding-bottom     : 100px;
    background-image   : url(../../../../assets/images/bg/b2b.svg);
    background-position: center;
    background-size    : contain;
    background-repeat  : no-repeat;
    max-height         : 718px;

    @media screen and (max-width:767px) and (min-width: 320px) {
        max-height: 100%;
    }
}

.home-Courses {
    padding-bottom     : 0px;
    background-image   : url(../../../../assets/images/bg/home-page-course-bg.svg);
    background-position: left center;
    background-size    : contain;
    background-repeat  : no-repeat;

    // max-height: 718px;
    @media screen and (max-width:767px) and (min-width: 320px) {
        max-height: 100%;
    }
}


.header-top-section-bg {
    padding-bottom     : 100px;
    background-image   : url(../../../../assets/images/background.svg);
    background-position: center;
    background-size    : cover;
    background-repeat  : no-repeat;
    max-height         : 900px;

    @media screen and (max-width:767px) and (min-width: 320px) {
        max-height: 100%;
    }
}

.header-banner-bg {
    padding-bottom     : 100px;
    background-image   : url(../../../../assets/images/home-bg.png);
    background-position: center;
    background-size    : contain;
    background-repeat  : no-repeat;
    height             : 700px;

    @media screen and (max-width:767px) and (min-width: 320px) {
        max-height: 100%;
    }
}

.top-space-tb {
    padding-top   : 50px;
    padding-bottom: 50px;
}


.session {
    &__h1 {
        font-family: 'healspace font';
        font-style : normal;
        font-weight: normal;
        font-size  : 40px;
        line-height: 45px;
        /* or 112% */

        text-align: center;

        /* Secondary */

        color: #074D63;
    }

    &__user-list {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 20px;
        line-height: 18px;
        /* identical to box height, or 90% */


        /* Secondary */

        color: #074D63;
    }

    &__share {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 24px;
        line-height: 35px;
        /* identical to box height, or 146% */


        /* Secondary */

        color: #074D63;

    }

    &__ttle-sm{
        font-family: 'healspace font';
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 45px;
/* identical to box height, or 112% */


/* Secondary */

color: #074D63;
    }
}

.see-all {
    font-family: 'FFMarkWebProBook';
    font-style : normal;
    font-weight: bold;
    font-size  : 24px;
    line-height: 35px;
    cursor: pointer;
    /* identical to box height, or 146% */


    color: #000000;

}

.social-media-icon {
    background   : #074D63;
    width        : 40px;
    height       : 40px;
    border-radius: 50%;
    color        : #fff;
    margin-right : 12px;
}

.social-media-icon a {
    color: #FFF;
}

.social-media a:hover {
    color: #FFF;
}

.social-media-margin {
    margin-bottom: 24px;
}