<div class="home-bg-top">
    <div class="home-bg-blue">
        <div class="home-bg-right">
            <app-header></app-header>
            <div class="container top-space-tb searh-res m-auto">

                <p class="session__h1">
                    This session is over. <br>
                    Thank you for being here with us {{user}}!
                </p>

                <div class="col-lg-12 text-center py-4">
                    <div class="course-sm-img justify-content-center">
                        <img src="../../../assets/images/Ellipse 15.png">
                        <img src="../../../assets/images/Ellipse 16.png">
                        <img src="../../../assets/images/Ellipse 17.png">
                        <img src="../../../assets/images/Ellipse 18.png">
                    </div>
                </div>

                <p class="session__user-list text-center">
                    125 attended
                </p>

                <div class="col-lg-12 text-center py-5" (click)="donateToPractitioner()">
                    <button class="donate-btn-small m-auto">
                        <i class="fas fa-heart"></i>
                        Donate to Darlene
                    </button>
                </div>

                <div class="col-lg-12 text-center pb-5">
                    <p class="session__share">Share your love</p>

                    <div class="d-flex justify-content-center ">
                        <!-- <div class="d-flex-center social-icon" [socialShare]="'fb'"><a><i class="fab fa-instagram"></i></a></div> -->
                        <div class="d-flex-center social-icon" [socialShare]="'fb'"><a ><i class="fab fa-facebook-f"></i></a></div>
                        <div class="d-flex-center social-icon"[socialShare]="'tw'" ><a><i class="fab fa-twitter"></i></a></div>
                        <div class="d-flex-center social-icon" [socialShare]="'in'"><a><i class="fab fa-linkedin-in"></i></a></div>
                        <!-- <div class="d-flex-center social-icon"><a
                                href="https://www.linkedin.com/in/manisha-singal-md-2117b74" target="_blank"><i
                                    class="fab fa-whatsapp"></i></a></div> -->
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="bg__white pb-3" *ngIf="practitionerWrapper?.course?.data.length>0" >
        <div class="home-Courses">
            <div class="container">
                <div class="row mx-0 justify-content-between">
                    <p class="session__ttle-sm">More from Darlene </p>
                    <span class="see-all "  [routerLink]="['/all-course']">see all</span>
                </div>

                <div class="row mx-0 ">
                    <div class="col-lg-12 col-sm-12 col-12 px-2  mb-4">
                        <app-course-carousel [related_courses]="practitionerWrapper.course.data"> </app-course-carousel>
                    </div>
                </div>
            </div>
        </div>
    </div>



<app-footer></app-footer>