// 
// _buttons.scss
// 

button,
a {
  outline: none !important;
}


// Rounded Buttons
.btn-rounded {
  border-radius: 30px;
}

.btn-dark,
.btn-secondary {
  color: $gray-200 !important;
}

.btn-outline-light {
  color: $gray-900;
}

.button {
  font-family: 'FFMarkWebProBook';
  font-style : normal;
  font-weight: normal;
  font-size  : 20px;
  line-height: 20px;
  flex       : none;
  order      : 0;
  flex-grow  : 0;
  margin     : 0px 0 0 8px;




  display            : inline-block;
  font-weight        : 400;
  text-align         : center;
  vertical-align     : middle;
  -webkit-user-select: none;
  -moz-user-select   : none;
  -ms-user-select    : none;
  user-select        : none;
  border             : 1px solid transparent;
  padding            : 20px 40px;
  border-radius      : 20px;
  transition         : color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &__primary {
    background  : #00BAD5;
    border-color: #00BAD5;
    color       : #FFFFFF;
    ;
  }

  &__white {
    background  : transparent;
    border-color: none;
    color       : #074D63;

  }

  &__login {
    background   : #FBD036;
    border-radius: 20px;
    border-color : #FBD036;
  }

}