<drag-scroll class="carousel-height-classess">
    <div drag-scroll-item style="margin-right: 14px;" *ngFor="let class of live_classes">
        <app-classes [title]="class.title" [image]="class.image" [altimg]="class.practitioner__user_id__first_name" 
                               [id]="class.id" [classdate]="class.class_date" [starttime]="class.start_time" [duration]="class.duration"
                                [expertise]="class.practitioner__expertise[0]" [firstname]="class.practitioner__user_id__first_name" [lastname]="class.practitioner__user_id__last_name"></app-classes>
    </div>
</drag-scroll>
<!-- <button (click)="moveLeft()">Left</button>
<button (click)="moveRight()">Right</button> -->

<button (click)="moveLeft()" class="carousel-control-prev-icon carousel-control-prev">
    <img class="img-fluid" src="../../../../assets/images/arrowleft.png">
</button>
<button (click)="moveRight()"  class="carousel-control-next-icon carousel-control-next">
    <img class="img-fluid" src="../../../../assets/images/arrowright.png">
</button>
