.practitioner-archive {
    margin: 0px 140px;
    .heading {
        font-family: FF Mark Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #074D63;
        margin: 20px 0;
    }
    .title {
        font-family: FF Mark Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #074D63;
    }
    .sub {
        font-family: FF Mark Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #6D6D6D;
    }
    .interest-label {
        font-family: FF Mark Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #6D6D6D;
    }
    .interest-val {
        font-family: BelyDisplayW00-Regular;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
        color: #00BAD5;
    }
    .profile-pic {
        margin: 0px 15px;
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
    .icon {
        margin: 5px 15px;
    }
    .archive-text {
        background: #FFF4E3;
        border-radius: 20px;
        width: 114px;
        cursor: pointer;
        text-align: center;
        padding: 10px;
        img {
            margin-right: 10px;
        }
    }
    .list {
        background: #FFFFFF;
        box-shadow: 0px 15px 30px rgb(0 0 0 / 5%);
        border-radius: 20px;
        padding: 30px;
        margin-bottom: 20px;
    }
    .no-archive {
        font-family: FF Mark Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #074D63;
        text-align: center;
    }
}


.action-popover {
    // width: 125px !important;
    text-align: center;
    p{
        margin-bottom: 0px;
        padding: 10px;
    }
    .restore-archive {
        font-family: FF Mark Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #074D63;
        cursor: pointer;
    }
}