<div class="practitioner-archive">
    <div class="row">
        <div class="col-lg-9 col-md-9">
            <p class="heading">Archived</p>
            <div class="no-archive" *ngIf="archiveList && archiveList.length === 0">
                No Archives Found!
            </div>
            <div>
                <div class="row list btn-flex-center " *ngFor="let list of archiveList">
                    <div class="col-lg-4 col-md-4 btn-flex-center ">
                        <div class="row btn-flex-center ">
                            <div class="profile-pic">
                                <img
                                    [src]="list.customer__profile_image ? generalService.getCustomerImageBaseUrl(list.customer__profile_image) : '../../../../assets/images/profile_pic.png'" />
                            </div>
                            <div>
                                <div class="title">{{list.customer__user_id__first_name}}
                                    {{list.customer__user_id__last_name}}</div>
                                <div class="sub" placement="bottom" tooltip="{{list.customer__interest.join()}}">in
                                    {{list.customer__interest.join() | limitTo: 25}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4  btn-flex-center ">
                        <div class="row">
                            <div class="icon">
                                <img src="../../../../assets/images/video_icon.png" />
                            </div>
                            <div class=" btn-flex-center ">
                                <div class="title">{{list.session_count}} Video Sessions</div>
                                <!-- <div class="sub">4 practitioner</div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3  btn-flex-center ">
                        <div class="title archive-text" [popover]="archiveTemplate" placement="left"
                            (click)="selectArchive(list)"> <img src="../../../../assets/images/y_dot.png" />Archived
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <app-available-patient></app-available-patient>
        </div>
    </div>
</div>

<ng-template #archiveTemplate>
    <div class="action-popover">
        <span class="restore-archive" (click)="deleteArchive()">Restore</span>
    </div>
</ng-template>