.add-interest-modal{
    width: 848px;
    height: 558px;
    background: #FAFAFA;
    border-radius: 40px;
    padding:20px;
    img{
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .title-edit-confirm{
        font-family: 'BelyDisplay-Regular';
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 45px;
        text-align: center;
        color: #074D63;
    }
    .file-upload {
        display: none;
    }
    .title-success{
        color: #00BAD5;
        font-family: 'BelyDisplay-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 45px;
        text-align: center;
    }
    .interest-desc{
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 15px;
        text-align: right;
        color: #074D63;
        font-family: 'FFMarkWebProBook';
        margin-right: 20px;
    }
    .success-img-div{
        width: 460px;
        height: 108px;
        margin: 0px auto;
        background: #ffffff;
        box-shadow: 0px 0px 40px rgb(0 0 0 / 10%);
        border-radius: 20px;
        margin-top: 50px;
    }
    .interest-tit{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        text-align: right;
        color: #074D63;
        font-family: 'BelyDisplay-Regular';
        margin-bottom: 0px;
        margin-top: 50px;
        margin-right: 20px;
    }
    textarea{
        border: none !important;
        overflow: auto;
        outline: none !important;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width: 100%;
        height: 80px;
        background: #FFFFFF;
        border-radius: 40px;
        resize: none !important;
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #074D63;
        padding: 20px;
    }
    .file-upload-div{
        background: #074D63;
        border-radius: 40px;
        color: #FFFFFF;
        margin: 0px auto;
        padding: 20px 32px;
        width: 400px;
        text-align: center;
    }
    .back-to-btn{
        padding: 20px 40px;
        background: #00BAD5;
        border-radius: 20px;
        color: #FFFFFF;
        border: none;
    }
    .cancel-btn{
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #074D63;

    }
    .btnactive{
        background: #FBD036 !important;
        color: #074D63 !important;
        border: none !important;
    }
    input{
        background: #FFFFFF;
        border-radius: 40px;
        width: 100%;
        height: 50px;
        border: none !important;
        overflow: auto;
        outline: none !important;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        font-family: 'BelyDisplay-Regular';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        color: #074D63;
        padding: 20px;
    }
    .add-details-btn{
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #074D63;
        border: 1px solid #074D63;
        padding: 10px 20px;
        border-radius: 20px;
    padding: 20px 40px;
    }
    .btn:focus{
        outline: none !important;
    }

    .title{
        font-family: 'BelyDisplay-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 45px;
        text-align: center;
        color: #074D63;
    }
    .content{
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #074D63;

    }
   
}