<div class="add-interest-modal" *ngIf="currentStep === 'delete_confirm'">
    <p class="title-edit-confirm">Are you sure you want to <br />
        remove this interest?</p>
    <div class="success-img-div">
        <div class="row">
            <div class="col-md-4">
                <img width="145px" height="108px" [src]="interestDetails?.cover_photo" [alt]="interestDetails.interest" />
            </div>
           <div style="text-align: right;" class="col-md-8">
            <p class="interest-tit" >{{interestDetails?.interest}}</p>
            <p class="interest-desc">{{interestDetails?.description}}</p>
           </div>
        </div>
    </div>
    <div style="text-align: center;margin-top: 20px;">
        <button (click)="deleteInterest()" class="add-details-btn btnactive"
            >Delete →</button><br>
        <button (click)="closeModal()" class="btn cancel-btn">Cancel</button>
    </div>
</div>
<div class="add-interest-modal" *ngIf="currentStep === 'delete_success'">
    <p class="title-success">You have succesfully removed <br />
        this interest!</p>
    <div class="success-img-div">
        <div class="row">
            <div class="col-md-4">
                <img width="145px" height="108px" [src]="interestDetails.cover_photo" [alt]="interestDetails.interest" />
            </div>
           <div style="text-align: right;" class="col-md-8">
            <p class="interest-tit" >{{interestDetails?.interest}}</p>
            <p class="interest-desc">{{interestDetails?.description}}</p>
           </div>
        </div>
    </div>
    <div style="text-align: center;margin-top: 50px;">
        <button (click)="backToPlatform()" class="btn back-to-btn">Back to Dashboard→</button><br>
        <button (click)="closeModal()" class="btn cancel-btn">Cancel</button>
    </div>
</div>