<div class="header-top-section-bg s-practitioner">
    <div class="container">
        <app-header></app-header>

        <div class="d-flex justify-content-center ">
            <div class="col-lg-12 p-0">
                <p class="live-classes__title pb-5">Live Classes</p>
                <p class="live-classes__des">Short description for live events to be provided here, <br>
                    maybe expanded on multiple rows.</p>
            </div>
        </div>
        <div class="container p-0 mb-5">
            <div class="row mx-0 live-class">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-12 px-2 m-b-20" *ngFor="let class of nextFourClasses">
                    <app-classes [title]="class.title" [id]="class.id" [image]="class.image"
                        [altimg]="class.practitioner__user_id__first_name" [classdate]="class.class_date"
                        [starttime]="class.start_time" [duration]="class.duration"
                        [expertise]="class.practitioner__expertise[0]"
                        [firstname]="class.practitioner__user_id__first_name"
                        [lastname]="class.practitioner__user_id__last_name"></app-classes>
                </div>
            </div>
        </div>

        <div class="container p-0 mb-5 ">

            <div class="live-classes__heading">
                Upcoming live classes
            </div>


            <ul class="nav nav-tabs p-0" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home" (click)="getLiveClasses('all')">All
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-toggle="tab" href="#home" (click)="getLiveClasses('today')">Today
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#home" (click)="getLiveClasses('this_week')">This Week
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-toggle="tab" href="#home" (click)="getLiveClasses('this_month')">This
                        month
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div id="home" class="container p-0 tab-pane active margin-nottom-70"><br>
                <div class="container p-0">
                    <div class="row mx-0 live-class" infinite-scroll (scrolled)="getLiveClasses(dataCategory,true)">

                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-12 px-2 mb-4" *ngFor="let class of liveClass">
                            <app-classes [title]="class.title" [id]="class.id" [image]="class.image"
                                [altimg]="class.practitioner__user_id__first_name" [classdate]="class.class_date"
                                [starttime]="class.start_time" [duration]="class.duration"
                                [expertise]="class.practitioner__expertise[0]"
                                [firstname]="class.practitioner__user_id__first_name"
                                [lastname]="class.practitioner__user_id__last_name"></app-classes>

                        </div>

                    </div>
                    <div class="row mx-0  live-class" *ngIf="showLoadScreen">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-12 px-2 m-b-20">
                            <div class="live-classes__blank-box"> </div>
                            <div class="live-classes__blank_des">&nbsp;</div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-12 px-2 m-b-20 ">
                            <div class="live-classes__blank-box"> </div>
                            <div class="live-classes__blank_des">&nbsp;</div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-12 px-2 m-b-20">
                            <div class="live-classes__blank-box"> </div>
                            <div class="live-classes__blank_des">&nbsp;</div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-12 px-2 m-b-20">
                            <div class="live-classes__blank-box"> </div>
                            <div class="live-classes__blank_des">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>