.rating {

    background   : #FAFAFA;
    border-radius: 20px;
    padding      : 40px;

    &__title {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 16px;
        line-height: 20px;
        /* identical to box height, or 125% */


        /* Secondary */

        color: #074D63;
    }

    &__des {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 14px;
        line-height: 18px;
        /* or 129% */


        /* Background - dark */

        color: #6D6D6D;
    }
}