<div class="rating pt-5">
    <p class="rating__title">
        {{firstname}} {{lastname}}
    </p>

    <div class="d-flex pb-4">
        <i class="fa fa-star fg-color__yellow" *ngIf="rating_count>0"> </i>
        <i class="fa fa-star fg-color__yellow" *ngIf="rating_count>1"> </i>
        <i class="fa fa-star fg-color__yellow" *ngIf="rating_count>2"> </i>
        <i class="fa fa-star fg-color__yellow" *ngIf="rating_count>3"> </i>
        <i class="fa fa-star fg-color__yellow" *ngIf="rating_count>4"> </i>
    </div>
    <p class="rating-des">
        “{{review}}”
    </p>
</div>