$white: #fff;
$primary-blue: #00BAD5;
$secondary-blue: #074D63;
$card-bg: rgba(255, 244, 227, 0.5);
$text-title: #6D6D6D;
$slight-grey: #FAFAFA;
$main-font: healspace font;

:host {
    // display: flex;
    background: #ffffff;
}
.stats-container {
    padding-top: 56px;
    padding-left: 188px;
    width: 100%;
     .charts-container {
        width: 50%;
        padding-right: 63px;
        .line-chart-container {
            height: 181px;
        }
        .line-chart {
            margin-bottom: 37px;
            .title {
                font-family: 'FFMarkWebProBook';
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 18px;
                margin-bottom: 22px;                
                color: #074D63;
            }
        }
    }
    .clients-container {
        display: flex;
        margin-bottom: 64px;

        .title {
            margin-bottom: 20px;
            font-family: 'FFMarkWebProBook';
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            color: #074D63;
        }
        .clients {
            width: 33%;
            margin-right: 10%;
        }
        .info-box {
            background: #FFFFFF;
            box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
            border-radius: 20px;
            padding: 10px 15px;
           
            .total {
                font-family: 'healspace font';
                font-style: normal;
                font-weight: normal;
                font-size: 40px;
                line-height: 45px;
                color: #074D63;
            }
        }
        .info {
            display: flex;
            align-items: center;
        }
        i.fa,
        i.fas {
          width: 40px;
          height: 40px;
          border-radius: 50px;
          background: #ffffff;
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 15px;

        }
        i.fas {
            color: #ffffff;
            margin-left: 0;
            margin-right: 6px;
            &.fa-chevron-up {
              background: #00bad5;
              & ~ .no {
                color: #00bad5;
              }
              
            }
            &.fa-chevron-down {
              background: #074d63;
              & ~ .no {
                color: #074d63;
              }
            }
          }
          .chats-container {
            flex: 1;
            width: 56%;
            .chart-container {
                height: 130px;
                display: flex;
                justify-content: space-between;
      
                .bar-group {
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-end;
                  align-items: center;
                  margin-top: 16px;
                  max-height: 100%;
                  position: relative;
      
                  .bar,
                  .form-bar {
                    margin-bottom: 6px;
                    max-height: 100%;
                    width: 22px;
                  }
      
                  .form-bar {
                    display: none;
                    position: absolute;
                    margin-bottom: 20px;
                  }
      
                  .day {
                    font-size: 10px;
                    line-height: 15px;
                    color: $text-title;
                  }
      
                  .cloud-pop {
                    position: absolute;
                    background-color: $secondary-blue;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 18px;
                    text-align: center;
                    color: $white;
                    width: 81px;
                    top: -40px;
                    border-radius: 8px;
                    display: none;
      
                    &::after {
                      content: ' ';
                      position: absolute;
                      top: 100%;
                      left: 50%;
                      margin-left: -5px;
                      border-width: 5px;
                      border-style: solid;
                      border-color: $secondary-blue transparent transparent transparent;
                    }
                  }
                }
              }
            i {
                box-shadow: none;
                background: none;
            }
            .share {
                font-family: 'FFMarkWebProBook';
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 18px;
                color: #074D63;
                i {
                    color: #074D63;
                    display: inline-block;
                    width: 4px;
                }
            }
            &.ratings {
                background: #FFFFFF;
                box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.05);
                border-radius: 20px;
                padding: 23px 34px;
                .graph {
                    p {
                        span {
                            margin-right: 15px;
                            font-family: 'FFMarkWebProBook';
                            font-style: normal;
                            font-weight: normal;
                            font-size: 12px;
                            line-height: 30px;
                            color: #074D63;
                        }
                        ngb-progressbar {
                            flex:1
                        }
                    }
                }
            }
           
          }
    }
    .ratings-cont{
        position: relative;
    .star {
		font-size: 17px;
		color: #b0c4de;
	  }
	  .filled {
		color: #fbd036;
      }
      .ratings-info {
          position: absolute;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          top: 26%;
          left: 26%;
          font-family: 'BelyDisplay-Regular';
          font-style: normal;
          font-weight: normal;
          font-size: 40px;
          line-height: 45px;
          color: #00BAD5;
          ngb-rating {
            margin-top: -24px;
          }
          .reviews {
            font-family: 'FFMarkWebProBook';
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
           
            color: #074D63;
            
          }
      }
    }
}