<app-auth-navbar></app-auth-navbar>
<div class="auth-sidebar">
    <app-auth-sidebar></app-auth-sidebar>
</div>
<div class="stats-container d-flex">
    <div class="charts-container">
        <div class="line-chart">
            <div class="title">Earnings</div>
            <div class="line-chart-container">
                <app-line-chart [earnings]="stats.Earnings" *ngIf="stats"></app-line-chart>
            </div>
        </div>
        <div class="clients-container">

            <div class="clients" *ngIf="stats">
                <div class="title">Clients</div>
                <div class="flex info-box btn-flex-center flex-column">
                    <p class="total">{{stats.Clients.yearly}}</p>
                    <div class="info">
                        <i class="fas fa-chevron-up"></i>
                        <div class="no">+{{stats.Client_percentage.yearly}}%</div>
                    </div>
                </div>
            </div>
            <div class="chats-container">
                <div class="graph">
                    <div class="d-flex justify-content-between title">
                        <div class="graph-head">Chats</div>
                        <!-- <div class="share">last week
                            <i class="fas fa-chevron-down"></i>
                        </div> -->
                    </div>

                    <!-- <div class="graphi">
                        <app-bar-chart [data]="chatsData"></app-bar-chart>
                    </div> -->
                    <div class="chart-container">
                        <div class="bar-group" *ngFor="let chatS of chatStat" (mouseover)="showStats(chatS.day)"
                            (mouseleave)="hideStats(chatS.day)">
                            <img src="assets/images/rectangle.png" alt="" class="bar" [id]="chatS.day + '-bar'"
                                [style.height]="(88 * percentage(chatS)) + 'px'">
                            <img src="assets/images/rectangle.png" alt="" class="form-bar" [id]="chatS.day + '-form-bar'">
                            <span class="day">{{shortDay(chatS.week_day)}}</span>
                            <div class="cloud-pop" [id]="chatS.day + '-cloud'">
                                {{chatS.chat_count}} chat{{chatS.chat_count > 1 ? 's' : ''}}
                                <br>
                                {{chatS.form_count}} form{{chatS.form_count > 1 ? 's' : ''}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clients-container">

            <div class="clients">
                <div class="title">Ratings</div>
                <div class="ratings-cont">
                    <app-doughnut-chart></app-doughnut-chart>
                    <div class="ratings-info" *ngIf="stats">
                        <div>{{stats.Ratings.overall_rating}}</div>
                        <div class="reviews">({{stats.Ratings.reviews}} reviews)</div>
                        <ngb-rating [(rate)]="stats.Ratings.overall_rating">
                            <ng-template let-fill="fill" let-index="index">
                                <span class="star" [class.filled]="fill === 100">&#9733;</span>
                            </ng-template>
                        </ngb-rating>
                    </div>
                </div>
            </div>
            <div class="chats-container ratings">
                <div class="graph" *ngIf="stats">
                    <p class="d-flex justify-content-center align-items-center m-0">
                        <span>5 stars</span>
                        <ngb-progressbar type="warning" value="{{stats.Ratings['5stars']/100*100}}"></ngb-progressbar>
                    </p>
                    <p class="d-flex justify-content-center align-items-center m-0">
                        <span>4 stars</span>
                        <ngb-progressbar type="warning" value="{{stats.Ratings['4stars']/100*100}}"></ngb-progressbar>
                    </p>
                    <p class="d-flex justify-content-center align-items-center m-0">
                        <span>3 stars</span>
                        <ngb-progressbar type="warning" value="{{stats.Ratings['3stars']/100*100}}"></ngb-progressbar>
                    </p>
                    <p class="d-flex justify-content-center align-items-center m-0">
                        <span>2 stars</span>
                        <ngb-progressbar type="warning" value="{{stats.Ratings['2stars']/100*100}}"></ngb-progressbar>
                    </p>
                    <p class="d-flex justify-content-center align-items-center m-0">
                        <span>1 stars</span>
                        <ngb-progressbar type="warning" value="{{stats.Ratings['1star']/100*100}}"></ngb-progressbar>
                    </p>


                </div>
            </div>
        </div>
    </div>
    <app-session-details [reviews]="stats.Reviews" [sessions]="stats.sessions" *ngIf="stats"></app-session-details>
</div>