.form-group.hidden {
    width: 0;
    margin: 0;
    border: none;
    padding: 0;
  }
  .custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  .custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216)!important;
    color: white;
  }
  .custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5)!important;
  }
  .form-control {
      display: none;
  }
  :host {
    // position: absolute;
    // margin-left: -236px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    button { 
      width: 300px;
      opacity: 0;}
  }