<app-auth-navbar></app-auth-navbar>
<div class="auth-sidebar">
    <app-auth-sidebar></app-auth-sidebar>
</div>
<div id="payment-info">

    <div class="payment-container">
        <div class="row">
            <div class="practitioner-info">
                <div class="profile-photo">
                    <img class="center profile-photo" src="{{logedinData?.is_photo_verified && logedinData?.profile_image ? logedinData?.profile_image : 'assets/images/users/avator-2.jpg'}}"/>
                </div>

                <div>
                    <div class="name">{{ username }}</div>
                    <div class="place" tooltip="{{expertise}}">{{ expertise|limitTo: 20 }}</div>
                </div>
            </div>
            <div class="account-info">
                <div>$</div>
                <div>
                    <span>This month</span>
                    <span>Earnings</span>
                </div>
            </div>
            <div class="account-info all">
                <div>${{ total_earnings }}</div>
                <div>
                    <span>All</span>
                    <span>Earnings</span>
                </div>
            </div>
        </div>

        <div>
            <div class="info-container mb-5">
                <div>
                    <div class="title">Funds Available for withdraw</div>
                    <div class="price" *ngIf="total_withdraw">${{ total_withdraw }}</div>
                </div>
                <button type="button" class="btn highlight" (click)="withdrawAmount()" [disabled]="!total_earnings">
                    Withdraw Funds <i class="fa fa-arrow-right"></i>
                </button>
            </div>

            <div class="info-container mb-5">
                <div>
                    <div class="title">Bank Account Details</div>
                    <div class="bank-content" *ngIf="bankDetails">
                        <div class="account-description" style="display: flex;">
                            <img class="center profile-photo" src="assets/images/Vector.png"/>
                            <div style="margin-left: 21px;">
                                {{bankDetails.account_holder_name}} <br>
                                {{bankDetails.bank_name}}
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn" routerLink="/bank-details">
                    {{ bankDetails ? 'Update' : 'Create'}}
                    <i class="fa fa-arrow-right"></i>
                </button>
            </div>

            <div class="info-container mb-5">
                <div>
                    <div class="title">Withdraw History</div>
                    <div class="account-description">View Details of your healplace membership and payments</div>
                </div>
                <button type="button" class="btn" routerLink="/withdraw-history">
                    View Withdraw History
                    <i class="fa fa-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>

    <app-available-patient></app-available-patient>
</div>