<div class="send-message">
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <p class="title">Send message to</p>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="row">
                <div class="col-md-4 col-lg-4" style="text-align: right;">
                    <img [src]="selectedList?.profile_image && selectedList?.is_profile_pic_approved ? generalService.getCustomerImageBaseUrl(selectedList.profile_image): 'assets/images/users/avator-2.jpg'" />
                </div>
                <div class="col-md-8 col-lg-8" style="padding: 0px;">
                    <p class="name">{{ (selectedList?.user_id__first_name + ' ' + selectedList?.user_id__last_name) }}</p>
                    <p class="expertise" tooltip="{{selectedList?.interest?.join()}}">{{selectedList?.interest?.join() | limitTo: 20}}</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <p class="label">Add  message title here *</p>
        <input type="text" [(ngModel)]="title" #msg_title="ngModel" name="msg_title" required />
        <div *ngIf="isSubmitted && msg_title.hasError('required')">
            <p class="error-box margin-top-0 text-danger err-sf" style="font-size: 13px;font-weight: normal;padding-top: 10px;">
                Message Title is Required
            </p>
        </div>
        <p class="label">Type message here*</p>
        <textarea [(ngModel)]="message" #send_message="ngModel" name="send_message" required></textarea>
        <div *ngIf="isSubmitted && send_message.hasError('required')">
            <p class="error-box margin-top-0 text-danger err-sf" style="font-size: 13px;font-weight: normal;padding-top: 10px;">
                Message is Required
            </p>
        </div>
    </div>
    <div style="text-align: center;padding: 15px;">
        <button (click)="sendMessage()" class="btn send-btn" type="button">Send Message →</button>
        <br />
        <a (click)="close()"><p class="close-btn">Cancel</p></a>
    </div>
</div>
