<div class="container top-space-tb" *ngIf="step==1">
    <p class="book-session__des">
        Step 1 of 3
    </p>
    <h5 class="book-session__heading"> Book 1 on 1 Session </h5>
    <p class="book-session__des">
        This practitioner has 4 type of video session <br> available
    </p>

    <div class="row align-items-center">
        <!-- <div class="col-lg-10  m-auto">
            <p class="book-session__free">Free</p>
        </div>
        <div class="col-lg-10 bg-book m-auto p-3">

            <div class="row">
                <div class="col-lg-4 px-2">
                    <div class="d-flex align-items-center">
                        <img class="book-session__img mr-2" src="../../../../assets/images/block_profile_pic.png">
                        <div>
                            <p class="book-session__user-name mb-2">Dr. Ronald Richards</p>
                            <p class="book-session__user-des mb-2">Health Coach, Therapist</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 px-2">
                    <p class="book-session__head mb-2">Time</p>
                    <p class="book-session__detail mb-2">30 min</p>
                </div>

                <div class="col-lg-2 px-2">
                    <p class="book-session__head mb-2"> Price</p>
                    <p class="book-session__detail mb-2">Free</p>
                </div>

                <div class="col-lg-3 px-2">
                    <p class="book-session__head mb-2">Session Title</p>
                    <p class="book-session__detail mb-2">Truncated title her...</p>
                </div>
            </div>
        </div>
        <div class="col-lg-1 p-0"></div> -->

        <div class="col-lg-10  m-auto py-4">
            <p class="book-session__free">Others</p>
        </div>
        <div class="col-lg-10 bg-book ml-auto mr-auto mb-3 p-3" [ngClass]="{'sel-bg-book':!!selectedSession && selectedSession.id==otherSession.id}" *ngFor="let otherSession of sessiontTypeDetails.others, let i = index;">

            <div class="row" (click)="bindSelectedSession(otherSession)" >
                <div class="col-lg-4 col-md-4 col-sm-12 px-2">
                    <div class="d-flex align-items-center">
                        <img class="book-session__img mr-2" src="../../../../assets/images/block_profile_pic.png">
                        <div>
                            <p class="book-session__user-name mb-2">Dr. {{otherSession.practitioner__name}} </p>
                            <p class="book-session__user-des mb-2">{{otherSession.practitioner__expertise.join(', ')}}</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6 col-6 px-2">
                    <p class="book-session__head mb-2">Time</p>
                    <p class="book-session__detail mb-2">{{getTime(otherSession.duration_min)}}</p>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6 col-6 px-2">
                    <p class="book-session__head mb-2"> Price</p>
                    <p class="book-session__detail mb-2">{{otherSession.price>0 ? '$'+otherSession.price : 'Free'}}</p>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-12 px-2">
                    <p class="book-session__head mb-2">Session Title</p>
                    <p class="book-session__detail mb-2">{{otherSession.title}}</p>
                </div>
            </div>
        </div>

        <!-- <div class="col-lg-1 p-0">
            <div class="form-check">
                <label>
                    <input type="checkbox"> <span class="label-text card-text"></span>
                </label>
            </div>
        </div> -->
    </div>
    <div class="col-lg-12 class-group text-center pt-3">
        <button type="submit" class="modal-button m-auto" (click)="submitSession(1,!!selectedSession)" [ngClass]="{'highlighted-btn': !!selectedSession}">Fill up details →</button>

        <!-- <button type="submit" class="modal-cancel ml-auto mr-auto mt-4">Cancel</button> -->
    </div>

</div>

<!-- step 2 -->
<div class="container top-space-tb" *ngIf="step==2">
    <div class="col-lg-10   ml-auto mr-auto mb-3 p-3">
        <p class="book-session__des">
            Step 2 of 3
        </p>
        <h5 class="book-session__heading">Describe your concern... </h5>
        <p class="book-session__des">
            Please complete the fields below to schedule your video session.
        </p>
        <div class="col-lg-12 border-form-grey py-2">&nbsp;</div>
    </div>
    <div class="col-lg-10   ml-auto mr-auto mb-3 p-3">
        <div class="row">
            <div class="col-lg-5">
                <p class="book-session__label mb-4">Video session with</p>

                <div class="d-flex align-items-center">
                    <img class="book-session__img mr-2" src="../../../../assets/images/block_profile_pic.png">
                    <div>
                        <p class="book-session__user-name mb-2">Dr. {{selectedSession.practitioner__name}}</p>
                        <p class="book-session__user-des mb-2">{{selectedSession.practitioner__expertise.join(', ')}}</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <p class="book-session__label">Session type</p>

                <p class="book-session__user-name mb-2">{{getTime(selectedSession.duration_min)}}</p>
                <p class="book-session__user-des mb-2">Video call using healplace.com</p>
            </div>

            <div class="col-lg-2">
                <p class="book-session__label">Details</p>

                <p class="book-session__user-name mb-2">{{selectedSession.price>0 ? '$'+selectedSession.price : 'Free'}}</p>
                <p class="book-session__user-des mb-2">{{getTime(selectedSession.duration_min)}}</p>
            </div>
        </div>


    </div>

    <div class="col-lg-10   ml-auto mr-auto mb-3 py-3 px-0">
        <form name="step2Form" spellcheck="false" autocomplete="off" (ngSubmit)="submitSession(2,step2Form.valid)"
            #step2Form="ngForm">
            <div class="col-lg-12 class-group">
                <label class="book-session__label">Add short session title here*</label>
                <input type="text" [(ngModel)]="sessionForm.title"
                    [ngClass]="{' show-error ' :step2Form.submitted && title.invalid}" class="modal-input" #title="ngModel"
                    name="title" required>
            </div>
        
            <div class="col-lg-12 class-group">
                <label class="book-session__label">Add short description here (optional)</label>
                <textarea class="modal-textarea" [(ngModel)]="sessionForm.description" class="modal-input"
                    #description="ngModel" name="description"> </textarea>
            </div>
        
            <div class="col-lg-12 class-group text-center pt-3">
                <button type="submit" class="modal-button m-auto" [ngClass]="{'highlighted-btn': step2Form.valid}">Pick date and
                    hour →</button>
        
                <button type="button" (click)="step=1" class="modal-cancel ml-auto mr-auto mt-4">Back</button>
            </div>
        </form>
    </div>
</div>

<!-- step 3 -->
<div class="container top-space-tb" *ngIf="step==3">
    <div class="col-lg-10 ml-auto mr-auto mb-3 p-3">
        <p class="book-session__des">
            Step 3 of 3
        </p>
        <h5 class="book-session__heading">Select Day </h5>
    </div>
    <div class="col-lg-6 ml-auto mr-auto mb-3 p-3 ">
        <bs-datepicker-inline style="text-align: center; width: auto;" [minDate]="minDate" [(bsValue)]="calenderDate"
            [bsConfig]="{containerClass:'theme-blue', showWeekNumbers:false}" (bsValueChange)="onValueChange($event)">
        </bs-datepicker-inline>
        <div class="col-lg-10 ml-auto mr-auto mb-3 p-3">
            <p class="book-session__small-des pt-5">  Choose time
                slot
            </p>

            <p class="book-session__des">
                Your Timezone
            </p>
        </div>
    
        <div class="row ">
            <div class="col-md-4" *ngFor="let timeslot of timeslotPractitioner, let i = index;">
                <button type="button" class=" " (click)="timeslotPractitionerSelect(timeslot)"
                    [disabled]="timeslot.is_from_appointment" class="time-zoon btn-rounded vertical-center slot-disable"
                    [class.highlightTime]="selectionTimeslot?.start_time__time==timeslot.start_time__time">
                    {{getAvailabilityTime(timeslot.start_time__time)}} - {{getAvailabilityTime(timeslot.end_time__time)}}
                </button>
            </div>
            <div *ngIf="!timeslotPractitioner || timeslotPractitioner.length === 0"
                class="col-lg-12 col-md-12 d-flex justify-content-center align-items-center">
                <p class="no-data ">Data Not Available</p>
            </div>
        </div>
    
        <div class="col-lg-12 class-group text-center pt-3">
            <button type="submit" class="modal-button m-auto" (click)="submitSession(3,true)"
                [disabled]="(selectionTimeslot | json) === '{}'"
                [ngClass]="{'highlighted-btn':(selectionTimeslot | json) != '{}'}">Confirm date and hour →</button>
    
            <button type="button" (click)="step=2" class="modal-cancel ml-auto mr-auto mt-4">Back</button>
        </div>
    
    </div>
</div>

<!-- step 4 -->
<div class="container top-space-tb" *ngIf="step==4">
    <div class="col-lg-10   ml-auto mr-auto mb-3 p-3">
        <h5 class="book-session__heading">Confirm Booking </h5>
        <p class="book-session__des">
            Please confirm the details below to schedule your video session.
        </p>
    </div>


    <div class="col-lg-6 ml-auto mr-auto mb-3 p-3 card-box-grey">
        <div>
            <p class="book-session__label mb-4 text-center">Video session with</p>

            <div class="d-flex align-items-center justify-content-center">
                <img class="book-session__img mr-2" src="../../../../assets/images/block_profile_pic.png">
                <div>
                    <p class="book-session__user-name mb-2">Dr. {{selectedSession.practitioner__name}}</p>
                    <p class="book-session__user-des mb-2">{{selectedSession.practitioner__expertise.join(', ')}}</p>
                </div>
            </div>

            <div class="col-lg-12 border-form-grey mt-3 mb-0">&nbsp;</div>

            <p class="book-session__label mb-3 text-center">Session details</p>

            <div class="col-lg-8 ml-auto mr-auto mb-3 p-3">
                <div class="row">
                    <div class="col-lg-6">
                        <p class="book-session__label">Date</p>

                        <p class="book-session__user-name mb-2">{{bsValue | date}}</p>
                    </div>

                    <div class="col-lg-6">
                        <p class="book-session__label">Time</p>

                        <p class="book-session__user-name mb-2">{{getAvailabilityTime(selectionTimeslot.start_time__time)}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 ml-auto mr-auto mb-3 p-3">&nbsp;</div>

            <p class="book-session__label mb-3 text-center">Session price</p>

            <div class="col-lg-6 text-center m-auto">

                <p class="book-session__user-name mb-2 text-center">{{selectedSession.price>0 ? '$'+selectedSession.price : 'Free'}}</p>
            </div>



        </div>
    </div>
    <div class="col-lg-6 ml-auto mr-auto mb-3 p-3 card-box-grey">

        <div class="card-bg mb-4">
            <p class="card-text pb-5"> Choose Payment Method </p>
            <div class="d-flex justify-content-between">

                <div class="form-check">
                    <label>
                        <input type="checkbox" name="paymentCheckbox" (click)="selectPaymentType(payment_types.CreditCard)" [checked]="payment_type === payment_types.CreditCard"> <span class="label-text card-text">Credit card</span>
                    </label>
                </div>
                <!-- <div class="form-check">
                    <label>
                        <input type="checkbox" name="paymentCheckbox" (click)="selectPaymentType(payment_types.Paypal)" [checked]="payment_type === payment_types.Paypal"> <span class="label-text card-text">Paypal</span>
                    </label>
                </div>

                <div class="form-check">
                    <label>
                        <input type="checkbox" name="paymentCheckbox" [checked]="payment_type === payment_types.Other" (click)="selectPaymentType(payment_types.Other)"> <span class="label-text card-text">Other</span>
                    </label>
                </div> -->

            </div>
        </div>
    </div>


    <div class="col-lg-12 class-group text-center pt-3">
        <button type="submit" class="modal-button m-auto" (click)="submitSession(4,payment_type != payment_types.None)" [ngClass]="{'highlighted-btn': payment_type != payment_types.None}">Confirm Booking →</button>

        <button type="button" (click)="step=3" class="modal-cancel ml-auto mr-auto mt-4">Back</button>
    </div>


</div>

<!-- step 5 -->
<div class="container top-space-tb" *ngIf="step==5">
    <div class="col-lg-10   ml-auto mr-auto mb-3 p-3">
        <h5 class="book-session__heading">Credit Card Details </h5>
        <p class="book-session__des">
            Please complete the fields below to confirm the payment
        </p>
        <div class="col-lg-12 border-form-grey mt-3 mb-0">&nbsp;</div>
    </div>


     
    <form name="step4Form" spellcheck="false" autocomplete="off" (ngSubmit)="submitSession(5,step4Form.valid)" #step4Form="ngForm">
        <div class="col-lg-6 ml-auto mr-auto mb-3 p-3 ">
            <app-card-form  #validateChildComponentForm  (isChildFormValid)="isChildFormValid($event)" [joinClass]="joinClass"></app-card-form>
             
        </div>
    
        <div class="col-lg-12 class-group text-center pt-3">
            <button type="submit" class="modal-button m-auto" [ngClass]="{'highlighted-btn':step4Form.submitted && step4Form.valid && childFormValidCheck}">Confirm Payment →</button>
            <button type="button" (click)="step=4" class="modal-cancel ml-auto mr-auto mt-4">Back</button>
        </div>
    </form>
</div>

<!-- step 6 -->
<div class="container top-space-tb" *ngIf="step==6">
    <div class="col-lg-10   ml-auto mr-auto mb-3 p-3">
        <h5 class="book-session__heading">We’ve received your <br>
            booking request </h5>
        <p class="book-session__des">
            Once the practitioner confirms the booking, you will receive a <br> confirmation email.
        </p>

        <p class="book-session__small-des pt-5">Session details and status</p>
    </div>


    <div class="row align-items-center">
        <div class="col-lg-10  m-auto">
        </div>
        <div class="col-lg-10 bg-book-white m-auto p-3">

            <div class="row">
                <div class="col-lg-4 px-2">
                    <div class="d-flex align-items-center">
                        <img class="book-session__img mr-2" src="../../../../assets/images/block_profile_pic.png">
                        <div>
                            <p class="book-session__user-name mb-2">Dr. {{selectedSession.practitioner__name}}</p>
                            <p class="book-session__user-des mb-2">{{selectedSession.practitioner__expertise.join(', ')}}</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 px-2">
                    <p class="book-session__user-name mb-2">{{selectedSession.price>0 ? '$'+selectedSession.price : 'Free'}}</p>
                    <p class="book-session__detail mb-2">{{getTime(selectedSession.duration_min)}}</p>
                </div>

                <div class="col-lg-2 px-2">
                    <p class="book-session__user-name mb-2"> {{bsValue | date :'d MMMM'}}</p>
                    <p class="book-session__detail mb-2">{{getAvailabilityTime(selectionTimeslot.start_time__time)}}</p>
                </div>

                <div class="col-lg-3 px-2">
                   <button class="pending-button">Pending</button>
                </div>
            </div>
        </div>

        <div class="col-lg-10 ml-auto mr-auto py-5">
            <p class="book-session__last-des">Please check your email within the next 24 hours for confirmation of <br> your booking.</p>
        </div>
    </div>
    <div class="col-lg-12 class-group text-center pt-3" *ngIf="!logedinData?.is_subscribed">
        <button type="button" [routerLink]="['/home']" class="heal-btn__primary mr-2 cp m-auto">Back to website →</button>
    </div>
    <div class="col-lg-12 class-group text-center pt-3"  *ngIf="logedinData?.is_subscribed">
        <button type="button" [routerLink]="['/welcome-customer']" class="heal-btn__primary mr-2 cp m-auto">Back to website →</button>
    </div>
</div>
