.top-space-tb {
    padding-top   : 50px;
    padding-bottom: 50px;
}

.book-session {
    &__heading {
        font-family: 'healspace font';
        font-style : normal;
        font-weight: normal;
        font-size  : 40px;
        line-height: 45px;
        text-align : center;
        color      : #074D63;
    }

    &__des {
        font-family  : 'FFMarkWebProBook';
        font-style   : normal;
        font-weight  : normal;
        font-size    : 16px;
        line-height  : 20px;
        text-align   : center;
        color        : #074D63;
        margin-bottom: 25px;

    }

    &__small-des {
        font-family  : 'healspace font';
        margin-bottom: 25px;
        font-style   : normal;
        font-weight  : normal;
        font-size    : 24px;
        line-height  : 30px;
        /* identical to box height, or 125% */

        text-align: center;

        /* Secondary */

        color: #074D63;

    }

    &__free {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 16px;
        line-height: 20px;
        /* identical to box height, or 125% */


        /* Background - dark */

        color: #6D6D6D;

    }

    &__img {
        width        : 40px;
        height       : 40px;
        border-radius: 50%;
    }

    &__user-name {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 16px;
        line-height: 20px;
        /* identical to box height, or 125% */


        /* Primary */

        color: #00BAD5;
    }

    &__last-des {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 12px;
        line-height: 16px;
        /* or 133% */

        text-align: center;

        /* Secondary */

        color: #074D63;
    }

    &__user-des {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 14px;
        line-height: 18px;
        /* identical to box height, or 129% */


        /* Secondary */

        color: #074D63;
    }

    &__head {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 14px;
        line-height: 18px;
        /* identical to box height, or 129% */


        /* Background - dark */

        color: #6D6D6D;
    }

    &__detail {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 16px;
        line-height: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        /* identical to box height, or 125% */


        /* Secondary */

        color: #074D63;
    }

    &__label {
        /* Paragraph - Regular */

        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 14px;
        line-height: 18px;
        /* identical to box height, or 129% */


        /* Secondary */

        color: #074D63;
    }
}

.bg-book-white {
    background   : #FFFFFF;
    box-shadow   : 0px 15px 30px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    cursor       : pointer;

}

.bg-book {
    background   : #FAFAFA;
    border-radius: 20px;
    cursor       : pointer;

    
}

.sel-bg-book {
    background: #074D63;

    .book-session {
        &__user-name {
            color: #fff
        }


        &__user-des {
            color: #fff;
        }

        &__head {
            color: #fff;
        }

        &__detail {
            color: #fff;
        }
    }

}

.modal-button {
    font-family  : 'FFMarkWebProBook';
    color        : #074D63;
    background   : #FFFFFF;
    // box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.15);
    border       : 1px solid #074D63;

    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    padding        : 20px 40px;
    border-radius  : 20px;
    font-size      : 16px;
    line-height    : 20px;
    font-weight    : bold;

    // &:hover {
    //     background: #FBD036;
    //     border    : 1px solid #FBD036;
    // }

}

.highlighted-btn {
    background: #FBD036 !important;
    border    : 1px solid #FBD036 !important;
}

.pending-button {
    font-family  : 'FFMarkWebProBook';
    color        : #074D63;
    background   : #FCD7D7;
    border-radius: 20px;

    // box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.15);
    border: 1px solid #FCD7D7;

    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    padding        : 14px 40px;

    font-style : normal;
    font-weight: bold;
    font-size  : 14px;
    line-height: 18px;
    /* identical to box height, or 129% */


    /* Secondary */

    color: #074D63;


    &:hover {
        background: #FBD036;
        border    : 1px solid #FBD036;
    }

}

.modal-cancel {
    font-family  : 'FFMarkWebProBook';
    background   : #FFFFFF;
    // box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.15);
    border       : 1px solid #FFFFFF;

    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    padding        : 20px 40px;
    border-radius  : 20px;
    font-size      : 16px;
    line-height    : 20px;
    font-weight    : bold;


    text-align: center;

    /* Background - dark */

    color: #6D6D6D;


}

.border-form-grey {
    border-top: 1px solid #6D6D6D;
    opacity   : 0.1;
}

.modal-input {
    width           : 100%;
    background      : #FAFAFA;
    border-radius   : 20px;
    height          : 60px;
    border          : 1px solid #FAFAFA;
    // box-shadow   : 0px 30px 50px rgb(0 0 0 / 6%);
    font-weight     : bold;
    font-size       : 14px;
    line-height     : 18px;
    color           : #074D63;
    padding         : 6px 24px;
}

.modal-textarea {
    width           : 100%;
    background      : #FAFAFA;
    border-radius   : 20px;
    height          : 140px;
    border          : 1px solid #FAFAFA;
    // box-shadow   : 0px 30px 50px rgb(0 0 0 / 6%);
    font-weight     : bold;
    font-size       : 14px;
    line-height     : 18px;
    color           : #074D63;
    padding         : 6px 24px;
}
 
.class-group {
    margin-bottom: 25px;
}

.card-box-grey {
    background   : #FAFAFA;
    border-radius: 40px;
    padding      : 40px !important;
}

.card-bg {
    background   : #FAFAFA;
    border-radius: 20px;
    padding      : 40px;
}

.modal-label {
    font-family: 'FFMarkWebProBook';
    font-style : normal;
    font-weight: normal;
    font-size  : 16px;
    line-height: 20px;
    /* identical to box height, or 125% */


    /* Secondary */

    color: #074D63;

}

.card-text {
    font-family: 'FFMarkWebProBook';
    font-style : normal;
    font-weight: bold;
    font-size  : 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    text-align: center;

    /* Secondary */

    color: #074D63;
}

.time-zoon{
    background: #FAFAFA;
border-radius: 40px;
font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */

text-align: center;

padding: 10px 14px;
border: 1px solid #fafafa;
margin:5px;
/* Secondary */

color: #074D63;
&:hover, &.active {
    background: #00BAD5;
box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.04);
border-radius: 40px;
color: #fff;
}
}