<!-- <app-public-navbar></app-public-navbar> -->
<app-auth-navbar></app-auth-navbar>
<div class="auth-sidebar">
    <app-auth-sidebar></app-auth-sidebar>
</div>
<div  class="container">
    <div class="row">
        <div class="col-md-12">
            <h6 class="text-center"><strong>HEALPLACE TERMS AND CONDITIONS</strong></h6>
            <h4 class="text-center mt-4 mb-4"><strong>General</strong></h4>
            <p class="text-muted text-justify">
                This website (the “Site”) is owned and operated by Healplace LLC d/b/a Healplace (“Healplace” “we” or “us”). By using the Site, you agree to be bound by these Terms of Service and to use the Site in accordance with these Terms of Service, our Privacy Policy, our Refund Policy, and any additional terms and conditions that may apply to specific sections of the Site or to products and services available through the Site or from Healplace. Accessing the Site, in any manner, whether automated or otherwise, constitutes use of the Site and your agreement to be bound by these Terms of Service. Healplace reserves the right to change these Terms as needed to operate, in which case we will post the revised Terms of Service on this website. By continuing to use the Site after we post any such changes, you accept the modified Terms of Service.
            </p>

            <h4 class="text-center mt-4 mb-4"><strong>Intellectual Property Rights</strong></h4>
            <p class="text-muted text-justify">
                <u><b>Healplace's limited license to you.</b></u> This Site and all the materials available on the Site are the property of us and/or our affiliates or licensors, and are protected by copyright, trademark, and other intellectual property laws. The Site is provided solely for your personal noncommercial use. You may not use the Site or the materials available on the Site in a manner that constitutes an infringement of our rights or that has not been authorized by Healplace. More specifically, unless explicitly authorized in these Terms of Service or by the owner of the materials, you may not modify, copy, reproduce, republish, upload, post, transmit, translate, sell, create derivative works, exploit, or distribute in any manner or medium (including by email or other electronic means) any material from the Site. The Site is copyrighted effectively from its date of publishing, February 2020. You may download, save and/or print content or pages of the Site or our personal social media pages such as Instagram content, Facebook content, etc. for your personal, noncommercial use, provided that you keep intact all copyright and other proprietary notices, and give credit where possible to its original source, as Healplace.
                <br><br>
                <u><b>Your License to Us.</b></u> By posting or submitting any material (including, without limitation, comments, blog entries, social media content including but not limited to Facebook postings, Instagram posts, photos, and videos) to us via the Site, internet groups, social media venues, or to any Healplace staff or representatives via email, text or otherwise, you are representing: (i) that you are the owner of the material, or are making your posting or submission with the express consent of the owner of the material; and (ii) that you are thirteen years of age or older. In addition, when you submit, email, text or deliver or post any material, you are granting us, and anyone authorized by us, a royalty-free, perpetual, irrevocable, non-exclusive, unrestricted, worldwide license to use, copy, modify, transmit, sell, exploit, create derivative works from, distribute, and/or publicly perform or display such material, in whole or in part, in any manner or medium, now known or hereafter developed, for any purpose. The foregoing grant shall include the right to exploit any proprietary rights in such posting or submission, including, but not limited to, rights under copyright, trademark, service mark, or patent laws under any relevant jurisdiction. Also, in connection with the exercise of such rights, you grant us, and anyone authorized by us, the right to identify you as the author of any of your postings or submissions by name, email address, or screen name, as we deem appropriate.
                <br><br>
                You acknowledge and agree that any contributions originally created by you for us shall be deemed a “work made for hire” when the work performed is within the scope of the definition of a work made for hire in Section 101 of the United States Copyright Law, as amended. As such, the copyrights in those works shall belong to Healplace from their creation. Thus, Healplace shall be deemed the author and exclusive owner thereof and shall have the right to any or all of the results and proceeds in any and all media, now known or hereafter devised, throughout the universe, in perpetuity, in all languages, as Healplace determines fit. In the event that any of the results and proceeds of your submissions hereunder are not deemed a “work made for hire” under Section 101 of the Copyright Act, as amended, you hereby, without additional compensation, irrevocably assign, convey and transfer to Healplace all proprietary rights, including without limitation, all copyrights, and trademarks throughout the universe, in perpetuity in every medium, whether now known or hereafter devised, to such material and any and all right, title and interest in and to all such proprietary rights in every medium, whether now known or hereafter devised, throughout the universe, in perpetuity. Any posted material that are reproductions of prior works by you shall be co-owned by us.
                <br><br>
                You acknowledge that Healplace has the right but not the obligation to use and display any postings, testimonials, or contributions of any kind and that Healplace may elect to cease the use and display of any such materials (or any portion thereof), at any time for any reason whatsoever.
                <br><br>
                <u><b>Limitations on Linking and Framing.</b></u> You may establish a hypertext link to the Site so long as the link does not state or imply any sponsorship of your site by us or by the Site. However, you may not, without Healplace's prior written permission (digital is permitted), frame or inline link any of the content of the Site, or incorporate into another website or other service any of our material, content, or intellectual property.
                <br><br>
                If any clause within this Provision (other than the Class Action Waiver clause above) is found to be illegal or unenforceable, that clause will be severed from this Provision, and the remainder of this Provision will be given full force and effect. If the Class Action Waiver clause is found to be illegal or unenforceable, this entire Provision will be unenforceable and the dispute will be decided by a court
            </p>
            <h4 class="text-center mt-4 mb-4"><strong>Disclaimers</strong></h4>
            <p class="text-muted text-justify">
                THE INFORMATION, PRODUCTS, AND SERVICES OFFERED ON OR THROUGH THE SITE AND BY HEALPLACE AND ANY THIRD-PARTY SITES ARE PROVIDED “AS IS” AND WITHOUT WARRANTIES OF ANY KIND EITHER EXPRESS OR IMPLIED. TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW, WE DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. WE DO NOT WARRANT THAT THE SITE OR ANY OF ITS FUNCTIONS WILL BE UNINTERRUPTED OR ERROR-FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT ANY PART OF THIS SITE, INCLUDING BULLETIN BOARDS, OR THE SERVERS THAT MAKE IT AVAILABLE, ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. 
                <br><br>
                WE DO NOT WARRANT OR MAKE ANY REPRESENTATIONS REGARDING THE USE OR THE RESULTS OF THE USE OF THE SITE OR MATERIALS ON THIS SITE OR ON THIRD- PARTY SITES IN TERMS OF THEIR CORRECTNESS, ACCURACY, TIMELINESS, RELIABILITY, OR OTHERWISE.
                <br><br>
                You agree at all times to defend, indemnify and hold harmless Healplace its affiliates, their successors, transferees, assignees and licensees, and their respective parent and subsidiary companies, agents, associates, officers, directors, shareholders, and employees of each from and against any and all claims, causes of action, damages, liabilities, costs, and expenses, including legal fees and expenses, arising out of or related to your breach of any obligation, warranty, representation or covenant set forth herein.
            </p>

            <h4 class="text-center mt-4 mb-4"><strong>Online Commerce</strong></h4>
            <p class="text-muted text-justify">
                Certain sections of the Site may allow you to purchase many different types of products and services online that are provided by third parties. We are not responsible for the quality, accuracy, timeliness, reliability, or any other aspect of these products and services. If you make a purchase from a merchant on the Site or on a site linked to by the Site, the information obtained during your visit to that merchant’s online store or site, and the information that you give as part of the transaction, such as your credit card number and contact information, may be collected by both the merchant and us. A merchant may have privacy and data collection practices that are different from ours. We have no responsibility or liability for these independent policies. In addition, when you purchase products or services on or through the Site, you may be subject to additional terms and conditions that specifically apply to your purchase or use of such products or services. For more information regarding a merchant, its online store, its privacy policies, and/or any additional terms and conditions that may apply, visit that merchant’s website and click on its information links or contact the merchant directly. You release us and our affiliates from any damages that you incur and agree not to assert any claims against us or them, arising from your purchase or use of any products or services made available by third parties through the Site.
                <br><br>
                Your participation, correspondence, or business dealings with any third party found on or through our Site, regarding payment and delivery of specific goods and services, and any other terms, conditions, representations, or warranties associated with such dealings, are solely between you and such third party. You agree that Healplace shall not be responsible or liable for any loss, damage, or other matters of any sort incurred as the result of such dealings.
                <br><br>
                You agree to be financially responsible for all purchases made by you or someone acting on your behalf through the Site. You agree to use the Site and to purchase services or products through the Site for legitimate, non-commercial purposes only. You also agree not to make any purchases for speculative, false, or fraudulent purposes or for the purpose of anticipating demand for a particular product or service. You agree to only purchase goods or services for yourself or for another person for whom you are legally permitted to do so. When making a purchase for a third party that requires you to submit the third party’s personal information to us or a merchant, you represent that you have obtained the express consent of such third party to provide such third party’s personal information.
            </p>

            <h4 class="text-center mt-4 mb-4"><strong>Interactive Features</strong></h4>
            <p class="text-muted text-justify">
                This Site may include a variety of features, such as bulletin boards, blogs, weblogs, chat function, and email services, which allow feedback to us and real-time interaction between users, and other features that allow users to communicate with others. Responsibility for what is posted on bulletin boards, blogs, weblogs, chat function, and other public posting areas on the Site, or sent via any email services on the Site, lies with each user – you alone are responsible for the material you post or send. We do not control the messages, information, or files that you or others may provide through the Site. It is a condition of your use of the Site that you do not: Restrict or inhibit any other user from using and enjoying the Site. Use the Site to impersonate any person or entity, or falsely state or otherwise misrepresent your affiliation with a person or entity. Interfere with or disrupt any servers or networks used to provide the Site or its features, or disobey any requirements, procedures, policies, or regulations of the networks we use to provide the Site. Use the Site to instigate or encourage others to commit illegal activities or cause injury or property damage to any person. Gain unauthorized access to the Site, or any account, computer system, or network connected to this Site, by means such as hacking, password mining, or other illicit means. Obtain or attempt to obtain any materials or information through any means not intentionally made available through this Site. Use the Site to post or transmit any unlawful, threatening, abusive, libelous, defamatory, obscene, vulgar, pornographic, profane, or indecent information of any kind, including without limitation any transmissions constituting or encouraging conduct that would constitute a criminal offense, give rise to civil liability or otherwise violate any local, state, national or international law. Use the Site to post or transmit any information, software, or other material that violates or infringes upon the rights of others, including material that is an invasion of privacy or publicity rights or that is protected by copyright, trademark, or other proprietary rights, or derivative works with respect thereto, without first obtaining permission from the owner or rights holder. Use the Site to post or transmit any information, software, or other material that contains a virus or other harmful component. Use the Site to post, transmit, or in any way exploit any information, software, or other material for commercial purposes, or that contains advertising. Use the Site to advertise or solicit anyone to buy or sell products or services, or to make donations of any kind, without our express written approval. Gather for marketing purposes any email addresses or other personal information that has been posted by other users of the Site. Healplace may host message boards, chats, and other private/public forums on its Sites and on other platforms. Any user failing to comply with the terms and conditions of this Agreement may be expelled from and refused continued access to, the message boards, groups, chats, or other such forums in the future. Healplace or its designated agents may remove or alter any user-created content at any time for any reason. Blogs, chats, and other public forums are intended to serve as discussion centers for users and subscribers. Information and content posted within these public forums may be provided by Healplace staff or representatives or by users not connected with Healplace, some of whom may employ anonymous usernames. Healplace expressly disclaims all responsibility and endorsement and makes no representation as to the validity of any opinion, advice, information or statement made or displayed in these forums by third parties, nor are we responsible for any errors or omissions in such postings, or for hyperlinks embedded in any messages. Under no circumstances will we, our affiliates, suppliers, or agents be liable for any loss or damage caused by your reliance on information obtained through these forums. The opinions expressed in these forums are solely the opinions of the participants and do not reflect the opinions of Healplace or any of its subsidiaries or affiliates. Healplace has no obligation whatsoever to monitor any of the content or postings on the message boards, chat rooms, or other public forums on the Sites. However, you acknowledge and agree that we have the absolute right to monitor the same at our sole discretion. In addition, we reserve the right to alter, edit, refuse to post, or remove any postings or content, in whole or in part, for any reason and to disclose such materials and the circumstances surrounding their transmission to any third party in order to satisfy any applicable law, regulation, legal process or governmental request and to protect ourselves, our clients, sponsors, users, and visitors.
            </p>

            <h4 class="text-center mt-4 mb-4"><strong>Registration</strong></h4>
            <p class="text-muted text-justify">
                To access certain features of the Site, we may ask you to provide certain demographic information including your gender, year of birth, zip code and country. In addition, if you elect to sign-up for a particular feature of the Site, such as chat rooms, web logs, or bulletin boards, you may also be asked to register with us on the form provided and such registration may require you to provide personally identifiable information such as your name and email address. You agree to provide true, accurate, current and complete information about yourself as prompted by the Site’s registration form. If we have reasonable grounds to suspect that such information is untrue, inaccurate, or incomplete, we have the right to suspend or terminate your account and refuse any and all current or future use of the Site (or any portion thereof). Our use of any personally identifiable information you provide to us as part of the registration process is governed by the terms of our Privacy Policy.
            </p>

            <h4 class="text-center mt-4 mb-4"><strong>Passwords</strong></h4>
            <p class="text-muted text-justify">
                To use certain features of the Site, you will need a username and password, which you will receive through the Site’s registration process. You are responsible for maintaining the confidentiality of the password and account and are responsible for all activities (whether by you or by others) that occur under your password or account. You agree to notify us immediately of any unauthorized use of your password or account or any other breach of security, and to ensure that you exit from your account at the end of each session. We cannot and will not be liable for any loss or damage arising from your failure to protect your password or account information.
            </p>

            <h4 class="text-center mt-4 mb-4"><strong>Limitation of Liability</strong></h4>
            <p class="text-muted text-justify">
                UNDER NO CIRCUMSTANCES, INCLUDING, BUT NOT LIMITED TO, NEGLIGENCE, SHALL WE, OUR SUBSIDIARY AND PARENT COMPANIES OR AFFILIATES BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES THAT RESULT FROM THE USE OF, OR THE INABILITY TO USE, THE SITE, INCLUDING OUR MESSAGING, BLOGS, COMMENTS OF OTHERS, BOOKS, EMAILS, PRODUCTS, OR SERVICES, OR THIRD-PARTY MATERIALS, PRODUCTS, OR SERVICES MADE AVAILABLE THROUGH THE SITE OR BY US IN ANY WAY, EVEN IF WE ARE ADVISED BEFOREHAND OF THE POSSIBILITY OF SUCH DAMAGES. (BECAUSE SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF CERTAIN CATEGORIES OF DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU. IN SUCH STATES, OUR LIABILITY AND THE LIABILITY OF OUR SUBSIDIARY AND PARENT COMPANIES OR AFFILIATES IS LIMITED TO THE FULLEST EXTENT PERMITTED BY SUCH STATE LAW.) YOU SPECIFICALLY ACKNOWLEDGE AND AGREE THAT WE ARE NOT LIABLE FOR ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF ANY USER. IF YOU ARE DISSATISFIED WITH THE SITE, ANY MATERIALS, PRODUCTS, OR SERVICES ON THE SITE, OR WITH ANY OF THE SITE’S TERMS AND CONDITIONS, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING THE SITE AND THE PRODUCTS, SERVICES, AND/OR MATERIALS.
                <br><br>
                THIS SITE IS CONTINUALLY UNDER DEVELOPMENT AND HEALPLACE MAKES NO WARRANTY OF ANY KIND, IMPLIED OR EXPRESS, AS TO ITS ACCURACY, COMPLETENESS, OR APPROPRIATENESS FOR ANY PURPOSE.
            </p>

            <h4 class="text-center mt-4 mb-4"><strong>WITH REGARDS TO CONTENT RELATING TO HEALTH & WELLNESS ON THE SITE:</strong></h4>
            <p class="text-muted text-justify">
                THIS SITE OFFERS HEALTH, WELLNESS, FITNESS, AND NUTRITIONAL INFORMATION AND IS DESIGNED FOR EDUCATIONAL PURPOSES ONLY. YOU SHOULD NOT RELY ON THIS INFORMATION AS A SUBSTITUTE FOR, NOR DOES IT REPLACE PROFESSIONAL MEDICAL ADVICE, DIAGNOSIS, OR TREATMENT. IF YOU HAVE ANY CONCERNS OR QUESTIONS ABOUT YOUR HEALTH, YOU SHOULD ALWAYS CONSULT WITH A PHYSICIAN OR OTHER HEALTHCARE PROFESSIONAL. DO NOT DISREGARD, AVOID OR DELAY OBTAINING MEDICAL OR HEALTH-RELATED ADVICE FROM YOUR HEALTHCARE PROFESSIONAL BECAUSE OF SOMETHING YOU MAY HAVE READ ON THIS SITE. THE USE OF ANY INFORMATION PROVIDED ON THIS SITE IS SOLELY AT YOUR OWN RISK.
                <br><br>
                NOTHING STATED OR POSTED ON THIS SITE OR AVAILABLE THROUGH ANY SERVICES ARE INTENDED TO BE, AND MUST NOT BE TAKEN TO BE, THE PRACTICE OF MEDICAL OR COUNSELING CARE. FOR PURPOSES OF THIS AGREEMENT, THE PRACTICE OF MEDICINE AND COUNSELING INCLUDES, WITHOUT LIMITATION, PSYCHIATRY, PSYCHOLOGY, PSYCHOTHERAPY, OR PROVIDING HEALTH CARE TREATMENT, INSTRUCTIONS, DIAGNOSIS, PROGNOSIS, OR ADVICE.
            </p>

            <h4 class="text-center mt-4 mb-4"><strong>Termination</strong></h4>
            <p class="text-muted text-justify">
                We may cancel or terminate your right to use the Site or any part of the Site at any time without notice. In the event of cancellation or termination, you are no longer authorized to access the part of the Site affected by such cancellation or termination. The restrictions imposed on you with respect to material downloaded from the Site, and the disclaimers and limitations of liabilities set forth in these Terms of Service, shall survive.
            </p>

            <h4 class="text-center mt-4 mb-4"><strong>Refund Policy</strong></h4>
            <p class="text-muted text-justify">
                Your purchase of a product or service or ticket to an event may or may not provide any refund. Each specific product, service, event, or course will specify its own refund policy.
            </p>
            
            <h4 class="text-center mt-4 mb-4"><strong>Other</strong></h4>
            <p class="text-muted text-justify">
                The Digital Millennium Copyright Act of 1998 (the “DMCA”) provides recourse for copyright owners who believe that material appearing on the Internet infringes their rights under the U.S. copyright law. If you believe in good faith that materials hosted by Healplace infringe upon your copyright, you or your agent may send to Healplace a notice requesting that the material be removed or access to it be blocked. Any notification by a copyright owner or a person authorized to act on its behalf that fails to comply with requirements of the DMCA shall not be considered sufficient notice and shall not be deemed to confer upon Healplace actual knowledge of facts or circumstances from which infringing material or acts are evident. If you believe in good faith that a notice of copyright infringement has been wrongly filed against you, the DMCA permits you to send to Healplace a counter-notice. All notices and counter-notices must meet the then-current statutory requirements imposed by the DMCA; see http://www.loc.gov/copyright for details. Please email info@healplace.com for further information.
                <br><br>
                This Agreement shall be binding upon and inure to the benefit of Healplace and our respective assigns, successors, heirs, and legal representatives. Neither this Agreement nor any rights hereunder may be assigned without the prior written consent of Healplace. Notwithstanding the foregoing, all rights and obligations under this Agreement may be freely assigned by Healplaceto any affiliated entity or any of its wholly-owned subsidiaries.
            </p>

            <h4 class="text-center mt-4 mb-4"><strong>Dispute Resolution</strong></h4>
            <p class="text-muted text-justify">
                These Terms of Use shall be governed by and construed in accordance with the laws of the State of Florida and any dispute shall be subject to binding arbitration in Miami, Florida. If any provision of this agreement shall be unlawful, void, or for any reason is unenforceable, then that provision shall be deemed severable from this agreement and shall not affect the validity and enforceability of any remaining provisions.
            </p>

            <h4 class="text-center mt-4 mb-4"><strong>Class Action Waiver</strong></h4>
            <p class="text-muted text-justify">
                You may only resolve disputes with us on an individual basis, and may not bring a claim as a plaintiff or a class member in a class, consolidated, or representative action. Class arbitrations, class actions, private attorney general actions, and consolidation with other arbitrations aren’t allowed.
                <br><br>
                The arbitrator may not consolidate more than one person’s claims, and may not otherwise preside over any form of a class or representative proceeding or claims (such as a class action, consolidated action, or private attorney general action) unless all relevant parties specifically agree to do so following initiation of the arbitration.
            </p>

            <h4 class="text-center mt-4 mb-4"><strong>Severability</strong></h4>
            <p class="text-muted text-justify mb-4">
                If any clause within this Provision (other than the Class Action Waiver clause above) is found to be illegal or unenforceable, that clause will be severed from this Provision, and the remainder of this Provision will be given full force and effect. If the Class Action Waiver clause is found to be illegal or unenforceable, this entire Provision will be unenforceable and the dispute will be decided by a court.
            </p>

        </div>
    </div>
</div>
 