.add-new-payment{
    .dropdown-menu.show {
        top: -300px !important;
    }
    .back-btn{
            border: none !important;
            color: #6D6D6D;
            font-size: 14px;
            line-height: 18px;
            background: none !important;
            padding-top: 20px;
    }
    .pick-date{
        padding: 20px 40px;
        border: none;
        color: #074D63;
        background: #FBD036;
        font-weight: 600;
        border-radius: 20px
    }
    .payment-card{
        background: #FFFFFF;
        box-shadow: 0px 15px 30px rgb(0 0 0 / 5%);
        border-radius: 20px;
        // width: 200px;
        // height: 120px;
        text-align: center;
    }
    .title{
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #074D63;
        padding-top: 50px;
        vertical-align: middle;
        display: inline-block;
        padding-left: 20px;
    }
    .sub-title{
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #6D6D6D;
    }
    .plus-symbol{
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 35px;
        text-align: center;
        color: #074D63;
        padding-top: 46px;
    vertical-align: middle;
    display: inline-block;
    }
    .card-full-name{
        // width: 340px;
        // height: 80px;
        background: #F3F3F3;
        border-radius: 20px;
        color: #6D6D6D;
        text-align: center;
        font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
    }
    .card-full-name:focus{
        background: #FFFFFF !important;
        color: #074D63;
        box-shadow: 0px 15px 30px rgb(0 0 0 / 5%);
    }
    .billing-addr{
        width: 340px;
        height: 80px;
        background: #F3F3F3;
        border-radius: 20px;
        color: #6D6D6D;
        text-align: center;
        font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
    }
    .billing-addr:focus{
        background: #FFFFFF !important;
        color: #074D63;
        box-shadow: 0px 15px 30px rgb(0 0 0 / 5%);
    }
    .card-number{
        width: 340px;
        height: 80px;
        color: #6D6D6D;
        border-radius: 20px;
        background: #F3F3F3;
        font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
    }
    .card-number:focus{
        background: #FFFFFF !important;
        color: #074D63;
        box-shadow: 0px 15px 30px rgb(0 0 0 / 5%);
    }
    .city{
        width: 170px;
        height: 80px;
        color: #6D6D6D;
        background: #F3F3F3;
        border-radius: 20px;
        font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
    }
    .city:focus{
        background: #FFFFFF !important;
        color: #074D63;
        box-shadow: 0px 15px 30px rgb(0 0 0 / 5%);
    }
    .ccv-num{
        width: 111px;
        height: 80px;
        color: #6D6D6D;
        background: #F3F3F3;
        border-radius: 20px;
        font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
    }
    .ccv-num:focus{
        background: #FFFFFF !important;
        color: #074D63;
        box-shadow: 0px 15px 30px rgb(0 0 0 / 5%);
    }
    .num-active{
        background: #FFFFFF !important;
        color: #074D63;
        box-shadow: 0px 15px 30px rgb(0 0 0 / 5%);
    }
    .card-num-parts{
        // width: 55px;
        // background: #f3f3f3;
        width: 70px;
        background: #f3f3f3;
        color: #6D6D6D;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
    }

    input:focus::placeholder {
        color: transparent !important;
      }
    .pt-27{
        padding-top: 27px;
    }
    .ml-10{
        margin-left: 10px;
    }
    .num-part-active{
        background: #FFFFFF !important;
        color: #074D63;
    }
    input{
        border: none !important;
        overflow: auto;
        outline: none !important;
        padding: 10px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        text-align: center;
        font-size: 12px;
    }
    .mt-20{
        margin-top: 20px;
    }
    .btn:focus{
        box-shadow: none !important;
    }
}