<div class="header-top-section-bg s-practitioner">
    <div class="container">
        <app-header></app-header>

        <div class="d-flex justify-content-center ">
            <div class="col-lg-12 p-0">
                <p class="article__title pb-5">Articles</p>
                <p class="article__des">Short description for live events to be provided here, <br>
                    maybe expanded on multiple rows.</p>
            </div>
        </div>
        <div class="container p-0 mb-5">
            <div class="row mx-0">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 articles px-2 mb-5"
                    *ngFor="let article of nextFourArticle">
                    <app-articles [id]="article.id" [image]="article.image" [category]="article.category[0]"
                        [firstname]="article.author__first_name" [lastname]="article.author__last_name"
                        [title]="article.title " [description]="article.description"></app-articles>
                </div>
            </div>
        </div>

        <div class="container p-0 mb-5 ">
            <div class="article__heading">
                Browse articles
            </div>


            <ul class="nav nav-tabs p-0" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home" (click)="getAllArticle('latest')">Latest
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#home" (click)="getAllArticle('meditation')">Meditation
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link " data-toggle="tab" href="#home" (click)="getAllArticle('this_month')">This
                        month
                    </a>
                </li> -->
            </ul>
        </div>
        <div class="tab-content">
            <div id="home" class="container p-0 tab-pane active margin-nottom-70"><br>
                <div class="container p-0">
                    <div class="row mx-0 live-class" infinite-scroll (scrolled)="getAllArticle(dataCategory,true)">
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 articles px-2 mb-4"
                            *ngFor="let article of articleList">
                            <app-articles [id]="article.id" [image]="article.image" [category]="article.category[0]"
                                [firstname]="article.author__first_name" [lastname]="article.author__last_name"
                                [title]="article.title " [description]="article.description"></app-articles>
                        </div>
                    </div>
                    <div class="row mx-0" *ngIf="showLoadScreen">
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 col-12 px-2 m-b-20">
                            <div class="article__blank-box"> </div>
                            <div class="article__blank_des">&nbsp;</div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 col-12 px-2 m-b-20 ">
                            <div class="article__blank-box"> </div>
                            <div class="article__blank_des">&nbsp;</div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 col-12 px-2 m-b-20">
                            <div class="article__blank-box"> </div>
                            <div class="article__blank_des">&nbsp;</div>
                        </div>
 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>