.header-top-section-bg {
    padding-bottom     : 100px;
    background-image   : url(../../../assets/images/bg/search-page-bg.svg);
    background-position: center;
    background-size    : cover;
    background-repeat  : no-repeat;
}

.article{
    &__title {
        font-family: "healspace font";
        font-style : normal;
        font-weight: normal;
        font-size  : 48px;
        line-height: 76px;
        text-align : center;
        color      : #074D63;
        flex       : none;
        order      : 0;
        flex-grow  : 0;
        margin     : 8px 0px;
        padding    : 0 !important;
    }

    &__des {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 20px;
        line-height: 32px;
        text-align: center;
        color: #074D63;
        flex          : none;
        order         : 1;
        flex-grow     : 0;
        margin        : 8px 0px;
        padding-bottom: 30px;
    }

    &__heading {
        font-family: "healspace font";
        font-style : normal;
        font-weight: normal;
        font-size  : 40px;
        line-height: 45px;
        color         : #074D63;
        padding-bottom: 30px;
    }

    &__blank-box {
        // position: absolute;
        width   : 356px;
        height  : 263px;
        // left    : 136px;
        // top     : 1941px;

        background   : rgba(109, 109, 109, 0.1);
        border-radius: 17.2419px;
        margin-bottom: 12px;
    }

    &__blank_des {
        display       : flex;
        flex-direction: column;
        align-items   : flex-start;
        padding       : 0px;

        // position: absolute;
        width   : 356px;
        height  : 100px;
        // left    : 136px;
        // top     : 2157px;

        background: rgba(109, 109, 109, 0.1);
    }
}


.nav-tabs {
    border-bottom: 1px solid transparent;
}

.nav {
    display      : flex;
    flex-wrap    : wrap;
    padding-left : 0;
    margin-bottom: 0;
    list-style   : none;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color              : #fff;
    // background-color: #fff;
    border-color       : #00BAD5;

    background   : #00BAD5;
    border-radius: 8px;

}

.nav-tabs .nav-link {
    margin-bottom          : -1px;
    border                 : 1px solid transparent;
    border-top-left-radius : 1.25rem;
    border-top-right-radius: 1.25rem;
}

.nav-tabs>li>a,
.nav-pills>li>a {
    font-weight  : 500;
    background   : #FAFAFA;
    border-radius: 8px;
    margin-right : 12px;

    font-family: 'FFMarkWebProBook';
    font-style : normal;
    font-weight: normal;
    font-size  : 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    text-align: center;

    /* Secondary */

    color: #074D63;


}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}