<div  class="modal-body">
    <div class="modal-padding" *ngIf="step==1">
        <h5 class="join-free__title">Get access to this course <br>
            for just ${{selectedCourse.course_price}}!</h5>

        <p class="join-free__sm-des">This is a premium Course. You will need to create an account<br> in order to purchase and have access to this course.</p>
        <div *ngIf="!authService.isAuthenticated()" class="  col-lg-12">
            <!-- <button type="button" class="modal-button-blue ml-auto mr-auto my-4" (click)="step=2">I have an account <i class="ml-2 fa fa-arrow-right"></i></button> -->

            <button type="button" class="modal-button m-auto" (click)="step=2">Get Course  <i class="ml-2 fa fa-arrow-right"></i></button>
        </div>
        <div class="col-lg-12 class-group text-center" *ngIf="authService.isAuthenticated()">
            <button type="button" class="modal-button m-auto" (click)="step=2">Proceed <i class="ml-2 fa fa-arrow-right"></i></button>
        </div>
    </div>

    <div class="modal-padding" *ngIf="step==2">
        <h5 class="join-free__title ">Purchase Summary</h5>
        <p class="join-free__sm-des text-left">If you choose to purchase this course you will have unlimited <br> access to all these lessons when you login into your account.</p>
        <div class="col-lg-12 border-form-grey">&nbsp;</div>

        <form name="PurchaseCourseForm" spellcheck="false" autocomplete="off"
            (ngSubmit)="submitCourseForm(PurchaseCourseForm )" #PurchaseCourseForm="ngForm">

            <div class="col-lg-12 class-group py-3">
                <div class="join-free__blue d-flex justify-content-between pb-3">
                    <span>{{selectedCourse.course_title}}</span>
                    <span>${{selectedCourse.course_price}}</span>
                </div>
                <div class="join-free__paid pb-2">
                    By {{selectedCourse.practitioner_firstname}} {{selectedCourse.practitioner_lastname}}
                </div>
            </div>
            <div class="col-lg-12 border-form-grey py-2">&nbsp;</div>

            <div class="card-bg mb-4">
                <p class="card-text pb-5"> Choose Payment Method </p>
                <div  class="row justify-content-between">

                    <div class="form-check">
                        <label>
                            <input type="checkbox" name="paymentCheckbox" [checked]="payment_type" (change)="selectPaymentType(payment_types.CreditCard,$event)" > <span class="label-text card-text">Credit card</span>
                        </label>
                    </div>
                    <div class="form-check">
                        <label>
                            <input type="checkbox" name="paymentCheckbox" [checked]="payment_type" (change)="selectPaymentType(payment_types.Paypal,$event)" > <span class="label-text card-text">Paypal</span>
                        </label>
                    </div>

                    <div class="form-check">
                        <label>
                            <input type="checkbox" name="paymentCheckbox" [checked]="payment_type" (change)="selectPaymentType(payment_types.Other,$event)" > <span class="label-text card-text">Other</span>
                        </label>
                    </div>

                </div>
            </div>
            <div class="col-lg-12 border-form-grey py-2">&nbsp;</div>
            <app-card-form  #validateCardComponentForm  (isChildFormValid)="isChildFormValid($event)" [joinClass]="joinClass"></app-card-form>

            <div class="col-lg-12 class-group text-center">
                <button type="submit" class="modal-button m-auto">Confirm Payment <i
                        class="ml-2 fa fa-arrow-right"></i></button>
            </div>
        </form>
    </div>

    <div  class="modal-padding" *ngIf="step==3">
        <div class="modal-header">
            <button type="button" class="btn-close close pull-right" >
              <span aria-hidden="true" class="visually-hidden" (click)="modalService.dismissAll()">&times;</span>
            </button>
          </div>
    
        <div class="col-lg-12 p-5">
            <div class="col-lg-12 class-group text-center">
                <i class="fas fa-check-circle color-theme  icon-font"></i>
            </div>
            <div class="col-lg-12 class-group">
                <h5 class="join-free__title">This Course has been added to your collection!</h5>
            </div>
            <div class="col-lg-12 border-form-grey">&nbsp;</div>

            <div class="col-lg-12 class-group py-3">
                <div class="join-free__blue d-flex justify-content-between pb-3">
                    <span>{{selectedCourse.course_title}}</span>
                    <span>Purchased</span>
                </div>
                <div class="join-free__paid pb-2">
                    By {{selectedCourse.practitioner_firstname}} {{selectedCourse.practitioner_lastname}}
                </div>
            </div>
            <div class="col-lg-12 border-form-grey py-2">&nbsp;</div>
             
            <div class="col-lg-12 class-group">
                <button type="submit" class="modal-button m-auto"[routerLink]="['course/detail/',course_id]" >Start Course <i class="ml-2 fa fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>