.ptitle{
//styleName: H2 - Bold;
font-family: FF Mark Pro;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: #074D63;

}
.body {
  background-color: #fff;
}
.landing-footer {
  padding: 118px 0 210px;
  background-color: #EBF3FA;
  color: rgba(52, 58, 64, 0.5);
}
.customer-btn {
  // background-color: #FBD036;
  background-color: #FFF;
  // border: 2px solid #FFF;
  box-shadow: 5px 15px 20px 0px rgb(0 0 0 / 15%);
  height: 60px;
  border-radius: 20px;
  width: 220px;
  font-family: 'FFMarkWebProBook';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #074D63;
  line-height: 20px;
}
.uparrow {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.btncustom {
  background-color: #FBD036 !important;
  border: 2px solid #FBD036;
}

.practition-btn {
  background-color: #FFF;
  box-shadow: 5px 15px 20px 0px rgba(0, 0, 0, 0.15%); 
  height: 60px;
  border-radius: 20px;
  width: 220px;
  font-family: 'FFMarkWebProBook';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #074D63;
  line-height: 20px;
}
.headings {
  font-family: healspace font !important;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: center;
}

.text-warning {
  background-color: #FBD036;
}

.text-success {
  background-color: #6CB244;
}

.card-shadow {
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.12);
  //box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.12);
}

.th-align {
  text-align: center;
}


.container-fluid, .container-xl, .container-lg, .container-md, .container-sm {
  padding-right: 0px;
  padding-left: 0px;
}

.btn-outline-warning {
  color: #000;
  font-size: 13px;
  border: 2px solid #006400;
  background-color: #ffffff;
}

.btn-warning {
  background-color: #ffa700;
  border: 2px solid #ffa700;
  color: #000;
  font-size: 13px;
  text-align: center;
}

.card {
 border-radius: 40px;
    margin-top: -100px !important;
    max-width: 900px;
    margin: 0 auto;
}

bg-light {
  background-color: #F4F4F4 !important;
}



.btn-success {
  color: #fff;
  background-color: #6CB244;
  border-color: #6CB244;
}







.btn-primary {
  background-color: #FBD036;
  border: 2px solid #FBD036;
  color: #000;
}

btn-outline-primary {
  background-color: #fff;
  border-color: #006400;
  color: #000;
}

.card-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.bg-warning {
  background-color: #FBD036 !important;
  border: 1px solid #FBD036;
}

.bg-success {
  background-color: #6CB244 !important;
  border: 1px solid #6CB244;
}

//@font-face {
 // font-family: "healspace font";
  //src: url("../../../../assets/fonts/font.woff") format('woff'), url("../../../../assets/fonts/font.woff2") format('woff2');
  //font-weight: normal;
  //font-style: normal;
//}


@media(device-width: 320px)
{
  .btn-warning1{
    width: 295px;
  }
  .book-a-session{
    width: 265px;
    height: 55px;
    margin-top: -86px;
  }
  .headings{
    font-size: 42px;
  }
  .search-box1{
    margin-left: 227px;
    margin-top: -115px;
  }

  .justify-browse{
    margin-left: 20px;
  }
  .rounded-top{
    height: 217px;
    width: 256px;
  }
  .col-lg-81{
    padding-left: 175px;
    margin-top: -165px;
  }
  .btn-sm1{
    margin-top: -168px;
  }
  .btn-sm2{
    margin-top: -160px;
  }
}
@media(device-width: 360px)
{
  .btn-warning1{
    width: 295px;
  }
  .book-a-session{
    width: 265px;
    margin-top: -86px;
  }
  .headings{
    font-size: 42px;
  }

  .justify-browse{
    margin-left: 20px;
  }
  .rounded-top{
    height: 217px;
    width: 299px;
  }
  .search-box1{
    margin-left: 242px;
    margin-top: -115px;
  }
  .col-lg-81{
    padding-left: 175px;
    margin-top: -165px;
  }
  .btn-sm1{
    margin-top: -168px;
  }
  .btn-sm2{
    margin-top: -160px;
  }
}
@media(device-width: 375px)
{
  .btn-warning1{
    width: 295px;
  }
  .book-a-session{
    width: 320px;
    height: 64px;
    margin-top: -86px;
  }
  .headings{
    font-size: 42px;
  }

  .justify-browse{
    margin-left: 7px;
  }
  .rounded-top{
    height: 217px;
    width: 310px;
  }
  .search-box1{
    margin-left: 260px;
    margin-top: -115px;
  }
  .col-lg-81{
    padding-left: 175px;
    margin-top: -165px;
  }
  .btn-sm1{
    margin-top: -168px;
  }
  .btn-sm2{
    margin-top: -160px;
  }
}
@media(device-width: 411px)
{
  .btn-warning1{
    width: 335px;
  }
  .book-a-session{
    width: 355px;
    height: 60px;
  }
  .search-box1{
    margin-left: 312px;
    margin-top: -115px;
    width: 81px;
  }
  .headings{
    font-size: 50px;
  }
  .justify-browse{
    margin-left: 10px;
  }
  .rounded-top{
    width: 360px;
    height: 310px;
  }
  .col-lg-81{
    padding-left: 175px;
    margin-top: -165px;
  }
  .btn-grp1{
    margin-top: -40px;
  }
}
@media(device-width: 414px)
{
  .btn-warning1{
    width: 335px;
  }
  .book-a-session{
    width: 355px;
    height: 60px;
  }
  .search-box1{
    margin-left: 290px;
    margin-top: -115px;
  }
  .headings{
    font-size: 50px;
  }
  .justify-browse{
    margin-left: 10px;
  }

  .rounded-top{
    width: 360px;
    height: 310px;
  }
  .col-lg-81{
    padding-left: 175px;
    margin-top: -165px;
  }
  .btn-grp1{
    margin-top: -40px;
  }

}
@media(device-width: 540px)
{
  .btn-warning1{
    width: 370px;
  }
  .search-box1{
    margin-left: 414px;
    margin-top: -115px;
  }
  .headings{
    font-size: 42px;
  }

  .book-a-session{
    width: 265px;
  }
  .new-text{
    font-size:16px;
  }
  .col-lg-81{
    padding-left: 175px;
    margin-top: -165px;
  }
  .btn-grp1{
    margin-top: -18px;
  }
  .justify-browse{
    margin-left: 10px;
  }

}
@media(device-width: 768px)
{
  .btn-warning1{
    width: 348px;
  }
  .headings{
    font-size: 60px;
  }
  .search-box1{
    margin-left: 525px;
    margin-top: -115px;
  }
  .new-text{
    font-size:16px;
  }

  .book-a-session{
    width: 265px;
  }
  .option1{
    padding-right: 92px;
  }
  .card1{
    width: 728%;
  }
  .option2{
    padding-right: 81px;
  }
  .card2{
    width: 530%;
  }
  .media2{
    margin-left: -14px;
  }
  .option3{
    margin-left: 27px;
    padding-right: 0px;
  }
  .card3{
    width: 96%;
  }
  .option4{
    padding-right: 26px;
    margin-left: -10px;
  }
  .card4{
    width: 109%;
  }
  .media4{
    margin-left: -20px;
    margin-right: -22px;
  }
  .option5{
    padding-right: 7px;
    margin-left: -24px;
  }
  .card5{
    width: 117%;
  }
  .media5{
    margin-left: -40px;
    margin-right: -39px;
  }
  .option6{
    margin-left: 3px;
  }
  .card6{
    width: 116%;
  }
  .media6{
    margin-left: -17px;
    margin-right: -13px;
  }

  .justify-browse{
    padding-left: 123px;
    padding-right: 123px;
  }
  .card-body1{
    margin-top: -584px;
    margin-left: 249px;
  }
  .rounded-top{
    height: 380px;
  }
  .col-lg-4-new{
    margin-left: 45px;
  }
  .col-lg-81{
    margin-left: 29px;
  }
  .btn-grp1{
    margin-left: 29px;
  }

}
@media(device-width: 1024px)
{
  .btn-warning1{
    width: 487px;
  }
  .headings{
    font-size: 65px;
  }
  .new-text{
    font-size:16px;
  }
  .book-a-session{
    width: 265px;
  }

  .option2{
    margin-left: -13px;
  }
  .card2{
    width: 157px;
  }

  .option3{
    margin-left: 9px;
  }
  .option4{
    margin-left: -13px;
  }
  .option5{
    margin-left: -13px;
  }
  .card5{
    width: 154px;
  }
  .option6{
    margin-left: 5px;
  }
}


.img-left{
  margin-left: 257px
}

