<app-public-navbar></app-public-navbar>
<div class="container-fluid" style="padding-top:0px;">
  <section class="section hero-section bg-ico-hero landing-footer" id="home">
    <div class="bg-overlay bg-primary"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 justify-content-center">
          <div class="text-dark p-3 text-center">
            <h1 class="text-white headings">Frequently Asked <br>Questions</h1>
            <p class="mt-4 new-text text-white" style="Font-family: 'FFMarkWebProBook';
              Font-size: 16px;">Et has minim elitr intellegat. Mea aeterno eleifend antiopam ad, nam no suscipit<br>
              quaerendum. At nam minimum ponderum. Est audiam animal molestiae te. Ex duo eripuit<br> mentitum. </p>
            <br>
            <div class="row justify-content-center">
              <div class="col-md-4 mb-4">
                <button type="button" class="btn  customer-btn" (click)="callCustomer()" id="btn-customer"
                  [ngClass]="{'btncustom': selectedItem === true}">
                  <i class="fa fa-check"></i> &nbsp; I am a Customer
                </button>
              </div>
              <div class="col-md-3">
                <button type="button" class="btn practition-btn" (click)="callPractitioner()"
                  [ngClass]="{'btncustom': selectedItem === false}">
                  <i class="fa fa-check"></i> &nbsp; I am a Practitioner
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="option2" style="padding: 10px;">
    <div class="card">
      <ng-container *ngFor="let list of faqList;let i=index;">
        <div class="row">
          <div class="col-xs-10 col-sm-10 col-md-10 mt-4" style="margin-left: 6rem;padding: 10px;">
            <h2 class="ptitle">{{i+1}}. {{list?.question}}</h2>
            <i class="fas fa-arrow-down" data-toggle="collapse" [attr.data-target]="'#collapse'+i" role="button" aria-expanded="true"
              (click)="collapseIcon($event)" style="float: right;margin-top: -25px;margin-right: 4.5rem;">
            </i>
            <p [attr.id]="'collapse'+i" class="collapse" style="width: 85%;">
              {{list?.answer}}
            </p>
          </div>
        </div>
        <hr style="margin-left: 85px;margin-right: 4.5rem;">
      </ng-container>
    </div>
  </div>
  <!-- 
    <section class="mt-4 section bg-white p-0">
      <div class="container">
        <div class="currency-price">
          <div class="row justify-content-center">
            <div class="col-md-10">
              <div class="card" style="box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.12);">
                <div class="card-body" style="padding: 40px;">
                  <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" *ngFor="let list of faqList;let i=index;">
                    <ngb-panel id="static-1" class="justify-content-left">
                      <ng-template ngbPanelTitle class="text-black bg-white">
                        <h4 class="font-weight-bold mt-4">{{i+1}}. {{list?.question}}</h4>
                      </ng-template>
                      <ng-template ngbPanelContent>
                        <div class="text-justify">
                          <p>{{list?.answer}}</p>
                        </div>
                      </ng-template>
                    </ngb-panel>
                  </ngb-accordion>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
</div>
<app-public-footer></app-public-footer>