<div class="add-practitioner container bg-color">
    <div class=" row-align m-auto text-center">
        <h1 class="h1-align"> Add new customer into the platform?
        </h1>
    </div>
    <form class="form-horizontal" data-bitwarden-watching="1" (ngSubmit)="AddCustomer()" #signupForm="ngForm">
        <div class="row padtop50" id="add-form">
            <div class="col-md-5 marginleft70">
                <div class="form-group">
                    <label class="pl-2">First Name*</label>
                    <div class="card-palign">
                        <input type="text"
                        class="form-control text-input-design"
                        [(ngModel)]="user.first_name"
                        #first_name="ngModel"
                        name="first_name"
                        required/>                 
                    </div>
                    <div *ngIf="first_name.invalid && (first_name.dirty)">
                        <p
                            class="error-box margin-top-0 text-danger err-sf"
                            *ngIf="first_name.hasError('required')"
                        >
                            First Name is Required
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 marginleft70">
                <div class="form-group">
                    <label class="pl-2">Last Name*</label>
                    <div class="card-palign">
                        <input type="text"
                        class="form-control text-input-design"
                        [(ngModel)]="user.last_name"
                        #last_name="ngModel"
                        name="last_name"
                        required />
                    </div>
                    <div *ngIf="last_name.invalid && (last_name.dirty)">
                        <p
                          class="error-box margin-top-0 text-danger err-sf"
                          *ngIf="last_name.hasError('required')"
                        >
                          Last Name is Required
                        </p>
                    </div>  
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 marginleft70">
                <div class="form-group">
                    <label class="pl-2">Email*</label>
                    <div class="card-palign">
                        <input type="text" class="form-control text-input-design" (input)="validateEmail($event)"
                        [(ngModel)]="user.email"
                        name="email"
                        required/>
                    </div>
                    <div>
                        <p
                          class="error-box margin-top-0 text-danger err-sf"
                          *ngIf="invalid_email"
                        >
                          Email must be a valid email address
                        </p>
                        <p class="error-box margin-top-0 text-danger err-sf" *ngIf="email_required">
                          Email is Required
                        </p>
                      </div>
                </div>
            </div>
            <div class="col-md-5 marginleft70">
                <div class="form-group">
                    <label class="pl-2">Country*</label>
                    <div class="card-palign">
                        <ngx-select-dropdown class="form-control select-custom-design"
                        tabindex="0"
                        [multiple]="false" 
                        [config]="countryConfig" 
                        [options]="countryData"
                        [(ngModel)]="user.country"
                        #country="ngModel"
                        name="country" required
                        (change)="countryChanged($event.value)" style="width:100%;">
                      </ngx-select-dropdown>
                    </div>
                    <div *ngIf="country.invalid && (country.dirty)">
                        <p class="error-box margin-top-0 text-danger err-sf" *ngIf="country.hasError('required')">
                          Country is Required
                        </p>
                    </div>
                    <!--  -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 marginleft70">
                <div class="form-group">
                    <label class="pl-2">State*</label>
                    <div class="card-palign">
                        <ngx-select-dropdown class="form-control select-custom-design"
                            tabindex="0"
                            [multiple]="false" 
                            [config]="stateConfig" 
                            [options]="stateData"
                            [(ngModel)]="user.state"
                            #state="ngModel"
                            name="state" required
                            (change)="stateChanged($event.value)" style="width:100%;">
                        </ngx-select-dropdown>
                    </div>
                    <div *ngIf="state.invalid && (state.dirty)">
                        <p class="error-box margin-top-0 text-danger err-sf" *ngIf="state.hasError('required')">
                          State is Required
                        </p>
                      </div>
                </div>
            </div>
            <div class="col-md-5 marginleft70">
                <div class="form-group">
                    <label class="pl-2">City*</label>
                    <div class="card-palign">
                        <ngx-select-dropdown class="form-control select-custom-design"
                            tabindex="0"
                            [multiple]="false" 
                            [config]="cityConfig" 
                            [options]="cityData"
                            [(ngModel)]="user.city"
                            #city="ngModel"
                            name="city" required
                            (change)="cityChanged($event.value)" style="width:100%;">
                        </ngx-select-dropdown>
                    </div>
                    <div *ngIf="city.invalid && (city.dirty)">
                        <p class="error-box margin-top-0 text-danger err-sf" *ngIf="city.hasError('required')">
                          City is Required
                        </p>
                      </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 marginleft70">
                <div class="form-group">
                    <label class="pl-2">Phone Number*</label>
                    <div class="card-palign">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <input type="text" class="form-control text-input-design input-group-text" style="width: 134px !important;
                              border-top-right-radius: unset;border-bottom-right-radius: unset;"
                              placeholder="Code" name="phone_code" [(ngModel)]="user.phone_code" #phone_code="ngModel" disabled>
                            </div>
                            <div style="border-left: 2px solid white;height: 35px;margin-top: 20px;"></div>
                            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" style="
                            background: #f1f1f4;font-weight: 500;font-size: 16px;width: 100px;border-top-left-radius: unset;border-bottom-left-radius: unset;"
                            name="phonenumber" [(ngModel)]="user.phonenumber"  #phonenumber="ngModel">
                          </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-5 marginleft70">
                <label class="pl-2">Interest*</label>
                <div class="card-palign">
                    <ngx-select-dropdown class="form-control select-custom-design" tabindex="0"
                        [config]="expertiseConfig" [options]="interestData" formControlName="expertise" name="expertise"
                        required [multiple]="true" (change)="expertiseChanged($event.value)" style="width:100%;">
                    </ngx-select-dropdown>
                </div>
                <div *ngIf="AddPractitionerForm.controls['expertise'].invalid && 
                    AddPractitionerForm.controls['expertise'].touched" class="con-val">
                    <div *ngIf="AddPractitionerForm.controls['expertise'].errors.required">
                        Expertise is required.
                    </div>
                </div>
            </div> -->
        </div>

        <div class="row m-auto" style="max-width: fit-content;">
            <div>
                <button type="submit" class="btn-block btn btn-warning btn-rounded btn-approve btn-confirm mt-5 mb-5"
                    tabindex="0" [disabled]="!signupForm.valid || email_required || invalid_email">
                Create account <span class="pl-2 pr-2"><i class="fa fa-arrow-right"></i></span></button>
            </div>
        </div>
    </form>
</div>