<app-auth-navbar></app-auth-navbar>
<div class="auth-sidebar">
    <app-auth-sidebar></app-auth-sidebar>
</div>
<div class="card-row" style="padding: 0 50px 0 25px !important">
    <div class="left-section" style="margin-left: 10px;margin-right: 20px;">
        <div class="title-section">
            <h1>Choose one Interest</h1>
            <div class="secondary-title">
                <h2>Please choose one Interest at a time and provide a description for each</h2>
            </div>
        </div>
        <div class="expertise-section">
            <ng-container *ngFor="let list of interests">
                <div class="card expertise-card" [ngClass]="filterIfThere(list) ? 'active' : ''" id="{{list.id}}">
                    <div class="card-body" (click)="chooseMe(list)">
                        <div class="img-section">
                            <img [src]="generalService.getAdminImageBaseUrl(list.cover_photo)" alt="">
                        </div>
                        <div class="text-section">
                            <h3>{{list.interest}}</h3>
                            <span>{{list.description}}</span>
                        </div>
                    </div>
                    <img src="assets/images/image2.png" alt="" class="check">
                </div>
            </ng-container>
        </div>
        <div class="submission-section">
            <button class="rounded-button" (click)="profileSubmit()">
                Add selected Interest(s)
            </button>
        </div>
        <div class="please-section">
            <p class="text-center">Please Choose at Least One</p>
        </div>
    </div>
</div>