
// .fifth-page {
//     // padding-top: 36px;
//     // padding-right: 103px;
//     padding-left: 180px;
// }
.sd-container{
    border-radius: 20px;
    padding: 10px;
    // height: 97px; 
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.emoji-container{
    width: 50px;
    // margin-left: 10px;
}
.emoji-text{
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    color: #074D63;
    text-align: center !important;
    // margin-left: 16px;
}
.nextstep{
    background: #FBD036;
    border-radius: 20px;
    font-family: "FFMarkWebProBook";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    border: 1px;
    color: #074D63;
    padding: 20px 30px;
}
.head{
    font-family: 'healspace font';
    font-style: normal;
    font-size: 30px;
    line-height: 45px;
    color: #00BAD5;
    font-weight: 900;
}
.fix-shadow{
    // background: #ffffff !important;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 20%);
    border: 0.5px solid #46bbd6;
}

 