<div class="send-message">
    <div class="row">
        <div class="col-md-6 col-lg-12">
            <p class="title">Send message to Admin</p>
        </div>
        <!-- <div class="col-md-6 col-lg-6">
        </div> -->
    </div>
    <div>
        <p class="label">Add  message title here *</p>
        <input type="text" [(ngModel)]="title" #msg_title="ngModel" name="msg_title" required />
        <div *ngIf="isSubmitted && msg_title.hasError('required')">
            <p class="error-box margin-top-0 text-danger err-sf" style="font-size: 13px;font-weight: normal;padding-top: 10px;">
                Message Title is Required
            </p>
        </div>
        <p class="label">Type message here*</p>
        <textarea [(ngModel)]="message" #send_message="ngModel" name="send_message" required></textarea>
        <div *ngIf="isSubmitted && send_message.hasError('required')">
            <p class="error-box margin-top-0 text-danger err-sf" style="font-size: 13px;font-weight: normal;padding-top: 10px;">
                Message is Required
            </p>
        </div>
    </div>
    <div style="text-align: center;padding: 15px;">
        <button (click)="sendMessage()" class="btn send-btn" type="button">Send Message →</button>
        <br />
        <a (click)="close()"><p class="close-btn">Cancel</p></a>
    </div>
</div>
