.send-message{
    padding:30px;
    background: #FAFAFA;
    border-radius: 40px;
    img{
        width: 60px;
        height: 60px;
        border-radius: 30px;
    }
    .title{
        font-family: 'healspace font';
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 45px;
        color: #074D63;
    }
    .name{
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #074D63;
        padding-top: 10px;
    }
    .expertise{
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #6D6D6D;
    }
    .label{
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #6D6D6D;
        padding: 10px 0px;
    }
    .send-btn{
        width: 195px;
        height: 63.17px;
        background: #FBD036;
        border-radius: 20px;
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #074D63;
    }
    .close-btn{
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #074D63;
        padding: 10px;
    }
    input{
        background: #FFFFFF;
        border-radius: 40px;
        width: 100%;
        height: 60px;
        border: none !important;
        overflow: auto;
        outline: none !important;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #074D63;
        padding: 20px;
    }
    textarea{
        border: none !important;
        overflow: auto;
        outline: none !important;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width: 100%;
        height: 200px;
        background: #FFFFFF;
        border-radius: 40px;
        resize: none !important;
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #074D63;
        padding: 20px;
    }
    p{
        margin: 0px !important;
    }
}