<app-auth-navbar></app-auth-navbar>
<div class="auth-sidebar">
    <app-auth-sidebar></app-auth-sidebar>
</div>
<div class="row exp" style=" margin-right: 0px !important;">
    <div class="left-section">
        <div class="title-section">
            <h1>Choose one Expertise</h1>
            <div class="secondary-title">
                <h2>Please choose one Expertise at a time</h2>
            </div>
        </div>
        <div class="expertise-section">
            <ng-container *ngFor="let list of expertises">
                <div class="card expertise-card" [ngClass]="filterIfThere(list) ? 'active' : ''" id="{{list.id}}">
                    <div class="card-body" (click)="chooseMe(list)">
                        <div class="img-section">
                            <img src="{{list.cover_photo}}" alt="">
                        </div>
                        <div class="text-section">
                            <h3 tooltip="{{list.interest}}">{{list.interest | limitTo:30}}</h3>
                            <span tooltip="{{list.description}}">{{list.description | limitTo:30}}</span>
                        </div>
                    </div>
                    <img src="assets/images/image2.png" alt="" class="check">
                </div>
            </ng-container>
        </div>
        <div class="submission-section">
            <button class="rounded-button" (click)="profileSubmit()">
                Add Selected Expertise
            </button>
        </div>
    </div>
    <app-available-patient></app-available-patient>
</div>