<div class="d-flex justify-content-center align-items-center">
<span class="login__other">Or sign up with</span>
<div class="login__social" (click)="signInWithFB()"> <img src="../../../assets/images/Vector (1).png"> </div>
<div class="login__social" (click)="signInWithGoogle()"><img src="../../../assets/images/Group (1).png"></div>
</div>  