.login{
    &__social {
        width : 48px;
        height: 48px;
        left  : 0px;
        top   : 0px;
        background: #FFFFFF;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5px;
    }
    &__other {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 16px;
        line-height: 20px;
        color: #000000;
        flex     : none;
        order    : 0;
        flex-grow: 0;
        margin   : 0px 32px;
    }
}