<div class="header-top-section-bg s-practitioner">
    <div class="container">
        <app-header></app-header>

        <div class="d-flex justify-content-center ">
            <div class="col-lg-9 col-md-10 col-sm-12 col-12 m-auto p-0 ">
                <p class="post-blog__title pb-5">{{postBlogData.blog_details.title}}</p>

                
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 px-0 my-3">
                    <img class="post-blog__image" [src]="postBlogData.blog_details.image"
                        [alt]="postBlogData.blog_details.id">
                </div>

               <p class="post-blog__des">{{postBlogData.blog_details.description}}</p>

                 <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-12 p-0 mb-4">
                    <p class="post-blog__img-des">Psychologist and Dharma teacher Mal Huxter writes about Buddha’s
                        awakening and how his teachings spread around the world and still help people today to find
                        freedom from suffering.</p>

                    <p class="post-blog__big-sub-heading">Finding Freedom From Dukkha</p>

                    <p class="post-blog__deatils">
                        Psychologist and Dharma teacher Mal Huxter writes about Buddha’s awakening and how his teachings
                        spread around the world and still help people today to find freedom from suffering.
                    </p>
                    <p class="post-blog__deatils">
                        Finding Freedom From Dukkha
                    </p>
                    <p class="post-blog__deatils">
                        The term “Buddha” refers to an awakened one. The aim of Buddhism is to wake up to the realities
                        of life and death in order to find freedom from dukkha. Dukkha is the Pali term used to describe
                        the Buddha’s first truth. Dukkha is often translated as suffering, but it is better to consider
                        it as un-satisfactoriness. It can be gross such as our struggles with mental torment, severe
                        illness and death, or it can be subtle, such as not getting what we want exactly how and when we
                        want it.
                    </p>
                    <p class="post-blog__deatils">
                        Essentially, Buddhism is about reducing and uprooting the root causes of dukkha: greed,
                        ignorance and hatred. The teachings of the Buddha invite us to see and realise awakening for
                        ourselves, as no one else can do it for us. A traditional Buddhist approach to meditation is
                        experiential and offers broad and flexible applications of skills in order to ease suffering and
                        wake up to freedom.
                    </p>
                    <p class="post-blog__big-sub-heading">The Life Of Siddhartha Gautama</p>

                    <p class="post-blog__deatils">
                        Around 2,600 years ago the man who was to become the Buddha, was born in the town of Lumbini
                        near the current Nepalese-Indian border. His name was Siddhartha Gautama and he was the son of a
                        leader of one of the many small kingdoms in northern India at that time.
                    </p>
                    <p class="post-blog__deatils">
                        Siddhartha excelled in the arts and sciences and led a life of luxury, protected and sheltered
                        from life’s difficulties. Siddhartha enjoyed all the pleasures that life had to offer until he
                        was 29 years old. Around that time, he was exposed to four circumstances, which were later
                        understood as messages.
                    </p>
                    <p class="post-blog__deatils">
                        The first was seeing someone very old, the second was seeing someone stricken with illness and
                        the third was seeing a corpse. He was deeply disturbed by what he saw and confronted by the
                        realisation that all beings are subject to these realities. The fourth sight was that of a
                        wandering monk or seeker of spiritual freedom.
                    </p>
                    <p class="post-blog__deatils">
                        Seeing a homeless wanderer seeking the truth inspired him to leave his comfortable existence in
                        search of a resolution for the human suffering that he had become aware of. That night,
                        Siddhartha left his life of comfort and his family to seek an end to suffering and became an
                        ascetic.
                    </p>

                </div> -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 post-blog__border-b" >
                    &nbsp;
                </div>
            </div>
        </div>


        <!-- <div class="d-flex justify-content-center flex-column">
            <div class="col-lg-12 p-0">
                <p class="s-practitioner__title pb-5">{{postBlogData.blog_details.title}}</p>
            </div>
            <div class="col-lg-12 p-0">
                <img style="width: 800px;" [src]="postBlogData.blog_details.image" [alt]="postBlogData.blog_details.id">
            </div>
        </div> -->
        <div class="container p-0">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 p-0">
                <p class="post-blog__sec-heading py-5">Related Articles</p>
            </div>
            <div class="row mx-0">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 articles px-2 mb-5"
                    *ngFor="let article of postBlogData?.related_articles">
                    <app-articles [id]="article.id" [image]="article.image" [category]="article.category[0]"
                        [firstname]="article.author__first_name" [lastname]="article.author__last_name"
                        [title]="article.title " [description]="article.description"></app-articles>
                </div>
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>