.header-top-section-bg {
    padding-bottom     : 100px;
    background-image   : url(../../../../assets/images/bg/blog-page.svg);
    background-position: center;
    background-size    : cover;
    background-repeat  : no-repeat;
}
.post-blog {
    &__title {
        font-family: "healspace font";

        font-style    : normal;
        font-weight   : normal;
        font-size     : 40px;
        line-height   : 45px;
        color         : #074D63;
        // font-style : normal;
        // font-weight: normal;
        // font-size  : 48px;
        // line-height: 76px;
        // text-align : center;
        // color      : #074D63;
        // flex       : none;
        // order      : 0;
        // flex-grow  : 0;
        // margin     : 20px ​0 20px 0px;
        // padding    : 0 !important;
        margin        : 80px 0 0 0;
    }

    &__image {
        width        : 800px;
        height       : 448px;
        border-radius: 20px;
        padding      : 30px 0;
        @media screen and (max-width: 1199px) and (min-width: 320px) {
            max-width: 100%;
            height: auto;
        }
    }

    &__des {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 20px;
        line-height: 32px;
        color      : #000000;

    }

    &__img-des {
        font-family: 'FFMarkWebProBook';
        font-style : italic;
        font-weight: normal;
        font-size  : 20px;
        line-height: 32px;
        color      : #000000;

    }

    &__deatils {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 20px;
        line-height: 32px;
        /* or 160% */
        padding    : 15px 0;


        color: #000000;

    }

    &__big-sub-heading {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 32px;
        line-height: 35px;
        /* or 109% */
        padding    : 20px 0;

        color: #000000;
    }

    &__border-b{
        height: 1px;;
        background:rgba(109, 109, 109, 0.1);
    }

    &__sec-heading{
        font-family: FF Mark Pro;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 35px;
/* identical to box height, or 109% */


/* Secondary */

color: #074D63;

    }
}
 