<nav class="navbar navbar-expand-lg navbar-light nav-fixed-top  ">
    <div class="container">
        <a class="navbar-brand">
            <img src="../../assets/images/h-logo.svg">
        </a>


        <div class=" ">
            <ul class="navbar-nav m-auto">
                <li class="nav-item active">
                    <a class="nav-link"> <button class="manage__header-btn" type="button">
                        Subscriber's Guide
                        </button></a>
                </li>

            </ul>

        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-5   login-center">
            <div>
                <p class="price-box__left-heading">
                    Hi Mark! Welcome<br> to Healplace.
                </p>

                <p class="price-box__des">
                    Keep in touch to learn about our latest news, offers and updates by joining our email list.
                </p>

                <div class="d-flex justify-content-center col-lg-10 col-md-8 col-12 p-0">
                    <form class="example pb-5">
                        <input type="text" placeholder="E-mail address" name="search" class="email-input">
                        <button type="submit" class="s-btn email-btn"> →</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-7 col-md-12">
            <div class="row justify-content-center align-items-center">
                <div>
                    <p class="price-box__main-heading py-4">
                        You've completed your profile.<br> Now choose a monthly plan.
                    </p>

                    <div class="row justify-content-between mx-0" style="    min-height: 340px;">
                        <div class="col-lg-4 col-md-4">
                            <div class="price-box__basic">
                                <div>
                                    <p class="price-box__sub-heading">
                                        Basic
                                    </p>

                                    <span class="price-box__amount">
                                        $196
                                    </span>

                                    <div class="col-lg-12 px-0 py-3">
                                        <button class="price-box__card-btn">
                                            Choose →
                                        </button>
                                    </div>
                                    <div class="price-box__menu">
                                        <ul>
                                            <li >
                                                Messaging Therapy
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 middle-card-position">
                            <div class="price-box__basic">
                                <div class="price-box__card-pre">
                                    -20%
                                </div>
                                <div>
                                    <p class="price-box__sub-heading">
                                        Starter
                                    </p>

                                    <span class="price-box__amount">
                                        $236
                                    </span>

                                    <div class="col-lg-12 px-0 py-3">
                                        <button class="price-box__card-btn">
                                            Choose →
                                        </button>
                                    </div>
                                    <div class="price-box__menu">
                                        <ul>
                                            <li >
                                                Messaging Therapy
                                            </li>

                                            <li >
                                                1 Live Session / month (30 min)
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4">
                            <div class="price-box__basic">
                                <div>
                                    <p class="price-box__sub-heading">
                                        Premier
                                    </p>

                                    <span class="price-box__amount">
                                        $316
                                    </span>

                                    <div class="col-lg-12 px-0 py-3">
                                        <button class="price-box__card-btn">
                                            Choose →
                                        </button>
                                    </div>
                                    <div class="price-box__menu">
                                        <ul>
                                            <li>
                                                Messaging Therapy
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row py-5 con-between mx-0">
                        <p class="price-box__footer-menu">Monthly Pricing</p>

                        <p class="price-box__footer-menu">3 months</p>

                        <p class="price-box__footer-menu">6 months</p>

                        <p class="price-box__footer-menu">Annually</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Payment screen -->
<div class="container pt-5">
    <div class="col-lg-12">
        <p class="payment__sub-heading py-4">
            Thanks For Your Order, Mark!
        </p>


    </div>
    <div class="row">
        <div class="col-lg-9 col-md-12">
            <div class="payment__gray-box ">
                <div class="row">
                    <div class="col-lg-4 col-md-8 col-xs-12">
                        <p class="payment__plan-status">
                            Plan
                        </p>

                        <p class="payment__plan-value">
                            Starter plan
                        </p>

                        <p class="payment__plan-des">

                            Included services: <br>
                            Messaging Therapy <br>
                            1 Live Session / month (30 min)
                        </p>

                    </div>

                    <div class="col-lg-4 col-md-8 col-xs-12 ">
                        <p class="payment__plan-status">
                            Billing
                        </p>

                        <p class="payment__plan-value">
                            Monthly
                        </p>

                        <p class="payment__plan-des">

                            &nbsp;
                        </p>

                    </div>

                    <div class="col-lg-4 col-md-8 col-xs-12">
                        <p class="payment__plan-status">
                            Price
                        </p>

                        <p class="payment__plan-value">
                            $724
                        </p>

                        <p class="payment__plan-des">
                            &nbsp;
                        </p>

                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-12">
            <div class="payment__gray-box ">
                <p class="payment__promo-code">
                    Promo Code
                </p>

                <!-- <input placeholder="Type Cupon Code Here" class="payment__input"> -->

                <div class="d-flex justify-content-center col-lg-7 col-12 p-0">
                    <form class="example pb-5">
                        <input type="text" placeholder="E-mail address" name="search" class="payment__input">
                        <button type="submit" class="payment__input-btn"> Apply</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-12">
        <p class="payment__sub-heading py-4">
            Choose payment method
        </p>
    </div>

    <div class="row mb-5">
        <div class=" col-lg-3  col-sm-3">
            <div class="pay-small-box">
                <i class="fa fa-credit-card-alt icon-color" aria-hidden="true"></i> &nbsp;
                <span class="payment__card-info">Credit Card</span>
            </div>
        </div>

        <div class=" col-lg-3 col-sm-3">
            <div class="pay-small-box">
                <i class="fa fa-check-circle check-icon-position" aria-hidden="true"></i>

                <i class="fa fa-paypal icon-color" aria-hidden="true"></i> &nbsp;
                <span class="payment__card-info">PayPal</span>
            </div>
        </div>

        <div class=" col-lg-3 col-sm-3 ">
            <div class="pay-small-box">
                <span class="payment__card-info">Add Other</span> &nbsp; <i class="fa fa-plus icon-color"
                    aria-hidden="true"></i>
            </div>

        </div>
    </div>
</div>