<div class="add-session-container">

    <div class="title">{{ title }} Session Type</div>
    <div class="info">Please fill out the fields below for adding your video session</div>
    <hr>


    <form class="form-group" [formGroup]="addSessionForm" (ngSubmit)="openConfirmSessionModal(confirmSessionModalOpen, 'confirmSession', session,sessions)" novalidate>

        <div class="form-group">
            <label for="expertise">Choose expertise / interest / speciality </label>
            <select class="form-control" name="expertise" formControlName="expertise" required>
                <option value="">Select</option>
                <option *ngFor="let expertise of expertises" [value]="expertise">
                    {{expertise}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="title">Add short session title here * </label>
            <input type="text" class="form-control" id="title" name="title" formControlName="title" required>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="amount">Type Session amount </label>
                <input type="text" class="form-control" min="1" max="4" maxlength="4" minlength="1" id="amount" name="amount" formControlName="price" (keypress)="numberOnly($event)" required>
            </div>
            <div class="col-md-6 form-group">
                <label for="duration">Enter Duration </label>
                <select class="form-control" name="duration" autocomplete="false" formControlName="duration_min" required>
                    <option value="">Select</option>
                    <option *ngFor="let list of durations" [value]="list">
                        {{list}}mins
                    </option>
                </select>
            </div>
        </div>
    </form>

    <div class="add-new-container d-flex flex-column align-items-center">
        <button type="submit" [disabled]="!addSessionForm.valid" class="btn add-new" (click)="openConfirmSessionModal(confirmSessionModalOpen, 'confirmSession', session,sessions)">
            {{ buttonText }}
            <i class="fa fa-arrow-right"></i>
        </button>
        <button type="button" class="btn" (click)="back()">
            Back
        </button>
    </div>
</div>

<ng-template #confirmSessionModalOpen role="document" let-modal>
    <app-confirm-session [resource]="isContent" [session]="session" (changeBack)="closeConfirmSessionModal($event)" (confirmCallBack)="saveSession(session)" (confirmBack)="closeConfirmSessionModal($event)"
        *ngIf="isContent == 'confirmSession'" title="Confirm adding this Session" buttonText="Add New Session" [type]=type>
    </app-confirm-session>
</ng-template>