.add-session-container {
    padding: 76px 91.5px;
    background: #FAFAFA;
    border-radius: 40px;
    .row {
        background: inherit;
    }
    .title {
        font-family: 'healspace font';
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 30px;
        text-align: center;
        color: #074D63;
        margin-bottom: 13px;
    }
    .info {
        max-width: 412px;
        margin: 0 auto;
        // margin-bottom: 20px;
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #074D63;
    }
    hr {
        margin-bottom: 20px;
    }
    form {

        label {
            width: 100%;
            margin-bottom: 6px;
            font-family: 'FFMarkWebProBook';
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: #6D6D6D;
        }
        select {
            font-family: 'FFMarkWebProBook';
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            color: #074D63;
        }
        input, select {
            margin-bottom: 10px;
        }
        .form-control {
            border-radius: 20px;
            height: 50px;
            border: none;
        }
        .ng-invalid.ng-touched[required], .ng-invalid.ng-touched.required  {
            border: 1px solid red;
        }
    }
    .btn.add-new {
        width: 180px;
        height: 50px;
        border-radius: 20px;
        border: 1px solid #074D63;
        &:hover {
            background: #FBD036;
            border: none;
        }
    }
}