<!-- HEALPLACE LLC ("HEALPLACE") CONFIDENTIAL
Copyright (c) 2020-2021 HEALPLACE, All Rights Reserved.

NOTICE:  All information contained herein is, and remains the property of HEALPLACE. The intellectual and technical concepts contained herein are proprietary to HEALPLACE and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless prior written permission is obtained  from HEALPLACE.  Access to the source code contained herein is hereby forbidden to anyone except current HEALPLACE employees, managers or contractors who have executed  Confidentiality and Non-disclosure agreements explicitly covering such access.

The copyright notice above does not evidence any actual or intended publication or disclosure  of  this source code, which includes  information that is confidential and/or proprietary, and is a trade secret, of  HEALPLACE.   ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,  OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT  THE EXPRESS WRITTEN CONSENT OF HEALPLACE IS STRICTLY PROHIBITED, AND IN VIOLATION OF APPLICABLE  LAWS AND INTERNATIONAL TREATIES.  THE RECEIPT OR POSSESSION OF  THIS SOURCE CODE AND/OR RELATED INFORMATION DOES NOT CONVEY OR IMPLY ANY RIGHTS  TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS, OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART. -->

<!-- The content below is only a placeholder and can be replaced. -->
<div class="wrapper default-theme" *ngIf="!showCutomerInfo else callBasicInfo">
  <!-- <app-auth-navbar></app-auth-navbar> -->
  <main>
    <ngx-scrolltop
      [backgroundColor]="'#212121'"
      [symbolColor]="'#fafafa'"
      color="primary"
      [size]="40"
      [mode]="'classic'"
      position="right"
      theme="gray">
    </ngx-scrolltop>
    <!-- <div class="auth-sidebar">
      <app-auth-sidebar></app-auth-sidebar>
    </div> -->
    <div class="pages container-fluid" style="padding: 0 !important;">
      <router-outlet></router-outlet>
      <!-- <app-auth-footer></app-auth-footer> -->
    </div>
  </main>
</div>

<ng-template #callBasicInfo>
  <customer-basic-info></customer-basic-info>
</ng-template>
