<app-public-navbar></app-public-navbar>
<div style="background-color: #fff;">
  <div class="container">
      <div class="row">
        <div class="col-md-1 mt-4"></div>
          <div class="col-md-5 mt-4">
              <img class="img-fluid img-left" src="assets/images/brooke.jfif" />
          </div>
          
          <div class="col-md-5 mt-4">
              <div class="mt-n1 ml-4">
                  <p class="hiw-p">HOW IT WORKS</p>
                  <h3 class="hiw-h3 headings">Healplace is a healing platform.</h3>
                  <h2 class="hiw-head-content">
                    Access healing anywhere from your device.
                  </h2>
                  <button class="btn-align button btn-submit-1 mt-2" (click)="openSignupModal(signUpModalOpen, 'signup')"><a 
                    style="color:#fff;" > Create Account</a>
                  </button>
              </div>
          </div>
          <div class="col-md-1 mt-4"></div>
      </div>
  </div>

  <div class="container">
      <div class="img hiw-image-content">
          <div class="row">
              <div class="col-sm text-center">
                  <img src="assets/images/image.png" style="width:55px; height: 55px;" />
                  <br><br>
                  <p style="font-family:'FFMarkWebProBook' ; font-weight: 700;font-style: bold;font-size: 16px;line-height: 20px;
      ">Create Your Account</p>
                  <p style="font-family: 'FFMarkWebProBook'; font-weight: 400;font-style: Book; font-size: 14px;line-height: 18px;
      ">Signing up is easy.<br>
        We'll help guide you to the care you need.</p>
              </div>

              <div class="col-sm text-center">
                  <img src="assets/images/image2.png" style="width:55px; height: 55px;" />
                  <br><br>
                  <p
                      style="font-family:'FFMarkWebProBook' ; font-weight: 700;font-style: bold;font-size: 16px;line-height: 20px;">
                      Find A Practitioner.</p>
                  <p
                      style="font-family: 'FFMarkWebProBook'; font-weight: 400;font-style: Book; font-size: 14px;line-height: 18px;">
                      Browse our curated network of doctors, healers,<br>
                      alternative therapists, energy workers and nutritional<br>
                      professionals to choose ehat feels right to you.</p>
              </div>

              <div class="col-sm text-center">
                  <img src="assets/images/image3.png" style="width:55px; height: 55px;" />
                  <br><br>
                  <p
                      style="font-family:'FFMarkWebProBook' ; font-weight: 700;font-style: bold;font-size: 16px;line-height: 20px;">
                      Start Your Session.</p>

                  <p
                      style="font-family: 'FFMarkWebProBook'; font-weight: 400;font-style: Book; font-size: 14px;line-height: 18px;">
                      Livestream a 1:1 session or class with your<br>
                      chosen practitioner when you choose.<br>
                      Healing is on your schedule.</p>
              </div>
          </div>
      </div>
  </div>



  <div class="container pt-5 pb-5">
      <div class="row">
          <div class="col-md-4" style="padding-top:50px;padding-bottom: 80px;">
              <div class="mt-n1">
                  <p style="color:#074D63; font-weight:bold;font-family: 
    'FFMarkWebProBook';  font-style: normal;   font-size:16px; line-height:20px;">HOW IT WORKS</p>
                  <h3 style="color: #00BAD5; margin-top:40px; font-weight: 700;
                    Line-height :
                    45px;Font-family: 'FFMarkWebProBook';
                    Font-style: Bold;
                    Font-size: 32px;">
                        At Healplace, we believe their should be room for everyone.
                    </h3>

                  <h2 class="mt-4 mb-4" style="font-weight: 400; font-Style: normal;font-Size: 
        16px;font-family: 
  'FFMarkWebProBook';
        Line-height: 20px;">That's why we're here to help you find the right
                            practitioner and support for you.
                            Browse our provider's specialities here.
                  </h2>
                  <button class="button button4 mt-4" style="Width :180px; Height : 60px;border-Radius:20px;
                  background-color: #FBD036;color: #074D63; border: 0px solid #00BAD5; font-family: 'FFMarkWebProBook';
              font-size: 16px;box-shadow: 0px 10px 20px rgb(0 0 0 / 8%);">Join Now &nbsp; <i class="fa fa-arrow-right" style="color:#074D63;"></i>
                  </button><br>
              </div>
          </div>
          <div class="col-md-4 text-center p-3">
              <img src="assets/images/Rectangle 166.png"/>

          </div>
          <div class="col-md-4 text-center p-3">
              <img src="assets/images/Rectangle 165.png"/>
          </div>
      </div>
  </div>
  <!-- <div class="container-fluid text-center" style="background: #FAFAFA;">

      <p style="color:#074D63; padding-top: 100px;font-family:'FFMarkWebProBook'; font-Weight:700;font-Style:normal;font-size:16px;">About
          us</p>

      <h2 style="color: #00BAD5;Font-family: healspace font !important;
          font-size: 40px;line-height: 45px;font-weight: 400;text-align: center;">
          What is Healplace and<br>what we do?</h2>

      <p style="Font-family: 'FFMarkWebProBook';font-size: 16px;top:2543px;">
          Et has minim elitr intellegat. Mea aeterno eleifend antiopam ad, nam no suscipit <br>
          quaerendum. At nam minimum ponderum. Est audiam animal molestiae te. Ex duo eripuit<br>
          mentitum.
      </p>
      <p class="btn-center">
              <button type="button" [routerLink]="['']" class="btn-block btn btn-warning btn-rounded "
              style="background-color: #00BAD5;text-align: center;width: 240px;
              height: 60px;border: 2px solid #00BAD5;
              box-shadow: 5px 15px 20px 0px rgb(0 0 0 / 15%);
              border-radius: 20px;">
              Join Now &nbsp; <i class="fa fa-arrow-right"></i>
          </button><br>
      </p>    
      
  </div> -->
</div>

<!-- <ng-template #signUpModalOpen role="document" let-modal>
    <public-sign-up-modal [resource]="isContent" (changeBack)="closeSignupModal($event)" *ngIf="isContent == 'signup'">
    </public-sign-up-modal>
</ng-template> -->

<ng-template #signUpModalOpen let-modal>
    <div class="modal-body">
        <public-sign-up-modal [resource]="isContent" (changeBack)="closeSignupModal($event)" *ngIf="isContent == 'signup'">
        </public-sign-up-modal>
    </div>
</ng-template>
  

<app-public-footer></app-public-footer>