.session-wrapper {
    margin-bottom: 50px;
    .title{
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #074D63;
        margin-bottom: 24px;
    }
    .session-item {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 32px 48px;
        margin-bottom: 20px;
        background: #FFFFFF;
        box-shadow: 0px 15px 30px rgb(0 0 0 / 5%);
        border-radius: 20px;
        .session-title {
            font-family: 'FFMarkWebProBook';
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: #6D6D6D;
        }
        .session-value {
            font-family: 'FFMarkWebProBook';
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            color: #00BAD5;
        }
        .btn {
            width: 120px;
            height: 40px;
            font-family: 'FFMarkWebProBook';
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            color: #FFFFFF;
        }
    }
}
