<app-auth-navbar></app-auth-navbar>
<div class="auth-sidebar">
    <app-auth-sidebar></app-auth-sidebar>
</div>
<div class="prof-row row" style=" margin-right: 0px !important;">
    <div class="left-section">
        <div class="row-one">
            <div class="user-pic-details">
                <div class="img-holder">
                    <img src="{{logedinData?.is_photo_verified && logedinData?.profile_image ? logedinData?.profile_image : 'assets/images/users/avator-2.jpg'}}"
                        alt="" style="width: 80px !important; height: 80px !important;">
                    <button class="edit-icon" (click)="openModal(profilePictureModal, 'edit-profile')">
                        <img src="assets/images/code%20pen.png" alt="">
                    </button>
                </div>
                <div class="name-holder">
                    <h1>{{practitionerDetails?.user_id?.first_name}} {{practitionerDetails?.user_id?.last_name}}</h1>
                    <h2>{{userData.email}}</h2>
                </div>
            </div>
            <div class="aggregate-stats">
                <div class="stats review-stats">
                    <img src="assets/images/three-stars.png" alt="">
                    <p class="value">{{profileData.overall_rating || '-'}}</p>
                    <p class="magnitude">({{profileData.review_count || 0}} review{{profileData.review_count > 1 ? 's' :
                        ''}})</p>
                </div>
                <div class="stats testimonial-stats">
                    <img src="assets/images/green-chat.png" alt="">
                    <p class="value">{{profileData.testimonials_count}}</p>
                    <p class="magnitude">testimonial{{profileData.testimonials_count > 1 ? 's' : ''}}</p>
                </div>
                <div class="stats customer-stats">
                    <img src="assets/images/red-people.png" alt="">
                    <p class="value">{{profileData.customer_count}}</p>
                    <p class="magnitude">customer{{profileData.customer_count > 1 ? 's':''}}</p>
                </div>
            </div>
        </div>
        <div class="row-two">
            <div class="card schedule-card">
                <div class="card-body">
                    <div class="title-section">
                        <h2 class="schedule-text">{{this.month_name}} / My Schedule</h2>
                        <h2 class="view-link" routerLink="/practitioner/schedule">view &gt;</h2>
                    </div>
                    <div class="dates-view">
                        <div [ngClass]="['day-block', dateData.active ? '' : 'inactive', dateData.hasSession ? 'active' : '']"
                            *ngFor="let dateData of data; let i = index">
                            <span class="day">{{dateData.day}}</span>
                            <span class="date">{{dateData.date}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-three">
            <div class="card session-card">
                <div class="card-body" routerLink="/practitioner/sessions">
                    <span style="background: white;border-radius: 50%;">
                        <img src="assets/images/practitioner/camera-blue.png" alt="" style="padding: 10px;">
                    </span>
                    <div class="content">
                        <h2>My Sessions</h2>
                        <p>You have {{profileData.my_sessions_type_count}} session
                            type{{profileData.my_sessions_type_count> 1 ? 's' : ''}}</p>
                    </div>
                    <span class="go">&gt;</span>
                </div>
            </div>
            <div class="card expertise-card">
                <div class="card-body" (click)="goToExpertises()">
                    <span style="background: white;border-radius: 50%;">
                        <img src="assets/images/practitioner/expertises.png" alt="" style="padding: 10px;">
                    </span>
                    <div class="content">
                        <h2>My Expertise</h2>
                        <p>You have {{profileData.my_expertise}} expertise{{profileData.my_expertise > 1 ? 's' : ''}}
                        </p>
                    </div>
                    <span class="go">&gt;</span>

                </div>
            </div>
        </div>
        <form ata-bitwarden-watching="1" #profileForm="ngForm">
            <div class="row-four">
                <div class="form-input">
                    <label for="fn">First Name*</label>
                    <input type="text" name="fn" id="fn" class="input-field" 
                    [(ngModel)]="formObject.first_name"
                    #first_name="ngModel"
                    name="first_name" required>
                    <div *ngIf="first_name.hasError('required')">
                        <p class="error-box margin-top-0 text-danger err-sf" style="font-size: 13px;font-weight: normal;">
                            First Name is Required
                        </p>
                    </div>
                </div>

                <div class="form-input">
                    <label for="fn">Last Name*</label>
                    <input type="text" name="ln" id="ln" class="input-field" [(ngModel)]="formObject.last_name"
                    #last_name="ngModel"
                    name="last_name" required>
                    <div *ngIf="last_name.hasError('required')">
                        <p class="error-box margin-top-0 text-danger err-sf" style="font-size: 13px;font-weight: normal;">
                            Last Name is Required
                        </p>
                    </div>
                </div>

                <div class="form-input">
                    <label for="bn">Business Name*</label>
                    <input type="text" name="bn" id="bn" class="input-field" [(ngModel)]="formObject.name"
                    #name="ngModel"
                    name="name" required>
                    <div *ngIf="name.hasError('required')">
                        <p class="error-box margin-top-0 text-danger err-sf" style="font-size: 13px;font-weight: normal;">
                            Business Name is Required
                        </p>
                    </div>
                </div>
                
            </div>
            <div class="row-five">
                <div class="form-input">
                    <label for="em">Email*</label>
                    <input type="email" name="em" id="em" [disabled]="practitionerDetails.is_email_subscribe"
                        class="input-field" [(ngModel)]="formObject.email"
                        #email="ngModel"
                        name="email" required readonly>
                        <div *ngIf="email.hasError('required')">
                            <p class="error-box margin-top-0 text-danger err-sf" style="font-size: 13px;font-weight: normal;">
                                Email Name is Required
                            </p>
                        </div>
                </div>

                <div class="form-input">
                    <label for="phone">Phone</label>
                    <input type="text"  (keypress)="numberOnly($event)" max="13" maxlength="13" placeholder="Enter your phone number with country code excluding +" name="phone" id="phone" class="input-field" required [(ngModel)]="formObject.phone">
                </div>
                <div class="form-input">
                    <label for="country">Country*</label>
                    <ngx-select-dropdown class="form-control select-custom-design" [config]="countryConfig"
                        [options]="countryData" [(ngModel)]="formObject.country" name="country"
                        (change)="countryChanged($event.value)"
                        #country="ngModel" required>
                    </ngx-select-dropdown>
                    <div *ngIf="country.hasError('required')">
                        <p class="error-box margin-top-0 text-danger err-sf" style="font-size: 13px;font-weight: normal;">
                            Country is Required
                        </p>
                    </div>
                </div>
                
            </div>
            <div class="row-six">
                <div class="form-input">
                    <label for="state">State*</label>
                    <ngx-select-dropdown class="form-control select-custom-design" [config]="stateConfig"
                        [options]="stateData" [(ngModel)]="formObject.state" name="state"
                        (change)="stateChanged($event.value)"
                        #state="ngModel" required>
                    </ngx-select-dropdown>
                    <div *ngIf="state.hasError('required')">
                        <p class="error-box margin-top-0 text-danger err-sf" style="font-size: 13px;font-weight: normal;">
                            State is Required
                        </p>
                    </div>
                </div>

                <div class="form-input">
                    <label for="city">City*</label>
                    <ngx-select-dropdown class="form-control select-custom-design" [config]="cityConfig"
                        [options]="cityData" [(ngModel)]="formObject.city" name="city"
                        #city="ngModel" required>
                    </ngx-select-dropdown>
                    <div *ngIf="city.hasError('required')">
                        <p class="error-box margin-top-0 text-danger err-sf" style="font-size: 13px;font-weight: normal;">
                            City is Required
                        </p>
                    </div>
                </div>
                <div class="form-input">
                    <label for="postal">Postal Code*</label>
                    <input type="text" name="postalCode" id="postal" class="input-field"
                        [(ngModel)]="formObject.postalCode"  (keypress)="numberOnly($event)" #postalCode="ngModel" required>
                    <div *ngIf="postalCode.hasError('required')">
                        <p class="error-box margin-top-0 text-danger err-sf" style="font-size: 13px;font-weight: normal;">
                            Postal Code is Required
                        </p>
                    </div>
                </div>
            </div>
            <div class="row-seven">
                <button class="save-btn" [disabled]="!profileForm.valid" (click)="submitForm()">Save Profile →</button>
            </div>
        </form>
    </div>
    <app-available-patient></app-available-patient>
</div>