.support {
    // background: #F8F8F8;
    padding-top: 50px;

    &__title {
        font-family: 'healspace font';
        font-style : normal;
        font-weight: normal;
        font-size  : 40px;
        line-height: 45px;
        color      : #074D63;
        text-align : center;

        @media screen and (max-width: 767px) and (min-width: 320px) {
            font-size     : 20px !important;
            padding-bottom: 0 !important;
        }
    }

    &__recent {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 24px;
        line-height: 20px;
        /* identical to box height, or 83% */


        /* Secondary */

        color : #074D63;
        margin: 10px 0 20px 0;
    }
    &__date-text{
        color: #6D6D6D;
        font-size: 14px;
    }
    &__sub-heading {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 16px;
        line-height: 20px;
        /* or 125% */


        /* Secondary */

        color: #074D63;

        span {
            font-size: 14px;
        }
    }

    &__blue {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 20px;
        line-height: 20px;
        /* identical to box height, or 100% */


        /* Primary */

        color: #00BAD5;
    }

    &__des-blue{
        font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* or 125% */


color: #000000;
    }
}

.header-top-section-bg {
    padding-bottom     : 100px;
    background-image   : url(../../../assets/images/bg/static-page.svg);
    background-position: center;
    background-size    : cover;
    background-repeat  : no-repeat;
}