<div class="header-top-section-bg ">
    <div class="container">
        <app-header></app-header>
        <div class="container support">
            <div class="d-flex justify-content-center ">
                <div class="col-lg-12 p-0">
                    <p class="support__title pb-5">How can we help?</p>
                    <div class="d-flex justify-content-center col-7 m-auto p-0">
                        <form class="example pb-5" name="SearchForm" #SearchForm="ngForm" (ngSubmit)="searchFAQ()">
                            <input type="text" [(ngModel)]="search" (keyup)="searchFAQ()" name="faq" #faq="ngModel" placeholder="Search topic" name="search" required>
                            <button type="submit" class="s-btn">Search</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- <div class="col-12">
                <p class="support__recent pb-4"> Recent Topics</p>
                <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-4 col-12 support__sub-heading">
                        <p>
                            <b> How are Subscriptions billed?</b>
                        </p>
                        <span>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et...
                        </span>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-12 support__sub-heading">
                        <p>
                            <b> How are Subscriptions billed?</b>
                        </p>
                        <span>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et...
                        </span>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-12 support__sub-heading">
                        <p>
                            <b> How are Subscriptions billed?</b>
                        </p>
                        <span>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et...
                        </span>
                    </div>
                </div>
            </div> -->

            <div class="col-12 d-flex-center flex-column " *ngIf="filteredSearch">
                <p class="support__recent pb-4"> Search results for “{{search}}”</p>
            
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-5 support__sub-heading" [routerLink]="['/support/faq',filterFAQ.id,filterFAQ.category]" *ngFor="let filterFAQ of filterFAQList">
                    <p>
                        <b> {{filterFAQ.question}}</b>
                    </p>
                    <span>
                        {{filterFAQ.answer}}
                    </span>

                    <p class="support__date-text mt-3">
                        {{filterFAQ.created | date: 'fullDate' }} at {{filterFAQ.created | date: 'shortTime' }}
                    </p>
                </div>
            </div>

            <div class="col-12 mt-5"  *ngIf="!filteredSearch">
                <p class="support__recent py-5">Frequently asked questions</p>
                <div class="row pb-5">
                    <div class="col-lg-6 mb-4" *ngFor="let context of faqList.context">
                        <p class="support__blue">{{context.category}}</p>

                        <p class="support__des-blue cp" *ngFor="let questionObj of context.questions" [routerLink]="['/support/faq',questionObj.id,context.category]">
                           {{questionObj.question}}
                        </p>
                    </div>

                    <!-- <div class="col-lg-6 mb-4">
                        <p class="support__blue">Live Events</p>

                        <p class="support__des-blue">
                            How are Subscriptions billed?
                        </p>
                        <p class="support__des-blue">

                            How do I cancel before my free trial ends on iOS? </p>
                        <p class="support__des-blue">
                            Can I request a refund? </p>
                        <p class="support__des-blue">
                            The conversion to my local currency is wrong.
                        </p>
                    </div>

                    <div class="col-lg-6 mb-4">
                        <p class="support__blue">Live Events</p>

                        <p class="support__des-blue">
                            How are Subscriptions billed?
                        </p>
                        <p class="support__des-blue">

                            How do I cancel before my free trial ends on iOS? </p>
                        <p class="support__des-blue">
                            Can I request a refund? </p>
                        <p class="support__des-blue">
                            The conversion to my local currency is wrong.
                        </p>
                    </div>

                    <div class="col-lg-6 mb-4">
                        <p class="support__blue">Live Events</p>

                        <p class="support__des-blue">
                            How are Subscriptions billed?
                        </p>
                        <p class="support__des-blue">

                            How do I cancel before my free trial ends on iOS? </p>
                        <p class="support__des-blue">
                            Can I request a refund? </p>
                        <p class="support__des-blue">
                            The conversion to my local currency is wrong.
                        </p>
                    </div>

                    <div class="col-lg-6 mb-4">
                        <p class="support__blue">Live Events</p>

                        <p class="support__des-blue">
                            How are Subscriptions billed?
                        </p>
                        <p class="support__des-blue">

                            How do I cancel before my free trial ends on iOS? </p>
                        <p class="support__des-blue">
                            Can I request a refund? </p>
                        <p class="support__des-blue">
                            The conversion to my local currency is wrong.
                        </p>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <p class="support__blue">Live Events</p>

                        <p class="support__des-blue">
                            How are Subscriptions billed?
                        </p>
                        <p class="support__des-blue">

                            How do I cancel before my free trial ends on iOS? </p>
                        <p class="support__des-blue">
                            Can I request a refund? </p>
                        <p class="support__des-blue">
                            The conversion to my local currency is wrong.
                        </p>
                    </div>

                     -->
                </div>
            </div>

        </div>
    </div>
</div>

<app-footer></app-footer>