<app-auth-navbar></app-auth-navbar>
<div class="auth-sidebar">
    <app-auth-sidebar></app-auth-sidebar>
</div>
<div class="customer-dashboard-container">
    <section class="font-family">
        <div class="row">
            <div class="col-12 col-lg-3">
                <div *ngIf="isLoaded">
                    <ng-container *ngIf="customer?.upcoming_session?.data.length else callFalse">
                        <div class="upcoming-session font-family">
                            <h1 class="head">Next upcoming Session</h1>
                            <div class="appoinment font-family">
                                <h3 class="your-next-appoinment">Your next appointment</h3>
                                <div class="img-content">
                                    <img class="rounded-circle dp"
                                        [src]="upcomingSession().practitioner__profile_image ? generalService.getPractiotionerImageBaseUrl(upcomingSession().practitioner__profile_image) : 'assets/images/users/avator-2.jpg'"
                                        alt="Practitioner">
                                    <h3 class="name">{{upcomingSession().practitioner__name}}</h3>
                                    <p class="designation">
                                        {{(upcomingSession().practitioner__expertise ||
                                        []).concat(upcomingSession().practitioner__address || []).join(', ') | limitTo:20}}
                                    </p>
                                </div>
                                <div class="about">
                                    <h1 class="talk">{{upcomingSession().title | limitTo:17}}</h1>
                                    <div class="sub-main-head">
                                        <h5 class="sub-head">{{getPrice()}}</h5>
                                        <p class="time">{{getPrice() === 'Included'? '30 min' : getDuration()}}</p>
                                    </div>
                                    <div class="sub-main-head1">
                                        <h5 class="sub-head">{{getAppointmentDate()}}</h5>
                                        <p class="time">{{getAppointmentTime()}}</p>
                                    </div>
                                </div>
                                <div class="submission">
                                    <button type="button" (click)="navigateToChatPage(upcomingSession())"
                                        class="btn-block btn btn-warning btn-rounded">
                                        Message
                                    </button>
                                    <div class="contact">
                                        
                                        <a (click)="navigateToSessionPage(upcomingSession())"> <i class="fa fa-video"
                                                aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #callFalse>
                        <div class="upcoming-session font-family">
                            <h1 class="head">Session</h1>
                            <div class="appoinment font-family">
                                <h1 class="head head-caption">You have no upcoming appointments</h1>
                                <div class="about mb-5">
                                    <p class="head" style="padding-top: 40px;">
                                        See practitioners who are available for a video session
                                    </p>
                                </div>
                                <br />
                                <br />
                                <div class="mt-2">
                                    <button type="button" (click)="navigateToChatPage(upcomingSession())" class="btn-theme">
                                        Book a Session
                                    </button>
    
                                </div>
    
                            </div>
                        </div>
                    </ng-template>
                </div>
    
                <div *ngIf="!isLoaded" class="no-data">
                    <div class="upcoming-session font-family col-lg-12 col-md-12 w-100">
                        <h1 class="head">Session</h1>
                        <div class="btn-flex-center">
                            <p class="head">Please wait...</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-9">
                <div class="chats-container right-container font-family">
                    <div class="d-flex justify-content-between header">
                        <h1 class="chat">Chats</h1>
                        <h1 class="see" routerLink="/chat">see all chats →</h1>
                    </div>
                    <ng-container *ngFor="let chat of chats; let i=index;">
                        <div class="chat-list" *ngIf="i<3">
                            <div class="sub-chat flex-1">
                                <h5 class="chat-head">{{getDate(chat.modified)}}</h5>
                                <div class="chat-time">{{getTime(chat.modified)}}</div>
                            </div>
                            <div class="flex-3 chat-right-box">
                                <div class="img-content d-flex">
                                    <img class="rounded-circle dp"
                                        [src]="chat.profile_image && chat.is_photo_verified ? generalService.getPractiotionerImageBaseUrl(chat.profile_image) : 'assets/images/users/avator-2.jpg'"
                                        [alt]="chat.first_name">
                                    <div>
                                        <h3 class="name">{{ chat.first_name +' '+ chat.last_name | limitTo:12}}</h3>
                                        <div class="designation">{{ellipsisify(chat.expertise.join(', '))}}</div>
                                    </div>
                                </div>
                                <div class="round">
                                    <i class="fas fa-comment-alt" (click)="goToChat(chat.user_id)"></i>
                                </div>
    
                                <button type="button" (click)="goToPractitioner(chat.id)"
                                    class="btn-box btn-warning btn-rounded">
                                    <i class="fa fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </ng-container>
                    <div *ngIf="!chats || chats.length === 0" class="head head-caption text-center">
                        <p>You have no recorded chats</p>
                        <p class="head">Find available practitioners and start a chat.</p>
                        <button class="btn-highlight">Start Chat</button>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <section class="font-family mt-5">
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="yoga-container">
                    <div class="d-flex justify-content-between header">
                        <h1 class="interest">Interests</h1>
                        <h1 class="see"><a routerLink="/view-interests" style="color: #074d63;">see all →</a></h1>
                    </div>
    
                    <ng-container *ngFor="let interest of interestData | slice: 0:2; let i = index">
                        <div class="yoga-content">
                            <app-expertise-view class="w-100" [showRemove]="true" [interest]="interest" [cover_photo]="interest.cover_photo"
                                [description]="interest.description" [interest_title]="interest.interest"
                                (getUpdatedExpertise)="getCustomerInterestList()"></app-expertise-view>
                        </div>
                        <!-- <div class="yoga-content">
                            <div class="yoga">
                                <img class="w-100"
                                    [src]="interest.cover_photo?generalService.getAdminImageBaseUrl(interest.cover_photo) : 'assets/images/users/avator-2.jpg'"
                                    [alt]="interest.interest + ' image'">
                            </div>
                            <div class="card-yoga">
                                <div class="title archive-text" [popover]="archiveTemplate" placement="left"
                                    (click)="selectInterest(interest)">
                                    <img class="p-dot h-more-width" src="../../../../assets/images/h-more.svg" />
                                </div>
                                <div class="head-yoga">{{ interest.interest | limitTo:17 }}</div>
                                <div class="para">{{interest.description | limitTo:17 }}</div>
                            </div>
                        </div> -->
                    </ng-container>
                    <ng-template #archiveTemplate>
                        <div class="action-popover">
                            <span class="restore-archive" (click)="deleteInterest(selectedInterest)">Remove
                                Interest</span>
                        </div>
                    </ng-template>
                    <div *ngIf="!interestData || interestData.length === 0" class="no-data-available">
                        <p>Data Not Available</p>
                    </div>
                    <button type="button" [routerLink]="['/view-interests']"
                        class="btn-block btn btn-warning btn-rounded">
                        + Add New Interest
                    </button>
                </div>
            </div>
            <div class="col-12 col-lg-9">
                <div class="font-family right-container">
                    <div class="graph-mood-container">
                        <div class="graph">
                            <div class="d-flex justify-content-between header">
                                <div class="graph-head">Time spent on the platform</div>
                                <div class="share">Share
                                    <i class="fas fa-external-link-alt"></i>
                                </div>
                            </div>
    
                            <div class="graphi d-graph">
                                <app-bar-chart [labels]="['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa']" [data]="chartData">
                                </app-bar-chart>
                            </div>
                        </div>
    
                        <div class="mood-container">
                            <h1 class="mood header">My MoodMeter</h1>
                            <div class="emoji-container">
                                <ng-container *ngFor="let mood of customer.Mood_Type; let i = index">
                                    <div class="emoji" *ngIf="i<2" [ngSwitch]="mood.mood">
                                        <ng-template [ngSwitchCase]="'Happy'">
                                            <img class="emoji-img" src="assets/images/happy1.png">
                                        </ng-template>
                                        <ng-template [ngSwitchCase]="'Calm'">
                                            <img class="emoji-img" src="assets/images/calm2.png">
                                        </ng-template>
                                        <ng-template [ngSwitchCase]="'Grateful'">
                                            <img class="emoji-img" src="assets/images/emojis.png">
                                        </ng-template>
                                        <ng-template [ngSwitchCase]="'Surprised'">
                                            <img class="emoji-img" src="assets/images/Surprised1.png">
                                        </ng-template>
                                        <ng-template [ngSwitchCase]="'Energized'">
                                            <img class="emoji-img" src="assets/images/happy1.png">
                                        </ng-template>
                                        <ng-template [ngSwitchCase]="'Sleepy'">
                                            <img class="emoji-img" src="assets/images/sleepy.png">
                                        </ng-template>
                                        <p class="sub-head">{{mood.mood}}</p>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
    
                    <!-- *ngIf="customer.total_sessions_this_month>0 || customer.moods_checkin_this_month>0 || customer.chats_this_month>0" -->
                    <div class="this-month" *ngIf="customer.total_sessions_this_month>0 || customer.moods_checkin_this_month>0 || customer.chats_this_month>0">
    
                        <h5 class="session-head">This month</h5>
                        <div class="session">
    
                            <h1 class="sess">Sessions</h1>
                            <p class="sess-list">{{ customer.total_sessions_this_month || 0 }} new sessions</p>
                            <div class="info">
                                <i
                                    [ngClass]="['fas', 'fa-chevron-'+(customer.average_session_percentage < 0 ? 'down' : 'up')]"></i>
                                <div class="no">{{ customer.average_session_percentage || 0}}%</div>
                            </div>
                        </div>
    
                        <div class="session">
                            <h1 class="sess">Check-ins</h1>
                            <p class="sess-list">{{ customer.moods_checkin_this_month || 0 }} mood check-ins</p>
                            <div class="info">
                                <i
                                    [ngClass]="['fas', 'fa-chevron-'+(customer.average_moods_percentage < 0 ? 'down' : 'up')]"></i>
                                <div class="no">{{ customer.average_moods_percentage || 0 }}%</div>
                            </div>
                        </div>
    
                        <div class="session">
                            <h1 class="sess">Chats</h1>
                            <p class="sess-list">{{ customer.chats_this_month || 0}} chats</p>
                            <div class="info">
                                <i
                                    [ngClass]="['fas', 'fa-chevron-'+(customer.average_chat_percentage < 0 ? 'down' : 'up')]"></i>
                                <div class="no">{{ customer.average_chat_percentage || 0 }}%</div>
                            </div>
                        </div>
                    </div>
    
                    <div class="this-month-no-data">
                        <!-- *ngIf="customer.total_sessions_this_month == 0 && customer.moods_checkin_this_month ==0 && customer.chats_this_month==0" -->
                        <div class="d-flex flex-column justify-content-center" *ngIf="customer.total_sessions_this_month == 0 && customer.moods_checkin_this_month ==0 && customer.chats_this_month==0">
                            <p>You have no current statistics</p>
                            <p class="head mb-0">Check in after your chat sessions to compile<br> information about your
                                wellness.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>