
@import"../../../../assets/scss/practitioner.scss";

.customer-dashboard-container {
  padding: 38px 60px 10px 146px;
  background: #ffffff;
  @include screen ('xs'){
    padding: 116px 15px 70px 15px;
  }
  .no-data{
    min-height: 290px;
    width: 30%;
  }
  .upcoming-session {
    // width: 30%;
   

    .img-content {
      margin-bottom: 24px;
    }
  }

  i.fa,
  i.fas {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;

    &.fa-phone-alt {
      color: #fcd7d7;
    }

    &.fa-video {
      color: #fbd036;
    }
  }

  .top-container {
    display: flex;
    margin-bottom: 62px;
    @include screen ('xs'){
      flex-direction: column;
    }
  }

  .head {
    font-family: 'FFMarkWebProBook';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #074d63;
    margin-bottom: 24px;
  }

  .btn-highlight{
    background: #FBD036;
    border-radius: 20px;
    padding: 20px 40px;
    border: none;
    font-weight: 700;
    color: #074D63;
  }

  .btn-theme{
    background: #00BAD5;
    border-radius: 20px;
    padding: 20px 40px;
    border: none;
    font-weight: 700;
    color: #FFFFFF;
  }

  .appoinment {
    padding: 25px;
    background: rgba(255, 244, 227, 0.5);
    border-radius: 40px;
    @include screen ('xs'){
      margin-bottom: 25px;
    } 
  }

  .head-caption{
    color: #6d6d6d !important;
    font-weight: normal !important;
  }

  .your-next-appoinment {
    width: 157px;
    font-family: 'FFMarkWebProBook';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #6d6d6d;
    margin-bottom: 16px;
  }

  .dp {
    position: static;
    width: 40px;
    height: 40px;
    left: 0px;
    top: 0px;
    float: left;

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .img-content {
    img {
      margin-right: 20px;
    }
  }

  .name {
    font-family: 'FFMarkWebProBook';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    color: #074d63;
  }

  .designation {
    font-family: 'FFMarkWebProBook';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;

    color: #6d6d6d;
  }

  .talk {
    font-family: 'Healspace font';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #074d63;
    flex: none;
    order: 0;
    margin-bottom: 20px;
  }

  .about {
    margin-bottom: 10px;
  }

  .sub-main-head {
    display: inline-block;
    margin-right: 64px;
  }

  .sub-main-head1 {
    display: inline-block;
  }

  .sub-head {
    font-family: 'FFMarkWebProBook';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    color: #00bad5;
    margin: 2px 0px;
  }

  .time {
    font-family: 'FFMarkWebProBook';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    color: #074d63;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 2px 0px;
  }

  .btn-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 30px;
    background: #00bad5;
    border-radius: 20px;
    max-width: 120px;
    font-family: 'FFMarkWebProBook';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    border: none;
  }

  .contact {
    display: flex;
  }

  .header {
    margin-bottom: 24px;
  }

  .right-container {
    flex-grow: 1;
    @include screen ('xs'){
      margin-top:25px;
    }
  }

  .chat {
    font-family: 'FFMarkWebProBook';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;

    color: #074d63;
  }

  .see {
    font-family: 'FFMarkWebProBook';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;

    color: #074d63;
  }

  .chat-list {
    background: #ffffff;
    box-shadow: 0px 15px 30px rgb(0 0 0 / 5%);
    border-radius: 20px;
    padding: 18px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .round {
      color: #00bad5;
      font-size: 16px;
      cursor: pointer;

      i.fas {
        background: #fafafa;
      }
    }
  }

  .chat-head {
    font-family: 'FFMarkWebProBook';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    color: #6d6d6d;

    margin: 2px 0px;
  }

  .chat-time {
    font-family: 'FFMarkWebProBook';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    color: #6d6d6d;
  }

  .msg {
    background: #00bad5;
    width: 5%;
  }

  .submission {
    display: flex;
    // justify-content: space-between;
  }

  .btn-box {
    width: 30px;
    height: 30px;
    background: #00bad5;
    border-radius: 10px;
    font-family: 'FFMarkWebProBook';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    border: none;
    color: #ffffff;

    i {
      background: none;
      box-shadow: none;
      display: inline-block;
      margin-left: 0;
      width: auto;
      height: auto;
    }
  }

  .interest {
    font-family: 'FFMarkWebProBook';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;

    color: #074d63;
  }

  .yoga-container {
   

    .btn-block {
      width: 100%;
      max-width: 100%;
      height: 60px;
    }

    .yoga-content {
      display: flex;
      margin-bottom: 24px;
    }

    .yoga {
      border-radius: 20px 0px 0px 20px;
      width: 40%;
      height: 108px;
      overflow: hidden;
      /* flex: 1; */
      display: flex;
    }

    .card-yoga {
      padding: 0 20px 30px 20px;
      background: rgba(252, 215, 215, 0.2);
      border-radius: 0 20px 20px 0;
      height: 108px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      /* flex: 1; */
      width: 60%;

      .dot {
        font-size: 10px;
        cursor: pointer;
      }
    }

    .head-yoga {
      font-family: 'BelyDisplay-Regular';
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 30px;
      white-space: nowrap;
      text-align: right;

      color: #074d63;
    }

    .para {
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 15px;

      text-align: right;

      color: #074d63;
    }
  }

  .graph-head {
    width: 190px;
    height: 18px;
    left: 600px;
    top: 596px;

    font-family: 'FFMarkWebProBook';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;

    color: #074d63;
  }



  .this-month {
    background: #fff4e3;
    border-radius: 40px;
    padding: 20px 70px;
    font-family: 'FFMarkWebProBook';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    i.fas {
      color: #ffffff;
      margin-left: 0;
      margin-right: 6px;

      &.fa-chevron-up {
        background: #00bad5;
      }

      &.fa-chevron-down {
        background: #074d63;

        &~.no {
          color: #074d63;
        }
      }
    }

    .session {
      width: 33%;
    }

    .session-head {
      color: #074d63;
      width: 100%;
    }

    .sess {
      font-family: 'BelyDisplay-Regular';
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;

      color: #074d63;
    }

    .sess-list {
      color: #6d6d6d;
    }

    .info {
      display: flex;
      align-items: center;
    }

    .no {
      color: #00bad5;
    }
  }

  .this-month-no-data {
    background: #fff4e3;
    border-radius: 40px;
    padding: 20px 70px;
    font-family: 'FFMarkWebProBook';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    height: 169px;
  }

  .graph-mood-container {
    display: flex;
    margin-bottom: 32px;
    @include screen ('xs'){
      flex-direction: column;
      margin-bottom: 15px;
    }
    .graph {
      flex: 1;
      margin-right: 45px;
      @include screen ('xs'){
        margin-right: 0px;
      }
    }

    .header {
      margin-bottom: 14px;
    }

    .mood-container {
      width: 30%;

      .mood {
        width: 100%;
        height: 18px;
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;

        color: #074d63;
      }

      .emoji-container {
        display: flex;
        justify-content: space-between;
      }

      .emoji {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 91px;
        height: 107px;
        background: rgb(0, 186, 213, 0.05);
        border-radius: 20px;
      }

      .emoji-img {
        width: 44px;
        height: 44px;
        font-size: 44px;
        background: #FFCE07;
        color: #562A15;
        margin-bottom: 10px;
        border-radius: 20px;
      }

      .sub-head {
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 15px;
        /* identical to box height, or 150% */

        color: #074d63;
      }
    }
  }

  .share {
    font-family: 'FFMarkWebProBook';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    color: #00bad5;

    i {
      background: none;
      box-shadow: none;
      display: inline-block;
      margin-left: 8px;
      width: auto;
      height: auto;
    }
  }

  .call-icon {
    top: 83%;
    bottom: 0%;
    background: #fcd7d7;
    height: 40px;
  }
}




.d-graph {
 canvas{
   height: 140px !important;
 }
}