.appoinment-box {
    display       : flex;
    flex-direction: row;
    align-items   : flex-start;
    padding       : 40px;
    width         : 360px;
    height        : 330px;
    margin        : 0 auto;
    background    : #FFF4E3;
    position: relative;
    z-index: 333;
    border-radius : 40px;

    @media all and (min-width:320px) and (max-width: 1199px) {
        width: 100%;
    }
}

.v1-live {
    &__title {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 14px;
        line-height: 18px;
        color      : #074D63;
        margin-left: 3%;
    }

    &__heading {
        font-family: "healspace font";
        font-style : normal;
        font-weight: normal;
        font-size  : 24px;
        line-height: 30px;
        color      : #074D63;

        display: -webkit-box;
        // max-width: 200px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @media all and (min-width:320px) and (max-width: 1199px) {
            margin-bottom: 8px;
            font-size    : 16px;
            line-height  : 22px;
        }

        &__userimg {
            width        : 40px;
            height       : 40px;
            border-radius: 50%;
        }
    }

    &__name {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 16px;
        line-height: 20px;
        color      : #074D63;

        @media all and (min-width:768px) and (max-width: 1199px) {
            font-size: 14px;
        }


    }

    &__designation {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 12px;
        line-height: 16px;
        color      : #6D6D6D;

        @media all and (min-width:768px) and (max-width: 1199px) {
            margin-bottom: 8px;
        }

    }

    &__month-info {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 16px;
        line-height: 20px;
        color      : #00BAD5;
    }

    &__time {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 14px;
        line-height: 18px;
        color      : #074D63;
    }

    &__info {
        display        : flex;
        flex-direction : row;
        justify-content: center;
        align-items    : center;
        background     : #00bad5;
        border-radius  : 20px;
        font-family    : "FFMarkWebProBook";
        border         : none;
        width: 94px;
        height: 40px;
        font-style     : normal;
        font-weight    : bold;
        font-size      : 14px;
        line-height    : 18px;
        color          : #FFFFFF;

    }

    &:hover {
        border    : none;
        box-shadow: none;
    }

    &__default {
        display        : flex;
        flex-direction : row;
        justify-content: center;
        align-items    : center;
        background     : #fff;
        border-radius  : 20px;
        font-family    : "FFMarkWebProBook";
        border         : none;

        border : 1px solid #fff;
        width  : 148px;
        height : 40px;
        padding: 20px;


        font-style : normal;
        font-weight: bold;
        font-size  : 14px;
        line-height: 18px;
        /* identical to box height, or 129% */


        /* White */

        color: #074D63;
        &:hover {
            border    : none;
            box-shadow: none;
        }

    }
} 


.v1-live-banner {
    background-image : url(../../../../../assets/images/Rectangle-45.png);
    height: 330px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    position: relative;
    left: -32px;
    z-index: 0;
}