<div class="row">
    <div class="col-lg-5 p-0">
        <div class="col-lg-4 col-md-6 col-xs-12 font-family mb-3">
            <div class="appoinment-box">
                <div>
                    <p class="v1-live__heading">Live Class title will be displayed extended on <br>
                        three
                        rows
                        maximum!</p>

                    <div class="col-lg-12 p-0">
                        <h5 class="v1-live__month-info">2 March</h5>
                        <p class="v1-live__time">2:00 pm | Duration: 1 h | 100 atendees</p>
                    </div>
                    <div class="col-lg-12 p-0 mb-3">
                        <!-- <span class="v1-live__time">Price: </span> -->
                        <span class="v1-live__month-info">Fee: $5</span>
                    </div>

                    <div class="row mx-0">
                        <button type="button" class="btn v1-live__info">
                            Preview
                        </button>
                        <button type="button" class="btn v1-live__default ml-2">
                            Edit Live Class
                        </button>
                    </div>

                </div>

            </div>
        </div>

    </div>
    <div class="col-lg-6 p-0">

        <div class="v1-live-banner"></div>
    </div>
</div>