<div class="pik-user">
    <div class="d-flex align-items-center justify-content-between">
        <div class="pik-user__user-img">
            <img style="width: 100%; height: 100%; border-radius: 20px 0 0 20px;"
                src="{{cover_photo ? 'https://healplace-s3-admin.s3.amazonaws.com/'+cover_photo : 'assets/images/shutterstocked.jfif'}}">
            <!-- <img src="../../../../assets/images/Rectangle 290.png"> -->
        </div>
        <div class="pik-user__user-info">
            <div *ngIf="!showRemove">
                <span [hidden]="!checked"> <i class="color-theme far fa-check-circle"></i></span>
            </div>
            <div *ngIf="showRemove" [popover]="archiveTemplate" placement="left" (click)="selectInterest(interest)">
                <img class="p-dot h-more-width" src="../../../../assets/images/h-more.svg" />
            </div>
             
            <div>
                <div class="pik-user__user-name">
                    <p> {{interest_title}} </p>
                </div>
            </div>

            <p class="pik-user__user-detail">
                {{description}}
            </p>
        </div>
    </div>
</div>

<ng-template #archiveTemplate>
    <div class="action-popover">
        <span class="restore-archive" (click)="deleteInterest()">Remove
            Interest</span>
    </div>
</ng-template>