.pik-user {
    background   : rgba(252, 215, 215, 0.2);
    border-radius: 20px;

    &__user-img{
        width: 146px;
height: 108px;
    }

    &__user-info{
        width: 200px;
        height: 108px;
        padding: 5px 15px;
        text-align: right;
    }

    &__user-name {
        font-family: 'healspace font';
        font-style : normal;
        font-weight: normal;
        font-size  : 16px;
        line-height: 30px;
        /* identical to box height, or 187% */

        text-align: right;

        /* Secondary */

        color: #074D63;
        // width: 215px;
        // white-space: nowrap;
        // overflow: hidden;
        // text-overflow: ellipsis;

        p{
            // width: 177px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
        }
      
    }

    &__user-detail {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 10px;
        line-height: 15px;
        /* identical to box height, or 150% */

        text-align: right;

        /* Secondary */

        color: #074D63;

    }
}