.modal-header {
    border-bottom: 1px solid transparent !important;
}

.join-free {
    &__title {
        font-family: 'healspace font';
        font-style : normal;
        font-weight: normal;
        font-size  : 40px;
        line-height: 45px;
        /* identical to box height, or 112% */

        text-align: center;

        /* Secondary */

        color: #074D63;
    }

    &__sm-des {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 16px;
        line-height: 20px;
        /* or 125% */

        text-align: center;

        /* Secondary */

        color: #074D63;

    }
}

.modal-input {
    width           : 100%;
    background      : #FAFAFA;
    border-radius   : 20px;
    height          : 60px;
    border          : 1px solid #FAFAFA;
    // box-shadow   : 0px 30px 50px rgb(0 0 0 / 6%);
    font-weight     : bold;
    font-size       : 14px;
    line-height     : 18px;
    color           : #074D63;
    padding         : 6px 24px;
}

.confirm-modal-button {
    color     : #074D63;
    background: #FFFFFF;
    box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.15);
    border    : 1px solid #074D63;

    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    padding        : 20px 15px;
    border-radius  : 20px;
    font-size      : 16px;
    line-height    : 20px;
    font-weight    : bold;
    width          : 270px;
    @media screen and (max-width: 767px) and (min-width: 320px) {
        width: 100%;
    }
}

.modal-button {
    color     : #074D63;
    background: #FAFAFA;
    ;
    // box-shadow     : 0px 30px 80px rgba(0, 0, 0, 0.15);
    border            : 1px solid #FAFAFA;
    width             : 135px;
    height            : 60px;
    // display        : flex;
    // flex-direction : row;
    // justify-content: center;
    // align-items    : center;
    // padding        : 20px 40px;
    border-radius     : 12px;

    font-family: 'FFMarkWebProBook';
    font-style : normal;
    font-weight: bold;
    font-size  : 20px;
    line-height: 20px;
    /* identical to box height, or 100% */

    text-align: center;

}

.modal-button-primary {
    color     : #fff;
    background: #00BAD5;
    ;
    // box-shadow     : 0px 30px 80px rgba(0, 0, 0, 0.15);
    border            : 1px solid #00BAD5;
    width             : 135px;
    height            : 60px;
    // display        : flex;
    // flex-direction : row;
    // justify-content: center;
    // align-items    : center;
    // padding        : 20px 40px;
    border-radius     : 12px;

    font-family: 'FFMarkWebProBook';
    font-style : normal;
    font-weight: bold;
    font-size  : 20px;
    line-height: 20px;
    /* identical to box height, or 100% */

    text-align: center;

}

.modal-padding {
    padding: 40px 20px;

    @media screen and (max-width: 767px) and (min-width: 320px) {

        padding: 15px;
    }
}

.class-group {
    margin-bottom: 25px;
}

.icon-font {
    font-size: 40px;
}

.support {
    &__title {
        font-family: 'healspace font';
        font-style : normal;
        font-weight: normal;
        font-size  : 24px;
        line-height: 30px;
        text-align : center;
        color      : #074D63;
    }

    &__sm-des {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 16px;
        line-height: 20px;
        /* identical to box height, or 125% */

        text-align: center;

        /* Secondary */

        color: #074D63;
    }

    &__choose {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 16px;
        line-height: 20px;
        /* identical to box height, or 125% */

        text-align: center;

        /* Secondary */

        color: #074D63;
    }

    &__cong {
        font-family: 'healspace font';
        font-style : normal;
        font-weight: normal;
        font-size  : 40px;
        line-height: 45px;
        /* or 112% */

        text-align: center;

        /* Secondary */

        color: #074D63;

    }

    &__cong-sm {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 16px;
        line-height: 20px;
        /* identical to box height, or 125% */

        text-align: center;

        /* Secondary */

        color: #074D63;
    }

    &__thank {
        font-family: 'healspace font';
        font-style : normal;
        font-weight: normal;
        font-size  : 24px;
        line-height: 30px;
        /* identical to box height, or 125% */

        text-align: center;

        /* Secondary */

        color: #074D63;

    }

    &__thank-support {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 16px;
        line-height: 20px;
        /* identical to box height, or 125% */


        /* Secondary */

        color: #074D63;
    }
    &__get{
        font-family: 'healspace font';
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 45px;
/* or 112% */

text-align: center;

/* Secondary */

color: #074D63;
    }
    &__get-des{
        font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* or 125% */

text-align: center;

/* Secondary */

color: #074D63;

    }
}

.card-bg {
    background   : #FAFAFA;
    border-radius: 20px;
    padding      : 40px;
}

.card-text {
    font-family: 'FFMarkWebProBook';
    font-style : normal;
    font-weight: bold;
    font-size  : 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    text-align: center;

    /* Secondary */

    color: #074D63;
}



.star-yellow {
    color     : #FBD036;
    font-size : 25px;
    text-align: center;

    &:hover,
    &.active {
        color  : #6D6D6D;
        opacity: 0.5;
    }
}

.modal-border {
    background: #6D6D6D;
    opacity   : 0.1;
    height    : 1px;
}


.modal-button-get {
    color     : #074D63;
    background: #FFFFFF;
    // box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.15);
    border    : 1px solid #074D63;

    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    padding        : 20px 15px;
    border-radius  : 20px;
    font-size      : 16px;
    line-height    : 20px;
    font-weight    : bold;
    width          : 170px;
    @media screen and (max-width: 767px) and (min-width: 320px) {
        width: 100%;
    }

}



.donate-sm {
    &__heading {
        font-family: 'healspace font';
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 45px;
        text-align: center;
        color: #074D63;
    }

    &__md {
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        color: #074D63;
        a{
            text-decoration: underline;
        }
    }

    &__planet {
        position: absolute;
        width   : 458.68px;
        height  : 458.68px;
        left    : -41px;
        top     : 142.46px;
        background: linear-gradient(180deg, #00BAD5 0%, rgba(245, 138, 37, 0) 100%, #7061A3 100%);
        filter    : blur(100px);
        transform : rotate(-120.5deg);
    }

    &__eclipse {
        position: absolute;
        width   : 500.86px;
        height  : 500.86px;
        left    : 90px;
        top     : 280px;
        background: linear-gradient(180deg, #FBD036 0%, rgba(255, 197, 111, 0.46) 100%);
        filter    : blur(200px);
        transform : rotate(-120.5deg);
    }

    &__blue-dot {
        position     : absolute;
        width        : 21px;
        height       : 21px;
        right        : 4%;
        top          : 100px;
        background   : #00BAD5;
        transform    : matrix(-1, 0, 0, 1, 0, 0);
        border-radius: 50%;
    }

    &__forgot {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 16px;
        line-height: 18px;
        text-decoration-line: underline;
        color: #6D6D6D;
        opacity: 0.8;
    }

    &__other {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 16px;
        line-height: 20px;
        color: #000000;
        flex     : none;
        order    : 0;
        flex-grow: 0;
        margin   : 0px 32px;
    }

    &__social {
        width : 48px;
        height: 48px;
        left  : 0px;
        top   : 0px;
        background: #FFFFFF;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5px;
    }
}

.sign-up-input {
    background: #FAFAFA;
    border-radius: 20px;
    font-family  : 'FFMarkWebProBook';
    font-style   : normal;
    font-weight  : normal;
    font-size    : 16px;
    line-height  : 20px;
    color        : #074D63;
    display        : block;
    width          : 100%;
    height         : 60px;
    padding        : 8px 20px;
    background-clip: padding-box;
    border         : 1px solid #FAFAFA;
    transition     : border-color 0.15s ease-in-out,
}


