<div class="modal-body">
    <div>
        <button type="button" class="btn-close close pull-right">
            <span aria-hidden="true" class="visually-hidden" (click)="modalService.dismissAll()">&times;</span>
        </button>
    </div>
    <div class="m-auto" *ngIf="step==1">
        <div class="modal-padding">
            <div class="col-lg-12 class-group text-center">  
                <img  src="{{data.practitioner_image? generalService.getPractiotionerImageBaseUrl(data.practitioner_image) : 'assets/images/bg/Frame 407.png'}}" alt="Header Avatar">
            </div>
    
            <h5 class="support__title">Support to {{data.first_name}} {{data.last_name}}</h5>
            <p class="support__sm-des">Support this practitioner! Your donation is highly appreciated.</p>
            <p class="support__choose">Choose donation</p>
    
            <div class="row col-lg-12 class-group">
                <button type="button" class="m-auto" (click)="donateToPractitioner('1.99',1)" [ngClass]="{' modal-button-primary ':valueIndex==1,' modal-button ':valueIndex==0||valueIndex==2||valueIndex==3}">$ 1.99 </button>
                <button type="button" class="m-auto" (click)="donateToPractitioner('5.99',2)" [ngClass]="{' modal-button-primary ':valueIndex==2,' modal-button ':valueIndex==0||valueIndex==1||valueIndex==3}">$ 5.99 </button>
                <button type="button" class="m-auto" (click)="donateToPractitioner('19.99',3)" [ngClass]="{' modal-button-primary ':valueIndex==3,' modal-button ':valueIndex==0||valueIndex==1||valueIndex==2}">$ 19.99</button>
            </div>
        </div>
    </div>

    <div *ngIf="step==2">
        <div class="modal-padding">
            <div class="col-lg-12 class-group text-center">  
                <img  src="{{data.practitioner_image? generalService.getPractiotionerImageBaseUrl(data.practitioner_image) : 'assets/images/bg/Frame 407.png'}}" alt="Header Avatar">
            </div>
    
            <h5 class="support__title">Donate to {{data.first_name}} {{data.last_name}}</h5>
            <form name="JoinClassForm" spellcheck="false" autocomplete="off" (ngSubmit)="enterForm(JoinClassForm)"
                #JoinClassForm="ngForm">
                <div class="row col-lg-12 class-group">
                    <div class="card-bg col-lg-12  mb-4">
                        <p class="card-text pb-5"> Choose Payment Method </p>
                        <div class="row justify-content-between">
            
                            <div class="form-check">
                                <label>
                                    <input type="checkbox" name="paymentCheckbox"
                                        (click)="selectPaymentType(payment_types.CreditCard)"> 
                                        <span class="label-text card-text"
                                            [ngClass]="{'ng-error': JoinClassForm.submitted && payment_type == payment_types.None}">Credit card</span>
                                </label>
                            </div>
                            <!-- <div class="form-check">
                                <label>
                                    <input type="checkbox" name="paymentCheckbox" (click)="selectPaymentType(payment_types.Paypal)"
                                        [checked]="payment_type === payment_types.Paypal"> <span
                                        class="label-text card-text">Paypal</span>
                                </label>
                            </div>
            
                            <div class="form-check">
                                <label>
                                    <input type="checkbox" name="paymentCheckbox" [checked]="payment_type === payment_types.Other"
                                        (click)="selectPaymentType(payment_types.Other)"> <span
                                        class="label-text card-text">Other</span>
                                </label>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-lg-12 border-form-grey py-2">&nbsp;</div>
                    <app-card-form #validateChildComponentForm (isChildFormValid)="isChildFormValid($event)"
                        [joinClass]="joinClass"></app-card-form>
            
                    <div class="col-lg-12 class-group text-center">
                        <button type="submit" class="confirm-modal-button m-auto">Confirm Donation  <i
                                class="ml-2 fa fa-arrow-right"></i></button>
                    </div>
            
                </div>
            </form>
        </div>
    </div>
</div>