<div class="s-practitioner">
    <app-header></app-header>
    <div class="container top-space-tb ">
        <div class="d-flex justify-content-center ">
            <div class="col-lg-12 p-0">
                <p class="s-practitioner__title pb-5">Find what you’re looking for?</p>
                <div class="d-flex justify-content-center col-12 p-0">
                    <form class="example pb-5">
                        <input type="text" placeholder="Search keyword for practitioners" name="search">
                        <button type="submit" class="s-btn">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <div>
            <p class="s-practitioner__count pt-5">
                15 of 1289 practitioners
            </p>
        </div>

        <div class="container py-3 px-0 p-res-15">
            <div class="row align-items-center justify-content-between">
                <div class="" dropdown container="body" placement="bottom left">
                    <div id="login-container" dropdownToggle class="dropdown-toggle v2-form-input"
                        aria-controls="dropdown-container">Conditions</div>
                    <ul id="dropdown-container1" *dropdownMenu class="conditions dropdown-menu dropdown-menu-left "
                        role="menu" aria-labelledby="login-container">
                        <li role="menuitem" class=" " *ngFor="let condition of conditions">
                            <div class="form-check">
                                <label>
                                    <input type="checkbox"> <span class="label-text">{{condition.Name}}</span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="" dropdown container="body" placement="bottom left">
                    <div id="login-container" dropdownToggle class="dropdown-toggle v2-form-input"
                        aria-controls="dropdown-container">Specialties</div>
                    <ul id="dropdown-container1" *dropdownMenu class="specialties dropdown-menu dropdown-menu-left"
                        role="menu" aria-labelledby="login-container">
                        <li role="menuitem" *ngFor="let specialty of specialties">
                            <div class="form-check">
                                <label>
                                    <input type="checkbox"> <span class="label-text">{{specialty.Name}}</span>
                                </label>
                            </div>

                        </li>
                    </ul>
                </div>

                <div class="" dropdown container="body" placement="bottom left">
                    <div id="login-container" dropdownToggle class="dropdown-toggle v2-form-input"
                        aria-controls="dropdown-container">Price</div>
                    <ul id="dropdown-container2" *dropdownMenu class="prices dropdown-menu dropdown-menu-left"
                        role="menu" aria-labelledby="login-container">
                        <div class="col-lg-12">
                            <div class="double-slider">
                                <input type="range" name="range_from" class="from" value="0" min="0" max="150"
                                    data-prev-value="0">
                                <div class="progressbar_from"></div>
                                <input type="range" name="range_to" class="to" value="150" min="0" max="150"
                                    data-prev-value="150">
                                <div class="progressbar_to"></div>

                                <span class="value-output from">0</span>
                                <span class="value-output to">150</span>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between col-lg-12">
                            <button class="s-btn__white">Cancel</button>
                            <button class="s-btn__primary ">Done</button>
                        </div> 
                    </ul>
                </div>

                <div class="" dropdown container="body" placement="bottom left">
                    <div id="login-container" dropdownToggle class="dropdown-toggle v2-form-input"
                        aria-controls="dropdown-container">Price</div>
                    <ul id="dropdown-container2" *dropdownMenu class="rating dropdown-menu dropdown-menu-left"
                        role="menu" aria-labelledby="login-container">
                        <div>
                            <div class="form-check">
                                <label>
                                    <input type="checkbox"> <span class="label-text">4 and Up <i
                                            class="fa fa-star text-yellow"></i><i class="fa fa-star text-yellow"></i><i
                                            class="fa fa-star text-yellow"></i><i class="fa fa-star text-yellow"></i><i
                                            class="fa fa-star text-yellow"></i> (3)</span>
                                </label>
                            </div>

                            <div class="form-check">
                                <label>
                                    <input type="checkbox"> <span class="label-text">4 and Up <i
                                            class="fa fa-star text-grey"></i><i class="fa fa-star text-grey"></i><i
                                            class="fa fa-star text-grey"></i><i class="fa fa-star text-grey"></i><i
                                            class="fa fa-star text-grey"></i> (3)</span>
                                </label>
                            </div>
                            <div class="form-check">
                                <label>
                                    <input type="checkbox"> <span class="label-text">4 and Up <i
                                            class="fa fa-star text-grey"></i> <i class="fa fa-star text-grey"></i><i
                                            class="fa fa-star text-grey"></i><i class="fa fa-star text-grey"></i><i
                                            class="fa fa-star text-grey"></i>(3)</span>
                                </label>
                            </div>
                        </div>
                    </ul>
                </div>


                <div class="map">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
            </div>
        </div>

        <!-- <div class="container p-0">
            <div class="row mx-0 search">
                <div class="fev-box" *ngFor="let practitioner of practitioner?.practitioner_list?.data">
                    <app-practitioners id="practitioner.practitioner_id" [id]="practitioner.practitioner_id" [showRemove]="false" [image]="practitioner.practitioner_profile_image" [firstname]="practitioner.practitioner_firstname"
                    [rating]="practitioner.practitioner_rating" [ratecount]="practitioner.practitioner_rate_count"
                    [firstname]="practitioner.practitioner_firstname" [lastname]="practitioner.practitioner_lastname"
                    [expertise]="practitioner.practitioner_expertise[0]" [startingprice]="practitioner.starting_price"></app-practitioners>
                </div>
            </div>
            
            <div class="container" *ngIf="practitioner.practitioner_count>dataLimit">
                <div class="dt-pagination d-flex">
                    <pagination [boundaryLinks]="false" [itemsPerPage]=itemsPerPage [rotate]="false" [maxSize]=maxSize
                        (pageChanged)="getPractitionerList($event.page)" [totalItems]="practitioner.practitioner_count"
                        previousText="&lsaquo;" nextText="&rsaquo;">
                    </pagination>
                    <span class="pegination-result">{{practitioner.practitioner_count}} results</span>
                </div>
            </div>
        </div> -->
    </div>
</div>

<div class="header-top-section-bg">
    <div class="container p-0">
        <div class="row mx-0 search">
            <div class="fev-box" *ngFor="let practitioner of practitioner?.practitioner_list?.data">
                <app-practitioners id="practitioner.practitioner_id" [id]="practitioner.practitioner_id" [showRemove]="false" [image]="practitioner.practitioner_profile_image" [firstname]="practitioner.practitioner_firstname"
                [rating]="practitioner.practitioner_rating" [ratecount]="practitioner.practitioner_rate_count"
                [firstname]="practitioner.practitioner_firstname" [lastname]="practitioner.practitioner_lastname"
                [expertise]="practitioner.practitioner_expertise[0]" [startingprice]="practitioner.starting_price"></app-practitioners>
            </div>
        </div>
        
        <div class="container" *ngIf="practitioner.practitioner_count>dataLimit">
            <div class="dt-pagination d-flex">
                <pagination [boundaryLinks]="false" [itemsPerPage]=itemsPerPage [rotate]="false" [maxSize]=maxSize
                    (pageChanged)="getPractitionerList($event.page)" [totalItems]="practitioner.practitioner_count"
                    previousText="&lsaquo;" nextText="&rsaquo;">
                </pagination>
                <span class="pegination-result">{{practitioner.practitioner_count}} results</span>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>