.header-top-section-bg {
    padding-bottom     : 100px;
    background-image   : url(../../../../assets/images/bg/search-page-bg.svg);
    background-position: center;
    background-size    : cover;
    background-repeat  : no-repeat;
}

.top-space-tb {
    padding-top   : 50px;
    padding-bottom: 50px;
}

.s-practitioner {
    background: #F8F8F8;

    &__title {
        font-family: 'healspace font';
        font-style : normal;
        font-weight: normal;
        font-size  : 40px;
        line-height: 45px;
        color      : #074D63;
        text-align : center;
        @media screen and (max-width: 767px) and (min-width: 320px) {
            font-size  : 20px!important;
            padding-bottom: 0!important;
        }
    }

    &__count {
        font-style : normal;
        font-weight: normal;
        font-size  : 20px;
        line-height: 36px;
        color      : #074D63;
    }
}


.map {
    width : 80px;
    height: 54px;

    background     : #FFFFFF;
    box-shadow     : 0px 40px 50px rgba(0, 0, 0, 0.04);
    border-radius  : 20px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    font-size      : 16px;
    color          : #074D63;
}

.fev-box:nth-child(odd) {
    margin-top: 40px;
}



label {
    // position: relative;
    // cursor: pointer;
    // color: #666;
    // font-size: 30px;

    // font-family: FF Mark Pro;
    font-style : normal;
    font-weight: normal;
    font-size  : 16px;
    line-height: 20px;

    /* Secondary */

    color: #074D63;


    /* Inside Auto Layout */

    flex     : none;
    order    : 1;
    flex-grow: 0;
    // margin: 0px 12px;
}

.form-check {
    position    : relative;
    display     : block;
    padding-left: 0 !important;
}

input[type="checkbox"],
input[type="radio"] {
    position: absolute;
    right   : 9000px;
}

/*Check box*/
input[type="checkbox"]+.label-text:before {
    content               : "\f096";
    font-family           : "FontAwesome";
    speak                 : none;
    font-style            : normal;
    font-weight           : normal;
    font-variant          : normal;
    text-transform        : none;
    line-height           : 1;
    -webkit-font-smoothing: antialiased;
    width                 : 1em;
    display               : inline-block;
    margin-right          : 5px;
}

input[type="checkbox"]:checked+.label-text:before {
    content  : "\f14a";
    color    : #00BAD5;
    animation: effect 250ms ease-in;
}

input[type="checkbox"]:disabled+.label-text {
    color: #aaa;
}

input[type="checkbox"]:disabled+.label-text:before {
    content: "\f0c8";
    color  : #ccc;
}

/*Radio box*/

input[type="radio"]+.label-text:before {
    content               : "\f10c";
    font-family           : "FontAwesome";
    speak                 : none;
    font-style            : normal;
    font-weight           : normal;
    font-variant          : normal;
    text-transform        : none;
    line-height           : 1;
    -webkit-font-smoothing: antialiased;
    width                 : 1em;
    display               : inline-block;
    margin-right          : 5px;
}

input[type="radio"]:checked+.label-text:before {
    content  : "\f192";
    color    : #8e44ad;
    animation: effect 250ms ease-in;
}

input[type="radio"]:disabled+.label-text {
    color: #aaa;
}

input[type="radio"]:disabled+.label-text:before {
    content: "\f111";
    color  : #ccc;
}

/*Radio Toggle*/

.toggle input[type="radio"]+.label-text:before {
    content               : "\f204";
    font-family           : "FontAwesome";
    speak                 : none;
    font-style            : normal;
    font-weight           : normal;
    font-variant          : normal;
    text-transform        : none;
    line-height           : 1;
    -webkit-font-smoothing: antialiased;
    width                 : 1em;
    display               : inline-block;
    margin-right          : 10px;
}

.toggle input[type="radio"]:checked+.label-text:before {
    content  : "\f205";
    color    : #16a085;
    animation: effect 250ms ease-in;
}

.toggle input[type="radio"]:disabled+.label-text {
    color: #aaa;
}

.toggle input[type="radio"]:disabled+.label-text:before {
    content: "\f204";
    color  : #ccc;
}


@keyframes effect {
    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(1.3);
    }

    75% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}














.double-slider {
    display        : flex;
    justify-content: space-between;
    height         : 50px;
    // width:70vw;
    position       : relative;
    margin         : 10vh auto;
    flex-wrap      : wrap-reverse;
}

.value-output {
    margin-top : 15px;
    // font-family: FF Mark Pro;
    font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */


/* Secondary */

color: #074D63;

}


.value-output.from:before {
    content: 'From: ';
}

.value-output.to:before {
    content: 'To: ';
}


.progressbar_from {
    position        : absolute;
    top             : -3px;
    left            : 0;
    height          : 5px;
    width           : 0;
    background-color: #e6e6e6;
    z-index         : 1;
}

.progressbar_to {
    position        : absolute;
    top             : -3px;
    right           : 0;
    height          : 5px;
    width           : 0;
    background-color: #e6e6e6;
    z-index         : 1;
}

input[type=range] {
    -webkit-appearance: none;
    margin            : 0;
    width             : 100%;
    height            : 0;
    position          : absolute;
}

input[type=range]:focus {
    outline: none;
}

/* Chrome Styles */
input[type=range]::-webkit-slider-runnable-track {
    width        : 100%;
    height       : 5px;
    cursor       : pointer;
    animate      : 2.2s;
    box-shadow   : 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background   : #007bcd;
    border-radius: 25px;
    border       : 0px solid #000101;
    position     : relative;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow        : 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border            : 1px solid #e6e6e6;
    height            : 20px;
    width             : 20px;
    border-radius     : 15px;
    background        : #fff;
    cursor            : pointer;
    -webkit-appearance: none;
    margin-top        : 0;
    transform         : translate(0, -50%);
    z-index           : 9999;
    position          : absolute;
    top               : 50%;
}


input[type=range]:focus::-webkit-slider-runnable-track {
    background: '#007bcd';
}

/* Firefox styles */
input[type=range]::-moz-range-track {
    width        : 100%;
    height       : 12.8px;
    cursor       : pointer;
    animate      : 0.2s;
    box-shadow   : 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background   : #ac51b5;
    border-radius: 25px;
    border       : 0px solid #000101;
}

input[type=range]::-moz-range-thumb {
    box-shadow   : 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border       : 0px solid #000000;
    height       : 20px;
    width        : 39px;
    border-radius: 7px;
    background   : #65001c;
    cursor       : pointer;
}

/* IE styles */
input[type=range]::-ms-track {
    width       : 100%;
    height      : 12.8px;
    cursor      : pointer;
    animate     : 0.2s;
    background  : transparent;
    border-color: transparent;
    border-width: 39px 0;
    color       : transparent;
}

input[type=range]::-ms-fill-lower {
    background   : #ac51b5;
    border       : 0px solid #000101;
    border-radius: 50px;
    box-shadow   : 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background   : #ac51b5;
    border       : 0px solid #000101;
    border-radius: 50px;
    box-shadow   : 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow   : 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border       : 0px solid #000000;
    height       : 20px;
    width        : 39px;
    border-radius: 7px;
    background   : #65001c;
    cursor       : pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #ac51b5;
}

input[type=range]:focus::-ms-fill-upper {
    background: #ac51b5;
}

.s-btn {
    &__primary {
        display        : flex;
        flex-direction : row;
        justify-content: center;
        align-items    : center;
        padding        : 20px 40px;
        width          : 121px;
        height         : 60px;
        background     : #074D63;
        border:1px sold #074D63;
        border-radius  : 20px;
        margin         : 0px;
        font-style     : normal;
        font-weight    : bold;
        font-size      : 16px;
        line-height    : 20px;
        color          : #FFFFFF;
        flex           : none;
        margin         : 0px 0px;
    }

    &__white {
        display        : flex;
        flex-direction : row;
        justify-content: center;
        align-items    : center;
        padding        : 20px 40px;
        width          : 121px;
        height         : 60px;
        background     : #fff;
        border-radius  : 20px;
        border: 1px solid #fff;
        flex           : none;
        margin         : 0px;
        font-style     : normal;
        font-weight    : bold;
        font-size      : 16px;
        line-height    : 20px;
        color          : #074D63;
        flex           : none;
        margin         : 0pxs;
    }
}