<div class="modal-body col-lg-12">
    <p class="login__heading"> Sign up member</p>
    <p class="login__md">
        Already have an account? <a (click)="openLoginModal()"> Sign in now! </a>
    </p>
    <div class="col-lg-7 m-auto pb-5" [ngClass]="{'col-lg-10': !signupFromScreen}">
        <form name="SignupForm" #SignupForm="ngForm" (ngSubmit)="signup(SignupForm)" novalidate>
            <div class="row">
                <div class="col-lg-12 form-group">
                    <input class="sign-up-input"
                        [ngClass]="{' show-error ' :SignupForm.submitted && first_name.invalid}" type="text"
                        name="first_name" #first_name="ngModel" [(ngModel)]="user.first_name" placeholder="Name"
                        required>
                </div>

                <div class="col-lg-12 form-group">
                    <input type="email" class="sign-up-input"
                        pattern="^[a-zA-Z]+[a-zA-Z0-9._-]+@[a-zA-Z]+\.[a-zA-Z.]{2,5}$" placeholder="Email Address"
                        id="useremail" #useremail="ngModel" name="useremail"
                        [ngClass]="{' show-error ' :SignupForm.submitted && useremail.invalid}" [(ngModel)]="user.email"
                        required>
                    <div *ngIf="SignupForm.submitted && useremail.invalid">
                        <span class="ng-error">
                            Invalid format for email address. Please enter an email in format: user@email.com
                        </span>
                    </div>
                </div>

                <div class="col-lg-6 form-group signup">
                    <input [(ngModel)]="user.SelectedCountry.name" name="country" #country="ngModel" required
                        [typeahead]="countries" typeaheadOptionField="name"
                        (typeaheadOnSelect)="onSelectCountry($event)" autocomplete="off"
                        (typeaheadOnBlur)="typeaheadOnBlurCountry($event)" placeholder="Country"
                        [ngClass]="{' show-error ' :SignupForm.submitted && country.invalid}" class="sign-up-input">
                    <!-- <input class="sign-up-input" [typeahead]="countries" typeaheadOptionField="name"
                    (typeaheadOnSelect)="onSelect($event)" [(ngModel)]="selectedCountry" #selectedCountry="ngModel" placeholder="Country" required> -->
                </div>

                <div class="col-lg-6 form-group">
                    <input class="sign-up-input" name="zipcode" #zipcode="ngModel" [(ngModel)]="user.zipcode"
                        [ngClass]="{' show-error ' :SignupForm.submitted && zipcode.invalid}" min="4" minlength="4"
                        max="6" maxlength="6" placeholder="Zip Code" required>
                </div>

                <div class="col-lg-6 form-group signup">
                    <input [(ngModel)]="user.SelectedState.name" name="State" #State="ngModel" required
                        [typeahead]="states" typeaheadOptionField="name" (typeaheadOnSelect)="onSelectState($event)"
                        autocomplete="off" (typeaheadOnBlur)="typeaheadOnBlurState($event)" placeholder="State"
                        [ngClass]="{' show-error ' :SignupForm.submitted && State.invalid}" class="sign-up-input">

                </div>

                <div class="col-lg-6 form-group signup">
                    <input [(ngModel)]="user.SelectedCity.name" name="City" #City="ngModel" required
                        [typeahead]="cities" typeaheadOptionField="name" (typeaheadOnSelect)="onSelectCity($event)"
                        autocomplete="off" (typeaheadOnBlur)="typeaheadOnBlurCity($event)" placeholder="City"
                        [ngClass]="{' show-error ' :SignupForm.submitted && City.invalid}" class="sign-up-input">
                </div>

                <div class="col-lg-6 form-group">
                    <input class="sign-up-input" type="password" name="password1" #password1="ngModel"
                        [(ngModel)]="user.password1" placeholder="Password" min="8" minlength="8"
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                        [ngClass]="{' show-error ' :SignupForm.submitted && password1.invalid}" required>

                    <span class="ng-error p-0" *ngIf="SignupForm.submitted && password1.invalid">
                        Minimum 8 characters at least 1 uppercase 1 lowercase 1 number and 1 special character
                    </span>
                </div>

                <div class="col-lg-6 form-group">
                    <input class="sign-up-input" type="password" name="password2" #password2="ngModel"
                        [(ngModel)]="user.password2" placeholder="Confirm Password"
                        [ngClass]="{' show-error ' :(SignupForm.submitted && password2.invalid) ||  (SignupForm.submitted && user.password1 !=user.password2)}"
                        required>
                </div>

                <div class="form-group  col-lg-12">
                    <div class="form-check">
                        <label>
                            <input type="radio" name="policy" checked="true" [value]="true">
                            <span class="label-text">I’m over 16 and I
                                agree to healpalce’s Privacy Policy.</span>
                        </label>
                    </div>
                </div>

                <div class="form-group  col-lg-12">
                    <div class="form-check">
                        <label>
                            <input type="radio" name="newsletter" checked={{user.is_newsletter}}
                                [(ngModel)]="user.is_newsletter" [value]="true" #newsletter="ngModel">
                            <span class="label-text">I want to receive news and offers from
                                healplace.com</span>
                        </label>
                    </div>
                </div>

                <div class="col-lg-12 form-group">
                    <button type="submit" class="button button__login btn-block">Join Healplace</button>
                </div>
                <div class="col-lg-12 text-center py-2">
                    <a class="login__forgot" [routerLink]="['/forgot-password']">Forgot Password?</a>
                </div>

                <div class="col-lg-12 text-center py-2">

                    <app-social-media-signup></app-social-media-signup>
                </div>
            </div>

        </form>
    </div>

</div>