<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <!--Column1-->
        <div class="footer-pad">
          <p class="mb-4">Find us on Social Media</p>
          <ul class="social-network social-circle">
            <li><a href="https://www.facebook.com/healplacedotcom/" target="_blank" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f colorblue"></i></a></li>
            <li><a href="https://www.instagram.com/heal.place/?hl=en"  target="_blank" class="icoLinkedin ml-4" title="Linkedin"><i class="mdi mdi-instagram colorblue"></i></a></li>
            <!-- <li><a href="#" class="icoTwitter ml-4" title="Twitter"><i class="mdi mdi-twitter colorblue"></i></a></li> -->
            </ul>
            <p class="text-white mt-4"><b>Contact</b><br> 1853 Par Drive, Burbank Street, California, CA <br> +04 333 123 645 | hello@healplace.com</p>
        </div>
      </div>
      <span id="middleLine"></span>
      <div class="col-md-6 col-sm-12" id="max-wid">
        <!-- <h5 class="text-white">Usefull links:</h5> -->
              <p class="text-white"><a class="text-white"  target="_blank" [routerLink]="['/homepage/terms-conditions']">Terms and Conditions</a>  <br> <a class="text-white"  target="_blank" [routerLink]="['/homepage/privacy-policy']">Privacy Policy</a></p>
        <!--Column1-->
        <!-- <div class="footer-pad" id="padd">
          <div class="row">
            <div class="col-md-8">
              <h5 class="text-white">Customers:</h5>
              <p class="text-white mb-4"> Search | Register  | Dashboard</p>

              <h5 class="text-white mt-4">Practitioner:</h5>
              <p class="text-white"> Search | Register  | Booking  | Dashboard</p>

            </div>
            <div class="col-mb-4" id="padd">
              <h5 class="text-white">Usefull links:</h5>
              <p class="text-white"> Terms of use <br> <a class="text-white" [routerLink]="['/homepage/privacy-policy']">Privacy Policy</a></p>
            </div>
          </div>
          <p class="text-white mt-4">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div> -->
      </div>
    </div>
  </div>
  </div>
</footer>