.home-bg-top{
    padding-bottom     : 100px;
    background-image   : url(../../../assets/images/bg/home-page-top.svg);
    background-position: center;
    background-size    : cover;
    background-repeat  : no-repeat;
    max-height         : 800px;
    @media screen and (max-width:767px) and (min-width: 320px) {
        max-height: 900px;
    }
}

.home-bg-blue{
    padding-bottom     : 100px;
    background-image   : url(../../../assets/images/bg/Group-1.png);
    background-position: right center;
    background-size: revert;
    background-repeat: no-repeat;
    max-height         : 900px;

   
    @media screen and (max-width:767px) and (min-width: 320px) {
        max-height: 100%;
    }
}

.home-bg-right{
    padding-bottom     : 100px;
    // background-image   : url(../../../assets/images/bg/Planet.png);
    background-position: right center;
    background-size: revert;
    background-repeat: no-repeat;
    max-height         : 900px;
    @media screen and (max-width:991px) and (min-width: 768px) {
        background-size: contain;
    }
    @media screen and (max-width:767px) and (min-width: 320px) {
        max-height: 100%;
    }
}

.home-center-bg{
    padding-bottom     : 100px;
    background-image   : url(../../../assets/images/bg/are-u-prac.svg);
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat; 
    max-height: 680px;
    @media screen and (max-width:767px) and (min-width: 320px) {
        max-height: 100%;
    }
}

.home-center-orange{
    padding-bottom     : 100px;
    background-image   : url(../../../assets/images/bg/b2b.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 718px;
    @media screen and (max-width:767px) and (min-width: 320px) {
        max-height: 100%;
    }
}

.home-Courses{
    padding-bottom     : 0px;
    background-image   : url(../../../assets/images/bg/home-page-course-bg.svg);
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    // max-height: 718px;
    @media screen and (max-width:767px) and (min-width: 320px) {
        max-height: 100%;
    }
}
 

.header-top-section-bg {
    padding-bottom     : 100px;
    background-image   : url(../../../assets/images/background.svg);
    background-position: center;
    background-size    : cover;
    background-repeat  : no-repeat;
    max-height         : 900px;
    @media screen and (max-width:767px) and (min-width: 320px) {
        max-height: 100%;
    }
}

.header-banner-bg {
    padding-bottom     : 100px;
    background-image   : url(../../../assets/images/home-bg.png);
    background-position: center;
    background-size    : contain;
    background-repeat  : no-repeat;
    height         : 700px;
    @media screen and (max-width:767px) and (min-width: 320px) {
        max-height: 100%;
    }
}


.bg {
    &__grey {
        background: #FAFAFA;
        padding   : 60px 0;
    }

    &__white {
        background-color: #fff;
        padding         : 60px 0;
    }
}

.drop-menu-text{
    font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 52px;
/* or 260% */


/* Secondary */

color: #074D63;
}
 

.left-p {
    position: absolute;
    top     : 214px;
    left    : -80px;
}

.left-2 {
    position: absolute;
    right   : -77px;
    top     : 320px;
}

.left-3 {
    position: absolute;
    bottom  : -130px;
    left    : 132px;
}

.top-space-tb {
    padding-top   : 50px;
    padding-bottom: 50px;
}

.see-all {
    font-family: 'FFMarkWebProBook';
    font-style : normal;
    font-weight: bold;
    font-size  : 24px;
    line-height: 35px;
    cursor: pointer;
    /* identical to box height, or 146% */


    color: #000000;

}

@media screen and (max-width:767px) and (min-width: 320px) {

    .left-p {
        position : absolute;
        top      : 214px;
        top      : 214px;
        left     : -20px;
        max-width: 60%;
    }

    .left-2 {
        position : absolute;
        right    : 1px;
        top      : 258px;
        max-width: 60%;
    }

    .left-3 {
        position: absolute;
        bottom  : -130px;
        left    : 132px;
        display : none;
    }

    .responive-none {
        display: none;
    }

    .flex-flow {
        flex-flow: column-reverse;
    }
}

@media screen and (max-width:991px) and (min-width: 768px) {

    .left-p {
        position : absolute;
        top      : 214px;
        top      : 214px;
        left     : -20px;
        max-width: 60%;
    }

    .left-2 {
        position : absolute;
        right    : 1px;
        top      : 258px;
        max-width: 60%;
    }

    .left-3 {
        position: absolute;
        bottom  : -130px;
        left    : 132px;
        display : none;
    }

    .responive-none {
        display: none;
    }

    // .flex-flow {
    //     flex-flow: column-reverse;
    // }
}

.heading-p {
    font-family: 'healspace font';
    font-style : normal;
    font-weight: normal;
    font-size  : 24px;
    line-height: 32px;
    /* or 133% */


    /* Secondary */

    color: #074D63;
}

.white-no {
    width : 48px;
    height: 48px;

    background: #FFFFFF;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.08);

    font-family    : 'healspace font';
    border-radius  : 50%;
    font-style     : normal;
    font-weight    : normal;
    font-size      : 24px;
    line-height    : 30px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    color          : #074D63;
 

    &__des {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 16px;
        line-height: 20px;
        color      : #074D63;
    }

    &__no {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 14px;
        line-height: 18px;
        /* identical to box height, or 129% */


        /* Secondary */

        color: #074D63;

    }
}

.hight-width{
    width: 70%;
}

.home {
    &__heading {
        font-family  : 'healspace font';
        font-style   : normal;
        font-weight  : normal;
        font-size    : 64px;
        line-height  : 76px;
        color        : #074D63;
        margin-bottom: 20px;

        @media screen and (max-width:767px) and (min-width: 320px) {
            font-size  : 48px;
            line-height: 64px;
        }

    }

    &__des {
        font-style : normal;
        font-weight: normal;
        font-size  : 18px;

        @media screen and (max-width:767px) and (min-width: 320px) {
            font-size  : 16px;
            line-height: 32px;
        }

        line-height  : 32px;
        color        : #000000;
        margin-bottom: 20px;
    }

    &__title {

        font-family: 'healspace font';
        font-style : normal;
        font-weight: normal;
        font-size  : 40px;
        line-height: 45px;

        @media screen and (max-width:767px) and (min-width: 320px) {
            font-size  : 24px;
            line-height: 45px;
        }

        color   : #074D63;
        padding : 0 0 30px;
    }

    &__are-text {
        font-family: 'healspace font';
        font-style : normal;
        font-weight: normal;
        font-size  : 64px;
        line-height: 76px;
        /* or 119% */


        /* Secondary */

        color: #074D63;
        @media screen and (max-width:1199px) and (min-width: 768px) {
        font-size: 47px;
        line-height: 55px;
        }

    }

    &__s-des {
        font-style : normal;
        font-weight: normal;
        font-size  : 16px;
        line-height: 32px;
        /* or 200% */


        color: #000000;
    }

    &__m-heading {
        font-family: 'healspace font';
        font-style : normal;
        font-weight: normal;
        font-size  : 40px;
        line-height: 45px;
        /* or 112% */


        /* Secondary */

        color: #074D63;
        @media screen and (max-width:1199px) and (min-width: 992px) {
            font-size: 32px;
            }
    }

    &__bottom-blue {
        font-family: 'healspace font';
        font-style : normal;
        text-align : center;
        font-weight: normal;
        font-size  : 40px;
        line-height: 45px;
        /* identical to box height, or 112% */

        text-align: center;

        /* Primary */

        color: #00BAD5;


        /* Inside Auto Layout */

        flex     : none;
        order    : 0;
        flex-grow: 0;
        margin   : 20px 0px;
    }
}

.white-box {
    background   : #FFFFFF;
    box-shadow   : 0px 11px 50px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    width        : 190px;
    @media screen and (max-width:1199px) and (min-width: 992px) {
        width: 160px;
    }

    height         : 292px;
    display        : flex;
    justify-content: center;
    text-align     : center;
    align-items    : center;
    margin         : 0 auto;

    &__blue {
        background     : #16BBD5;
        box-shadow     : 0px 10px 15px rgba(0, 186, 213, 0.3);
        width          : 48px;
        height         : 48px;
        border-radius  : 50%;
        display        : flex;
        justify-content: center;
        align-items    : center;
        color          : #fff;

    }

    &__des {
        font-style : normal;
        font-weight: bold;
        font-size  : 20px;
        @media screen and (max-width:1199px) and (min-width: 992px) {
           font-size: 16px;
        }
        line-height: 28px;
        /* or 117% */

        text-align: center;

        /* Secondary */

        color: #074D63;
    }
}

.search-input{
        background        : #fff url(../../../assets/images/Vector-4.png) no-repeat 10% center;
        width             : 240px;
        padding           : 20px 24px 20px 45px;
        display           : inline-block;
        box-sizing        : border-box;
        -webkit-appearance: none;
        -moz-appearance   : none;
        font-family       : 'FFMarkWebProBook';
        font-style        : normal;
        font-weight       : normal;
        font-size         : 16px;
        line-height       : 20px;
        // opacity           : 0.3;
        color             : #074D63;
        border            : 1px solid transparent;
        border-radius: 20px 0 0px 20px;
}

.padding-categories{
    padding-left: 45px!important;
}
.home-input {
    border-radius: 20px;

    background-color: #fff;
    box-shadow      : 0px 40px 50px rgb(0 0 0 / 4%);
    position        : relative;
    top             : 80px;
    width           : 100%;

    

    .home-i {
        // background   : #FFFFFF;
        background        : #fff url(../../../assets/images/down.png) no-repeat 10% center;
        width             : 240px;
        padding           : 20px 24px 20px 0;
        display           : inline-block;
        box-sizing        : border-box;
        -webkit-appearance: none;
        -moz-appearance   : none;
        border-radius     : 20px;
        opacity           : 0.3;

        a {
            border-left: 1px solid #074D63;

            font-style  : normal;
            padding-left: 45px !important;

            font-family: 'FFMarkWebProBook';
            font-style : normal;
            font-weight: normal;
            font-size  : 16px;
            line-height: 20px;
            /* identical to box height, or 125% */


            /* Secondary */

            color: #074D63;

            // opacity: 0.3;

        }
    }
}

.bottom-blue {
    background-image   : url(../../../assets/images/Group-16.png);
    height             : 565px;
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : contain;

    &__title {
        font-family: 'healspace font';
        font-style : normal;
        font-weight: normal;
        font-size  : 40px;
        @media screen and (max-width:767px) and (min-width: 320px) {
            font-size: 24px;
        }
        line-height: 45px;
        /* identical to box height, or 112% */

        text-align: center;

        /* Primary */

        color: #00BAD5;
    }

    &__name {
        font-family: 'healspace font';
        font-style : normal;
        font-weight: normal;
        font-size  : 24px;
        @media screen and (max-width:767px) and (min-width: 320px) {
            font-size: 20px;
        }
        line-height: 30px;
        /* identical to box height, or 125% */

        text-align: center;

        /* Secondary */

        color: #074D63;
    }

    &__des {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 16px;
        @media screen and (max-width:767px) and (min-width: 320px) {
            font-size: 14px;
        }
        line-height: 20px;
        /* or 125% */

        text-align: center;

        /* Secondary */

        color: #074D63;
    }
}

.car-active{
    border-radius: 50%;
    box-shadow: 0 0 0 3px #afd1d682;
    width: 158.88px;
    height: 160px;
}






.center-img{
    width: 158.88px;
height: 160px;
left: 480px;border-radius: 50%;
top: 0px;
position: relative;
}




#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 60px;
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-indicators {
    position: relative;
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-top: 20px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 120px;
    height: 120px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    opacity: 0.4;
    overflow: hidden;
    transition: all .4s ease-in;
    vertical-align: middle;
    text-indent: 0;

    
}


.carousel-indicators li {
    box-sizing: content-box;
    flex: none;
    height: 3px;
    margin-right: 53px;
    margin-left: 36px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    transition: opacity 0.6s ease;
    position: relative;
    left: 245px;
}


#quote-carousel .carousel-indicators .active {
    width: 158.88px;
    height: 160px;
    
    opacity: 1;
    transition: all .2s;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}