<div class="home-bg-top">
    <div class="home-bg-blue">
        <div class="home-bg-right">
            <app-header></app-header>


            <div class="container">
                <div class="row flex-flow align-items-center top-space-tb justify-content-between">
                    <div class="col-lg-5 col-md-7 col-sm-12">
                        <p class="home__heading"> Welcome to Healplace!</p>
                        <p class="home__des">
                            Healplace is a digital wellness platform that empowers healers, doctors and alternative
                            wellness
                            practitioners to reach the world, directly from their device!
                        </p>
                        <button class="heal-btn__primary" [routerLink]="['/practitioner/search']" *ngIf="authService.isAuthenticated()">Start Exploring Practitioners →</button>

                        <div class="col-lg-12" style="height: 0px;">
                        <form class="example responive-none" *ngIf="!authService.isAuthenticated()" >
                            <div class="row  ">
                                <div class="home-input d-flex">
                                    <input  class="search-input" placeholder="Search Keyword" >
                                    <!-- <select class="option ">
                                        <option>Search keyword</option>
                                    </select> -->

                                    <div class="home-i" dropdown container="body" placement="bottom left">
                                        <a id="login-container" dropdownToggle class=" dropdown-toggle"
                                            aria-controls="dropdown-container">All Categories</a>
                                        <ul id="dropdown-container" *dropdownMenu
                                            class="homepage-category dropdown-menu dropdown-menu-left" role="menu"
                                            aria-labelledby="login-container">
                                            <li role="menuitem"><a class="dropdown-item drop-menu-text font-20-40"
                                                    href="#">All
                                                    Categories</a></li>
                                            <li role="menuitem"><a class="dropdown-item drop-menu-text font-bold padding-categories"
                                                    href="#">Practitioners (1490)</a></li>
                                            <li role="menuitem"><a class="dropdown-item drop-menu-text font-bold padding-categories"
                                                    href="#">Conditions
                                                    (33)</a></li>
                                            <li role="menuitem"><a class="dropdown-item drop-menu-text font-bold padding-categories"
                                                    href="#">Specialites
                                                    (21)</a></li>
                                            <li role="menuitem"><a class="dropdown-item drop-menu-text font-bold padding-categories"
                                                    href="#">Sessions
                                                    (12)</a></li>
                                        </ul>
                                    </div>
                                    <button type="submit" class="s-btn">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    </div>
                    <div class="col-lg-7 col-md-5 col-sm-12 ">
                        <!-- <div class="header-banner-bg"></div> -->
                        <img src="../../../assets/images/home-bg.png" class="img-fluid">
                        <!-- <img class="img-fluid" src="../../../assets/images/Group 17.png">
                        <img class="img-fluid left-p" src="../../../assets/images/Frame 424 (1).png">
                        <img class="img-fluid left-2" src="../../../assets/images/Frame 426.png">
                        <img class="img-fluid left-3" src="../../../assets/images/Frame 427.png"> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="bg__grey">
    <div class="container">
        <div class="row mx-0">
            <p class="home__title">Practitioners </p>
            <div class="container p-0">
                <div class="col-lg-12 p-0 search">
                    <app-practitioner-carousel [related_practitioner]="homeDetail.practitioner_list">
                    </app-practitioner-carousel>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="bg__white">
    <div class="container">
        <div class="row mx-0 justify-content-between">
            <p class="home__title">Latest Articles </p>
            <span class="see-all " [routerLink]="['/blog/main-blog']">see all</span>
        </div>
        <div class="row mx-0">
            <div class="col-lg-12 p-0 search article-drag">
                <app-article-carousel [articles]="homeDetail?.article_list"></app-article-carousel>
            </div>
        </div>
    </div>
</div>


<div class="bg__grey">
    <div class="container">
        <div class="row mx-0">
            <div class="col-lg-9">
                <div class="row mx-0 justify-content-between">
                    <p class="home__title">Live Classes <img style="position: absolute; top: -35px;"
                            src="../../../assets/images/bg/blue_circle.png">
                        <img src="../../../assets/images/bg/y_dot.png" style="    position: absolute;
                        left: 200px;">
                    </p>
                    <span class="see-all " [routerLink]="['/live-classes']">see all</span>
                </div>
                <div class="row mx-0 live-class">
                    <div class="col-lg-4 col-sm-6 col-12 px-2"
                        *ngFor="let class of homeDetail.live_class_list| slice:0:3">
                        <app-classes [title]="class.title" [image]="class.image"
                            [altimg]="class.practitioner__user_id__first_name" [id]="class.id"
                            [classdate]="class.class_date" [starttime]="class.start_time" [duration]="class.duration"
                            [expertise]="class.practitioner__expertise[0]"
                            [firstname]="class.practitioner__user_id__first_name"
                            [lastname]="class.practitioner__user_id__last_name"></app-classes>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 responive-none">
                <p class="heading-p">Highlighted <br>
                    classes this week</p>
                <div class="row " *ngFor="let high_class of homeDetail.highlighted_class | slice:0:3; let i=index">
                    <div class="white-no mr-2">
                        {{i+1}}
                    </div>
                    <div class="hight-width">
                        <p class="white-no__des mb-2">{{high_class.title}}</p>
                        <p class="white-no__no">{{high_class.practitioner__user_id__first_name}} {{high_class.practitioner__user_id__last_name}} | {{ high_class.class_date |date : 'MMM d'}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="bg__white pb-3">
    <div class="home-Courses">
        <div class="container">
            <div class="row mx-0 justify-content-between">
                <p class="home__title">Courses </p>
                <span class="see-all " [routerLink]="['/all-course']">see all</span>
            </div>

            <div class="row mx-0 ">
                <div class="col-lg-3 col-sm-6 col-12 px-2  mb-4"
                    *ngFor="let course of homeDetail?.courses_list | slice:0:8">
                    <app-courses [id]="course.course_id" [viewers_detail]="course.viewers_detail" [cover_photo]="course?.lessons[0]?.cover_photo" [rating]="course.related_course_rating" [video]=""
                        [ratecount]="course.related_course_rated_count" [title]="course.course_title"
                        [firstname]="course.practitioner_firstname" [lastname]="course.practitioner_lastname"
                        [lessoncount]="course.lesson_count" [duration]="course.related_course_duration_in_sec">
                    </app-courses>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container responive-none">
    <div class="home-center-bg">
        <div class="home-center-orange">
            <div class="row top-space-tb  ">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <img class="img-fluid" src="../../../assets/images/Rectangle 73.png">
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-12 p-5">
                    <p class="home__are-text">
                        Are you a practitioner?
                    </p>

                    <p class="home__s-des my-5">
                        Healplace is a digital wellness platform that empowers healers, doctors and alternative wellness
                        practitioners to reach the world, directly from their device!
                    </p>

                    <button class="heal-btn__primary" (click)="signupPractitionerModal()">Join our platform as practitioner →</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">


    <div class="row top-space-tb responive-none">
        <div class="col-lg-5 col-md-12 col-sm-12 col-12">
            <p class="home__m-heading">
                Discover our B2B or unlimited access plan
            </p>
            <p class="home__s-des my-3">
                Healplace is a digital wellness platform that empowers healers, doctors and alternative wellness
                practitioners to reach the world, directly from their device!
            </p>

            <button class="heal-btn__primary mb-5" *ngIf="logedinData && !logedinData?.is_subscribed" [routerLink]="['/manage-subscription']">Upgrade Account →</button>
        </div>

        <div class="col-lg-7 col-md-12 col-sm-12 col-12">
            <div class="d-flex justify-content-between">
                <div class="white-box">
                    <div>
                        <div class="white-box__blue m-auto">
                            <i class="fa fa-play"></i>
                        </div>
                        <p class="white-box__des pt-3 m-auto">
                            Included <br>
                            1 on 1 session
                        </p>
                    </div>
                </div>

                <div class="white-box">
                    <div>
                        <div class="white-box__blue m-auto">
                            <i class="fa fa-play"></i>
                        </div>
                        <p class="white-box__des pt-3 m-auto">
                            Included <br>
                            1 on 1 session
                        </p>
                    </div>
                </div>

                <div class="white-box">
                    <div>
                        <div class="white-box__blue m-auto">
                            <i class="fa fa-play"></i>
                        </div>
                        <p class="white-box__des pt-3 m-auto">
                            Included <br>
                            1 on 1 session
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="container">
    <div class="row top-space-tb bottom-blue">
        <div class="col-lg-12 text-center">
            <p class="bottom-blue__title">At Healplace, there’s a place for everyone</p>
            <div class="col-12 py-5">
                <!-- <img class="img-fluid" src="../../../assets/images/Frame 10.png"> -->
                <drag-scroll class="testimonial-carousel-height">
                        <div class="container col-md-12">
                            <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                                <ol class="container carousel-indicators">
                                    <li drag-scroll-item (click)="bindSelectedTestimonial(i)"  data-target="#quote-carousel" data-slide-to="{{selectedIndex}}" [ngClass]="{' active ': selectedTestimonial.id === testimonial.id}"   *ngFor="let testimonial of homeDetail.testimonials;let i=index" >
                                        <img class="img-fluid"
                                        [src]="testimonial.profile_image ? generalService.getCustomerImageBaseUrl(testimonial.profile_image) : 'assets/images/sloganAsset7.svg'">
                                    </li>
                                </ol>
                            </div>
                        </div>


                        <!-- <div class="imgContainer" (click)="bindSelectedTestimonial(i)">
                            <img class="img-fluid" [ngClass]="{' car-active ': selectedTestimonial.id === testimonial.id}"
                                [src]="testimonial.profile_image ? generalService.getCustomerImageBaseUrl(testimonial.profile_image) : 'assets/images/sloganAsset7.svg'">
                        </div> -->
                </drag-scroll>
                <button (click)="moveLeft()" class="carousel-control-prev-icon carousel-control-prev carousel-control-prev1">
                    <img class="img-fluid" src="../../../../assets/images/arrowleft.png">
                </button>
                <button (click)="moveRight()" class="carousel-control-next-icon carousel-control-next carousel-control-next1">
                    <img class="img-fluid" src="../../../../assets/images/arrowright.png">
                </button>

                <p class="bottom-blue__name">{{selectedTestimonial.user_id__first_name}} {{selectedTestimonial.user_id__last_name}}</p>
                <p class="bottom-blue__des">{{selectedTestimonial.review}}
                </p>

                <!-- <div class="col-md-12">
                    <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                       
                        <ol class="carousel-indicators">
                            <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-fluid " src="../../../assets/images/block_profile_pic.png" alt="">
                            </li>
                            <li data-target="#quote-carousel" data-slide-to="1"><img class="img-fluid" src="../../../assets/images/block_profile_pic.png" alt="">
                            </li>
                            <li data-target="#quote-carousel" data-slide-to="2"><img class="img-fluid" src="../../../assets/images/block_profile_pic.pngg" alt="">
                            </li>
                        </ol>
    
                      
                    </div>
                </div> -->
            </div>
            
        </div>

    </div>

</div>



<app-footer></app-footer>