<!-- HEALPLACE LLC ("HEALPLACE") CONFIDENTIAL
Copyright (c) 2020-2021 HEALPLACE, All Rights Reserved.

NOTICE:  All information contained herein is, and remains the property of HEALPLACE. The intellectual and technical concepts contained herein are proprietary to HEALPLACE and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless prior written permission is obtained  from HEALPLACE.  Access to the source code contained herein is hereby forbidden to anyone except current HEALPLACE employees, managers or contractors who have executed  Confidentiality and Non-disclosure agreements explicitly covering such access.

The copyright notice above does not evidence any actual or intended publication or disclosure  of  this source code, which includes  information that is confidential and/or proprietary, and is a trade secret, of  HEALPLACE.   ANY REPRODUCTION, MODIFICATION, DISTRIBUTION, PUBLIC  PERFORMANCE,  OR PUBLIC DISPLAY OF OR THROUGH USE  OF THIS  SOURCE CODE  WITHOUT  THE EXPRESS WRITTEN CONSENT OF HEALPLACE IS STRICTLY PROHIBITED, AND IN VIOLATION OF APPLICABLE  LAWS AND INTERNATIONAL TREATIES.  THE RECEIPT OR POSSESSION OF  THIS SOURCE CODE AND/OR RELATED INFORMATION DOES NOT CONVEY OR IMPLY ANY RIGHTS  TO REPRODUCE, DISCLOSE OR DISTRIBUTE ITS CONTENTS, OR TO MANUFACTURE, USE, OR SELL ANYTHING THAT IT  MAY DESCRIBE, IN WHOLE OR IN PART. -->

<nav class="navbar navbar-expand-lg navbar-light bg-white" style="box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);">
  <a class="navbar-brand logotitle" href="#home" style="margin-left: 2%;">
    <img src="assets/images/favicon_heal.PNG" class="navbar-sqnlogo d-inline-block align-top" height="45">
    healplace
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse flex-end" id="navbarSupportedContent" >

    <!-- <form class="my-2 my-lg-0"> -->
      <div class="d-flex navbar">
            <a routerLink="/home" routerLinkActive="class-name" routerLinkActiveOptions="{exact:true}" style="margin-top: 10px;"> Home</a>
        
            <a routerLink="/homepage/about-us" routerLinkActive="class-name" routerLinkActiveOptions="{exact:true}" style="margin-top: 10px;">About Us</a>
      
            <a routerLink="/homepage/howitworks" routerLinkActive="class-name" routerLinkActiveOptions="{exact:true}" style="margin-top: 10px;"> How it works</a>
        
            <a routerLink="/homepage/become-a-practitioner" routerLinkActive="class-name" routerLinkActiveOptions="{exact:true}" style="margin-top: 10px;">Become a practitioner</a>

            <a routerLink="/homepage/contact-us" routerLinkActive="class-name"
              routerLinkActiveOptions="{exact:true}" style="margin-top: 10px;">Contact</a>
        
            <a routerLink="/homepage/faq" routerLinkActive="class-name" routerLinkActiveOptions="{exact:true}" style="margin-top: 10px;">FAQ</a>
          <button type="button" class="text-dark btn header-item noti-icon btn-cd" style="margin-left: 30px;"
            (click)="openModal(loginModalOpen, 'login')">Login
          </button>
      </div>
    <!-- </form> -->
  </div>
</nav>
<ng-template #loginModalOpen role="document" let-modal>
  <public-login-modal [resource]="'login'" (changeBack)="closeModal($event)" *ngIf="isContent == 'login'">
  </public-login-modal>
</ng-template>

<!-- 

<header id="page-topbar">
  <div class="container-fluid navbar-header">
    <div class="d-flex padleft120">
      <div class="navbar-brand-box" style="width: 100px;">
        <a [routerLink]="['/homepage/home']" href="/" class="logo">
          <span class="logo-lg">
            <img src="assets/images/favicon_heal.PNG" alt="" height="45">
          </span>
        </a>
      </div>
      <h2 class="text-blue headings" style="color: #00BAD5;margin-bottom: 0px; margin-left: -13px;">healplace</h2>
    </div>
    <div class="d-flex">
      <div class="navbar" style="padding-left: 70px;margin-top:5px;">
       
          <a routerLink="/homepage/home" routerLinkActive="class-name" routerLinkActiveOptions="{exact:true}"> Home</a>
      
          <a routerLink="/homepage/about-us" routerLinkActive="class-name" routerLinkActiveOptions="{exact:true}">About
            Us</a>
    
          <a routerLink="/homepage/howitworks" routerLinkActive="class-name" routerLinkActiveOptions="{exact:true}"> How
            it works</a>
      
          <a routerLink="/homepage/contact-us" routerLinkActive="class-name"
            routerLinkActiveOptions="{exact:true}">Contact</a>
      
          <a routerLink="/homepage/faq" routerLinkActive="class-name" routerLinkActiveOptions="{exact:true}">FAQ</a>
        <button type="button" class="text-dark btn header-item noti-icon btn-cd" style="margin-left: 50px;"
          (click)="openModal(loginModalOpen, 'login')">Login
        </button>
      </div>
    </div>
    <style>
      @media only screen and (max-width:767px) {
        .navbar {
          background: #00BAD5;
          color: white;


        }
      }
    </style>
  </div>
</header>

<ng-template #loginModalOpen role="document" let-modal>
  <public-login-modal [resource]="'login'" (changeBack)="closeModal($event)" *ngIf="isContent == 'login'">
  </public-login-modal>
</ng-template> -->