.logotitle {
  font-family: 'Healspace font' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 35.5593px !important;
  line-height: 51px !important;
  /* identical to box height */
  color: #16BBD5 !important;
}

a{
  color: #074D63;
}
.padding-change {
  line-height: 23px;
  padding: 0px 0 0px;
}

.arrange {
  text-align: center;
  vertical-align: middle;
}

.padleft120 {
  padding-left: 120px;
}

.navbar-header {
  justify-content: flex-start !important;
  height: 100px;
}

.modal-content {
  border-radius: 40px;
}

.text-input-design {

  height: calc(3.5em + 0.94rem + 2px);
  font-weight: 500;
  background-color: #EBF3FA;
  border: 2px solid #D4D3D3;
  font-size: 0.9825rem;
}
//.class1{

 //background-color:#00BAD5;
 //color:#00BAD5;
//}
.select-custom-design {
  height: calc(3.5em + 0.94rem + 2px);
  background: #EBF3FA;
  font-size: 0.9825rem;
  border: 2px solid #D4D3D3;
}

.btn-primary {
  background-color: #ffa700;
  border-color: #006400;
  color: #000;
}

// .form-control {
//  // border-radius: 50px !important;
// }

.text-input-design {
  background-color: #f4f4f4 !important;
  border: 1px solid #f4f4f4 !important;
  padding-left: 30px !important;
  height: 55px;
}

.select-custom-design {
  background: #f4f4f4 !important;
  border: 1px solid #f4f4f4 !important;
  padding-left: 30px !important;
  height: 55px;
}

.custom-select {
  border-radius: 40px;
}

.become-prac-button {
  background-color: #FBD036;
  border: 2px solid #FBD036;
  box-shadow: 5px 15px 20px 0px rgba(0, 0, 0, 0.15);
  height: 75px;
  left: 430px;
  top: 3805px;
  border-radius: 40px;
}

.btn-new {
  background-color: #FBD036;
  border: 2px solid #FBD036;
  box-shadow: 5px 15px 20px 0px rgba(0, 0, 0, 0.15);
  height: 75px;
  left: 430px;
  top: 3805px;
  border-radius: 40px;
  color:#000;
  font-weight: bold;
}

.has-search .form-control {
  padding-left: 2.375rem;
 // border-radius: 50px;
  background-color: #FAFAFA;
  border: 1px solid #FAFAFA;
  height: 60px;
}

.navbar {
  overflow: hidden;
  
}

.navbar a {
  float: left;
  font-size: 16px;
  //color: #074D63;
  text-align: center;
  padding-top: 13px;
  padding-right: 14px;
  padding-bottom: 13px;
  padding-left: 8px;
  text-decoration: none;
}

// .dropdown {
//   float: left;
//   // overflow: hidden;
// }

// .dropdown .dropbtn {
//   font-size: 16px;  
//   border: none;
//   outline: none;
//   color: white;
//   padding: 14px 16px;
//   background-color: inherit;
//   font-family: inherit;
//   margin: 0;
// }

//.navbar a:hover, .dropdown:hover .dropbtn {
  //background-color: #FBD036;
  //border-radius: 38px 38px 38px 38px;
//}

// .dropdown-content {
//   display: none;
//   position: absolute;
//   background-color: #f9f9f9;
//   min-width: 160px;
//   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//   z-index: 1;
// }

// .dropdown-content a {
//   float: none;
//   color: black;
//   padding: 12px 16px;
//   text-decoration: none;
//   display: block;
//   text-align: left;
// }

// .dropdown-content a:hover {
//   background-color: #ddd;
// }

// .dropdown:hover .dropdown-content {
//   display: block;
// }

// .dropdown-menu.show {
//   top: 0% !important;
//   position: fixed;
//   margin-top: 57px;
// }
.text-dark {
  color: white !important;
}
.dropdown-item{
  margin-left:0px;
}
.headings{
  font-size: 35.56px;
}
.main {
  width: 50%;
  margin: 50px auto;
}

.has-search .form-control {
  padding-left: 2.375rem;

}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.popupCS { 
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn-cd {
  background-color: #00BAD5; 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: 400; border-radius: 20px;
  width: 180px;
  height: 60px;
  color:rgb(122, 110, 110);
  left: 1020px;
  top: 0px;
  font-size: 18px;
}

.flex-end{
  justify-content: flex-end;
}
.mr-p-5{
  margin-right: 5%;
}


@media all and(min-width: 400px) and (max-width: 1024px) {
  .img-left{
    margin-left: 145px;
  }
}

  .class-name{
   color: #00BAD5;
  
  }