
<div class="home-bg-top">
    <div class="home-bg-blue">
        <div class="home-bg-right">
            <app-header></app-header>
            <div class="container">
                <mysubscription [phase2Request]="true"></mysubscription>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>