<div class="third-page">
    <p class="hello">Select setting from below</p>
    <div class="form-check">
        <input class="checkbox" type="checkbox" [(ngModel)]="is_news_subscribe" (change)="newsChange()">
        <label class="form-check-label" for="flexCheckDefault" style="margin-left: 10px;
        font-weight: 1000;
        font-size: 14px;
        vertical-align: top;
    ">
            News Subscribe
        </label>
    </div>
    <div class="form-check">
        <input class="checkbox" type="checkbox" [(ngModel)]="is_sms_subscribe" (change)="smsChange()">
        <label class="form-check-label" for="flexCheckDefault" style="margin-left: 10px;
        font-weight: 1000;
        font-size: 14px;
        vertical-align: top;
    ">
            SMS Subscribe
        </label>
    </div>
    <div class="form-check">
        <input class="checkbox" type="checkbox" [(ngModel)]="is_email_subscribe" (change)="emailChange()">
        <label class="form-check-label" for="flexCheckDefault" style="margin-left: 10px;
        font-weight: 1000;
        font-size: 14px;
        vertical-align: top;
    ">
            Email Subscribe
        </label>
    </div>
</div>