<div style="display: block;">

    <canvas style="display: block; width: 180px; height:180px;" baseChart [chartType]="chartType"   [colors]="chartColors" [data]="chartData" [labels]="chartLabels" [options]="chartOptions">
    </canvas>
</div>