<div class="select-interest">
    <div class="header">
        <p>Welcome {{customer.nick_name}}<br/><br/>
            Please select an interest from the categories below <br/>to be assigned to a practitioner.</p>
    </div>
    <p class="middle-text">I want to talk about</p>
    <div class="row" *ngIf="mappedInterest.length>0">
        <div class="col-md-1 col-lg-1 btn-flex-center">
            <i class="fa fa-chevron-left arrow-left" (click)="slideBackward()"></i>
            <!-- <img src="assets/images/arrowleft.png" class="arrow-left"  /> -->
        </div>
        <div class="col-lg-10 col-md-10  d-flex flex-wrap">
            <div class="col-lg-4 col-md-4 container btn-flex-center cursor-pointerr" *ngFor="let interest of mappedInterest;">
                <div class="interest btn-flex-center" (click)="selectInterest(interest)">
                    <p tooltip="{{interest.interest}}"> {{interest.interest | limitTo:24}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-1 col-lg-1 btn-flex-center">
            <i class="fa fa-chevron-right arrow-right" (click)="slideForward()"></i>
            <!-- <img src="assets/images/arrowright.png" class="arrow-right" (click)="slideForward()" /> -->
        </div>
    </div>
</div>