.select-interest {
    .header {
        font-family: 'FFMARKWEBPROBOOK';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #6D6D6D;
        padding: 25px 0;
    }
    .middle-text {
        font-family: 'FFMARKWEBPROBOOK';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #074D63;
        margin: 50px 0px 25px 0;
    }
    
    .container {
        margin: 10px 0;
    }
    .interest {
        width: 100%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF4E3;
    border-radius: 40px;
    font-family: "healspace font";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #074D63;
    padding: 16px;
        color: #074D63;
        p {
            margin-bottom: 0px;
        }
    }
}