.customer-profile-container {
    padding-bottom: 20px;
    padding-left: 146px;
    background: #ffffff;
    .upcoming-session {
      width: 30%;
      margin-right: 62px;
      .img-content {
        margin-bottom: 24px;
      }
    }
    .top-container {
      display: flex;
      margin-bottom: 62px;
    }
    .head {
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      color: #074d63;
      margin-bottom: 24px;
    }
  
    .appoinment {
      padding: 40px;
      background: rgba(255, 244, 227, 0.5);
      border-radius: 40px;
    }
  
    .your-next-appoinment {
      width: 157px;
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #6d6d6d;
      margin-bottom: 20px;
    }
  
    .dp {
      position: static;
      width: 40px;
      height: 40px;
      left: 0px;
      top: 0px;
      float: left;
  
      flex: none;
      order: 0;
      flex-grow: 0;
    }
  
    .img-content {
      img {
        margin-right: 20px;
      }
    }
    .name {
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
  
      color: #074d63;
    }
  
    .designation {
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
  
      color: #6d6d6d;
    }
  
    .talk {
      font-family: 'BelyDisplay-Regular';
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      color: #074d63;
      flex: none;
      order: 0;
      margin-bottom: 20px;
    }
  
    .about {
      margin-bottom: 20px;
    }
  
    .sub-main-head {
      display: inline-block;
      margin-right: 64px;
    }
  
    .sub-main-head1 {
      display: inline-block;
    }
  
    .sub-head {
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
  
      color: #00bad5;
      margin: 2px 0px;
    }
  
    .time {
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
  
      color: #074d63;
  
      flex: none;
      order: 1;
      flex-grow: 0;
      margin: 2px 0px;
    }
  
    .btn-block {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 11px 30px;
      background: #00bad5;
      border-radius: 20px;
      max-width: 120px;
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      color: #ffffff;
      border: none;
    }
  
    .contact {
      display: flex;
    }
    .header {
      margin-bottom: 24px;
    }
    .right-container {
      flex-grow: 1;
    }
    .chat {
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
  
      color: #074d63;
    }
  
    .see {
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
  
      color: #074d63;
    }
  
    .chat-list {
      background: #ffffff;
      box-shadow: 0px 15px 30px rgb(0 0 0 / 5%);
      border-radius: 20px;
      padding: 20px 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 45px;
      .round {
        color: #00bad5;
        font-size: 16px;
        i.fas {
          background: #fafafa;
        }
      }
    }
  
    .chat-head {
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
  
      color: #6d6d6d;
  
      margin: 2px 0px;
    }
  
    .chat-time {
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
  
      color: #6d6d6d;
    }
  
    .msg {
      background: #00bad5;
      width: 5%;
    }
    .submission {
      display: flex;
      justify-content: space-between;
    }
    .btn-box {
      width: 40px;
      height: 40px;
  
      background: #00bad5;
      border-radius: 10px;
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 16px;
      border: none;
      color: #ffffff;
      i {
        background: none;
        box-shadow: none;
        display: inline-block;
        margin-left: 0;
        width: auto;
        height: auto;
    }
    }
  
    .interest {
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
  
      color: #074d63;
    }
    .form-container{
        width: 60%;
        margin-right: 62px;
        .ngx-dropdown-container .ngx-dropdown-button {
          width: 100%;
          min-height: 30px;
          padding: 5px 10px;
          background-color: #f8f8f8 !important;
        }
        .profile{
            height: 100px;
            width: 100px;
            margin-top: 60px;
            margin-left: 45%;
            border-radius: 50%;
        }
        .edit-btn{
            height: 30px;
            width: 30px;
            margin-top: 140px;
            margin-left: -64px;
            position: absolute;
        }
        .profile-content{
            margin-top: 30px;
            text-align: center;
        }
        .email-content{
            text-align: center;
        }
        form {
            // margin-bottom: 67px;
            label {
                width: 100%;
                margin-bottom: 13px;
                font-family: 'FFMarkWebProBook';
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 18px;
                color: #6D6D6D;
            }
            .form-control {
                height: 70px;
                width: 100%;
                background: rgb(109, 109, 109, 0.05);
                border-radius: 20px;
                margin-bottom: 32px;
                font-family: 'FFMarkWebProBook';
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                // border: 1px solid red;
                border: none !important;
            }
            input, select{
              color: #074D63 !important;
            }
            input.small-placeholder::-webkit-input-placeholder{
              font-size: 8px;
            }
            input.small-placeholder::-moz-placeholder{
              font-size: 8px;
            }
            input.small-placeholder:-ms-input-placeholder{
              font-size: 8px;
            }
            input.small-placeholder:-moz-placeholder{
              font-size: 8px;
            }
            // .input:focus {
            //   color: #074D63 !important;
            //   background-color: #fff !important;
            //   border: 0;
            //   font-weight: bold;
            //   box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
            // }
            input {
              width: 220px;
              height: 80px;
              border: 0;
              border-radius: 20px;
              padding: 20px;
              text-align: center;

              &:focus {
                color: #074D63 !important;
                background-color: #fff !important;
                border: 0;
                font-weight: bold;
                box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
              }
            }
        }
        .nextstep{
            margin-right: 103px;
            margin-bottom: 40px;
            margin-left: 0px;
            width: 164px;
            height: 60px;
            background: #FBD036;
            border-radius: 20px;
            font-family: 'FFMarkWebProBook';
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            border: 1px;
            color: #074D63;
        }
    }
    .yoga-container-copy {
      width: 40%;
      .yoga-inside{
        background: #FAFAFA;
        padding: 36px;
        border-radius: 40px 0px 0px 40px;
      }
      .btn-block {
        width: 100%;
        max-width: 100%;
        height: 60px;
      }
      .yoga-content {
        display: flex;
        margin-bottom: 24px;
      }
  
      .yoga {
        border-radius: 20px 0px 0px 20px;
        width: 40%;
        height: 108px;
        overflow: hidden;
        display: flex;
    
      }
  
      .card-yoga {
        padding: 0 20px 30px 20px;
        background: rgba(252, 215, 215, 0.2);
        border-radius: 0 20px 20px 0;
        height: 108px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 60%;
        .dot {
          font-size: 10px;
          cursor: pointer;
        }
        .msg-hover {
          background-image: url(../../../../assets/images/more.svg);
          background-repeat: no-repeat;
          height: 20px;
        }
        .pin-msg {
          font-family: 'FFMarkWebProBook';
          font-style: normal;
          font-weight: normal;
          font-size: 10px;
          line-height: 15px;
          color: #6D6D6D;
          cursor: pointer;
        }
        .action-popover {
          width: 125px !important;
        }
        .dot-section:hover{
          background-image: url(../../../../assets/images/more.svg);
          background-repeat: no-repeat;
          height: 20px;
        }
        .send-msg:hover + .dot-section{
          background-image: url(../../../../assets/images/more.svg);
          background-repeat: no-repeat;
          height: 20px;
        }
        .send-message:hover + .dot-section{
          background-image: url(../../../../assets/images/more.svg);
          background-repeat: no-repeat;
          height: 20px;
        }
      }
  
      .head-yoga {
        font-family: 'BelyDisplay-Regular';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 30px;
        white-space: nowrap;
        text-align: right;
  
        color: #074d63;
      }
  
      .para {
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 15px;
  
        text-align: right;
  
        color: #074d63;
      }
    }
  
    .graph-head {
      width: 180px;
      height: 18px;
      left: 600px;
      top: 596px;
  
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
  
      color: #074d63;
    }
  

  
    .this-month {
      background: #fff4e3;
      border-radius: 40px;
      padding: 30px 71px;
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      i.fas {
        color: #ffffff;
        margin-left: 0;
        margin-right: 6px;
        &.fa-chevron-up {
          background: #00bad5;
        }
        &.fa-chevron-down {
          background: #074d63;
          & ~ .no {
            color: #074d63;
          }
        }
      }
      .session {
        width: 33%;
      }
      .session-head {
        color: #074d63;
        width: 100%;
      }
  
      .sess {
        font-family: 'BelyDisplay-Regular';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
  
        color: #074d63;
      }
  
      .sess-list {
        color: #6d6d6d;
      }
      .info {
        display: flex;
        align-items: center;
      }
      .no {
        color: #00bad5;
      }
    }
  
    .graph-mood-container {
      display: flex;
      margin-bottom: 32px; 
      .graph {
        flex: 1;
        margin-right: 45px;
      }
      .header {
          margin-bottom: 14px;
      }
      .mood-container {
        width: 30%;
        .mood {
          width: 100%;
          height: 18px;
          font-family: 'FFMarkWebProBook';
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 18px;
  
          color: #074d63;
        }
        .emoji-container {
          display: flex;
          justify-content: space-between;
        }
        .emoji {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 91px;
          height: 107px;
          background: rgb(0, 186, 213, 0.05);
          border-radius: 20px;
        }
        .emoji-img,  {
          width: 44px;
          height: 44px;
          font-size: 44px;
          background: #FFCE07;
          color: #562A15;
          margin-bottom: 10px;
          border-radius: 20px;
        }
        .sub-head {
          font-family: 'FFMarkWebProBook';
          font-style: normal;
          font-weight: bold;
          font-size: 10px;
          line-height: 15px;
          /* identical to box height, or 150% */
  
          color: #074d63;
        }
      }
    }
  
    .share {
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
  
      color: #00bad5;
      i {width: 60%;
          background: none;
          box-shadow: none;
          display: inline-block;
          margin-left: 8px;
          width: auto;
          height: auto;
      }
    }

    .call-icon {
      top: 83%;
      bottom: 0%;
      background: #fcd7d7;
      height: 40px;
    }
  }

.restore-archive{
  color:#074d63;
  font-weight: bold;
  font-size: 10px;
  line-height: 15px;
  font-family: "FFMarkWebProBook";
}

.select-custom-design {
  height: calc(3.5em + 0.94rem + 2px);
  background: #EBF3FA;
  font-size: 0.9825rem;
  border: 2px solid #D4D3D3;
}

::ng-deep .ngx-dropdown-container{
margin-top: 7px;
}

::ng-deep .ngx-dropdown-container .ngx-dropdown-button{
  font-family: "FFMarkWebProBook" !important;
  font-style: normal;
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 20px;
  border: none !important;
  color: #074D63 !important;
  background:none !important;
  text-align: center !important;
}

::ng-deep .ngx-dropdown-container button .nsdicon-angle-down{

  margin-top: 8px !important;
}