<app-auth-navbar></app-auth-navbar>
<div class="auth-sidebar">
    <app-auth-sidebar></app-auth-sidebar>
</div>
<div class="customer-profile-container">
    <section class="font-family">
        <div class="font-family banner">
            <div class="top-container">
                <div class="form-container">
                    <div class="">
                        <img class="center profile" src="{{logedinData?.is_profile_pic_approved && logedinData?.profile_image ? logedinData?.profile_image : 'assets/images/users/avator-2.jpg'}}"/>
                        <img class="center edit-btn" src="assets/images/code pen.png" 
                        (click)="openModal(profilePictureModal, 'edit-profile')"/>
                        <h1 class="profile-content">{{logedinData?.user_id?.first_name}} {{logedinData?.user_id?.last_name}}</h1>
                        <p class="email-content">{{logedinData?.user_id?.email}}</p>
                        <form class="form-group" ata-bitwarden-watching="1" #profileForm="ngForm">
                            <div class="row" style="margin-top: 50px;margin-right: unset;margin-left: unset;">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="fname">First Name</label>
                                        <input type="text" class="form-control" id="fname" 
                                        [(ngModel)]="userProfile.first_name"
                                        #first_name="ngModel"
                                        name="first_name" required>
                                        <div *ngIf="first_name.hasError('required')">
                                            <p class="error-box margin-top-0 text-danger err-sf" style="font-size: 13px;font-weight: normal;">
                                                First Name is Required
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="lname">Last Name</label>
                                        <input type="text" class="form-control" id="lname" [(ngModel)]="userProfile.last_name"
                                        #last_name="ngModel"
                                        name="last_name" required>
                                        <div *ngIf="last_name.hasError('required')">
                                            <p class="error-box margin-top-0 text-danger err-sf" style="font-size: 13px;font-weight: normal;">
                                                Last Name is Required
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-right: unset;margin-left: unset;">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="text" class="form-control" id="email" 
                                        [(ngModel)]="userProfile.email" required
                                        #email="ngModel"
                                        name="email" required>
                                        <div *ngIf="email.hasError('required')">
                                            <p class="error-box margin-top-0 text-danger err-sf" style="font-size: 13px;font-weight: normal;">
                                                Email Name is Required
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="phone">Phone</label>
                                        <input type="text" class="form-control small-placeholder" id="phone" name="phone" max="13" maxlength="13"
                                            placeholder="Enter your phone number with country code excluding +" autocomplete="off" (keypress)="numberOnly($event)"
                                            [(ngModel)]="userProfile.phone_number">
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-right: unset;margin-left: unset;">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="country">Country</label>
                                        <ngx-select-dropdown class="form-control select-custom-design"
                                            tabindex="0"
                                            [multiple]="false" 
                                            [config]="countryConfig" 
                                            [options]="countryData"
                                            [(ngModel)]="userProfile.country_name"
                                            #country="ngModel"
                                            name="country" required
                                            (change)="countryChanged($event.value)" style="width:100%;">
                                        </ngx-select-dropdown>
                                        <div *ngIf="country.hasError('required')">
                                            <p class="error-box margin-top-0 text-danger err-sf" style="font-size: 13px;font-weight: normal;">
                                                Country is Required
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="state">State</label>
                                        <ngx-select-dropdown class="form-control select-custom-design"
                                            tabindex="0"
                                            [multiple]="false" 
                                            [config]="stateConfig" 
                                            [options]="stateData"
                                            [(ngModel)]="userProfile.state_name"
                                            #state="ngModel"
                                            name="state" required
                                            (change)="stateChanged($event.value)" style="width:100%;">
                                        </ngx-select-dropdown>
                                    </div>
                                    <div *ngIf="state.hasError('required')">
                                        <p class="error-box margin-top-0 text-danger err-sf" style="font-size: 13px;font-weight: normal;">
                                            State is Required
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-right: unset;margin-left: unset;">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="city">City</label>
                                        <ngx-select-dropdown class="form-control select-custom-design"
                                            tabindex="0"
                                            [multiple]="false" 
                                            [config]="cityConfig" 
                                            [options]="cityData"
                                            [(ngModel)]="userProfile.city_name"
                                            #city="ngModel"
                                            name="city" required
                                            (change)="cityChanged($event.value)" style="width:100%;">
                                        </ngx-select-dropdown>
                                    </div>
                                    <div *ngIf="city.hasError('required')">
                                        <p class="error-box margin-top-0 text-danger err-sf" style="font-size: 13px;font-weight: normal;">
                                            City is Required
                                        </p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="postalcode">Postal Code</label>
                                        <input type="text" class="form-control" id="postalcode" 
                                        name="postalcode"  (keypress)="numberOnly($event)" max="7" maxlength="7" required autocomplete="off" (keypress)="numberOnly($event)" [(ngModel)]="userProfile.zipcode">
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-center">
                                <button type="button" class="nextstep" [disabled]="!profileForm.valid" (click)="profileSubmit()" style="margin-right: 0px !important;">Save Profile <i class="fa fa-arrow-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="yoga-container-copy">
                    <div class="yoga-inside">
                        <div class="d-flex justify-content-between header">
                            <h1 class="interest">My Interests ({{interests.length}})</h1>
                            <h1 class="see" routerLink="/view-interests" style="cursor: pointer;">see all →</h1>
                        </div>
                        <ng-container *ngFor="let interest of interests; let i = index">
                            <ng-container *ngIf="i<5">
                                <div class="yoga-content">
                                    <div  class="yoga">
                                        <img src="{{interest.cover_photo}}" alt="{{ interest.description}}">
                                    </div>
                                    <div class="card-yoga">
                                        <div class="dot"  [popover]="deleteInterestTemplate" placement="left" (click)="selectInterest(interest)"> <img class="p-dot h-more-width" src="../../../../assets/images/h-more.svg" /></div>

                                        <!-- <div class="dot" (click)="deleteInterest(interest)"><i class="fas fa-trash text-danger" style="background: none;box-shadow: none;margin-right:-15px;display: flex;
                                                                        justify-content: center;
                                                                        align-items: center;
                                                                        margin-left: 15px;width: 40px;height: 40px;"></i></div> -->
                                        <div class="head-yoga">{{ interest.interest | limitTo:17 }}</div>
                                        <div class="para">{{ interest.description | limitTo:17 }}</div>

                                        <ng-template #deleteInterestTemplate>
                                            <div class="action-popover">
                                                    <span class="restore-archive" (click)="deleteInterest(selectedInterest)">Remove Interest</span>
                                            </div>
                                        </ng-template>
                                    </div>

                                </div>
                            </ng-container>
                        </ng-container>
                        <h1 class="see" routerLink="/view-interests" style="cursor: pointer">Add new interest →</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
