/*Panel tabs*/
.panel-tabs1 {
    position     : relative;
    bottom       : 30px;
    clear        : both;
    border-bottom: 1px solid transparent;
}

.panel-tabs1>li {
    float        : left;
    margin-bottom: -1px;
}

.panel-tabs1>li>a {
    margin-right : 2px;
    margin-top   : 4px;
    line-height  : .85;
    // border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color        : #ffffff;
}

.panel-tabs1>li>a:hover {
    border-color    : transparent;
    color           : #ffffff;
    background-color: transparent;
}

.panel-tabs1>li.active>a,
.panel-tabs1>li.active>a:hover,
.panel-tabs1>li.active>a:focus {
    color                : #fff;
    cursor               : default;
    -webkit-border-radius: 2px;
    -moz-border-radius   : 2px;
    border-radius        : 2px;
    background-color     : rgba(109, 109, 109, 0.1);
    ;
    border-bottom-color: transparent;
}

.nav-tabs {
    border-bottom: 1px solid transparent;
}

.nav {
    display      : flex;
    flex-wrap    : wrap;
    padding-left : 0;
    margin-bottom: 0;
    list-style   : none;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color           : #fff !important;
    background-color: #00BAD5;
    border-color    : #00BAD5;
}

.nav-tabs .nav-link {
    margin-bottom: -1px;
    border       : 1px solid #fff;
    border-radius: 8px;
}

.nav-tabs>li>a,
.nav-pills>li>a {
    color           : #074D63;
    font-weight     : 500;
    background-color: rgba(109, 109, 109, 0.1);
    flex            : none;
    order           : 1;
    flex-grow       : 0;
    margin          : 0px 12px 0 0;
    @media screen and (max-width: 767px) and (min-width: 320px) {
        margin: 0 12px 8px 0;
    }
    font-family: 'FFMarkWebProBook';
}

.nav-link {
    display: block;
    padding: 8px 12px;
}

.grey-line {
    margin       : 40px 0;
    border-bottom: 1px solid #6D6D6D;
    opacity      : 20%;
}

.alphabetical-btn{
    color: #074D63;
    font-weight: 500;
    background-color: rgba(109, 109, 109, 0.1);
    flex: none;
    font-family: "FFMarkWebProBook";
    border: 1px solid #fff;
    border-radius: 8px;
    width: 188px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}



.alph-up{
    background-image: url(../../../assets/images/Vector-up.png);
    background-repeat: no-repeat;
    height: 20px;
    position: relative;
    z-index: 333;
    background-position: right;
    background-size: auto;
    right: 0;
    top: 8px;
    width: 15px;
}


.alph-down{
    background-image: url(../../../assets/images/Vector-1.png);
    background-repeat: no-repeat;
    height: 20px;
    position: relative;
    z-index: 333;
    background-position: right;
    background-size: auto;
    right: 0;
    top: -3px;
    width: 15px;
}

// .fev-box {

//     max-width    : 210px;
//     margin-right : 16px;
//     margin-bottom: 30px;
//     margin-top   : 20px;

//     &:last-child {
//         margin-right: 0;
//     }

//     &__img {
//         border-radius: 20px;
//         margin-bottom: 10px;
//     }

//     &__pro {
//         position     : absolute;
//         width        : 80px;
//         height       : 52px;
//         background   : #FBD036;
//         border-radius: 20px 0px;

//         &--text {
//             position   : absolute;
//             width      : 44px;
//             height     : 35px;
//             left       : 24px;
//             top        : 10px;
//             font-style : normal;
//             font-weight: bold;
//             font-size  : 20px;
//             line-height: 35px;
//             color      : #074D63;
//         }

//     }

//     .star-color {
//         color    : #074D63;
//         font-size: 16px;
//     }

//     &__rating {
//         font-style : normal;
//         font-weight: normal;
//         font-size  : 20px;
//         line-height: 20px;
//         color      : #074D63;
//     }

//     &__user-name {

//         font-style : normal;
//         font-weight: bold;
//         font-size  : 24px;
//         line-height: 32px;
//         color      : #074D63;
//     }

//     &__info {
//         font-style : normal;
//         font-weight: normal;
//         font-size  : 14px;
//         line-height: 18px;
//         color      : #074D63;
//     }

//     &__start-btn {
//         display       : flex;
//         flex-direction: row;
//         align-items   : flex-start;
//         padding       : 8px 16px;

//         width : 164px;
//         height: 34px;

//         background   : #00BAD5;
//         border-radius: 8px;

//         font-style : normal;
//         font-weight: normal;
//         font-size  : 14px;
//         line-height: 18px;
//         color      : #FFFFFF;
//     }

//     &__default-btn {
//         display       : flex;
//         flex-direction: row;
//         align-items   : flex-start;
//         padding       : 8px 16px;



//         /* Background - light */

//         background   : #FAFAFA;
//         border-radius: 8px;

//         font-style : normal;
//         font-weight: normal;
//         font-size  : 14px;
//         line-height: 18px;
//         /* identical to box height, or 129% */


//         /* Secondary */

//         color: #074D63;
//     }
// }



// .dt-pagination-ul {
//     display      : flex;
//     align-items  : center;
//     margin-bottom: 90px;
//     padding-left : 0;
//     // border-top: 1px solid #dee2e6;
//     padding      : 0 15px 15px 0px;
// }

// .dt-pagination .dt-item {
//     display: inline-block;
// }


// .dt-pagination .dt-item.active .dt-link {
//     background  : #074D63;
//     border-color: #074D63;
//     color       : #fff;
// }

// .dt-pagination .dt-item .dt-link {
//     padding      : 6px 8px;
//     min-width    : 32px;
//     min-height   : 32px;
//     border-radius: 50%;
//     margin-left  : 0;
//     margin-right : 8px;
//     display      : inline-block;
//     text-align   : center;
//     cursor       : pointer;

//     /* H2 - Regular */

//     font-style : normal;
//     font-size  : 16px;
//     line-height: 20px;
//     /* identical to box height, or 125% */


//     /* White */

//     color: #074D63;


// }

// .dt-pagination .dt-item .dt-link i {
//     border       : 2px solid #074D63;
//     padding      : 12px 15px;
//     border-radius: 50%;
// }

// .pegination-result {
//     font-style    : normal;
//     // font-weight: bold;
//     font-size     : 16px;
//     line-height   : 20px;
//     /* identical to box height, or 125% */


//     /* Secondary */

//     color: #074D63;

// }



// // ***************************
// .live-class {
//     margin-bottom: 30px;
//     margin-top   : 20px;

//     &__top {
//         position   : absolute;
//         width      : 160px;
//         height     : 18px;
//         left       : 25px;
//         top        : 15px;
//         font-style : normal;
//         font-weight: normal;
//         font-size  : 14px;
//         line-height: 18px;
//         color      : #FFFFFF;
//     }

//     &__img {
//         width        : 274px;
//         height       : 200px;
//         border-radius: 8px;
//     }

//     &__description {
//         font-style        : normal;
//         font-weight       : bold;
//         font-size         : 20px;
//         line-height       : 24px;
//         padding           : 15px 0 0;
//         color             : #074D63;
//         display           : -webkit-box;
//         -webkit-box-orient: vertical;
//         -webkit-line-clamp: 2;
//         overflow          : hidden;
//         margin-bottom     : 8px;
//     }

//     &__info {
//         font-style : normal;
//         font-weight: normal;
//         font-size  : 14px;
//         line-height: 18px;
//         color      : #074D63;
//     }

//     &__white-btn {
//         // width        : 162px;
//         // height       : 24px;
//         position     : absolute;
//         border-radius: 8px;
//         padding      : 4px 12px 4px 12px;
//         left         : 25px;
//         top          : 150px;
//         background   : #FFFFFF;
//         border-radius: 8px;
//         /* H3 - Bold */
//         border       : 1px solid #fff;
//         font-style   : normal;
//         font-weight  : bold;
//         font-size    : 12px;
//         line-height  : 16px;
//         text-align   : right;
//         color        : #074D63;
//         flex         : none;
//         order        : 0;
//         flex-grow    : 0;
//     }
// }


// ***************

// .course {
//     &__bg {
//         background-color: #fff;
//         border-radius   : 20px;
//         box-shadow      : 0px 30px 50px rgba(0, 0, 0, 0.06);
//         padding         : 0 24px 24px 24px;
//     }

//     &__large-img {
//         border-radius: 20px 20px 0px 0px;
//         margin-bottom: 20px;
//     }

//     &__video-tag {
//         position       : absolute;
//         left           : 42%;
//         right          : 0;
//         top            : 26%;
//         bottom         : 75.05%;
//         background     : #16BBD5;
//         box-shadow     : 0px 10px 15px rgb(0 186 213 / 30%);
//         width          : 40px;
//         height         : 40px;
//         border-radius  : 50%;
//         display        : flex;
//         justify-content: center;
//         align-items    : center;
//     }

//     i {
//         color: #fff;

//     }

//     &__description {
//         font-style : normal;
//         font-weight: bold;
//         font-size  : 20px;
//         line-height: 20px;
//         /* or 100% */


//         /* Secondary */

//         color: #074D63;


//         /* Inside Auto Layout */

//         flex     : none;
//         order    : 0;
//         flex-grow: 0;
//         margin   : 8px 0px;
//     }

//     &__info {
//         font-style : normal;
//         font-weight: normal;
//         font-size  : 14px;
//         line-height: 18px;
//         color      : #074D63;
//         flex       : none;
//         order      : 1;
//         align-self : stretch;
//         flex-grow  : 0;
//         margin     : 8px 0px;
//     }

//     &__count {
//         font-style : normal;
//         font-weight: bold;
//         font-size  : 14px;
//         line-height: 18px;
//         /* identical to box height, or 129% */


//         /* Secondary */

//         color: #074D63;


//         /* Inside Auto Layout */

//         flex     : none;
//         order    : 1;
//         flex-grow: 0;
//         margin   : 12px 0px;
//     }

//     &__rate-btn {
//         position: absolute;
//         width   : 100px;
//         height  : 28px;
//         left    : 24px;
//         top     : 246px;

//         /* Secondary */

//         background   : #074D63;
//         border-radius: 20px;
//         border       : 1px solid #074D63;
//         color        : #fff;
//     }

//     &__small-img {
//         width        : 32px;
//         height       : 32px;
//         // left      : 54px;
//         // top       : 0px;
//         border       : 1px solid #FFFFFF;
//         box-sizing   : border-box;
//         position     : relative;
//         // left: 50px;
//         display      : flex;

//         span {
//             font-style : normal;
//             font-weight: normal;
//             font-size  : 14px;
//             line-height: 18px;
//             position   : relative;
//             left       : 95px;
//             /* identical to box height, or 129% */


//             /* Secondary */

//             color: #074D63;


//             /* Inside Auto Layout */

//             flex     : none;
//             order    : 1;
//             flex-grow: 0;
//             margin   : 0px 8px;
//         }

//         img:nth-child(1) {
//             left    : 0px;
//             position: absolute;
//         }

//         img:nth-child(2) {
//             left    : 20px;
//             position: absolute;
//         }

//         img:nth-child(3) {
//             left    : 40px;
//             position: absolute;
//         }

//         img:nth-child(4) {
//             left    : 60px;
//             position: absolute;
//         }
//     }
// }


// .articles {
//     img {
//         border-radius: 20px;
//     }

//     &__title {
//         font-style : normal;
//         font-weight: bold;
//         font-size  : 16px;
//         line-height: 20px;
//         color      : #074D63;
//         flex       : none;
//         order      : 0;
//         flex-grow  : 0;
//         margin     : 16px 0px;
//     }

//     &__details {
//         font-style : normal;
//         font-weight: bold;
//         font-size  : 28px;
//         line-height: 35px;
//         /* or 125% */
//         display           : -webkit-box;
//         -webkit-box-orient: vertical;
//         -webkit-line-clamp: 2;
//         overflow          : hidden;


//         /* Secondary */

//         color: #074D63;


//         /* Inside Auto Layout */

//         flex     : none;
//         order    : 1;
//         flex-grow: 0;
//         margin   : 16px 0px;
//     }

//     &__description {
//         font-style : normal;
//         font-weight: normal;
//         font-size  : 20px;
//         line-height: 150%;
//         /* or 30px */


//         color: #000000;


//         /* Inside Auto Layout */

//         flex     : none;
//         order    : 2;
//         flex-grow: 0;
//         margin   : 16px 0px;
//     }

// }

.page-title{

    font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 20px;
/* identical to box height, or 100% */

display: flex;
align-items: center;

/* Secondary */

color: #074D63;

}

.bottom-b{
    border-bottom: 1px solid #6D6D6D;
    opacity: 0.24;
    margin-bottom: 40px;
}
.top-user {
    margin: 40px 0 0;
    // border-bottom: 1px solid #6D6D6D;
    padding-bottom: 40px;

    &__pro {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;


        position: static;
        width   : 96px;
        height  : 96px;
        left    : 60.5px;
        top     : 0px;

        /* Secondary */

        background   : #074D63;
        border-radius: 100px;

        /* Inside Auto Layout */

        flex     : none;
        order    : 0;
        flex-grow: 0;
        margin   : 16px 0px;


        img {
            padding: 0;
        }

        i {
            padding  : 24px 28px;
            color    : #fff;
            font-size: 45px;
        }
    }

    &__name {
        // font-family: FF Mark Pro;
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 32px;
        line-height: 35px;
        /* identical to box height, or 109% */


        /* Secondary */

        color: #074D63;


        /* Inside Auto Layout */

        flex        : none;
        // order    : 1;

        flex-grow: 0;
        margin   : 16px 0px 40px;
    }

    &__pro-btn {
        display        : flex;
        flex-direction : row;
        justify-content: center;
        align-items    : center;
        padding        : 20px 40px;

        // position: absolute;
        // width   : 218px;
        height  : 60px;
        // left    : 611px;
        // top     : 367px;

        background   : #16BBD5;
        border-radius: 20px;
        border:1px solid #16BBD5;

        /* H2 - Bold */

        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 16px;
        line-height: 20px;
        /* identical to box height, or 125% */


        /* White */

        color: #FFFFFF;


        /* Inside Auto Layout */

        flex     : none;
        // order    : 0;
        flex-grow: 0;
        margin   : 0px 0px;
    }
}

