<div class="header-top-section-bg">
    <div class="container">
        <app-header></app-header>
        <div class="container p-0">
            <div class="d-flex-center flex-column top-user">
                <div class="top-user__pro"
                    *ngIf="(logedinData?.is_profile_pic_approved && logedinData?.profile_image || logedinData?.is_photo_verified && logedinData?.profile_image)">
                    <img class="top-user__pro"
                        src="{{logedinData?.is_profile_pic_approved && logedinData?.profile_image || logedinData?.is_photo_verified && logedinData?.profile_image ? logedinData?.profile_image : 'assets/images/users/avator-2.jpg'}}"
                        alt="Header Avatar">
                </div>
                <div class="top-user__pro"
                    *ngIf="!(logedinData?.is_profile_pic_approved && logedinData?.profile_image || logedinData?.is_photo_verified && logedinData?.profile_image)">
                    <i class="fa fa-user profile-icon"></i>
                </div>
                <div class="top-user__name">
                    {{transform(userData?.user?.first_name)}} {{transform(userData?.user?.last_name)}}
                </div>
                <div>
                    <button class="top-user__pro-btn cp" type="button" [routerLink]="['/manage-subscription']"> Upgrade
                        to Pro →
                    </button>
                </div>

            </div>

            <div class="col-lg-12 bottom-b">
                &nbsp;
            </div>

            <div class="container p-0">
                <div class="  font-20-20 mb-4 page-title"> My Favorites </div>
                <div class="row justify-content-between">
                    <ul class="nav nav-tabs p-0" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#home"
                                (click)="getCustomerFavoritePractitioners(1)">Practitioners
                                ({{customerFavorites.fav_practitioner_count}})</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " data-toggle="tab" href="#menu1"
                                (click)="getCustomerFavoriteLiveClasses(1)">Live Classes
                                ({{customerFavorites.fav_live_class_count}})</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#menu2"
                                (click)="getCustomerFavoriteCourses(1)">Courses
                                ({{customerFavorites.fav_courses_count}})</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " data-toggle="tab" href="#menu3"
                                (click)="getCustomerFavoriteArticles(1)">Articles
                                ({{customerFavorites.fav_article_count}})</a>
                        </li>
                    </ul>

                    <button class="alphabetical-btn">
                        <span> Alphabetical ( A to Z ) </span>
                        <span>
                            <div class="alph-up"></div>
                            <div class="alph-down"></div>
                        </span>
                    </button>



                    <!-- 2222 -->

                    <!-- <button class="alphabetical-btn">
                        <span> Newest to Oldest </span>
                        <span>
                            <div class="alph-up"></div>
                            <div class="alph-down"></div>
                        </span>
                    </button> -->


                    <!-- 333 -->
                    <!-- <button class="alphabetical-btn">
                        <span>Free </span>
                        <span>
                            <div class="alph-up"></div>
                            <div class="alph-down"></div>
                        </span>
                    </button> -->
                </div>
            </div>
            <!-- Tab panes -->
            <div class="tab-content">
                <div id="home" class="container p-0 tab-pane active"><br>
                    <div class="container p-0">
                        <div class="row mx-0">
                            <div class="fev-box"
                                *ngFor="let practitioner of customerFavorites?.practitioner_list?.data">
                                <app-practitioners [id]="practitioner.practitioner_id"
                                    [fav_id]="practitioner.fav_practitioner_id"
                                    [image]="practitioner.practitioner_profile_image"
                                    [firstname]="practitioner.practitioner_firstname" [showRemove]="true"
                                    [rating]="practitioner.practitioner_rating"
                                    [ratecount]="practitioner.practitioner_rate_count"
                                    [firstname]="practitioner.practitioner_firstname"
                                    [lastname]="practitioner.practitioner_lastname"
                                    [expertise]="practitioner.practitioner_expertise[0]"
                                    [startingprice]="practitioner.starting_price"
                                    (getUpdatedPractitionerData)="getCustomerFavoritePractitioners(practitionerPage)">
                                </app-practitioners>
                            </div>
                        </div>

                        <div class="container" *ngIf="customerFavorites.fav_practitioner_count>dataLimit">
                            <div class="dt-pagination d-flex">
                                <pagination [boundaryLinks]="false" [itemsPerPage]=itemsPerPage [rotate]="false"
                                    [maxSize]=maxSize (pageChanged)="getCustomerFavoritePractitioners($event.page)"
                                    [totalItems]="customerFavorites.fav_practitioner_count" previousText="&lsaquo;"
                                    nextText="&rsaquo;">
                                </pagination>
                                <span class="pegination-result">{{customerFavorites.fav_practitioner_count}}
                                    results</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="menu1" class="container tab-pane p-0 fade "><br>
                    <div class="container p-0">
                        <div class="row mx-0 live-class">
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-12 px-2 m-b-20"
                                *ngFor="let class of customerFavorites?.live_class_list?.data">
                                <app-classes [showRemove]="true" [title]="class.live_class__title"
                                    [image]="class.live_class__image"
                                    [altimg]="class.live_class__practitioner__user_id__first_name" [id]="class.id"
                                    [classdate]="class.live_class__class_date"
                                    [starttime]="class.live_class__start_time" [duration]="class.live_class__duration"
                                    [expertise]="class.live_class__practitioner__expertise[0]"
                                    [firstname]="class.live_class__practitioner__user_id__first_name"
                                    [lastname]="class.live_class__practitioner__user_id__last_name"
                                    (getUpdatedClassData)="getCustomerFavoriteLiveClasses(classPage)"></app-classes>
                            </div>
                        </div>

                        <div class="container" *ngIf="customerFavorites.fav_live_class_count>dataLimit">
                            <div class="dt-pagination d-flex">
                                <pagination [boundaryLinks]="false" [itemsPerPage]=itemsPerPage [rotate]="false"
                                    [maxSize]=maxSize (pageChanged)="getCustomerFavoriteLiveClasses($event.page)"
                                    [totalItems]="customerFavorites.fav_live_class_count" previousText="&lsaquo;"
                                    nextText="&rsaquo;">
                                </pagination>
                                <span class="pegination-result">{{customerFavorites.fav_live_class_count}}
                                    results</span>
                            </div>

                        </div>

                    </div>

                </div>


                <div id="menu2" class="container p-0 tab-pane fade"><br>
                    <div class="container p-0">
                        <div class="row mx-0 course1">
                            <div class="col-lg-3 col-md-4 col-sm-6 col-12 px-2  mb-4"
                                *ngFor="let course of customerFavorites?.fav_courses_list?.data">
                                <app-courses [id]="course.id" [viewers_detail]="course.viewers_detail"
                                    [showRemove]="true" [cover_photo]="course?.lessons[0]?.cover_photo"
                                    [rating]="course.related_course_rating" [video]=""
                                    [ratecount]="course.related_course_rated_count" [title]="course.course_title"
                                    [firstname]="course.practitioner_firstname"
                                    [lastname]="course.practitioner_lastname" [lessoncount]="course.lesson_count"
                                    [duration]="course.related_course_duration_in_sec"
                                    (getUpdatedCourseData)="getCustomerFavoriteCourses(coursePage)"></app-courses>
                            </div>
                        </div>


                        <div class="container" *ngIf="customerFavorites.fav_courses_count>dataLimit">
                            <div class="dt-pagination d-flex">
                                <pagination [boundaryLinks]="false" [itemsPerPage]=itemsPerPage [rotate]="false"
                                    [maxSize]=maxSize (pageChanged)="getCustomerFavoriteCourses($event.page)"
                                    [totalItems]="customerFavorites.fav_courses_count" previousText="&lsaquo;"
                                    nextText="&rsaquo;">
                                </pagination>
                                <span class="pegination-result">{{customerFavorites.fav_courses_count}} results</span>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="menu3" class="container p-0 tab-pane fade"><br>
                    <div class="container p-0">
                        <div class="row mx-0">
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 articles px-2 mb-5"
                                *ngFor="let article of customerFavorites?.article_list?.data">
                                <app-articles [showRemove]="true" [id]="article.id" [image]="article.article__image"
                                    [category]="article.article__category[0]"
                                    [firstname]="article.article__author__first_name"
                                    [lastname]="article.article__author__last_name" [title]="article.article__title "
                                    [description]="article.article__description"
                                    (getUpdatedArticleData)="getCustomerFavoriteArticles(articlePage)"></app-articles>
                            </div>
                        </div>

                    </div>

                    <div class="container" *ngIf="customerFavorites.fav_article_count>dataLimit">
                        <div class="dt-pagination d-flex">
                            <pagination [boundaryLinks]="false" [itemsPerPage]=itemsPerPage [rotate]="false"
                                [maxSize]=maxSize (pageChanged)="getCustomerFavoriteArticles($event.page)"
                                [totalItems]="customerFavorites.fav_article_count" previousText="&lsaquo;"
                                nextText="&rsaquo;">
                            </pagination>
                            <span class="pegination-result">{{customerFavorites.fav_article_count}} results</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>