<app-auth-navbar></app-auth-navbar>
<div class="auth-sidebar">
    <app-auth-sidebar></app-auth-sidebar>
</div>
<div class="add-bank-details-wrapper">
    <div class="add-bank-details-container">
        <div class="title base-font">Bank account details</div>

        <form class="form-group" [formGroup]="addBankDetailsForm" (ngSubmit)="saveBankDetails()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="accountType">Account Type</label>
                        <select class="form-control" id="accountType" name="account_holder_type" formControlName="account_holder_type">
                            <option value="individual">Individual</option>
                            <option value="company">Company</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="routingNumber">Routing Number / IFSC Code </label>
                        <input type="text" class="form-control" id="routingNumber" name="routing_number" minlength="9" maxlength="9" formControlName="routing_number">
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="accountNumber">Account Number</label>
                        <input type="text" class="form-control" id="accountNumber" name="account_number" formControlName="account_number">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="accountName">Account holder Name</label>
                        <input type="text" class="form-control" id="accountName" name="account_holder_name" formControlName="account_holder_name">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="bankName">Bank Name</label>
                        <input type="text" class="form-control" id="bankName" name="bank_name" formControlName="bank_name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="country">Country</label>
                        <ngx-select-dropdown class="form-control select-custom-design" tabindex="0" [multiple]="false" [config]="countryConfig" [options]="countryData"
                            formControlName="country" name="country" required (change)="countryChanged($event.value)">
                        </ngx-select-dropdown>
                    </div>
                </div>
            </div>
        </form>

        <div class="add-new-container d-flex flex-column align-items-center">
            <button type="button" class="btn add-new" [disabled]="!addBankDetailsForm.valid" (click)="saveBankDetails()">
                {{isEdit ? 'Update this account' : 'Link this account'}}
                <i class="fa fa-arrow-right"></i>
            </button>
        </div>
    </div>
</div>