.header-top-section-bg {
    padding-bottom     : 100px;
    background-image   : url(../../../../assets/images/bg/Gradient.png);
    background-position: top left;
    background-size    : contain;
    background-repeat  : no-repeat;
    // height             : 745px;

    @media screen and (max-width:767px) and (min-width: 320px) {
        // max-height: 100%;
        padding-bottom: 0!important;
    }
}

.home-bg-blue {
    padding-bottom     : 100px;
    background-image   : url(../../../../assets/images/bg/Group-1.png);
    background-position: right center;
    background-size    : revert;
    background-repeat  : no-repeat;
    max-height         : 900px;

    @media screen and (max-width:767px) and (min-width: 320px) {
        max-height     : 1100px;
        background-size: contain;
    }
}

.home-bg-right {
    padding-bottom     : 100px;
    background-image   : url(../../../../assets/images/bg/Planet.png);
    background-position: right bottom;
    background-size    : contain;
    background-repeat  : no-repeat;
    max-height         : 600px;

    @media screen and (max-width:767px) and (min-width: 320px) {
        max-height: 100%;
    }
}

.home-Courses {
    background-image   : url(../../../../assets/images/bg/Gradient-1.png);
    background-position: left center;
    background-size    : contain;
    background-repeat  : no-repeat;

    // max-height: 718px;
    @media screen and (max-width:767px) and (min-width: 320px) {
        // max-height: 100%;
    }
}

@media screen and (max-width:767px) and (min-width: 320px) {
    .searh-res {
        padding-top   : 0 !important;
        padding-bottom: 0 !important;
    }
}

.pp-related {
    background-image   : url(../../../../assets/images/bg/Planet-7.png);
    background-position: center;
    background-size    : contain;
    background-repeat  : no-repeat;

    // max-height: 718px;
    @media screen and (max-width:767px) and (min-width: 320px) {
        max-height: 100%;
    }
}

// .header-top-second{
//     padding-bottom        : 100px;
//     background-image      : url(../../../../assets/images/bg/Eclipse-pp2.png);
//     background-position: top left;
//     background-size: contain;
//     background-repeat: no-repeat;
//     height: 745px;
// }

.top-space-tb {
    padding-top   : 50px;
    padding-bottom: 50px;
}


.detail-class {
    &__vedio {
        width        : 120.34px;
        height       : 41px;
        left         : 0px;
        top          : 0px;
        background   : #074D63;
        border-radius: 12px;
        border       : 1px solid #074D63;
        color        : #fff;
        font-family  : 'FFMarkWebProBook';
        font-style   : normal;
        font-weight  : bold;
        font-size    : 14px;
        line-height  : 16px;
        margin-bottom: 15px;
    }

    &__time {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 20px;
        line-height: 20px;
        color      : #074D63;
        margin     : 25px 0;
    }


    &__h1 {
        font-family: 'healspace font';
        font-style : normal;
        font-weight: normal;
        font-size  : 40px;
        line-height: 55px;
        color      : #074D63;

        @media screen and (max-width: 1199px) and (min-width: 320px) {
            font-size: 32px;
        }

    }

    &__sec-text {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 24px;
        line-height: 35px;
        /* identical to box height, or 146% */


        /* Secondary */

        color: #074D63;


    }

    &__description {
        font-family   : 'FFMarkWebProBook';
        font-style    : normal;
        font-weight   : normal;
        font-size     : 16px;
        line-height   : 32px;
        /* or 200% */
        // height     : 96px;

        color: #000000;


        /* Inside Auto Layout */

        flex     : none;
        order    : 1;
        flex-grow: 0;
        margin   : 24px 0px 0 0;
    }

    &__bg-blue {
        width          : 48px;
        height         : 48px;
        background     : #00BAD5;
        box-shadow     : 0px 10px 15px rgba(0, 186, 213, 0.3);
        border         : 1px solid #00BAD5;
        border-radius  : 50%;
        display        : flex;
        justify-content: center;
        align-items    : center;
        color          : #fff;
        font-size      : 20px;
        font-family    : 'FFMarkWebProBook';
    }

    &__no {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 24px;
        line-height: 20px;
        color      : #074D63;
        flex       : none;
        order      : 0;
        flex-grow  : 0;
        margin     : 0px 0px;
    }

    &__no-detail {
        font-style : normal;
        font-weight: normal;
        font-size  : 14px;
        line-height: 18px;
        color      : #074D63;
        flex       : none;
        order      : 1;
        flex-grow  : 0;
        margin     : 0px 0px;
        font-family: 'FFMarkWebProBook';
    }

    &__heading {

        font-family: 'healspace font';
        font-style : normal;
        font-weight: normal;
        font-size  : 40px;
        line-height: 45px;

        @media screen and (max-width:767px) and (min-width: 320px) {
            font-size  : 24px;
            line-height: 23px;
        }

        color         : #074D63;
        padding-bottom: 30px;
    }

    &__arrow-bg {
        width    : 41px;
        height   : 41px;
        transform: matrix(1, 0, 0, -1, 0, 0);
    }
}


.banner-pic {
    top          : -95px;
    left         : 45px;
    border-radius: 50%;
    width        : 200px;
    color        : #FFFFFF;

    span {
        color      : #fff;
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        color      : #FFFFFF;
        font-style : normal;
        font-weight: normal;
        font-size  : 16px;
        line-height: 20px;
    }

    &__second {
        width : 91px;
        height: 38px;

        /* White */

        background   : #FFFFFF;
        border-radius: 8px;
        color        : #074D63;

        font-family    : 'FFMarkWebProBook';
        font-style     : normal;
        font-weight    : bold;
        font-size      : 20px;
        line-height    : 30px;
        top            : -82px;
        text-align     : center;
        left           : 45px;
        display        : flex;
        justify-content: center;
        align-items    : center;


    }

    &__white-box {

        width : 48px;
        height: 44px;
        left  : 0px;
        top   : 0px;

        background     : #FFFFFF;
        border-radius  : 12px;
        display        : flex;
        justify-content: center;
        align-items    : center;

        // color: #000;
        &--heart {
            background-image: url(../../../../assets/images/Heart-Empty.png);
            height          : 26px;
            width           : 26px;

            background-position: center;
            background-size    : contain;
            background-repeat  : no-repeat;

            &:hover {
                background-image: url(../../../../assets/images/Union.png);
            }
        }

        i {
            color: #074D63;
            ;
        }
    }
}

button:disabled,
button[disabled] {
    background: rgba(109, 109, 109, 0.1) !important;
    border    : none !important;
    color     : rgba(109, 109, 109, 0.5);
}

// .heal-btn {
//     &__primary {
//         background     : #16BBD5;
//         border-radius  : 20px;
//         flex           : none;
//         order          : 0;
//         flex-grow      : 0;
//         margin         : 0px 32px;
//         display        : flex;
//         flex-direction : row;
//         justify-content: center;
//         align-items    : center;
//         padding        : 20px 40px;
//         font-style     : normal;
//         font-weight    : bold;
//         font-size      : 16px;
//         line-height    : 20px;
//         color          : #FFFFFF;
//         flex           : none;
//         order          : 0;
//         flex-grow      : 0;
//         margin         : 0px 0px;
//     }

//     &__default {
//         background     : #fff;
//         border-radius  : 20px;
//         flex           : none;
//         order          : 0;
//         flex-grow      : 0;
//         margin         : 0px 32px;
//         display        : flex;
//         flex-direction : row;
//         justify-content: center;
//         align-items    : center;
//         padding        : 20px 40px;
//         font-style     : normal;
//         font-weight    : bold;
//         font-size      : 16px;
//         line-height    : 20px;
//         color          : #074D63;
//         flex           : none;
//         order          : 0;
//         flex-grow      : 0;
//         margin         : 0px 0px;
//     }
// }




.rating {

    background   : #FAFAFA;
    border-radius: 20px;
    padding      : 40px;

    &__title {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 16px;
        line-height: 20px;
        /* identical to box height, or 125% */


        /* Secondary */

        color: #074D63;
    }

    &__des {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 14px;
        line-height: 18px;
        /* or 129% */


        /* Background - dark */

        color: #6D6D6D;
    }
}

.p-profile-p {
    padding: 55px 0;
}

.heart-icon {
    position: absolute;
    top     : 45px;
    right   : 45px;
    z-index : 33;
}

.banner-position {
    border-radius: 20px 0px 0px 20px;
    width        : 630px;
    height       : 520px;

    @media screen and (max-width: 1199px) and (min-width: 320px) {
        width: 100%;
    }


}


.banner-text {
    box-sizing: border-box;
    position  : relative;
    // left: 50px;
    display   : flex;
}


.banner-img {
    position: absolute;
    right   : 0;
    top     : 140px;

    @media screen and (max-width: 767px) and (min-width: 320px) {
        position: relative !important;
        top     : 0;
    }

}

.img-res {
    position: absolute;
    right   : 0px;
    width   : 100%;
}

.share-media {
    font-family: 'FFMarkWebProBook';
    font-style : normal;
    font-weight: normal;
    font-size  : 16px;
    line-height: 20px;

    /* Secondary */

    color: #074D63;
}

.modal-title {
    font-family: 'FFMarkWebProBook';
    font-weight: bold;
    font-size  : 20px;
    line-height: 25px;

    /* Secondary */

    color: #074D63;

}

.modal-header {
    display                : flex;
    align-items            : flex-start;
    justify-content        : space-between;
    padding                : 1rem 1rem;
    border-bottom          : 1px solid transparent !important;
    border-top-left-radius : calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

.modal-border {
    border-bottom: 1px solid #eff2f7
}

.modal-content {
    position        : relative;
    display         : flex;
    flex-direction  : column;
    width           : 360px;
    pointer-events  : auto;
    background-color: #fff;
    background-clip : padding-box;
    border          : 1px solid #f6f6f6;
    border-radius   : 20px;
    outline         : 0;
    padding         : 30px;
}

.modal-body {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // padding: 44px;
    // background-color: #FAFAFA;
    border-radius: 40px;
}
  
.modal-dialog {
    max-width: 800px !important;
    margin   : 1.75rem auto;
}
.detail {
    width: 100%;

    &__small-img {
        width        : 32px;
        height       : 32px;
        // left      : 54px;
        // top       : 0px;
        // border       : 1px solid #FFFFFF;
        box-sizing   : border-box;
        position     : relative;
        // left: 50px;
        display      : flex;
        width        : 100%;

        span {

            font-style : normal;
            font-weight: normal;
            font-size  : 24px;
            line-height: 18px;
            /* identical to box height, or 75% */


            /* Secondary */

            color: #074D63;


            position: relative;
            left    : 95px;

        }

        img:nth-child(1) {
            left    : 0px;
            position: absolute;
        }

        img:nth-child(2) {
            left    : 20px;
            position: absolute;
        }

        img:nth-child(3) {
            left    : 40px;
            position: absolute;
        }

        img:nth-child(4) {
            left    : 60px;
            position: absolute;
        }
    }
}

.detail-user {
    img {
        width : 216px;
        height: 276px;
    }

    &__heading {
        font-family: 'healspace font';
        font-style : normal;
        font-weight: normal;
        font-size  : 48px;
        line-height: 76px;
        /* identical to box height, or 158% */


        /* Secondary */

        color: #074D63;
    }

    &__mini {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 16px;
        line-height: 20px;
        /* identical to box height, or 125% */


        /* Secondary */

        color: #074D63;
    }

    &__des {
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 32px;
        /* or 160% */
        
        
        color: #000000;
    }
}
.second-heart{
    position: absolute;
    top: 16px;
    right: 62px;
    z-index: 33;
}

