<div class="header-top-section-bg">

    <div class="home-bg-right">
            <app-header></app-header>
            <div class="container top-space-tb searh-res">
                <div class="row   searh-res">
                    <div class="col-lg-5 col-md-6 col-sm-12 col-12 mt-4 detail-class">
                        <button class="detail-class__vedio">LIVE <img src="../../../../assets/images/vedio.png">
                        </button>
                        <div class="detail-class__time">
                            <!-- Apr 4 - 6:00pm | 40 min -->

                            {{classDetail.live_class_date | date: 'MMM d'}} - {{classDetail.live_class_start_time|
                                date: 'shortTime'}} |
                                {{getTime(classDetail.live_class_duration)}}
                        </div>

                        <p class="detail-class__h1">
                            {{classDetail.live_class_title}}
                            <!-- Live Class title will be displayed here on three rows ! -->

                        </p>
                        <p class="detail-class__sec-text">
                            by {{classDetail.practitioner_firstname}}
                                {{classDetail.practitioner_lastname}} 

                            <!-- by Darlene Robertson -->
                        </p>
                        <div class="detail__small-img col-lg-12 py-3">
                            <img src="../../../assets/images/Ellipse 15.png">
                            <img src="../../../assets/images/Ellipse 16.png">
                            <img src="../../../assets/images/Ellipse 17.png">
                            <img src="../../../assets/images/Ellipse 18.png">
                            <span> 45 attending</span>
                        </div>
                        <div class="row mx-0 my-3">
                            <button class="heal-btn__primary mr-2 mt-5" (click)="initiateJoinClassModal()">
                                Join this Live Class →
                            </button>
                        </div>
                        
                        <!-- <ng-template #joinclassmodal>
                            <app-join-free-live-class *ngIf="!authService.isAuthenticated() && classDetail.live_class_price==0" [class_price]="classDetail.live_class_price"></app-join-free-live-class>
                            <app-join-paid-live-class *ngIf="!authService.isAuthenticated() && classDetail.live_class_price==0" [selectedClass]="classDetail" [class_price]="classDetail.live_class_price"></app-join-paid-live-class>
                        </ng-template> -->

                    </div>
                </div>
            </div>


            <div class="container-fluid p-0">
                <div class="col-lg-6 col-md-6 col-sm-12 p-0 banner-img">
                    <div class="d-flex heart-icon">
                        <div class="banner-pic__white-box mr-2"  *ngIf="authService.isAuthenticated()" (click)="addRemoveFavClass()">
                            <div class="banner-pic__white-box far fa-heart color-blue cp cursor-pointer"
                                [ngClass]="{' fas ':classDetail?.is_favorite_class, ' far ':!classDetail?.is_favorite_class}">
                                &nbsp;</div>
                        </div>

                        <div class="banner-pic__white-box" (click)="openModal(template)">
                            <i class="fas fa-external-link-alt cursor-pointer"></i>
                        </div>

                        <ng-template #template>
                            <div class="modal-dialog modal-md" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Share</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="d-flex py-3 modal-border mb-2 align-items-center">
                                            <li [socialShare]="'fb'"><i class="fab fa-facebook-f mr-3"> </i> <span
                                                    class="share-media"> Facebook </span></li>
                                        </div>
                                        <div class="d-flex py-3 modal-border mb-2 align-items-center">
                                            <li [socialShare]="'tw'"><i class="fab fa-twitter mr-3"></i><span
                                                    class="share-media"> Twiter</span></li>
                                        </div>
                                        <div class="d-flex py-3 modal-border mb-2 align-items-center">
                                            <li [socialShare]="'in'"><i class="fab fa-linkedin-in mr-3"></i><span
                                                    class="share-media"> Linkedin </span></li>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </ng-template>
                    </div>

                    <img class="banner-position" src="../../../../assets/images/Rectangle-45.png">
                    <!-- <img class="banner-position" [src]="classDetail?.live_class_image ? classDetail?.live_class_image : 'assets/images/Rectangle 103.png'"> -->
                    <div class="banner-text banner-pic">
                        <span> Starts in:</span>
                    </div>
                    <div class="banner-text banner-pic__second">
                        in 2d 1h
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container top-space-tb searh-res">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-12 detail-user" >
                <div class="d-flex second-heart">
                    <div class="banner-pic__white-box mr-2" *ngIf="authService.isAuthenticated()" (click)="addRemoveFavPractitioner()" >
                        <div class="banner-pic__white-box far fa-heart color-blue cp cursor-pointer"
                            [ngClass]="{' fas ':classDetail?.is_favorite_practitioner, ' far ':!classDetail?.is_favorite_practitioner}">
                            &nbsp;
                        </div>
                    </div>

                </div>
                <img [src]="classDetail.practitioner_profile_image ? classDetail.practitioner_profile_image : 'assets/images/Rectangle 54.png'"
            alt="{{classDetail.practitioner_firstname}}" >
            </div>

            <div  class="col-lg-6 col-sm-6 col-12 detail-user">
                <p class="detail-user__heading">
                    {{classDetail.practitioner_firstname}} {{classDetail.practitioner_lastname}}
                </p>
                <p class="detail-user__mini">{{classDetail.practitioner_expertise[0]}} | {{classDetail?.practitioner_address_line4}}, {{classDetail?.practitioner_address_line2}}</p>

                <p class="detail-user__des">{{classDetail.practitioner_description}}</p>
            </div>
        </div>

    </div>

    <div class="container top-space-tb" *ngIf="classDetail?.practitioner_reviews?.length>0">
        <div class="row  mx-0 justify-content-between align-items-center1">
            <div style="    width: 69%;">
                <p class="detail-class__heading mb-0">{{classDetail?.practitioner_firstname}}’s ratings and
                    reviews </p>
                <div class="pb-2 d-flex align-items-center">
                    <i class="fa fa-star star-color mr-1"></i>
                    <span class="fev-box__rating">{{classDetail?.practitioner_overall_rating}}
                        ({{classDetail?.practitioner_rating_count}})</span>
                </div>
            </div>

            <div class="d-flex" *ngIf="classDetail?.practitioner_reviews.length>2">
                <div class="detail-class__arrow-bg mr-2" (click)="moveLeft()">
                    <img class="img-fluid cursor-pointer" src="../../../../assets/images/arrowleft.png">
                </div>

                <div class="detail-class__arrow-bg" (click)="moveRight()">
                    <img class="img-fluid cursor-pointer" src="../../../../assets/images/arrowright.png">
                </div>
            </div>
        </div>

        <div class="row   mx-0">
            <drag-scroll class="carousel-height-rate py-4">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-3 px-2" drag-scroll-item
                    *ngFor="let review of classDetail?.practitioner_reviews">
                    <app-rating [firstname]="review.user_id__first_name" [lastname]="review.user_id__last_name"
                        [rating_count]="review.overall_rating" [review]="review.review"></app-rating>
                </div>
            </drag-scroll>
        </div>
    </div>

    <div class="container top-space-tb" *ngIf="classDetail?.upcoming_classes.length>0">
        <div class="pp-related">
            <div class="row mx-0">
                <p class="detail-class__heading">Upcoming Live Classes </p>
                <div class="col-lg-12 p-0">
                    <app-class-carousel [live_classes]="classDetail.upcoming_classes"></app-class-carousel>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>