<app-auth-navbar></app-auth-navbar>
<div class="auth-sidebar">
    <app-auth-sidebar></app-auth-sidebar>
</div>

<div class="manage-notification">
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <p class="heading">Notifications from healplace</p>
        </div>
        <div class="col-lg-4 col-md-4">
            <p class="heading">How to receive notifications</p>
        </div>
        <div class="col-lg-4 col-md-4">
            <p class="heading">Reminders form healplace</p>
        </div>
    </div>
    <form class="form-group" ata-bitwarden-watching="1" #notificationForm="ngForm">
        <div class="row" style="margin-top: 50px;margin-right: unset;margin-left: unset;">
            <div class="col-4">
                <div class="form-group">
                    <label for="title1">Edit Title</label>
                    <input type="text" class="form-control title" id="title1" [(ngModel)]="notification.title1"
                        #title1="ngModel" name="title1" required>
                    <div *ngIf="title1.hasError('required')">
                        <p class="error-box margin-top-0 text-danger err-sf"
                            style="font-size: 13px;font-weight: normal;">
                            Title is Required
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="title2">Edit Title</label>
                    <input type="text" class="form-control title" id="title2" [(ngModel)]="notification.title2"
                        #title2="ngModel" name="title2" required>
                    <div *ngIf="title2.hasError('required')">
                        <p class="error-box margin-top-0 text-danger err-sf"
                            style="font-size: 13px;font-weight: normal;">
                            Title is Required
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="title3">Edit Title</label>
                    <input type="text" class="form-control title" id="title3" [(ngModel)]="notification.title3"
                        #title3="ngModel" name="title3" required>
                    <div *ngIf="title3.hasError('required')">
                        <p class="error-box margin-top-0 text-danger err-sf"
                            style="font-size: 13px;font-weight: normal;">
                            Title is Required
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 50px;margin-right: unset;margin-left: unset;">
            <div class="col-4">
                <div class="form-group">
                    <label for="description1">Edit Description</label>
                    <input type="text" class="form-control desp" id="description1" [(ngModel)]="notification.description1"
                        #description1="ngModel" name="description1" required>
                    <div *ngIf="description1.hasError('required')">
                        <p class="error-box margin-top-0 text-danger err-sf"
                            style="font-size: 13px;font-weight: normal;">
                            Description is Required
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="description12">Edit Description</label>
                    <input type="text" class="form-control desp" id="description12" [(ngModel)]="notification.description2"
                        #description2="ngModel" name="description12" required>
                    <div *ngIf="description2.hasError('required')">
                        <p class="error-box margin-top-0 text-danger err-sf"
                            style="font-size: 13px;font-weight: normal;">
                            Description is Required
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="description3">Edit Description</label>
                    <input type="text" class="form-control desp" id="description3" [(ngModel)]="notification.description3"
                        #description3="ngModel" name="description3" required>
                    <div *ngIf="description3.hasError('required')">
                        <p class="error-box margin-top-0 text-danger err-sf"
                            style="font-size: 13px;font-weight: normal;">
                            Description is Required
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 50px;margin-right: unset;margin-left: unset;">
            <div class="col-4">
                <div class="form-group">
                    <label for="frequency1">Edit Frequency Options</label>
                    <ngx-select-dropdown class="form-control select-custom-design"
                        tabindex="0"
                        [multiple]="false" 
                        [config]="frequencyConfig1" 
                        [options]="frequencyData1"
                        [(ngModel)]="notification.frequency1"
                        #frequency1="ngModel"
                        name="frequency1" required
                        (change)="frequency1Changed($event.value)" 
                        style="width: 80%;
                        background: #f6f6f6;border: none;">
                    </ngx-select-dropdown>
                    <div *ngIf="frequency1.hasError('required')">
                        <p class="error-box margin-top-0 text-danger err-sf" style="font-size: 13px;font-weight: normal;">
                            Frequency is Required
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="frequency2">Edit Frequency Options</label>
                    <ngx-select-dropdown class="form-control select-custom-design"
                        tabindex="0"
                        [multiple]="false" 
                        [config]="frequencyConfig2" 
                        [options]="frequencyData2"
                        [(ngModel)]="notification.frequency2"
                        #frequency2="ngModel"
                        name="frequency2" required
                        (change)="frequency2Changed($event.value)" 
                        style="width: 80%;
                        background: #f6f6f6;border: none;">
                    </ngx-select-dropdown>
                    <div *ngIf="frequency2.hasError('required')">
                        <p class="error-box margin-top-0 text-danger err-sf" style="font-size: 13px;font-weight: normal;">
                            Frequency is Required
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="frequency3">Edit Frequency Options</label>
                    <ngx-select-dropdown class="form-control select-custom-design"
                        tabindex="0"
                        [multiple]="false" 
                        [config]="frequencyConfig3" 
                        [options]="frequencyData3"
                        [(ngModel)]="notification.frequency3"
                        #frequency3="ngModel"
                        name="frequency3" required
                        (change)="frequency3Changed($event.value)" 
                        style="width: 80%;
                        background: #f6f6f6;border: none;">
                    </ngx-select-dropdown>
                    <div *ngIf="frequency3.hasError('required')">
                        <p class="error-box margin-top-0 text-danger err-sf" style="font-size: 13px;font-weight: normal;">
                            Frequency is Required
                        </p>
                    </div>
                </div>
            </div>
        </div><br>
        <div class="save" (click)="saveSettings()">
            Save Settings →
        </div>
    </form>
</div>