.manage-notification {
    padding: 25px 0px 0px 130px;
    .heading {
        font-family: FF Mark Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #6D6D6D;
    }
    .title {
        font-family: healspace font !important;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
        color: #074D63;
    }
    .desp {
        height: 202px;
    }
    input {
        width: 80%;
        height: 80px;
        border: 0;
        border-radius: 20px;
        padding: 20px;
        text-align: center;
        background-color: #F8F8F8;
    }
    ngx-select-dropdown {
        width: 80%;
        height: 80px;
        border: 0;
        border-radius: 20px;
        padding: 20px;
        text-align: center;
        background-color: #F8F8F8;
    }
    .save {
        cursor: pointer;
        margin: 0 auto;
        font-family: FF Mark Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #074D63;
        background: #FBD036;
        border-radius: 20px;
        width: 193px;
        height: 60px;
        text-align: center;
        padding: 20px 40px;
    }
}