<app-auth-navbar></app-auth-navbar>
<div class="auth-sidebar">
    <app-auth-sidebar></app-auth-sidebar>
</div>
<div id="notifications">
    <div class="left-section">
        <div class="notifications-container">
            <div>
                <div class="heading">Notifications from healplace</div>
                <div class="info-container">
                    <div>
                        <div class="title">Healplace news and updates</div>
                        <div class="description">Get notified when we make updates, add new features and release new services for the Healplace community.
                        </div>
                    </div>
                    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" 
                        [(ngModel)]="news_and_updates" (change)="updateNotification()">
                        <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" value="Daily">Daily
                        </label>
                        <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" value="Weekly">Weekly
                        </label>
                        <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" value="Off">Off
                        </label>
                    </div>
                </div>
            </div>
            <div>
                <div class="heading">How to receive notifications</div>
                <div class="info-container">
                    <div>
                        <div class="title">Choose method for receive notifications</div>
                        <div class="description">How would you like us to contact you?
                        </div>
                    </div>
                    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" 
                        [(ngModel)]="notification_type" (change)="updateNotification()">
                        <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" value="Email">Email
                        </label>
                        <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" value="SMS">Phone
                        </label>
                        <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" value="Both">Both
                        </label>
                    </div>
                </div>
            </div>
            <div>
                <div class="heading">Reminders from healplace</div>
                <div class="info-container">
                    <div>
                        <div class="title">Receive reminder before</div>
                        <div class="description">Get reminders before your session begins.
                        </div>
                    </div>
                    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" 
                        [(ngModel)]="reminder_type" (change)="updateNotification()">
                        <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" value="24">24 hours
                        </label>
                        <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" value="1">1 hour
                        </label>
                        <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" value="0.25">15 min
                        </label>
                        <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" value="0">Select All
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>