#notifications {
    padding-top: 56px;
    padding-left: 188px;
    background: #ffffff;
    padding-bottom: 70px;
    .heading {
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #6D6D6D;
        margin-bottom: 32px;
        width: 90%
    }
    .info-container {
        width: 90%;
        padding: 51px 57px;
        background: #FFFFFF;
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        margin-bottom: 48px;
        display: flex;
        justify-content: space-between;

        .title {
            font-family: 'BelyDisplay-Regular';
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 30px;
            color: #074D63;
            margin-bottom: 11px;
        }
       .description{
            font-family: 'FFMarkWebProBook';
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: #6D6D6D;
            width: 80%;
        }
        .btn-group {
            height: 60px;
            background: #f8f8f8;
            border-radius: 20px;
        }
        .btn {
            padding: 20px 30px;
            height: 60px;
            background: #f8f8f8;
            font-family: 'FFMarkWebProBook';
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            color: #6D6D6D;
            border: none;
            box-shadow: none;
            white-space: nowrap;
            &.active {
                border-radius: 20px;
                background: #00BAD5;
                color: #FFFFFF;
            }
            
        }
    }
}
