<div class="modal-body">
    <div class="m-auto">

        <div class="modal-padding">
            <p class="support__cong">
                Congratulations on completed<br>
                “{{data.course_title}}” Course!
            </p>

            <p class="support__cong-sm ">
                Please rate your experince with this content
            </p>

            <p class="text-center">
                <!-- <rating [(ngModel)]="rate" max="5"></rating>  -->

                <i class="fa fa-star star-grey" [ngClass]="{' star-yellow ': selectedRating >= 1 }" (click)="ratingCourse(1)"></i>
                <i class="fa fa-star star-grey" [ngClass]="{' star-yellow ': selectedRating >= 2 }" (click)="ratingCourse(2)"></i>
                <i class="fa fa-star star-grey" [ngClass]="{' star-yellow ': selectedRating >= 3 }" (click)="ratingCourse(3)"></i>
                <i class="fa fa-star star-grey" [ngClass]="{' star-yellow ': selectedRating >= 4 }" (click)="ratingCourse(4)"></i>
                <i class="fa fa-star star-grey" [ngClass]="{' star-yellow ': selectedRating >= 5 }" (click)="ratingCourse(5)"></i>
            </p>

            <div class="modal-border mt-5 mb-3">
                &nbsp;
            </div>

            <div class="pt-4 text-center" *ngIf="isRatingDone">
                <p class="support__thank">
                    Thank you for rating this Course.
                </p>
                <p class="support__thank-support mb-4">
                    Support this practitioner! Your donation is highly appreciated.
                </p>

                <button class="donate-btn-small text-center" (click)="initiateDonateToPractitioner()">
                    <i class="fas fa-heart"></i>
                    Donate to Darlene
                </button>
            </div>
        </div>


        <!-- <div class="modal-padding">
            <p class="support__get">
                Get access to this course<br> for just $39.99!
            </p>

            <p class="support__get-des py-5">
                This is a premium Course. You will need to create an account <br> in order to purchase and have access to this course.
            </p>

            <div class="col-lg-12 class-group">
                <button type="submit" class="modal-button-get m-auto">Get Course →</button>
            </div>
        </div> -->


        <!-- <div class="modal-padding">


                <p class="donate-sm__heading"> Create Account!</p>
                <p class="donate-sm__md">
                    Already have an account? <a> Sign in now! </a>
                </p>
               
                <div class="col-lg-12 m-auto pb-5"  >
                    <form >
                        <div class="row">
                            <div class="col-lg-12 form-group">
                                <input class="sign-up-input"  type="text"  placeholder="Name" >
                            </div>
            
                            <div class="col-lg-12 form-group">
                                <input type="email" class="sign-up-input" >
                            </div>
            
                            <div class="col-lg-6 form-group">
                                <input  class="sign-up-input">
                            </div>
            
                            <div class="col-lg-6 form-group">
                                <input class="sign-up-input" 
                                placeholder="Zip Code" >
                            </div>
            
                            <div class="col-lg-6 form-group">
                                <input   placeholder="State"   class="sign-up-input">
            
                            </div>
            
                            <div class="col-lg-6 form-group">                           
                                <input placeholder="City"   class="sign-up-input">
                            </div>
            
                            <div class="col-lg-12 form-group">
                                <input class="sign-up-input" type="password"   >
                            </div>
            
                            <div class="form-group  col-lg-12">
                                <div class="form-check">
                                    <label>
                                        <input type="radio"  >
                                        <span class="label-text">By creating your account you
                                            agree to healplace’s
                                            Privacy Policy.</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-12 text-center py-4">
                                <div class="d-flex justify-content-center align-items-center">
                                    <span class="donate-sm__other">Or sign up with</span>
                                    <div class="donate-sm__social"> <img src="../../../assets/images/Vector (1).png"> </div>
                                    <div class="donate-sm__social"><img src="../../../assets/images/Group (1).png"></div>
                                    <div class="donate-sm__social"><img src="../../../assets/images/Apple_logo_black 1.png">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 form-group text-center">
                                <button type="submit" class="button button__primary  ">Sign Up →</button>
                            </div>
                        </div>
            
                    </form>
                </div> 
                


        </div>
         -->
    </div>

    <!-- <div *ngIf="step==2">
        <div class="modal-header">
            <button type="button" class="btn-close close pull-right">
                <span aria-hidden="true" class="visually-hidden" (click)="modalService.dismissAll()">&times;</span>
            </button>
        </div>

        <div class="col-lg-12 modal-padding">
            <div class="col-lg-12 class-group text-center">
                <i class="fas fa-check-circle color-theme  icon-font"></i>
            </div>
            <div class="col-lg-12 class-group">
                <h5 class="join-free__title">Thank your for booking a seat in this Live Class!</h5>
            </div>
            <div class="col-lg-12 class-group">
                <p class="join-free__sm-des">Check you email to find the link for this Live Class.
                    You will be notified on email again with 30 minutes before this Live Class will start.</p>
            </div>
            <div class="col-lg-12 class-group">
                <button type="submit" class="modal-button m-auto" (click)="modalService.dismissAll()">Got it <i
                        class="ml-2 fa fa-arrow-right"></i></button>
            </div>
        </div>
    </div> -->
</div>