<div style="display: block;">
    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins"
        [legend]="barChartLegend" [chartType]="barChartType" [colors]="barChartColors">
    </canvas>
</div>