<div *ngIf="currentStep === 'one'" class="block-chat-modal  d-flex justify-content-center align-items-center flex-column">
    <div class="d-flex justify-content-center align-items-center base-color">1/4
    </div>

    <div class="w-40 d-flex justify-content-center align-items-center my-4">
        <img class="wp-100" src="../../../../../assets/images/practitioner/folow-up-icon.png" />
    </div>
    <!-- <img width="33px" src="../../../../../assets/images/practitioner/folow-up-icon.png" /> -->
    <p class="title">
        Follow-Up Form in Nutrition
    </p>
    <p class="content">Choose metrics category, or some type of stats to count </p>
    <div class="d-flex my-3 col-lg-12 col-md-12 my-3">
        <div class="col-lg-4 col-md-4">
            <div class="sub-div btn-flex-center" [class.subdivactive]="option === 'first'">
                <a (click)="optionSelected('first')">
                    <i *ngIf="option === 'first'" style="float: right;margin-top: 10px;margin-right: 10px;"
                        class="fa fa-check-circle"></i>
                    <p class="sub-content base-font m-0">Question about <br />
                        progress </p>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="sub-div btn-flex-center" [class.subdivactive]="option === 'second'">
                <a (click)="optionSelected('second')">
                    <i *ngIf="option === 'second'" style="float: right;margin-top: 10px;margin-right: 10px;"
                        class="fa fa-check-circle"></i>
                    <p class="sub-content base-font m-0">Question about <br />
                        health habits</p>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="sub-div btn-flex-center" [class.subdivactive]="option === 'third'">
                <a (click)="optionSelected('third')">
                    <i *ngIf="option === 'third'" style="float: right;margin-top: 10px;margin-right: 10px;"
                        class="fa fa-check-circle"></i>
                    <p class="sub-content base-font m-0">Question about <br />
                        something else</p>
                </a>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center flex-column">
        <button (click)="addQuestion()" *ngIf="option !==null" class="mb-2 br-10 add-details-btn" [disabled]="!option"
            [class.btnactive]="option === 'first' || option === 'second' || option === 'third'">Add Question
            →</button>
        <button (click)="addQuestion()" *ngIf="option ===null" class="mb-2 br-10 add-details-btn" [disabled]="!option"
            >Complete Form
            →</button>
        <button (click)="closeModal()" class="unstyled-button">Cancel</button>
    </div>
</div>

<div *ngIf="currentStep === 'two'" class="block-chat-modal d-flex justify-content-center align-items-center flex-column">
    <div class="d-flex justify-content-center align-items-center base-color">2/4
    </div>

    <div class="w-40 d-flex justify-content-center align-items-center my-4">
        <img class="wp-100" src="../../../../../assets/images/practitioner/folow-up-icon.png" />
    </div>
    <p class="title">
        Add question for customer
    </p>
    <p class="content">Choose metrics category, or some type of stats to count </p>
    <div class="d-flex mb-3">
        <input type="text" placeholder="Write a question" [(ngModel)]="question" (input)="onQuestion($event.target.value)" />
    </div>
    <div class="d-flex justify-content-center align-items-center flex-column">
        <button (click)="chooseAnswerType()" class="mb-2 br-10 add-details-btn" [disabled]="!question"
            [class.btnactive]="question !== null && question !== ''">Choose answer type →</button><br>
        <button (click)="closeModal()" class="unstyled-button">Cancel</button>
    </div>
</div>

<div *ngIf="currentStep === 'three'" class="block-chat-modal d-flex justify-content-center align-items-center flex-column">
    <div class="d-flex justify-content-center align-items-center base-color">3/4
    </div>

    <div class="w-40 d-flex justify-content-center align-items-center my-4">
        <img class="wp-100" src="../../../../../assets/images/practitioner/folow-up-icon.png" />
    </div>
    <p class="title">
        Choose answer type
    </p>
    <p class="content">Choose metrics category, or some type of stats to count </p>
    <div class="col-lg-12 col-md-12 d-flex flax-wrap justify-content-center align-items-center my-3">
        <div class="col-lg-4 col-md-4">
            <div class="base-font sub-div btn-flex-center" [class.subdivactive]="ansTypeOption === 'first'">
                <a (click)="ansTypeOptionSelected('first')">
                    <i *ngIf="ansTypeOption === 'first'" style="float: right;margin-top: 10px;margin-right: 10px;"
                        class="fa fa-check-circle"></i>
                    <p class="sub-content m-0">Choose from <br />
                        a scale of 1 to 5</p>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="base-font sub-div btn-flex-center" [class.subdivactive]="ansTypeOption === 'second'">
                <a (click)="ansTypeOptionSelected('second')">
                    <i *ngIf="ansTypeOption === 'second'" style="float: right;margin-top: 10px;margin-right: 10px;"
                        class="fa fa-check-circle"></i>
                    <p class="sub-content m-0">Yes / No <br />
                        Answer</p>
                </a>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center flex-column">
        <button (click)="chooseFreq()" class="br-10 mb-2 add-details-btn" [disabled]="!ansTypeOption"
            [class.btnactive]="ansTypeOption === 'first' || ansTypeOption === 'second'">Choose frequency  →</button><br>
        <button (click)="closeModal()" class="unstyled-button">Cancel</button>
    </div>
</div>

<div *ngIf="currentStep === 'four'" class="block-chat-modal  d-flex justify-content-center align-items-center flex-column">
    <div class="d-flex justify-content-center align-items-center base-color">4/4
    </div>

    <div class="w-40 d-flex justify-content-center align-items-center my-4">
        <img class="wp-100" src="../../../../../assets/images/practitioner/folow-up-icon.png" />
    </div>
    <p class="title">
        Choose a frequency for this <br />
follow-up form
    </p>
    <p class="content">Choose metrics category, or some type of stats to count </p>
    <div class="col-lg-12 col-md-12 d-flex flax-wrap justify-content-center align-items-center my-3">
        <div class="col-lg-4 col-md-4">
            <div class="base-font sub-div btn-flex-center" [class.subdivactive]="freqOption === 'first'">
                <a (click)="freqOptionSelected('first')">
                    <i *ngIf="freqOption === 'first'" style="float: right;margin-top: 10px;margin-right: 10px;"
                        class="fa fa-check-circle"></i>
                    <p class="sub-content m-0">Send it just <br />
                        this one time</p>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="base-font  sub-div btn-flex-center" [class.subdivactive]="freqOption === 'second'">
                <a (click)="freqOptionSelected('second')">
                    <i *ngIf="freqOption === 'second'" style="float: right;margin-top: 10px;margin-right: 10px;"
                        class="fa fa-check-circle"></i>
                    <p class="sub-content m-0">Daily</p>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="base-font sub-div btn-flex-center" [class.subdivactive]="freqOption === 'third'">
                <a (click)="freqOptionSelected('third')">
                    <i *ngIf="freqOption === 'third'" style="float: right;margin-top: 10px;margin-right: 10px;"
                        class="fa fa-check-circle"></i>
                    <p class="sub-content m-0">Weekly</p>
                </a>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center flex-column">
        <button (click)="sendForm()" class="br-10 mb-2 add-details-btn" [disabled]="!freqOption"
            [class.btnactive]="freqOption === 'first' || freqOption === 'second' || freqOption === 'third'">Send Form →</button><br>
        <button (click)="closeModal()" class="unstyled-button">Cancel</button>
    </div>
</div>

<div *ngIf="currentStep === 'five'" class="block-chat-modal d-flex justify-content-center align-items-center flex-column">
    <div class="w-40 d-flex justify-content-center align-items-center my-4">
        <img class="wp-100" src="../../../../../assets/images/practitioner/folow-up-icon.png" />
    </div>
    <p class="title">
        You send a follow-up form <br />
        to help this user track his <br />
        habits / progress.
    </p>
    <p class="content">Confimation message or other content here! </p>

    <div class="d-flex justify-content-center align-items-center flex-column mt-3"   >
        <button (click)="backToDashBoard()" class="btn back-to-btn" >Back to Dashboard →</button><br>
    </div>
</div>