<div class="second-page">
    <p class="hello">Choose At Least One Interest</p>
    {{isPage+1}} page of {{slideShowData.length}}
    <div class="row" style="cursor: pointer;">
        <div class="col-md-1" *ngIf="isPage != 0">
            <img src="assets/images/arrowleft.png" class="arrow-left" (click)="slideBackward()"/>
        </div>
        <div class="col-md-10">
            <div class="row" style="margin-right: -49px !important;margin-left: unset !important;">
                <ng-container *ngFor="let list of interestData; let i=index">
                    <div class="col-md-6" (click)="chooseMe(list.interest)">
                        <div class="row" style="height: 120px;padding: 10px;">
                            <div class="col-md-4" style="padding-right: unset !important;height: 100%;">
                                <img src="{{list.cover_photo ? 'https://healplace-s3-admin.s3.amazonaws.com/'+list.cover_photo : 'assets/images/shutterstocked.jfif'}}" class="div-space">
                            </div>
                            <div class="col-md-8 color-fix" [ngClass]="filterIfThere(list) ? 'col-md-8 color-fix fix-shadow active' : ''" id="{{list.interest}}">
                                <img src="assets/images/image2.png" alt="" class="check">
                                <p class="f-p" style="margin-top: 32px;
                                text-align: right;">{{list.interest}}</p>
                                <p class="s-p" style="margin-top: 32px;
                                text-align: right;">{{list.description}}</p>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>  
        </div>
        <div class="col-md-1" *ngIf="checkIfLetMove()">
            <img src="assets/images/arrowright.png" class="arrow-right" (click)="slideForward()"/>
        </div>
    </div>
</div>