.second-page {
    // padding-right: 103px;
    // padding-left: 180px;
    // margin-bottom: 13px;
}
.arrow-right {
    height: 110px !important;
    padding: 33px !important;
    margin-top: 66px !important;
    cursor: pointer;
}
.arrow-right:hover {
    border-radius: 55px;
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, .03);
}
.arrow-left {
    height: 110px !important;
    padding: 33px !important;
    margin-top: 66px !important;
    cursor: pointer;
}
.arrow-left:hover {
    border-radius: 55px;
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, .03);
}
.div-space{
    border-radius: 20px 0px 0px 20px;
    width: 100% !important;
    cursor: pointer;
    height: 100% !important;
}
.color-fix{
    background: rgba(252, 215, 215, 0.2);
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px;
    &.active {
        box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, .03);
        background: #fff;
        .check {
            display: block;
            position: absolute;
            top: 0;
            right: 4px;
            width: 32px;
            height: 32px;
        }
    }
    .check {
        display: none;
    }
}
.fix-shadow{
    background: #ffffff !important;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
}
.f-p{
    font-family: BelyDisplayW00-Regular;
    color: #134d63;
    font-weight: 1000;
    margin: 10px;
    font-size: 16px;
    margin-top: 32px;
    text-align: right;
}
.s-p{
    font-family: FF Mark Pro;
    color: #134d63;
    margin: 10px;
    font-size: 13px;
    margin-top: 5px !important;
    text-align: right;
}
.hello{
    font-family: 'healspace font';
    font-style: normal;
    font-size: 24px;
    line-height: 45px;
    color: #00BAD5;
    font-weight: 800;
}