<div class="header-top-section-bg">
    <div class="home-bg-blue">
        <div class="home-bg-right">
            <app-header></app-header>
            <div class="header-top-second">
                <div class="container top-space-tb searh-res">

                    <div class="row p-profile-p searh-res">

                        <div class="col-lg-5 col-md-6 col-sm-12 col-12 mt-4">
                            <div class="p-profile__yellow-card">
                                Premium | Session from: ${{profileDetail?.practitioner_details?.starting_price}}
                            </div>

                            <p class="p-profile__h1">{{profileDetail?.practitioner_details?.firstname}}
                                {{profileDetail?.practitioner_details?.lastname}}</p>
                            <p class="p-profile__sec-text">{{profileDetail?.practitioner_details?.expertise[0]}} |
                                {{profileDetail?.practitioner_details?.address_line4}},
                                {{profileDetail?.practitioner_details?.address_line2}}</p>

                            <p class="p-profile__description">
                                {{profileDetail?.practitioner_details?.description}}
                            </p>

                            <div class="row mx-0 my-4">
                                <div class="col-lg-6 col-ms-6 col-sm-6 col-6 px-1"
                                    *ngIf="profileDetail?.practitioner_details?.live_class_count>0">
                                    <div class="row">
                                        <div class="p-profile__bg-blue">
                                            <i class="fa fa-heart"></i>
                                        </div>


                                        <div class="ml-2">
                                            <div class="p-profile__no">
                                                {{profileDetail?.practitioner_details?.live_class_count}}
                                            </div>

                                            <div class="p-profile__detail">
                                                group classes
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-ms-6 col-sm-6 col-6 px-1"
                                    *ngIf="profileDetail?.practitioner_details?.course_count>0">
                                    <div class="d-flex">
                                        <div class="p-profile__bg-blue">
                                            <i class="fas fa-play"></i>
                                        </div>

                                        <div class="ml-2">
                                            <div class="p-profile__no">
                                                {{profileDetail?.practitioner_details?.course_count}}
                                            </div>

                                            <div class="p-profile__detail">
                                                group classes
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row mx-0 my-3">
                                <button class="heal-btn__primary mr-2 cp" [routerLink]="['/session/book',practitioner_id]">
                                    Book session →
                                </button>

                                <button class="heal-btn__default" disabled="!is_subscribed">
                                    Start Chat →
                                </button>
                            </div>


                        </div>
                    </div>

                </div>


                <div class="container-fluid p-0">
                    <div class="col-lg-6 col-md-6 col-sm-12 p-0 banner-img">
                        <div class="d-flex heart-icon" style="position: absolute;
                        top: 45px;
                        left: 45px;">
                            <div class="banner-pic__white-box mr-2">
                                <div class="banner-pic__white-box far fa-heart color-blue cp"
                                    (click)="addRemoveFavPractitioner(addremovefavtemplate)"
                                    [ngClass]="{' fas ':profileDetail?.practitioner_details.is_favorite_practitioner, ' far ':!profileDetail?.practitioner_details.is_favorite_practitioner}">
                                    &nbsp;
                                </div>
                                <ng-template #addremovefavtemplate>
                                    <div class="modal-header">
                                      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalService.dismissAll()">
                                        <span aria-hidden="true" class="visually-hidden">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="d-flex-center flex-column" *ngIf="isAdded">
                                            <i class="fas fa-heart color-theme heart-size"></i>
                                            <p class="huray-text">Huuuuray!</p>
                                            <p class="huray-des">You successfully added <strong>{{profileDetail?.practitioner_details?.firstname}} {{profileDetail?.practitioner_details?.lastname}}</strong>
                                                to <br> your favorites collection.</p>
                                            <p class="huray-update cp"[routerLink]="['/my-favorites']">See Favorites →</p>
                                        </div>
                                        <div *ngIf="!isAdded">
                                            <p class=" hurray-succes">You successfully removed <strong>{{profileDetail?.practitioner_details?.firstname}}
                                                {{profileDetail?.practitioner_details?.lastname}}</strong> <br> from your favorites collection.</p>
                                        </div>
                                    </div>
                                </ng-template>

                            </div>

                            <div class="banner-pic__white-box" (click)="openModal(template)">
                                <i class="fas fa-external-link-alt"></i>
                            </div>

                            <ng-template #template>

                                <!-- <div class="modal" tabindex="-1" role="dialog"> -->
                                <div class="modal-dialog modal-md" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Share</h5>
                                        </div>
                                        <div class="modal-body">
                                            <div class="d-flex py-3 modal-border mb-2 align-items-center">
                                                <li [socialShare]="'fb'"><i class="fab fa-facebook-f mr-3"> </i> <span
                                                        class="share-media"> Facebook </span></li>
                                            </div>
                                            <div class="d-flex py-3 modal-border mb-2 align-items-center">
                                                <li [socialShare]="'tw'"><i class="fab fa-twitter mr-3"></i><span
                                                        class="share-media"> Twiter</span></li>
                                            </div>
                                            <div class="d-flex py-3 modal-border mb-2 align-items-center">
                                                <li [socialShare]="'in'"><i class="fab fa-linkedin-in mr-3"></i><span
                                                        class="share-media"> Linkedin </span></li>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- <div class="modal-header ">
                                  <h4 class="modal-title pull-left">Share</h4> 
                                </div>
                                <div class="modal-body">
                                    <li [socialShare]="'fb'"><i class="fab fa-facebook-f"> </i>Facebook</li>
                                    <li [socialShare]="'tw'"><i class="fab fa-twitter"></i>Twiter</li>
                                    <li [socialShare]="'in'"><i class="fab fa-linkedin-in"></i>Linkedin</li>
                                </div> -->
                            </ng-template>
                        </div>
                        <img class="banner-position"
                            [src]="profileDetail?.practitioner_details?.practitioner_profile_image ? profileDetail?.practitioner_details?.practitioner_profile_image : 'assets/images/Rectangle 103.png'">
                        <!-- <img class="img-fluid" src="../../../../assets/images/Rectangle 103.png"> -->

                        <div class="course__small-img banner-pic">
                            <img src="../../../assets/images/Ellipse 15.png">
                            <img src="../../../assets/images/Ellipse 16.png">
                            <img src="../../../assets/images/Ellipse 17.png">
                            <img src="../../../assets/images/Ellipse 18.png">
                            <span> followed by 12 of your friends</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-Courses" *ngIf="profileDetail?.my_courses.length>0">
        <div class="container top-space-tb">
            <p class="p-profile__heading">{{profileDetail?.practitioner_details?.firstname}}’s Courses</p>
            <div class="row mx-0">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-2  mb-4"
                    *ngFor="let course of profileDetail?.my_courses | slice:0:8">
                    <app-courses [id]="course.course_id" [viewers_detail]="course?.viewers_detail" [rating]="course.related_course_rating"
                        [cover_photo]="course?.lessons[0]?.cover_photo" [video]=""
                        [ratecount]="course.related_course_rated_count" [title]="course.course_title"
                        [firstname]="course.practitioner_firstname" [lastname]="course.practitioner_lastname"
                        [lessoncount]="course.lesson_count" [duration]="course.related_course_duration_in_sec">
                    </app-courses>
                </div>
            </div>
        </div>
    </div>

    <div class="container top-space-tb" *ngIf="profileDetail.live_classes.length>0">
        <p class="p-profile__heading">Live Classes </p>

        <div class="col-lg-12 p-0">
            <app-class-carousel [live_classes]="profileDetail.live_classes"></app-class-carousel>
        </div>
    </div>


    <div class="container top-space-tb" *ngIf="profileDetail?.practitioner_details?.reviews.length>0">
        <div class="row  mx-0 justify-content-between align-items-center1">
            <div style="    width: 69%;">
                <p class="p-profile__heading mb-0">{{profileDetail?.practitioner_details?.firstname}}’s ratings and
                    reviews </p>
                <div class="pb-2 d-flex align-items-center">
                    <i class="fa fa-star star-color mr-1"></i>
                    <span class="fev-box__rating">{{profileDetail?.practitioner_details?.overall_rating}}
                        ({{profileDetail?.practitioner_details?.rating_count}})</span>
                </div>
            </div>

            <div class="d-flex" *ngIf="profileDetail?.practitioner_details?.reviews.length>2">
                <div class="p-profile__arrow-bg mr-2" (click)="moveLeft()">
                    <img class="img-fluid" src="../../../../assets/images/arrowleft.png">
                </div>

                <div class="p-profile__arrow-bg" (click)="moveRight()">
                    <img class="img-fluid" src="../../../../assets/images/arrowright.png">
                </div>
            </div>
        </div>

        <div class="row   mx-0">
            <drag-scroll class="carousel-height-rate py-4">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-3 px-2" drag-scroll-item
                    *ngFor="let review of profileDetail?.practitioner_details?.reviews">
                    <app-rating [firstname]="review.user_id__first_name" [lastname]="review.user_id__last_name"
                        [rating_count]="review.overall_rating" [review]="review.review"></app-rating>
                </div>
            </drag-scroll>
        </div>
    </div>

    <div class="container top-space-tb" *ngIf="profileDetail?.related_courses.length>0">
        <div class="pp-related">
            <div class="row mx-0">
                <p class="p-profile__heading">Related Courses </p>
                <div class="col-lg-12 p-0">
                    <app-course-carousel [related_courses]="profileDetail.related_courses"></app-course-carousel>
                </div>
            </div>
        </div>
    </div>

    <div class="container top-space-tb" *ngIf="profileDetail?.related_practitioner?.length>0">
        <div class="row mx-0">
            <p class="p-profile__heading">Related Practitioners </p>

            <div class="col-lg-12 p-0">
                <app-practitioner-carousel [related_practitioner]="profileDetail.related_practitioner">
                </app-practitioner-carousel>
            </div>

        </div>
    </div>

    <app-footer></app-footer>