<div class="withdraw-history-wrapper">
    <div class="d-flex align-items-center justify-content-between title-wrapper">
        <div class="title">My billing history and payments</div>
        <!-- <div class="dropdown" ngbDropdown>
            <button type="button" class="btn header-item" id="page-header-user-dropdown" ngbDropdownToggle>
                Download full history
                <i class="mdi mdi-chevron-down d-none d-xl-inline-block text-black-50"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                <a class="dropdown-item" href="#">By month</a>
                <a class="dropdown-item" href="#">Year to day</a>
                <a class="dropdown-item" href="#">By year</a>
                <a class="dropdown-item" href="#">All</a>
            </div>
        </div> -->
    </div>
    <div class="row withdraw-history-header">
        <div class="col-md-2">
            <div class="withdraw-history-title">Date</div>
        </div>
        <div class="col-md-5">
            <div class="withdraw-history-title">Plan / Session Type</div>
        </div>
        <div class="col-md-2">
            <div class="withdraw-history-title">Amount</div>
        </div>
        <div class="col-md-3">
            <div class="withdraw-history-title">Receipt</div>
        </div>
    </div>
    <ng-container *ngIf="billingDetails && billingDetails.length > 0 else callElseConatiner">
        <div class="row withdraw-history-item" *ngFor="let list of billingDetails">
            <div class="col-md-2">
                <div class="withdraw-history-value">{{list.modified | date:'shortDate'}}</div>
            </div>
            <div class="col-md-5">
                <div class="withdraw-history-value">{{list.duration_min}} minutes video session with {{list.practitioner__user_id__first_name}} {{list.practitioner__user_id__last_name}}</div>
            </div>
            <div class="col-md-2">
                <div class="withdraw-history-value">${{list.price}}</div>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn" (click)="downloadCSV(list)">Download</button>
            </div>
        </div>
    </ng-container>
    <ng-template #callElseConatiner>
        <div class="row withdraw-history-item">
            <div class="col-md-12">
                <div class="withdraw-history-value" style="text-align: center;">No data Found</div>
            </div>
        </div>
    </ng-template>
</div>