<app-auth-navbar></app-auth-navbar>
<div class="auth-sidebar">
    <app-auth-sidebar></app-auth-sidebar>
</div>
<div id="aboutus-container">
    <div class="title">About Us</div>
    <div class="sub-title">What we do?</div>
    <p class="desc">Healplace is a digital wellness platform that empowers healers, doctors and alternative wellness practitioners to reach the world, directly from their device. 
        <br><br>
        Our marketplace connects users with an on-demand library of wellness content, as well as live-streaming classes and 1:1 sessions from a carefully-curated network of practitioners and alternative therapists. </p>
    <br>
    <br>
        <div class="title">Our Philosophy</div>
        <p class="desc-2">We believe that wellness shouldn’t be hard to achieve. That caring is an essential part of healthcare. We believe in the power of everyday changes to change treatment outcomes for all of us.
            <br><br>

            We believe that in healing, there is a place for everyone: doctors, therapists, healers, alternative practitioners and coaches.
            <br><br>
            Access to the support you need should be simple. No co-pays, network limits or premiums.
            <br><br>
            Just wellness, on-demand.
            <br><br>
            However you need it.
            <br><br>
            Find your place at Healplace.
            </p>
    </div>