:host {
    // display: flex;
    background: #ffffff;
}

#aboutus-container{
    padding-left: 140px;
    padding-right: 196px;
    padding-top: 50px;
    flex: 1;
    min-width: 932px;
    background: #ffffff;
    padding-bottom: 70px;
    .title {
        font-family: 'BelyDisplay-Regular';
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
        color: #074D63;
        margin-bottom: 17px;
        text-align: left;
        
    }
    .sub-title{

        /* H2 - Regular */

        font-family: FF Mark Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height, or 125% */
        /* Secondary */
        margin-bottom: 17px;
        color: #074D63;
    }
    .desc{
        /* Paragraph - Bold */

        font-family: FF Mark Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        /* or 129% */
        top: 270px;


        /* Background - dark */

        color: #6D6D6D;
    }
    .desc-2{
        font-family: FF Mark Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        /* or 129% */
        top: 474px;
        
        /* Background - dark */
        
        color: #6D6D6D;
    }
}