.wrapper {
    background-image : url('../../../assets/images/logo.svg');
    height           : 842px;
    width            : 1440px;
    background-repeat: no-repeat;

}

.bg-grey {
    background-color: #f9f9f9;
    font-family     : 'FFMarkWebProBook';
    display         : flex;
    justify-content : center;
    align-items     : center;
    flex-direction  : column;
    overflow-y      : hidden;
}

.btn-send {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    padding        : 20px 40px;
    background     : #00BAD5;
    border-radius  : 20px;
    color          : #fff;
    border         : none;
    font-size  : 16px;
    line-height: 20px;
    font-weight: bold;
}


.left-container {
    display        : flex;
    justify-content: center;
    font-family    : 'FFMarkWebProBook';
}

.right-container {
    display        : flex;
    justify-content: center;
    padding        : 0 0 0 30px !important;
    font-family    : 'FFMarkWebProBook';
}

// .form-title {
//     font-weight  : bold;
//     font-size    : 32px;
//     line-height  : 41px;
//     color        : #074D63;
//     margin-bottom: 30px;
// }

.form-field-margin {
    margin-bottom: 32px;
}

.input-field-margin {
    // margin-right: 40px;
}

// .contact-us-title{
//     font-size: 48px;
//     color: #074D63;
//     font-family: 'healspace font';
// }

// .contact-us-desc {
//     font-size  : 16px;
//     line-height: 20px;
//     color      : #074D63;
// }

// .contact-us-other {
//     line-height: 32px;
//     font-size  : 16px;
//     margin     : 36px 0;
// }

// .contact-us-bold {
//     font-weight: 700;
//     color      : #074D63;
// }

.map-section {
    height             :621px;
    width              : 100%;
    background-image   : url(../../../assets/images/map.svg);
    background-position: center;
    background-size    : cover;
    background-repeat  : no-repeat;
}



.header-top-section-bg {
    padding-bottom     : 100px;
    background-image   : url(../../../assets/images/bg/static-page.svg);
    background-position: center;
    background-size    : cover;
    background-repeat  : no-repeat;
}

// input[type=text] {
//     width        : 280px;
//     height       : 82px;
//     background   : #FFFFFF;
//     box-shadow   : 0px 30px 50px rgb(0 0 0 / 6%);
//     border-radius: 20px;
//     border       : none;

//     font-weight : bold;
//     font-size   : 14px;
//     line-height : 18px;
//     color       : #074D63;
//     padding:0 32px;
// }

// textarea {
//     width        : 100%;
//     height       : 160px;
//     background   : #FFFFFF;
//     box-shadow   : 0px 30px 50px rgba(0, 0, 0, 0.06);
//     border-radius: 20px;
//     border       : none;
//     padding      : 32px 0 0 32px;
//     color        : #074D63;
//     font-weight  : bold;
//     resize       : none;
// }

textarea:focus,
input:focus {
    outline: none;
}

.contact {
    &__title {
        font-size  : 48px;
        color      : #074D63;
        font-family: 'healspace font';
        font-style : normal;
        font-weight: normal;
        font-size  : 48px;
        line-height: 76px;
        color      : #074D63;
        flex       : none;
        order      : 0;
        flex-grow  : 0;
        margin     : 0px 0px;
    }

    &__desc {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 16px;
        line-height: 20px;
        color      : #074D63;
        flex       : none;
        order      : 1;
        flex-grow  : 0;
        margin     : 16px 0px;


    }

    &__other {
        margin: 30px 0 15px 0;
    }

    &__bold {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 16px;
        line-height: 32px;
        color      : #074D63;
        margin     : 0px 0px;
    }

    &__top-space {
        margin-top   : 70px;
        margin-bottom: 70px;
    }

    &__form-title {
        margin-bottom: 30px;

        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 32px;
        line-height: 41px;
        /* identical to box height */


        /* Secondary */

        color: #074D63;

    }

    &__input{
        width        : 100%;
        height       : 82px;
        background   : #FFFFFF;
        box-shadow   : 0px 30px 50px rgb(0 0 0 / 6%);
        border-radius: 20px;
        border       : none;
    
        font-weight : bold;
        font-size   : 14px;
        line-height : 18px;
        color       : #074D63;
        padding-left: 32px;
        // margin-bottom: 32px;
    }

    &__textarea{
            width        : 100%;
            height       : 160px;
            background   : #FFFFFF;
            box-shadow   : 0px 30px 50px rgba(0, 0, 0, 0.06);
            border-radius: 20px;
            border       : none;
            padding      : 32px 0 0 32px;
            color        : #074D63;
            font-weight  : bold;
            resize       : none;
            // margin-bottom: 32px;
        }
        &__btn-send {
            display        : flex;
            flex-direction : row;
            justify-content: center;
            align-items    : center;
            padding        : 20px 40px;
            background     : #00BAD5;
            border-radius  : 20px;
            color          : #fff;
            border         : none;
            font-size  : 16px;
            line-height: 20px;
            font-weight: bold;
        }
}