<div class="header-top-section-bg">
    <app-header></app-header>
    <div class="container contact__top-space">

        <div class="row ">
            <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                <p class="contact__title">Contact Us</p>
                <p class="contact__desc">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex
                    ea commodo</p>

                <div class="col-lg-12 p-0 contact__other">
                    <p class="contact__bold">hello@healplace.co</p>
                    <p class="contact__bold">support@healplace.co</p>
                </div>
                <div class="col-lg-12 p-0 contact__other ">
                    <p class="contact__bold">Address:</p>
                    <p class="contact__bold">1853 Par Drive, Burbank Street, California, CA</p>
                </div>
                <div class="col-lg-12 p-0  contact__other">
                    <p class="contact__bold">Working Hours:</p>
                    <p class="contact__bold">08:00 am - 08:00 pm</p>
                </div>
                <div class="d-flex flex-column contact__other">
                    <span class="contact__bold social-icon-margin">Find us on Social</span>
                    <div class="d-flex">
                        <div class="d-flex-center social-icon"><a href="https://www.facebook.com/healplacedotcom/" target="_blank"><i
                                    class="fab fa-facebook-f"></i></a></div>
                        <div class="d-flex-center social-icon"><a href="https://www.instagram.com/heal.place/?hl=en" target="_blank"><i
                                    class="fab fa-instagram"></i></a></div>
                        <div class="d-flex-center social-icon"><a href="https://twitter.com/healplacedotcom"><i class="fab fa-twitter"></i></a></div>
                        <div class="d-flex-center social-icon"><a href="https://www.linkedin.com/in/manisha-singal-md-2117b74"
                                target="_blank"><i class="fab fa-linkedin-in"></i></a></div>
                    
                    </div>
                </div>

            </div>

            <div class="  col-lg-7 col-md-12 col-sm-12 col-12">
                <label class="contact__form-title">Send us a message</label>
                <form name="ContactForm" spellcheck="false" autocomplete="off" (ngSubmit)="submit(ContactForm)"
                #ContactForm="ngForm">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-12 form-field-margin">
                            <input type="text" [(ngModel)]="contact.first_name" #FirstName="ngModel" name="FirstName" class=" contact__input"
                                [ngClass]="{' show-error ': ContactForm.submitted && FirstName.invalid}" placeholder="First Name" required>
                                <!-- <input class="sign-up-input" type="password" placeholder="Password" #password="ngModel" name="password" [(ngModel)]="user.password" required> -->
                                <div *ngIf="ContactForm.submitted && FirstName.invalid">
                                    <span class="ng-error">
                                        Please enter valid name
                                    </span>
                                </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12 form-field-margin">
                            <input type="text" [(ngModel)]="contact.last_name" name="lastname" class=" contact__input"
                                placeholder="Second Name">
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12 form-field-margin">
                            <input type="email" [(ngModel)]="contact.email" pattern="^[a-zA-Z]+[a-zA-Z0-9._-]+@[a-zA-Z]+\.[a-zA-Z.]{2,5}$" #email="ngModel" name="email" class="contact__input"
                            [ngClass]="{' show-error ': ContactForm.submitted && email.invalid}"  placeholder="Email" required>
                              
                            <div *ngIf="ContactForm.submitted && email.invalid">
                                <span class="ng-error">
                                    Invalid format for email address.
                                </span>
                            </div>
                               
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12 form-field-margin">
                            <input type="text" [(ngModel)]="contact.phone_number" name="phone_number" class=" contact__input"
                                placeholder="Phone">
                        </div>

                        <div class="col-lg-12 col-sm-12 col-12 form-field-margin">
                            <textarea placeholder="Message" name="messagein" class="contact__textarea"
                            #messagein="ngModel" [ngClass]="{' show-error ': ContactForm.submitted && messagein.invalid}"   [(ngModel)]="contact.message" required ></textarea>
                        </div>
                        <div class="col-lg-12 col-sm-12 col-12 mb-3">
                            <button type="submit"class="contact__btn-send">Send Message <i
                                    class="ml-2 fa fa-arrow-right"></i></button>
                        </div>
                        <div class="col-lg-12 col-sm-12 col-12 mb-3" *ngIf="showSuccess">
                           Your enquiry has been submitted.
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- <div  class="bg-grey"> -->
<div class="d-flex-center map-section">
</div>
<app-footer></app-footer>

<!-- </div> -->