<div class="add-session-container">

    <div class="title">{{ title }}</div>
    <div class="info">Check details below before adding this session type to your profile</div>
    <hr>
    <div class="row session-item">
            <div class="col-md-5">
                <div class="session-title">Session Type</div>
                <div class="session-value">{{ session.expertise }}</div>
            </div>
            <div class="col-md-3">
                <div class="session-title">Price</div>
                <div class="session-value">${{ session.price }}</div>
            </div>
            <div class="col-md-4">
                <div class="session-title">Time</div>
                <div class="session-value">{{ session.duration_min }} minutes</div>
            </div>

        </div>

    <hr>


    <div class="add-new-container d-flex flex-column align-items-center">
        <button type="button" class="btn add-new" (click)="nextChange(session)">
            {{buttonText}}
            <i class="fa fa-arrow-right"></i>
        </button>
        <button type="button" class="btn" (click)="back()">
            Back
        </button>
    </div>
</div>