:host {
	width: 50%;
	padding-right: 60px;
  }
::ng-deep .carousel-inner{
	overflow: inherit !important;
}
  .sessions-container {
	.sessions-list-container {
	  .session-list{
		  max-height: 400px;
		  overflow-y: scroll;
	  }
	  .title {
		font-family: 'FFMarkWebProBook';
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 18px;
		color: #074d63;
		margin-bottom: 12px;
	  }
	  .info {
		font-family: 'Healspace font';
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 30px;
		color: #00bad5;
		margin-bottom: 30px;
	  }
	  .session-item {
		display: flex;
		.total {
		  height: 78px;
		  background: #fafafa;
		  border-radius: 20px;
		  font-family: 'Healspace font';
		  font-style: normal;
		  font-weight: normal;
		  font-size: 14px;
		  line-height: 18px;
		  color: #074d63;
		  display: flex;
		  flex-direction: column;
		  align-items: center;
		  justify-content: center;
		  margin-right: 4px;
		  padding: 10px 20px;
		  span:first-child {
			font-size: 40px;
			line-height: 45px;
		  }
		  span:nth-child(2) {
			font-size: 14px;
			line-height: 18px;
		  }
		}
		.session-details {
		  padding: 20px;
		  display: flex;
		  justify-content: space-between;
		  align-items: center;
		  background: #fafafa;
		  border-radius: 20px;
		  flex: 1;
		  margin-bottom: 33px;
		  .item {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			.title {
			  font-family: 'FFMarkWebProBook';
			  font-style: normal;
			  font-weight: normal;
			  font-size: 14px;
			  line-height: 18px;
			  color: #6d6d6d;
			  margin-bottom: 0;
			}
			.info {
			  font-family: 'FFMarkWebProBook';
			  font-style: normal;
			  font-weight: bold;
			  font-size: 16px;
			  line-height: 20px;
			  color: #074d63;
			  margin-bottom: 0;
			}
		  }
		}
	  }
	}
	.carousel {
	  background: #fafafa;
	  border-radius: 20px;
	  padding: 20px 70px;
	  height: 160px;
	  outline: none;
	  &::ng-deep .carousel-control-prev-icon,
	  &::ng-deep .carousel-control-next-icon {
		background: none;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #000000;
		background: #ffffff;
		font-size: 18px;
		&:before {
		  content: "\2190";
		}
	  }
	  &::ng-deep .carousel-control-next-icon {
		&:before {
		  content: "\2192";
		}
	  }
	  .carousel-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		.head {
		  display: flex;
		  justify-content: space-between;
		  align-items: center;
		  margin-bottom: 11px;
		}
	  }
	  .star {
		font-size: 17px;
		color: #b0c4de;
	  }
	  .filled {
		color: #fbd036;
	  }
	  .rating {
		font-family: 'FFMarkWebProBook';
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 18px;
		color: #074d63;
	  }
	  .rating-info {
		display: flex;
		flex-direction: column;
	  }
	  .practitioner-info {
		display: flex;
		.profile-photo {
		  width: 40px;
		  height: 40px;
		//   background: url("../../../../../assets/images/users/avator-2.jpg");
		  background-size: 100%;
		  border-radius: 50%;
		  margin-right: 12px;
		}
		.name {
		  font-family: 'BelyDisplay-Regular';
		  font-style: normal;
		  font-weight: bold;
		  font-size: 16px;
		  line-height: 20px;
		  color: #074d63;
		}
		.place {
		  font-family: 'FFMarkWebProBook';
		  font-style: normal;
		  font-weight: normal;
		  font-size: 12px;
		  line-height: 16px;
		  color: #6d6d6d;
		}
		.bs-tooltip-bottom {
			z-index: 9999 !important;
		}
	  }
	}
  }
  