
<div class="sessions-container">
    <div class="sessions-list-container">
        <div class="title">Sessions</div>
        <div class="info">{{sessions.sessions}} sessions | {{sessions.clients}} clients | {{sessions.hours}} hours</div>
        <div class="session-list">
            <div class="session-item mb-2" *ngFor="let session of sessions.session_details">
                <div class="total">
                    <span>{{session.session }}</span>
                    <span>Sessions</span>
                </div>
                <div class="session-details row m-0">
                    <div class="item col-md-6 col-lg-6">
                        <div class="title">Session Title</div>
                        <div class="info" tooltip="{{session.title}}">{{session.title | limitTo:16}}</div>
                    </div>
                    <div class="item col-md-3 col-lg-3">
                        <div class="title">Price</div>
                        <div class="info">${{session.price}}</div>
                    </div>
                    <div class="item col-md-3 col-lg-3">
                        <div class="title">Time</div>
                        <div class="info">{{session.time}} min</div>
                    </div>
                </div>
            </div>
            <div *ngIf="!sessions?.session_details || sessions?.session_details.length === 0" class="no-data-available">
                <p>Data Not Available</p>
            </div>
        </div>
    </div>
    <div class="sessions-list-container">
        <div class="title">Session Reviews</div>
        <div class="pt-4">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let review of reviews">
                    <div class="carousel-container">
                        <div class="head">
                            <div class="practitioner-info">
                                <img class="profile-photo"
                                    [src]="review.profile_image && review.is_profile_pic_approved ? generalService.getCustomerImageBaseUrl(review.profile_image) : '../../../../assets/images/profile_pic.png'">
                                <div>
                                    <div class="name">{{review.nick_name}}</div>
                                    <div class="place" placement="right" tooltip="{{review.interest.join()}}">
                                        {{review.interest.join() | limitTo: 30}}</div>
                                </div>
                            </div>
                            <div class="rating-info">
                                <div class="rating">{{review.overall_rating}} ratings</div>
                                <ngb-rating [(rate)]="review.overall_rating">
                                    <ng-template let-fill="fill" let-index="index">
                                        <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                    </ng-template>
                                </ngb-rating>
                            </div>
                        </div>
                        <div tooltip="{{review.review}}">{{review.review | limitTo:150}}</div>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</div>