<div class="header-top-section-bg s-practitioner">
    <div class="container">
        <app-header></app-header>
        <div class="d-flex justify-content-center ">
            <div class="col-lg-9 col-md-10 col-sm-12 col-12 m-auto p-0 about ">
                <p class="about__sm-text">Support → Faq → {{category}}</p>
                <p class="about__title pb-5">{{selectedQuestion.question}}</p>

                <p class="about__des">{{selectedQuestion.answer}}</p>
                <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-12 px-0 my-3">
                    <img class="img-fluid" src="../../../assets/images/unsplash_744oGeqpxPQ.png">
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-12 p-0 mb-4">
                    <p class="about__img-des">Psychologist and Dharma teacher Mal Huxter writes about Buddha’s awakening
                        and how his teachings spread around the world and still help people today to find freedom from
                        suffering.</p>

                    <p class="about__big-sub-heading">Some other heading about money payment</p>

                    <p class="about__deatils">
                        Psychologist and Dharma teacher Mal Huxter writes about Buddha’s awakening and how his teachings
                        spread around the world and still help people today to find freedom from suffering.
                        <br><br>
                        Finding Freedom From Dukkha<br>
                        The term “Buddha” refers to an awakened one. The aim of Buddhism is to wake up to the realities
                        of life and death in order to find freedom from dukkha. Dukkha is the Pali term used to describe
                        the Buddha’s first truth. Dukkha is often translated as suffering, but it is better to consider
                        it as un-satisfactoriness. It can be gross such as our struggles with mental torment, severe
                        illness and death, or it can be subtle, such as not getting what we want exactly how and when we
                        want it.
                        <br><br>
                        Essentially, Buddhism is about reducing and uprooting the root causes of dukkha: greed,
                        ignorance and hatred. The teachings of the Buddha invite us to see and realise awakening for
                        ourselves, as no one else can do it for us. A traditional Buddhist approach to meditation is
                        experiential and offers broad and flexible applications of skills in order to ease suffering and
                        wake up to freedom.


                    </p>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-12 post-blog__border-b">
                    &nbsp;
                </div> -->

                <div class="col-12 p-0 mb-5">
                    <p class="about__sec-heading">Related topics</p>

                    <p class="about__link">
                        How are Subscriptions billed?
                    </p>
                    <p class="about__link">
                        How do I cancel before my free trial ends on iOS?
                    </p>
                    <p class="about__link">
                        Can I request a refund?
                    </p>
                    <p class="about__link">
                        The conversion to my local currency is wrong.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>