

:host {
    display: flex;
    background: #ffffff;
}
#calendar-container{
    padding-left: 125px;
    padding-top: 56px;
    flex: 1;
    min-width: 930px;
    background: #ffffff;
    padding-bottom: 70px;
    .title {
        font-family: 'BelyDisplay-Regular';
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
        color: #074D63;
        margin-bottom: 17px;
        text-align: center;
    }
    #calendar {
        margin-bottom: 42px;
    }
    #cale-container {
        width: inherit;
    }

    #cale-nav-container {
        margin-bottom: 15px;
        width: inherit;
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #00BAD5;
    }

    #cale-current-month-year-container {
        position: relative;
        display: inline-block;
        text-align: center;
        text-transform: capitalize;
        vertical-align: top;
        // min-width: 324px;

    }

    #cale-prev-week-container {
        display: inline-block;
    }

    #cale-next-week-container {
        display: inline-block;
    }

    #cale-prev-week {
        cursor: pointer;
        float: left;
        // height: 40px;
        text-align: center;
        width: 40px;
    }

    #cale-next-week {
        cursor: pointer;
        float: right;
        // height: 40px;
        text-align: center;
        width: 40px;
    }

    #cale-prev-week:hover, #cale-next-week:hover {
        color: #bdbdbd;
    }

    #cale-week-container {
        text-align: center;
    }

    .cale-date-header {
        display: inline-block;
        min-height: 50px;
        vertical-align: top;
        width: 94px;
        padding: 17px 0 0 0;
        margin-right: 20px;
        text-align: center;
    }

    #cale-available-time-container {
        min-height: 150px;
    }

    .cale-day-time-container {
        display: inline-block;
        height: 100%;
        padding: 17px 20px 0 0;
        vertical-align: top;
    }

    .cale-day-time-container:last-of-type {
            width: 13%;
    }

    .cale-date-number {
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: #000000;
    }

    .cale-available-time {
        display: block;
        margin-bottom: 20px;
        padding: 10px 0px 10px 0px;
        text-align: center;
        width: 94px;
        height: 40px;
        background: rgba(7, 77, 99, 0.05);
        border-radius: 20px;
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 15px;
        text-align: center;
        color: #074D63;
        pointer-events: none;
    }

    .cale-available-time.selected, .cale-available-time:hover {
        background-color: #29b6f6;
        color: #ffffff;
    }
    .cale-available-time.disabled, .cale-available-time.disabled:hover {
        background-color: none;
        opacity: 0.5;
    }
    .cale-date-display {
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: #000000;
    }
    .btn.add-new {
        width: 260px;
        height: 60px;
        border-radius: 20px;
        border: 1px solid #074D63;
        // background: #FBD036;
        margin-bottom: 12px;
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #074D63;
    }
    .btn.save {
        background: #FBD036;
        width: 131px;
        height: 60px;
        border-radius: 20px;
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: bold;
        line-height: 18px;
    }
    .schedule-container {
        margin: 40px 0;
        .inactive {
            pointer-events: none;
        }
        .form-check {
            margin-top: 10px;
            margin-bottom: 10px;
            .form-check-label {
                vertical-align: middle;
                font-size: 10px;
                color: #074D63;
                font-weight: bold;
                line-height: 2.5;
            }
        }
        .fa-arrow-right {
            margin-top: 5px;
        }
        .schedule-time {
            width: 140px;
            height: 40px;
            background: #E6EDEF;
            padding: 10px 5px;
            color: #074D63;
            text-align: center;
            border-radius: 10px;
            margin-right: 10px;
            
            .dropdown-item{
                color: #074D63 !important;
                text-decoration: none !important;
                background-color: #f8f9fa !important;
                display: flex !important;
                padding: 0.35rem 1.75rem !important;
                /* justify-content: flex-start !important; */
                /* align-items: center !important; */
                font-weight: 600 !important;
                .show-tick {
                    display: none;
                }
            }
            .dropdown-item:hover{
                display: flex !important;
                /* padding: 0.25rem 0.5rem !important; */
                /* justify-content: space-around !important; */
                align-items: center !important;
                padding: 0.35rem 1.75rem !important;
                color: #00BAD5 !important;
                text-decoration: none !important;
                background-color: #f8f9fa !important;
                font-weight: 600 !important;
                
                .show-tick {
                    display: block;
                    color: #00BAD5  !important;
                }
            }
                    
            .cancel {
                position: absolute;
                right: 1px;
                top: -2px;
                font-size: 15px;
                padding: 2px;
                cursor: pointer;
            }
            .value {
                font-size: 10px;
                margin: 0 5px;
                font-weight: bold;
            }
            .dropdown-menu {
                height: 300px;
                overflow-y: scroll;
            }
        }
        .add-schedule {
            width: 40px;
            height: 40px;
            background: #00BAD5;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
        }
        .copy-all {
            font-size: 10px;
            font-weight: 600;
            width: 88px;
            margin-left: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #074D63;
            height: 40px;
            background: #FFF4E3;
            border-radius: 10px;
        }
    }

}
.btn:focus{
    box-shadow: none !important;
}
.copy-to-all-modal{
    padding: 50px;
    
    .title{
        font-family: "healspace font";
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 35px;
        text-align: center;
        color: #074D63;
    }
    .copy-btn{
        background: #FBD036;
        border-radius: 20px;
        padding: 15px;
        font-weight: 600;
        color: #074D63;
    }
    .cancel-btn{
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #6D6D6D;
    }
}