$white: #fff;
$primary-blue: #00BAD5;
$secondary-blue: #074D63;
$card-bg: rgba(255, 244, 227, 0.5);
$text-title: #6D6D6D;
$slight-grey: #FAFAFA;
$main-font: healspace font;

.db-row {
  background-color: $white;

  .section-title {
    font-size: 14px;
    color: $secondary-blue;
    font-weight: bold;

    &.pointer {
      cursor: pointer;
    }
  }

  .video-icon {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 50%;
    padding: 14px;

    /* Button-Drop */

    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);

    background: #FFFF;
  }

  .left-section {
    flex: 1 1 auto;
    padding-left: 128px;
    width: calc(100% - 420px);

    .top-items {
      display: flex;

      .next-appointments {
        display: flex;
        flex-direction: column;
        padding-left: 60px;
        padding-top: 36px;
        width: 50%;

        .appointment-card {
          background: $card-bg;
          box-shadow: none;
          border-radius: 40px;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          padding: 24px 40px;
          margin: 24px 0;

          .card-body {
            padding: 0;

            .card-title {
              font-size: 14px;
              color: $text-title;
            }

            .card-avatar-section {
              margin: 20px 0 24px 0;
              display: flex;

              .card-avatar {
                height: 40px;
                width: 40px;

                img {
                  height: 100%;
                  width: auto;
                  border-radius: 50%;
                }
              }

              .card-user-details {
                padding-left: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h2 {
                  font-weight: bold;
                  font-size: 16px;
                  line-height: 20px;
                  margin-bottom: 0;
                }

                h3 {
                  font-size: 12px;
                  line-height: 16px;
                  margin-bottom: 0;
                }
              }
            }

            .card-appointment-title {
              font-size: 24px;
              line-height: 30px;
              font-family: $main-font;
              margin-bottom: 0;
            }

            .card-appointment-time {
              font-size: 14px;
              line-height: 18px;
              margin-bottom: 0;
            }
            .no-data{
              margin-top: 0 !important;
              min-height: 200px !important;
            }
            .card-appointment-details {
              // margin-top: 32px;
              background-color: transparent;
              
              .small-title {
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                color: $primary-blue;
                margin-bottom: 0;
              }

              .small-desc {
                font-size: 14px;
                line-height: 18px;
                color: $secondary-blue;
                margin-bottom: 0;
              }
            }

            .card-appointment-footer {
              margin-top: 32px;
            }
          }
        }
      }

      .week-appointments {
        width: 50%;
        padding-left: 30px;
        padding-right: 40px;
        padding-top: 32px;

        .calendar-view {
          margin-top: 20px;
          margin-bottom: 22px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .next,
          .prev {
            cursor: pointer;
          }

          .day-block {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            color: $secondary-blue;
            cursor: pointer;

            &.inactive {
              color: $text-title;
              opacity: 0.5;
            }

            &.active {
              .date {
                background: $primary-blue;
                color: $white;
                border-radius: 50%;
              }
            }

            .day {
              margin-bottom: 4px;
            }

            .date {
              padding: 7px;
              width: 33px;
              text-align: center;
            }
            .day-choosen {
              background: #00BAD5;
              color: white;
              border-radius: 20px;
            }
          }
        }

        .session-card {
          margin-bottom: 16px;

          .card-body {
            display: flex;
            // padding: 20px 24px;
            justify-content: space-between;
            align-items: center;
            padding: 15px 10px;

            .session-details {
              display: flex;
              flex-direction: column;
              justify-content: center;
              .upsess{
                font-size: 14px;
                color: #6D6D6D;
                text-align: center;
              }
              .follow-up{
                font-size: 10px;
                line-height: 18px;
                color: #074D63;
                margin-bottom: 0;
                text-align: center;
              }
              .time {
                font-weight: bold;
                font-size: 14px;
                line-height: 20px;
                color: $primary-blue;
                margin-bottom: 0;
              }

              .price {
                font-size: 14px;
                line-height: 18px;
                color: $secondary-blue;
                margin-bottom: 0;
              }
            }

            .user-details {
              display: flex;
              align-items: center;

              .avatar {
                height: 40px;
                width: 40px;

                img {
                  height: 100%;
                  width: 100%;
                  border-radius: 50%;
                  object-fit: contain;
                  overflow: hidden;
                }
              }

              h2 {
                margin-left: 12px;
                margin-bottom: 0;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                width: 100px;
              }
            }
          }
        }
      }
    }

    .bottom-items {
      display: flex;

      .my-expertise {
        flex: 0 1 358px;
        padding-left: 60px;
        padding-top: 36px;

        .title-section {
          display: flex;
          justify-content: space-between;
        }

        .expertise-cards-container {
          .expertise-card {
            box-shadow: none;
            margin: 24px 0 0 0;
            background: $card-bg;
            border-radius: 20px;
            height: 108px;
            position: relative;

            .options {
              position: absolute;
              top: 16px;
              right: 22px;
              line-height: 0;
              font-size: 10px;
              cursor: pointer;
            }

            .img-container {
              flex: 0 1 auto;
              width: 94px;
              overflow: hidden;
              border-radius: 20px 0 0 20px;
              display: flex;
              justify-content: center;

              img {
                width: 100%;
                height: 100%;
              }
            }

            .info-section {
              flex: 1 1 auto;
              display: flex;
              flex-direction: column;
              justify-content: center;
              padding-right: 22px;

              .info-title {
                font-size: 16px;
                line-height: 30px;
                text-align: right;
                color: $secondary-blue;
                margin-bottom: 0;
                font-family: $main-font;
              }

              .info-tags {
                font-size: 10px;
                line-height: 15px;
                text-align: right;
                color: $secondary-blue;
                margin-bottom: 0;
              }
            }
          }
        }

        .add-expertise {
          width: 100%;
          height: 60px;
          margin-top: 24px;
          font-weight: bold;
          font-size: 16px;
          line-height: 20px;
        }
      }

      .stats {
        flex: 1 1 auto;
        padding-left: 60px;
        padding-right: 65px;
        padding-top: 36px;

        .chart-container {
          height: 130px;
          display: flex;
          justify-content: space-between;

          .bar-group {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            margin-top: 16px;
            max-height: 100%;
            position: relative;

            .bar,
            .form-bar {
              margin-bottom: 6px;
              max-height: 100%;
              width: 22px;
            }

            .form-bar {
              display: none;
              position: absolute;
              margin-bottom: 20px;
            }

            .day {
              font-size: 10px;
              line-height: 15px;
              color: $text-title;
            }

            .cloud-pop {
              position: absolute;
              background-color: $secondary-blue;
              font-weight: bold;
              font-size: 14px;
              line-height: 18px;
              text-align: center;
              color: $white;
              width: 81px;
              top: -40px;
              border-radius: 8px;
              display: none;

              &::after {
                content: ' ';
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: $secondary-blue transparent transparent transparent;
              }
            }
          }
        }

        .stats-card {
          box-shadow: none;
          border-radius: 20px;
          background: $card-bg;
          margin-top: 24px;
          padding: 30px;
          p.title {
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            color: $secondary-blue;
          }

          .card-body {
            display: flex;
            padding: 0;

            .left-body {
              flex: 1 1 auto;

              
              

              h1.part-one-title {
                font-size: 24px;
                line-height: 30px;
                color: $secondary-blue;
                font-family: $main-font;
                margin-bottom: 6px;
              }

              p.part-one-details {
                font-size: 14px;
                line-height: 18px;
                color: $text-title;
                margin-bottom: 9px;
              }

              .stats-counter {
                display: flex;
                align-items: center;
                i{
                  font-size: 12px;
                  background: #074D63;
                  color: white;
                  padding: 5px;
                  border-radius: 50%;
                  margin-right: 5px;
                }
                img {
                  width: 32px;
                  height: 32px;
                  margin-right: 6px;
                }

                p {
                  font-weight: bold;
                  font-size: 14px;
                  line-height: 18px;
                  color: $secondary-blue;
                  margin: 0;
                }
              }
            }

            .right-body {
              flex: 1 1 auto;

              p.title {
                text-align: right;
                font-size: 14px;
                line-height: 18px;
                color: $secondary-blue;
              }

              h1.part-one-title {
                font-size: 24px;
                line-height: 30px;
                color: $secondary-blue;
                font-family: $main-font;
                margin-bottom: 6px;
              }

              p.part-one-details {
                font-size: 14px;
                line-height: 18px;
                color: $text-title;
                margin-bottom: 9px;
              }

              .stats-counter {
                display: flex;
                align-items: center;
                i{
                  font-size: 12px;
                  background: #00BAD5;
                  color: white;
                  padding: 5px;
                  border-radius: 50%;
                  margin-right: 5px;
                }
                img {
                  width: 32px;
                  height: 32px;
                  margin-right: 6px;
                }

                p {
                  font-weight: bold;
                  font-size: 14px;
                  line-height: 18px;
                  color: $primary-blue;
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  .right-section {
    flex: 0 1 420px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 40px 0px 0px 40px;
    background-color: $slight-grey;

    .available-switch {
      width: 100%;
      padding-left: 75px;
      padding-bottom: 23px;
      padding-top: 32px;

      .custom-control-label {
        color: $primary-blue;

        &::after {
          background-color: $primary-blue;
        }
      }

      .custom-control-input:checked~.custom-control-label::after {
        background-color: $white;
      }
    }

    .card {
      box-shadow: none;
      background: transparent;
      border-radius: 40px;
      width: 320px;
      margin-bottom: 0;

      .more {
        display: none;
      }

      &.active {
        background-color: rgba($color: $text-title, $alpha: 0.1);

        .more {
          flex: 0 1 auto;
          align-self: flex-end;
          display: block;
          direction: rtl;
          cursor: pointer;
        }
      }

      .card-body {
        display: flex;
        padding: 30px 34px;

        .avatar {
          width: 40px;
          height: 40px;
          position: relative;

          img {
            max-width: 40px;
            height: auto;
            border-radius: 50%;
          }

          span {
            position: absolute;
            top: 0;
            left: 0;
            width: 18px;
            height: 18px;
            background: #FBD036;
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
            color: $secondary-blue;
            border-radius: 50%;
            text-align: center;
          }
        }

        .details {
          margin-left: 12px;
          flex: 1;

          h2 {
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            color: $secondary-blue;
            margin-bottom: 0;
          }

          h3 {
            font-size: 12px;
            line-height: 16px;
            color: $secondary-blue;
            margin-bottom: 0;
          }
        }
      }
    }

    input {
      padding: 16px 17.5px;
      font-size: 12px;
      line-height: 16px;
      border: 0;
      border-radius: 10px;
      // margin-top: 40px;
      // margin-bottom: 62px;
      width: 251px;
      height: 48px;
      color: $secondary-blue;
      background: rgba($color: $text-title, $alpha: 0.1);

      &::placeholder {
        opacity: 1;
        color: $secondary-blue;
      }
    }
  }

  .rounded-button {
    border: 0;
    border-radius: 20px;
    color: #fff;
    background-color: #00BAD5;
    width: auto;
    height: 40px;
    padding: 0 20px;
  }


}