<app-auth-navbar></app-auth-navbar>
<div class="auth-sidebar">
    <app-auth-sidebar></app-auth-sidebar>
</div>
<div class="row db-row" style=" margin-right: 0px !important;">
    <div class="left-section">
        <div class="row top-items" style=" margin-right: 0px !important;">
            <div class="next-appointments">
                <h2 class="section-title">
                    Next upcoming session
                </h2>
                <div class="card appointment-card">
                    <div class="card-body">
                        <div *ngIf="isLoaded">
                            <div *ngIf="data?.upcoming_sessions?.data.length>0">
                                <p class="card-title">Your next appointment</p>
                                <div class="card-avatar-section">
                                    <div class="card-avatar">
                                        <img [src]="upcomingSession().customer__profile_image?generalService.getCustomerImageBaseUrl(upcomingSession().customer__profile_image) : 'assets/images/users/avator-2.jpg'"
                                            alt="avatar" style="width: 40px !important;height: 40px !important;">
                                    </div>
                                    <div class="card-user-details">
                                        <h2>{{upcomingSession().customer__nick_name | limitTo:20}}</h2>
                                        <h3>in {{upcomingSession().customer__interest?.join(', ') | limitTo:20}}</h3>
                                    </div>
                                </div>
                                <h1 class="card-appointment-title">{{upcomingSession().practitioner_session?.title |
                                    limitTo:20}}</h1>
                                <p class="card-appointment-time">
                                    {{convertToHrs(upcomingSession().practitioner_session?.duration_min)}} session</p>
                                <div class="card-appointment-details row">
                                    <div class="col">
                                        <h2 class="small-title">{{getPrice()}}</h2>
                                        <p class="small-desc">{{getPrice() === 'Free'? '30 min' : getDuration()}}</p>
                                    </div>
                                    <div class="col">
                                        <h2 class="small-title">{{getAppointmentDate()}}</h2>
                                        <p class="small-desc">{{getAppointmentTime()}}</p>
                                    </div>
                                </div>
                                <div class="card-appointment-footer">
                                    <button (click)="navigateToChatPage(upcomingSession())" class="rounded-button">Message</button>
                                    <a (click)="navigateToSessionPage(upcomingSession())"> <i class="video-icon fa fa-video" aria-hidden="true"
                                            style="color: #fbd036;"></i></a>
                            
                                    <!-- <a (click)="navigateToSessionPage()"><img class="video-icon"
                                                                    src="../../../assets/v2/video.svg" alt="dahsboard"></a> -->
                                </div>
                            </div>

                            <div *ngIf="data?.upcoming_sessions?.data.length==0">
                                <p class="card-title">Currently you have no appointments.</p>
                                <div class="card-appointment-details row">
                                    <div class="col">
                                        <!-- <p class="small-desc">Other message here?</p> -->
                                    </div>
                                </div>
                                <div class="card-appointment-footer">
                                    <button routerLink="/practitioner-profile" class="rounded-button" style="width: unset !important;">
                                        Go to Profile
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="!isLoaded" class="col-lg-12 col-md-12 btn-flex-center ">
                            <!-- <p class="card-title"></p> -->
                                <div class="card-appointment-details no-data btn-flex-center">
                                    <div class="col">
                                        <p class="small-desc">Please wait...</p>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="week-appointments">
                <h2 class="section-title">
                    This week’s sessions
                </h2>
                <div class="calendar-view">
                    <!-- <span class="next">&lt;</span> -->
                    <div [ngClass]="['day-block', dateItem.active ? '' : 'inactive', dateItem.hasSession ? 'active' : '']"
                        *ngFor="let dateItem of dateData; let i = index">
                        <span class="day">{{dateItem.day}}</span>
                        <span class="date" [ngClass]="dateItem.choosenDay ? 'day-choosen' : ''" (click)="loadDateBasedSessions(dateItem)">{{dateItem.date}}</span>
                    </div>
                    <!-- <span class="prev">&gt;</span> -->
                </div>
                <ng-container *ngIf="sessionArray.length; else callNoWeekSessions">
                    <ng-container *ngFor="let item of sessionArray; let i = index">
                        <div class="card session-card" *ngIf="i < 3">
                            <div class="card-body">
                                <div class="session-details">
                                    <h2 class="time">{{item.time}}</h2>
                                    <p class="price">{{item.price}}</p>
                                </div>
                                <div class="user-details">
                                    <div class="avatar">
                                        <img [src]="item.image" [alt]="item.name + ' image'">
                                    </div>
                                    <h2>
                                        {{item.name}}
                                    </h2>
                                </div>
                                <button class="rounded-button" (click)="navigateToChatPage(item)">Message</button>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
                <ng-template #callNoWeekSessions>
                    <div class="card session-card" style="box-shadow:unset !important">
                        <div class="card-body" style="padding-left: 15%;">
                            <div class="session-details">
                                <h2 class="upsess">You have no upcoming sessions.</h2>
                                <!-- <p class="price">Start chatting with customers and send them follow-up forms to increase you changes of....</p> -->
                                <h2 class="follow-up" style="margin-top: 35px;">Start chatting with customers and</h2>
                                <h2 class="follow-up">send them follow-up forms to</h2>
                                <h2 class="follow-up">increase you changes of....</h2>
                            </div>
                            <div class="user-details">
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="row bottom-items" style=" margin-right: 0px !important;">
            <div class="my-expertise">
                <div class="title-section">
                    <h2 class="section-title">My expertises</h2>
                    <h2 class="section-title pointer" (click)="goToViewExpertise()">see all →</h2>
                </div>
                <div class="expertise-cards-container">
                    <ng-container *ngFor="let expertise of expertises; let i = index">
                        <div class="card expertise-card" *ngIf="i<2">
                            <div class="card-body p-0 d-flex">

                                <div class="img-container">
                                    <img [src]=" expertise.cover_photo?generalService.getAdminImageBaseUrl(expertise.cover_photo) : 'assets/images/users/avator-2.jpg'"
                                        alt="Expertise cover">
                                </div>
                                <div class="info-section">
                                    <div class="options" [popover]="deleteInterestTemplate" placement="left" (click)="selectExpertise(expertise)"> 
                                        <img class="p-dot h-more-width" src="../../../../assets/images/h-more.svg" />
                                    </div>
                                    <!-- <div class="options" (click)="deleteInterest(expertise)"><i class="fas fa-trash text-danger" style="background: none;box-shadow: none;margin-right:-15px;"></i></div> -->
                                    <h1 class="info-title" tooltip="{{expertise.interest}}">{{expertise.interest | limitTo:17}}</h1>
                                    <p class="info-tags" tooltip="{{expertise.description}}">{{expertise.description | limitTo:17}}</p>
                                </div>
                                <!-- <span class="options">....</span> -->
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #deleteInterestTemplate>
                        <div class="action-popover">
                                <span class="restore-archive" (click)="deleteInterest(selectedExpertise)">Remove Expertise</span>
                        </div>
                    </ng-template>

                    <button class="add-expertise rounded-button" (click)="goToAddExpertise()">
                        + Add New Expertise
                    </button>
                </div>
            </div>
            <div class="stats">
                <h2 class="section-title">
                    Chats stats
                </h2>
                <div class="chart-container">
                    <div class="bar-group" *ngFor="let chatS of chatStat" (mouseover)="showStats(chatS.day)"
                        (mouseleave)="hideStats(chatS.day)">
                        <img src="assets/images/rectangle.png" alt="" class="bar" [id]="chatS.day + '-bar'"
                            [style.height]="(88 * percentage(chatS)) + 'px'">
                        <img src="assets/images/rectangle.png" alt="" class="form-bar" [id]="chatS.day + '-form-bar'">
                        <span class="day">{{shortDay(chatS.week_day)}}</span>
                        <div class="cloud-pop" [id]="chatS.day + '-cloud'">
                            {{chatS.chat_count}} chat{{chatS.chat_count > 1 ? 's' : ''}}
                            <br>
                            {{chatS.form_count}} form{{chatS.form_count > 1 ? 's' : ''}}
                        </div>
                    </div>
                </div>
                <div class="card stats-card">
                    <p class="title">Session Stats</p>
                    <div class="card-body">
                        <div class="left-body">
                            <h1 class="part-one-title">Session</h1>
                            <p class="part-one-details">{{sessionStats.this_month_sessions_count || 0}} completed
                                session{{sessionStats.this_month_sessions_count > 1 ? 's' : ''}}</p>
                            <div class="stats-counter">
                                <i [ngClass]="['fas', 'fa-chevron-'+(sessionStats.incs_decs_new_session_percent < 0 ? 'down' : 'up')]"></i>
                                <p>{{sessionStats.incs_decs_new_session_percent > 0 ? '+' :
                                    ''}}{{sessionStats.incs_decs_new_session_percent || 0}}%</p>
                            </div>
                        </div>
                        <div class="right-body">
                            <!-- <p class="title">last month <span><img src="assets/images/down.png" alt=""></span></p> -->
                            
                            <h1 class="part-one-title">Earnings</h1>
                            <p class="part-one-details">${{earningStats.this_month_earnings || 0}}</p>
                            <div class="stats-counter">
                                <i [ngClass]="['fas', 'fa-chevron-'+(earningStats.incs_decs_new_earning_percent < 0 ? 'down' : 'up')]"></i>
                                <p>{{earningStats.incs_decs_new_earning_percent > 0 ? '+' :
                                    ''}}{{earningStats.incs_decs_new_earning_percent || 0}}%</p>
                            </div>
                            <!-- <div class="info">
                                <i  [ngClass]="['fas', 'fa-chevron-'+(earningStats.incs_decs_new_earning_percent > 0 ? 'down' : 'up')]"></i>
                                <div class="no">
                                    {{earningStats.incs_decs_new_earning_percent > 0 ? '+' :''}}{{earningStats.incs_decs_new_earning_percent || 0}}%
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-available-patient></app-available-patient>
</div>