.padding-change {
    line-height: 23px;
    padding: 0px 0 0px;
  }
  .pl-100{
    padding-left: 100px;
  }
  .prac-div{
    min-width: 500px;
    padding-left: 110px;
  }
  .arrange {
    text-align: center;
    vertical-align: middle;
  }
  .header-mobile{
    display: none;
  }
  
  .rating {
    font-family: 'FFMarkWebProBook';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #074d63;
  }
  .rating-info {
    display: flex;
    flex-direction: column;
  }
  
  #page-header-user-dropdown {
    display: flex;
    align-items: center;
    font-family: 'FFMarkWebProBook';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #6D6D6D;
    .header-profile-user {
      height: 40px;
      width: 40px;
      background:none !important;
    }
    .header-prac-user{
      width: 50px;
      background-color: #f6f6f6;
    }
    .user-name {
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      color: #074D63;
    }
    .email {
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: #6D6D6D;
    }
    hr {
      margin-bottom: 24px;
    }
  }
  .modal-content {
    border-radius: 40px;
  }
  
  .text-input-design {
  
    height: calc(3.5em + 0.94rem + 2px);
    font-weight: 500;
    background-color: #EBF3FA;
    border: 2px solid #D4D3D3;
    font-size: 0.9825rem;
  }
  .class1{
  
   //background-color:#00BAD5;
   color:#00BAD5;
  }
  .select-custom-design {
    height: calc(3.5em + 0.94rem + 2px);
    background: #EBF3FA;
    font-size: 0.9825rem;
    border: 2px solid #D4D3D3;
  }
  
  .btn-primary {
    background-color: #ffa700;
    border-color: #006400;
    color: #000;
  }
  
  // .form-control {
  //  // border-radius: 50px !important;
  // }
  
  .text-input-design {
    background-color: #f4f4f4 !important;
    border: 1px solid #f4f4f4 !important;
    padding-left: 30px !important;
    height: 55px;
  }
  
  .select-custom-design {
    background: #f4f4f4 !important;
    border: 1px solid #f4f4f4 !important;
    padding-left: 30px !important;
    height: 55px;
  }
  
  .custom-select {
    border-radius: 40px;
  }
  
  .become-prac-button {
    background-color: #FBD036;
    border: 2px solid #FBD036;
    box-shadow: 5px 15px 20px 0px rgba(0, 0, 0, 0.15);
    height: 75px;
    left: 430px;
    top: 3805px;
    border-radius: 40px;
  }
  
  .btn-new {
    background-color: #FBD036;
    border: 2px solid #FBD036;
    box-shadow: 5px 15px 20px 0px rgba(0, 0, 0, 0.15);
    height: 75px;
    left: 430px;
    top: 3805px;
    border-radius: 40px;
    color:#000;
    font-weight: bold;
  }
  
  .has-search .form-control {
    padding-left: 2.375rem;
   // border-radius: 50px;
    background-color: #FAFAFA;
    border: 1px solid #FAFAFA;
    height: 45px;
  
  
  
  }
  
  .navbar {
    overflow: hidden;
    
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    //color: #074D63;
    text-align: center;
    padding: 13px 25px;
    
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    // overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  //.navbar a:hover, .dropdown:hover .dropbtn {
    //background-color: #FBD036;
    //border-radius: 38px 38px 38px 38px;
  //}
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-menu.show {
    top: 0% !important;
    position: fixed;
    margin-top: 12px;
    padding: 34px;
    width: 294px;
  }
  .text-dark {
    color: white !important;
  }
  .dropdown-item {
    font-family: 'FFMarkWebProBook';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #6D6D6D !important;
    padding: 8px 0;
    &:hover {
      color: #074D63 !important;
      background: inherit;
    }
  }
  .headings{
    font-size: 40px;
    margin-left: 120px;
  }
  .main {
    width: 50%;
    margin: 50px auto;
  }
  .has-search .form-control {
    padding-left: 2.375rem;
  
  }
  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }
  .navbar-brand-box {
    padding: unset !important;
    text-align: center;
    width: unset !important;
  }
  header#page-topbar {position: relative;}
  .navbar-header {height: auto;
    padding: 0 50px 0 0;
  }
  .navbar-header .dropdown.show .header-item {
    background: inherit;
  }
  
  
  .mr-20{
    margin-right: 20px;
  }
  
  .d-inline-block .show{
    margin-top:50px;
  }
  
  .search-practitioner section.banner-2 {
    overflow-y: scroll;
  }
  