<app-auth-navbar></app-auth-navbar>
<div class="auth-sidebar">
    <app-auth-sidebar></app-auth-sidebar>
</div>
<main class="content-wrapper">
    <div class="container-fluid">



            <section class="container-fluid general-dashboard font-family p-0">
                    <div class="col-md-12  p-0">
                        <p class="v1-live__title pt-4">You booked these live classes</p>
                    </div>
                    <div class="row">

                        <div class="col-lg-4 col-md-6 col-xs-12 font-family mb-3">
                            <div class="appoinment-box">
                                <div>
                                    <p class="v1-live__heading">Live Class title will be displayed extended on <br>
                                        three
                                        rows
                                        maximum!</p>

                                    <div class="col-lg-12 d-flex p-0">
                                        <img class="  v1-live__userimg mr-3"
                                            style=" width: 40px; height: 40px; border-radius: 50%; "
                                            src="assets/images/ronald.png">
                                        <div class="">
                                            <h3 class="v1-live__name  mb-0">Dr. Ronald Richards</h3>
                                            <p class="v1-live__designation">Health Coach, Therapist, New York</p>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 p-0">
                                        <h5 class="v1-live__month-info">2 March</h5>
                                        <p class="v1-live__time">Starts in 40 min</p>
                                    </div>
                                    <div class="col-lg-12 p-0 mb-3">
                                        <span class="v1-live__time">Price: </span>
                                        <span class="v1-live__month-info">Free</span>
                                    </div>

                                    <div class="col-lg-12 p-0">
                                        <button type="button" class="btn v1-live__info">
                                            See Live Class Page
                                        </button>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-xs-12 font-family mb-3">

                            <div class="appoinment-box">
                                <div>
                                    <p class="v1-live__heading">Live Class title will be displayed extended on <br>
                                        three
                                        rows
                                        maximum!</p>

                                    <div class="col-lg-12 d-flex p-0">
                                        <img class="  v1-live__userimg mr-3"
                                            style=" width: 40px; height: 40px; border-radius: 50%; "
                                            src="assets/images/ronald.png">
                                        <div class="">
                                            <h3 class="v1-live__name  mb-0">Dr. Ronald Richards</h3>
                                            <p class="v1-live__designation">Health Coach, Therapist, New York</p>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 p-0">
                                        <h5 class="v1-live__month-info">2 March</h5>
                                        <p class="v1-live__time">Starts in 40 min</p>
                                    </div>
                                    <div class="col-lg-12 p-0 mb-3">
                                        <span class="v1-live__time">Price: </span>
                                        <span class="v1-live__month-info">Free</span>
                                    </div>

                                    <div class="col-lg-12 p-0">
                                        <button type="button" class="btn v1-live__info">
                                            See Live Class Page
                                        </button>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-xs-12 font-family mb-3">

                            <div class="appoinment-box">
                                <div>
                                    <p class="v1-live__heading">Live Class title will be displayed extended on <br>
                                        three
                                        rows
                                        maximum!</p>

                                    <div class="col-lg-12 d-flex p-0">
                                        <img class="  v1-live__userimg mr-3"
                                            style=" width: 40px; height: 40px; border-radius: 50%; "
                                            src="assets/images/ronald.png">
                                        <div class="">
                                            <h3 class="v1-live__name  mb-0">Dr. Ronald Richards</h3>
                                            <p class="v1-live__designation">Health Coach, Therapist, New York</p>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 p-0">
                                        <h5 class="v1-live__month-info">2 March</h5>
                                        <p class="v1-live__time">Starts in 40 min</p>
                                    </div>
                                    <div class="col-lg-12 p-0 mb-3">
                                        <span class="v1-live__time">Price: </span>
                                        <span class="v1-live__month-info">Free</span>
                                    </div>

                                    <div class="col-lg-12 p-0">
                                        <button type="button" class="btn v1-live__info">
                                            See Live Class Page
                                        </button>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="col-lg-12 px-0 py-3 text-center">
                            <button class="v1-live__default m-auto">
                                Load More →
                            </button>

                        </div>

                    </div>
            </section>

            <section class="">


                <div class="">
                    <div>
                        <div class="d-flex justify-content-between header">
                            <p class="v1-live__title">Live classes I attended</p>
                        </div>
                        <div>
                            <app-stripe-card-view></app-stripe-card-view>
                        </div>
                        <div>
                            <app-stripe-card-view></app-stripe-card-view>
                        </div>

                    </div>
                </div>



               

            </section>

            <div class="no-data-msg">

                <div>
                    <p>
                        Looks like you haven't joined <br>
                        a live class yet
                    </p>

                    <div class="col-lg-12 p-0">
                        <button type="button" class="btn v1-live__info m-auto" style="    width: 190px;
                height: 45px;">
                            Explore Live Classes →
                        </button>
                    </div>
                </div>
            </div>

    </div>
</main>