.head {
    font-family: 'FFMarkWebProBook';
    font-style : normal;
    font-weight: bold;
    font-size  : 14px;
    line-height: 18px;
    color      : #074D63;
}


.appoinment-box {
    display       : flex;
    flex-direction: row;
    align-items   : flex-start;
    padding       : 40px;
    width         : 360px;
    height        : 330px;
    margin        : 0 auto;
    background    : #FFF4E3;
    position: relative;
    z-index: 333;
    border-radius : 40px;

    @media all and (min-width:320px) and (max-width: 1199px) {
        width: 100%;
    }
}


