<div>
    <div class="col-lg-12">
        <h1 class="head py-4">Next Live Class</h1>
        <app-appointment-view></app-appointment-view>

    </div>
</div>

<div class="col-lg-12">
    <div class="up-session">
        <tabset type="pills">
            <tab heading="Upcoming Live Classes">
                <app-stripe-card-view userType="Practitioner" cardType="UpcomingLiveClass"></app-stripe-card-view>
            </tab>
            <tab heading="Completed Live Classes">
                <app-stripe-card-view userType="Practitioner" cardType="CompletedLiveClass"></app-stripe-card-view>
            </tab>
        </tabset>
    </div>
</div> 