<div class="modal-body">
<div class="m-auto" *ngIf="step==1">
    <div class="modal-padding">

        <h5 class="join-free__title">Add your details</h5>
        <p class="join-free__sm-des">It is mandatory to choose a name before accesing this Live Class. Additionally you
            can enter your email
            if you want to receive news/offers for us in the future.</p>

        <form name="JoinClassForm" spellcheck="false" autocomplete="off"
            (ngSubmit)="initiateJoinClass(JoinClassForm.valid)" #JoinClassForm="ngForm">
            <div class="col-lg-12 class-group">
                <input type="text" [(ngModel)]="joinClass.username" #UserName="ngModel" name="UserName"
                    class="modal-input" [ngClass]="{' show-error ': JoinClassForm.submitted && UserName.invalid}"
                    minlength="3" min="3" placeholder="Name" required >
                <div *ngIf="JoinClassForm.submitted && UserName.invalid">
                    <small class="ng-error">
                        You must enter at least 3 characters
                    </small>
                </div>
            </div>
            <div class="col-lg-12 class-group">
                <input type="email" [(ngModel)]="joinClass.useremail"
                    pattern="^[a-zA-Z]+[a-zA-Z0-9._-]+@[a-zA-Z]+\.[a-zA-Z.]{2,5}$" #useremail="ngModel" name="useremail"
                    class="modal-input" [ngClass]="{' show-error ': JoinClassForm.submitted && useremail.invalid}"
                    placeholder="Email" required >

                <div *ngIf="JoinClassForm.submitted && useremail.invalid">
                    <small class="ng-error">
                        Invalid format for email address. Please enter an email in format: user@email.com
                    </small>
                </div>
            </div>

            <div class="col-lg-12 class-group text-center">
                <button type="submit" class="modal-button m-auto">Confirm Attending <i
                        class="ml-2 fa fa-arrow-right"></i></button>
            </div>
        </form>
    </div>
</div>

<!-- <div *ngIf="step==2">
    <div class="modal-header">
        <button type="button" class="btn-close close pull-right" >
          <span aria-hidden="true" class="visually-hidden" (click)="modalService.dismissAll()">&times;</span>
        </button>
      </div>

    <div class="col-lg-12 modal-padding">
        <div class="col-lg-12 class-group text-center">
            <i class="fas fa-check-circle color-theme  icon-font"></i>
        </div>
        <div class="col-lg-12 class-group">
            <h5 class="join-free__title">Thank your for booking a seat in this Live Class!</h5>
        </div>
        <div class="col-lg-12 class-group">
            <p class="join-free__sm-des">Check you email to find the link for this Live Class.
                You will be notified on email again with 30 minutes before this Live Class will start.</p>
        </div>
        <div class="col-lg-12 class-group">
            <button type="submit" class="modal-button m-auto" (click)="modalService.dismissAll()">Got it <i class="ml-2 fa fa-arrow-right"></i></button>
        </div>
    </div>
</div> -->
</div>