<app-public-navbar></app-public-navbar>
<section class="section hero-section pt-5 bg-ico-hero" id="home">
  <div class="bg-overlay bg-primary"></div>
  <!-- <div class="container">
    <div class="row">
      <div class="col-lg-12 justify-content-center">
        <div class="text-dark p-3 text-center">
          <h1 class="text-white headings" [innerHtml]="contactUsDynamicObj?.heading"></h1>
          <p class="font-size-18 new-text text-white" [innerHtml]="contactUsDynamicObj?.subHeading"></p>
        </div>
      </div>
    </div>
  </div> -->

  <h1 class="text-center text-white headings">Questions, Commands Or</h1>
  <h1 class="text-center text-white headings">Want To Learn More?</h1>

</section>
<section class="section bg-white p-0">
  <div class="container" style="max-width: 825px;">
    <div class="currency-price ">

      <form class="form-horizontal" [formGroup]="ContactUsForm">
        <div class="card">
          <div role="alert" class="alert alert-primary m-auto savealert" *ngIf="showAlert">
            We have received your question, we will get in touch with you shortly.
          </div>
          <img class="img-first" src="assets/images/logoed.png" alt="">
          <div class="card-body">
            <div class="row justify-content-center">
              <p class="font-weight-bold text-center font-size-20" [innerHtml]="contactUsDynamicObj?.cardHeading">
              </p>
            </div>
            <h3 class="text-center" style="font-family:'FFMarkWebProBook';
            Font-size: 16px; font-style:bold; font-weight:700; font-style:normal; line-height:20px;">We would love to
              hear form you.</h3>

            <div class="justify-content-center">
              <div class="row justify-content-center mt-5">
                <div class="col-md-6 mt-2">
                  First Name<input type="text" class="text-line form-control " placeholder=""
                    formControlName="ContactFormFName">
                    <div *ngIf="ContactUsForm.controls['ContactFormFName'].invalid && ContactUsForm.controls['ContactFormFName'].touched" 
                    class="con-val">
                  </div>
                </div>
                <div class="col-md-6 mt-2">
                  Last Name<input type="text" class="text-line form-control" placeholder=""
                    formControlName="ContactFormLName">
                    <div *ngIf="ContactUsForm.controls['ContactFormLName'].invalid && ContactUsForm.controls['ContactFormLName'].touched" 
                    class="con-val">
                  </div>
                </div>
              </div>
              <div class="row justify-content-center mt-2">
                <div class="col-md-6 mt-2">
                  Email*<input type="text" class="text-line form-control" placeholder="" required
                    formControlName="ContactFormEmail">
                    <div *ngIf="ContactUsForm.controls['ContactFormEmail'].invalid && ContactUsForm.controls['ContactFormEmail'].touched" 
                    class="con-val">
                      <div *ngIf="ContactUsForm.controls['ContactFormEmail'].errors.required">
                      Email is required.
                    </div>
                  </div>
                  <div *ngIf="ContactUsForm.controls['ContactFormEmail'].status == 'INVALID' && 
                  ContactUsForm.controls['ContactFormEmail'].touched && ContactUsForm.controls['ContactFormEmail'].value != ''" 
                    class="con-val">
                      <div >
                      Please Provide Valid Email.
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mt-2">
                  Phone Number <input type="text" class="text-line form-control" placeholder=""
                    (keypress)="keyPress($event)" formControlName="ContactFormPhNo">
                    <div *ngIf="ContactUsForm.controls['ContactFormPhNo'].invalid && ContactUsForm.controls['ContactFormPhNo'].touched" 
                    class="con-val">
                  </div>

                </div>
              </div>

              <div class="row justify-content-center mt-2">
                <div class="col-md-12">
                  Message*
                  <textarea class="text-line form-control" formControlName="ContactFormMessage" required>
                    </textarea>
                    <div *ngIf="ContactUsForm.controls['ContactFormMessage'].invalid && ContactUsForm.controls['ContactFormMessage'].touched" 
                    class="con-val">
                      <div *ngIf="ContactUsForm.controls['ContactFormMessage'].errors.required">
                      Message is required.
                    </div>
                  </div>
                </div>
              </div>
              <br><br>
              <div class="row justify-content-center mt-5">
                <div class="mb-4">
                  <button type="submit" class="btn btn-warning btn-rounded" (click)="Submit()"
                    style="background-color: #FBD036; border: 2px solid #FBD036; box-shadow: 5px 15px 20px 0px rgba(0, 0, 0, 0.15); height: 64px;width: 254px;border-radius: 40px;color:#074D63">
                    Send Message <span class="pl-2 pr-2"> <i class=" fa fa-arrow-right"></i></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <img class="img-second" src="assets/images/logoed2.png" alt="" />
        </div>

      </form>
    </div>
  </div>
</section>

<app-public-footer></app-public-footer>