.container1{
  margin-left: 120px;
  margin-top: -1080px;
  background-color: white;
}
.sidebar-mobile{
  display: none;
}
.pl-8{
  padding-left: 8px;
}
.list-icon{
  font-size: 22px;
  color: #ffffff;
  padding-top: 15px;
}
.container{
  margin-left: 31px;
  margin-top: 47px; 
}
.container2{
  margin-left: 226px;
  margin-top: 80px;
}
.col-sm-6{
  margin-left:90px;
}
.item {
  position:relative;
  padding-top:20px;
  display:inline-block;
}
.notify-badge{
  position: absolute;
  right:-12px;
  top:10px;
  background:#FBD036;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color:white;
  padding:5px 10px;
  font-size:6px;
}
/* NEW STYLE START */
.sidebar {
  height: 100vh;
  width: 100px;
  position: fixed;
  top: 0;
  background: #FAFAFA;
  z-index: 999;
  border-radius: 0px 40px 40px 0px;
  padding: 14px;
  display: flex;
  justify-content: space-evenly;
}
.menu_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-height: 45vh;
  margin-top: 50px;
}

.menu_container a {
  display: block;
  text-align: center;
}
.menu_container a.active{  background: #00BAD5;}
.menu_container a{
  background: #074D63;
  width: 48px;
  height: 48px;
  line-height: 48px;
  border-radius: 50%;
  display: block;
  margin-bottom: 20px;
}
.logout_container a {
  display: block;
  text-align: center;
}
.logout_container span { display: block;}
.logout_container {margin-top: 80px;}
.sideMenu_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
}
/* NEW STYLE END */