<div class="sidebar">
  <div class="sidebar_content">
    <a href="#" class="logo"><img src="../../../assets/v2/logo.svg" alt="logo" srcset=""></a>
    <div class="sideMenu_container">
      <div class="menu_container" [ngSwitch]="isGroup">
        <!-- Admin Pages -->
        <ng-template [ngSwitchCase]="'Admin'">
          <a style="margin-top: 10px;" (click)="closeAllModal()" routerLink="/welcome-admin" routerLinkActive="active"><img src="../../../assets/v2/dashboard.svg"
              alt="dahsboard"></a>
          <a style="margin-top: 10px;" (click)="closeAllModal()" routerLink="/practitioner-list" routerLinkActive="active"><img src="../../../assets/v2/practitioner-menu.png" alt="dahsboard" style="width: 24px;"></a>
          <a style="margin-top: 10px;" (click)="closeAllModal()" routerLink="/customer-list" routerLinkActive="active"><img src="../../../assets/v2/clients-menu.png" alt="dahsboard" style="width: 24px;"></a>
          <a style="margin-top: 10px;" (click)="closeAllModal()" routerLink="/admin/stats"><img src="../../../assets/v2/report.svg" alt="dahsboard"></a>
          <a style="margin-top: 10px;" (click)="closeAllModal()" routerLink="/interest-list" routerLinkActive="active"> <i class="fas fa-list-alt list-icon"></i> </a>
        </ng-template>
        <!-- Practitioner Pages -->
        <ng-template [ngSwitchCase]="'Practitioner'">
          <a style="margin-top: 10px;" routerLink="/welcome-practitioner" routerLinkActive="active"><img src="../../../assets/v2/dashboard.svg"
              alt="dahsboard"></a>
          <a style="margin-top: 10px;" routerLink="/chat" routerLinkActive="active"><img src="../../../assets/v2/chat.svg" alt="dahsboard"></a>
          <!-- <a style="margin-top: 10px;" routerLink="/practitioner/sessions" routerLinkActiveOptions="{exact:true}"> <img src="../../../assets/v2/video.svg" alt="dahsboard"></a> -->
          <!-- <a style="margin-top: 10px;" routerLink="/practitionersessions" routerLinkActiveOptions="{exact:true}"> <img src="../../../assets/v2/video.svg" alt="dahsboard"></a> -->
          <a style="margin-top: 10px;" routerLink="/session-dashboard" routerLinkActive="active"> <img src="../../../assets/v2/video.svg" alt="dahsboard"></a>
          <a style="margin-top: 10px;" routerLink="/courses"  routerLinkActive="active"> <img src="../../../assets/v2/play.svg" alt="course"></a>
          <a style="margin-top: 10px;" routerLink="/practitioner/stats" routerLinkActive="active"><img src="../../../assets/v2/report.svg" alt="stats"></a>   
          <a style="margin-top: 10px;" routerLink="/session/schedule" routerLinkActive="active"><img src="../../../assets/v2/calendar.svg" alt="schedule"></a>  
        </ng-template>
        <!-- Customer Pages -->
        <ng-template [ngSwitchCase]="'Customer'">
          <ng-container *ngIf="logedinData?.is_subscribed else callElse">
            <a style="margin-top: 10px;" routerLink="/welcome-customer" routerLinkActive="active"><img src="../../../assets/v2/dashboard.svg"
              alt="dahsboard"></a>
            <a style="margin-top: 10px;" routerLink="/chat" routerLinkActive="active"><img src="../../../assets/v2/chat.svg" alt="dahsboard"></a>
            <a style="margin-top: 10px;" routerLink="/customer-session" routerLinkActive="active"><img src="../../../assets/v2/video.svg" alt="dahsboard"></a>
            <a style="margin-top: 10px;" routerLink="/customer-stat" routerLinkActive="active"><img src="../../../assets/v2/report.svg" alt="stats"></a>
            <a style="margin-top: 10px;" routerLink="/live-class" routerLinkActive="active"><img src="../../../assets/v2/Live.svg" alt="stats"></a>
            <!-- <a style="margin-top: 10px;" routerLink="/sessiononly"><img src="../../../assets/v2/dashboard.svg" alt="stats"></a> -->
          </ng-container>
          <ng-template #callElse>
            <a style="margin-top: 10px;" routerLink="/sessiononly" routerLinkActive="active"><img src="../../../assets/v2/dashboard.svg" alt="stats"></a>
            <a style="margin-top: 10px;" routerLink="/customer-session" routerLinkActive="active"><img src="../../../assets/v2/video.svg" alt="dahsboard"></a>
          </ng-template>
        </ng-template>
      </div>
      <!-- <div class="logout_container">
        <a href="#" (click)="logout()"><img src="../../../assets/v2/logout.svg" alt="dahsboard"><span>Logout</span></a>
      </div> -->
    </div>
  </div>
</div>

<div class="sidebar-mobile">
  <div class="row" style="padding-top: 8px;" [ngSwitch]="isGroup">
   <ng-template [ngSwitchCase]="'Practitioner'">
    <div class="col-1"></div>
    <div class="col-2">
      <a class="sidebar-option" routerLink="/welcome-practitioner" routerLinkActive="active"><img class="pl-8" src="../../../assets/v2/dashboard.svg"
        alt="dahsboard"></a>
    </div>
    <div class="col-2">
      <a class="sidebar-option" routerLink="/chat" routerLinkActive="active"><img class="pl-8" src="../../../assets/v2/chat.svg" alt="dahsboard"></a>
    </div>
    <div class="col-2">
      <a class="sidebar-option" routerLink="/session-dashboard" routerLinkActive="active"> <img class="pl-8" src="../../../assets/v2/video.svg" alt="dahsboard"></a>
    </div>
    <div class="col-2">
      <a class="sidebar-option" routerLink="/practitioner/stats" routerLinkActive="active"><img class="pl-8" src="../../../assets/v2/report.svg" alt="stats"></a>   
    </div>
    <div class="col-2">
      <a class="sidebar-option" routerLink="/practitioner/schedule" routerLinkActive="active"><img class="pl-8" src="../../../assets/v2/calendar.svg" alt="schedule"></a>  
    </div>
    <div class="col-1"></div>
   </ng-template>
   <ng-template [ngSwitchCase]="'Admin'">
    <div class="col-1"></div>
    <div class="col-2">
      <a class="sidebar-option" routerLink="/welcome-admin" routerLinkActive="active"><img class="pl-8" src="../../../assets/v2/dashboard.svg"
        alt="dahsboard"></a>
    </div>
    <div class="col-2">
      <a class="sidebar-option" routerLink="/practitioner-list" routerLinkActive="active"><img class="pl-8" src="../../../assets/v2/practitioner-menu.png" alt="dahsboard"></a>
    </div>
    <div class="col-2">
      <a class="sidebar-option" routerLink="/customer-list" routerLinkActive="active"> <img class="pl-8" src="../../../assets/v2/clients-menu.png" alt="dahsboard"></a>
    </div>
    <div class="col-2">
      <a class="sidebar-option" routerLink="/admin/stats" routerLinkActive="active"><img class="pl-8" src="../../../assets/v2/report.svg" alt="stats"></a>   
    </div>
    <div class="col-2">
      <a class="sidebar-option" routerLink="/interest-list" routerLinkActive="active"><i class="fas fa-list-alt list-icon"></i></a>  
    </div>
    <div class="col-1"></div>
   </ng-template>
   <ng-template [ngSwitchCase]="'Customer'">
     <ng-container *ngIf="logedinData?.is_subscribed">
      <div class="col-3 text-center">
        <a class="sidebar-option m-auto" routerLink="/welcome-customer" routerLinkActive="active"><img class="pl-8" src="../../../assets/v2/dashboard.svg"
          alt="dahsboard"></a>
      </div>
      <div class="col-3">
        <a class="sidebar-option m-auto" routerLink="/chat" routerLinkActive="active"><img class="pl-8" src="../../../assets/v2/chat.svg" alt="dahsboard"></a>
      </div>
      <div class="col-3">
        <a class="sidebar-option m-auto" routerLink="/customer-session" routerLinkActive="active"> <img class="pl-8" src="../../../assets/v2/video.svg" alt="dahsboard"></a>
      </div>
      <div class="col-3">
        <a class="sidebar-option m-auto" routerLink="/customer-stat" routerLinkActive="active"><img class="pl-8" src="../../../assets/v2/report.svg" alt="stats"></a>   
      </div>
     </ng-container>
     <ng-container *ngIf="!logedinData?.is_subscribed">
      <div class="col-2"></div>
      <div class="col-4">
        <a class="sidebar-option" routerLink="/sessiononly" routerLinkActive="active"><img class="pl-8" src="../../../assets/v2/dashboard.svg"
          alt="dahsboard"></a>
      </div>
      <div class="col-4">
        <a class="sidebar-option" routerLink="/customer-session" routerLinkActive="active"> <img class="pl-8" src="../../../assets/v2/video.svg" alt="dahsboard"></a>
      </div>
      <div class="col-2"></div>
    </ng-container>
   </ng-template>
  </div>
</div>