<div class="modal-body" style="border-radius: 40px;" *ngIf="resource">
    <!-- <div class="float-right">
      <button type="button" class="close" aria-hidden="true" (click)="closeLoginModal($event)">×</button>
    </div> -->
    <div class="text-center">
      <h1 style="font-family:Verdana, Geneva, Tahoma, sans-serif; color: #FBD036" class="font-size-30">Hello!</h1>
      <p class="font-size-16">Don't have an account? 
        <span class="popupCS" style="cursor: pointer;text-decoration: underline;"
        (click)="openSignupModal(signUpModalOpen, 'signup')"><b>Sign Up </b>
        </span>
      </p>
    </div>
    <div class="p-2">
      <form data-bitwarden-watching="1" (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="form-group mb-3">
          <input type="text" class="form-control text-input-design" placeholder="Email *" (input)="validateEmail($event)"
          [(ngModel)]="user.email"
          name="email"
          required style="height:55px;"/>
          <div>
            <p
              class="error-box margin-top-0 text-danger err-sf"
              *ngIf="invalid_email"
            >
              Email must be a valid email address
            </p>
            <p class="error-box margin-top-0 text-danger err-sf" *ngIf="email_required">
              Email is Required
            </p>
          </div>
        </div>
        <div class="form-group mb-3">
          <div class="input-group">
            <input [type]="fieldTextType ? 'text' : 'password'" class="form-control text-input-design" 
            placeholder="Password *" style="height:55px;"
            [(ngModel)]="user.password"
            #password="ngModel"
            name="password"
            required />
            <div class="input-group-append">
              <span class="input-group-text" style="
                border: 1px solid #fafafa;">
              <i class="fa"
              [ngClass]="{
              'fa-eye-slash': !fieldTextType,
              'fa-eye': fieldTextType
              }"
              (click)="toggleFieldTextType()"
              ></i>
              </span>
            </div>
          </div>
          <div *ngIf="password.invalid && (password.dirty)">
            <p
              class="error-box margin-top-0 text-danger err-sf"
              *ngIf="password.hasError('required')"
            >
              Password is Required
            </p>
            <!-- <p class="error-box margin-top-0 text-danger err-sf" *ngIf="password.hasError('minlength')">
              Minimum 6 Characters are Required
            </p> -->
          </div>
        </div>
        <br>
        <div class="custom-control custom-radio custom-control-inline mr-4" style="margin-left: 25px;">
          <input type="checkbox" id="customRadioInline6" name="customRadioInline6" class="custom-control-input"
            [(ngModel)]="user.remember" #remember="ngModel">
          <label class="custom-control-label" for="customRadioInline6" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Keep me logged in</label>
        </div>
        <br><br>
        <div class="col-lg-12 form-group">
          <button type="submit" [disabled]="!loginForm.valid || email_required || invalid_email" class="btn btn-block btn-new btn-rounded">
            <i class="fa fa-arrow-right"></i> &nbsp; Sign In
          </button>
        </div>
      </form>
      <div class="mt-4 text-center">
        <a class="mb-0 font-size-14 text-muted" (click)="openForgotModal(forgotPasswordModalOpen, 'forgotpassword')"
          style="cursor: pointer;"><u>Forgot Password?</u>
        </a>
        <div class="mb-0"><b>Or Log In with</b>
          <button type="button" class="btn btn-social-icon btn-google" (click)="signInWithFB()"><i
            class="fab fa-facebook rounded-circle bg-white text-primary" style="font-size: 26px;"></i> &nbsp;
          </button>
          <button type="button" class="btn btn-social-icon btn-facebook" (click)="signInWithGoogle()"><i
            class="fab fa-google rounded-circle bg-white font-size-20 text-danger" style="margin-left: -10px;padding-top: 4px;"></i></button>
            <!-- <button type="button" class="btn btn-social-icon btn-facebook" (click)="signInWithGoogle()"><i
              class="fab fa-apple rounded-circle bg-white font-size-30 text-black" style="margin-left: -5px;"></i></button> -->
        </div>
      </div>
      <div class="mt-1 text-center">
        <span class="mb-0 font-size-14 text-muted">By logging in you<br>agree to healplace <a [routerLink]="['/homepage/privacy-policy']" target="_blank"> Privacy Policy</a>.</span>
      </div>
    </div>
</div>


<ng-template #signUpModalOpen role="document" let-modal>
  <public-sign-up-modal [resource]="isContent" (changeBack)="closeSignupModal($event)" *ngIf="isContent == 'signup'">
  </public-sign-up-modal>
</ng-template>

<ng-template #forgotPasswordModalOpen role="document" let-modal>
  <public-forgot-password-modal [resource]="isContent" (changeBack)="closeForgotModal($event)" *ngIf="isContent == 'forgotpassword'">
  </public-forgot-password-modal>
</ng-template>