<app-public-navbar></app-public-navbar>
<div class="text-center" style="margin-top: 75px; margin-bottom: 20px;">
  <h1 style="font-family:Verdana, Geneva, Tahoma, sans-serif; color: #FBD036" class="font-size-30">Reset your password</h1>
  <p class="font-size-16">Its a good idea to use a strong password that you are not using elsewhere.
  </p>
</div>
<div class="container" style="margin-bottom: 20px;">
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-6">
        <form data-bitwarden-watching="1" (ngSubmit)="onSubmit()" #changePassForm="ngForm">
            <div class="form-group mb-3">
              <div class="input-group">
                <input type="password" id="signup-password1" class="form-control text-input-design" 
                placeholder="Password *"
                [(ngModel)]="user.password1"
                #password1="ngModel"
                name="password1"
                required
                minlength="8" data-toggle="passwd1"/>
                <div class="input-group-append">
                  <span class="input-group-text" style=" border: 1px solid #fafafa;">
                    <i class="fa fa-lg fa-eye-slash field-icon toggle-password view-hide"
                      id="eye-open1" toggle="#passwd1"
                      (click)="password_visit1()">
                    </i>
                  </span>
                </div>
              </div>
              <div *ngIf="password1.invalid && (password1.dirty)">
                <p
                  class="error-box margin-top-0 text-danger err-sf"
                  *ngIf="password1.hasError('required')"
                >
                  Password is Required
                </p>
                <p class="error-box margin-top-0 text-danger err-sf" *ngIf="password1.hasError('minlength')">
                  This password is too short. It must contain at least 8 characters.
                </p>
              </div>
              <ng-container *ngIf="passwordError">
                <p class="error-box margin-top-0 text-danger err-sf" *ngFor="let list of passwordError">
                  {{list.error}}
                </p>
              </ng-container>
            </div>
            <div class="form-group mb-3">
              <div class="input-group">
                <input type="password" id="signup-password2" class="form-control text-input-design" 
                placeholder="Confirm Password *" style="height:55px;"
                [(ngModel)]="user.password2"
                #password2="ngModel"
                name="password2"
                required data-toggle="passwd2"/>
                <div class="input-group-append">
                  <span class="input-group-text" style=" border: 1px solid #fafafa;">
                    <i class="fa fa-lg fa-eye-slash field-icon toggle-password view-hide"
                      id="eye-open2" toggle="#passwd2"
                      (click)="password_visit2()">
                    </i>
                  </span>
                </div>
              </div>
              <div *ngIf="password2.invalid && (password2.dirty)">
                <p
                  class="error-box margin-top-0 text-danger err-sf"
                  *ngIf="password2.hasError('required')"
                >
                  Password is Required
                </p>
              </div>
            </div>
            <br><br>
            <div class="col-lg-12 form-group">
              <button type="submit"  class="btn btn-block btn-new btn-rounded"
              [disabled]="!changePassForm.valid">
                <i class="fa fa-arrow-right"></i> &nbsp; Change Password
              </button>
            </div>
          </form>
    </div>
    <div class="col-3">
    </div>
  </div>
</div>
<app-public-footer></app-public-footer>