<app-auth-navbar></app-auth-navbar>
<div class="auth-sidebar">
    <app-auth-sidebar></app-auth-sidebar>
</div>
<div class="admin-stats">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <p class="heading">Total Income</p>
                    <div class="income-box">
                        <div class="income">${{stats?.total_income}}</div>
                        <div class="text">
                            <div>{{stats?.customer_data?.subscription_count}} Subscriptions</div>
                            <div>{{stats?.customer_data?.session_count}} Sessions</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                    <div class="row">
                        <div class="col-lg-9 col-md-9">
                            <div><a class="heading"
                                    [ngClass]="isSubs ? 'selected-tab' : 'unselected-tab'">Subscriptions</a> | <a
                                    [ngClass]="isSession ? 'selected-tab' : 'unselected-tab'"
                                    class="heading">Sessions</a></div>
                        </div>
                        <div class="col-lg-3 col-md-3" dropdown #dropdown="bs-dropdown" [autoClose]="false">
                            <div class="btn dropdown-toggle filter-btn" (click)="dropdown.isOpen = !dropdown.isOpen;">
                                {{selectedSubs}} <i class="fas fa-chevron-down"></i></div>
                            <ul *dropdownMenu class="dropdown-menu" role="menu">
                                <li role="menuitem"><a class="dropdown-item activate"
                                        (click)="dropdown.isOpen = !dropdown.isOpen;">Last Month</a>
                                </li>
                                <li role="menuitem"><a class="dropdown-item blocked"
                                        (click)="dropdown.isOpen = !dropdown.isOpen;">Last Week</a>
                                </li>
                                <li role="menuitem"><a class="dropdown-item deactivate"
                                        (click)="dropdown.isOpen = !dropdown.isOpen;">Quartely</a></li>
                                <li role="menuitem"><a class="dropdown-item deactivate"
                                        (click)="dropdown.isOpen = !dropdown.isOpen;">Today</a></li>
                                <li role="menuitem"><a class="dropdown-item deactivate"
                                        (click)="dropdown.isOpen = !dropdown.isOpen;">Yearly</a></li>
                            </ul>
                        </div>
                    </div>
                    <app-bar-chart [data]="chatsData"></app-bar-chart>
                </div>
            </div>
            <div class="line-chart">
                <div class="row">
                    <div class="col-lg-10 col-md-10">
                        <div><a class="heading" [ngClass]="isSubs ? 'selected-tab' : 'unselected-tab'">Active
                                Practitioners</a>
                            | <a [ngClass]="isSession ? 'selected-tab' : 'unselected-tab'" class="heading">Response time
                                for
                                Chats</a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2" dropdown #dropdown="bs-dropdown" [autoClose]="false">
                        <div class="btn dropdown-toggle filter-btn" (click)="dropdown.isOpen = !dropdown.isOpen;">
                            {{selectedSubs}} <i class="fas fa-chevron-down"></i></div>
                        <ul *dropdownMenu class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item activate"
                                    (click)="dropdown.isOpen = !dropdown.isOpen;">Last Month</a>
                            </li>
                            <li role="menuitem"><a class="dropdown-item blocked"
                                    (click)="dropdown.isOpen = !dropdown.isOpen;">Last Week</a>
                            </li>
                            <li role="menuitem"><a class="dropdown-item deactivate"
                                    (click)="dropdown.isOpen = !dropdown.isOpen;">Quartely</a></li>
                            <li role="menuitem"><a class="dropdown-item deactivate"
                                    (click)="dropdown.isOpen = !dropdown.isOpen;">Today</a></li>
                            <li role="menuitem"><a class="dropdown-item deactivate"
                                    (click)="dropdown.isOpen = !dropdown.isOpen;">Yearly</a></li>
                        </ul>
                    </div>
                </div><br><br>
                <div *ngIf="practitioners.length > 0">
                    <app-line-chart [earnings]="practitioners" [bgColor]="'#00BAD5'"></app-line-chart>
                </div>
            </div>
            <div class="line-chart">
                <div class="row">
                    <div class="col-lg-10 col-md-10">
                        <div><a class="heading" [ngClass]="isSubs ? 'selected-tab' : 'unselected-tab'">Users
                            </a>
                            | <a [ngClass]="isSession ? 'selected-tab' : 'unselected-tab'" class="heading">Time users
                                spend on
                                the platform</a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2" dropdown #dropdown="bs-dropdown" [autoClose]="false">
                        <div class="btn dropdown-toggle filter-btn" (click)="dropdown.isOpen = !dropdown.isOpen;">
                            {{selectedSubs}} <i class="fas fa-chevron-down"></i></div>
                        <ul *dropdownMenu class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item activate"
                                    (click)="dropdown.isOpen = !dropdown.isOpen;">Last Month</a>
                            </li>
                            <li role="menuitem"><a class="dropdown-item blocked"
                                    (click)="dropdown.isOpen = !dropdown.isOpen;">Last Week</a>
                            </li>
                            <li role="menuitem"><a class="dropdown-item deactivate"
                                    (click)="dropdown.isOpen = !dropdown.isOpen;">Quartely</a></li>
                            <li role="menuitem"><a class="dropdown-item deactivate"
                                    (click)="dropdown.isOpen = !dropdown.isOpen;">Today</a></li>
                            <li role="menuitem"><a class="dropdown-item deactivate"
                                    (click)="dropdown.isOpen = !dropdown.isOpen;">Yearly</a></li>
                        </ul>
                    </div>
                </div><br><br>
                <div *ngIf="usersData.length > 0">
                    <app-line-chart [earnings]="usersData"></app-line-chart>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="row">
                <div class="col-lg-10 col-md-10">
                    <p class="heading">Location Based</p>
                </div>
                <div class="col-lg-2 col-md-2" dropdown #dropdown="bs-dropdown" [autoClose]="false">
                    <div class="btn dropdown-toggle filter-btn" (click)="dropdown.isOpen = !dropdown.isOpen;">
                        {{selectedSubs}} <i class="fas fa-chevron-down"></i></div>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li role="menuitem"><a class="dropdown-item activate"
                                (click)="dropdown.isOpen = !dropdown.isOpen;">Last Month</a>
                        </li>
                        <li role="menuitem"><a class="dropdown-item blocked"
                                (click)="dropdown.isOpen = !dropdown.isOpen;">Last Week</a>
                        </li>
                        <li role="menuitem"><a class="dropdown-item deactivate"
                                (click)="dropdown.isOpen = !dropdown.isOpen;">Quartely</a></li>
                        <li role="menuitem"><a class="dropdown-item deactivate"
                                (click)="dropdown.isOpen = !dropdown.isOpen;">Today</a></li>
                        <li role="menuitem"><a class="dropdown-item deactivate"
                                (click)="dropdown.isOpen = !dropdown.isOpen;">Yearly</a></li>
                    </ul>
                </div>
            </div>
            <div class="acct-types">
                <div class="row">
                    <div class="col-lg-10 col-md-10">
                        <p class="heading">Account types</p>
                    </div>
                    <div class="col-lg-2 col-md-2" dropdown #dropdown="bs-dropdown" [autoClose]="false">
                        <div class="btn dropdown-toggle filter-btn" (click)="dropdown.isOpen = !dropdown.isOpen;">
                            {{selectedSubs}} <i class="fas fa-chevron-down"></i></div>
                        <ul *dropdownMenu class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item activate"
                                    (click)="dropdown.isOpen = !dropdown.isOpen;">Last Month</a>
                            </li>
                            <li role="menuitem"><a class="dropdown-item blocked"
                                    (click)="dropdown.isOpen = !dropdown.isOpen;">Last Week</a>
                            </li>
                            <li role="menuitem"><a class="dropdown-item deactivate"
                                    (click)="dropdown.isOpen = !dropdown.isOpen;">Quartely</a></li>
                            <li role="menuitem"><a class="dropdown-item deactivate"
                                    (click)="dropdown.isOpen = !dropdown.isOpen;">Today</a></li>
                            <li role="menuitem"><a class="dropdown-item deactivate"
                                    (click)="dropdown.isOpen = !dropdown.isOpen;">Yearly</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1 col-md-1">
                        <div class="perct">46%</div>
                    </div>
                    <div class="col-lg-11 col-md-11">
                        <progressbar class="progress-striped active" [value]="46">Subscription Plan 1</progressbar>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1 col-md-1">
                        <div class="perct">18%</div>
                    </div>
                    <div class="col-lg-11 col-md-11">
                        <progressbar [value]="18" type="info">Subscription Plan 2</progressbar>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1 col-md-1">
                        <div class="perct">24%</div>
                    </div>
                    <div class="col-lg-11 col-md-11">
                        <progressbar [value]="24" type="warning">Subscription Plan 3</progressbar>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1 col-md-1">
                        <div class="perct">12%</div>
                    </div>
                    <div class="col-lg-11 col-md-11">
                        <progressbar [value]="12" type="warning">Video Only</progressbar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>