.admin-stats {
    padding: 25px 0px 0px 130px;
    .heading {
        font-family: FF Mark Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #074D63;
    }
    .selected-tab {
        color: #074D63;
    }
    .unselected-tab {
        color: #6D6D6D;
    }
    .filter-btn {
        padding: 0px;
    }
    .income-box {
        width: 180px;
        height: 152px;
        background: #00BAD5;
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        padding: 30px 15px;
        .income {
            font-family: healspace font !important;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 45px;
            color: #FFFFFF;
        }
        .text {
            margin-top: 10px;
            font-family: FF Mark Pro;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            color: #FFFFFF;
        }
    }
    .line-chart {
        margin: 40px 0;
        p {
            margin-bottom: 30px;
        }
    }
    .acct-types {
        margin: 40px 0;
        p {
            margin-bottom: 30px;
        }
        .row {
            margin: 15px 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .perct {
            font-family: healspace font !important;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 30px;
            color: #00BAD5;
        }
        .progress {
            height: 60px !important;
        }
    }
}