.header-top-section-bg {
    // padding-bottom     : 100px;
    // background-image   : url(../../../../assets/images/bg/Gradient.png);
    // background-position: top left;
    // background-size    : contain;
    // background-repeat  : no-repeat;

    @media screen and (max-width:767px) and (min-width: 320px) {
        // max-height: 100%;
    }
}

.home-bg-blue {
    // padding-bottom     : 100px;
    // background-image   : url(../../../../assets/images/bg/Group-1.png);
    // background-position: right center;
    // background-size    : revert;
    // background-repeat  : no-repeat;
    // max-height         : 900px;

    @media screen and (max-width:767px) and (min-width: 320px) {
        // max-height: 100%;
    }
}

.home-bg-right {
    // padding-bottom     : 100px;
    // background-image   : url(../../../../assets/images/bg/Planet.png);
    // background-position: right bottom;
    // background-size    : contain;
    // background-repeat  : no-repeat;
    // max-height         : 600px;

    @media screen and (max-width:767px) and (min-width: 320px) {
        max-height: 100%;
    }
}

.home-Courses {
    background-image   : url(../../../../assets/images/bg/Gradient-1.png);
    background-position: left center;
    background-size    : contain;
    background-repeat  : no-repeat;

    // max-height: 718px;
    @media screen and (max-width:767px) and (min-width: 320px) {
        // max-height: 100%;
    }
}

@media screen and (max-width:767px) and (min-width: 320px) {
    .searh-res {
        padding-top   : 0 !important;
        padding-bottom: 0 !important;
    }
}

.pp-related {
    background-image   : url(../../../../assets/images/bg/Planet-7.png);
    background-position: center;
    background-size    : contain;
    background-repeat  : no-repeat;

    // max-height: 718px;
    @media screen and (max-width:767px) and (min-width: 320px) {
        max-height: 100%;
    }
}

.top-space-tb {
    padding-top      : 50px;
    // padding-bottom: 50px;
}


.p-profile {
    &__yellow-card {
        background   : #FBD036;
        border-radius: 20px 0px;
        flex         : none;
        order        : 0;
        flex-grow    : 0;
        margin       : 0px 0px 10px 0;
        padding      : 8px 16px;
        width        : 225px;
        font-weight  : bold;
        font-family  : 'FFMarkWebProBook';
    }

    &__h1 {
        font-family  : 'healspace font';
        font-style   : normal;
        font-weight  : normal;
        font-size    : 64px;
        text-overflow: ellipsis;
        white-space  : nowrap;
        overflow     : hidden;

        @media screen and (max-width: 1199px) and (min-width: 320px) {
            font-size: 32px;
        }

        line-height: 76px;
        /* identical to box height, or 119% */


        /* Secondary */

        color: #074D63;


        /* Inside Auto Layout */

        flex     : none;
        order    : 0;
        flex-grow: 0;
        margin   : 0px 0px;
    }

    &__sec-text {
        font-style : normal;
        font-weight: bold;
        font-size  : 16px;
        line-height: 20px;
        font-family: 'FFMarkWebProBook';


        /* Secondary */

        color: #074D63;


        /* Inside Auto Layout */

        flex     : none;
        order    : 1;
        flex-grow: 0;
        margin   : 0px 0px;
    }

    &__description {
        font-family   : 'FFMarkWebProBook';
        font-style    : normal;
        font-weight   : normal;
        font-size     : 16px;
        line-height   : 32px;
        /* or 200% */
        // height     : 96px;

        color: #000000;


        /* Inside Auto Layout */

        flex     : none;
        order    : 1;
        flex-grow: 0;
        margin   : 24px 0px 0 0;
    }

    &__bg-blue {
        width          : 48px;
        height         : 48px;
        background     : #00BAD5;
        box-shadow     : 0px 10px 15px rgba(0, 186, 213, 0.3);
        border         : 1px solid #00BAD5;
        border-radius  : 50%;
        display        : flex;
        justify-content: center;
        align-items    : center;
        color          : #fff;
        font-size      : 20px;
        font-family    : 'FFMarkWebProBook';
    }

    &__no {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 24px;
        line-height: 20px;
        color      : #074D63;
        flex       : none;
        order      : 0;
        flex-grow  : 0;
        margin     : 0px 0px;
    }

    &__no-detail {
        font-style : normal;
        font-weight: normal;
        font-size  : 14px;
        line-height: 18px;
        color      : #074D63;
        flex       : none;
        order      : 1;
        flex-grow  : 0;
        margin     : 0px 0px;
        font-family: 'FFMarkWebProBook';
    }

    &__heading {

        font-family: 'healspace font';
        font-style : normal;
        font-weight: normal;
        font-size  : 40px;
        line-height: 45px;

      

        color         : #074D63;
        padding-bottom: 30px;
        @media screen and (max-width:767px) and (min-width: 320px) {
            font-size  : 24px;
            line-height: 23px;
            padding-bottom: 15px;
        }
    }

    &__arrow-bg {
        width    : 41px;
        height   : 41px;
        transform: matrix(1, 0, 0, -1, 0, 0);
        z-index: 33;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px #ccc;
    }
}

.rate-position{
    @media screen and (max-width:575px) and (min-width: 320px) {
    position: relative;
    top: -42px;
    }

    @media screen and (max-width:767px) and (min-width: 576px) {
        position: relative;
        top: -2px;
        }
}


.banner-pic {
    top          : -82px;
    left         : 45px;
    border-radius: 50%;

    span {
        color      : #fff;
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 12px;
        line-height: 16px;
        color      : #FFFFFF;
    }

    &__white-box {

        width : 48px;
        height: 44px;
        @media screen and (max-width:767px) and (min-width: 320px) {
        width: 38px;
        height: 34px;
        }


        left  : 0px;
        top   : 0px;

        background     : #FFFFFF;
        border-radius  : 12px;
        display        : flex;
        justify-content: center;
        align-items    : center;

        // color: #000;
        &--heart {
            background-image: url(../../../../assets/images/Heart-Empty.png);
            height          : 26px;
            width           : 26px;

            background-position: center;
            background-size    : contain;
            background-repeat  : no-repeat;

            &:hover {
                background-image: url(../../../../assets/images/Union.png);
            }
        }

        i {
            color: #074D63;
            ;
        }
    }
}

button:disabled,
button[disabled] {
    background: rgba(109, 109, 109, 0.1) !important;
    border    : none !important;
    color     : rgba(109, 109, 109, 0.5);
}

.rating {

    background   : #FAFAFA;
    border-radius: 20px;
    padding      : 40px;

    &__title {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 16px;
        line-height: 20px;
        /* identical to box height, or 125% */


        /* Secondary */

        color: #074D63;
    }

    &__des {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 14px;
        line-height: 18px;
        /* or 129% */


        /* Background - dark */

        color: #6D6D6D;
    }
}

.p-profile-p {
    padding: 55px 0;
}

.banner-img {
    position: absolute;
    right   : 0;
    top     : 140px;

    @media screen and (max-width: 767px) and (min-width: 320px) {
        position: relative !important;
        top     : 0;
    }

}

.img-res {
    position: absolute;
    right   : 0px;
    width   : 100%;
}


.course-video {
    width        : 100%;
    height       : 475px;
    background   : #E5E5E5;
    padding      : 12px;
    border-radius: 20px;
}

.right-box {
    background-image   : url(../../../../assets/images/unsplash_ePpaQC2c1xA.png);
    // position        : absolute;
    width              : 168px;
    height             : 250px;

    padding        : 30px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin         : 0 auto;

    p {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 16px;
        line-height: 20px;
        /* or 125% */


        /* White */

        color: #FFFFFF;
    }

    a {
        font-family    : 'FFMarkWebProBook';
        text-decoration: none;
        font-style     : normal;
        font-weight    : bold;
        font-size      : 16px;
        line-height    : 20px;
        /* identical to box height, or 125% */


        /* Background - light */

        color: #FAFAFA;
    }
}

.course-le {
    &__h1 {
        font-family: 'healspace font';
        font-style : normal;
        font-weight: normal;
        font-size  : 40px;
        line-height: 45px;
        color      : #074D63;
    }

    &__sec-text {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 24px;
        line-height: 35px;
        color      : #074D63;
    }

    &__rate-btn {
        width        : 100px;
        height       : 28px;
        // left    : 30px;
        // top     : 246px;
        margin-bottom: 15px;
        /* Secondary */

        background   : #074D63;
        border-radius: 20px;
        border       : 1px solid #074D63;
        color        : #fff;

        // @media screen and (max-width: 1199px) and (min-width: 992px) {
        //     top : 204px;
        //     left: 30px;
        // }

        // @media screen and (max-width: 991px) and (min-width: 768px) {
        //     top :246px;
        //     left: 30px;
        // }

        // @media screen and (max-width: 767px) and (min-width: 576px) {
        //     top : 228px;
        //     left: 25px;
        // }

        // @media screen and (max-width: 575px) and (min-width: 320px) {
        //     top     : 247px;
        //     position: absolute;
        //     left    : 20px;
        // }

    }

    &__time {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 24px;
        line-height: 18px;

        /* identical to box height, or 75% */
        @media screen and (max-width: 991px) and (min-width: 320px) {
            font-size  : 14px !important;
            line-height: 2;
        }


        /* Secondary */

        color: #074D63;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .img-t-p {
        padding-top: 25px !important;
    }
}

.detail {
    width: 100%;

    &__small-img {
        border    : 1px solid #FFFFFF;
        box-sizing: border-box;
        position  : relative;
        // left: 50px;
        display   : flex;
        width     : 100%;
        padding   : 0 !important;

        span {

            font-style : normal;
            font-weight: normal;
            font-size  : 24px;
            line-height: 18px;
            /* identical to box height, or 75% */

            @media screen and (max-width: 991px) and (min-width: 320px) {
                font-size  : 14px !important;
                line-height: 1;
            }

            /* Secondary */

            color: #074D63;


            position: relative;
            left    : 95px;

        }

        img:nth-child(1) {
            left         : 0px;
            position     : absolute;
            height       : 32px;
            width        : 32px;
            border-radius: 50%;
        }

        img:nth-child(2) {
            left         : 20px;
            position     : absolute;
            height       : 32px;
            width        : 32px;
            border-radius: 50%;
        }

        img:nth-child(3) {
            left         : 40px;
            position     : absolute;
            height       : 32px;
            width        : 32px;
            border-radius: 50%;
        }

        img:nth-child(4) {
            left         : 60px;
            position     : absolute;
            height       : 32px;
            width        : 32px;
            border-radius: 50%;
        }
    }


}

// .der-img {
//     width: 80px!important;
//     height: 80px!important;
// }

// @media screen and (max-width: 991px) and (min-width: 320px) {




//     .nav-fixed-top {
//         position: fixed;
//         top: 0;
//         right: 0;
//         left: 0;
//         z-index: 1030;
//     }

//     .video-top{
//         padding-top: 70px;
//     }
//     }



.detail-user {
    img {
        width: 216px;

        @media screen and (max-width: 767px) and (min-width: 320px) {
            width : 80px !important;
            height: 80px !important;
        }
        @media screen and (max-width: 991px) and (min-width: 768px) {
            width : 150px !important;
            height: 150px !important;
        }

        height: 276px;
    }

    &__heading {
        font-family: 'healspace font';
        font-style : normal;
        font-weight: normal;
        font-size  : 48px;

        @media screen and (max-width: 767px) and (min-width: 320px) {
            font-size  : 24px;
            line-height: 1;
            padding-left: 8px;
        }


        line-height: 76px;
        /* identical to box height, or 158% */


        /* Secondary */

        color: #074D63;
    }

    &__mini {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 16px;
        line-height: 20px;
        /* identical to box height, or 125% */


        /* Secondary */
        @media screen and (max-width: 767px) and (min-width: 320px) {
            font-size  : 14px;
            line-height: 1;
            padding-left: 8px;
        }

        color: #074D63;
    }

    &__des {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 20px;
        line-height: 32px;
        /* or 160% */
        @media screen and (max-width: 767px) and (min-width: 320px) {
        font-size: 16px;
line-height: 32px;
        }


        color: #000000;
    }
}

.second-heart {
    position: absolute;
    top     : 16px;
    right   : 62px;
    z-index : 33;

    @media screen and (max-width: 767px) and (min-width: 320px) {
        // display: none!important;
        top: 4px;
        right: -16px;
    }
    @media screen and (max-width:991px) and (min-width: 768px) {
    position: absolute;
    top: 10px;
    right: 0px;
    z-index: 33;
    }
}



.modal-dialog {
    max-width: 800px !important;
    margin   : 1.75rem auto;
}



.modal-body {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // padding: 44px;
    // background-color: #FAFAFA;
    border-radius: 40px;
}

.des-none {
    display: none!important;

    @media screen and (max-width: 20000px) and (min-width: 992px) {

        display: block!important;
    }
}

.small-des{
    display: none!important;
    @media screen and (max-width: 991px) and (min-width: 320px) {

        display: block!important;
    }
}

.heart-user{
    flex: 0 0 22%;
    max-width: 22%;
    padding: 0 8px;

    @media screen and (max-width: 767px) and (min-width: 320px) {
        flex: 0 0 14%;
        max-width: 14%;
         padding: 0 ;
    }
}