<div class="header-top-section-bg " *ngIf="!showLoadScreen">
    <div class="home-bg-blue">
        <div class="home-bg-right">
            <app-header></app-header>
            <div class="header-top-second video-top">
                <div class="container top-space-tb searh-res" *ngIf="course_wrapper?.course_details?.lessons.length==1">
                    <div *ngFor="let lesson of course_wrapper?.course_details?.lessons">
                        <app-video-player [course_details]="course_wrapper.course_details" lesson_index="1" [lesson]="lesson" [course_id]="course_id"></app-video-player>
                    </div>
                </div>

                <div class="container top-space-tb searh-res video-carousel" *ngIf="course_wrapper?.course_details?.lessons.length>1">
                    <div>
                        <app-video-player-carousel [course_details]="course_wrapper.course_details" [course_id]="course_id"></app-video-player-carousel>
                    </div>
                </div>

                <div class="container ">
                    <div class="col-lg-12 course-le p-0">
                        <!-- <p class="course-le__h1">{{course_wrapper?.course_details?.course_title}}</p> -->
                        <!-- <p class="course-le__sec-text">by 
                            {{course_wrapper?.course_details?.practitioner_firstname}}
                            {{course_wrapper?.course_details?.practitioner_lastname}}</p>-->
                        <button class="course-le__rate-btn"> <i class="fa fa-star"></i>
                            {{course_wrapper?.course_details?.course_overall_rating}}
                            ({{course_wrapper?.course_details?.rated_person_count}})</button>
                    </div>

                    <div class="row align-items-center">
                        <p class="course-le__time col-lg-3 mb-0  ">
                            {{course_wrapper?.course_details?.lesson_count}} lesson |
                            {{getTime(course_wrapper?.course_details?.course_duration_in_sec)}}
                        </p>

                        <div class="detail__small-img col-lg-5  py-3"
                            *ngIf="course_wrapper?.course_details?.viewers_count>0">
                            <div
                                *ngFor="let viewer of course_wrapper?.course_details?.viewers_detail | slice: 0:4">
                                <img class="ml-2"
                                    [src]="viewer.profile_image ? generalService.getCustomerImageBaseUrl(viewer.profile_image) : 'assets/images/Ellipse 16.png'">
                            </div>
                            <span> {{course_wrapper?.course_details?.viewers_count}} plays</span>
                        </div>
                    </div>
                </div>

                <div class="container top-space-tb searh-res img-t-p">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 col-3 detail-user heart-user">
                            <div class="d-flex second-heart">
                                <div class="banner-pic__white-box mr-2" *ngIf="authService.isAuthenticated()"
                                    (click)="addRemoveFavPractitioner()">
                                    <div class="banner-pic__white-box far fa-heart color-blue cp cursor-pointer"
                                        [ngClass]="{' fas ':course_wrapper.course_details.is_favorite_practitioner, ' far ':!course_wrapper.course_details.is_favorite_practitioner}">
                                        &nbsp;</div>
                                </div>
                            </div>
                            <img class="" [src]="course_wrapper.course_details.practitioner_profile_image ? course_wrapper.course_details.practitioner_profile_image : 'assets/images/Rectangle 54.png'"
                                alt="{{course_wrapper.course_details.practitioner_firstname}}">
                        </div>

                        <div class="col-lg-6 col-sm-6 col-9 detail-user">
                            <p class="detail-user__heading">
                                {{course_wrapper.course_details.practitioner_firstname}}
                                {{course_wrapper.course_details.practitioner_lastname}}
                            </p>
                            <p class="detail-user__mini">{{course_wrapper.course_details.practitioner_expertise[0]}} |
                                {{course_wrapper.course_details?.practitioner_address_line4}},
                                {{course_wrapper.course_details?.practitioner_address_line2}}</p>

                            <p class="detail-user__des des-none">{{course_wrapper.course_details.practitioner_description}}</p>
                        </div>
                        <div class="col-lg-12 col-sm-12 col-12 detail-user small-des">
                        <p class="detail-user__des">{{course_wrapper.course_details.practitioner_description}}</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="container top-space-tb" *ngIf="course_wrapper?.course_details?.reviews.length>0">
        <div class="row  mx-0 justify-content-between align-items-center1">
            <div class="col-lg-9 col-md-9 col-sm-9 col-12 p-0">
                <p class="p-profile__heading mb-0">{{course_wrapper?.course_details?.practitioner_firstname}}’s ratings and reviews </p>
                <div class="pb-2 d-flex align-items-center">
                    <i class="fa fa-star star-color mr-1"></i>
                    <span class="fev-box__rating">{{course_wrapper?.course_details?.practitioner_overall_rating}}
                        ({{course_wrapper?.course_details?.practitioner_rating_count}})</span>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-12 p-0">
            <div class="d-flex justify-content-end" *ngIf="course_wrapper?.course_details?.reviews.length>2">
                <div class="p-profile__arrow-bg mr-2" (click)="courseReviewScroll.moveLeft()">
                    <img class="img-fluid" src="../../../../assets/images/arrowleft.png">
                </div>

                <div class="p-profile__arrow-bg" (click)="courseReviewScroll.moveRight()">
                    <img class="img-fluid" src="../../../../assets/images/arrowright.png">
                </div>
            </div>
            </div>
        </div>

        <div class="row mx-0 rate-position">
            <drag-scroll #courseReviewScroll class="carousel-height-rate py-4">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-3 px-2" drag-scroll-item
                    *ngFor="let review of course_wrapper?.course_details?.reviews">
                    <app-rating [firstname]="review.user_id__first_name" [lastname]="review.user_id__last_name"
                        [rating_count]="review.overall_rating" [review]="review.review"></app-rating>
                </div>
            </drag-scroll>
        </div>
    </div>

    <div class="container top-space-tb" *ngIf="course_wrapper?.other_courses.length>0">
        <div class="pp-related">
            <div class="row mx-0">
                <p class="p-profile__heading">Other Course from
                    {{course_wrapper?.course_details?.practitioner_firstname}} </p>
                <div class="col-lg-12 p-0 courses-drag">
                    <app-course-carousel [related_courses]="course_wrapper.other_courses"></app-course-carousel>
                </div>
            </div>
        </div>
    </div>

    <div class="container top-space-tb" *ngIf="course_wrapper?.related_courses.length>0">
        <div class="pp-related">
            <div class="row mx-0">
                <p class="p-profile__heading">Related Courses</p>
                <div class="col-lg-12 p-0">
                    <app-course-carousel [related_courses]="course_wrapper.related_courses"></app-course-carousel>
                </div>
            </div>
        </div>
    </div>

    <div class="container top-space-tb" *ngIf="course_wrapper?.related_practitioner?.length>0">
        <div class="row mx-0">
            <p class="p-profile__heading">Related Practitioners </p>

            <div class="col-lg-12 p-0">
                <app-practitioner-carousel [related_practitioner]="course_wrapper.related_practitioner">
                </app-practitioner-carousel>
            </div>

        </div>
    </div>

    <app-footer></app-footer>