<div class="header-top-section-bg s-practitioner">
    <div class="container">
        <app-header></app-header>

        <div class="d-flex justify-content-center ">
            <div class="col-lg-12 p-0">
                <p class="course__title pb-5">Courses</p>
                <p class="course__des">Short description for live events to be provided here, <br>
                    maybe expanded on multiple rows.</p>
            </div>
        </div>
        <div class="container p-0 mb-5">
            <div class="row mx-0 live-class">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-12 px-2 m-b-20" *ngFor="let course of nextFourCourse">
                    <app-courses [id]="course.course_id" [viewers_detail]="course.viewers_detail" [cover_photo]="course?.lessons[0]?.cover_photo" [rating]="course.related_course_rating" [video]=""  
                    [ratecount]="course.related_course_rated_count" [title]="course.course_title" [firstname]="course.practitioner_firstname" [lastname]="course.practitioner_lastname"
                    [lessoncount]="course.lesson_count" [duration]="course.related_course_duration_in_sec"></app-courses>
                </div>
            </div>
        </div>

        <div class="container p-0 mb-5 ">
            <div class="course__heading">
                Browse courses
            </div>


            <ul class="nav nav-tabs p-0" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home" (click)="getAllCourse('popular')">Most Popular
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-toggle="tab" href="#home" (click)="getAllCourse('latest')">Latest
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#home" (click)="getAllCourse('meditation')">Meditation
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link " data-toggle="tab" href="#home" (click)="getAllCourse('this_month')">This
                        month
                    </a>
                </li> -->
            </ul>
        </div>
        <div class="tab-content">
            <div id="home" class="container p-0 tab-pane active margin-nottom-70"><br>
                <div class="container p-0">
                    <div class="row mx-0 live-class" infinite-scroll (scrolled)="getAllCourse(dataCategory,true)">

                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-12 px-2 mb-4" *ngFor="let course of courseList">
                            <app-courses [id]="course.course_id" [viewers_detail]="course.viewers_detail" [cover_photo]="course?.lessons[0]?.cover_photo" [rating]="course.related_course_rating" [video]=""  
                            [ratecount]="course.related_course_rated_count" [title]="course.course_title" [firstname]="course.practitioner_firstname" [lastname]="course.practitioner_lastname"
                            [lessoncount]="course.lesson_count" [duration]="course.related_course_duration_in_sec"></app-courses>
                        </div>

                    </div>
                    <div class="row mx-0  live-class" *ngIf="showLoadScreen">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-12 px-2 m-b-20">
                            <div class="course__blank-box"> </div>
                            <div class="course__blank_des">&nbsp;</div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-12 px-2 m-b-20 ">
                            <div class="course__blank-box"> </div>
                            <div class="course__blank_des">&nbsp;</div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-12 px-2 m-b-20">
                            <div class="course__blank-box"> </div>
                            <div class="course__blank_des">&nbsp;</div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-12 px-2 m-b-20">
                            <div class="course__blank-box"> </div>
                            <div class="course__blank_des">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>