.admin-dashboard {
    padding: 25px 20px 20px 140px;
    background: #fff;
    .heading {
        font-family: FF Mark Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #074D63;
        margin: 20px 0;
    }
    .earnings {
        background: #00BAD5;
        box-shadow: 0px 15px 30px rgb(0 0 0 / 5%);
        border-radius: 20px;
        width: 296px;
        color: #FFFFFF;
        padding: 25px;
        .title {
            font-family: FF Mark Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
        }
        .amt {
            font-family: healspace font !important;
            font-style: normal;
            font-weight: normal;
            font-size: 40px;
            line-height: 45px;
        }
        .box {
            background: #FAFAFA;
            border-radius: 20px;
            width: 100px;
            padding: 20px;
            text-align: center;
            .val {
                font-family: healspace font !important;
                font-weight: bold;
                font-size: 24px;
                line-height: 30px;
                text-align: center;
                color: #074D63;
                margin: 0px;
            }
            .key {
                font-family: BelyDisplayW00-Regular;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 30px;
                text-align: center;
                color: #074D63;
            }
        }
    }
    .chart-container {
        margin-top: 30px;
        .label {
            font-family: FF Mark Pro;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            color: #074D63;
        }
        .dropdown-value {
            font-family: FF Mark Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: #074D63;
            text-align: right;
        }
        .chart {
            margin-top: 20px;
        }
    }
    .user-stats {
        background: #FFFFFF;
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        width: 296px;
        padding: 30px 50px;
        .perct-container {
            display: flex;
            align-items: center;
            padding-bottom: 10px;
            .percent {
                font-family: FF Mark Pro;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 18px;
                color: #00BAD5;
                display: flex;
                align-items: center;
                margin-left: 10px;
            }
            .arrow {
                background: #00BAD5;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        h2 {
            font-family: healspace font !important;
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            line-height: 45px;
            color: #074D63;
        }
        p {
            margin: 0px;
        }
    }
    .see-all {
        text-align: right;
        padding-right: 40px;
    }
    .ticket-box {
        background: rgba(252, 215, 215, 0.2);
        border-radius: 40px 20px 40px 40px;
        padding: 24px 40px;
        width: 264px;
        margin-right: 10px;
        position: relative;
        h1 {
            font-family: healspace font !important;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 30px;
            color: #074D63;
            width: 137px;
            margin-top: 20px;
        }
        p {
            font-family: FF Mark Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: #074D63;
        }
        .from-key {
            font-family: FF Mark Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            color: #6D6D6D;
        }
        .from-val {
            font-family: FF Mark Pro;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            color: #074D63;
        }
        .view-detail {
            background: #00BAD5;
            border-radius: 20px;
            width: 145px;
            padding: 15px;
            text-align: center;
            font-family: FF Mark Pro;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            color: #FFFFFF;
        }
        .new-label {
            background: #FBD036;
            border-radius: 40px;
            width: 64px;
            color: #074D63;
            font-family: FF Mark Pro;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            padding: 8px;
            position: absolute;
            top: 0px;
            right: 0px;
            text-align: center;
        }
        .done-label {
            background: rgba(109, 109, 109, 0.2);
            border-radius: 40px;
            width: 64px;
            color: #6D6D6D;
            font-family: FF Mark Pro;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            padding: 8px;
            position: absolute;
            top: 0px;
            right: 0px;
            text-align: center;
        }
    }
    .list-box {
        background: #F2FCFD;
        border-radius: 40px;
        width: 392px;
        padding: 20px 40px;
        margin-top: 20px;
        h2 {
            font-family: healspace font !important;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 30px;
            color: #00BAD5;
        }
        p {
            font-family: FF Mark Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: #074D63;
            margin: 0px;
        }
        .count {
            background: #00BAD5;
            width: 80px;
            border-radius: 50%;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FFFFFF;
            font-family: BelyDisplayW00-Regular;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 30px;
        }
    }
}