
<app-auth-navbar></app-auth-navbar>
<div class="auth-sidebar">
    <app-auth-sidebar></app-auth-sidebar>
</div>

<div class="admin-dashboard">
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <p class="heading">Earnings and Stats</p>
            <div class="earnings">
                <p class="title">Your company’s earnings
                    on healplace.co</p>
                <p class="amt">${{details.total_earnings}}</p>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="box">
                            <h2 class="val">{{details.total_subscribers}}</h2>
                            <span class="key">subscribers</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="box">
                            <h2 class="val">{{details.total_sessions}}</h2>
                            <span class="key">sessions</span>
                        </div>
                    </div>
                </div>
            </div>
            <p class="heading">Total Users</p>
            <div class="user-stats">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <h2>{{details.total_users}}</h2>
                    </div>
                    <div class="col-lg-6 col-md-6 perct-container">
                        <div class="row">
                            <div class="arrow">
                                <img src="../../../../assets/images//arrow_up.png" />
                            </div>
                            <div class="percent" *ngIf="details.new_user_percentage">
                                +{{math(details.new_user_percentage)}}%</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p>{{details.last_month_joined_users}} new users joined the platform
                        in the last month!</p>
                </div>
            </div>
            <div class="chart-container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="label">Chats</div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="dropdown-value">last week</div>
                    </div>
                </div>
                <div class="row chart">
                    <app-bar-chart [data]="chatsData"></app-bar-chart>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9">
            <div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <p class="heading">Tickets from practitioners</p>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <p class="heading see-all">see all practitioners tickets →</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="ticket-box">
                            <div class="from-key">From</div>
                            <div class="from-val">Wade Warren</div>
                            <h1>User Blocking</h1>
                            <p>On: 2 March, at 10:30</p>
                            <div class="view-detail">
                                View Details
                            </div>
                            <div class="new-label">
                                New
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="ticket-box">
                            <div class="from-key">From</div>
                            <div class="from-val">Darrell Steward</div>
                            <h1>New Account Request</h1>
                            <p>On: 2 March, at 10:30</p>
                            <div class="view-detail">
                                View Details
                            </div>
                            <div class="new-label">
                                New
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="ticket-box">
                            <div class="from-key">From</div>
                            <div class="from-val">Courtney Henry</div>
                            <h1>New Message</h1>
                            <p>On: 2 March, at 10:30</p>
                            <div class="view-detail">
                                View Details
                            </div>
                            <div class="done-label">
                                Done
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <p class="heading">Tickets from users</p>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <p class="heading see-all">see all users tickets →</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="ticket-box">
                            <div class="from-key">From</div>
                            <div class="from-val">Robert Fox</div>
                            <h1>New Testimonial</h1>
                            <p>On: 2 March, at 10:30</p>
                            <div class="view-detail">
                                View Details
                            </div>
                            <div class="new-label">
                                New
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="ticket-box">
                            <div class="from-key">From</div>
                            <div class="from-val">Brooklyn Simmons</div>
                            <h1>Report Practitioner</h1>
                            <p>On: 2 March, at 10:30</p>
                            <div class="view-detail">
                                View Details
                            </div>
                            <div class="new-label">
                                New
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="ticket-box">
                            <div class="from-key">From</div>
                            <div class="from-val">Annette Black</div>
                            <h1>New Testimonial</h1>
                            <p>On: 2 March, at 10:30</p>
                            <div class="view-detail">
                                View Details
                            </div>
                            <div class="done-label">
                                Done
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="list-box">
                        <div class="row">
                            <div class="col-lg-8 col-md-8">
                                <h2>Interests list</h2>
                                <p>{{details.this_week_added_interest}} new interests added this week</p>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="count">
                                    {{details.total_interest}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="list-box">
                        <div class="row">
                            <div class="col-lg-8 col-md-8">
                                <h2>Practitioners</h2>
                                <p>{{details.this_week_added_practitioner}} new practitioners added this week</p>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="count">
                                    {{details.total_practitioner}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>