<app-auth-navbar></app-auth-navbar>
<div class="auth-sidebar">
    <app-auth-sidebar></app-auth-sidebar>
</div>
<div class="customer-archive">
    <p class="heading">Archived</p>
    <div>
        <div class="no-archive" *ngIf="archiveList.length === 0">
            No Archives Found!
        </div>
        <div class="col-lg-12 col-md-12 d-flex list" *ngFor="let list of archiveList">
            <div class="col-lg-4 col-md-4 d-flex justify-content-center flex-column">
                <div class="interest-label">Interests</div>
                <div class="interest-val" placement="bottom" tooltip="{{list.practitioner_details.expertise.join()}}">{{list.practitioner_details.expertise.join() | limitTo: 22}}</div>
            </div>
            <div class="d-flex align-items-center p-0 mr-2 col-lg-2 col-md-2">
                <div class="btn-flex-center">
                    <div class="icon">
                        <img src="../../../../assets/images/user.png" />
                    </div>
                    <div class="d-flex justify-content-center flex-column">
                        <div class="title" tooltip="{{list.practitioner_details.user_id__first_name +' '+ list.practitioner_details.user_id__last_name}}">{{list.practitioner_details.user_id__first_name +' '+ list.practitioner_details.user_id__last_name | limitTo:18}}</div>
                        <!-- <div class="sub">14 chats</div> -->
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center p-0 mr-2 col-lg-2 col-md-2">
                <div class="btn-flex-center">
                    <div class="icon">
                        <img src="../../../../assets/images/video_icon.png" />
                    </div>
                    <div class="d-flex justify-content-center flex-column">
                        <div class="title">{{list.video_session_count}} Video Sessions</div>
                        <!-- <div class="sub">1 practitioner</div> -->
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center p-0 mr-2 col-lg-2 col-md-2">
                <div class="btn-flex-center">
                    <div class="icon">
                        <img src="../../../../assets/images/chat_icon.png" />
                    </div>
                    <div class="d-flex justify-content-center flex-column">
                        <div class="title">{{list.pinmsg_count}} Pinned Messages</div>
                        <!-- <div class="sub"></div> -->
                    </div>
                </div>
            </div>
            <div class="btn-flex-center p-0 col-lg-2 col-md-2">
                <div class="title archive-text" [popover]="archiveTemplate" placement="left" (click)="selectArchive(list.practitioner_details)"> <img src="../../../../assets/images/y_dot.png" />Archived</div>
            </div>
        </div>
    </div>
</div>

<ng-template #archiveTemplate>
    <div class="action-popover">
        <p>
            <span class="restore-archive" (click)="deleteArchive()">Restore</span>
        </p>
    </div>
</ng-template>