.customer-archive {
     padding: 0 30px 0 120px;
    .heading {
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #074D63;
        margin: 20px 0;
    }
    .title {
        font-family: 'FFMARKWEBPROBOOK';
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        color: #074D63;
        word-break: break-all;
    }
    .sub {
        font-family: FF Mark Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #6D6D6D;
    }
    .interest-label {
        font-family: 'FFMARKWEBPROBOOK';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #6D6D6D;
    }
    .interest-val {
        font-family: 'healspace font';
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
        color: #00BAD5;
    }
    .icon {
        margin: 5px 15px;
    }
    .archive-text {
        background: #FFF4E3;
        border-radius: 20px;
        width: 114px;
        text-align: center;
        padding: 10px;
        cursor: pointer;
        img {
            margin-right: 10px;
        }
    }
    .list {
        background: #FFFFFF;
        box-shadow: 0px 15px 30px rgb(0 0 0 / 5%);
        border-radius: 20px;
        padding: 30px;
        margin-bottom: 20px;
    }
    .no-archive {
        font-family: FF Mark Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #074D63;
        text-align: center;
    }
}

.action-popover {
    // width: 125px !important;
    text-align: center;
    p{
        margin-bottom: 0px;
        // padding: 10px;
    }
    .restore-archive {
        font-family: FF Mark Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #074D63;
    cursor: pointer;
    padding: 10px;
    margin-left: 5px;
    }
}