<div class="row exp" style=" margin-right: 0px !important;">
    <div class="left-section">
        <div class="row" style="padding: 48px;">
            <div class="profile-image">
                <img class="center profile" src="{{logedinData?.is_profile_pic_approved && logedinData?.profile_image || logedinData?.is_photo_verified && logedinData?.profile_image ? logedinData?.profile_image : 'assets/images/users/avator-2.jpg'}}"/>
            </div>
            <div class="profile-content">
                <h1 class="profile-content">{{logedinData?.user_id?.first_name}} {{logedinData?.user_id?.last_name}}</h1>
                <p class="email-content">{{logedinData?.user_id?.email}}</p>
            </div>
        </div>
        <div class="secondary-title" style="margin-left: 48px;">
            <h2>My Expertise</h2>
        </div>
        <div class="expertise-section">
            <ng-container *ngFor="let list of expertises">
                <div class="card expertise-card" id="{{list.id}}">
                    <div class="card-body">
                        <div class="img-section">
                            <img src="{{list.cover_photo}}" alt="">
                        </div>
                        <div class="text-section">
                            <div class="options" [popover]="deleteInterestTemplate" placement="left" (click)="selectExpertise(list)"> 
                                <img class="p-dot h-more-width" src="../../../../assets/images/h-more.svg" />
                            </div>
                            <!-- <div class="options" (click)="deleteExpertise(list)"><i class="fas fa-trash text-danger" style="background: none;box-shadow: none;margin-right:-15px;"></i></div> -->
                            <h3 tooltip="{{list.interest}}">{{list.interest | limitTo:17}}</h3>
                            <span tooltip="{{list.description}}">{{list.description | limitTo:17}}</span>
                        </div>
                    </div>
                    <img src="assets/images/image2.png" alt="" class="check">
                </div>
            </ng-container>
            <ng-template #deleteInterestTemplate>
                <div class="action-popover">
                        <span class="restore-archive" (click)="deleteExpertise(selectedExpertise)">Remove Expertise</span>
                </div>
            </ng-template>
        </div>
        <div class="submission-section">
            <button class="rounded-button" (click)="goToAddExpertise()">
                Add New Expertise
            </button>
        </div>
    </div>
    <app-available-patient></app-available-patient>
</div>