<drag-scroll class="carousel-height">
    <div drag-scroll-item style="margin-right: 14px;" 
        *ngFor="let practitioner of related_practitioner">
        <app-practitioners [id]="practitioner.practitioner_id"
            [image]="practitioner.practitioner_profile_image"
            [firstname]="practitioner.practitioner_firstname"
            [rating]="practitioner.practitioner_rating"
            [ratecount]="practitioner.practitioner_rate_count"
            [lastname]="practitioner.practitioner_lastname"
            [expertise]="practitioner.practitioner_expertise[0]"
            [startingprice]="practitioner.starting_price"></app-practitioners>
    </div>
</drag-scroll>
<button (click)="moveLeft()" class="carousel-control-prev-icon carousel-control-prev">
    <img class="img-fluid" src="../../../../assets/images/arrowleft.png">
</button>
<button (click)="moveRight()" class="carousel-control-next-icon carousel-control-next">
    <img class="img-fluid" src="../../../../assets/images/arrowright.png">
</button>
