
<div class="join-class-modal">
<div class="modal-body">
    <div class="modal-padding">
        <div class="col-lg-12">

            <div class="col-lg-12 class-group">
                <p class="join-free__title mb-0">Active follow-up forms</p>
            </div>
            <div class="col-lg-12 class-group">
                <p class="join-free__sm-des">Some small description maybe</p>
            </div>

            <div class="row justify-content-between">
                <div class="d-flex">
                    <div class="no-bg">
                        1
                    </div>
                    <div>
                    <p class="mb-0 join-free__allow-head">
                        How are you feeling today?
                    </p>

                    <span class="__head-des">Frequency: Daily</span>
                    </div>
                </div>

                <button class="heal-btn__default">Change Frequency or Stop
                </button>
            </div>

            
        </div>
    </div>
</div>
</div>