<!-- Upload New Course -->

<div class="h-modal-widget modal-body" *ngIf="step==1">
    <h1 class="md-heading text-center">
        Upload New Course
    </h1>
    <span class="d-block md-sub-h mt-3 text-center">
        Please fill out the fields below to add a course
    </span>
    <div class="md-line"></div>
    <form>
        <div class="mb-4">
            <label class="form-label">Choose intrest</label>
            <select class="form-control">
                <option>
                    Select
                </option>
            </select>
        </div>
        <div class="mb-4">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <label class="form-label">Course Price</label>
                    <input type="text" class="form-control" placeholder="Leave emplty for free">
                </div>
                <div class="col-12 col-lg-6">
                    <label class="form-label">Content Type</label>
                    <select class="form-control">
                        <option>
                            Audio
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="mb-4">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">
                            Check this box if you want to add more than one lesson into this course
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mb-2">
            <button (click)="step=2">next →</button>
        </div>
        <div class="text-center">
            <a href="javascript:;" (click)="modalService.dismissAll()" class="bck">back</a>
        </div>
    </form>
</div> 

<!-- Upload Audio Course -->

<div class="h-modal-widget modal-body" *ngIf="step==2">
    <h1 class="md-heading text-center">
        Upload Audio Course
    </h1>
    <span class="d-block md-sub-h mt-3 text-center">
        Please fill out the fields below to add a course
    </span>
    <div class="md-line"></div>
    <form>
        <div class="mb-4">
            <label class="form-label">Upload Audio File</label>
            <div class="upload-area">
                <div class="text-center">
                    <i><img src="../../../../../assets/images/music-462.png" alt="image"></i>
                    <span class="d-block mt-2">Drop your file here or <strong>Browse</strong></span>
                    <small class="d-block">Max Size file : 20MB</small>
                </div>
                <input type="file" class="brwse" />
            </div>
        </div>
        
        <div class="text-center mb-2">
            <button (click)="step=3">next →</button>
        </div>
        <div class="text-center">
            <a href="javascript:;" (click)="step=1" class="bck">back</a>
        </div>
    </form>
</div>  

<!-- Course Detail Modal-1 -->

<div class="h-modal-widget modal-body" *ngIf="step==3">
    <h1 class="md-heading text-center">
        Course Details
    </h1>
    <div class="md-line"></div>
    <form>
        <div class="mb-4">
            <label class="form-label">Title (Required)</label>
            <input type="text" placeholder="Add title here" class="form-control" />
        </div>
        <div class="mb-4">
            <label class="form-label">Description (Required)</label>
            <textarea rows="4" placeholder="Tell something about this course" class="form-control h-auto"></textarea>
        </div>
        <div class="mb-5">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <label>Thumbnail</label>
                    <div class="upload-area">
                        <div class="text-center">
                            <i><img src="../../../../../assets/images/music-462.png" alt="image"></i>
                            <span class="d-block mt-2">Drop your file here or <strong>Browse</strong></span>
                            <small class="d-block">Max Size file : 20MB</small>
                        </div>
                        <input type="file" class="brwse" />
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <label>Preview</label>
                    <div class="prev_">

                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mb-2">
            <button (click)="step=4">next →</button>
        </div>
        <div class="text-center">
            <a href="javascript:;" (click)="step=2" class="bck">back</a>
        </div>
    </form>
</div>  

<!-- Course Detail Modal-2-->

<div class="h-modal-widget modal-body" *ngIf="step==4">
    <h1 class="md-heading text-center">
        Course Details
    </h1>
    <div class="md-line"></div>
    <form>
        <div class="mb-4">
            <label class="form-label">Title (Required)</label>
            <input type="text" placeholder="Train your body and mind in 5 easy steps" class="form-control" />
        </div>
        <div class="mb-4">
            <label class="form-label">Description (Required)</label>
            <textarea rows="4" placeholder="Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut" class="form-control h-auto"></textarea>
        </div>
        <div class="mb-5">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <label>Thumbnail</label>
                    <div class="upload-area">
                        <div class="text-center">
                            <i><img src="../../../../../assets/images/music-462.png" alt="image"></i>
                            <span class="d-block mt-2">Drop your file here or <strong>Browse</strong></span>
                            <small class="d-block">Max Size file : 20MB</small>
                        </div>
                        <input type="file" class="brwse" />
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <label>Preview</label>
                    <div class="prev_">
                        <img src="../../../../../assets/images/Rectangle-45.png" alt="image" class="h-100 w-100" />
                        <i class="_close">
                            <img src="../../../../../assets/images/close-695.png" alt="image" />
                        </i>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mb-2">
            <button (click)="step=5">next →</button>
        </div>
        <div class="text-center">
            <a href="javascript:;" (click)="step=3" class="bck">back</a>
        </div>
    </form>
</div>  

<!-- Public Course -->
<div class="h-modal-widget modal-body" *ngIf="step==5">
    <h1 class="md-heading text-center">
        Public Course
    </h1>
    <span class="d-block md-sub-h mt-3 text-center">
        Please freview the details below before publishing the course.
    </span>
    <div class="md-line"></div>
    <div class="crs-list row align-items-stretch mb-5">
        <div class="col-12 col-lg-6 pr-0">
            <div class="crs-left d-flex align-items-center w-100">
                <img class="w-100" src="../../../../assets/images/Rectangle-371.png" alt="image" />
                <i class="play-icon">
                    <img src="../../../../../assets/images/Group-play.png" alt="image" />
                </i>
            </div>
        </div>
        <div class="col-12 col-lg-6 pl-0">
            <div class="crs-right">
                <h5 class="mb-4">
                    Train you mind and body in 5 steps
                </h5>
                <span class="d-block mb-4">Price : <strong>Free</strong></span>
                <span class="d-block mb-4">5 lesson | 35 min</span>
                <span class="line-2 mb-4"></span>
                <div>
                    <span class="d-block lb-txt">
                        Course published in:
                    </span>
                    <span class="d-block lb-txt">
                        <strong>Meditation</strong>
                    </span>
                </div>
            </div>
        </div>
        
    </div>
        
        
        
    <div class="text-center mb-2">
        <button (click)="step=6">publish →</button>
    </div>
    <div class="text-center">
        <a href="javascript:;" (click)="step=4" class="bck">back</a>
    </div>
    <div class="mt-4">
        <span class="nt-txt">
            *Note: your Course will be published after an admin will review it! It can take up to 12 hours for a Course to be approved and appear on the website!
        </span>
    </div>
</div>  

<!--  Create a multiple lesson course -->

<!-- <div class="h-modal-widget modal-body">
    <h1 class="md-heading text-center">
        Multiple Lesson Course
    </h1>
    <span class="d-block md-sub-h mt-3 text-center">
        You added 9 out of lessons for this course.
    </span>
    <div class="md-line"></div>
   
    <label>9 of 10 File Uploaded</label>
    <ul class="modal-listing">
        <li class="d-flex justify-content-between">
            <div>
                <span>Second lesson Name Here</span>
            </div>
            <div class="d-flex align-items-center">
                <div class="mr-3">
                    <span>24mb</span>
                </div>
                <div>
                    <i><img src="../../../../../assets/images/Group-close.png" alt="image" /></i>
                </div>
            </div>
        </li>
        <li class="d-flex justify-content-between">
            <div>
                <span>First lesson Name Here</span>
            </div>
            <div class="d-flex align-items-center">
                <div class="mr-3">
                    <span>24mb</span>
                </div>
                <div>
                    <i><img src="../../../../../assets/images/Group-close.png" alt="image" /></i>
                </div>
            </div>
        </li>
        <li class="d-flex justify-content-between">
            <div>
                <span>Third lesson Name Here</span>
            </div>
            <div class="d-flex align-items-center">
                <div class="mr-3">
                    <span>24mb</span>
                </div>
                <div>
                    <i><img src="../../../../../assets/images/Group-close.png" alt="image" /></i>
                </div>
            </div>
        </li>
        <li class="d-flex justify-content-between">
            <div>
                <span>Second lesson Name Here</span>
            </div>
            <div class="d-flex align-items-center">
                <div class="mr-3">
                    <span>24mb</span>
                </div>
                <div>
                    <i><img src="../../../../../assets/images/Group-close.png" alt="image" /></i>
                </div>
            </div>
        </li>
        <li class="d-flex justify-content-between">
            <div>
                <span>First lesson Name Here</span>
            </div>
            <div class="d-flex align-items-center">
                <div class="mr-3">
                    <span>24mb</span>
                </div>
                <div>
                    <i><img src="../../../../../assets/images/Group-close.png" alt="image" /></i>
                </div>
            </div>
        </li>
        <li class="d-flex justify-content-between">
            <div>
                <span>Third lesson Name Here</span>
            </div>
            <div class="d-flex align-items-center">
                <div class="mr-3">
                    <span>24mb</span>
                </div>
                <div>
                    <i><img src="../../../../../assets/images/Group-close.png" alt="image" /></i>
                </div>
            </div>
        </li>
        <li class="d-flex justify-content-between">
            <div>
                <span>Second lesson Name Here</span>
            </div>
            <div class="d-flex align-items-center">
                <div class="mr-3">
                    <span>24mb</span>
                </div>
                <div>
                    <i><img src="../../../../../assets/images/Group-close.png" alt="image" /></i>
                </div>
            </div>
        </li>
        <li class="d-flex justify-content-between">
            <div>
                <span>First lesson Name Here</span>
            </div>
            <div class="d-flex align-items-center">
                <div class="mr-3">
                    <span>24mb</span>
                </div>
                <div>
                    <i><img src="../../../../../assets/images/Group-close.png" alt="image" /></i>
                </div>
            </div>
        </li>
        <li class="d-flex justify-content-between">
            <div>
                <span>Third lesson Name Here</span>
            </div>
            <div class="d-flex align-items-center">
                <div class="mr-3">
                    <span>24mb</span>
                </div>
                <div>
                    <i><img src="../../../../../assets/images/Group-close.png" alt="image" /></i>
                </div>
            </div>
        </li>
    </ul>
    <div class="mt-4 mb-4">
        <div class="upload-lessn">
            <span>+ Upload New Lesson</span>
            <input type="file" class="upload" />
        </div>
    </div>  
        
    <div class="text-center mb-2">
        <button>Next Step →</button>
    </div>
    <div class="text-center">
        <a href="javascript:;" class="bck">Back</a>
    </div>
    
</div> -->