.container {
    width: 1440px;
    height: 1024px;
    background: #FFFFFF;
}
.step-process{
    font-family: 'FFMarkWebProBook';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #074D63;
    // padding-top: 40px;
    // padding-right: 103px;
    // padding-bottom: 103px;
    // padding-left: 180px;
}
.nextstep{
    // margin-top: 40px;
    // margin-right: 103px;
    // margin-bottom: 40px;
    // margin-left: 180px;
    // width: 164px;
    // height: 60px;
    background: #FBD036;
    border-radius: 20px;
    font-family: 'FFMarkWebProBook';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    border: 1px;
    color: #074D63;
    padding: 20px 30px;
}
.img1{

width: 12px;
height: 12px;
left: 0px;
top: 0px;

/* Secondary */



/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 617px 236px;
}
.img2{

width: 12px;
height: 12px;
left: 0px;
top: 0px;

/* Secondary */



/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin-left: -231px;
}
.img3{

width: 12px;
height: 12px;
left: 0px;
top: 0px;

/* Secondary */



/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin-left: 4px;
}
.img4{
    width: 12px;
    height: 12px;
    left: 0px;
    top: 0px;
    
    /* Secondary */
    
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 4px;

}
.img5{
    width: 12px;
    height: 12px;
    left: 0px;
    top: 0px;
    
    /* Secondary */
    
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 4px;

}
.skip{
    width: 34px;
    height: 20px;
    left: 250px;
    top: 882px;

    /* H2 - Bold */

    font-family: 'FFMarkWebProBook';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */


    /* Secondary */

    color: #074D63;
}
.group{
    // margin-left: 165px;
    width: 393px;
    // height: 700px;
    // margin-top: 90px;
}
.slide-btn{
    // margin-top: 1px !important;
    // margin-top: 40px;
    // margin-right: 103px;
    // margin-bottom: 80px;
    // margin-left: 180px;
    padding: 50px 0;
}
.skip-p{
    margin-top: 1px !important;
    margin-top: 40px;
    margin-right: 103px;
    margin-bottom: 103px;
    margin-left: 180px;
    color: #134d63;
    text-decoration: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
}
.img-dot{
    margin-left: 7px !important;
}
// .call-5{
//     padding-bottom: 75px !important;
// }

.basic-info{    
    justify-content: center;
    margin-left: 20px;
    // padding: 10px 50px;
}