.main-general-dashboard
{
    margin-left: 11%;
}
.card{
    background-color: #fafafa !important;
    box-shadow: none !important;
     
}
.head
{
  /*  position: absolute; */
width: 155px;
height: 18px;
left: 180px;
top: 158px;

/* Paragraph - Bold */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */


/* Secondary */

color: #074D63;
margin-left: 3%;
}


.appoinment
{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 40px;

/*position: absolute; */
width: 358px;
height: 332px;
left: 180px;
top: 200px;

background: rgba(255, 244, 227, 0.5);
border-radius: 40px;
}


.your-next-appoinment
{
 /*   position: absolute; */
width: 157px;
height: 18px;
left: 40px;
top: 40px;

/* Paragraph - Regular */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */


/* Background - dark */

color: #6D6D6D;
}

.dp
{
    position: static;
width: 40px;
height: 40px;
left: 0px;
top: 0px;
float: left;

/* background: url(.png); */

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 20px;
}

.img-content
{
    position: absolute;
    top: 30%;
    left: 5%;
    width: 100%;
}
.name
{
   /* position: absolute; */
left: 22.81%;
right: 19.77%;
top: 5%;
bottom: 45%;

/* H2 - Bold */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */


/* Secondary */

color: #074D63;

}

.designation
{
  /*  position: absolute; */
left: 22.81%;
right: 0%;
top: 55%;
bottom: 5%;

/* H3 - Regular */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */


/* Background - dark */

color: #6D6D6D;

}

.talk
{
    position: static;
width: 226px;
height: 30px;
left: 0px;
top: 0px;

/* H1 */

font-family: 'BelyDisplay-Regular';
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 30px;
/* identical to box height, or 125% */


/* Secondary */

color: #074D63;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 6px 0px;
}

.about
{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 10%;
}

.sub-main-head
{
    float: left;
    position: absolute;
}

.sub-main-head1
{
    float: left;
    position: absolute;
    left: 27%;
}

.sub-head
{
    position: static;
left: 0%;
right: 0%;
top: 0%;
bottom: 50%;

/* H2 - Bold */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */


/* Primary */

color: #00BAD5;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 2px 0px;
}

.time
{
    position: static;
width: 47px;
height: 18px;
left: 0px;
top: 22px;

/* Paragraph - Regular */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */


/* Secondary */

color: #074D63;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 2px 0px;
}

.sub-head1
{
    position: static;
left: 0%;
right: 3.12%;
top: 0%;
bottom: 50%;

/* H2 - Bold */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */


/* Primary */

color: #00BAD5;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 2px 0px;
}

.time1
{
    position: static;
width: 64px;
height: 18px;
left: 0px;
top: 22px;

/* Paragraph - Regular */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */


/* Secondary */

color: #074D63;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 2px 0px;
}

.btn-block
{
    display: flex;
    flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            padding: 20px 99px;
                            
                            position: absolute;
                            width: 120px;
                            height: 40px;
                            left: 0px;
                            top: 60px;
                            
                            /* Primary */
                            
                            background: #00BAD5;
                            border-radius: 20px;
}


.btn-text
{
    position: static;
left: 25%;
right: 25%;
top: 27.5%;
bottom: 27.5%;

/* Paragraph - Bold */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */


/* White */

color: #FFFFFF;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}

.submission
{
    position: absolute;
    float: left;
    top: 65%;
    left: 10%;
}

.video-icon
{
    position: absolute;
    width: 10%;
    height: 40px;
    left: 300px;
    top: 295px;


/* Button-Drop */

box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);

background: #FBD036;
}

.chat
{
  /*  position: absolute; */
width: 42px;
height: 18px;
left: 608px;
top: 158px;

/* Paragraph - Bold */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */


/* Secondary */

color: #074D63;

}

.see{
    position: absolute;
width: 101px;
height: 18px;
left: 675px;
    top: 0px;

/* Paragraph - Bold */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */


/* Secondary */

color: #074D63;
}

.see1
{
    position: absolute;
width: 60px;
height: 18px;
left: 292px;
top: 1px;

/* Paragraph - Bold */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */


/* Secondary */

color: #074D63;

}

.chat-list
{
    position: absolute;
    width: 780px;
    height: 80px;
    left: 0px;
    top: 30px;
    background: #FFFFFF;
    box-shadow: 0px 15px 30px rgb(0 0 0 / 5%);
    border-radius: 20px;
}

.sub-chat
{
    position: absolute;
    top: 20%;
    left: 10%;
}

.chat-head
{
    position: static;
left: 0%;
right: 3.12%;
top: 0%;
bottom: 50%;

/* H2 - Bold */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */


/* Background - dark */

color: #6D6D6D;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 2px 0px;
}


.chat-time
{
    position: static;
width: 64px;
height: 18px;
left: 0px;
top: 22px;

/* Paragraph - Regular */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */


/* Background - dark */

color: #6D6D6D;
}

.img-content1
{
    position: absolute;
    width: 33%;
    top: 20%;
    left: 25%;
}

.dp1
{
    position: static;
width: 40px;
height: 40px;
left: 0px;
top: 0px;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 20px;
}

.name1
{
    position: absolute;
    left: 33%;
    /* right: 19.77%; */
    top: 10%;
    bottom: 50%;
    font-family: 'FFMarkWebProBook';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #074D63;
}

.designation1
{
    position: absolute;
    left: 33%;
    right: 0%;
    top: 65%;
    bottom: 10%;
    font-family: 'FFMarkWebProBook';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #6D6D6D;
}


.msg
{
    position: absolute;
    left: 65.74%;
    right: 21.66%;
    top: 20%;
    bottom: 27.5%;
    background: #00BAD5;
    width: 5%;
}

.btn-box
{
    position: absolute;
width: 40px;
height: 40px;
left: 645px;
    top: 16px;

/* Primary */

background: #00BAD5;
border-radius: 10px;
}

.btn-arrow
{
width: 13px;
height: 17px;
left: 616px;
top: 11px;

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 16px;
/* identical to box height */


color: #FFFFFF;
margin-top: -70%;
}

.chat-list1
{
    position: absolute;
width: 780px;
height: 80px;
left: 0px;
top: 150px;

/* White */

background: #FFFFFF;
box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
border-radius: 20px;
}

.sub-chat1
{
    position: absolute;
    top: 20%;
    left: 10%;
}

.chat-head1
{
    position: static;
left: 0%;
right: 3.12%;
top: 0%;
bottom: 50%;

/* H2 - Bold */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */


/* Background - dark */

color: #6D6D6D;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 2px 0px;
}

.chat-time1
{
    position: static;
width: 64px;
height: 18px;
left: 0px;
top: 22px;

/* Paragraph - Regular */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */


/* Background - dark */

color: #6D6D6D;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 2px 0px;
}

.img-content2{
    position: absolute;
    width: 39%;
    top: 20%;
    left: 25%;
}

.dp2
{
    position: static;
width: 40px;
height: 40px;
left: 0px;
top: 0px;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 20px;
}

.name2
{
    position: absolute;
left: 28%;
right: 19.77%;
top: 10%;
bottom: 50%;

/* H2 - Bold */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */


/* Secondary */

color: #074D63;

}

.designation2
{
    position: absolute;
    left: 28%;
    right: 0%;
    top: 65%;
bottom: 10%;

/* H3 - Regular */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */


/* Background - dark */

color: #6D6D6D;
}

.msg1
{
    
    position: absolute;
    left: 65.74%;
    right: 21.66%;
    top: 20%;
    bottom: 27.5%;
    background: #00BAD5;
    width: 5%;

}

.btn-box1
{
    position: absolute;
width: 40px;
height: 40px;
left: 645px;
    top: 16px;

/* Primary */

background: #00BAD5;
border-radius: 10px;
}

.btn-arrow1
{
width: 13px;
height: 17px;
left: 616px;
top: 11px;

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 16px;
/* identical to box height */


color: #FFFFFF;
margin-top: -70%;
}


.chat-list2
{
    position: absolute;
width: 780px;
height: 80px;
left: 0px;
top: 275px;

/* White */

background: #FFFFFF;
box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
border-radius: 20px;
}

.see
{
    
}



/*  section 2  */


.banner
{
    margin-top: 10%;
}


.interest
{
    position: absolute;
width: 61px;
height: 18px;
left: 0px;
top: 0px;

/* Paragraph - Bold */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */


/* Secondary */

color: #074D63;
}

.interest-list
{
    margin-top: 10%;
}

.yoga
{
    position: absolute;
width: 145.62px;
height: 108px;
left: 0px;
top: 42px;

/* background: url("./assets/images/shutterstocked.jfif"); */
border-radius: 20px 0px 0px 20px;
}

.card-yoga
{
 /*   position: absolute; */
width: 360px;
height: 108px;
left: 0px;
top: 0px;

background: rgba(252, 215, 215, 0.2);
border-radius: 20px;
padding-top: 8%;
}


.head-yoga
{
    position: static;
width: 136px;
height: 30px;
left: 31px;
top: 0px;

font-family: 'BelyDisplay-Regular';
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */

text-align: right;

/* Secondary */

color: #074D63;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 200px;
}

.para1
{
    position: static;
width: 167px;
height: 15px;
left: 0px;
top: 30px;

/* Caption -Regular */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */

text-align: right;

/* Secondary */

color: #074D63;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 170px;
}


.yoga-content1
{
    position: absolute;
    margin-top: 10%;
    right: 18%;
}


.yoga1
{
    position: absolute;
width: 145.62px;
height: 108px;
left: 0px;
top: 0px;


border-radius: 20px 0px 0px 20px;
}

.card-yoga1
{
  /*  position: absolute; */
width: 360px;
height: 108px;
left: 0px;
top: 0px;

background: rgba(252, 215, 215, 0.2);
border-radius: 20px;
padding-top: 8%;
}

.head-yoga1
{
    position: static;
width: 106px;
height: 30px;
left: 61px;
top: 0px;

font-family: 'BelyDisplay-Regular';
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */

text-align: right;

/* Secondary */

color: #074D63;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 220px;
}

.para2
{
    position: static;
width: 167px;
height: 15px;
left: 0px;
top: 30px;

/* Caption -Regular */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */

text-align: right;

/* Secondary */

color: #074D63;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 160px;
}

.btn-block1
{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 99px;

position: static;
width: 360px;
height: 60px;
left: 0px;
top: 307px;

/* Primary */

background: #00BAD5;
border-radius: 20px;

/* Inside Auto Layout */

flex: none;
order: 3;
flex-grow: 0;
margin: 180px -8px;
}

.btn-text1
{
    position: static;
left: 29.31%;
right: 29.31%;
top: 33.33%;
bottom: 33.33%;

/* H2 - Bold */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */


/* White */

color: #FFFFFF;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}


.graph-head
{
 /*   position: absolute; */
width: 180px;
height: 18px;
left: 600px;
top: 596px;

/* Paragraph - Bold */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */


/* Secondary */

color: #074D63;
}

.rect1
{
    position: static;
width: 22px;
height: 79px;
left: 0px;
top: 0px;

/* Secondary */

background: #074D63;
opacity: 0.1;
border-radius: 8px;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 6px 0px;
}

.mon
{
    float: left;
}

.mu
{
    position: static;
width: 16px;
height: 15px;
left: 3px;
top: 85px;

/* Caption -Regular */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */


/* Background - dark */

color: #6D6D6D;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 6px 0px;
}

.tue
{
    float: left;
}

.rect2
{
    position: static;
width: 22px;
height: 55px;
left: 0px;
top: 0px;

/* Secondary */

background: #074D63;
opacity: 0.1;
border-radius: 8px;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 29px 20px;
}

.tu
{
    position: static;
    width: 12px;
    height: 15px;
    left: 5px;
    top: 61px;
    font-family: 'FFMarkWebProBook';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    color: #6D6D6D;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: -15px 25px;
}

.wed
{
    float: left;
}

.rect3
{
    position: static;
width: 22px;
height: 79px;
left: 0px;
top: 0px;

/* Secondary */

background: #074D63;
opacity: 0.1;
border-radius: 8px;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 6px 0px;
}

.we
{
    position: static;
width: 17px;
height: 15px;
left: 2.5px;
top: 85px;

/* Caption -Regular */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */


/* Background - dark */

color: #6D6D6D;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;
}

.thu
{
    float: left;
}

.rect4
{
    position: static;
width: 22px;
height: 40px;
left: 0px;
top: 0px;

/* Secondary */

background: #074D63;
opacity: 0.1;
border-radius: 8px;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 45px 20px;
}

.th
{
    position: static;
width: 13px;
height: 15px;
left: 4.5px;
top: 46px;

/* Caption -Regular */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */


/* Background - dark */

color: #6D6D6D;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: -30px 25px;
}

.sat
{
    float: left;
}

.rect5
{
    position: static;
width: 22px;
height: 79px;
left: 0px;
top: 0px;

/* Secondary */

background: #074D63;
opacity: 0.1;
border-radius: 8px;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 6px 0px;
}

.sa
{
    position: static;
width: 14px;
height: 15px;
left: 4px;
top: 85px;

/* Caption -Regular */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */


/* Background - dark */

color: #6D6D6D;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 10px 5px;
}

.sun
{
    float: left;
}

.rect6
{
    position: static;
width: 22px;
height: 70px;
left: 0px;
top: 0px;

/* Secondary */

background: #074D63;
opacity: 0.1;
border-radius: 8px;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 15px 20px;
}

.su
{
    position: static;
width: 13px;
height: 15px;
left: 4.5px;
top: 76px;

/* Caption -Regular */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */


/* Background - dark */

color: #6D6D6D;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 22px;
}

.mon
{
    float: left;
}

.rect7
{
    position: static;
width: 22px;
height: 96px;
left: 0px;
top: 0px;

/* Primary */

background: #00BAD5;
border-radius: 8px;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: -10px 0px;
}

.mo1
{
    position: static;
width: 16px;
height: 15px;
left: 3px;
top: 102px;

/* Caption -Regular */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */


/* Background - dark */

color: #6D6D6D;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 25px 260px;
}

.tue1
{
    float: left;
    position: absolute;
    top: 50;
    left: 49%;
    top: 13%;
}

.rect8
{
    position: static;
width: 22px;
height: 55px;
left: 0px;
top: 0px;

/* Secondary */

background: #074D63;
opacity: 0.1;
border-radius: 8px;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 6px 0px;
}

.tu1
{
    position: static;
width: 12px;
height: 15px;
left: 5px;
top: 61px;

/* Caption -Regular */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */


/* Background - dark */

color: #6D6D6D;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 6px 0px;
}

.wed1
{
    float: left;
    position: absolute;
    top: 9%;
    left: 55%;
}

.rect9
{
    position: static;
width: 22px;
height: 79px;
left: 0px;
top: 0px;

/* Secondary */

background: #074D63;
opacity: 0.1;
border-radius: 8px;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 6px 0px;
}

.we1
{
    position: static;
width: 17px;
height: 15px;
left: 2.5px;
top: 85px;

/* Caption -Regular */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */


/* Background - dark */

color: #6D6D6D;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 6px 0px;
}

.thu1
{
    position: absolute;
    float: left;
    top: 16%;
    left: 61%;
}

.rect10
{
    position: static;
width: 22px;
height: 40px;
left: 0px;
top: 0px;

/* Secondary */

background: #074D63;
opacity: 0.1;
border-radius: 8px;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 6px 0px;
}

.th1
{
    position: static;
width: 13px;
height: 15px;
left: 4.5px;
top: 46px;

/* Caption -Regular */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */


/* Background - dark */

color: #6D6D6D;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 6px 0px;
}

.sat1
{
    float: left;
    position: absolute;
    top: 9%;
    left: 67%;
}

.rect11
{
    position: static;
width: 22px;
height: 79px;
left: 0px;
top: 0px;

/* Secondary */

background: #074D63;
opacity: 0.1;
border-radius: 8px;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 6px 0px;
}

.sa1
{
    position: static;
width: 14px;
height: 15px;
left: 4px;
top: 85px;

/* Caption -Regular */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */


/* Background - dark */

color: #6D6D6D;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 6px 0px;
}

.sun1
{
    position: absolute;
    float: left;
    top: 11%;
    left: 73%;
}

.rect12
{
    position: static;
width: 22px;
height: 70px;
left: 0px;
top: 0px;

/* Secondary */

background: #074D63;
opacity: 0.1;
border-radius: 8px;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 6px 0px;
}

.su1
{
    position: static;
width: 13px;
height: 15px;
left: 4.5px;
top: 76px;

/* Caption -Regular */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */


/* Background - dark */

color: #6D6D6D;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 6px 0px;
}


.emoji-img
{
    position: absolute;
    width: 91px;
    height: 107px;
    left: 85%;
    top: 10%;
    background: #FFCE07;
    border-radius: 20px;
}

.sub-head7{
    position: absolute;
width: 33px;
height: 15px;
left: 90%;
    top: 147px;

/* Caption - Bold */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: bold;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */


color: #074D63;
}

.sub-head8
{
    position: absolute;
width: 89px;
height: 15px;
left: 107%;
    top: 145px;

/* Caption - Bold */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: bold;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */


color: #074D63;

}

.emoji-img1
{
    position: absolute;
    width: 92px;
    height: 107px;
    left: 106%;
    top: 10%;
    background: #FFCE07;
    border-radius: 20px;
}

.last-box
{
    position: absolute;
width: 780px;
height: 184px;
left: 0px;
    top: 200px;

/* Background Light Yellow */

background: #FFF4E3;
border-radius: 40px;
}


.session-head
{
    position: absolute;
width: 93px;
height: 20px;
left: 100px;
    top: 30px;

/* Paragraph - Bold */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
/* or 129% */


/* Secondary */

color: #074D63;
}

.sess
{
    position: static;
width: 98px;
height: 30px;
left: 0px;
top: 0px;

/* H1 */

font-family: 'BelyDisplay-Regular';
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 30px;
/* identical to box height, or 125% */


/* Secondary */

color: #074D63;
margin-top: 8%;
    margin-left: 13%;
}

.sess-list
{
    position: static;
width: 100px;
height: 18px;
left: 0px;
top: 36px;

/* Paragraph - Regular */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */


/* Background - dark */

color: #6D6D6D;
margin-left: 13%;

}

.no1
{
    position: static;
width: 39px;
height: 18px;
left: 38px;
top: 7px;

/* Paragraph - Bold */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */


/* Primary */

color: #00BAD5;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 140px;
}

.session1
{
    float: left;
    position: absolute;
    left: 45%;
    top: 35%;
}

.sess1
{
    position: static;
width: 116px;
height: 30px;
left: 0px;
top: 0px;

/* H1 */

font-family: 'BelyDisplay-Regular';
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 30px;
/* identical to box height, or 125% */


/* Secondary */

color: #074D63;

}

.sess-list1
{
    position: static;
width: 118px;
height: 18px;
left: 0px;
top: 36px;

/* Paragraph - Regular */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */


/* Background - dark */

color: #6D6D6D;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 6px 0px
}

.no2
{
    position: static;
width: 33px;
height: 18px;
left: 38px;
top: 7px;

/* Paragraph - Bold */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */


/* Secondary */

color: #074D63;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 15px 50px;
}


.session2
{
    position: absolute;
    left: 80%;
    top: 35%;
}

.sess2
{
    position: static;
width: 67px;
height: 30px;
left: 0px;
top: 0px;

/* H1 */

font-family: 'BelyDisplay-Regular';
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 30px;
/* identical to box height, or 125% */


/* Secondary */

color: #074D63;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 6px 0px;
}


.sess-list2
{
    position: static;
width: 57px;
height: 18px;
left: 0px;
top: 36px;

/* Paragraph - Regular */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */


/* Background - dark */

color: #6D6D6D;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 6px 0px;
}

.no3
{
    position: static;
width: 39px;
height: 18px;
left: 38px;
top: 7px;

/* Paragraph - Bold */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */


/* Primary */

color: #00BAD5;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 15px 35px;
}

.dot
{
    position: absolute;
    width: 5.53px;
    height: 5.35px;
    left: 75%;
    top: 6%;
    /* background: #074D63; */
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.dot1
{
    position: absolute;
    width: 5.53px;
    height: 5.35px;
    left: 88%;
    top: -7%;
    /* background: #074D63; */
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.graphi
{
    margin-top: 5%;
}

.share
{
    position: absolute;
width: 50px;
height: 18px;
left: 385px;
    top: 0px;

/* Paragraph - Regular */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */


/* Primary */

color: #00BAD5;
}

.codepen
{
    position: absolute;
    left: 70%;
    right: 11.86%;
    top: -1.81%;
    bottom: 0%;
    width: 6%;
/* Primary */

}

.mood
{
    position: absolute;
width: 104px;
height: 18px;
left: 530px;
    top: 0px;

/* Paragraph - Bold */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */


/* Secondary */

color: #074D63;

}

.call-icon
{
    position: absolute;
    left: 57.1%;
    width: 40px;
    right: 0.11%;
    top: 83%;
    bottom: 0%;
    background: #FCD7D7;
    height: 40px;
}

.up-arrow
{
    position: absolute;
width: 32px;
height: 32px;
left: 100px;
    top: 67%;

/* Primary */

/* background: #00BAD5; */
}

.down-arrow
{
    position: absolute;
width: 32px;
height: 32px;
left: 10px;
    top: 60px;

/* Secondary */

/* background: #074D63; */
}

.up-arrow1
{
    position: absolute;
width: 32px;
height: 32px;
left: 0px;
    top: 60%;

}

.text-blue-headings{
font-size: 30px !important;
}

.name2-booking
{
    //position: absolute;
//left: 28%;
//right: 19.77%;
//top: 10%;
//bottom: 50%;

/* H2 - Bold */

font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 0px;
/* identical to box height, or 125% */


/* Secondary */

color: #074D63;

}
.table th, .table td {
    border-top: none !important; 
}

.designation2-booking
{
    font-family: 'FFMarkWebProBook';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #6D6D6D;
}

.modal-backdrop{
background: #074D63;
opacity: 0.1;
}

.image-content-booking {
    left: 10% !important
}

.time-align{
    position: relative;
    margin-left:50% !important;
    margin-top: 22px;
}

.dp-booking
{
    position: static;
width: 40px;
height: 40px;
left: 0px;
top: 0px;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}


.top-fix{
    margin-top: -37px;
    margin-left: 70px;
}

.name-fix {
    line-height: 15px;
    
}
.table{
    background-color: #fff !important;
    border-radius: 20px !important;
    border-collapse: separate !important;
    border-spacing: 6px !important;
}

.chat-list2-booking{
    width: 780px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: none !important;
}
.pick-date{
    padding: 20px 40px;
    color: #074D63;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid;
    background: #FBD036;
}

.pick-btn{
    padding: 20px 40px;
    color: #074D63;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid;
}
.description{
    font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
color: #074D63;
}
.description-content{
    font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
color: #6D6D6D;
}
.date-time{
    font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
color: #074D63;
}
.confirm-title{
    font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
color: #074D63;
}
.confirm-title-content{
    font-family: 'FFMarkWebProBook';
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
color: #00BAD5;

}
textarea{
    border: none !important;
    overflow: auto;
    outline: none !important;
    padding: 20px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none !important; /*remove the resize handle on the bottom right*/
}
.designation3-booking{
    font-family: 'FFMarkWebProBook';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #074D63;
}

.highlight{ 
    outline-style: solid;
    outline-color: #00BAD5; 
}

.right {
    float: right;
    margin-left: 55em;
  }

.success-checkmark:after {
    content: '✔';
    position: relative;
    //left:0; 
    top: 2px;
    width: 20px; 
    height: 20px;
    text-align: center;
    //border: 1px solid #fff;
    background: #00BAD5;
    border-radius: 50%;
    box-shadow: inset 0 1px 3px #FFFFFF
  }

 

  .btnoutline {
    //color: #00BAD5;
    //border-color: #00BAD5;
    //transition: none;
    padding:1em;
    background: transparent;
    color: #00BAD5;
    border-color: #00BAD5;
    border-style: solid;
    font-weight: bold;
  }

.btnoutline:hover {
    padding:1em;
    background:  yellow;
    color: #00BAD5;
    border-color: yellow;
    border-style: solid;
    font-weight: bold;
}

.vertical-center {
    //margin-top: 25px;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  
  }

  .unstyled-button {
    padding: 0;
    border: none;
    background: none;
    color: #6D6D6D;
  }

  .bs-datepicker-container {
     padding: 0px !important; 
  }

  .theme-white .bs-datepicker-head {
    background-color: #FFFFFF;
    color:black;
  }

  .datepick-center {
    //margin-top: 25px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  
    }

    .bs-datepicker-head {
        height: 30px !important;
        padding: 0px !important;
    }

    .bs-datepicker-body {
        min-width: 400px !important;
        height: 75px !important;
        padding: 0px !important;
    }
.slot-disable{
    background: #FFFFFF;
    box-shadow: 0px 10px 80px rgb(0 0 0 / 4%);
    border-radius: 40px;
    border: none !important;
    padding: 10px;
}
    

    .confirmDoctorNameDisabled:disabled {
        background: #fafafa;
        border: 1px solid #074D63;
    }
  
    .app-time {
        border: 1px solid #fff;
        padding: 20px 30px;
        box-shadow: 2px 4px 10px 0px #c7cacce3;
      }
      
      .option-input {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        position: relative;
        top: 5px;
        right: 0;
        bottom: 0;
        left: 40px;
        height: 20px;
        width: 20px;
        transition: all 0.15s ease-out 0s;
        background: #fff;
        border: 1px solid #999;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        margin-right: 0.5rem;
        outline: none;
        position: relative;
        z-index: 1000;
      }
      .option-input:hover {
        background: #e5e7eb;
      }
      .option-input:checked {
        border: 1px solid #fff;
      }
      .option-input:checked::before {
        color: #d9486d;
        height: 40px;
        width: 40px;
        position: absolute;
        content: "✔";
        display: inline-block;
        font-size: 12px;
        left: 4px;
        line-height: 20px;
      }
      .option-input:checked::after {
        -webkit-animation: click-wave 0.65s;
        -moz-animation: click-wave 0.65s;
        animation: click-wave 0.65s;
        background: #40e0d0;
        content: "";
        display: block;
        position: relative;
        z-index: 100;
      }
      
      .option-input.radio {
        border-radius: 50%;
      }
      .option-input.radio::after {
        border-radius: 50%;
      }
      .app-check {
        display: flex;
      }
      .app-border {
        border: 1px solid #ece9e9;
        border-radius: 25px;
        padding: 10px;
        background-color: #FFFFFF;
        padding-left: 40px;
        min-height: 30px;
      }
      
      .option-input.radio:checked + .app-border {
        background: #d9486d;
      }
      .option-input.radio:disabled,
      .option-input.radio:disabled + .app-border {
        cursor: not-allowed;
        opacity: 0.6;
      }
      .app-label {
        position: relative;
        top: 5px;
        margin-right: 10px;
      }

      .highlightTime{
        background: #00BAD5;
        border-color: #00BAD5;
        color: white;
      }

      .textwithleft {
          margin-left:25px;
      }

      .name-color {
        color: #00BAD5;
      }
      
      .highlightButton{
        background: #f4c2c2;
        color: #074D63;;
      }
    
      .flex-box{
        display: flex;
        padding: 10px;
        background: #fff;
        border-radius: 20px;
      }

      
.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 44px;
    background-color: #FAFAFA;
    border-radius: 40px;
  }
  .modal-content{
    background-color: #fafafa;
  }

  .add-card-popup{
    padding: 10px 20px;
  }
  .add-card{
    background: #FFFFFF;
    box-shadow: 0px 15px 30px rgb(0 0 0 / 5%);
    border-radius: 20px;
    padding: 10px;
    i{
        font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: 35px;
		color: #074D63
    }
  }
      
      