<div class="modal-body">
	<div  class="col-lg-12 col-md-12" *ngIf="showConfirmDoctorNamePrevious">
		<div class="col-lg-12 col-md-12 d-flex justify-content-center align-items-center">
			<h5 class="text-blue headings text-blue-headings"> Choose session type
				<p class="designation2-booking">{{sessiontTypeDetails?.total_session_message}}</p>
			</h5>
		</div>
		<div class="col-lg-12 col-md-12">
			<div  *ngIf="sessiontTypeDetails && sessiontTypeDetails.included_packages.length>0">
				<p class="designation2-booking">Included</p>
				<div class="py-2 mb-2 flex-box"
					*ngFor="let included_packages of sessiontTypeDetails.included_packages, let i = index;"
					(click)="clickFunction(included_packages, true)">
					<div class="col-lg-12 col-md-12 d-flex">
						<div class="col-lg-4 col-md-4 d-flex">
							<div class="btn-flex-center">
								<img class="rounded-circle dp-booking" src="assets/images/profile_pic.png">
							</div>
							<div class="d-flex flex-column">
								<h3 class="name2-booking name-fix name-color">
									{{included_packages.practitioner__name}}</h3>
								<span class="designation3-booking"
									tooltip="{{included_packages?.practitioner__expertise?.join()}}">
									{{included_packages.practitioner__expertise.join() | limitTo: 12}}</span>
							</div>
						</div>
						<div class="col-lg-2 col-md-2 d-flex flex-column">
							<p class="designation2-booking">Time</p>
							<h3 class="name2-booking ">{{included_packages.duration_min | bookTime }} </h3>
						</div>
						<div class="col-lg-2 col-md-2 d-flex flex-column">
							<p class="designation2-booking">Price</p>
							<h3 class="name2-booking ">Included</h3>
						</div>
						<div class="col-lg-3 col-md-3 d-flex flex-column">
	
							<p class="designation2-booking">Session Type</p>
							<h3 class="name2-booking textwrap" tooltip="{{included_packages.title}}">
								{{included_packages.title | limitTo: 10}}</h3>
						</div>
						<div class="col-lg-1 col-md-1">
							<svg *ngIf="selection==included_packages" style="float: right;"
								xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#00BAD5"
								class="bi bi-check-circle-fill" viewBox="0 0 16 16">
								<path
									d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
							</svg>
						</div>
					</div>
				</div>
			</div>
	
			<div  *ngIf="sessiontTypeDetails && sessiontTypeDetails.others.length>0">
				<p class="designation2-booking">Others</p>
				<div class="py-2 mb-2 flex-box" *ngFor="let others of sessiontTypeDetails.others, let i = index;"
					(click)="clickFunction(others, false)">
					<div class="col-lg-12 col-md-12 d-flex">
						<div class="col-lg-4 col-md-4 d-flex">
							<div>
								<img class="rounded-circle dp-booking" src="assets/images/profile_pic.png">
							</div>
							<div class="d-flex flex-column">
								<h3 class="name2-booking name-fix name-color">{{others.practitioner__name}}</h3>
								<span class="designation3-booking"
									tooltip="{{others?.practitioner__expertise?.join()}}">{{others.practitioner__expertise.join()
									| limitTo: 12}}</span>
							</div>
						</div>
						<div class="col-lg-2 col-md-2 d-flex flex-column">
							<p class="designation2-booking">Time</p>
							<h3 class="name2-booking ">{{others.duration_min | bookTime }} </h3>
						</div>
						<div class="col-lg-2 col-md-2 d-flex flex-column">
							<p class="designation2-booking">Price</p>
							<h3 class="name2-booking ">&#36;{{others.price}}</h3>
						</div>
						<div class="col-lg-3 col-md-3 d-flex flex-column">
							<p class="designation2-booking">Session Type</p>
							<h3 class="name2-booking " tooltip="{{others.title}}">{{others.title | limitTo: 10}}
							</h3>
						</div>
						<div class="col-lg-1 col-md-1">
							<svg *ngIf="selection==others" style="float: right;" xmlns="http://www.w3.org/2000/svg"
								width="18" height="18" fill="#00BAD5" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
								<path
									d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
							</svg>
						</div>
					</div>
				</div>
			</div>
	
			<div *ngIf="sessiontTypeDetails && sessiontTypeDetails.others.length === 0 && sessiontTypeDetails.included_packages.length === 0"
				class="no-data-available">
				<p>Data Not Available</p>
			</div>
		</div>
	
	
		<div class="col-md-12 d-flex mt-3 justify-content-center align-items-center ">
			<button type="button" class="pick-date br-20 btn-flex-center confirmDoctorNameDisabled"
				[disabled]="confirmDoctorNameDisabled" (click)="confirmDoctorName()">Pick date and hour
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
					viewBox="0 0 16 16">
					<path fill-rule="evenodd"
						d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
				</svg>
			</button>
			
		</div>
	
		<div class="col-md-12 d-flex mt-3 justify-content-center align-items-center">
			<button type="button" class="unstyled-button" (click)="activeModal.close()">Back</button>
		</div>
	</div>

	<!--confirm choose session type-->
	<div class="col-lg-12 col-md-12" *ngIf="showConfirmDoctorName">
		<div class="col-lg-12 col-md-12 d-flex flex-column justify-content-center align-items-center">
			<div class="col-lg-8 col-md-8 d-flex">
				<span class="text-blue headings base-color"> Book a 1:1 Session With A Practitioner </span>
			</div>
			<p class="designation2-booking mb-0">
				Please complete the fields below to schedule your video session. </p>
			</div>
			<hr>
		<div class="mb-2">
			<div class="d-flex justify-content-center align-items-center">
				<div class="col-lg-5 col-md-5 d-flex flex-column">
					<p class="designation2-booking">Video Session with</p>
					<div class="d-flex">
						<img class="rounded-circle dp-booking ml-1" src="assets/images/profile_pic.png">
						<div>
							<h3 class="name2-booking name-fix name-color">{{selection.practitioner__name}}</h3>
							<span class="designation2-booking base-color"
								tooltip="{{selection?.practitioner__expertise?.join()}}">{{selection.practitioner__expertise.join()
								| limitTo: 20}}</span>
						</div>
					</div>
				</div>
		
				<div class="col-lg-5 col-md-5 d-flex flex-column">
					<p class="designation2-booking">Session Type</p>
					<div class="d-flex">
						<div>
							<h3 class="name2-booking textwrap name-fix name-color" tooltip="{{selection.title}}">
								{{selection.title | limitTo: 20}}</h3>
							<span class="designation2-booking base-color">Video call using healplace.com</span>
						</div>
					</div>
					
				</div>
		
				<div class="col-lg-2 col-md-2 d-flex flex-column">
					<p class="designation2-booking">Details</p>
					<div class="d-flex">
						<div>
							<h3 class="name2-booking name-fix name-color"><span *ngIf="!isIncluded">&#36;</span>{{isIncluded
								? 'Free' : selection.price}}</h3>
							<span class="designation2-booking base-color">{{selection.duration_min | bookTime }}</span>
						
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 mb-2">
			<p class="designation2-booking">Add short session title here*</p>
			<textarea class="bg-white br-20 col-md-12 chat-list2-booking" rows="1" cols="50" style="height: 60px;
					border-radius: 20px;" [(ngModel)]="shortSessionTitle" (input)="onSearchChange($event.target.value)"></textarea>
		</div>
		<div class="col-lg-12 col-md-12 mb-2">
			<p class="designation2-booking">Add short description here (optional)</p>
			<textarea class=" bg-white br-20 col-md-12 chat-list2-booking" rows="4" cols="50"
				style="border-radius: 20px;height:100px;" [(ngModel)]="shortDescription"></textarea>
		</div>
		<div class="btn-flex-center mt-2 flex-column">
			<button type="button" class="pick-date br-20 btn-flex-center confirmDoctorNameDisabled"
				[disabled]="confirmDoctorNameSubDisabled" (click)="confirmDoctorNameSub()">Pick date and hour <i class="ml-2 fa fa-arrow-right "></i>
				 
			</button>
			<button type="button" class="my-2 unstyled-button"
				(click)="confirmDoctorNameBack()">Back</button>
		</div>

		<!-- <div class="col-lg-12 col-md-12 d-flex justify-content-center align-items-center ">
			<button type="button" class="pick-date br-20 btn-flex-center confirmDoctorNameDisabled"
				[disabled]="confirmDoctorNameSubDisabled" (click)="confirmDoctorNameSub()">Pick date and hour
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
					class="bi bi-arrow-right" viewBox="0 0 16 16">
					<path fill-rule="evenodd"
						d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
				</svg>
			</button>
		</div>
		<div class="col-lg-12 col-md-12 d-flex mt-3 justify-content-center align-items-center">
			<button type="button" class="unstyled-button"
				(click)="confirmDoctorNameBack()">Back</button>
		</div> -->
	</div>
	<!--Book Time-->
	<div class="card" *ngIf="showBookAndTime">
		<h5 class="text-blue headings text-blue-headings" style="font-size: 20px !important;"> 1. Select a day </h5>
		<bs-datepicker-inline style="text-align: center; width: auto;" [minDate]="minDate" [(bsValue)]="calenderDate"
			[bsConfig]="{containerClass:'theme-blue', showWeekNumbers:false}" (bsValueChange)="onValueChange($event)">
		</bs-datepicker-inline>
		<h5 class="text-blue headings text-blue-headings d-flex" style="font-size: 20px !important;"> 2. Choose time slot
		</h5>
		<div class="row">
			<div class="col-md-4" *ngFor="let timeslot of timeslotPractitioner, let i = index;">
				<button type="button" (click)="timeslotPractitionerSelect(timeslot)"
					[disabled]="timeslot.is_from_appointment" class="btn-rounded vertical-center slot-disable"
					[class.highlightTime]="selectionTimeslot?.start_time__time==timeslot.start_time__time">
					{{getTime(timeslot.start_time__time)}} - {{getTime(timeslot.end_time__time)}}
				</button>
			</div>
			<div *ngIf="!timeslotPractitioner || timeslotPractitioner.length === 0" class="col-lg-12 col-md-12 d-flex justify-content-center align-items-center">
				<p>Data Not Available</p>
			</div>
		</div>
		<div class="btn-flex-center mt-2 flex-column">
			<button type="button" class="pick-date br-20 btn-flex-center confirmDoctorNameDisabled"
				(click)="bookSession()" [disabled]="!selectionTimeslot">Book Session <i class="ml-2 fa fa-arrow-right "></i>
				 
			</button>
			<button type="button" class="my-2 unstyled-button"
				(click)="confirmDoctorNameSubBack()">Back</button>
		</div>
	</div>
	<!--Confirm Booking-->
	<div class="card col-lg-12 col-md-12" *ngIf="showConfirmBooking">
		<h5 class="text-blue headings text-blue-headings"> Confirm booking 
			<p class="designation2-booking base-color mb-0"> Please confirm the details below to schedule your video session. </p>
		</h5>
		<hr>
		<div class="mb-3">
			<div class="d-flex justify-content-center align-items-center">
				<div class="col-lg-5 col-md-5 d-flex flex-column">
					<p class="designation2-booking">Video Session with</p>
					<div class="d-flex">
						<img class="rounded-circle dp-booking ml-1" src="assets/images/profile_pic.png">
						<div>
							<h3 class="name2-booking name-fix name-color">{{selection.practitioner__name}}</h3>
							<span class="designation2-booking base-color"
								tooltip="{{selection?.practitioner__expertise?.join()}}">{{selection.practitioner__expertise.join()
								| limitTo: 20}}</span>
						</div>
					</div>
				</div>

		
				<div class="col-lg-5 col-md-5 d-flex flex-column">
					<p class="designation2-booking">Session Type</p>
					<div class="d-flex">
						<div>
							<h3 class="name2-booking textwrap name-fix name-color" tooltip="{{selection.title}}">
								{{selection.title | limitTo: 20}}</h3>
							<span class="designation2-booking base-color">Video call using healplace.com</span>
						</div>
					</div>
					
				</div>
		
				<div class="col-lg-2 col-md-2 d-flex flex-column">
					<p class="designation2-booking">Details</p>
					<div class="d-flex">
						<div>
							<h3 class="name2-booking name-fix name-color"><span *ngIf="!isIncluded">&#36;</span>{{isIncluded
								? 'Free' : selection.price}}</h3>
							<span class="designation2-booking base-color">{{selection.duration_min | bookTime }}</span>
						
						</div>
					</div>
					
				</div>
			</div>
		</div>

		<!-- <div class="row">
			<div class="col-md-12">
				<table class="table">
					<tr class="">
						<td width="40% " class="textwithleft">
							<p class="designation2-booking textwithleft">Video Session with</p> <img
								class="rounded-circle dp-booking" src="assets/images/profile_pic.png">
							<div class="top-fix">
								<h3 class="name2-booking name-fix name-color">{{selection.practitioner__name}}</h3>
								<span class="designation2-booking" style="margin-top: 5px;"
									tooltip="{{selection?.practitioner__expertise?.join()}}">{{selection.practitioner__expertise.join()
									| limitTo: 20}}</span>
							</div>
						</td>
						<td width="30%">
							<p class="designation2-booking" style="margin-top: 18px;">Session Type</p>
							<h3 class="name2-booking textwrap" style="line-height: 10px;" tooltip="{{selection.title}}">
								{{selection.title | limitTo: 20}}</h3>
							<p class="designation2-booking">Video call using healplace.com</p>
						</td>
						<td width="15%">
							<p class="designation2-booking" style="margin-top: 18px;">Details</p>
							<h3 class="name2-booking" style="line-height: 10px;"><span
									*ngIf="!isIncluded">&#36;</span>{{isIncluded ? 'Free' : selection.price}}</h3>
							<h3 class="designation2-booking ">{{selection.duration_min | bookTime }} </h3>
						</td>
					</tr>
				</table>
			</div>
		</div> -->
		 
		<div class="row">
			<div class="col-md-12">
				<p class="designation2-booking textwithleft base-color">Title</p>
				<h3 class="name2-booking name-fix textwithleft name-color">{{shortSessionTitle}}</h3>
			</div>
		</div>
		<br />
		<div class="row" *ngIf="shortDescription && shortDescription.length != 0">
			<div class="col-md-12">
				<p class="designation2-booking textwithleft base-color">Description</p>
				<p class="designation2-booking textwithleft">{{shortDescription}}</p>
			</div>
		</div>
		<br />
		<div class="row mb-3">
			<div class="col-md-4 col-lg-4">
				<p class="designation2-booking textwithleft">Date</p>
				<h3 class="name2-booking name-fix textwithleft base-color">{{bsValue | date }}</h3>
			</div>
			<div class="col-md-6 col-lg-6">
				<p class="designation2-booking textwithleft">Time</p>
				<h3 class="name2-booking name-fix textwithleft base-color">{{getTime(selectionTimeslot.start_time__time)}} -
					{{getTime(selectionTimeslot.end_time__time)}}</h3>
			</div>
		</div>
		<hr>

		<div class="btn-flex-center mt-2 flex-column">
			<button type="button" class="pick-date br-20 btn-flex-center confirmDoctorNameDisabled"
				(click)="confirmBookingStep1()">Confirm Booking <i class="ml-2 fa fa-arrow-right "></i>
				 
			</button>
			<button type="button" class="my-2 unstyled-button"
				(click)="confirmBookingStep1Back()">Back</button>
		</div>
		<!-- <div class="col-lg-12 col-md-12 my-3 d-flex justify-content-center align-items-center">
			<button type="button" class="pick-date br-20 btn-flex-center confirmDoctorNameDisabled"
				(click)="confirmBookingStep1()">Confirm Booking
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
					class="bi bi-arrow-right" viewBox="0 0 16 16">
					<path fill-rule="evenodd"
						d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
				</svg>
			</button>
		</div>
		<div class="col-lg-12 col-md-12 d-flex justify-content-center align-items-center">
			<button type="button" class="unstyled-button"
				(click)="confirmBookingStep1Back()">Back</button>
		</div> -->

	</div>
	<!--Confirm Booking with card or no card-->
	<div class="card m-0" *ngIf="showConfirmBookingStep2">
		<h5 class="text-blue headings text-blue-headings"> Confirm booking <p class="mb-0 designation2-booking"> Please
				fill
				out the feilds below for scheduling video session </p>
		</h5>
		<hr>
		<div class="row">
			<div class="col-md-12">
				<table class="table">
					<tr class="">
						<td width="40% " class="textwithleft">
							<p class="designation2-booking textwithleft">Video Session with</p> <img
								class="rounded-circle dp-booking" src="assets/images/profile_pic.png">
							<div class="top-fix">
								<h3 class="name2-booking name-fix name-color">{{selection.practitioner__name}}</h3>
								<span class="designation2-booking" style="margin-top: 5px;"
									tooltip="{{selection?.practitioner__expertise?.join()}}">{{selection.practitioner__expertise.join()
									| limitTo: 20}}</span>
							</div>
						</td>
						<td width="30%">
							<p class="designation2-booking" style="margin-top: 18px;">Session Type</p>
							<h3 class="name2-booking textwrap" tooltip="{{selection.title}}" style="line-height: 10px;">
								{{selection.title | limitTo: 20}}</h3>
						</td>
						<td width="15%">
							<p class="designation2-booking" style="margin-top: 18px;">Details</p>
							<h3 class="name2-booking" style="line-height: 10px;"><span
									*ngIf="!isIncluded">&#36;</span>{{isIncluded ? 'Free' : selection.price}}</h3>
							<h3 class="designation2-booking ">{{selection.duration_min | bookTime }} </h3>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-md-12">
				<p class="designation2-booking textwithleft">Title</p>
				<h3 class="name2-booking name-fix textwithleft name-color">{{shortSessionTitle}}</h3>
			</div>
		</div>
		<br />
		<div class="row" *ngIf="shortDescription && shortDescription.length != 0">
			<div class="col-md-12">
				<p class="description textwithleft">Description</p>
				<p class="description-content textwithleft">{{shortDescription}}</p>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-md-4 col-lg-4">
				<p class="description-content textwithleft">Date</p>
				<h3 class="date-time name-fix textwithleft">{{bsValue | date }}</h3>
			</div>
			<div class="col-md-6 col-lg-6">
				<p class="description-content textwithleft">Time</p>
				<h3 class="date-time name-fix textwithleft">{{getTime(selectionTimeslot.start_time__time)}} -
					{{getTime(selectionTimeslot.end_time__time)}}</h3>
			</div>
		</div>
		<br />
		<div *ngIf="!isIncluded" class="row textwithleft">
			<p class="designation2-booking textwithleft">Default Payment Method</p>
			<br />
		</div>
		<div class="row" *ngIf="!isIncluded">
			<div class="column chat-list2-booking" *ngIf="paymentCardDetails?.cc_expiry"
				style="width: 260px !important; margin-left:25px;border-radius: 20px;">
				<table class="" width="250px" (click)="paymentMethodPayCard()" style="cursor: pointer;">
					<tr>
						<td> <img class="rounded-circle dp-booking" style="width: 60px; height: 60px;"
								src="assets/images/visa.png"> </td>
						<td style="margin-top:5px">
							<p class="designation2-booking" style="margin-top: 20px;margin-bottom: 0px;">Visa ending
								in {{paymentCardDetails?.cc_number.slice(11)}}</p>
							<p class="designation2-booking" style="margin-top: 5px;">Expires in
								{{paymentCardDetails?.cc_expiry}}</p>
						</td>
						<td *ngIf="showSelectionPayCard"> &nbsp;&nbsp;
							<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#00BAD5"
								class="bi bi-check-circle-fill" viewBox="0 0 16 16">
								<path
									d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
							</svg>
						</td>
					</tr>
				</table>
			</div>
			<div class="add-card btn-flex-center flex-column textwithleft">
				<div class="btn-flex-center flex-column">
					<a (click)="addNewPayment()" class="p-2">
						<i class="fa fa-plus"></i>
					</a>
					<h3 class="name2-booking ">Add new card</h3>
				</div>
			</div>
			<!-- <div class="column" style="width: 100px !important;"></div>
			<div class="column chat-list2-booking" style="width: 260px !important;border-radius: 20px;">
				<table class="" width="250px; top:25px">
					<tr>
						<td style="padding-top: 10px;" class="text-center">
							<a (click)="addNewPayment()">
								<i style="font-style: normal;
							font-weight: bold;
							font-size: 32px;
							line-height: 35px;
							color: #074D63;" class="fa fa-plus"></i>
								<h3 style="padding-top: 15px;" class="name2-booking ">Add new card</h3>
							</a>
						</td>
					</tr>
				</table>
			</div> -->
		</div>
		<div class="row clearfix" style="padding:25px"></div>
		

		<div class="btn-flex-center mt-2 flex-column">
			<button type="button" class="pick-date br-20 confirmDoctorNameDisabled"
				[disabled]="confirmBookingStep2Disabled" (click)="confirmBookingStep2()">Confirm Booking <i class="ml-2 fa fa-arrow-right "></i>
				 
			</button>
			<button type="button" class="my-2 unstyled-button"
				(click)="confirmBookingStep1Back()">Back</button>
		</div>
	</div>
	<!--Confirm Booking with card or no card-->
	<div class="card m-0" *ngIf="showAddNewPayment">
		<app-add-new-customer-payment (saveCardDetails)="saveCardDetails($event)"
			(goBack)="goBackToConfirmScreen($event)" [isShowBackButton]="isShowBackButton" [buttonText]="buttonText">
		</app-add-new-customer-payment>
	</div>
	<!--Confirmed Booking and paid-->
	<div class="col-lg-12 col-md-12 d-flex justify-content-center align-items-center flex-column" *ngIf="showTotalConfirmBooked">
		<div class="col-lg-8 col-md-8 d-flex flex-column align-items-center m-0" >
			<span class="text-blue headings base-color m-0"> We’ve Received Your 
				<br> Booking Request </span>
		</div>
		<div class="col-lg-6 col-md-6 d-flex  align-items-center m-0" style="justify-content: center;"><span
				class="designation2-booking base-color"> Once the practitioner confirms the booking, you will receive a
				confirmation email.</span> </div><br><br>
		<p class="text-blue headings text-blue-headings" style="font-size: 20px !important;"> Session details and status
		</p>
		<div class="col-lg-12 col-md-12 d-flex bg-white br-20 p-3">
			<div class="col-lg-12 col-md-12 d-flex justify-content-center align-items-center">
				<div class="col-lg-4 col-md-4 d-flex">
					<div class="btn-flex-center">
						<img src="assets/images/profile_pic.png" class="rounded-circle dp-booking">
					</div>
					<div class="d-flex flex-column">
						<h3 class="name2-booking name-fix name-color">
							{{selection.practitioner__name}}</h3>
						<span class="designation3-booking"
							tooltip="{{selection?.practitioner__expertise?.join()}}">
							{{selection.practitioner__expertise.join() | limitTo: 20}}</span>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 d-flex flex-column">
					<h3 class="name2-booking name-fix name-color">
						<span *ngIf="!isIncluded">&#36;</span>{{isIncluded
						? 'Free' : 'Time'}}</h3>
					<span class="designation3-booking">{{selection.duration_min | bookTime }} </span>
				</div>
				<div class="col-lg-4 col-md-4 d-flex flex-column">
					<h3 class="name2-booking name-fix name-color">
						{{bsValue | date }}</h3>
					<span class="designation3-booking">{{getTime(selectionTimeslot.start_time__time)}} </span>
				</div>
				<div class="col-lg-2 col-md-2 btn-flex-center br-20 highlightButton">					
					<p style="margin-bottom: 0px; padding: 10px 15px;">Pending</p>
				</div>
				
			</div>
		</div><br>
		<div class="row">
			<div class="col-md-12">
				<p class="designation2-booking text-center">Please check your email within the next 24 hours for
					confirmation of <br> your booking.</p>
			</div><br>
			<div class="row clearfix" style="padding: 25px;"></div>
			<div class="row col-md-12 text-center"><button type="button"
					class="unstyled-button vertical-center" (click)="activeModal.close()">Close</button></div>
		</div>
	</div>

</div>