<div class=" container1 cp">
    <div class="d-flex justify-content-between classes-popover" style="position: absolute;width: 100%;">
        <p class="live-class__top">in {{expertise}}</p>
        <div class="fev-box__menu middle menu-position" *ngIf="showRemove" [popover]="removeTemplate"
            [outsideClick]="true" placement="left">
            <i class="fa fa-ellipsis-h fev-box__menu__list"></i>
        </div>

        <div class="fev-box__right-coin-free">
            <span class="fev-box__right-coin--text"> Free </span>
        </div>

        <!-- <div class="fev-box__right-coin">
            <span class="fev-box__right-coin--text"> 2 healcoins </span>
        </div> -->
    </div>
    <div class="live-class__imgdiv">
        <img class="img-fluid"
            [src]="image ? generalService.getPractiotionerImageBaseUrl(image) : 'assets/images/Rectangle 82.png'"
            [alt]="firstname">
    </div>
    <button class="live-class__white-btn">{{classdate | date: 'MMM d'}} - {{starttime| date: 'shortTime'}} |
        {{getTime(duration)}}</button>
    <div>
    </div>
</div>
<div class="cp" [routerLink]="['/class/detail/',id]">
    <p class="live-class__description">
        {{title}}
    </p>
    <p class="live-class__info">
        {{firstname}} {{lastname}}
    </p>
</div>

<ng-template #removeTemplate>
    <div class="action-popover">
        <span class="restore-archive" (click)="removeFromFavorite(id)">Remove <i class="fas fa-times"></i></span>
    </div>
</ng-template>