 .menu-position{
    position: absolute;
    width: 40%;
 }

 .popover {
   margin-right: 0.5rem;
   transform: translate3d(160px, 8px, 0px)!important;
}


.bs-popover-left {
   margin-right: 0.5rem;
   right: 0!important;
   left: auto!important;
   top: 10px!important;
}

.right-heals-coin{
width: 109px;
height: 44px;

background: #00BAD5;
border-radius: 0px 20px;
}