.block-customer-modal{
    // width: 848px;
    // height: 558px;
    background: #FAFAFA;
    border-radius: 40px;
    padding:20px;
    text-align: center;
    .w-60{
        width: 60px;
    }
    .wp-100{
        width: 100%;
    }
    .file-upload {
        display: none;
    }
    .thanks{
        font-family: 'BelyDisplay-Regular';
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 45px;
        text-align: center;
        color: #074D63;
    }
    .review{
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #074D63;
    }
    .back-to-btn{
        padding: 20px 40px;
        background: #00BAD5;
        border-radius: 20px;
        color: #FFFFFF;
        border: none;
    }
    textarea{
        border: none !important;
        overflow: auto;
        outline: none !important;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width: 630px;
        height: 143px;
        background: #FFFFFF;
        border-radius: 40px;
        resize: none !important;
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #074D63;
        padding: 20px;
    }
    p{
        margin-bottom: 0px;
    }
    .cancel-btn{
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #074D63;

    }
    .btnactive{
        background: #FBD036 !important;
        color: #074D63 !important;
        border: none !important;
    }
    .br-10{
        border-radius: 10px;
    }
    .add-details-btn{
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #074D63;
        border: 1px solid #074D63;
        padding: 10px 20px;
        outline: none !important;
    }

    .unstyled-button {
        padding: 0;
        border: none;
        background: none;
        color: #6D6D6D;
      }

    .btn:focus{
        outline: none !important;
    }
    .btn{
        outline: none !important;
    }
    .h-sub-div{
        border-radius: 40px;
        background: #074D63 !important;
        padding: 20px;
        font-family: 'healspace font';
        height: 80px;
        width: 260px;
    p{
        // padding-top: 20px;
        color: #fff !important;
    }
}
    .sub-div{
        border-radius: 40px;
        background: #FFFFFF ;
        padding: 20px;
        font-family: 'healspace font';
        height: 80px;
        width: 260px;
    p{
        // padding-top: 20px;
        color: #074D63;
    }
}
    .title{
        font-family: 'Healspace font';
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 45px;
        text-align: center;
        color: #074D63;
        padding:20px;
    }
    .content{
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #074D63;

    }
    .name{
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #074D63;
    }
    .sub-content{
        font-family: 'Healspace font';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #074D63;
    }
    .role{
        font-family: 'FFMarkWebProBook';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: #6D6D6D;
    }
}