<div *ngIf="currentStep === 'one'"
    class="block-customer-modal d-flex justify-content-center align-items-center flex-column">

    <div class="d-flex justify-content-center align-items-center base-color mb-3">1/2
    </div>

    <div class="w-60 d-flex justify-content-center align-items-center">
        <img class="wp-100" src="../../../../../assets/images/customer/switch-practitioner2.png" />
    </div>
    <p class="title" style="padding-top: 20px;">
        Need To Make A Change?
    </p>

    <p class="content">Tell us a little bit more so we can help.</p>

    <div class="row col-md-12 col-lg-12 mt-5">
        <div class="col-md-6 col-lg-6  d-flex justify-content-center align-items-center">
            <div class="sub-div" [ngClass]="{'h-sub-div' : option === 'first'}">
                <a (click)="optionSelected('first')">
                    <!-- <i *ngIf="option === 'first'" style="float: right;margin-top: 10px;margin-right: 10px;" class="fa fa-check-circle"></i> -->
                    <p class="base-color ">This practitioner wasn’t <br />
                        a good match for me.</p>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-lg-6  d-flex justify-content-center align-items-center">
            <div class="sub-div" [ngClass]="{'h-sub-div' : option === 'second'}">
                <a (click)="optionSelected('second')">
                    <!-- <i *ngIf="option === 'second'" style="float: right;margin-right: 20px;margin-top: 10px;" class="fa fa-check-circle"></i> -->
                    <p class="base-color">I need a <br />
                        different service.
                    </p>
                </a>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="d-flex justify-content-center align-items-center flex-column">
        <button (click)="addDetails()" class="br-10 add-details-btn" [disabled]="!option"
            [class.btnactive]="option === 'first' || option === 'second'">Switch practitioner →</button><br>
        <button (click)="closeModal()" class="unstyled-button">Cancel</button>
    </div>
</div>
<div *ngIf="currentStep === 'two'" class="block-customer-modal d-flex justify-content-center align-items-center flex-column">
    <div class="d-flex justify-content-center align-items-center base-color mb-3">2/2
    </div>
    <div class="w-60 d-flex justify-content-center align-items-center">
        <img class="wp-100" src="../../../../../assets/images/customer/switch-practitioner2.png" />
    </div>

    <p style="padding: 20px;" class="title">
        Confirm You’d Like To <br />
        Switch Practitioners.
    </p>
    <p class="content">
        Tell us a little bit more about why you’re switching.
    </p>
    
    <div class="py-4">
        <textarea rows="4" cols="50" placeholder="Type your message" [(ngModel)]="shortDescription"
            (input)="onShortDescription($event.target.value)"></textarea>
    </div>
    <div class="d-flex justify-content-center align-items-center flex-column">
        <button (click)="switchPractitioner()" class="br-20 add-details-btn" [disabled]="!isEnableReportBtn"
            [class.btnactive]="isEnableReportBtn === true">Confirm Switching →</button><br>
        <button (click)="closeModal()" class="unstyled-button">Cancel</button>
    </div>
</div>
<div *ngIf="currentStep === 'three'" class="block-customer-modal d-flex justify-content-center align-items-center flex-column">
    <div class="w-60">
        <img class="wp-100" src="../../../../../assets/images/customer/switch-practitioner-stop.png" />
    </div>
    <p class="title">
        Oops! You can no longer <br />
        switch to another practitioner
    </p>
    
    <p class="review">If you are having trouble finding a match, please contact our team for more support.</p>
     
    <div class="d-flex justify-content-center align-items-center flex-column">
        <button (click)="contactUs()" class="br-10 back-to-btn">Contact Us →</button><br>
        <button (click)="closeModal()" class="unstyled-button">Cancel</button>
    </div>
</div>