.header-top-section-bg{
    padding-bottom     : 100px;
    background-image   : url(../../../assets/images/bg/login-bg.svg);
    background-position: center;
    background-size    : cover;
    background-repeat  : no-repeat;
}
.sign-up-input {
    background   : #FFFFFF;
    box-shadow   : 0px 40px 50px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    font-family  : 'FFMarkWebProBook';
    font-style   : normal;
    font-weight  : normal;
    font-size    : 16px;
    line-height  : 20px;
    color        : #6D6D6D;
    display        : block;
    width          : 100%;
    height         : 60px;
    padding        : 8px 20px;
    background-clip: padding-box;
    border         : 1px solid #f4f3f3;
    transition     : border-color 0.15s ease-in-out,
}

.login {
    &__heading {
        font-family: 'healspace font';
        font-style : normal;
        font-weight: normal;
        font-size  : 40px;
        line-height: 48px;
        text-align: center;
        margin: 60px 0px 10px;
        color : #074D63;
    }

    &__md {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 20px;
        line-height: 32px;
        text-align: center;
        color : #074D63;
        margin: 0px 0px 40px;
        a{
            text-decoration: underline;
        }
    }

    &__planet {
        position: absolute;
        width   : 458.68px;
        height  : 458.68px;
        left    : -41px;
        top     : 142.46px;
        background: linear-gradient(180deg, #00BAD5 0%, rgba(245, 138, 37, 0) 100%, #7061A3 100%);
        filter    : blur(100px);
        transform : rotate(-120.5deg);
    }

    &__eclipse {
        position: absolute;
        width   : 500.86px;
        height  : 500.86px;
        left    : 90px;
        top     : 280px;
        background: linear-gradient(180deg, #FBD036 0%, rgba(255, 197, 111, 0.46) 100%);
        filter    : blur(200px);
        transform : rotate(-120.5deg);
    }

    &__blue-dot {
        position     : absolute;
        width        : 21px;
        height       : 21px;
        right        : 4%;
        top          : 100px;
        background   : #00BAD5;
        transform    : matrix(-1, 0, 0, 1, 0, 0);
        border-radius: 50%;
    }

    &__forgot {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 16px;
        line-height: 18px;
        text-decoration-line: underline;
        color: #6D6D6D;
        opacity: 0.8;
    }

    &__other {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 16px;
        line-height: 20px;
        color: #000000;
        flex     : none;
        order    : 0;
        flex-grow: 0;
        margin   : 0px 32px;
    }

    &__social {
        width : 48px;
        height: 48px;
        left  : 0px;
        top   : 0px;
        background: #FFFFFF;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5px;
    }
}