<!-- <div class="login__planet"></div>
<div class="login__eclipse"></div> -->
<div class="login__blue-dot"></div>
<div class="header-top-section-bg">
    <div class="container">
        <app-header></app-header>
        <app-login-view></app-login-view>
    </div>
</div>

<app-footer></app-footer>