<div class="v1-chat-list" *ngIf="userType=='Customer'">
    <div class="sub-chat res-width ">
        <h5 class="v1-chat-list__chat-head">2 March</h5>
        <div class="v1-chat-list__chat-time">10:30 am</div>
    </div>
    <div class="img-content d-flex res-width">
        <img class="rounded-circle dp" src="assets/images/ronald.png">
        <div>
            <h3 class="v1-chat-list__name1">Arlene McCoy</h3>
            <div class="v1-chat-list__designation">Health Coach - in Nutrition</div>
        </div>
    </div>
    <div class="res-width">
        <h3 class="v1-chat-list__name1">How to deal with stress at work</h3>
        <span class="v1-chat-list__designation">Session title</span>
    </div>
    <div>
        <div class="v1-chat-list__icon-div">
            <img class="v1-chat-list__grey-icon" src="../../../../assets/images/customer/camera-gray.png" />
        </div>
    </div>

    <button type="button" class="v1-chat-list__completed-btn">
        <img src="../../../../assets/images/grey_dot.png" />
        <span class="pl-3">Completed</span>
    </button>

</div>

<div class="v1-chat-list" *ngIf="userType=='Practitioner'">
    <div class="sub-chat res-width ">
        <h5 class="v1-chat-list__chat-head-blue">2 March</h5>
        <div class="v1-chat-list__chat-time">10:30 am</div>
    </div>
    <div class="v1-chat-list__des-small res-width truncate-overflow-2">
        <p style="    width: 200px;" class="mb-0">Live Class title extended on two rows maximum!</p>
    </div>
    <div class="sub-chat res-width ">
        <h5 class="v1-chat-list__chat-head-blue">No fee</h5>
        <div class="v1-chat-list__chat-time">Unlimited Atendees </div>
    </div>

    <button class="v1-chat-list__edit" *ngIf="cardType=='UpcomingLiveClass'">
        Edit
    </button>
    <button class="v1-chat-list__preview" *ngIf="cardType=='UpcomingLiveClass'">
        Preview
    </button>

    <button type="button" class="v1-chat-list__completed-btn" *ngIf="cardType=='CompletedLiveClass'">
        <img src="../../../../assets/images/grey_dot.png" />
        <span class="pl-3">Completed</span>
    </button>

</div>
<!-- 
<div class="col-lg-12 py-4 text-center">
    <button class="v1-chat-list__load-more m-auto">
        Load More →
    </button>
</div>  -->