.content-wrapper {
    margin-left: 100px;
    background : #ffffff;

    @media all and (min-width:320px) and (max-width: 641px) {
        margin-left: 0;
    }
}

.v1-main-dashboard {
    // margin-left: 7%;
    // margin-top : 20px;
    // padding: 37px 0px 70px 37px !important;
    background: #ffffff;

    @media all and (min-width:768px) and (max-width: 1199px) {
        // margin-left: 16%;
    }

}

.v1-live {
    &__title {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 14px;
        line-height: 18px;
        color      : #074D63;
        margin-left: 3%;
    }

    &__heading {
        font-family: "healspace font";
        font-style : normal;
        font-weight: normal;
        font-size  : 24px;
        line-height: 30px;
        color      : #074D63;

        @media all and (min-width:320px) and (max-width: 1199px) {
            margin-bottom: 8px;
            font-size    : 16px;
            line-height  : 22px;
        }

        &__userimg {
            width        : 40px;
            height       : 40px;
            border-radius: 50%;
        }
    }

    &__name {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 16px;
        line-height: 20px;
        color      : #074D63;

        @media all and (min-width:768px) and (max-width: 1199px) {
            font-size: 14px;
        }


    }

    &__designation {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 12px;
        line-height: 16px;
        color      : #6D6D6D;

        @media all and (min-width:768px) and (max-width: 1199px) {
            margin-bottom: 8px;
        }

    }

    &__month-info {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 16px;
        line-height: 20px;
        color      : #00BAD5;
    }

    &__time {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 14px;
        line-height: 18px;
        color      : #074D63;
    }
}



.appoinment-box {
    display       : flex;
    flex-direction: row;
    align-items   : flex-start;
    padding       : 40px;
    width         : 360px;
    height        : 374px;
    margin        : 0 auto;
    background    : rgba(255, 244, 227, 0.5);
    border-radius : 40px;

    @media all and (min-width:320px) and (max-width: 1199px) {
        width: 100%;
    }
}


.v1-live {
    &__info {
        display        : flex;
        flex-direction : row;
        justify-content: center;
        align-items    : center;
        background     : #00bad5;
        border-radius  : 20px;
        font-family    : "FFMarkWebProBook";
        border         : none;
        width          : 174px;
        height         : 40px;
        font-style     : normal;
        font-weight    : bold;
        font-size      : 14px;
        line-height    : 18px;
        color          : #FFFFFF;

    }

    &:hover {
        border    : none;
        box-shadow: none;
    }

    &__default {
        display        : flex;
        flex-direction : row;
        justify-content: center;
        align-items    : center;
        background     : #fff;
        border-radius  : 20px;
        font-family    : "FFMarkWebProBook";
        border         : none;

        border: 1px solid #074D63;
        width : 174px;
        height: 55px;

        font-style : normal;
        font-weight: bold;
        font-size  : 14px;
        line-height: 18px;
        /* identical to box height, or 129% */


        /* White */

        color: #074D63;
    }
}

.res-width {

    @media all and (min-width:320px) and (max-width: 767px) {
        width        : 100%;
        margin-bottom: 8px;
    }
}

.img-content {
    img {
        margin-right: 20px;
    }
}

.dp {
    position: static;
    width   : 40px;
    height  : 40px;
    left    : 0px;
    top     : 0px;
    float   : left;

    flex     : none;
    order    : 0;
    flex-grow: 0;
}

.sub-chat {
    @media all and (min-width:320px) and (max-width: 767px) {
        display: flex;
    }
}

.v1-chat-list {
    width          : 100%;
    height         : 80px;
    background     : #FFFFFF;
    box-shadow     : 0px 15px 30px rgb(0 0 0 / 5%);
    border-radius  : 20px;
    padding        : 20px 60px;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    margin-bottom  : 45px;

    @media all and (min-width:320px) and (max-width: 767px) {
        width    : 100%;
        flex-wrap: wrap;
        height   : auto;
        padding  : 20px 10px;
    }

    &__chat-head {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 16px;
        line-height: 20px;
        color      : #6D6D6D;
        margin     : 2px 0px;

        @media all and (min-width:320px) and (max-width: 767px) {
            width: 50%;
        }

    }

    &__chat-head-blue {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 16px;
        line-height: 20px;
        color      : #00BAD5;
        margin     : 2px 0px;

        @media all and (min-width:320px) and (max-width: 767px) {
            width: 50%;
        }

    }

    &__des-small {

        font-family: "healspace font";
        font-style : normal;
        font-weight: normal;
        font-size  : 16px;
        line-height: 20px;
        /* or 125% */


        /* Secondary */

        color: #074D63;
    }

    &__chat-time {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 14px;
        line-height: 18px;
        color      : #6D6D6D;

        @media all and (min-width:320px) and (max-width: 767px) {
            width: 50%;
        }
    }


    &__name1 {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 16px;
        line-height: 20px;
        color      : #074D63;
    }

    &__designation1 {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 12px;
        line-height: 16px;
        color      : #6D6D6D;
    }

    &__icon-div {
        width        : 40px;
        height       : 40px;
        border-radius: 20px;
        text-align   : center;
        background   : #FAFAFA;
    }

    &__grey-icon {
        width      : 20px;
        padding-top: 12px;
    }

    &__completed-btn {
        background   : #FAFAFA !important;
        color        : #6D6D6D !important;
        border-radius: 20px;


        display        : flex;
        flex-direction : row;
        justify-content: center;
        align-items    : center;
        padding        : 11px 30px;
        border-radius  : 20px;
        max-width      : 120px;
        font-family    : "FFMarkWebProBook";
        font-style     : normal;
        font-weight    : bold;
        font-size      : 14px;
        line-height    : 18px;
        border         : none;
    }

    &__edit {
        background   : #82a5b0 !important;
        color        : #fff !important;
        border-radius: 20px;


        display        : flex;
        flex-direction : row;
        justify-content: center;
        align-items    : center;
        padding        : 11px 30px;
        border-radius  : 20px;
        max-width      : 120px;
        font-family    : "FFMarkWebProBook";
        font-style     : normal;
        font-weight    : bold;
        font-size      : 14px;
        line-height    : 18px;
        border         : none;
    }

    &__preview {
        background   : #00bad5 !important;
        color        : #fff !important;
        border-radius: 20px;


        display        : flex;
        flex-direction : row;
        justify-content: center;
        align-items    : center;
        padding        : 11px 30px;
        border-radius  : 20px;
        max-width      : 120px;
        font-family    : "FFMarkWebProBook";
        font-style     : normal;
        font-weight    : bold;
        font-size      : 14px;
        line-height    : 18px;
        border         : none;
    }

    &__load-more {
        width : 170px;
        height: 60px;
        background   : #FAFAFA;
        border: 1px solid #FAFAFA;
        border-radius: 20px;
        font-family: "FFMarkWebProBook";
        font-style : normal;
        font-weight: bold;
        font-size  : 14px;
        line-height: 18px;
        color: #074D63;
    }
}



.truncate-overflow-2 {
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}






.no-data-msg {
    height         : 500px;
    display        : flex;
    justify-content: center;
    align-items    : center;

    p {
        font-family: "healspace font";
        font-style : normal;
        font-weight: normal;
        font-size  : 40px;
        line-height: 45px;
        text-align : center;
        color      : #074D63;

        @media all and (min-width:320px) and (max-width: 767px) {
            font-size  : 38px;
            line-height: 40px;
        }
    }
}