/* You can add global styles to this file, and also import other style files */
@import '~@ctrl/ngx-emoji-mart/picker';

@font-face {
  font-family: 'BelyDisplay-Regular';
  src: url('./assets/fonts/BelyDisplay-Regular/font.woff2') format('woff2'), url('./assets/fonts/BelyDisplay-Regular/font.woff') format('woff');
}

@font-face {
  font-family: 'FFMarkWebProBook';
  src: url('./assets/fonts/FFMarkWebProBook/font.woff2') format('woff2'), url('./assets/fonts/FFMarkWebProBook/font.woff') format('woff');
}



.progress-bar{
  flex-direction: unset !important;
  justify-content: flex-end !important;
  background: linear-gradient(90deg, #00BAD5 24.43%, #FAD038 105.42%) !important;
  min-width: 4% !important;
}
.progress{
  height: 20px !important;
}

.bs-datepicker-head button.next:after {
  content: ' \2192';
  color: #074D63 !important;
  font-family: 'FFMarkWebProBook' !important;
  font-style: normal;
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 20px;
  background: #FFFFFF !important;
}

.bs-datepicker-head button.next{
  color: #074D63 !important;
  span{
    display: none !important;
  }
}
.bs-datepicker-head button.previous:after {
  content: ' \2190';
  color: #074D63 !important;
  font-family: 'FFMarkWebProBook' !important;
  font-style: normal;
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 20px;
}
.bs-datepicker-head button.previous{
  color: #074D63 !important;
  span{
    display: none !important;
  }
}
.bs-datepicker-head button[disabled], .bs-datepicker-head button[disabled]:hover, .bs-datepicker-head button[disabled]:active{
  color: #074D63 !important;
  background: #FFFFFF !important;
}
.theme-blue .bs-datepicker-head{
  color: #074D63 !important;
  background: #FFFFFF !important;
}
.bs-datepicker{
  box-shadow: none !important;
  border-radius: 40px !important;
  background: #FFFFFF !important;
  color: #074D63 !important;
}

.bs-datepicker-head button {
  background: #FFFFFF !important;
  color: #074D63 !important;
  font-family: 'FFMarkWebProBook' !important;
  font-style: normal;
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 20px;
}
.bs-datepicker-body{
  border: none !important;
  background: #FFFFFF !important;
}

.bs-datepicker .bs-media-container{
  display: block !important;
  width: 480px !important;
}

.modal-holder{
    animation-name: example;
    animation-duration: 0.3s;
    background: #074D63 !important;
    opacity: 0.95 !important;

    .modal-dialog{
      position: relative !important;
      width: auto;
      margin: 0.5rem;
      pointer-events: none;
    }
  }
  .login-modal-holder.modal.show{
    background: none !important;
    opacity: none !important;
  }
  .login-modal-holder{
    animation-name: example;
    animation-duration: 0.3s;
     
    .modal-dialog{
      position: relative !important;
      margin: 0.5rem;
      pointer-events: none;
      max-height: 450px;
      width: 100%;
      max-width: 550px;
    }
  }

  .add-new-session {
    .modal-dialog {
    max-height: 450px !important;
    .add-session-container{
      padding: 30px 30px !important;
      .session-item{
        padding: 20px !important;
      }

      .form-group {
        margin-bottom: 10px;
      }
    }
    }
  }

  .confirm-session{
    .modal-dialog {
      max-height: 450px !important;
      .add-session-container{
        padding: 30px 30px !important;
        .session-item{
          padding: 20px !important;
        }
      }
    }
  }

  .book-session{
    .modal-dialog{
      position: relative !important;
      left: auto !important;
      top: auto !important;
      transform: none !important;
      margin: 1.5rem auto !important
    }
  }

  // .add-session-modal{
  //   .modal-session{
  //     animation-name: example;
  //     animation-duration: 0.3s;
  //     background: #074D63 !important;
  //     opacity: 0.95 !important;
      
  //     .modal-dialog{
  //       position: relative !important;
  //       width: auto;
  //       margin: 0.5rem;
  //       pointer-events: none;

  //     }
  //   }
  // }

  @keyframes example {
    0%   {transform: scale(0.5)}
    100% {transform: scale(1)}
  }

  .carousel-item {
    transition: opacity 0.7s ease !important;
    position: absolute !important;
    display: block !important;
    opacity: 0;
  }

  .modal-remove-chat{
    background: #074D63 !important;
    opacity: 0.95 !important;
}

.no-data-available{
  text-align: center;
  padding: 50px;
  p{
    font-family: 'BelyDisplayW-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #074D63;
  }
}

.modal-send-msg{
  background: #074D63 !important;
  opacity: 0.98 !important;
  top: 0px !important;
  left: 0px !important;
}

.contact-admin{
  .modal-dialog{
    max-height: 450px;
  }
}
.search-practitioner{
  background: #074D63 !important;
    opacity: 0.9 !important;
  .modal-lg{
    width: 100% !important;
    max-width: 85% !important;
  }
}
.modal-backdrop.show {
  opacity: 0.1 !important;
}
a{
  cursor: pointer !important;
}

a.disabled {
  color: gray !important;
  cursor: not-allowed !important;
}

img.disabled {
  cursor: not-allowed !important;
}

.cancel-subscription.modal-sm{
  background: none !important;
  opacity: none !important;
}
.modal-practitioner.modal.show{
  background: none !important;
  opacity: none !important;
}
.modal-practitioner{
// .modal-dialog{
//   float: right !important;
//   top: 110px !important;
//   right: 60px;
// }

.modal-dialog{
    top: 10% !important;
    float: right !important;
    right: 5% !important;
    transform: none !important;
    left: 55% !important;
}


.modal-content{
  width: 364px !important;
  height: auto !important;
  margin: 50px;
  border-radius: 20px;
}
}

.modal-customer-status{
  // .modal-dialog{
  //   top: 220px !important;
  //   left: 130px !important;
  // }
  .modal-content{
    width: 212px;
    background-color: #FFF;
    height: auto;
    box-shadow: 5px 15px 20px 0px rgb(0 0 0 / 15%);
    border-radius: 20px;
  }
  }

  .practitioner-modal{
    background: #074D63 !important;
    opacity: 0.95 !important;
  }

.modal-copy-to-all{
  background: #074D63 !important;
  opacity: 0.9 !important;
  
  }

  .modal-dialog{
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%,-50%) !important;
    margin: 0 !important;
  }

  .carousel-item.active {
    position: relative !important;
    opacity: 1;
  }

::ng-deep .body {
  background-color: #fff !important;
}

body {
  background: #fff !important;
}

.arrange{
  vertical-align: middle;
  text-align: center;
}

.headings{
  font-family: "Healspace font" !important;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
}

.btn-outline-warning {
  color: #000;
  font-size: 13px;
  border: 2px solid #006400;
  background-color: #ffffff;
}

.btn-warning {
  background-color: #ffa700;
  border: 2px solid #ffa700;
  color: #000;
  font-size: 12px;
  text-align: center;
}

.btn-success {
  background-color: #6CB244;
  border: 1px solid #6CB244;
  color: #000;
  font-size: 12px;
  text-align: center;
}

.btn-info{
  background-color: #00BAD5;
}

// .text-info{
//   font-color: #00BAD5;
// }

.customer-booking-modal{
  animation-name: example;
  animation-duration: 0.3s;
  background: #074D63 !important;
  opacity: 0.95 !important;
  .add-card{
    padding: 10px 20px !important;
  }
  .add-new-payment 
  {
    button span.card-num-parts {
      font-size: 11px !important;
    }

    .card-num-parts {
      font-size: 11px !important;
      /* width: 100% !important; */
      padding: 0 !important;
  }
  }
p.sub-title {
  font-size: 9px !important;
  line-height: 12px !important;
}

.add-new-payment 
  .modal-body{
    padding: 10px 50px !important;
  }
  .modal-content{
    background-color: #fafafa !important;
  }
}

bg-light {
  background-color: #F4F4F4 !important;
}

.bg-warning{
  background-color: #FBD036 !important;
  border: 1px solid #FBD036;
}

.btn-primary{
  background-color: #FBD036;
  border:2px solid #FBD036;
  color: #000;
}

.bg-success{
  background-color: #6CB244 !important;
  border: 1px solid #6CB244;
}


btn-outline-primary{
  background-color: #fff;
  border-color: #006400;
  color: #000;
}

.card-shadow {
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.12);
}

.th-align {
  text-align: center;
}

.book-a-session {
  background-color: #FBD036;
  border: 2px solid #FBD036;
  box-shadow: 5px 15px 20px 0px rgba(0, 0, 0, 0.15);
  height: 75px;
  width: 410px;
  left: 430px;
  top: 3805px;
  border-radius: 40px;
}

.container-fluid, .container-xl, .container-lg, .container-md, .container-sm {
  padding-right: 0px;
  padding-left: 0px;
}



.search-box .search-icon {
  font-size: 16px;
  position: absolute;
  left: 13px;
  top: 0;
  line-height: 59px;
}

.card {
  border-radius: 40px;
}



.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #00B2D3;
  background-color: #fff;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.12);
}


.h1-lable {
  font-family: 'FFMarkWebProBook';
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: center;
}

.new-text {
  font-family: 'FFMarkWebProBook';
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}

.col-lg-4-new{
  padding-left: 30px;
  padding-top: 30px;
}

.view-more {
  width: 87px;
  height: 22px;
  left: 909px;
  top: 4711px;
  font-family: 'FFMarkWebProBook';
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  color: #00B2D3;
}

.view-more-button {
  height: 82px;
  width: 246px;
  left: 837px;
  top: 4680px;
  border: 2px solid #00B2D3;
  border-radius: 40px;
}

.result {
  width: 366px;
  height: 30px;
  left: 776px;
  top: 4800px;
  font-family: 'FFMarkWebProBook';
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}

.life-coaching {
  font-family: 'FFMarkWebProBook';
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}

.text-input-design{

  height: calc(3.5em + 0.94rem + 2px);
  font-weight: 500;
  background-color: #EBF3FA;
  border: 2px solid #D4D3D3;
  font-size: 0.9825rem;
}

.select-custom-design{
  height:calc(3.5em + 0.94rem + 2px);
  background: #EBF3FA;
  font-size: 0.9825rem;
  border: 2px solid #D4D3D3;
}

.col-lg-2-new{
  padding-left: 15px;
  padding-top: 15px;
}

.card-shadow{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.popover .arrow {
  display: none !important;
}
.popover-section{
  .popover{
    max-width: 500px;
    width: 364px;
background: #FFFFFF;
border-radius: 20px;
  }
}
.arror::after{
  display: none !important;
}
@font-face {
  font-family: "healspace font";
  src: url("/assets/fonts/font.woff") format('woff'),url("/assets/fonts/font.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}

.panel-heading{
  font-size: 14px;
  font-weight: bold;
}

.custompautocomplete .p-autocomplete-dd .p-autocomplete-input, .p-autocomplete-dd .p-autocomplete-multiple-container{
  border-radius: 40px 0px 0px 40px;
  height: calc(3.5em + 0.94rem + 2px);
  background: #f4f4f4 !important;
  border: 2px solid #f4f4f4 !important;
  padding-left: 30px !important;
}

.custompautocomplete .p-autocomplete .p-autocomplete-dropdown {
  background: #f4f4f4 !important;
  border-top-right-radius: 40px;
  border: 1px solid #f4f4f4;
  border-bottom-right-radius: 40px;
}

.accordion .card-header {
  background-color: #fff !important;
}

.btn:focus, .btn.focus {
  outline: 0;
   box-shadow: 0 0 0 0.15rem;
}

.rating .p-rating .p-rating-icon.pi-star {
  color: #FBD036;
}
.custom-cd { 
  margin-right: 90px !important;
  font-size: unset !important;
  background-color: #f4f4f4 !important;
  border: 1px solid #f4f4f4 !important;
}
.ngx-dropdown-container .ngx-dropdown-list-container {
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 999999999;
  width: 100%;
  background: #fff;
  position: absolute;
  box-shadow: 5px 5px 5px 0 rgb(0 0 0 / 21%);
  overflow-y: auto;
  height: 250px;
}
.ngx-dropdown-container .ngx-dropdown-button {
  font-weight: 500 !important;
  width: 100%;
  min-height: 30px;
  padding: 5px 10px;
  background-color: #f4f4f4 !important;
  border: none !important;
  color: #7b7f93 !important;
  margin-top: 0px !important;
}

.add-practitioner{
  .ngx-dropdown-container .ngx-dropdown-button {
    font-weight: 500 !important;
    background-color: #e4e4e4 !important;
    border: none !important;
    color: #6d6d6d !important;
    margin-top: 0px !important;
  }
}

.session-container {
  .carousel-inner {
    .carousel-item {
      display: flex !important;
    }
  }
}


// .ngx-dropdown-container[_ngcontent-vwq-c129] .ngx-dropdown-button[_ngcontent-vwq-c129] {
//   width: 100%;
//   min-height: 30px;
//   padding: 5px 10px;
//   background-color: #fff;
//   margin: -11px !important;
//   font-weight: 500 !important;
//   color: #7b7f93;
//   margin-top: 0px !important;
// }

.emoji-mart-scroll {
  border-bottom: 0;
  margin-bottom: 6px;
}

.emoji-mart-scroll + .emoji-mart-bar {
  display: none;
}

.practitioner-popover{
  .notes{
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      text-align: right;
      text-decoration-line: underline !important;
      color: #6D6D6D;
  }
  .profile-pic {
      width: 40px;
      height: 40px;
      border-radius: 50%;
  }
  hr{
      margin: 0px 25px;
  }
  .row{
      background-color: none;
  }
  .p-30{
      padding: 30px;
  }
  .p-20{
      padding: 20px;
  }
  p{
      margin-bottom: 0px;
  }
  .pl-10{
      padding-left: 10px;
  }
  .pr-10{
      padding-right: 10px;
  }
  .title{
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      color: #074D63;
  }
  .content{
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: #6D6D6D;
  }
  .sub-title{
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      padding-left: 15px;
      color: #6D6D6D;
  }
  .sub-content{
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      color: #6D6D6D;
  }
}

.flex-1{
  flex: 1;
}

.flex-3{
  flex:3;
}

.mt-20{
  margin-top: 20px;
}

.popover-border{
  border: 1px solid;
  border-radius: 10px;
}

.chat-right-box{
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.flex-center{
  align-items: center;
}

.br-20{
  border-radius: 20px;
}

.btn-flex-center{
  display: flex;
  justify-content :center;
  align-items: center;
}

.bg-white{
  background-color: #FFF;
}

.bg-grey{
  background-color: #fafafa;
}

.bg-shadow{
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
}
.w-12{
  width: 12px;
}

.h-12{
  height: 12px;
}
.w-60{
  width: 60px;
}

.wp-50{
  width: 50px;
}

.w-26{
  width: 26px !important; 
}

.w-40{
  width: 40px;
}
.wp-50{
  width: 50px;
}

.wp-100{
  width: 100%;
}

.modal.show {
  background: #074d63F2 !important;
  opacity: 1 !important;
}

.base-font{
  font-family: 'Healspace font' !important;
}


.card-desc-div{
  padding: 0 20px 30px 20px;
  background: rgba(252, 215, 215, 0.2);
  border-radius: 0 20px 20px 0;
  height: 108px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* flex: 1; */
  width: 60%;
}
.card-img-div{
  border-radius: 20px 0px 0px 20px;
  width: 40%;
  height: 108px;
  overflow: hidden;
  display: flex;
  // width: 30%;
  // height: 108px;
  // border-radius: 20px 0 0 20px;
  // overflow: hidden;
}

.interest-text{
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 0;
  text-align: right;
  font-family: healspace font;
  color: #074D63;
}

.description-text{
  font-size: 10px;
    line-height: 15px;
    margin-bottom: 0;
    text-align: right;
    color: #074D63;
}

.br-10{
  border-radius: 10px;
}
.unstyled-button {
  padding: 0;
  border: none;
  background: none;
  color: #6D6D6D;
}

.cursor-pointer{
  cursor: pointer;
}

.base-color{
  color:#074D63 !important;
}

.title-color{
  color:#6D6D6D !important
}

.f-12{
  font-size:12px;
}
.f-16{
  font-size: 16px;
}
.h-more-width{
  width: 20px;
}

.br-40{
  border-radius: 40px !important;
}

.font-mark-web{
  font-style: 'FFMarkWebProBook';
}

.field-size{
  height: 60px !important;
  width: 100% !important;
}

@media (min-width: 576px) {
  .add-session-modal .modal-dialog {
      max-width: 874px !important;
  }
}
@media screen and (max-width: 641px) and (min-width: 320px) {
  .sidebar{
    display: none !important;
  }
  .left-section{
    padding-left: 0px !important;
    width: 100% !important;
  }
  .sidebar-mobile{
    display: block !important;
  }
  .auth-sidebar{
    position: fixed !important;
    right: 0;
    left: 0;
    z-index: 99;
    bottom: 0;
    height: 60px;
    background-color: #FAFAFA;
    box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
  }
  #page-topbar{
    position: fixed !important;
  }
  main{
    padding-top: 120px;
  }
  .sidebar-option{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    display: block;
    background: #074D63;
  }
  .header-mobile{
    display: flex !important;
    .dropdown-menu.show{
      max-width: 240px !important;
    }
  }
  #nav-header{
    display: none !important;
  }
}
@import '~ngx-bootstrap/datepicker/bs-datepicker.css';