<app-auth-navbar></app-auth-navbar>
<div class="auth-sidebar">
    <app-auth-sidebar></app-auth-sidebar>
</div>
<div class="container">
  <div class="row" style="margin-top:50px">
    <div class="col-12">
      <div class="option2" style="padding: 10px;">
        <div class="card" style="padding: 1rem;">
          <ng-container *ngFor="let list of faqList;let i=index;">
            <div class="row">
              <div class="col-xs-10 col-sm-10 col-md-10 mt-4" style="margin-left: 6rem;padding: 10px;">
                <h2 class="ptitle" style="font-size: 1rem;">{{i+1}}. {{list?.question}}</h2>
                <i class="fas fa-arrow-down" data-toggle="collapse" [attr.data-target]="'#collapse'+i" role="button" aria-expanded="true"
                  (click)="collapseIcon($event)" style="float: right;margin-top: -25px;margin-right: 4.5rem;">
                </i>
                <p [attr.id]="'collapse'+i" class="collapse" style="width: 85%;font-size: 1rem;">
                  {{list?.answer}}
                </p>
              </div>
            </div>
            <hr style="margin-left: 85px;margin-right: 4.5rem;">
          </ng-container>
        </div>
      </div>
    </div>
</div>
</div>