<div class="container">
    <div class="btn-flex-center sub-container">
        <div class="col-md-12 col-lg-12">
            <h1 class="h1title">Choose payment method</h1>
        </div>
    </div>

    <div class="col-md-12 d-flex add-new-payment">
        <div class="col-lg-4 col-md-4 btn-flex-center">
            <div class="payment-card">
                <img style="width: 42px;
                padding-top: 49px;" src="../../../../assets/images/customer/card.png" />
                <span class="title">Credit Card</span>
            </div>
        </div>
        <!-- <div class="col-lg-4 col-md-4">
            <div class="payment-card">
                <img style="padding-top: 49px;
                width: 30px;" src="../../../../assets/images/customer/paypal.png" />
                <span class="title">PayPal</span>
            </div>
        </div> -->
        <!-- <div class="col-lg-4 col-md-4">
            <div class="payment-card">
                <span class="plus-symbol">+</span>
                <span class="title">Add Other?</span>
            </div>
        </div> -->
    </div>
    <div class="btn-flex-center add-new-payment">
      <form  [formGroup]="paymentForm" (ngSubmit)="updatePaymentDetails(paymentForm)" *ngIf="cardDeatils">
                <div class="row mt-4">
                    <div class="col-lg-6 col-md-6">
                        <p class="sub-title">Full Name</p>
                        <input formControlName="fullName" class="card-full-name field-size" type="text" />
                        <p style="color: red;margin-bottom: 0px;font-size: 12px;"
                            *ngIf="paymentForm.controls.fullName.touched && paymentForm.controls.fullName.hasError('required')">
                            Field Required</p>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <p class="sub-title">Cardholder’s Name</p>
                        <input formControlName="cardHolderName" class="card-full-name field-size" type="text" />
                        <p style="color: red;margin-bottom: 0px;font-size: 12px;"
                            *ngIf="paymentForm.controls.cardHolderName.touched && paymentForm.controls.cardHolderName.hasError('required')">
                            Field Required</p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-6 col-md-6">
                        <p class="sub-title">Billing Address</p>
                        <div>
                            <input formControlName="billingAddr" type="text" class="billing-addr field-size" />
                        </div>
                        <p style="color: red;margin-bottom: 0px;font-size: 12px;"
                            *ngIf="paymentForm.controls.billingAddr.touched && paymentForm.controls.billingAddr.hasError('required')">
                            Field Required</p>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <p class="sub-title">Card Number</p>
                        <div class="col-lg-12 col-md-12 card-number d-flex justify-content-between align-items-center field-size" [ngClass]=" isCardNumberFocused ? 'num-active': ''">
                            <div class="col-lg-10 col-md-10 d-flex justify-content-around align-items-center">
                            <input formControlName="cardNumPart1" #input1 maxlength="4" class="card-num-parts" [ngClass]=" isCardNumberFocused ? 'num-part-active': ''" (input)="onInputEntry($event, 2)" type="text" placeholder="0000"
                                (focus)="cardNumberFocused()"  (focusout)="cardNumberFocuseOut()" />
                                <span>-</span>
                            <input formControlName="cardNumPart2" maxlength="4" type="text" (input)="onInputEntry($event, 3)" placeholder="0000"
                                [ngClass]=" isCardNumberFocused ?  'num-part-active': ''" (focus)="cardNumberFocused()"
                                (focusout)="cardNumberFocuseOut()"  #input2 class="card-num-parts" />
                                <span>-</span>
                            <input formControlName="cardNumPart3" #input3 maxlength="4" type="text" placeholder="0000"
                                [ngClass]=" isCardNumberFocused ? 'num-part-active': ''" (input)="onInputEntry($event, 4)" (focus)="cardNumberFocused()"
                                (focusout)="cardNumberFocuseOut()"  class="card-num-parts" />
                                <span>-</span>
                            <input formControlName="cardNumPart4" #input4 maxlength="4" type="text" placeholder="0000"
                                [ngClass]=" isCardNumberFocused ? 'num-part-active': ''" (focus)="cardNumberFocused()" (focusout)="cardNumberFocuseOut()" class="card-num-parts" />
                            </div>
                            <img class ="w-26" src="../../../../assets/images/customer/card-grey.png" />
                        </div>
                        <p style="color: red;margin-bottom: 0px;font-size: 12px;"
                            *ngIf="paymentForm.controls.cardNumPart1.touched || paymentForm.controls.cardNumPart2.touched || paymentForm.controls.cardNumPart3.touched || paymentForm.controls.cardNumPart4.touched">
                            <!-- <span>Please enter valid card number</span> -->
                            <span
                                *ngIf="paymentForm.controls.cardNumPart1.errors || paymentForm.controls.cardNumPart2.errors || paymentForm.controls.cardNumPart3.errors || paymentForm.controls.cardNumPart4.errors">Please enter valid card number</span>
                             <!--<span
                                *ngIf="paymentForm.controls.cardNumPart1.hasError('pattern') || paymentForm.controls.cardNumPart2.hasError('pattern') || paymentForm.controls.cardNumPart3.hasError('pattern') || paymentForm.controls.cardNumPart4.hasError('pattern')">Please
                                enter numbers</span>
                            <span
                                *ngIf="paymentForm.controls.cardNumPart1.hasError('minlength') || paymentForm.controls.cardNumPart2.hasError('minlength') || paymentForm.controls.cardNumPart3.hasError('minlength') || paymentForm.controls.cardNumPart4.hasError('minlength')">Each
                                part enter 4 digit</span>
                            <span
                                *ngIf="paymentForm.controls.cardNumPart1.hasError('maxlength') || paymentForm.controls.cardNumPart2.hasError('maxlength') || paymentForm.controls.cardNumPart3.hasError('maxlength') || paymentForm.controls.cardNumPart4.hasError('maxlength')">Each
                                part enter 4 digit</span> -->
                        </p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-6 col-md-6">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <p class="sub-title">City</p>
                                <input formControlName="city" class="city field-size" type="text" style="width: 100% !important;">
                                <p style="color: red;margin-bottom: 0px;font-size: 12px;"
                                    *ngIf="paymentForm.controls.city.touched && paymentForm.controls.city.hasError('required')">
                                    Field Required</p>
                            </div>
                            <div class="col-lg-6 col-md-6 float-left">
                                <p class="sub-title">Zip Code</p>
                                <input formControlName="zipCode" class="city field-size" (keypress)="numberOnly($event)" type="text" style="width: 100% !important;">
                                <p style="color: red;margin-bottom: 0px;font-size: 12px;"
                                    *ngIf="paymentForm.controls.zipCode.touched && paymentForm.controls.zipCode.hasError('required')">
                                    Field Required</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <p class="sub-title">CVV Number</p>
                                <input formControlName="cvvNumber" min="3" minlength="3" max="3" maxlength="3" (keypress)="numberOnly($event)" class="city field-size" type="text" >
                                <p style="color: red;margin-bottom: 0px;font-size: 12px;"
                                    *ngIf="paymentForm.controls.cvvNumber.touched && paymentForm.controls.cvvNumber.hasError('required')">
                                    Field Required</p>
                            </div>
                             
                            <div class="col-lg-4 col-md-4">
                                <p class="sub-title">Exp. Month</p>
                                <div class="btn-group ccv-num field-size" dropdown>
                                    <button id="button-alignment dropdown-select-font" dropdownToggle type="button" class="btn dropdown-toggle"
                                        aria-controls="dropdown-alignment">
                                       <span class="card-num-parts">{{selectedMonth}} </span> <img src="../../../../assets/images/customer/down_caret.png" />
                                    </button>
                                    <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu" role="menu"
                                        aria-labelledby="button-alignment">
                                        <ng-container *ngFor="let m of month">
                                            <li role="menuitem" style="text-align: center;"><a class="dropdown-item"
                                            (click)="selectMonth(m);validateExpiry()">{{m}}</a></li>
                                        </ng-container>
                                    </ul>
                                </div>
                                <p style="color: red;margin-bottom: 0px;font-size: 12px;"
                                    *ngIf="selectedMonth === 'Month' && formSubmitted === true">
                                    Field Required</p>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <p class="sub-title">Exp. Year</p>
                                <div class="btn-group ccv-num field-size" dropdown>
                                    <button id="button-alignment-year" dropdownToggle type="button" class="btn dropdown-toggle"
                                        aria-controls="dropdown-dropup">
                                        <span class="card-num-parts">{{selectedYear}}</span>
                                        <img src="../../../../assets/images/customer/down_caret.png" />
                                    </button>
                                    <ul id="dropdown-dropup" *dropdownMenu class="dropdown-menu" role="menu"
                                        aria-labelledby="button-alignment-year">
                                        <li role="menuitem" style="text-align: center;" disabled><a class="dropdown-item">Select</a></li>
                                        <!-- <ng-container *ngFor="let y of year">
                                            <li role="menuitem" style="text-align: center;"><a class="dropdown-item"
                                                    (click)="selectedYear=y;validateExpiry()">{{y}}</a></li>
                                        </ng-container> -->
                                    </ul>
                                </div>
                                <p style="color: red;margin-bottom: 0px;font-size: 12px;"
                                    *ngIf="selectedYear === 'Year' && formSubmitted === true">
                                    Field Required</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix" style="padding:25px"></div>
                <div class=" text-center">
                    <button type="submit" class="pick-date btn-rounded vertical-center mt-4">{{buttonText}}
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                        </svg> -->
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </div>
                <div *ngIf="isShowBackButton" class=" text-center">
                    <button type="button" class="back-btn vertical-center" (click)="onGoBackBtnClick()">Back</button>
                </div>
                <div class="row clearfix" style="padding:25px"></div>
            </form>
    </div>
    
</div>