<app-auth-navbar></app-auth-navbar>
<div class="auth-sidebar">
    <app-auth-sidebar></app-auth-sidebar>
</div>

<div class="add-practitioner container bg-color">
    <div class=" row-align m-auto text-center">
        <h1 class="h1-align"> Add new practitioner into the platform?
        </h1>
    </div>
    <form class="form-horizontal" [formGroup]="AddPractitionerForm">
        <div class="row padtop50" id="add-form">
            <div class="col-md-3 marginleft70">
                <div class="form-group">
                    <label class="pl-2">First Name*</label>
                    <div class="card-palign">
                        <input type="text" class="form-control" formControlName="fname" required>
                    </div>
                    <div *ngIf="AddPractitionerForm.controls['fname'].invalid && 
                        AddPractitionerForm.controls['fname'].touched" class="con-val">
                        <div *ngIf="AddPractitionerForm.controls['fname'].errors.required">
                            First Name is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 marginleft70">
                <div class="form-group">
                    <label class="pl-2">Last Name*</label>
                    <div class="card-palign">
                        <input type="text" class="form-control" formControlName="lname" required>
                    </div>
                    <div *ngIf="AddPractitionerForm.controls['lname'].invalid && 
                        AddPractitionerForm.controls['lname'].touched" class="con-val">
                        <div *ngIf="AddPractitionerForm.controls['lname'].errors.required">
                            Last Name is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 marginleft70">
                <div class="form-group">
                    <label class="pl-2">Email*</label>
                    <div class="card-palign">
                        <input type="text" class="form-control" required formControlName="email">
                    </div>
                    <div *ngIf="AddPractitionerForm.controls['email'].invalid && 
                        AddPractitionerForm.controls['email'].touched" class="con-val">
                        <div *ngIf="AddPractitionerForm.controls['email'].errors.required">
                            Email is required.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 marginleft70">
                <div class="form-group">
                    <label class="pl-2">Country*</label>
                    <div class="card-palign">
                        <ngx-select-dropdown class="form-control select-custom-design" tabindex="0" [multiple]="false"
                            [config]="countryConfig" [options]="countryData" formControlName="country" name="country"
                            required (change)="countryChanged($event.value)">
                        </ngx-select-dropdown>
                    </div>
                    <div *ngIf="AddPractitionerForm.controls['country'].invalid && 
                        AddPractitionerForm.controls['country'].touched" class="con-val">
                        <div *ngIf="AddPractitionerForm.controls['country'].errors.required">
                            Country is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 marginleft70">
                <div class="form-group">
                    <label class="pl-2">State*</label>
                    <div class="card-palign">
                        <ngx-select-dropdown class="form-control select-custom-design" tabindex="0" [multiple]="false"
                            [config]="stateConfig" [options]="stateData" formControlName="state" name="state" required
                            (change)="stateChanged($event.value)">
                        </ngx-select-dropdown>
                    </div>
                    <div *ngIf="AddPractitionerForm.controls['state'].invalid && 
                        AddPractitionerForm.controls['state'].touched" class="con-val">
                        <div *ngIf="AddPractitionerForm.controls['state'].errors.required">
                            State is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 marginleft70">
                <label class="pl-2">City*</label>
                <div class="card-palign">
                    <ngx-select-dropdown class="form-control select-custom-design" tabindex="0" [multiple]="false"
                        [config]="cityConfig" [options]="cityData" formControlName="city" name="city"
                        required (change)="cityChanged($event.value)" style="width:100%;">
                    </ngx-select-dropdown>
                </div>
                <div *ngIf="AddPractitionerForm.controls['city'].invalid && 
                    AddPractitionerForm.controls['city'].touched" class="con-val">
                    <div *ngIf="AddPractitionerForm.controls['city'].errors.required">
                        City is required.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-lg-3 marginleft70">
                <div class="form-group">
                    <label class="pl-2">Phone*</label>
                    <div class="card-palign">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <input type="text" class="form-control text-input-design input-group-text" style="
                                width: 90px !important;border-top-right-radius: unset;border-bottom-right-radius: unset;"
                                placeholder="Code" name="phoneCode"  formControlName="phoneCode" disabled>
                            </div>
                            <div style="border-left: 2px solid white;height: 35px;margin-top: 20px;"></div>
                            <input type="text"  (keypress)="generalService.numberOnly($event)" autocomplete="off" max="13" maxlength="13"  class="form-control" aria-label="Username" aria-describedby="basic-addon1" style="
                            width: 100px;background: rgba(109, 109, 109, 0.05);border-top-left-radius: unset;border-bottom-left-radius: unset;"
                            name="phoneNumber" formControlName="phoneNumber">
                        </div>
                    </div>
                    <div *ngIf="AddPractitionerForm.controls['phoneNumber'].invalid && 
                        AddPractitionerForm.controls['phoneNumber'].touched" class="con-val">
                        <div *ngIf="AddPractitionerForm.controls['phoneNumber'].errors.required">
                            Phone Number is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 marginleft70">
                <div class="form-group">
                    <label class="pl-2">Postal Code*</label>
                    <div class="card-palign">
                        <input type="text" (keypress)="generalService.numberOnly($event)" max="7" maxlength="7" class="form-control" autocomplete="off" formControlName="postalCode" required>
                    </div>
                    <div *ngIf="AddPractitionerForm.controls['postalCode'].invalid && 
                        AddPractitionerForm.controls['postalCode'].touched" class="con-val">
                        <div *ngIf="AddPractitionerForm.controls['postalCode'].errors.required">
                            Postal Code is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 marginleft70">
                <label class="pl-2">Expertise*</label>
                <div class="card-palign">
                    <ngx-select-dropdown class="form-control select-custom-design" tabindex="0"
                        [config]="expertiseConfig" [options]="expertiseData" formControlName="expertise" name="expertise"
                        required [multiple]="true" (change)="expertiseChanged($event.value)" style="width:100%;">
                    </ngx-select-dropdown>
                </div>
                <div *ngIf="AddPractitionerForm.controls['expertise'].invalid && 
                    AddPractitionerForm.controls['expertise'].touched" class="con-val">
                    <div *ngIf="AddPractitionerForm.controls['expertise'].errors.required">
                        Expertise is required.
                    </div>
                </div>
            </div>
        </div>

        <div class="row padtop50" id="add-form">
            <div class="col-md-3 marginleft70">
                <div class="form-group">
                    <label class="pl-2">Business Name*</label>
                    <div class="card-palign">
                        <input type="text" class="form-control" formControlName="bname" required>
                    </div>
                    <div *ngIf="AddPractitionerForm.controls['bname'].invalid && 
                        AddPractitionerForm.controls['bname'].touched" class="con-val">
                        <div *ngIf="AddPractitionerForm.controls['bname'].errors.required">
                            Business Name is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 marginleft70">
                <div class="form-group">
                    <label class="pl-2">Description*</label>
                    <div class="card-palign">
                        <textarea type="text" class="form-control" formControlName="description" required></textarea>
                    </div>
                    <div *ngIf="AddPractitionerForm.controls['description'].invalid && 
                        AddPractitionerForm.controls['description'].touched" class="con-val">
                        <div *ngIf="AddPractitionerForm.controls['description'].errors.required">
                            Description is required.
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </form>

</div>

<div class="container bg-color">
    <hr class="hr-align">
    <div class="row pt-5">
        <div class="col-md-3 marginleft70">
            <p class="p1-align ">
                ID Document* :
            </p>
        </div>
        <div class="col-md-3 marginleft70">
            <input type="file" class="form-control" (change)="onDocFileSelected($event)">
        </div>
        <div class="col-md-3 marginleft70">
            <input type="file" class="form-control" (change)="onDocFileSelected($event)">
        </div>
        <div class="row pt-custom-100">
            <div class="col-md-3 marginleft70">
                <p class="p1-align ">
                    Certifications* :
                </p>
            </div>
            <div class="col-md-2 marginleft70">
                <input type="file" class="form-control" (change)="onCetFileSelected($event)">
            </div>
            <div class="col-md-2 mar-left60">
                <input type="file" class="form-control" (change)="onCetFileSelected($event)">
            </div>
            <div class="col-md-2 mar-left60">
                <input type="file" class="form-control" (change)="onCetFileSelected($event)">
            </div>
        </div>
        <div class="row m-auto" style="max-width: fit-content;">
            <div>
                <button type="submit" class="btn-block btn btn-warning btn-rounded btn-approve btn-confirm mt-5 mb-5"
                tabindex="0" ng-reflect-router-link="/homepage/browse-practitioner" (click)="AddPractioner()"
                [disabled]="!AddPractitionerForm.valid">
                Create account <span class="pl-2 pr-2"><i class="fa fa-arrow-right"></i></span></button>
            </div>
        </div>
    </div>
</div>