$grey-bg: #FAFAFA;
$primary-blue: #00BAD5;
$secondary-blue: #074D63;
$white: #ffffff;
$black: #000000;
$dark-grey: #6D6D6D;
$main-font: healspace font;

::ng-deep .carousel-inner{
    height: 73px !important;
    overflow: inherit !important;
}

.parent {
    padding-left: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    background-color: $white;

    .title {
        color: $secondary-blue;
        margin-bottom: 0;
    }

    .left-side {
        flex: 50%;
        padding: 70px 0 54px 60px;

        .card {
            background-color: $grey-bg;
            box-shadow: none;
            width: 100%;

            .card-body {
                padding: 37px 60px;

                .title {
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 18px;
                }

                .moods {
                    display: flex;
                    margin-top: 24px;
                    justify-content: space-between;

                    .slab {
                        width: 107px;
                        padding: 18px 0 0 0;
                        text-align: center;
                        background: rgba($color: $primary-blue, $alpha: 0.05);
                        border-radius: 20px;

                        img {
                            width: 43px;
                            height: 43px;
                        }

                        p {
                            color: $secondary-blue;
                            font-weight: bold;
                            font-size: 10px;
                            line-height: 15px;
                            margin-top: 11px;
                        }
                    }
                }

                .pills {
                    margin-top: 40px;

                    p {
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 18px;

                        span {
                            color: $secondary-blue;
                        }
                    }
                }

                .metric-cards {
                    box-shadow: none;
                    margin-top: 24px;
                    background-color: $primary-blue;
                    color: $white;

                    .card-body {
                        display: flex;
                        padding: 28px 42px;
                        align-items: center;

                        img {
                            width: 25px;
                            height: 25px;
                        }

                        .content {
                            flex: 1 1 auto;
                            margin-left: 12px;

                            p.title {
                                font-weight: bold;
                                font-size: 14px;
                                line-height: 18px;
                                margin-bottom: 0;
                                color: $white;
                            }

                            p.desc {
                                font-size: 12px;
                                line-height: 16px;
                                margin-bottom: 0;
                            }
                        }

                        .change {
                            font-weight: bold;
                            font-size: 16px;
                            line-height: 20px;
                            margin-bottom: 0;
                        }
                    }
                }

                .overview {
                    margin-top: 57px;
                }

                .overview-slabs {
                    display: flex;
                    margin-top: 27px;
                    justify-content: space-between;

                    .slab {
                        width: 100px;
                        padding: 8px 0 14px 0;
                        text-align: center;
                        border-radius: 20px;
                        background-color: $white;

                        h1 {
                            font-family: $main-font;
                            font-size: 24px;
                            line-height: 30px;
                            color: $primary-blue;
                            margin-bottom: 0;
                        }

                        p {
                            color: $secondary-blue;
                            font-size: 14px;
                            line-height: 18px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    .right-side {
        flex: 50%;
        padding: 77px 60px 60px 60px;
        display: flex;
        flex-direction: column;

        .calendar {
            .header {
                display: flex;
                margin-bottom: 57px;

                p.title {
                    font-size: 14px;
                    line-height: 18px;
                    color: $black;
                    flex: 1 1 auto;
                }

                p.dropdown {
                    font-size: 14px;
                    line-height: 18px;
                    color: $primary-blue;
                }
            }
        }

        .reviews {
            font-family: "FFMarkWebProBook";
            .carousel {
                background: #fafafa;
                border-radius: 20px;
                padding: 40px 80px;
                outline: none;
                &::ng-deep .carousel-control-prev-icon,
                &::ng-deep .carousel-control-next-icon {
                  background: none;
                  width: 24px;
                  height: 24px;
                  border-radius: 50%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  color: #000000;
                  background: #ffffff;
                  font-size: 18px;
                  &:before {
                    content: "\2190";
                  }
                }
                &::ng-deep .carousel-control-next-icon {
                  &:before {
                    content: "\2192";
                  }
                }
                .carousel-container {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  .head {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 11px;
                  }
                }
                .star {
                  font-size: 17px;
                  color: #b0c4de;
                }
                .filled {
                  color: #fbd036;
                }
                .rating {
                  font-family: 'FFMarkWebProBook';
                  font-style: normal;
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 18px;
                  color: #074d63;
                }
                .rating-info {
                  display: flex;
                  flex-direction: column;
                }
                .practitioner-info {
                  display: flex;
                  .profile-photo {
                    width: 40px;
                    height: 40px;
                  //   background: url("../../../../../assets/images/users/avator-2.jpg");
                    background-size: 100%;
                    border-radius: 50%;
                    margin-right: 12px;
                  }
                  .name {
                    font-family: 'BelyDisplay-Regular';
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 20px;
                    color: #074d63;
                  }
                  .place {
                    font-family: 'FFMarkWebProBook';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 16px;
                    color: #6d6d6d;
                  }
                }
              }
            p.title {
                font-size: 14px;
                line-height: 18px;
                color: $black;
            }

            .review-scroller {
                box-shadow: none;
                background-color: $grey-bg;
                margin-top: 25px;

                .card-body {
                    padding: 42px 24px 33px 24px;
                    display: flex;
                    justify-content: center;

                    img {
                        width: 24px;
                        height: 24px;
                        align-self: center;
                        cursor: pointer;
                    }

                    .content {
                        flex: 1 1 auto;
                        padding: 0 25px;

                        .header {
                            display: flex;

                            img {
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                            }

                            .details {
                                margin-left: 12px;
                                flex: 1 1 auto;

                                h2 {
                                    font-weight: bold;
                                    font-size: 16px;
                                    line-height: 20px;
                                    color: $secondary-blue;
                                    margin-bottom: 0;
                                }

                                h3 {
                                    font-size: 12px;
                                    line-height: 16px;
                                    color: $dark-grey;
                                    margin-bottom: 0;
                                }
                            }

                            .rating {
                                p {
                                    font-size: 14px;
                                    line-height: 18px;
                                    color: $secondary-blue;
                                    margin-bottom: 0;
                                }

                                .stars {
                                    img {
                                        width: 15px;
                                        height: 15px;
                                        margin-right: 6px;
                                    }
                                }
                            }
                        }

                        .main {
                            font-size: 14px;
                            line-height: 18px;
                            color: $dark-grey;
                            margin-bottom: 0;
                            margin-top: 11px;
                        }
                    }
                }
            }
        }
    }
}