<app-auth-navbar></app-auth-navbar>
<div class="auth-sidebar">
    <app-auth-sidebar></app-auth-sidebar>
</div>
<div class="parent">
    <div class="left-side">
        <div class="card">
            <div class="card-body">
                <p class="title">
                    Mood Meter
                </p>
                <div class="moods">
                    <div *ngFor="let mood of moods" class="slab">
                        <img src="assets/images/calm2.png" [alt]="mood.mood" *ngIf="mood.mood === 'Happy'">
                        <img src="assets/images/suprised.png" [alt]="mood.mood" *ngIf="mood.mood === 'Energized'">
                        <!-- <img src="assets/images/love.png" [alt]="mood.mood" *ngIf="mood.mood === 'Sleepy'"> -->
                        <img src="assets/images/sleepy.png" [alt]="mood.mood" *ngIf="mood.mood === 'Sleepy'">
                        <!-- <img src="assets/images/calm2.png" [alt]="mood.mood" *ngIf="mood.mood === 'Happy'">
                        <img src="assets/images/calm2.png" [alt]="mood.mood" *ngIf="mood.mood === 'Happy'"> -->
                        <p>{{mood.mood}}</p>
                    </div>
                </div>
                <div class="pills">
                    <p><span>Nutrition</span> | Yoga | Life Coaching</p>
                </div>
                <div class="card metric-cards" *ngFor="let metric of metrics">
                    <div class="card-body">
                        <img [src]="metric.src" [alt]="metric.title">
                        <div class="content">
                            <p class="title">
                                {{metric.title}}
                            </p>
                            <p class="desc">
                                {{metric.desc}}
                            </p>
                        </div>
                        <p class="change">
                            {{metric.change}}
                        </p>
                    </div>
                </div>
                <div *ngIf="!metrics" class="no-data-available">
                    <p>Data Not Available</p>
                </div>
                <p class="title overview">
                    Overview
                </p>
                <div class="overview-slabs" *ngIf="stats">
                    <div class="slab">
                        <h1>{{stats.overview.chat_count}}</h1>
                        <p>chats</p>
                    </div>
                    <div class="slab">
                        <h1>{{stats.overview.session}}</h1>
                        <p>sessions</p>
                    </div>
                    <div class="slab">
                        <h1>{{stats.overview['check-ins']}}</h1>
                        <p>check-ins</p>
                    </div>
                    <div class="slab">
                        <h1>{{stats.overview.review}}</h1>
                        <p>reviews</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-side">
        <div class="calendar">
            <div class="header">
                <p class="title">Monthly mood meter / sessions</p>
                <p class="dropdown" >{{currentMonthName}} </p>
                    <!-- <button type="button" class="btn header-item"  >
                       {{currentMonthName}}
                            <i id="dropdownBasic1" class="fas fa-chevron-down"></i>
                    </button> -->
                    <!-- <div ngbDropdownMenu>
                        <a class="dropdown-item" *ngFor="let month of months" (click)="validateSelectedMonth(month)">
                             {{month}}
                        </a>
                    </div> -->
               

            </div>

            <app-mood-calendar [month]="currMonth" [moods]="stats.mood_meter" *ngIf="stats"></app-mood-calendar>
        </div>
        <div class="reviews mt-5">
            <p class="title">
                My Activity / Reviews
            </p>
            <div class="mt-20">
                <ngb-carousel>
                    <ng-template ngbSlide *ngFor="let review of reviews">
                        <div class="carousel-container">
                            <div class="head">
                                <div class="practitioner-info">
                                    <img class="profile-photo"
                                        [src]="review.practitioner__profile_image ? generalService.getPractiotionerImageBaseUrl(review.practitioner__profile_image) : '../../../../assets/images/profile_pic.png'">
                                    <div>
                                        <div class="name">{{review.practitioner__name}}</div>
                                        <div class="place" placement="right"
                                            tooltip="{{review.practitioner__expertise.join()}}">
                                            {{review.practitioner__expertise.join() | limitTo: 30}}</div>
                                    </div>
                                </div>
                                <div class="rating-info">
                                    <div class="rating">{{review.overall_rating}} ratings</div>
                                    <ngb-rating [(rate)]="review.overall_rating">
                                        <ng-template let-fill="fill" let-index="index">
                                            <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                        </ng-template>
                                    </ngb-rating>
                                </div>
                            </div>
                            <div>{{review.review}}</div>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </div>
</div>