<div class="modal-body" style="border-radius: 40px;" *ngIf="resource">
  <!-- <div class="float-right">
    <button type="button" class="close" aria-hidden="true" (click)="closeForgotModal($event)">×</button>
  </div> -->
  <div class="text-center">
    <h1 style="font-family:Verdana, Geneva, Tahoma, sans-serif; color: #FBD036" class="font-size-30">Forgot Password</h1>
    <p class="font-size-16">Enter the email you used to
      Sign up to healplace below and we will send you
      a password reset link.
    </p>
  </div>
  <div class="p-2">
    <form data-bitwarden-watching="1" (ngSubmit)="onSubmit()" #forgotForm="ngForm">
      <div class="form-group mb-3">
        <input type="text" class="form-control text-input-design" placeholder="Email *" (input)="validateEmail($event)"
        [(ngModel)]="user.email"
        name="email"
        required style="height:55px;"/>
        <div>
          <p
            class="error-box margin-top-0 text-danger err-sf"
            *ngIf="invalid_email"
          >
            Email must be a valid email address
          </p>
          <p class="error-box margin-top-0 text-danger err-sf" *ngIf="email_required">
            Email is Required
          </p>
        </div>
      </div>
      <br>
      <div class="col-lg-12 form-group">
        <button type="submit" class="btn btn-block btn-new btn-rounded"
        [disabled]="!forgotForm.valid || email_required || invalid_email">
          <i class="fa fa-arrow-right"></i> &nbsp; Submit
        </button>
      </div>
    </form>
    <!-- <div class="mt-4 text-center">
      <div class="mb-0"><b>Or Log In with</b> &nbsp;
        <button type="button" class="btn btn-social-icon btn-google"><i
          class="mdi mdi-facebook rounded-circle bg-white font-size-30 text-primary"></i> &nbsp;
        </button>
        <button type="button" class="btn btn-social-icon btn-facebook"><i
          class="mdi mdi-google rounded-circle bg-white font-size-30 text-danger"></i></button>
      </div>
    </div> -->
    <!-- <div class="mt-1 text-center">
      <span class="mb-0 font-size-14 text-muted">By logging in you<br>agree to healplace Privacy policy.</span>
    </div> -->
  </div>
</div>
