<div class="">
    <div class="container1 " [ngClass]="{' row ':course_details.lessons.length==1}">
        <div class="video-container" [ngClass]="{'w-p-97': course_details.lessons.length>1}">
            <div plyr plyrTitle="Custom video" [plyrPlaysInline]="false" [plyrCrossOrigin]="false"
                [plyrPoster]="generalService.getPractiotionerImageBaseUrl(lesson.cover_photo)"
                [plyrSources]="videoSources" (plyrInit)="pauseVideo($event)" (plyrPlay)="playVideo($event)"
                (plyrEnded)="videoEnded($event)">
            </div>
            <!-- <div class="d-flex heart-icon" style="position: absolute;top:10px;right: 45px;z-index: 33;">
                <div class="banner-pic__white-box mr-2">
                    <div class="banner-pic__white-box far fa-heart color-blue cp">
                        &nbsp;
                    </div>
                </div>
    
                <div class="banner-pic__white-box">
                    <i class="fas fa-external-link-alt"></i>
                </div>
            </div> -->

            <div class="d-flex heart-icon" style="position: absolute;top:10px;right: 45px;z-index: 33;">
                <div class="banner-pic__white-box mr-2" *ngIf="authService.isAuthenticated()"
                    (click)="addRemoveFavCourse()">
                    <div class="banner-pic__white-box far fa-heart color-blue cp cursor-pointer"
                        [ngClass]="{' fas ':course_details?.is_favorite_course, ' far ':!course_details?.is_favorite_course}">
                        &nbsp;</div>
                </div>

                <div class="banner-pic__white-box" (click)="openModal(template)">
                    <i class="fas fa-external-link-alt cursor-pointer"></i>
                </div>

                <ng-template #template>
                    <div class="modal-dialog modal-md" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Share</h5>
                            </div>
                            <div class="modal-body">
                                <div class="d-flex py-3 modal-border mb-2 align-items-center">
                                    <li [socialShare]="'fb'"><i class="fab fa-facebook-f mr-3"> </i> <span
                                            class="share-media"> Facebook </span></li>
                                </div>
                                <div class="d-flex py-3 modal-border mb-2 align-items-center">
                                    <li [socialShare]="'tw'"><i class="fab fa-twitter mr-3"></i><span
                                            class="share-media"> Twiter</span></li>
                                </div>
                                <div class="d-flex py-3 modal-border mb-2 align-items-center">
                                    <li [socialShare]="'in'"><i class="fab fa-linkedin-in mr-3"></i><span
                                            class="share-media"> Linkedin </span></li>
                                </div>
                            </div>

                        </div>
                    </div>
                </ng-template>
            </div>

            <!-- donate code end  -->

            <div class="donate-position-center" *ngIf="showNextLessonText">
                <p class="donate-position-center__next">
                    Next
                </p>
                <p class="donate-position-center__user mb-0">
                    {{course_details.lessons[lesson_index+1].lesson_title}} - Lesson nr. {{lesson_index+1}}
                </p>
                <p class="donate-position-center__small">
                    Next Lesson starts in 10 seconds
                </p>

                <div class="pt-3">
                    <p class="donate-position-center__h1-small mb-0">
                        Support to {{course_details?.practitioner_firstname}} {{course_details?.practitioner_lastname}}
                    </p>

                    <p class="donate-position-center__xs">
                        Support this practitioner! Your donation is highly appreciated.
                    </p>

                    <button class="donate-btn-small" (click)="initiateDonateToPractitioner()">
                        <i class="fas fa-heart"></i>
                        Donate to {{course_details?.practitioner_firstname}}
                    </button>
                </div>
            </div>
        </div>

        <!-- <div style="width: 25%;" *ngIf="course_details.lessons.length==1 && logedinData && !logedinData?.is_subscribed">
            <div class="right-box mb-3">
                <div>
                    <p>
                        Access
                        Unlimited
                        Features<br>
                        with our <br>
                        Pro Account
                    </p>
                    <a href="">
                        Get access →
                    </a>
                </div>
            </div>

            <div class="right-box mb-3">
                <div>
                    <p>
                        Access
                        Unlimited
                        Features<br>
                        with our <br>
                        Pro Account
                    </p>
                    <a href="">
                        Get access →
                    </a>
                </div>
            </div>
        </div> -->
    </div>

    <div class="container1 ">
        <div class="pt-4">
            <div class="course-le">
                <p class="course-le__h1">
                    {{lesson.lesson_title}}
                </p>
                <p class="course-le__sec-text">
                    by {{course_details.practitioner_firstname}} {{course_details.practitioner_lastname}}
                </p>
            </div>
        </div>
    </div>