.menu-position{
    position: absolute;
    width: 40%;
    i{
        color: #074D63!important;
    }
}

.popover {
    margin-right: 0.5rem;
    transform: translate3d(160px, 8px, 0px)!important;
} 

.right-box {
    background-image   : url(../../../../assets/images/unsplash_ePpaQC2c1xA.png);
    // position        : absolute;
    width: 168px;
    height: 225px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 20px;

    p {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 16px;
        line-height: 20px;
        /* or 125% */


        /* White */

        color: #FFFFFF;
    }

    a {
        font-family    : 'FFMarkWebProBook';
        text-decoration: none;
        font-style     : normal;
        font-weight    : bold;
        font-size      : 16px;
        line-height    : 20px;
        /* identical to box height, or 125% */


        /* Background - light */

        color: #FAFAFA;
    }
}

.video-container{
    border-radius: 20px;
    overflow: hidden;
    width: 75%;
    height: 100%;
    position: relative;
}

.w-p-97{
    width: 97% !important;
}

.banner-pic {
    top          : -82px;
    left         : 45px;
    border-radius: 50%;

    span {
        color      : #fff;
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 12px;
        line-height: 16px;
        color      : #FFFFFF;
    }

    &__white-box {

        width : 48px;
        height: 44px;
        left  : 0px;
        top   : 0px;

        background     : #FFFFFF;
        border-radius  : 12px;
        display        : flex;
        justify-content: center;
        align-items    : center;

        // color: #000;
        &--heart {
            background-image: url(../../../../assets/images/Heart-Empty.png);
            height          : 26px;
            width           : 26px;

            background-position: center;
            background-size    : contain;
            background-repeat  : no-repeat;

            &:hover {
                background-image: url(../../../../assets/images/Union.png);
            }
        }

        i {
            color: #074D63;
            ;
        }
    }
}

.course-le {
    &__h1 {
        font-family: 'healspace font';
        font-style : normal;
        font-weight: normal;
        font-size  : 40px;
        @media screen and (max-width: 767px) and (min-width: 320px) {
            font-size: 18px;
            line-height: 5px;
        }   
        line-height: 45px;
        color      : #074D63;
    }

    &__sec-text {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 24px;
        line-height: 35px;
        @media screen and (max-width: 767px) and (min-width: 320px) {
        font-size: 14px;
    line-height: 1;
        }

        color      : #074D63;
    }

    &__rate-btn {
        width      : 100px;
        height     : 28px;
        // left    : 30px;
        // top     : 246px;
        margin-bottom: 15px;
        /* Secondary */

        background   : #074D63;
        border-radius: 20px;
        border       : 1px solid #074D63;
        color        : #fff;

        // @media screen and (max-width: 1199px) and (min-width: 992px) {
        //     top : 204px;
        //     left: 30px;
        // }

        // @media screen and (max-width: 991px) and (min-width: 768px) {
        //     top :246px;
        //     left: 30px;
        // }

        // @media screen and (max-width: 767px) and (min-width: 576px) {
        //     top : 228px;
        //     left: 25px;
        // }

        // @media screen and (max-width: 575px) and (min-width: 320px) {
        //     top     : 247px;
        //     position: absolute;
        //     left    : 20px;
        // }

    }

    &__time {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 24px;
        line-height: 18px;
        /* identical to box height, or 75% */
        @media screen and (max-width: 767px) and (min-width: 320px) {
            font-size: 14px!important;
        line-height: 1;
            }

        /* Secondary */

        color: #074D63;
    }
}

.detail__small-img  {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    @media screen and (max-width: 767px) and (min-width: 320px) {
    font-size: 14px!important;
    }
    line-height: 18px;
    color: #074D63;
    position: relative;
    left: 95px;
}


.modal-title {
    font-family: 'FFMarkWebProBook';
    font-weight: bold;
    font-size  : 20px;
    line-height: 25px;

    /* Secondary */

    color: #074D63;

}

.modal-header {
    display                : flex;
    align-items            : flex-start;
    justify-content        : space-between;
    padding                : 1rem 1rem;
    border-bottom          : 1px solid transparent !important;
    border-top-left-radius : calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

.modal-border {
    border-bottom: 1px solid #eff2f7
}

.modal-content {
    position        : relative;
    display         : flex;
    flex-direction  : column;
    width           : 360px;
    pointer-events  : auto;
    background-color: #fff;
    background-clip : padding-box;
    border          : 1px solid #f6f6f6;
    border-radius   : 20px;
    outline         : 0;
    padding         : 30px;
}

.modal-body {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // padding: 44px;
    // background-color: #FAFAFA;
    border-radius: 40px;
}
  
.modal-dialog {
    max-width: 800px !important;
    margin   : 1.75rem auto;
}
