:host {
    // display: flex;
    background: #ffffff;
}
#practitioner-sessions {
    padding: 50px 0px 10px 145px;
    background: #ffffff;
    justify-content: space-between;


    .practitioner-info {
        display: flex;
        align-items: center;
        margin-bottom: 56px;
        .d-flex-column-center{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .profile-photo {
            width: 80px;
            height: 80px;
            // background: url('../../../../assets/images/users/avator-2.jpg');
            // background-size: 100%;
            border-radius: 50%;
            margin-right: 12px;
        }
        .name {
            font-family: 'BelyDisplay-Regular';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
            color: #074D63;
        }
        .place {
            font-family: 'FFMarkWebProBook';
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: #6D6D6D;
        }
    }
    .add-new-container {
        display: flex;
        justify-content: center;
        width: 66%;
        padding-bottom: 200px;
    }
   .add-new {
    font-family: 'FFMarkWebProBook';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #074D63;
    border: 1px solid #074D63;
    border-radius: 20px;
    padding: 20px 40px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
   }
}

