<app-auth-navbar></app-auth-navbar>
<div class="auth-sidebar">
    <app-auth-sidebar></app-auth-sidebar>
</div>
<div id="practitioner-sessions" class="d-flex">
    <div>
        <div class="row">
            <div class="practitioner-info">
                <tabset class="session-type-tab">
                    <tab heading="My 1-on-1 sessions (3)">
                        <div class="mt-3 d-flex-column-center">
                            <app-practioner-session [sessions]="sessions"></app-practioner-session>
                            <div class="add-new-container">
                                <button type="button" class="btn add-new" (click)="openAddSessionModal(addSessionModalOpen, 'addSession')">
                                    Add New Session
                                </button>
                            </div>
                        </div>
                    </tab>
                    <tab heading="My Live Classes (4)">
                        <div class="mt-3 d-flex-column-center">
                            <app-stripe-card-view userType="Practitioner" cardType="UpcomingLiveClass"></app-stripe-card-view>
                            <app-stripe-card-view userType="Practitioner" cardType="UpcomingLiveClass"></app-stripe-card-view>
                            <button type="button" class="btn add-new" (click)="initAddLiveClass()">
                                Create New Session
                            </button>
                        </div>
                    </tab>
                    <tab heading="Chat Sessions">
                        <div class="mt-3 d-flex-column-center">
                            <app-practioner-session [sessions]="sessions"></app-practioner-session>
                            <button type="button" class="btn add-new" (click)="initAddChatSession()">
                                Add New Session
                            </button>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
        <!-- <ng-container *ngIf="sessionType='1on1'">
            <app-practioner-session [sessions]="sessions"></app-practioner-session>
        </ng-container> -->
        
    </div>
    <app-available-patient></app-available-patient>
</div>

<ng-template #addSessionModalOpen role="document" let-modal>
    <app-add-session [resource]="isContent" [sessions]="sessions" (changeBack)="closeAddSessionModal($event)" (closeModal)="closeAddSessionModal($event)" (reloadSessions)="fetchSessions()" *ngIf="isContent == 'addSession'" title="Add a New" buttonText="Add Session" type="add" >
    </app-add-session>
</ng-template>