<div  class="modal-body">
    <div class="modal-padding" *ngIf="step==1">
        <h5 class="join-free__title">Join this Live Class for <br> just ${{selectedClass.live_class_price}}!</h5>

        <p class="join-free__sm-des">This is a premium Class. You will need to pay a fee for booking <br> a seat for this class.</p>
        <div *ngIf="!authService.isAuthenticated()" class="  col-lg-12">
            <button type="button" class="modal-button-blue ml-auto mr-auto my-4" (click)="openLoginForm()">I have an account <i class="ml-2 fa fa-arrow-right"></i></button>

            <button type="button" class="modal-button m-auto" (click)="step=2">I don’t have an account <i class="ml-2 fa fa-arrow-right"></i></button>
        </div>
        <div class="col-lg-12 class-group text-center" *ngIf="authService.isAuthenticated()">
            <button type="button" class="modal-button m-auto" (click)="step=2">Proceed <i class="ml-2 fa fa-arrow-right"></i></button>
        </div>
    </div>

    <div class="modal-padding" *ngIf="step==2">
        <h5 class="join-free__title ">Book a seat for this <br> Live Class</h5>
        <div class="col-lg-12 border-form-grey">&nbsp;</div>

        <p class="join-free__sm-des text-left">You need to enter your details in order to receive the invoice and the link for <br>attending to this Live
            Class. You will be notified on email again with 30<br> minutes before this Live Class will start.</p>

        <form name="JoinClassForm" spellcheck="false" autocomplete="off"
            (ngSubmit)="enterForm(JoinClassForm)" #JoinClassForm="ngForm">
            <div class="col-lg-12 class-group" *ngIf="!authService.isAuthenticated()">
                <input type="text" [(ngModel)]="joinClass.username" #UserName="ngModel" name="UserName"
                     class="modal-input" [ngClass]="{' show-error ': JoinClassForm.submitted && UserName.invalid}"
                    minlength="3" min="3" placeholder="Name" required>
                <div *ngIf="JoinClassForm.submitted && UserName.invalid">
                    <small class="ng-error">
                        You must enter at least 3 characters
                    </small>
                </div>
            </div>
            <div class="col-lg-12 class-group" *ngIf="!authService.isAuthenticated()">
                <input type="email" [(ngModel)]="joinClass.useremail"
                    pattern="^[a-zA-Z]+[a-zA-Z0-9._-]+@[a-zA-Z]+\.[a-zA-Z.]{2,5}$" #useremail="ngModel" name="useremail"
                    class="modal-input" [ngClass]="{' show-error ': JoinClassForm.submitted && useremail.invalid}"
                    placeholder="Email" required>

                <div *ngIf="JoinClassForm.submitted && useremail.invalid">
                    <small class="ng-error">
                        Invalid format for email address. Please enter an email in format: user@email.com
                    </small>
                </div>
            </div>

            <div class="col-lg-12 border-form-grey" *ngIf="!authService.isAuthenticated()">&nbsp;</div>

            <div class="col-lg-12 class-group py-3">
                <div class="join-free__blue d-flex justify-content-between pb-3">
                    <span>{{selectedClass.live_class_title}}</span>
                    <span>${{selectedClass.live_class_price}}</span>
                </div>
                <div class="join-free__paid pb-2">
                    By {{selectedClass.practitioner_firstname}} {{selectedClass.practitioner_lastname}}
                </div>
            </div>
            <div class="col-lg-12 border-form-grey py-2">&nbsp;</div>

            <div class="card-bg mb-4">
                <p class="card-text pb-5"> Choose Payment Method </p>
                <div  class="row justify-content-between">

                    <div class="form-check">
                        <label>
                            <input type="checkbox" name="paymentCheckbox" (click)="selectPaymentType(payment_types.CreditCard)" [checked]="payment_type === payment_types.CreditCard"> <span class="label-text card-text"  [ngClass]="{'ng-error': JoinClassForm.submitted && payment_type == payment_types.None}">Credit card</span>
                        </label>
                    </div>
                    <!-- <div class="form-check">
                        <label>
                            <input type="checkbox" name="paymentCheckbox" (click)="selectPaymentType(payment_types.Paypal)" [checked]="payment_type === payment_types.Paypal"> <span class="label-text card-text">Paypal</span>
                        </label>
                    </div>

                    <div class="form-check">
                        <label>
                            <input type="checkbox" name="paymentCheckbox" [checked]="payment_type === payment_types.Other" (click)="selectPaymentType(payment_types.Other)"> <span class="label-text card-text">Other</span>
                        </label>
                    </div> -->

                </div>
            </div>
            <div class="col-lg-12 border-form-grey py-2">&nbsp;</div>
            <app-card-form  #validateChildComponentForm  (isChildFormValid)="isChildFormValid($event)" [joinClass]="joinClass"></app-card-form>

            <div class="col-lg-12 class-group text-center">
                <button type="submit" class="modal-button m-auto" [ngClass]="{'highlighted-btn': payment_type != payment_types.None}">Confirm Payment <i
                        class="ml-2 fa fa-arrow-right"></i></button>
            </div>
        </form>
    </div>

    <!-- <div  class="modal-padding" *ngIf="step==3">
        <div class="modal-header">
            <button type="button" class="btn-close close pull-right" >
              <span aria-hidden="true" class="visually-hidden" (click)="modalService.dismissAll()">&times;</span>
            </button>
          </div>
    
        <div class="col-lg-12">
            <div class="col-lg-12 class-group text-center">
                <i class="fas fa-check-circle color-theme  icon-font"></i>
            </div>
            <div class="col-lg-12 class-group">
                <h5 class="join-free__title">Thank your for booking a seat in this Live Class!</h5>
            </div>
            <div class="col-lg-12 class-group">
                <p class="join-free__sm-des">Check you email to find the link for this Live Class.
                    You will be notified on email again with 30 minutes before this Live Class will start.</p>
            </div>
            <div class="col-lg-12 class-group">
                <button type="submit" class="modal-button m-auto">Got it <i class="ml-2 fa fa-arrow-right"></i></button>
            </div>
        </div>
    </div> -->
</div>