// .modal-header {
//     display                : flex;
//     align-items            : flex-start;
//     justify-content        : space-between;
//     padding                : 1rem 1rem;
//     border-bottom          : 1px solid transparent !important;
//     border-top-left-radius : calc(0.3rem - 1px);
//     border-top-right-radius: calc(0.3rem - 1px);
// }

// .modal-border {
//     border-bottom: 1px solid #eff2f7
// }

// .modal-content {
//     position        : absolute !important;
//     display         : flex;
//     flex-direction  : column;
//     width           : 360px;
//     pointer-events  : auto;
//     background-color: #fff;
//     background-clip : padding-box;
//     border          : 1px solid #f6f6f6;
//     border-radius   : 20px;
//     outline         : 0;
//     padding         : 30px;
// }


.modal-header {
    border-bottom: 1px solid transparent !important;
}

// .modal-border {
//     border-bottom: 1px solid #eff2f7
// }

// .modal-content {
//     position        : relative;
//     display         : flex;
//     flex-direction  : column;
//     width           : 360px;
//     pointer-events  : auto;
//     background-color: #fff;
//     background-clip : padding-box;
//     border          : 1px solid #f6f6f6;
//     border-radius   : 20px;
//     outline         : 0;
//     padding         : 30px;
// }

.modal-padding {
    padding: 40px;

    @media screen and (max-width: 767px) and (min-width: 320px) {

        padding: 15px;
    }
}

.join-free {
    &__title {
        font-family: 'healspace font';
        font-style : normal;
        font-weight: normal;
        font-size  : 40px;
        line-height: 45px;
        /* identical to box height, or 112% */

        text-align: center;

        /* Secondary */

        color        : #074D63;
        margin-bottom: 25px;

        @media screen and (max-width: 767px) and (min-width: 320px) {
            font-size  : 25px;
            line-height: 30px;
        }
    }

    &__sm-des {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 16px;
        line-height: 20px;
        /* or 125% */

        text-align: center;

        /* Secondary */

        color        : #074D63;
        margin-bottom: 25px;

    }

    &__blue {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 16px;
        line-height: 20px;
        /* identical to box height, or 125% */

        text-align: center;

        /* Primary */

        color: #00BAD5;

    }

    &__paid {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 16px;
        line-height: 20px;
        /* identical to box height, or 125% */


        /* Secondary */

        color: #074D63;
    }
}

.modal-input {
    width           : 100%;
    background      : #FAFAFA;
    border-radius   : 20px;
    height          : 60px;
    border          : 1px solid #FAFAFA;
    // box-shadow   : 0px 30px 50px rgb(0 0 0 / 6%);
    font-weight     : bold;
    font-size       : 14px;
    line-height     : 18px;
    color           : #074D63;
    padding         : 6px 24px;
}


.modal-button {
    color     : #074D63;
    background: #FFFFFF;
    box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.15);
    border    : 1px solid #074D63;

    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    padding        : 20px 15px;
    border-radius  : 20px;
    font-size      : 16px;
    line-height    : 20px;
    font-weight    : bold;
    width          : 270px;

    @media screen and (max-width: 767px) and (min-width: 320px) {
        width: 100%;
    }

}

.modal-button-blue {
    color     : #fff;
    background: #00BAD5;
    border    : 1px solid #00BAD5;

    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    padding        : 20px 15px;
    border-radius  : 20px;
    font-size      : 16px;
    line-height    : 20px;
    font-weight    : bold;
    width          : 270px;

    @media screen and (max-width: 767px) and (min-width: 320px) {
        width: 100%;
    }

}

.class-group {
    margin-bottom: 25px;
}

.icon-font {
    font-size: 40px;
}

.card-bg {
    background   : #FAFAFA;
    border-radius: 20px;
    padding      : 40px;
}

.card-text {
    font-family: 'FFMarkWebProBook';
    font-style : normal;
    font-weight: bold;
    font-size  : 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    text-align: center;

    /* Secondary */

    color: #074D63;
}



.border-form-grey {
    border-top: 1px solid #6D6D6D;
    opacity   : 0.1;
}