<div  class="modal-body">
    <div>
        <button type="button" class="btn-close close pull-right">
            <span aria-hidden="true" class="visually-hidden" (click)="modalService.dismissAll()">&times;</span>
        </button>
    </div>
    <div  class="modal-padding">
        <div class="col-lg-12">
            <div class="col-lg-12 class-group text-center" *ngIf="!showConfirmButton">
                <i class="fas fa-check-circle color-theme  icon-font"></i>
            </div>
            <div class="col-lg-12 class-group">
                <h5 class="join-free__title">{{heading}}</h5>
            </div>
            <div class="col-lg-12 class-group">
                <p class="join-free__sm-des">{{message}}</p>
            </div>
            <div class="md-line"></div>
            <div class="cp-widget" *ngIf="showCurrentPlanSection">
                <label class="text-center w-100">Your current plan</label>
                <div class="cp-bx">
                    <h1>Silver</h1>
                    <h2>25 healcoins</h2>
                    <h3>$49/month</h3>
                    <h6>
                        $1.96 per healcoin
                    </h6>
                </div>
            </div>
            <div class="md-line mb-5"></div>
            <div class="col-lg-12 d-flex-center class-group" *ngIf="showButton">
                <button [ngClass]="{'heal-btn__primary' :isPrimary,'heal-btn__default' :isDefaultBtn,'heal-btn__highlight' :isHighlight}" (click)="closeModal()">{{closeButtonText}} <i
                    class="ml-2 fa fa-arrow-right"></i></button>
            </div>

            <div class="col-lg-12 d-flex-center class-group" *ngIf="showConfirmButton">
                <button class="heal-btn__primary" (click)="signupPractitionerModal()">Confirm <i
                    class="ml-2 fa fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>