<div class="practitioner-modal">
    <div class="modal-body x-hidden">
        <!--choose session type-->
        <div class="card">
            <h5 class="headings mb-3"> Choose Your Practitioner
            </h5>
             
            <ng-container>
                <!-- <div class="carousel-container" *ngIf="list.length > 0">
                    <carousel [itemsPerSlide]="itemsPerSlide" [noWrap]="noWrap" [startFromIndex]="0" [interval]="4000"
                        [showIndicators]="false" [singleSlideOffset]="singleSlideOffset">
                        <slide *ngFor="let item of list; let i=index" (click)="selectPractitioner(item, i)"
                            class="mx-auto" [ngClass]="{'first-slide': i === 0}">
                            <div class="col-lg-2 col-md-2">
                                <div class="check-container">
                                    <img class="image"
                                        [src]="item.profile_image && item.is_profile_pic_approved ? item.profile_image : 'assets/images/y2.jpg'">
                                    <div class="check-box" *ngIf="item.isSelected"><img
                                            src="assets/images/check-pract.png" alt="" class="check"></div>
                                </div>
                                <div class="detail-container">
                                    <h3 class="user-name">{{item.name}}</h3>
                                    <p class="expert" *ngIf="item.expertise">{{item.expertise.join() | limitTo: 20}}</p>
                                    <div class="rating-info" *ngIf="item.ratings">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <ngb-rating [(rate)]="item.ratings[0].overall_rating">
                                                    <ng-template let-fill="fill" let-index="index">
                                                        <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                                    </ng-template>
                                                </ngb-rating>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="rating">{{item.ratings[0].overall_rating}}
                                                    ({{item.ratings[0].review.length}})</div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="desp" *ngIf="item.description">{{item.description}}</p>
                                    <p class="desp" *ngIf="!item.description"tooltip="{{mockDesc}}">{{mockDesc | limitTo:120}}</p>
                                </div>
                            </div>
                        </slide>
                    </carousel>
                </div> -->
                <div class="carousel-container btn-flex-center flex-column" *ngIf="list.length > 0">
                    <carousel [itemsPerSlide]="itemsPerSlide" [noWrap]="noWrap" style="width: 100%;" [startFromIndex]="0" [interval]="0" [showIndicators]="false" [singleSlideOffset]="singleSlideOffset">
                      <slide *ngFor="let item of list; let i=index" (click)="selectPractitioner(item, i)" class="mx-auto" [ngClass]="{'first-slide': i === 0}">
                        <div class="col-lg-12 col-md-12">
                          <div class="check-container">
                            <img class="image center-block" [src]="item?.profile_image && item?.is_profile_pic_approved ? item?.profile_image : 'assets/images/y2.jpg'">
                            <div class="check-box" *ngIf="item.isSelected">
                              <img src="assets/images/check-pract.png" alt="" class="check">
                            </div>
                          </div>
                          <div class="detail-container">
                            <h3 class="user-name" style="font-weight: bold;" tooltip="{{item?.name}}">Dr. {{item?.name | limitTo:12}}</h3>
                            <p class="expert" *ngIf="item?.expertise" tooltip="{{item?.expertise}}">{{item?.expertise.join() | limitTo: 20}}</p>
                            <div class="rating-info" *ngIf="item?.ratings">
                              <div class="row">
                                <div class="col-lg-6 col-md-6">
                                  <ngb-rating [(rate)]="item.ratings[0].overall_rating">
                                    <ng-template let-fill="fill" let-index="index">
                                      <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                    </ng-template>
                                  </ngb-rating>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                  <div class="rating">{{item?.ratings[0]?.overall_rating}} ({{item?.ratings[0]?.review.length}})</div>
                                </div>
                              </div>
                            </div>
                            <h3 class="session-detail">Description</h3>
                            <p class="desp" *ngIf="item?.description" tooltip="{{item?.description}}">{{item?.description | limitTo:100}}</p>
                            <p class="desp" *ngIf="!item?.description" tooltip="{{mockDesc}}">{{mockDesc | limitTo:120}}</p>
                            <h3 class="session-detail">Session details</h3>
                            <div class="row">
                              <div class="col-lg-6 col-md-6">
                                <p class="label">Price</p>
                              </div>
                              <div class="col-lg-6 col-md-6">
                                <p class="label">Time</p>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-lg-6 col-md-6">
                                <span class="price">${{item?.price}}</span>
                              </div>
                              <div class="col-lg-6 col-md-6">
                                <span class="price">{{item?.duration_min}} min</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </slide>
                    </carousel>
                  </div>
            </ng-container>
            <div class="row clearfix" style="padding:15px"></div>
            <div class="btn-container">
                <div class="row col-md-12 text-center">
                    <button type="button" class="pick-pract btn-rounded vertical-center confirmDoctorNameDisabled"
                        (click)="confirmPractitioner()"><span class="mr-1">Confirm practitioner</span> <i class="fa fa-arrow-right"></i>
                        
                    </button>
                </div>
                <div class="row col-md-3 cancel-btn">
                    <button type="button" class="unstyled-button vertical-center"
                        (click)="activeModal.close()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>