.practitioner-modal {
  background: #fff !important;
  border-radius: 40px;
  overflow-y: scroll;
  overflow-x:hidden;
}

.x-hidden{
  overflow-x: hidden;
}
.headings {
    font-family: 'BelyDisplay-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    color: #074D63;
}

.pick-pract{
    padding: 20px 40px;
    background: #FAFAFA;
    font-family: FF Mark Pro;
    font-style: normal;
    border-color: #074D63 !important;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #074D63;
    width: 300px;
}
.cancel-btn {
    margin: 0 auto;
    padding: 10px 0;
}
.btn-container {
    margin: 0 auto;
}
.unstyled-button {
    padding: 0;
    border: none;
    background: none;
    font-family: FF Mark Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #6D6D6D;
}

.check-container {
    width: 200px;
    ;
    position: relative;
    .check-box {
      position: absolute;
      top: 25px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #fff;
      right: 20px;
      text-align: center;
      .check {
        padding-bottom: 5px;
      }
    }
  }
  .carousel-container {
    justify-content: center;
    display: flex;
    margin: 20px 0;
    .first-slide {
        z-index: 2;
      }
    .star {
		font-size: 12px;
		color: #FBD036;
	  }
    .rating-info {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
      }
      .rating {
        font-family: FF Mark Pro;
        font-size: 14px;
        line-height: 18px;
        padding-top: 2px;
      }
      .detail-container {
        background: #00BAD5;
        width: 190px;
        border-bottom-right-radius: 40px;
        border-bottom-left-radius: 40px;
        padding: 10px 15px;
        margin: 0 5px;
        color: #fff; 
        .user-name {
          font-family: FF Mark Pro;
          font-size: 16px;
          line-height: 20px;                
          color: #FFFFFF;
        }
        .expert {
          font-family: FF Mark Pro;
                font-size: 14px;
                line-height: 18px;
                color: #FFFFFF;
                margin-bottom: 5px;
        }
        .desp {
          font-family: FF Mark Pro;
                font-style: italic;
                font-size: 10px;
                line-height: 15px;
        }
        .session-detail {
          font-family: FF Mark Pro;
          font-weight: bold;
          font-size: 16px;
          line-height: 20px;
          color: #fff;
        }
      }
      .image{
          width: 100%;
          left: 0px;
          top: 0px;
          border-radius: 1px;border-top-left-radius: 51px;border-top-right-radius: 51px;
        }
      .carousel-item {
        margin: 0 auto !important;
    }
    &::ng-deep .carousel-control-prev {
      left: -7% !important;
    }
    &::ng-deep .carousel-control-next {
      right: -7% !important;
    }
    &::ng-deep .carousel-control-next-icon {
      background-image: url(../../../../assets/images/next.png) !important;
      background: none;
      background-repeat: no-repeat;
    }
    &::ng-deep .carousel-control-prev-icon {
      background-image: url(../../../../assets/images/prev.png) !important;
      background: none;
      background-repeat: no-repeat;
    }
  }
  