<section class="banner-2">
  <div class="btn-flex-center  flex-column container-fluid main-banner-2 session-container" *ngIf="list.length > 0">
    <div class="col-md-12 col-sm-12 top-container">
      <h2 class="heading base-font">Choose a practitioner for 1 on 1 video session</h2>
      <p class="sub">Check their schedule and book an available slot time
        <br>for your 1 on 1 session
      </p>
    </div>
    <div class="carousel-container" *ngIf="list.length > 0">
      <carousel [itemsPerSlide]="itemsPerSlide" [noWrap]="noWrap" [startFromIndex]="0" [interval]="0" [showIndicators]="false" [singleSlideOffset]="singleSlideOffset">
        <slide *ngFor="let item of list; let i=index"  (click)="selectPractitioner(item, i)" class="mx-auto active-card" 
        [ngClass]="{'first-slide': i === 0,'active-card': item.className==='highlight' , 'inactive-card':item.className==='dimMe'}">
          <div class="col-lg-2 col-md-2">
            <div class="check-container">
              <img class="image center-block" [src]="item?.profile_image && item?.is_profile_pic_approved ? item?.profile_image : 'assets/images/y2.jpg'">
              <div class="check-box" *ngIf="item.isSelected">
                <img src="assets/images/check-pract.png" alt="" class="check">
              </div>
            </div>
            <div class="detail-container">
              <h3 class="user-name" style="font-weight: bold;">Dr. {{selectedPract}}{{item?.name}}</h3>
              <p class="expert" *ngIf="item?.expertise">{{item?.expertise.join() | limitTo: 20}}</p>
              <div class="rating-info" *ngIf="item?.ratings">
                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <ngb-rating [(rate)]="item.ratings[0].overall_rating">
                      <ng-template let-fill="fill" let-index="index">
                        <span class="star" [class.filled]="fill === 100">&#9733;</span>
                      </ng-template>
                    </ngb-rating>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="rating">{{item?.ratings[0]?.overall_rating}} ({{item?.ratings[0]?.review.length}})</div>
                  </div>
                </div>
              </div>
              <h3 class="session-detail">Description</h3>
              <p class="desp" *ngIf="item?.description" tooltip="{{item?.description}}">{{item?.description | limitTo:100}}</p>
              <p class="desp" *ngIf="!item?.description" tooltip="{{mockDesc}}">{{mockDesc | limitTo:120}}</p>
              <h3 class="session-detail">Session details</h3>
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <p class="label">Price</p>
                </div>
                <div class="col-lg-6 col-md-6">
                  <p class="label">Time</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <span class="price">${{item?.price}}</span>
                </div>
                <div class="col-lg-6 col-md-6">
                  <span class="price">{{item?.duration_min}} min</span>
                </div>
              </div>
            </div>
          </div>
        </slide>
      </carousel>
    </div>

    <div class="btn-flex-center pract-btn cursor-pointer mb-3" (click)="choosePract()"> 
      <span class="new-interest">Choose practitioner</span> <i class="fa fa-arrow-right"></i>
    </div>
  </div>

  <div class="btn-flex-center flex-column col-md-9 col-sm-9 top-container container-fluid main-banner-2 session-container" *ngIf="list.length == 0">
    <div class="col-md-9 col-sm-9 top-container">
      <h2 class="heading">{{msg}}</h2>
      <p class="sub" *ngIf="subMsg">You can add any other interest in your profile or send an email to <strong>info@healplace.com</strong>
      </p>
    </div>

    <div class="btn-flex-center pract-btn cursor-pointer my-4" (click)="redirectToInterest()" > 
      <span class="new-interest">Add new interest</span> <i class="fa fa-arrow-right"></i>
    </div>
  </div>
</section>