    <div class="block-chat-modal">
        <p class="title">
            Are You Sure You Want To<br>
            Delete This Conversation?
        </p>
        <p class="content">This action cannot be undone.</p>
        <div class="row details-section">
            <div class="col-md-4 col-lg-4">
                <p class="chat-in">Chat in</p>
                <p class="name">Nutrition</p>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="row">
                    <div class="col-md-2 col-lg-2">
                        <div class="circle-div">
                            <img class="pt-10" src="../../../../assets/images/user_icon.png" />
                        </div>
                    </div>
                    <div class="col-md-10 col-lg-10">
                        <p class="sub-title pl-20">3 Practitioners</p>
                        <p class="sub-content pl-20">14 chats</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="row">
                    <div class="col-md-2 col-lg-2">
                        <div class="circle-div">
                            <img class="pt-10" src="../../../../assets/images/pinned_msg.png" />
                        </div>
                    </div>
                    <div class="col-md-10 col-lg-10">
                        <p class="sub-title pl-20">4 Pinned Messages</p>
                        <p class="sub-content pl-20">21 files shared</p>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <button class="btn btn-rounded del-btn" (click)="deleteChat()">Delete Chat →</button><br>
            <button class="btn cancel-btn" (click)="closeModal()">Cancel</button>
        </div>
    </div>