<div class="container-fluid footer-section">
    <ng-container>
        <p class="footer-section__st-text">Start your healing today</p>
        <p class="footer-section__se-text">Access healing everywhere from your device</p>

        <div class="container">
            <div class="d-flex justify-content-center">
                <button class="btn-join" *ngIf="!logedinData" [routerLink]="['/signup/client']"><span
                        class="btn-join__text">Join Healplace <i class="fa fa-arrow-right ml-1 cp"></i></span></button>

                <button class="btn-join" *ngIf="logedinData && !logedinData?.is_subscribed"><span
                        class="btn-join__text cp" [routerLink]="['/manage-subscription']">Upgrade to Pro <i
                            class="fa fa-arrow-right ml-1"></i></span></button>
            </div>
        </div>
    </ng-container>

    <div class="container">
        <div class="grey-line"> &nbsp;</div>
    </div>

    <div class="container">
        <div class="row mx-0">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 d-flex flex-column text-break  footer-bottom">
                <p class="footer-section__heading">About company</p>
                <div class="footer-img mb-2">
                    <img class="w-100" src="../../assets/images/h-logo.svg">
                </div>
                <p class="footer-section__info">We empower healers, doctors <br>and alternative wellness practitioners
                    <br> to
                    reach the
                    world, directly from <br> their device!</p>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12  d-flex flex-column text-break  footer-bottom cp"
                [routerLink]="['/contact-us']">
                <p class="footer-section__heading">Contact</p>
                <span class="footer-section__info"> 1853 Par Drive, Burbank Street,<br>California, CA</span>
                <span class="email-text mt-4"> +04 333 123 645 </span>
                <span class="email-text">hello@healplace.com</span>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 d-flex flex-column text-break footer-bottom">
                <p class="footer-section__heading">Useful Links</p>
                <div class="footer-menu">

                    <ul>
                        <li><a [routerLink]="['/contact-us']">Contact</a></li>
                        <li><a [routerLink]="['/support']">Support</a></li>
                        <li><a [routerLink]="['/terms-conditions']">Terms of Service</a></li>
                        <li><a [routerLink]="['/privacy-policy']">Privacy Policy</a></li>
                    </ul>
                </div>

            </div>

            <div class="col-lg-3  col-md-6 col-sm-6 col-xs-12  d-flex flex-column text-break  footer-bottom">
                <p class="footer-section__heading">Find us on Social</p>
                <div class="d-flex">
                    <div class="d-flex-center social-icon"><a href="https://www.facebook.com/healplacedotcom/"
                            target="_blank"><i class="fab fa-facebook-f"></i></a></div>
                    <div class="d-flex-center social-icon"><a href="https://www.instagram.com/heal.place/?hl=en"
                            target="_blank"><i class="fab fa-instagram"></i></a></div>
                    <div class="d-flex-center social-icon"><a href="https://twitter.com/healplacedotcom"><i
                                class="fab fa-twitter"></i></a></div>
                    <div class="d-flex-center social-icon"><a
                            href="https://www.linkedin.com/in/manisha-singal-md-2117b74" target="_blank"><i
                                class="fab fa-linkedin-in"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</div>