//footer

.footer-section {
    // min-height: 778px;
    background : #F8F8F8;
    width      : auto;
    padding-top: 100px;
    margin-bottom: 45px;

    &__st-text {
        font-family: 'healspace font';
        font-style : normal;
        font-weight: normal;
        font-size  : 40px;
        line-height: 48px;
        text-align : center;
        color      : #074D63;

        @media screen and (max-width: 767px) and (min-width: 320px) {
            font-size    : 20px!important;
            padding-bottom: 0;
        }
    }

    &__se-text {
        font-style : normal;
        font-weight: normal;
        font-size  : 16px;
        line-height: 32px;
        text-align : center;
        color      : #000000;


    }

    &__heading {
        font-style : normal;
        font-weight: bold;
        font-size  : 16px;
        line-height: 20px;

        display    : flex;
        align-items: center;

        color        : #000000;
        margin-bottom: 26px;

    }

    &__info {
        font-style : normal;
        font-weight: normal;
        font-size  : 12px;
        line-height: 20px;
        /* or 167% */


        color: #000000;

    }

    .grey-line {
        margin       : 60px 0 80px 0;
        border-bottom: 1px solid #6D6D6D;
        opacity: 20%;
    }

    .btn-join {
        background   : #16BBD5;
        border-radius: 20px;
        color        : #FFF;
        border       : none;
        padding      : 20px 40px;
        margin-top   : 20px;

        &__text {

            font-style : normal;
            font-weight: bold;
            font-size  : 16px;
            line-height: 20px;
            color      : #FFFFFF;
            flex       : none;
            order      : 0;
            flex-grow  : 0;
            margin     : 0px 0px;

        }
    }



    .footer-title {
        font-size    : 40px;
        line-height  : 48px;
        color        : #074D63;
        margin-bottom: 20px;
        font-family  : 'healspace font';

        @media screen and (max-width: 767px) and (min-width: 320px) {
            font-size    : 20px!important;
            padding-bottom: 0;
        }
    }

    .footer-desc {
        font-size  : 16px;
        line-height: 32px;
    }




    .first-part {
        width  : 23%;
        padding: 0 20px;
        color  : #000;
        ;
    }

    .footer-heading {
        font-size    : 16px;
        line-height  : 20px;
        margin-bottom: 24px;
        font-weight  : 700;
    }

    .footer-img {
        width: 200px;
    }

}

.email-text {
    color      : #00BAD5;
    font-style : normal;
    font-weight: bold;
    font-size  : 12px;
    line-height: 20px;
}

.footer-bottom{
    padding-bottom: 90px;
}
.footer-menu ul {
    list-style-type: none;
    li{

        margin-bottom: 2px;
    a {
        font-style : normal;
        font-weight: normal;
        font-size  : 12px;
        line-height: 20px;
        color      : #000000;
        margin-bottom: 5px;
        cursor: pointer;
    }
}
}