.calendar-parent {
    display: flex;
    justify-content: space-between;
    color: #074D63;

    .week-col {
        text-align: center;

        p.head {
            font-size: 14px;
            margin-bottom: 10px;
        }
        .custom-card{
            margin-bottom: 0;
        }
        .day-card {
            box-shadow: none;
            border: 0;

            &.mood {
                background-color: #FFF4E3;
                border-radius: 12px;
            }

            .card-body {
                padding: 0 10px 0 10px;
                margin: 0 0 10px 0;
                text-align: center;

                .img-holder {
                    width: 22px;
                    height: 22px;

                    img {
                        height: 100%;
                        width: auto;
                    }
                }

                p {
                    min-height: 20px;
                    font-size: 14px;
                    margin-bottom: 0;
                }
            }
        }
    }
}