<div class="calendar-parent">
    <div class="week-col" *ngFor="let week of monthMap; let i=index">
        <p class="head">{{weekMap[i]}}</p>
        <div [ngClass]="['day-card','card custom-card', item.mood ? 'mood' : '']" [id]="'day-'+ item.date"
            *ngFor="let item of week">
            <div class="card-body">
                <div class="img-holder">
                    <img src="assets/images/calm2.png" [alt]="item.mood" *ngIf="item.mood === 'Happy'">
                    <img src="assets/images/suprised.png" [alt]="item.mood" *ngIf="item.mood === 'Energized'">
                    <!-- <img src="assets/images/love.png" [alt]="item.mood" *ngIf="item.mood === 'Sleepy'"> -->
                    <img src="assets/images/sleepy.png" [alt]="item.mood" *ngIf="item.mood === 'Sleepy'">
                    <!-- <img *ngIf="item.mood" [src]="item.mood" alt=""> -->
                </div>
                <p>{{item.date < 32 ? item.date < 10 ? '0' + item.date : item.date : ' ' }}</p>
            </div>
        </div>
    </div>
</div>