<div *ngIf="currentStep === 'one'"
    class="block-chat-modal  d-flex justify-content-center align-items-center flex-column">
    <div class="d-flex justify-content-center align-items-center base-color mb-3">1/2
    </div>
    <div class="w-60 d-flex justify-content-center align-items-center">
        <img class="wp-100" src="../../../../../assets/images/customer/report.png" />
    </div>
    <p class="title">
        Report Practitioner :
    </p>
    <div class="col-lg-9 col-md-9 pt-4 w-60 d-flex justify-content-center align-items-center flex-column">
        <div class="w-60 d-flex justify-content-center align-items-center">
            <img class="wp-100 br-30"
                [src]="selectedList.profile_image && selectedList.is_profile_pic_approved ? generalService.getPractiotionerImageBaseUrl(selectedList.profile_image) : 'assets/images/users/avator-2.jpg'" />
        </div>
        <p class="name">{{selectedList?.name}}</p>
        <p class="role" tooltip="{{selectedList?.expertise?.join()}}">{{selectedList?.expertise?.join() | limitTo: 20}}
        </p>
        <div class="my-2">
            <p class="content">Tell us why you are reporting this interaction.</p>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6 col-lg-6">
            <div class="sub-div" [class.subdivactive]="option === 'first'" style="float: right;">
                <a (click)="optionSelected('first')">
                    <p class="sub-content">This practitioner wasn’t <br />
                        a good match for me.</p>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="sub-div" [class.subdivactive]="option === 'second'">
                <a (click)="optionSelected('second')">
                    <p class="sub-content">There was inappropriate <br />
                        content or action in my session</p>
                </a>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center flex-column">
        <button (click)="addDetails()" [disabled]="!option" class="br-10 add-details-btn"
            [class.btnactive]="option === 'first' || option === 'second'">Add Details →</button><br>
        <button (click)="closeModal()" class="unstyled-button">Cancel</button>
    </div>

</div>
<div *ngIf="currentStep === 'two'"
    class="block-chat-modal  d-flex justify-content-center align-items-center flex-column">
    <div class="d-flex justify-content-center align-items-center base-color mb-5">2/2
    </div>
    <div class="w-60 d-flex justify-content-center align-items-center">
        <img class="wp-100" src="../../../../../assets/images/customer/report.png" />
    </div>
    <p class="title">
        Report Details
    </p>
    <p class="content my-2">
        Please share more details here about your interaction. Healplace will <br />
        always preserve your privacy and anonymity in feedback and reviews.
    </p>
    <div class="d-flex col-lg-12 col-md-12 mt-4">
        <div class="col-md-6 col-lg-6 d-flex justify-content-start align-items-center">
            <p class="base-color">Type your message</p>
        </div>
        <div class="col-md-6 col-lg-6 d-flex justify-content-end align-items-center">
           <div class="w-12 base-color"  (click)="file.click()"> <img class="wp-100" src="../../../../../assets/images/customer/screenshots.png" />
            </div>
            <span class="font-10">Add Screenshot</span>
            <span class="selected-file font-10" *ngIf="fileData?.name">{{fileData?.name | limitTo:15}} <i class="fas fa-times" (click)="resetSelectedFile()"></i></span>
            <input type="file" accept=".png, .jpg, .jpeg" class="file-upload" (change)="onFileSelected($event)" #file  />
        </div>
    </div>
    <div class="p-3">
        <textarea rows="4" cols="50" [(ngModel)]="shortDescription"
            (input)="onShortDescription($event.target.value)"></textarea>
    </div>
    <div class="d-flex justify-content-center align-items-center flex-column">
        <button (click)="reportPractitioner()" class="br-10 add-details-btn" [disabled]="!isEnableReportBtn"
            [class.btnactive]="isEnableReportBtn === true">Report Practitioner →</button><br>
        <button (click)="closeModal()" class="unstyled-button">Cancel</button>
    </div>

</div>
<div *ngIf="currentStep === 'three'" class="block-chat-modal">
    <p class="thanks pt-3">Thanks For <br />
        Sharing!</p>

    <p class="review py-3">We will review what you’ve shared and contact you when <br /> we’re done.</p>

    <div class="d-flex justify-content-center align-items-center flex-column">
        <button (click)="backToPlatform()" class="br-10 back-to-btn">Back to platform →</button><br>
    </div>
</div>