

// **********************

// signup modal 

.w-btn-226 {
    width: 226px !important; 
}

.w-btn-153 {
    width: 153px !important;
}

.valid-btn{
    background: #FBD036 !important;
    border: none !important;
}

.phone-code{
    width: 115px!important;
    padding-top: 15px!important;
    color: #A0A0A0!important;
    margin-right: 5px;
}
textarea{
    height: 150px !important;
    overflow: hidden !important;
}

textarea:focus-visible{
    outline: none;
}

.practitioner-modal {
    
    &__no {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 16px;
        line-height: 20px;
        text-align : center;
        color      : #074D63;

    }

    &__h1 {
        font-family: 'healspace font';
        font-style : normal;
        font-weight: normal;
        font-size  : 24px;
        line-height: 30px;
        color      : #00BAD5;
        text-align : center;
    }

    &__des {
        font-family  : 'FFMarkWebProBook';
        font-style   : normal;
        font-weight  : normal;
        font-size    : 14px;
        line-height  : 18px;
        text-align   : center;
        color        : #074D63;
        margin-bottom: 25px;
    }

    &__input {
        background   : #F4F4F4;
        border-radius: 40px;

        width              : 100%;
        background         : #FAFAFA;
        // border-radius   : 20px;
        height             : 60px;
        border             : 1px solid #FAFAFA;
        color              : #A0A0A0;
        padding            : 6px 24px;

        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 14px;
        line-height: 18px;
        height     : 52px;
    }

    &__login {

        font-family  : 'FFMarkWebProBook';
        font-style   : normal;
        font-weight  : bold;
        font-size    : 17px;
        line-height  : 22px;
        text-align   : center;
        border       : 1px solid #074D63;
        transition   : color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        border-radius: 40px;
        background   : #fff;
        color        : #074D63;
        width        : 280px;
        height       : 55px;

    }

    &__next {

        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: bold;
        font-size  : 17px;
        line-height: 22px;
        text-align : center;
        border     : 1px solid #FBD036;
        ;
        transition   : color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        border-radius: 40px;
        background   : #FBD036;
        color        : #074D63;
        width        : 280px;
        height       : 55px;

    }

    &__privacy {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 12px;
        line-height: 16px;
        text-align : center;
        color      : #A0A0A0;

        span {
            color: #000;
        }
    }

    &__card {
        width          : 288px;
        height         : 210px;
        display        : flex;
        justify-content: center;
        align-items    : center;
        background     : #F4F4F4;
        border-radius  : 40px;
        margin         : 0 auto;
    }

    &__card-des {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 10px;
        line-height: 15px;
        text-align : center;
        color      : #074D63;
        padding    : 15px 0;
    }

    &__card-btn {
        width        : 147px;
        height       : 44px;
        background   : #FFFFFF;
        border       : 1px solid #074D63;
        box-sizing   : border-box;
        border-radius: 20px;
        font-family  : 'FFMarkWebProBook';
        font-style   : normal;
        font-weight  : bold;
        font-size    : 14px;
        line-height  : 18px;
        color        : #074D63;
        input[type="file"] {
            display: none !important;
        }

    }

    &__id-btn {
        width        : 216px;
        height       : 40px;
        left         : 456px;
        top          : 369px;
        background   : #074D63;
        border       : 1px solid #074D63;
        border-radius: 40px;
        font-family  : 'FFMarkWebProBook';
        font-style   : normal;
        font-weight  : bold;
        font-size    : 12px;
        line-height  : 16px;
        color        : #FFFFFF;

    }

    &__user-id {
        width        : 129px;
        height       : 81px;
        border-radius: 10px;
    }

    &__upload-more {
        font-family: 'FFMarkWebProBook';
        font-style : normal;
        font-weight: normal;
        font-size  : 12px;
        line-height: 16px;
        /* identical to box height, or 133% */

        text-align          : center;
        text-decoration-line: underline;

        /* Secondary */

        color: #074D63;
    }

    &__file-box{
        height: 130px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__file {
        width : 52px;
        height: 52px;

        background     : #FFFFFF;
        border         : 0.40625px solid rgba(109, 109, 109, 0.5);
        box-sizing     : border-box;
        border-radius  : 8.125px;
        display        : flex;
        justify-content: center;
        align-items    : center;

        &--name {
            font-family: 'FFMarkWebProBook';
            font-style : normal;
            font-weight: normal;
            font-size  : 10px;
            line-height: 15px;
            /* identical to box height, or 150% */


            /* Secondary */

            color: #074D63;


            width: 50px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
.modal-padding {
    padding: 40px;

    @media screen and (max-width: 767px) and (min-width: 320px) {

        padding: 15px;
    }
}
.class-group {
    margin-bottom: 25px;
}

@media (min-width: 992px){
.modal-lg {
    max-width: 800px!important;
}
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn1 {
    width        : 147px;
    height       : 44px;
    background   : #FFFFFF;
    border       : 1px solid #074D63;
    box-sizing   : border-box;
    border-radius: 20px;
    font-family  : 'FFMarkWebProBook';
    font-style   : normal;
    font-weight  : bold;
    font-size    : 14px;
    line-height  : 18px;
    color        : #074D63;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }


  .upload-btn-wrapper-text {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn1-text {
    width        : 147px;
    height       : 44px;
    background   : transparent;
    border       :  none;
    box-sizing   : border-box;
    border-radius: 20px;
    font-family  : 'FFMarkWebProBook';
    font-style   : normal;
    font-weight  : bold;
    font-size    : 14px;
    line-height  : 18px;
    color        : #074D63;
    
  }
  
  .upload-btn-wrapper-text input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }