<div class="modal-body">
    <div>
        <button type="button" class="btn-close close pull-right">
            <span aria-hidden="true" class="visually-hidden" (click)="modalService.dismissAll()">&times;</span>
        </button>
    </div>
   <form name="step1Form" #step1Form="ngForm" spellcheck="false" autocomplete="off"
        (ngSubmit)="submitStep1(step1Form.valid)">

        <div class="modal-padding" *ngIf="step==1">

            <p class="practitioner-modal__no">1/3</p>

            <p class="practitioner-modal__h1"> Practitioner’s info </p>

            <p class="practitioner-modal__des">Please provide us your personal information in order to<br> submit an new
                account request! </p>


            <div class="row">
                <div class="col-lg-6 class-group">
                    <input type="text" class="practitioner-modal__input" placeholder="First Name" #first_name="ngModel"
                        name="first_name" [(ngModel)]="prac.first_name"
                        [ngClass]="{' show-error ' :step1Form.submitted && first_name.invalid}" required>
                </div>

                <div class="col-lg-6 class-group">
                    <input type="text" class="practitioner-modal__input" placeholder="Last Name" #last_name="ngModel"
                        name="last_name" [(ngModel)]="prac.last_name"
                        [ngClass]="{' show-error ' :step1Form.submitted && last_name.invalid}" required>
                </div>

                <div class="col-lg-6 class-group">
                    <input type="text" class="practitioner-modal__input" placeholder="Business Name"
                        #business_name="ngModel" name="business_name" [(ngModel)]="prac.business_name"
                        [ngClass]="{' show-error ' :step1Form.submitted && business_name.invalid}" required>
                </div>
                <div class="col-lg-6 class-group signup">
                    <input [(ngModel)]="selectedCountry.name" name="country" #country="ngModel" required
                        [typeahead]="countries" typeaheadOptionField="name"
                        (typeaheadOnSelect)="onSelectCountry($event)" autocomplete="off"
                        (typeaheadOnBlur)="typeaheadOnBlurCountry($event)" placeholder="Country"
                        [ngClass]="{' show-error ' :step1Form.submitted && country.invalid}"
                        class="practitioner-modal__input">
                </div>

                <div class="col-lg-6 class-group signup">
                    <input [(ngModel)]="selectedState.name" name="State" #State="ngModel" required [typeahead]="states"
                        typeaheadOptionField="name" (typeaheadOnSelect)="onSelectState($event)" autocomplete="off"
                        (typeaheadOnBlur)="typeaheadOnBlurState($event)" placeholder="State"
                        [ngClass]="{' show-error ' :step1Form.submitted && State.invalid}"
                        class="practitioner-modal__input">
                </div>

                <div class="col-lg-6 class-group signup">
                    <input [(ngModel)]="selectedCity.name" name="City" #City="ngModel" required [typeahead]="cities"
                        typeaheadOptionField="name" (typeaheadOnSelect)="onSelectCity($event)" autocomplete="off"
                        (typeaheadOnBlur)="typeaheadOnBlurCity($event)" placeholder="City"
                        [ngClass]="{' show-error ' :step1Form.submitted && City.invalid}"
                        class="practitioner-modal__input">
                </div>

                <div class="col-lg-6 class-group">
                    <div class="d-flex">
                    <label class="practitioner-modal__input phone-code" for='phonenumber'>{{phoneCode}}</label>
                    <input type="text" class="practitioner-modal__input" placeholder="Phone" #phonenumber="ngModel"
                        name="phonenumber" [(ngModel)]="prac.phonenumber" (keypress)="generalService.numberOnly($event)"
                        autocomplete="off" max="13" maxlength="13"
                        [ngClass]="{' show-error ' :step1Form.submitted && business_name.invalid}" required>
                        </div>
                </div>

                <div class="col-lg-6 class-group">
                    <input type="text" class="practitioner-modal__input" placeholder="Postal Code" #zipcode="ngModel"
                        name="zipcode" [(ngModel)]="prac.zipcode" autocomplete="off" max="6" maxlength="6" min="4"
                        minlength="4" [ngClass]="{' show-error ' :step1Form.submitted && zipcode.invalid}" required>
                </div>



                <div class="col-lg-12 class-group text-center">
                    <button type="submit" class="practitioner-modal__login  "
                        [ngClass]="{' valid-btn ' :step1Form.valid }">Next Step →</button>
                </div>


                <div class="col-lg-12 form-group">
                    <p class="practitioner-modal__privacy">
                        By creating your account you agree <br> to healspace’s <span> Privacy Policy.</span>
                    </p>
                </div>
            </div>

        </div>
    </form>  
    <!-- *ngIf="step==2" -->
    <form name="step2Form" #step2Form="ngForm" spellcheck="false" autocomplete="off"
        (ngSubmit)="submitStep2(step2Form.valid)">
        <div class="modal-padding" *ngIf="step==2">
            <p class="practitioner-modal__no">2/3</p>

            <p class="practitioner-modal__h1"> Upload ID and Certification</p>

            <div class="row">
                <div class="col-lg-6 col-12 class-group">

                    <div class="col-12 text-center" style="position: relative; top: 20px;">
                        <button class="practitioner-modal__id-btn">
                            <i class="far fa-address-card"></i> Identification Document
                        </button>
                    </div>

                    <div class="practitioner-modal__card">
                        <div *ngIf="documents.length==0">
                            <p class="practitioner-modal__card-des">
                                Please upload a copy of a valid <br> identification document in PNG, JPG or<br> PDF
                                format,
                                no larger
                                then 2mb in size
                            </p>

                            <div class="col-12 text-center">
                                <div class="upload-btn-wrapper">
                                    <button class="btn1">Upload ID</button>
                                    <input type="file" name="myfile" accept=".pdf,.jpg,.jpeg,.png" (change)="onDocFileSelected($event)" />
                                  </div>

                                <!-- <input type="file" class="practitioner-modal__card-btn" accept=".pdf,.jpg,.jpeg,.png" (change)="onDocFileSelected($event)">Upload ID -->
                            </div>
                        </div>

                        <div *ngIf="documents.length>0">
                            <p class="practitioner-modal__card-des m-auto" *ngIf="documents[0].type.indexOf('image')>-1">
                                <img class="practitioner-modal__user-id" 
                                    [src]="documentSrc">    
                            </p>

                            <div class="row" >
                                <div class="practitioner-modal__card-des m-auto" *ngIf="documents[0].type.indexOf('pdf')>-1">
                                    <div>
                                        <div class="practitioner-modal__file">
                                            <img class="img-fluid" src="../../../../../assets/images/download 2.png">
                                        </div>
                                        <p class="practitioner-modal__file--name">{{documents[0].name}}</p>
                                    </div> 
                                </div>
                            </div>

                            <div class="col-12 text-center">
                                <!-- <a class="practitioner-modal__upload-more">
                                    <input type="file" class="practitioner-modal__card-btn" accept=".pdf,.jpg,.jpeg,.png" (change)="onDocFileSelected($event)">Upload Another →
                                </a> -->

                                <div class="upload-btn-wrapper-text">
                                    <button class="btn1-text">Upload Another →</button>
                                    <input type="file" name="myfile" accept=".pdf,.jpg,.jpeg,.png" (change)="onDocFileSelected($event)" />
                                  </div>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-12 class-group">

                    <div class="col-12 text-center" style="position: relative; top: 20px;">
                        <button class="practitioner-modal__id-btn w-btn-153">
                            <i class="far fa-address-card"></i> Certifications
                        </button>
                    </div>

                    <div class="practitioner-modal__card">
                        <div *ngIf="certifications.length==0">
                            <p class="practitioner-modal__card-des">
                                You can upload multiple files in PNG, <br> JPG or PDF format, no larger then 2mb <br> in
                                size.
                            </p>

                            <div class="col-12 text-center">
                                <!-- <input type="file" class="practitioner-modal__card-btn w-btn-226" accept=".pdf,.jpg,.jpeg,.png" (change)="onCertFileSelected($event)">Upload Certifications -->

                                <div class="upload-btn-wrapper">
                                    <button class="btn1">Upload Certifications</button>
                                    <input type="file" name="myfile" accept=".pdf,.jpg,.jpeg,.png" (change)="onCertFileSelected($event)" />
                                  </div>

                                <!-- 
                                <button class="practitioner-modal__card-btn w-btn-226">
                                    Upload Certifications
                                </button> -->
                            </div>
                        </div>

                        
                        <div *ngIf="certifications.length>0">
                            <div class="row">
                                <div class="practitioner-modal__file-box"  style="flex-wrap: wrap;margin:  0 auto;width: 270px;    justify-content: center;">
                                    <div *ngFor="let certificate of certifications" style="margin-right: 5px;">
                                        <div class="practitioner-modal__file" >
                                            <img class="img-fluid" src="../../../../../assets/images/download 2.png">
                                        </div>
                                        <p class="practitioner-modal__file--name">{{certificate.name}}</p>
                                    </div> 
                                </div>
                            </div>
                            <div class="col-12 text-center">

                                <div class="upload-btn-wrapper-text">
                                    <button class="btn1-text" style="    width: 240px;">Upload More Certifications →</button>
                                    <input type="file" name="myfile" accept=".pdf,.jpg,.jpeg,.png" (change)="onCertFileSelected($event)" />
                                  </div>

                                <!-- <a class="practitioner-modal__upload-more">
                                    <input type="file" class="practitioner-modal__card-btn w-btn-226" accept=".pdf,.jpg,.jpeg,.png" (change)="onCertFileSelected($event)">Upload More Certifications →
                                </a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 d-flex-center flex-column text-center">
                    <button type="submit" class="practitioner-modal__login  ">Next Step →</button>
                    <p class="mt-3" (click)="step=1">back</p>
                </div>


                <div class="col-lg-12 form-group">
                    <p class="practitioner-modal__privacy">
                        By creating your account you agree <br> to healspace’s <span> Privacy Policy.</span>
                    </p>
                </div>

            </div>
        </div>

        <!-- <div class="modal-padding" *ngIf="step==2">
            <p class="practitioner-modal__no">2/3</p>

            <p class="practitioner-modal__h1"> Upload ID and Certification</p>

            <div class="row">
                <div class="col-lg-6 col-12 class-group">

                    <div class="col-12 text-center" style="position: relative; top: 20px;">
                        <button class="practitioner-modal__id-btn">
                            <i class="far fa-address-card"></i> Identification Document
                        </button>
                    </div>

                    <div class="practitioner-modal__card">
                        <div>
                            <p class="practitioner-modal__card-des">
                                <img class="practitioner-modal__user-id"
                                    src="../../../../../assets/images/ohio-drivers-license 1.png">
                            </p>

                            <div class="col-12 text-center">
                                <a class="practitioner-modal__upload-more">
                                    Upload Another →
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6 col-12 class-group">

                    <div class="col-12 text-center" style="position: relative; top: 20px;">
                        <button class="practitioner-modal__id-btn w-btn-153">
                            <i class="far fa-address-card"></i> Certifications
                        </button>
                    </div>

                    <div class="practitioner-modal__card">
                        <div>
                            <div class="row">
                                <div class="practitioner-modal__file-box">
                                    <div>
                                        <div class="practitioner-modal__file">
                                            <img class="img-fluid" src="../../../../../assets/images/download 2.png">
                                        </div>
                                        <p class="practitioner-modal__file--name">file name</p>
                                    </div>

                                    <div>
                                        <div class="practitioner-modal__file">
                                            <img class="img-fluid" src="../../../../../assets/images/download 2.png">
                                        </div>
                                        <p class="practitioner-modal__file--name">file name</p>
                                    </div>

                                    <div>
                                        <div class="practitioner-modal__file">
                                            <img class="img-fluid" src="../../../../../assets/images/download 2.png">
                                        </div>
                                        <p class="practitioner-modal__file--name">file name</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <a class="practitioner-modal__upload-more">
                                    Upload More Certifications →
                                </a>>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 class-group text-center">
                    <button type="submit" class="practitioner-modal__login  ">Next Step →</button>
                </div>


                <div class="col-lg-12 form-group">
                    <p class="practitioner-modal__privacy">
                        By creating your account you agree <br> to healspace’s <span> Privacy Policy.</span>
                    </p>
                </div>


            </div>
        </div> -->
    </form>

    <form name="step3Form" #step3Form="ngForm" spellcheck="false" autocomplete="off"
        (ngSubmit)="addPractioner(step3Form.valid)">
        <div class="modal-padding" *ngIf="step==3">
            <p class="practitioner-modal__no">3/3</p>

            <p class="practitioner-modal__h1"> Email and Password </p>

            <p class="practitioner-modal__des">
                We are almost done. Please add your email and<br> password for creating your account!
            </p>

            <div class="col-lg-12 m-auto text-center">
                <div class="col-lg-9 class-group ml-auto mr-auto">
                    <input type="email" class="practitioner-modal__input"
                        pattern="^[a-zA-Z]+[a-zA-Z0-9._-]+@[a-zA-Z]+\.[a-zA-Z.]{2,5}$" placeholder="Email"
                        id="useremail" #useremail="ngModel" name="useremail"
                        [ngClass]="{' show-error ' :step3Form.submitted && useremail.invalid}" [(ngModel)]="prac.email"
                        required>
                </div>

                <div class="col-lg-9 class-group ml-auto mr-auto">
                    <input class="practitioner-modal__input" type="password" name="password1" #password1="ngModel"
                        [(ngModel)]="prac.password1" placeholder="Password" min="8" minlength="8"
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                        [ngClass]="{' show-error ' :step3Form.submitted && password1.invalid}" required>
                    <span class="ng-error p-0" *ngIf="step3Form.submitted && password1.invalid">
                        Minimum 8 characters at least 1 uppercase 1 lowercase 1 number and 1 special character
                    </span>
                </div>

                <div class="col-lg-9 class-group ml-auto mr-auto">
                    <ngx-select-dropdown class="form-control practitioner-modal__input" tabindex="0"
                        [config]="expertiseConfig" [options]="expertiseData" 
                        name="expertise" required [multiple]="true" (change)="expertiseChanged($event.value)"
                        style="width:100%;" [ngClass]="{' show-error ' :step3Form.submitted && selectedExpertise.length==0}" required>
                    </ngx-select-dropdown>
                </div>

                <div class="col-lg-9 class-group ml-auto mr-auto">
                    <textarea placeholder="Description" name="description" class="practitioner-modal__input"
                            #description="ngModel" [ngClass]="{' show-error ': step3Form.submitted && description.invalid}"   [(ngModel)]="prac.description" required ></textarea>
                </div>

                <div class="form-group  col-lg-12 ml-auto mr-auto">
                    <div class="form-check">
                        <label>
                            <input type="radio" name="newsletter">
                            <span class="label-text">I want to recieve health related emails from <br> healpalce</span>
                        </label>
                    </div>
                </div>
            </div>
 
            <div class="col-lg-12 d-flex-center flex-column text-center">
                <button type="submit" class="practitioner-modal__next ">Register →</button>
                <p class="mt-3" (click)="step=2">back</p>
            </div>

            <div class="col-lg-12 form-group">
                <p class="practitioner-modal__privacy">
                    By creating your account you agree <br> to healspace’s <span> Privacy Policy.</span>
                </p>
            </div>

        </div>
    </form>
</div>