<app-public-navbar></app-public-navbar>
<div class="" style="position:relative;">
  <div class="dv-about">

    <section class="landing-footer">
      <div class="col-12 ">
        <div class="text-center">
          <!-- <p class="aboutus">About Us</p> -->
          <h1 class="mission-p"> Our marketplace connects users with an on-demand library of <br>wellness content, as well as live-streaming classes and<br>1:1 
            sessions from a carefully-curated network of practitioners and <br>alternative therapist.</h1>
          <h1 class="mission-x">Choose your journey</h1>
        </div>
      </div>
    </section>

    <section class="section p-0" style="position:relative;">
      <div class="container">
        <div class="currency-price">
          <div class="row">
            <div class="col-md-4 ">
              <div class="card " style="box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.12);width: 280px;">
                <div class="card-body text-center">
                  <div class="round-circle">
                    <span class="number">1</span>
                  </div>
                  <label class="lbl-card">Get Started.</label>
                  <p class="mt-3 p-font-align">
                    Get started today. It takes minutes to sign-up, and you can start booking with a practitioner today. No waiting period, network restrictions or deductibles. Just care, on demand.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 ">
              <div class="card " style="box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.12);width: 280px; height: 308px;">
                <div class="card-body text-center">
                  <div class="round-circle">
                    <span class="number">2</span>
                  </div>
                  <label class="lbl-card">Be Seen.</label>
                  <p class="mt-3 p-font-align">
                    Our network of vetted providers are experts in their fileds with experience you can trust.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 ">
              <div class="card " style="box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.12);width: 280px; height: 308px;">
                <div class="card-body text-center">
                  <div class="round-circle">
                    <span class="number">3</span>
                  </div>
                  <label class="lbl-card">Anytime, Anywhere.</label>
                  <p class="mt-3 p-font-align">
                    Healplace's innovative platform lets you get the care you need, directly and securely from your device.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      


    </section>

    <section>
      <div class="container-fluid">
        <div>
          <h1 class="text-center">Meet Some<br> of our Practitioners</h1>
        </div>
        <div>
          <h3 class="innercontent">
            Outline the exact sign-up process. We need to choose if we want to describe it in this box, or use the format to the right.          </h3>
        </div>
      </div>

      <div class="row justify-content-center" style="margin-left: 0px !important;">
        <img class="img-fluid" src="assets/images/homepage/video.png" class="rounded text-center img-whp">
      </div>
      <!-- <div class="container dvgrey">
			</div> -->
      <!-- style="
      height: 300px;
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      /* background: lightcoral; */
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #000000;" -->
      <!-- <div class="row justify-content-center mb-4">
        <div class="col-md-2">
          <img style="float: right;" src="assets/images/homepage/left.png">
        </div>
        <div class="col-md-6">
          <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam provident accusamus perferendis eius ad? Hic ex necessitatibus, laboriosam quam ab fugit molestias delectus, doloribus nihil earum, accusamus non consequatur natus?</p>
        </div>
        <div class="col-md-2">
          <img class="" src="assets/images/homepage/right.png" >
        </div>
      </div> -->
    </section>

    <section class="section bg-white p-3">
      <div class="container mb-4">
        <div class="col-xl-10 mx-auto justify-content-center align-items-center mt-4">
          <div class="row justify-content-center mt-5">
            <div class="col-lg-6">
              <strong [innerHtml]="aboutUsDynamicObj?.section4Heading"></strong>
              <h4 style="font-style: Bold;font-size: 16px;font-family: FFMarkWebProBook;font-style: normal;font-weight: bold;font-size: 16px;line-height: 20px;color: #000000;flex: none;">HOW IT WORKS</h4>
              <h2 style="color: #00BAD5;font-family: healspace font !important;font-style: normal;font-weight: normal;font-size: 40px;line-height: 45px;color: #00BAD5;">Healplace is a healing platform.</h2>
              <h2 class="headings text-left" style="color:#00B2D3" [innerHtml]="aboutUsDynamicObj?.section4Subheading">
              </h2> <br>
              <!-- <h4 style="font-style: Bold;
                font-size: 16px;
                font-family: 'FFMarkWebProBook';
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                color: #000000;
                ">
                Short title description
              </h4> -->
              <p style="
                font-family: 'FFMarkWebProBook';
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 18px;text-align: justify;"> 
                Outline the exact sign-up
                process. We need to choose if we want to describe it in this box, or use the format to the right.
              </p>
              <div class="row justify-content">
                <button type="button" class="btn-block btn btn-warning btn-rounded" 
                  style="display: flex;justify-content: center;align-items: center;color: #074D63;font-size: 16px;width: 240px;height: 60px;background: #FBD036;box-shadow: 0px 10px 20px rgb(0 0 0 / 8%);border-radius: 20px;border: 0;margin: 20px 90px;"
                  (click)="openSignupModal(signUpModalOpen, 'signup')">
                  &nbsp; Join Now <span class="pl-2 pr-2">  <i class=" fa fa-arrow-right"></i></span>
                </button>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="row">
                <div class="col-md-3 text-center">
                  <img class="" src="assets/images/yogpurush.png" style="    
              background: #FFFFFF;
              box-shadow: 0px 10px 20px rgb(0 0 0 / 8%);
              width: 80px;
              border-radius: 50%;">
                </div>
                <div class="col-md-9">
                  <h4 style="
              font-family: 'FFMarkWebProBook';
              font-style: normal;
              font-weight: bold;
              font-size: 16px;
              line-height: 20px;
              color: #000000;">1. First step</h4>
                  <p style="
              font-family: 'FFMarkWebProBook';
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 18px;
              color: #000000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3 text-center">
                  <img class="" src="assets/images/yogpurush.png" style="    
              background: #FFFFFF;
              box-shadow: 0px 10px 20px rgb(0 0 0 / 8%);
              width: 80px;
              border-radius: 50%;">
                </div>
                <div class="col-md-9">
                  <h4 style="
              font-family: 'FFMarkWebProBook';
              font-style: normal;
              font-weight: bold;
              font-size: 16px;
              line-height: 20px;
              color: #000000;">2. Second step</h4>
                  <p style="
              font-family: 'FFMarkWebProBook';
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 18px;
              color: #000000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3 text-center">
                  <img class="" src="assets/images/yogpurush.png" style="    
              background: #FFFFFF;
              box-shadow: 0px 10px 20px rgb(0 0 0 / 8%);
              width: 80px;
              border-radius: 50%;">
                </div>
                <div class="col-md-9">
                  <h4 style="
              font-family: 'FFMarkWebProBook';
              font-style: normal;
              font-weight: bold;
              font-size: 16px;
              line-height: 20px;
              color: #000000;">3. Third step</h4>
                  <p style="
              font-family: 'FFMarkWebProBook';
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 18px;
              color: #000000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3 text-center">
                  <img class="" src="assets/images/yogpurush.png" style="    
              background: #FFFFFF;
              box-shadow: 0px 10px 20px rgb(0 0 0 / 8%);
              width: 80px;
              border-radius: 50%;">
                </div>
                <div class="col-md-9">
                  <h4 style="
              font-family: 'FFMarkWebProBook';
              font-style: normal;
              font-weight: bold;
              font-size: 16px;
              line-height: 20px;
              color: #000000;">4. Fourth step</h4>
                  <p class="mb-4" style="
              font-family: 'FFMarkWebProBook';
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 18px;
              color: #000000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </section>

    

    <div class="row mt-4">
      <div class="col-md-12 p-3">
        <h2 class="text-center mt-4" style="
font-family: healspace font !important;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 45px;
text-align: center;
color: #00BAD5;
margin: 20px 0px;"> At Healplace, there's a place for everyone.</h2>
      </div>

      <div class="col-md-1"></div>
      <div class="col-md-2 text-center  mt-4">
        <img class="" src="assets/images/slogan.png" style="height: 61px;
 width: 61px;
 left: 647px;
 top: 290px;
 border-radius: 0px;
">
      </div>
      <div class="col-md-2 text-center  mt-4">
        <img class="" src="assets/images/glass.png" style="height: 77px;
 width: 77px;
 left: 647px;
 top: 290px;
 border-radius: 0px;
 ">
      </div>

      <div class="col-md-2 text-center mt-4">

        <img class="" src="assets/images/jhondoe.png" style="height: 143px;
width: 142px;
left: 647px;
top: 290px;
border-radius: 0px;
">

      </div>

      <div class="col-md-2 text-center mt-4">

        <img class="" src="assets/images/slogan1.png" style="height: 77px;
width: 77px;
left: 647px;
top: 290px;
border-radius: 0px;
">

      </div>

      <div class="col-md-2 text-center mt-4">

        <img class="" src="assets/images/slogan2.png" style="height: 60px;
                  width: 61px;left: 647px;top: 290px;border-radius: 0px;">

      </div>
      <div class="col-md-1"></div>

    </div>

    <div class="text-center">
      <h2 style="margin-top: 40px;
      font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #000000;">We should feature testimonials here<br> in a carsousal post as shown.</h2>
      <!-- 
      <p style="    font-family: 'FFMarkWebProBook';
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: #000000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <br>
        eiusmod tempor incididunt ut labore et dolore magna.</p> -->

    </div>

    <!-- <section style="padding-top:60px;">
      <div class="row">
        <div class="col-12">
          <div class="about-bg-second">
            <p class="pcontent-about">
              Lorem ipsum dolor sit amet eam quas malorum <br>accusam
            </p>
            <p class="pcontent-about-child">
              Et has minim elitr intellegat. Mea aeterno eleifend antiopam ad,
              nam no suscipit<br> quaerendum. At nam minimum ponderum. Est audiam animal molestiae te.
            </p>
            <div class="row">

            
            <div class="col-md-8">
              <input type="email" placeholder="Email address" class="email-custom form-control">
              </div>
              <div class="col-md-4 text-center">
              <button class="button button4">Submit</button>
            </div>
          </div>
           
            <div class="mt-4 text-center">
              <h4 style="color:#303030; font-size: 12px;">By
                clicking “Primary
                action” you accepting ipsum dolor sit amet, sit ea brute <br>mediocritatem, eu sed
                aliquam scripserit
                dissentiunt.</h4>
            </div>
          </div>
        </div>
      </div>
    </section> -->

  </div>
</div>

<ng-template #signUpModalOpen role="document" let-modal>
  <public-sign-up-modal [resource]="isContent" (changeBack)="closeSignupModal($event)" *ngIf="isContent == 'signup'">
  </public-sign-up-modal>
</ng-template>

<app-public-footer></app-public-footer>